<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Adquisiciones</h1>

<h2>¿Qué es Adquisiciones?</h2>
<p>El módulo de adquisisiones de Koha provee una manera en que la biblioteca registre pedidos realizados a vendedores y administre la ejecusión de presupuestos.</p>
<p>You do not need to use Acquisitions to add items to your catalog. If you do not want to track orders and budget expenditure, then use the <strong>&quot;Añadir MARC&quot; </strong>carcaterística en <strong>Catalogaci&oacute;n </strong>para añadir nuevos registros bibliográficos e items.</p>

<h2>¿Cómo presento un nuevo pedido?</h2>

<p>Para hacer un pedido, el primer paso es localizar a su proveedor. Si no existe el proveedor deberá crear uno. Una vez que esté creado puede comenzar a hacer pedidos a este proveedor.</p><h2>¿Qué hay que configurar para utilizar 'Adquisiciones'?</h2>
<p>Para sacar el máximo provecho de las adquisiciones lo siguiente debe ser configurado bajo el epígrafe <strong>Administraci&oacute;n del sistema</strong></p>
	<ul>
		<li><strong>Presupuestos y fondos</strong>  - &quot;Fondo&quot; es usado para el grupo &quot;Presupuesto&quot;. Por ejemplo, un Fondo puede ser llamado &quot;General&quot;, y contar&aacute; con un &quot;Presupuesto&quot; que registra la cantidad disponible para invertir durante el per&iacute;odo de presupuesto. Un presupuesto debe tener fecha de inicio y finalizaci&oacute;n.</li>
		<li><strong>Tasas de cambio (opcional)- </strong>Si realiza compras en moneda extranjera, deberá establecer el tipo de cambio relativo a su moneda local. Recuerde que su moneda local debe ser fijada a 1,00<br/><strong>NOTA: es necesario actualizar manualmente la tasa de cambio.</strong></li>
		<li><strong>Proveedor(es) - </strong>Estas son las entidades donde se compran artículos, o de donde son donados. Los pedidos se hacen a los proveedores.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->