<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Realizar un pedido de ayuda</h1>

<h2>¿Qué es una Canasta y un Pedido?</h2>
<p>Una canasta es usada para agrupar un conjunto de pedidos. Un pedido se hace para un  art&iacute;culo individual.</p>
<p>Una órden puede incluir varias copias/unidades. Una bandeja puede incluir varias órdenes.</p>

<h2>¿Cómo añado items a un pedido?</h2>
	<ol>
		<li><strong>De un art&iacute;culo existente -</strong> Use la  búsqueda para localizar el registro bibliográfico del ítem del cual usted quiere pedir más ejemplares.</li>
		<li><strong>Desde una sugerencia: </strong>vea las sugerencias de los usuarios y agregue el ítem a la bolsa.</li>
		<li><strong>Desde un nuevo registro (vacío)  - </strong>Si sabe que el ítem no está en la biblioteca, entonces cree un nuevo registro desde cero.</li>
	</ol>
	
	<h3>CONSEJO: siempre se debe comprobar su catálogo en primer lugar </h3>
<p>Es muy aconsejable que revise el catálogo  antes de hacer un pedido de un nuevo ejemplar. Esto ahorra la repetición innecesaria de registros bibliográficos en su base de datos y cualquier la necesidad de fusionar registros.</p>

<h2>¿Debo &quot;Cerrar&quot; la canasta?</h2>
<p>No, esto no es necesario, tendrá la opción de marcar los items recibidos sin cerrar una cesta. Cerrar una cesta es una buena práctica para hacer el seguimiento de los pedidos.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->