<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Pedido </h1>
	<ul>
		<li>Haga clic en 'Nuevo pedido'</li>
		<li>Puede añadir una nueva orden para un libro que ya tiene en su catálogo, una sugerencia de un usuario o un formulario vacío.
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: para obtener instrucciones sobre hacer pedidos en base a una sugerencia, ver 'Gestión de sugerencias'  en este manual </span></li>
		</ul></li>
		<li>Para hacer un pedido de un registro existente, busque el registro en su sistema</li>
		<li>Para pedir un nuevo libro, haga clic en 'Desde un registro nuevo (vacío) ' </li>
		<li>Complete los campos para su pedido.
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: Después de ingresar una cantidad de proveedores y de precios, los otros campos se calculará automáticamente.</span></li>
			<li>
El costo efectivo será utilizado para restar de sus presupuestos (mientras que las otras tasas se utilizarán en el cálculo de los costos de reemplazo)</li>
		</ul></li>
		<li>Después de hacer clic en&quot; Guardar &quot; se le mostrará un resumen de la orden</li>
		<li>Si ha terminado de agregar a este pedido, cliquee en 'Cerrar canasta'
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: esto no es necesario, tendrás la opción para marcar los items recibidos sin cerrar una cesta. Cerrar una cesta es una buena práctica para hacer el seguimiento de los pedidos atrasados.</span></li>
		</ul></li>
	</ul>
<p>   
   <font size="4" id="bfed"><strong>Recepción de Pedidos</strong></font>Después de sus órdenes hayan sido introducidos en el sistema y enviados a los proveedores, deberá marcar las recepciones.
    <span style="background-color: #ffe599">
CONSEJO: Para recibir publicaciones periódicas vea la parte 'Recibir Periódicas' de este manual.</span></p>
	<ul>
		<li>Para recibir una orden, haga clic en 'Recibir el envío' </li>
		<li>Introduzca el número de factura en 'Factura del proveedor' y la fecha de envío en 'Fecha del envío' </li>
		<li>Haga clic en 'Guardar' </li>
		<li>Ud. tendrá que elegir cuáles items llegaron en este envío</li>
		<li>Buscar por título o ISBN o haga clic en&quot;Recibir orden&quot; junto al ítem que desea marcar como recibido</li>
		<li>Asegúrese de actualizar la 'Cantidad recibida', así como cualquier otra información necesaria para sus registros 
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: Para agregar otro ítem recibido, cliquee el signo '+' (mas) abajo a la izquierda. Si agregó demasiados cliquee el '-' (menos) a la derecha del '+' (mas)</span></li>
		</ul></li>
		<li>Haga clic en 'Guardar' </li>
		<li>Usted verá ahora los items recibidos en el resumen de 'Artículos en esta entrega'</li>
		<li>Cuando haya añadido todos los items para su envío, puede navegar fuera de la página.
		<ul>
			<li>Para hacer cambios a su envío en Adquisiciones y buscar a los proveedores en cuestión.
			<ul>
				<li>Haga clic en el botón  'Recibir paquete'</li>
				<li>Sus ordenes previas podrán ser buscadas y editadas desde aquí</li>
			</ul></li>
		</ul></li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->