<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de detalles del pedido</h1>

<h2>¿Qué es el &quot;Precio de proveedorr&quot;?</h2>
<p>El precio del vendedor es el precio dado a Ud. por el vendedor, llamado 'Precio de Lista'. Dependiendo en como se configura el vendedor este puede o no incluir algún descuento otorgado por el vendedor y/o algún impuesto. Vea vendedores para más información.</p>

<h2>¿Qué es el &quot;Precio de sustitución&quot;?</h2>
<p>el precio de reemplazo es el costo total de lo que costaría reemplazar el ítem si hubiera que comprarlo a precio de mercado. Esta es la cantidad que puede ser cobrada al socio si el ítem se perdío o es imposible de reparar.</p>

<h2>¿Qué es el &quot;Precio presupuestado&quot;?</h2>
<p>Este es el precio que usted espera pagar por el item, incluyendo descuentos e impuestos sobre las ventas. Es la cantidad que se cargará a su <strong>Presupuesto aprovado</strong>.</p>

<h2>¿Qué es el &quot;Precio real&quot;?</h2>
<p>Este es el precio que aparece en la factura o en el paquete de envío. Al hacer un pedido, Koha calculará automáticamente esto por usted. Cuando un ítem es recibido, esto puede ser sobreescrito con el valor real.  Este es para tener en cuenta las ligeras diferencias en el redondeo o fluctuaciones del precio que se producen entre el pedido y su recepción. </p>
<p>El precio real es a lo que se ha comprometido su <strong>Presupuesto gastado</strong>.</p>    

<!-- TMPL_INCLUDE name="help-bottom.inc" -->