<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de recepción de pedidos</h1>

<h2>¿Cómo recibo ejemplares que han llegado?</h2>
<p>Firstly, check the catalog details that you are recieiving the right item. If these are correct, you can add the  item details.</p>
<p>Para cada ítem tendrá que comprobar lo siguiente:</p>
	<ul>
		<li><strong>Volumen/Copia </strong>para publicaciones periódicas</li>
		<li><strong>C&oacute;digo de barras del ítem</strong> escanee o introduzca el código de barras que ha sido asignado al ítem</li>
		<li><strong>Biblioteca de origen </strong>choose the home library for the item from the drop down list</li>
		<li><strong>Tipo de ítem </strong>eleja el tipo de ítem en el menú desplegable.</li>
	</ul>
	
	<h2>¿Cómo recibo multiples items idénticos?</h2>
<p>Si usted ha ordenado varias copias del mismo ítem, utilice el '+' para que aparezca otro <strong>Detalles del ítem</strong> campos del art&iacute;culo</p>
<p>Para cada copia tendrá que establecer que el códigos de barras del ítem, la biblioteca de origen y el tipo de ítem.</p>
<p>Cada vez que agrega un nuevo &iacute;tem, el <strong>Cantidad Recibida </strong> bajo <strong>Detalles contables</strong> debe ser actualizado. </p>
<p>Si pulsa '+'  por error, utilice el botón '-' para eliminar el detalle de ítem no deseado <strong>campos del art&iacute;culo </strong></p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->