<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Recepción de Pedidos</h1>

<p>Después de sus órdenes hayan sido introducidos en el sistema y enviados a los proveedores, deberá marcar las recepciones.</p>

		<ul>
			<li>Primero debe elegir un vendedor</li>
			<li>Después de buscar un proveedor, se le mostrará un resumen con todas las órdenes pendientes</li>
			<li>Para recibir un pedido, haga clic en 'Recibir pedido' (enlace) o  'Recibir paquete' (botón) </li>
			<li>Introduzca el número de factura en 'Factura del proveedor' y la fecha de envío en 'Fecha del envío' </li>
			<li>Haga clic en 'Guardar' </li>
			<li>Ud. tendrá que elegir cuáles items llegaron en este envío</li>
			<li>Buscar por título o ISBN o haga clic en&quot;Recibir orden&quot; junto al ítem que desea marcar como recibido</li>
			<li>Asegúrese de actualizar la 'Cantidad recibida', así como cualquier otra información necesaria para sus registros 
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: para añadir otro ítem recibido, haga clic en el signo '+' (plus) en la parte inferior izquierda. Si agrega demasiados haga clic en el '-' (menos) a la derecha del '+'(más)</span></li>
			</ul></li>
			<li>Haga clic en 'Guardar' </li>
			<li>Usted verá ahora los items recibidos en el resumen de 'Artículos en esta entrega'</li>
			<li>Cuando haya añadido todos los items para su envío, puede navegar fuera de la página.
			<ul>
				<li>Para hacer cambios a su envío en Adquisiciones y buscar a los proveedores en cuestión.</li>
				<li>Haga clic en el botón  'Recibir paquete'</li>
				<li>Sus ordenes previas podrán ser buscadas y editadas desde aquí</li>
			</ul></li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->