<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Crear un proveedor</h1>

	<ul>
		<li>Busque proveedores utilizando 'Búsqueda de proveedores' en la parte superior.</li>
		<li>Si obtiene 'No se encontraron resultados', cliquee en 'Nuevo proveedor'.</li>
		<li>Introduzca la información de contacto de su proveedor 
		<ul>
			<li>
		    <span style="background-color: #ffff99">
CONSEJO: Sólo se requiere el 'Nombre de la empresa', pero cuanta más  información del contacto se proporcione, más fácil será ponerse en contacto con los proveedores cuando sea necesario</span></li>
		</ul></li>
		<li>Introduzca información adicional para su proovedor
		<ul>
			<li>Activo/Inactivo<br/>
			<ul>
				<li>Los pedido sólo se pueden hacer a proveedores activos.</li>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: Marque como inactivos los proveedores a los cuales ya no realiza pedidos o aquellos que fueron absorbidos por otros proveedores. De esta forma usted conservará los datos de los pedidos anteriores. </span></li>
			</ul></li>
			<li>Editores preferidos<br/>
			<ul>
				<li>Esto es a título meramente informativo y es un espacio donde se puede guardar lo que el proveedor vende</li>
			</ul></li>
			<li>Precios de lista/precios de la factura <br/>
			<ul>
				<li>Si utiliza múltiples monedas tendrá que elegir en cuál moneda están los totales que se listan por proveedor y en una órden.</li>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: Algunos proveedores listarán precios en sus propias monedas, pero harán factura en la moneda del país de la  biblioteca</span></li>
			</ul></li>
			<li>Descuento<br/>
			<ul>
				<li>Algunos vendedores podrán ofrecer descuentos en las órdenes de provisión, esto se puede calcular de su lista de precios.</li>
			</ul></li>
			<li>Notas
			<ul>
				<li>Incluya cualquier nota que desee registrar internamente.</li>
			</ul></li>
		</ul></li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->