<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Error 402</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo;Error 402</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
    <h1>Ha ocurrido un error!</h1>
    <h2>Error 402</h2>
    <ul style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #CCC;">
        <li>Este error significa que el enlace estaba roto y que no existe la página</li>	
        <li>Para infomar de este error, puede enviar un e-mail al <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">Administrador de Koha</a>.</li>
        <li>Use la barra de men&uacute; superior para navegar en el Koha</li>
    </ul>
</div>

<div class="yui-g">
<div class="yui-u first">
	<!-- TMPL_IF NAME="CAN_user_circulate" -->
	<h3><a href="/cgi-bin/koha/circ/circulation.pl">Circulaci&oacute;n</a></h3>
	<ul style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #CCC;"><li>
       <form method="post" action="/cgi-bin/koha/circ/circulation.pl">
        <label for="navfindborrower">Prestar a:</label>
            <input id="navfindborrower" name="findborrower" type="text" size="10" />
            <input type="hidden" name="branch" value="<!-- TMPL_VAR name="branch" -->" />
            <input type="hidden" name="printer" value="<!-- TMPL_VAR name="printer" -->" />
            <input type="submit" class="submit" value="OK" />
       </form>
       </li>
       <li><a accesskey="r" href="/cgi-bin/koha/circ/returns.pl">Devolución</a></li>
        <li><a href="/cgi-bin/koha/circ/branchtransfers.pl">Transferencias</a></li></ul>
		<!-- /TMPL_IF -->
		  <!-- TMPL_IF NAME="CAN_user_borrowers" -->
		<h3><a href="/cgi-bin/koha/members/members-home.pl">Socios</a></h3>
		<ul style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #CCC;">
        <li><form action="/cgi-bin/koha/members/member.pl" method="post">
           <label for="navmember">Buscar:&nbsp;</label>
           <input id="navmember" type="text" size="10" name="member" />
           <input type="submit" value="OK" class="submit" />
            </form>
        </li>
    </ul>
	<!-- /TMPL_IF -->
		  <!-- TMPL_IF NAME="CAN_user_catalogue" -->
                <h3><a href="/cgi-bin/koha/catalogue/search.pl">Cat&aacute;logo</a></h3>
				<ul style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #CCC;">
                    <li>
                        <form name="searchform" method="get" action="/cgi-bin/koha/catalogue/search.pl" id="searchform">
                        <input type="hidden" name="idx" value="" />
                        <label for="navkeyword">
                            Buscar:&nbsp;
                        </label><input type="text" id="navkeyword" name="q" size="10" accesskey="s" />
                        <input type="submit" value=" OK " class="submit" />
                        </form>
                     </li>
                    <li><a href="/cgi-bin/koha/virtualshelves/shelves.pl">Listas</a></li>
                </ul>
   <!-- /TMPL_IF -->
	</div>


<div class="yui-u">

    <!-- TMPL_IF NAME="CAN_user_editcatalogue" -->
    <h3><a href="/cgi-bin/koha/cataloguing/addbooks.pl">Catalogaci&oacute;n</a></h3>
	<ul style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #CCC;">
        <li><a href="/cgi-bin/koha/cataloguing/addbiblio.pl">Agregar registro MARC</a></li>
        <li><a href="/cgi-bin/koha/authorities/authorities-home.pl">Autoridades</a></li>
        <li><a href="/cgi-bin/koha/serials/serials-home.pl">Publicaciones periódicas</a></li>
    </ul>
    <h3><a href="/cgi-bin/koha/acqui/acqui-home.pl">Adquisiciones</a></h3>
    <!-- /TMPL_IF --><!-- TMPL_IF NAME="CAN_user_reports" -->
          <h3><a href="/cgi-bin/koha/reports/reports-home.pl">Informes</a></h3>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_parameters" -->
   <h3> <a href="/cgi-bin/koha/admin/admin-home.pl">Administración de Koha</a></h3>
   			<ul style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #CCC;">
            <li><a href="/cgi-bin/koha/admin/systempreferences.pl">Preferencias del sistema</a></li>
        </ul>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_tools" -->
    <h3><a href="/cgi-bin/koha/tools/tools-home.pl">Herramientas</a></h3>
    <!-- /TMPL_IF -->
    <h3><a href="/cgi-bin/koha/about.pl">Acerca de Koha</a></h3>
	</div>
	
	
	</div>

</div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

