<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Reservas</h1>
	<ul>
		<li>Introduzca el código de barras o parte del apellido del socio que le está reservando el libro</li>
		<li>Usted será llevado a una página donde podrá modificar (si es necesario) y/o confirmar la reserva
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: tenga en cuenta que en este caso aparece un mensaje de error notificando a los bibliotecarios de circulación que el socio podría querer recoger el libro en su sede de origen.</span></li>
			<li>Desde aquí se puede elegir o reservar el próximo ítem disponible o un ítem en particular
			<ul>
				<li>Las reservas del ítem están disponibles marcando la casilla situada junto a un ítem en particular</li>
				<li>Un ítem está disponible para una reserva a nivel de unidad, si<br/>
				<ul>
					<li>no está perdido Y,</li>
					<li>no está marcado no para préstamo Y,</li>
					<li>no está retirado Y,</li>
					<li>no está dañado (a menos que la preferencia del sistema AllowHoldsOnDamagedItems esté ON), Y</li>
					<li>no está prestado (a menos que la preferencia del sistema AllowOnShelfHolds esté en ON)</li>
				</ul></li>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: Si están habilitadas sedes independientes y la preferencia del sistema 'canreservefromotherbranches' está en OFF, se impedirá a un operador administrativo de una sede hacer un pedido de reserva sobre un ítem de otra sede.</span></li>
			</ul></li>
			<li>Para confirmar la reserva, haga clic en 'Hacer reserva'' </li>
		</ul></li>
	</ul>


<h3>Ordenar reservas</h3>

	<ul>
		<li>La prioridad de reserva puede ser  alterada viendo las reservas por título</li>
		<li>Para ver las reservas sobre el título, cliquee la pestaña 'Reservas' a la izquierda</li>
		<li>Al cambiar el número de prioridad un socio se puede moverse arriba o abajo en la lista de reservas</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->