<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Reports &rsaquo; Cancelled Holds</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/reports/reports-home.pl">Reports</a> &rsaquo; Cancelled Holds</div>

<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="do_it" -->
    <h1>Cancelled Holds</h1>
    <table>
        <tr>
            <!-- TMPL_LOOP NAME="header_row" -->
                <th><!-- TMPL_VAR NAME="cell" --></th>
            <!-- /TMPL_LOOP -->
        </tr>
            <!-- TMPL_LOOP NAME="results" -->
                <tr>
                    <!-- TMPL_LOOP NAME="cells" -->
                        <td>
                            <!-- TMPL_IF NAME="cell" --><!-- TMPL_VAR NAME="cell" --><!-- /TMPL_IF -->
                        </td>
                    <!-- /TMPL_LOOP -->
                </tr>
            <!-- /TMPL_LOOP -->
    </table>
<!-- TMPL_ELSE -->
    <h1>Cancelled Holds</h1>
    <form method="post" action="/cgi-bin/koha/reports/cancelledholds.pl">
    <fieldset class="rows">
		<ol>
			<li><label for="patron">Patron Last Name (leave blank for all patrons): </label> <input type="text" size=30 name="patron" id="patron"></input> 
</li>
	<li><label for="from">Hold placed after: </label> <input size="10" id="from" name="from" value="" type="text" />
                        <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Show Calendar" id="openCalendarFrom" style="cursor: pointer;" border="0" />
                            <script type="text/javascript">
                                Calendar.setup(
                                    {
                                        inputField : "from",
                                        ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                                        button : "openCalendarFrom",
                                    }
                                );
                            </script></li>
	<li><label for="to">Hold placed before: </label> <input size="10" id="to" name="to" value="" type="text" />
                        <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Show Calendar" id="openCalendarTo" style="cursor: pointer;" border="0" />
                            <script type="text/javascript">
                                Calendar.setup(
                                    {
                                        inputField : "to",
                                        ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                                        button : "openCalendarTo",
                                    }
                                );
                            </script></li>
	<li><label for="holdcandate">Cancelled date: </label> <input size="10" id="holdcandate" name="holdcandate" value="" type="text" />
                        <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Show Calendar" id="openCalendarExp" style="cursor: pointer;" border="0" />
                            <script type="text/javascript">
                                Calendar.setup(
                                    {
                                        inputField : "holdcandate",
                                        ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                                        button : "openCalendarExp",
                                    }
                                );
                            </script></li>
        <li><label for="branch">Library: </label>
        <select name="branch" id="branch"><option value="" >Any Library</option>
          <!-- TMPL_LOOP NAME="branchloop" -->
            <!-- TMPL_IF NAME="selected" -->
              <option value="<!-- TMPL_VAR Name="value" -->" selected="selected">><!-- TMPL_VAR Name="branchname" --> </option>
            <!-- TMPL_ELSE -->
              <option value="<!-- TMPL_VAR Name="value" -->" ><!-- TMPL_VAR Name="branchname" --> </option>
            <!-- /TMPL_IF -->
          <!-- /TMPL_LOOP -->
        </select> </li>
		</ol>
	</fieldset>

<fieldset class="rows">
	<legend>Output</legend>
<ol><li><label for="outputscreen">To screen into the browser: </label><input type="radio" checked="checked" name="output" id="outputscreen" value="screen" /> </li>
<li><label for="outputfile">To a file:</label> 		<input type="radio" name="output" value="file" id="outputfile" /> <label class="inline" for="basename">Named: </label><input type="text" name="basename" id="basename" value="Export" /> <label class="inline" for="MIME">Into an application  
		</label><!-- TMPL_VAR NAME="CGIextChoice" -->
		<!-- TMPL_VAR NAME="CGIsepChoice" --></li></ol>
	</fieldset>

	<fieldset class="action">
	<input type="submit" value="Submit" />
	<input type="hidden" name="report_name" value="<!--TMPL_VAR NAME="report_name" -->" />
	<input type="hidden" name="do_it" value="1" />
	</fieldset>
	</form>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
