<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; <TMPL_IF NAME="CAN_user_reports">Reports<TMPL_ELSE>Circulation</TMPL_IF> &rsaquo; Holds Shelf Action</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="application/javascript">
$(document).ready(function() {
   $('#mytab').tablesorter({
      headers: {
         0: { sorter: false },
      }
   });
});
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; 
<TMPL_IF NAME="CAN_user_reports">
<a href="/cgi-bin/koha/reports/reports-home.pl">Reports</a>
<TMPL_ELSE>
<a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a>
</TMPL_IF> &rsaquo; <a href="/cgi-bin/koha/reports/holdsaction.pl">Holds Shelf Action</a></div>

<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="novarset" -->
Cannot proceed.
<a href="/cgi-bin/koha/admin/systempreferences.pl?op=add_form&searchfield=ReservesMaxPickupDelay">System preference <b>ReservesMaxPickupDelay</b></a> needs to be set.
<!-- TMPL_ELSE -->

<!-- TMPL_IF NAME="go" -->
    <h1>Lapsed on Holds Shelf</h1>
    <form method=post action="holdsaction.pl" name="myf" id="myf">
    <input type=hidden name="go" value="1">
    <input type=hidden name="output" value="screen">
    <input type=hidden name="branch" value="<TMPL_VAR NAME="branchcode">">

    <!-- TMPL_IF NAME="results" -->
    <table id="mytab">
        <thead>
        <tr>
            <th nowrap align=center><span style="font-size:90%">Remove<br></span><input type=checkbox name="toggleCheck" onclick="toggleCh()" checked><br></td>
            <th>Title</th>
            <th>Collection Code<br>Call Number</th>
            <th>Name</th>
            <th>Cancelled</th>
            <th>Expires</th>
        </tr>
        </thead>
            <!-- TMPL_LOOP NAME="results" -->
                <tr>
                     <td nowrap align=center><input type=checkbox name="lapsed" value="<TMPL_VAR NAME="reservenumber">" 
                     checked></td>
                     <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" --></a> 
                        <TMPL_IF NAME="marc_245_b"><TMPL_VAR NAME="marc_245_b"></TMPL_IF> 
                        <TMPL_IF EXPR="marc_245_h or marc_245_n or marc_245_p">
                           (<TMPL_IF NAME="marc_245_h"><TMPL_VAR NAME="marc_245_h">, </TMPL_IF>
                            <TMPL_IF NAME="marc_245_n"><TMPL_VAR NAME="marc_245_n">, </TMPL_IF>
                           <TMPL_VAR NAME="marc_245_p">)
                        </TMPL_IF><br>
                        <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcode"></a></td>
                     <td nowrap><TMPL_VAR NAME="ccode"><br><TMPL_VAR NAME="itemcallnumber"></td>
                     <td><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="surname" -->, 
                        <!-- TMPL_VAR NAME="firstname" --></a></td>
                     <td nowrap><!-- TMPL_VAR NAME="cancellationdate" --></td>
                     <td nowrap><!-- TMPL_VAR NAME="expirationdate" --></td>
                </tr>
            <!-- /TMPL_LOOP -->
    </table>
     <br>
     <input type=submit value="Remove Selected from Holds Shelf">
     <input type=button value="Cancel" onclick="document.location.href='holdsaction.pl';">
     </form>
     <script>
      function toggleCh() {
         for(var i=0;i<document.myf.lapsed.length;i++) {
            document.myf.lapsed[i].checked = document.myf.toggleCheck.checked;
         }
      }
     </script>

    <!-- TMPL_ELSE -->
      No results found.
      <br><br><input type=button value="&lt; Back" onclick="document.location.href='holdsaction.pl';">
    <!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
    <h1>Lapsed on Holds Shelf</h1>
    <form method="post" action="/cgi-bin/koha/reports/holdsaction.pl">
    <fieldset class="rows">
		<ol>

        <li><label for="branch">Library: </label>
        <select name="branch" id="branch"><option value="">All Libraries</option>
          <!-- TMPL_LOOP NAME="branchloop" -->
            <!-- TMPL_IF NAME="selected" -->
              <option value="<!-- TMPL_VAR Name="value" -->" selected="selected"><!-- TMPL_VAR Name="branchname" --> </option>
            <!-- TMPL_ELSE -->
              <option value="<!-- TMPL_VAR Name="value" -->" ><!-- TMPL_VAR Name="branchname" --> </option>
            <!-- /TMPL_IF -->
          <!-- /TMPL_LOOP -->
        </select></li>
		</ol>
	</fieldset>

<fieldset class="rows">
	<legend>Output</legend>
<ol><li><label for="outputscreen">To screen into the browser: </label><input type="radio" checked="checked" name="output" id="outputscreen" value="screen" /> </li>
<li><label for="outputfile">To a file:</label> 		<input type="radio" name="output" value="file" id="outputfile" /> <label class="inline" for="basename">Named: </label><input type="text" name="basename" id="basename" value="Export" /> <label class="inline" for="MIME">Into an application  
		</label><!-- TMPL_VAR NAME="CGIextChoice" -->
		<!-- TMPL_VAR NAME="CGIsepChoice" --></li></ol>
	</fieldset>

	<fieldset class="action">
	<input type="submit" value="Submit" />
	<input type="hidden" name="report_name" value="<!--TMPL_VAR NAME="report_name" -->" />
	<input type="hidden" name="go" value="1" />
	</fieldset>
	</form>
<!-- /TMPL_IF -->
<!-- /TMPL_IF --><!-- eof novarset -->

</div>
</div>
<TMPL_IF NAME="CAN_user_reports">
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</TMPL_IF>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
