<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Comentarios</h1>
		<ul>
			<li>Ir al módulo de  'Herramientas'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Comentarios'</li>
			<li>Desde este menú podrá ver todas las observaciones o comentarios en espera de aprobación. <br/>
			<ul>
				<li>Si no hay observaciones, la página le informará de tal</li>
			</ul></li>
			<li>Para aprobar un comentario haga clic en 'Aprobar'</li>
			<li>Para borrar un comentario haga clic en  'Eliminar' </li>
			<li>Una vez que haya sido aprobado un comentario, se publicará en el OPAC en la pestaña de 'Comentarios'</li>
		</ul>

<h2>¿Puedo desactivar la moderación de comentarios?</h2>
<p>Al momento no es una funcionalidad del Koha. Todos los comentarios son moderados.</p>
<h2>¿Cómo habilito/deshabilito componentes del OPAC?</h2>
<p>Esta característica es una preferencia global del sistema:</p>
		<ul>
			<li>Ir al módulo de  'Administración'  (por lo general en 'Más' en su navegación global)</li>
			<li>Haga clic en 'Preferencias globales del sistema' y, a continuación' elegir la pestaña 'Características del OPAC'</li>
			<li>Desde aquí se puede alternar la característica  'reviewson'  que controla los comentarios dentro de su OPAC</li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->