<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha en línea<!-- /TMPL_IF --> Catálogo &rsaquo; Ha ocurrido un error
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!--TMPL_INCLUDE NAME="masthead.inc" -->
<!--TMPL_INCLUDE NAME="navigation.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
            <h3>Ha ocurrido un error</h3>
            <h4>Error 404</h4>
            <ul>
                <li>Este error indica que usted trata de acceder a un enlace que no está autorizado a ver.</li>
                <li>Trate ingresando al catágolo</li>
                <li>Para reportar este error, puede enviar un email al <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">Administrador de Koha</a>.</li>
                <li>Usar la barra de menú superior para navegar por Koha.</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- <div id="main"> -->
<!-- </div> -->
</body>
</html>
