<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socio, multas</h1>
Las multas a socios se calculan basado en sus preferncias de sistema.<br/>
		<ul>
			<li>
<em>Llegar: </em></span>Más &gt; Administración &gt; Socios y circulación &gt; Reglas de circulación y multas</li>
		</ul>	  
<h3>Ver cuentas de socios</h3>

		<ul>
			<li>Haga clic en el 'multas'  a la izquierda bajo la pestaña de información del socio</li>
			<li>Ud. verá la información de la cuenta de usuario</li>
			<li>Además de multas por retrasos, el costo de sustitución de objetos perdidos, los gastos de gestión y otros costos específicos se mostrarán en la cuenta
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: marcar a un ítem como perdido en la página de editar items le pondrá una multa socio equivalente al precxio de reemplazo del ítem. </span></li>
			</ul></li>
			<li>Para pagar multas, haga clic en la pestaña 'Pago de multas'</li>
			<li>Cada cargo le ofrece un menú que le permite decidir si marcar los items pagados,  o no</li>
			<li>Al elegir 'Pagado' el sistema asume que la totalidad del pago se está realizando</li>
			<li>Pagos aparecerá en la pestaña de cuentas</li>
			<li>También puede crear facturas/cargas manuales o asignar créditos  manuales a las cuentas de usuario
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: si crea un crédito manual, tenga en cuenta que esto no se aplicará a un ítem perdido o demorado en particular</span></li>
			</ul></li>
			<li>Para hacer una factura en forma manual, haga clic en el 'Crear factura manual'</li>
			<li>Ingresar en la información relacionada con el importe que está añadiendo</li>
			<li>El nuevo gasto aparecerá en la pestaña 'Cuentas'</li>
			<li>Facturas manuales pueden pagarse de la misma forma que las multas automáticas, cliqueando en 'Pagar multas'</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->