<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Crear cr&eacute;dito manual</h1>
		<ul>
			<li>Para crear un crédito manual, haga clic en la pestaña 'Crear crédito manual' </li>
			<li>Ingresar en la información relacionada con el crédito que está añadiendo</li>
			<li>El nuevo crédito aparecerá en la pestaña 'Cuentas'</li>
		</ul>	
		
		<p style="background-color: #ffe599">CONSEJO: Use fondos manuales para pagar parcialmente multas.</p>
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->