<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Crear factura manual</h1>
		<ul>
			<li>Haga clic en la pestaña 'Crear factura manual'</li>
			<li>Ingresar en la información relacionada con el importe que está añadiendo</li>
			<li>El nuevo gasto aparecerá en la pestaña 'Cuentas'</li>
			<li>If you would like to define additional categories for manual invoices you can do so by adding authorized values in the MANUAL_INV categories.</li>
			<ul><li style="color: #990000">IMPORTANT: Set the authorized value field as the description and the description field is the default fee, if any.</li></ul>
			<li>Facturas manuales pueden pagarse de la misma forma que las multas automáticas, cliqueando en 'Pagar multas'</li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->