<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Agregar usuario</h1>

<h2>Agregar un nuevo Usuario</h2>   
   <p>IMPORTANTE: Las prepreferencias del sistema deben definirse antes de añadir nuevos socios.<p>
	<ul>
		<li>
<em>Llegar:</em></span>Más &gt; Administración </li>
	</ul>	Agregar un nuevo usuario:<br/>
	<ul>
		<li>Haga clic en el botón 'Nuevo'</li>
		<li>Seleccione el tipo de socios que desea agregar:
		<ul>
			<li>Personal = Un usuario que se puede ser habilitado para realizar funciones con el cliente adminstrativo.</li>
			<li>Adultos = Un usuario regular (puede tener usuarios infantiles adjuntados).</li>
			<li>Niño= es un socio que tiene un "garante" adulto </li>
			<li>Institución = Una organización que pueden tener socios profesionales asociados a ella.</li>
			<li>Profesional =  un socio que puede tener una institución como garante. </li>
			<li>Estadístico = un socio 'falso'. Cuando los ítems son asignados a un socio estadístico, los ítems no se prestan, pero se registran. 
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: esto puede ser utilizado para registrar las estadísticas de los items que se utilizan, pero que no se prestan, como ser referencias, revistas, etc A continuación, puede generar un informe para reunir las estadísticas de esta tarjeta</span></li>
			</ul></li>
		</ul></li>
	</ul>
	<ul>
		<li>	   
	   	   
	   Cada tipo de socio tendrá diferentes opciones.</li>	   
		<li>	   
	   	   
	   Complete los campos relacionados con su socio 
		<ul>
			<li>		   
		   		   
		   Tenga en cuenta que el apellido es, por defecto, un campo obligatorio para cada socio. Usted puede definir, si lo desea,  obligatorios. 
			<ul>
				<li>			   

<em>Llegar:</em>  Administración &gt; Preferenciass &gt; Socios &gt;  BorrowerMandatoryField.</li>
			</ul></li>		   
			<li>		   
<span style="background-color: #ffe599">
CONSEJO:  'Iniciales' y 'Otro nombre' son muy útiles para uso interno cuando se está reconociendo socios</span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Si va a añadir un 'Niño' o 'Professional' verá un campo adicional, que le pedirá definir un garante.
		<ul>
			<li>		   
		   		   
		   Desde este menú puede elegir el registro del socio  para vincularlo al niño o profesional.
			<ul>
				<li>			   
			   			   
			   Haga clic en 'Buscar garante' y elija un socio de la lista. 
				<ul>
					<li>
				    <span style="background-color: #ffe599">
CONSEJO: sólo los socios de tipo &quot;A&quot; (para adultos) se buscan cuando usted busca garantes. Esto significa que (por ejemplo) el personal de la biblioteca (tipo &quot;S&quot;) y los niños (tipo &quot;C&quot;) no se pueden usar como garantes </span></li>
					<li style="color: #ff0000">				   
				   				   
				   IMPORTANTE: Introducir un socio 'a mano' no le dará los resultados esperados - Ud. debe buscar</li>
				</ul></li>
			</ul></li>
			<li>		   
		   		   
		   
		    <span style="background-color: #ffe599">
CONSEJO: Puede definir los términos utilizados en el campo de Garantes. 'Madre' y 'Padre' son valores predeterminados, pero puede añadir 'Abuelo' o 'Tutor' por ejemplo.</span>
			<ul>
				<li>			   
			   			   
			   
			    <span>
<em>Llegar: </em></span>Administración &gt; Preferencias del sistema &gt; Usuarios &gt; Relaciones de usuarios</li>
			</ul></li>
		</ul></li>
	</ul>
	<ul>
		<li>	   
	   	   
	   Si va a añadir un 'Organización' verá un menor número de campos en la primer sección.</li>
		<li>	   
	   	   
	   Ingrese el domicilio principal del socio.
		<ul>
			<li>		   
		   		   
		   El desplegable 'Tipo de calle' proviene de sus socios y parámetros de circulación.
			<ul>
				<li>			   
			   			   
			   
			    <span>
<em>Llegar: </em></span>Administración &gt; Usuarios y circulación &gt; Tipos de calles</li>
			</ul></li>
			<li>		   
		   		   
		   El menú desplegable Ciudad, Estado proviene de sus socios y parámetros de circulación.
			<ul>
				<li>
			    <span>
<em>Llegar: </em></span>Administración &gt; Usuarios y circulación&gt; Ciudades</li>
			</ul></li>
		</ul></li>
		<li>Ingrese información de contacto adicional del socio.<br/>
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: solicite a los socios de la biblioteca que le faciliten el correo electrónico. Koha utilizará esta dirección de correo electrónico para contactars con los socios para avisar la disponibilidad de un ítem reservado o para dar los avisos de retrasos. </span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Ingrese una dirección alternativa (si necesita una para su biblioteca).
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: esto es muy útil si el socio tiene una casilla de correro y usted desea conocer su domicilio.</span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Entrar en un contacto adicional (si necesita uno para su biblioteca) </li>
		<li>Introduzca la información necesaria para la gestión de socios de la biblioteca
		<ul>
			<li>El número de socio puede auto calcularse, escanearse desde un lector de código de barras o ingresado a mano. El número de socio autocalculado puede establecerse en ON u OFF en las preferencias del sistema.
			<ul>
				<li>
			    <span>
<em>Llegar</em></span>: Administración&gt; Preferencias del Sistema&gt; Usuarios&gt; autoMemberNum.</li>
			</ul></li>
			<li>Las sedes se definen en sus parámetros básicos.<ul>
				<li>
			    <span>
<em>Llegar:</em></span>Administración &gt; Parámetros básicos &gt; bibliotecas, sucursales y grupos</li>
			</ul></li>
			<li>Las categorías de socios se definen en socios y circulación.<ul>
				<li>
			    <span>
<em>Llegar:</em></span>Administración &gt; Usuarios y circulación&gt; Categorías de usuarios</li>
			</ul></li>
			<li>Los campos de orden son reservados para uso interno y reportes.</li>
		</ul></li>
	</ul>
	<ul>
		<li>Introduzca información específica de las políticas de la biblioteca.

		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: Utilice 'Nota de Biblioteca' para las notas que usted desea que vea su personal de circulación. </span></li>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: Utilice 'Nota de OPAC' para las notas que desea que vea el socio. <br/></span></li>
			<li>
		    <span style="background-color: #ffe599">
		   		   
		    <span style="background-color: #ffffff">
IMPORTANTE: Asegúrese de que su personal entienda la diferencia entre estos campos. 'Nota de biblioteca' es una nota privada que SOLO puede ver el personal administrativo. 'Nota de OPAC' SERÁ vista por los socios.<br/></span></span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Proporciona socios con Id de usuario en el OPAC.
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: los socios podrán actualizar o cambiar su contraseña a través del OPAC</span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Para finalizar el proceso haga clic en 'Guardar'.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->