<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda Socios</h1>

<p>Este es el módulo de socios de Koha.</p>
<p>La parte de usuarios almacena la información que Ud. agrega sobre sus usuarios.</p>
	<ul>
		<li>Para para agregar un socio escriba su nombre en la caja de búsqueda a la izquierda, y cliquee el botón 'Buscar'.</li>
		<li>Si ya existe un socio que coincida con el nombre buscado, se mostrará en la lista de resultados.<br/>
		<ul>
			<li>Esto puede ser particularmente útil cuando las personas han perdido sus carnets o cuando los niños los olvidan. De esta forma, puede evitar tener varios números para el mismo socio.</li>
		</ul></li>
		<li>De forma alternativa, puede revisar una secci&oacute;n de usuarios seleccionando la primera letra del apellido del usuario del listado de la derecha.</li>
		<li>Si el usuario no tiene una cuenta, cliquee el botón 'Nuevo' y seleccione el tipo de socio que desea agregar.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->