<!-- TMPL_INCLUDE NAME="help-top.inc" -->   
   <h1>Establecer permisos de socios</h1>
   <p>Lo permisos de socios se usan para definir los derechos del personal en los clientes de intranet y administrativo.</p>
	<ul>
		<li>Para modificar los permisos del socio, haga clic en Socios en la parte superior de la pantalla del menú principal .</li>
		<li>Buscar el socio que desea editar</li>
		<li>En los resultados haga clic en el nombre del socio</li>
		<li>Haga clic en el botón 'Más' en la parte superior derecha del perfil de socio y elegir 'Establecer permisos'</li>
		<li>Seleccione los permisos para el socio</li>
		<li>Puede escoger tantos permisos como desee para cada miembro administrativo
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: si un miembro del personal es 'superlibrarian' tienen acceso a todas las funciones y no es necesario habilitar otros permisos</span></li>
		</ul></li>
		<li>Para dar a los miembros del personal permisos más granulares, debe poner 'on'  la opción 'GranularPermissions' de las preferencias del sistema
		<ul>
			<li><em>Llegar::</em> Más&gt; Administración&gt; Preferencias generales&gt; Admin&gt; GranularPermissions</li>
			<li>Si esta opción está en ON el menú de permisos le ofrecerá mayor granularidad en los permisos</li>
			<li>Esto permite a miembros del personal el acceso a herramientas específicas
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: si esta preferencia se apaga (OFF)  después de ser encendida (ON), el sistema vuelve al comportamiento original, aunque los permisos específicos se mantienen. Esto significa que si a un miembro de la administración o se le han dado permisos granulados estos se conservarn aun cuando la opción esté en OFF.</span></li>
			</ul></li>
		</ul></li>
	</ul>

<h3>¿Qué hace cada nivel de permiso?</h3>

<p>Dependiendo de los permisos ciertos elementos del menú se eliminarán de los menús en Koha, impediendo a  los usuarios de acceder a ellos.</p>
	<ul>
		<li><strong>superusuario</strong>
		<ul>
			<li>Acceso a todas las funciones de bibliotecario</li>
		</ul></li>
		<li><strong>circular</strong>
		<ul>
			<li>Posibilidad que tiene los socios que han ingresado al sistema de marcar cajas y volver </li>
			<li>With GranularPermissions on this section will be expanded to allow access to specific ciculation functions.
			<ul>
				<li><em>Get there:</em> More &gt; Administration &gt; Global System Preferences &gt; Admin &gt; GranularPermissions</li>
			</ul></li>
		</ul></li>
		<li><strong>catalog</strong>
		<ul>
			<li>Se debe dar el permiso a todos los miembros del personal a ingresar a la interfaz del personal</li>
			<li>Este permiso permitirá a los miembros del personal hacer búsquedas en el catálogo a través de la interfaz del personal</li>
		</ul></li>
		<li><strong>par&aacute;metros</strong>
		<ul>
			<li>Proporciona acceso de administrador a todos los enlaces y preferencias</li>
		</ul></li>
		<li><strong>socios</strong>
		<ul>
			<li>Agregar o modificar usuarios (con la excepción de fijar permisos)</li>
		</ul></li>
		<li><strong>permisos</strong>
		<ul>
			<li>Posibilidad de configurar los permisos del socio&nbsp;</li>
		</ul></li>
		<li><strong>reserva para otros</strong>
		<ul>
			<li>Ingrese reservas de libros para socios usando la interfaz administrativa</li>
		</ul></li>
		<li><strong>prestar</strong>
		<ul>
			<li>Retire libros de la biblioteca con esta cuenta administrativa</li>
		</ul></li>
		<li><strong>editcatalogue</strong> Modificar bibliografía
		<ul>
			<li>Provee permisos de catalogación, como ser los permisos de modificar y añadir registros bibliográficos)</li>
		</ul></li>
		<li><strong>actualizar cargas</strong>
		<ul>
			<li>Manejar las multas y cargos para  socios (incluyendo el pago, añadiendo créditos, y añadiendo las facturas)</li>
		</ul></li>
		<li><strong>adquisición</strong>
		<ul>
			<li>Acceder a la administración de adquisiciones y sugerencias de compra de los socios</li>
		</ul></li>
		<li><strong>administración</strong>
		<ul>
			<li>No se usa más</li>
		</ul></li>
		<li><strong>herramientas</strong>
		<ul>
			<li>Utilice herramientas (exportación, importación, códigos de barras) </li>
			<li>Con PermisosRefinados esta sección se ampliará para permitir el acceso sólo a determinadas herramientas
			<ul>
				<li><em>Get there:</em> More &gt; Administration &gt; Global System Preferences &gt; Admin &gt; GranularPermissions</li>
			</ul></li>
		</ul></li>
		<li><strong>editauthorities</strong>
		<ul>
			<li>Habilitar a bibliotecario editar registros de autoridad</li>
		</ul></li>
		<li><strong>publicaciones periódicas</strong>
		<ul>
			<li>Habilitar a bibliotecario para gestionar suscripciones y reclamos de publicaciones seriadas</li>
		</ul></li>
		<li><strong>informes</strong>
		<ul>
			<li>Autorizar bibliotecario para el acceso al módulo de informes</li>
		</ul></li>
		<li><strong>staffaccess</strong>
		<ul>
			<li>Proporciona la capacidad de modificar Id de usuarios/permisos del personal administrativo</li>
		</ul></li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->