<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Cambiar la contraseña del socio</h1>

<p>Koha no puede mostrar las contraseñas existentes, por lo que este formulario sólo se puede utilizar para cambiar el nombre y/o contraseña del socio, pero no para recuperar una contraseña existente.</p>
		<div class="hint">	El largo mínimo de contraseña es de 3 caracteres. Para cambiar este valor, actualice sus preferencias del sistema.
		</div>
		<div class="hint">
			<ul>
				<li><em>Llegar:</em> Más&gt; Administración&gt; Sistema Global de Preferencias&gt; Socios &gt; minPasswordLength</li>
			</ul>
		</div>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->