<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Patron Messaging Queue</h1>

<p>This tab shows the status of patron notification messages.   Once a message is sent it will say so in the status column.</p>
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: Para activar las opciones de mensajería necesita poner la preferencia del sistema 'EnhancedMessagingPreferences' en 'ON'</span>
			<ul>
				<li><em>Llegar:</em>  Administración &gt; Preferencias &gt; Socios &gt; EnhancedMessagingPreferences.</li>
			</ul></li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->