<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Pantalla de información de socio</h1>

<p> Esta pantalla muestra la informaci&oacute;n asociada con un determinado socio..</p>
<p>Arriba a la izquierda est&aacute; su direcci&oacute;n y el n&uacute;mero de carnet</p>
<p>El estado de pago anual de los socios puede mostrarse tambi&eacute;n  en la pantalla.</p>
<p>En la parte inferior de la página de información del socio encontrará un acceso rápido a los items que el socio tiene  prestados, vencidos y reservados.</p>
<p> Puede conseguir la informaci&oacute;n de lo que ha le&iacute;do un usuario en el pasado cliqueando sobre el bot&oacute;n de Historial de circulación.</p>
<p>Si desea editar la información de un socio, cliquee el boton 'Editar'. También puede cliquear uno de los enlaces 'Editar' bajo cada sección del registro el socio.</p>
<p>Si desea eliminar PERMANENTEMENTE un socio, cliquee 'Eliminar' bajo 'Mas'. Aparecerá una ventana de confirmación, por lo que no se preocupe de borrar accidentalmente un registro. Solo esté completamente seguro antes de eliminarlo!</p>
<p>Si este socio no tiene imagen, cliquee 'Agregar imagen de socio' para agregar una o mas imágenes. Las dimensiones de las mismas no deben exceder 120 X 200. Solo se aceptan formatos PNG, GIF, JPG y XPM.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->