<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Pagar multas</h1>
		<ul>
			<li>Para pagar multas, haga clic en la pestaña 'Pago de multas'</li>
			<li>Cada cargo le ofrece un menú que le permite decidir si marcar los items pagados,  o no</li>
			<li>Al elegir 'Pagado' el sistema asume que la totalidad del pago se está realizando</li>
			<li>Pagos aparecerá en la pestaña de cuentas</li>
			<li>También puede crear facturas/cargas manuales o asignar créditos  manuales a las cuentas de usuario
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: si crea un crédito manual, tenga en cuenta que esto no se aplicará a un ítem perdido o demorado en particular</span></li>
			</ul></li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->