<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socio, ayuda de historia de circulación</h1>
		<ul>
			<li>Para ver el historial de lectura del usuario, cliquee la pestaña 'Historial de Circulación'  en el menú de la izquierda.</li>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: esto sólo muestra el historial de lectura si usted tiene la preferencia del sistema 'intranetreadinghistory' en 'ON'</span>
			<ul>
				<li>
			    <span>
<em>Llegar:</em></span>Administración &gt; Preferencias del sistema &gt; Usuarios &gt; Historial de lectura</li>
			</ul></li>
			<li>Para ver el historial de cambios en el registro del usuario, haga clic en 'Log de modificaciones  'en el menú de la izquierda. </li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->