<!-- TMPL_INCLUDE name="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha en línea<!-- /TMPL_IF --> 
<!-- TMPL_IF NAME="opacuserlogin" -->
 Catálogo &rsaquo; Ingrese a su cuenta
<!-- TMPL_ELSE -->
 Catálogo &rsaquo;  Deshabilitado el ingreso al catálogo
<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<div id="doc3" class="yui-t7">
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

	<div id="yui-g">
<div class="container">
<div id="opac-auth">
<!--CONTENT-->
<!-- TMPL_IF NAME="opacuserlogin" -->
<!-- TMPL_IF NAME="loginprompt" -->
<!-- login prompt time-->
<h3>Ingresar a su cuenta</h3>
<!-- TMPL_IF NAME="nopermission" -->
<!-- This is what is displayed if user doesnt have permission -->
<p>Lo sentimos, el sistema considera que no tiene permisos para acceder a esta página. </p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="timed_out" -->
<!-- This is what is displayed if login has timed out -->
<p>Lo sentimos, su sesión ha expirado. Por favor ingrese nuevamente.</p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="different_ip" -->
<!-- This is what is displayed if user doesnt have permission -->
<p>Está conectado desde una direccion IP diferente. Por favor, ingrese de nuevamente.</p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="invalid_username_or_password" -->
<!-- This is what is displayed if user doesnt have permission -->
<p>Ha introducido un usuario o contraseña incorrecta. Por favor inténtelo nuevamente! Y recuerde, el nombre de usuario y la contraseña son sensibles a mayusculas.</p>
<!-- /TMPL_IF -->

<form action="<!-- TMPL_VAR NAME="url" -->" name="auth" id="auth" method="post">
  <input type="hidden" name="koha_login_context" value="opac" />
<fieldset class="brief"><!-- TMPL_LOOP NAME="INPUTS" -->
  <input type="hidden" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->" />
<!-- /TMPL_LOOP -->
<ol>
<li><label for="userid">Login</label>
<input type="text"  size="25" id="userid"  name="userid" /></li>
<li><label for="password">Password</label><input type="password"  size="25" id="password"  name="password" /></li>
</ol></fieldset>

<input type="submit" value="Ingresar" class="submit">
<div>  <h5>¿No tiene una contraseña aún?</h5><p> Si no tiene contraseña, pase por la administración de la biblioteca y se le proporcionará una.</p>
<h5>¿No tiene carnet de la biblioteca?</h5><p> Si no es socio de la biblioteca, pase por la administración de la biblioteca y asóciese.  </p></div>
</form>


<!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
<h4>La biblioteca no ha autorizado el ingreso al catálogo.</h4>
<ul>
  <li>Para reportar este error, puede enviar un email al <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">Administrador de Koha</a>.</li>
  <li>Usar la barra de menú superior para navegar por Koha.</li>
</ul>
<!-- /TMPL_IF --></div>
</div>
</div>
</div>

<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
