<!-- TMPL_INCLUDE name="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha en línea<!-- /TMPL_IF --> Catálogo &rsaquo; Cuenta para <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body id="opac-passwd">
<div id="doc3" class="yui-t1">
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
	<div class="container">
	<h3><a href="/cgi-bin/koha/opac-user.pl">cuenta de <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></a> <img src="<!-- TMPL_VAR NAME="themelang" -->l../../images/caret.gif" width="16" height="16" alt="&gt;" border="0" /> Cambiar su contraseña </h3>

    <!-- TMPL_IF NAME= "Error_messages" -->
<div class="dialog error">        <h3>Hubo un problema con su envio</h3>
        <p>
            <!-- TMPL_IF NAME= "PassMismatch" -->
            No coinciden las contraseñas. Por favor, reintroduzca su nueva contraseña.
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME= "ShortPass" -->
            Su nueva contraseña debe tener al menos <!-- TMPL_VAR NAME="minpasslen" --> caracteres de largo
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME= "WrongPass" -->
            Su contraseña fue introducida incorrectamente. Si este problema persiste, por favor pida al bibliotecario que resetee la contraseña.	
            <!-- /TMPL_IF -->
        </p></div>
    <!-- /TMPL_IF -->
    
    <!-- TMPL_IF NAME= "Ask_data" -->
        <!-- TMPL_IF NAME="OpacPasswordChange" -->
        <form action="/cgi-bin/koha/opac-passwd.pl" name="mainform" id="mainform" method="post"><fieldset class="brief">
			<!-- TMPL_UNLESS NAME= "ShortPass" --><div class="hint">Su contraseña debe tener al menos <!-- TMPL_VAR NAME="minpasslen" --> caracteres de largo.</div><!-- /TMPL_UNLESS -->
          <ol>  <li><label for="Oldkey">Contraseña actual:</label> <input type="password" id="Oldkey" size="25"  name="Oldkey" /></li>
            <li><label for="Newkey">Nueva contraseña:</label> <input type="password" id="Newkey"  size="25"  name="Newkey" /></li>
            <li><label for="Confirm">Reingrese su contraseña:</label> <input type="password"  id="Confirm" size="25" name="Confirm" /></li></ol></fieldset>
            <fieldset class="action"><input type="submit" value="Enviar cambios" class="submit"> <a href="/cgi-bin/koha/opac-user.pl" class="cancel">Cancelar</a></fieldset>
    </form>
        <!-- TMPL_ELSE -->
            <div class="dialog alert">No puede modificar su contraseña.</div>
        <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
    
    <!-- TMPL_IF NAME= "password_updated" -->
        <div class="dialog message"><h1>Contraseña actualizada</h1>
        Su contraseña ha sido cambiada</div>
        <form action="/cgi-bin/koha/opac-user.pl" method="post">
            <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
            <p><input type="submit" class="icon back" value="Volver a su registro"></p>
        </form>
    <!-- /TMPL_IF -->
</div>
</div>
</div>
</div>
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
<!-- TMPL_INCLUDE name="usermenu.inc" -->
</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
