<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha en línea<!-- /TMPL_IF --> Catálogo &rsaquo;  
<!-- TMPL_IF name="op_add" -->Introduzca una nueva sugerencia de compra<!-- /TMPL_IF -->
<!-- TMPL_IF name="op_else" -->Sugerencias de compra<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
$.tablesorter.addParser({
    id: 'articles', 
    is: function(s) {return false;  }, 
    format: function(s) { return s.toLowerCase().replace(/^(the|an|a) /,''); }, 
    type: 'text' 
});

       $(function() {
			$("#suggestt").tablesorter({
				widgets : ['zebra'],
				<!-- TMPL_IF NAME="loggedinusername" -->sortList: [[1,0]],<!-- TMPL_ELSE -->sortList: [[0,0]],<!-- /TMPL_IF -->
		        headers: {
				<!-- TMPL_IF NAME="loggedinusername" -->
					<!-- TMPL_IF NAME="OPACViewOthersSuggestions" -->
					0: { sorter: false },2: { sorter: 'articles' },2: {sorter: false },4: {sorter: false},5:{sorter:false}
					<!-- TMPL_ELSE -->
					0: { sorter: false },2: { sorter: 'articles' },2: {sorter: false },3: {sorter: false},4:{sorter:false}
					<!-- /TMPL_IF -->
				<!-- TMPL_ELSE -->
				<!-- TMPL_IF NAME="OPACViewOthersSuggestions" -->
					0: { sorter: 'articles' },1: {sorter: false },3: {sorter: false},4:{sorter:false}
					<!-- TMPL_ELSE -->
					0: { sorter: 'articles' },1: {sorter: false },2: {sorter: false},3:{sorter:false}
					<!-- /TMPL_IF -->
				<!-- /TMPL_IF -->
				}
			}); 
			$("#CheckAll").click(function(){
		        $(".checkboxed").checkCheckboxes();
		        return false;
		    });
		    $("#CheckNone").click(function(){
		        $(".checkboxed").unCheckCheckboxes();
		        return false;
		    }); 
       });
//]]>
</script>
</head>
<!-- TMPL_IF NAME="loggedinusername" --><body id="opac-usersuggestions"><!-- TMPL_ELSE --><body id="opac-suggestions"><!-- /TMPL_IF -->
<!-- TMPL_INCLUDE name="masthead.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
<div class="container">
<!-- TMPL_IF name="op_add" -->
    <h1>Introduzca una nueva sugerencia de compra</h1>

    <p>Llene este formulario para hacer una sugerencia de compra. Será notificado por email cuando la biblioteca procese su sugerencia de compra</p>
    <p>No hay campos obligatorios. Introduzca cualquier información posea. El campo "Notas" se puede utilizar para proporcionar información adicional.</p>
    <form action="/cgi-bin/koha/opac-suggestions.pl" method="post">
   <fieldset class="rows"> <ol>
    <li><label for="title">Título:</label><input type="text" id="title" name="title" size="50" maxlength="80" /></li>
    <li><label for="author">Autor:</label><input type="text" id="author" name="author" size="50" maxlength="80" /></li>
    <li><label for="copyrightdate">Fecha de copyright:</label><input type="text" id="copyrightdate" name="copyrightdate" size="4" maxlength="4" /></li>
    <li><label for="publishercode">Editor:</label><input type="text" id="publishercode" name="publishercode" size="50" maxlength="80" /></li>
    <li><label for="note">Notas:</label><textarea name="note" id="note" rows="5" cols="40"></textarea></li>
    </ol></fieldset>
        <fieldset class="action"><input type="hidden" name="op" value="add_confirm" /><input type="submit" value="Enviar su sugerencia"> <a class="action" href="/cgi-bin/koha/opac-suggestions.pl">Cancelar</a></fieldset>
    </form>

<!-- /TMPL_IF -->

<!-- TMPL_IF name="op_else" -->
    <h1><!-- TMPL_UNLESS NAME="OPACViewOthersSuggestions" --><!-- TMPL_IF NAME="loggedinusername" -->Mi <!-- /TMPL_IF --><!-- /TMPL_UNLESS -->Sugerencias de compra</h1>
    <!-- TMPL_IF NAME="suggestions_loop" -->
    <!-- TMPL_IF NAME="OPACViewOthersSuggestions" -->
	<form action="/cgi-bin/koha/opac-suggestions.pl" method="get">
    <table>
        <tr>
                <th>
                    Búscar para:
                </th>
                <td>
                    <input type="text" name="title" value="<!-- TMPL_VAR name="title"-->" />
                </td>
                <th>
                Sugerido por:
                </th>
                <td>
                    <select name="suggestedby">
                        <option value="0">Cualquiera</option>
                        <option value="1">Yo</option>
                    </select>
                </td>
                <th>
                    <input type="submit" value="Buscar">
                </th>
        </tr>
		</table>
            </form><!-- /TMPL_IF -->
        <form action="/cgi-bin/koha/opac-suggestions.pl" method="post">
            <input type="hidden" name="op" value="delete_confirm" />
			<div><!-- TMPL_IF NAME="loggedinusername" --><span class="checkall"><a href="#" id="CheckAll">Seleccionar todo</a></span>
		<span class="clearall"><a href="#" id="CheckNone">Limpiar todo</a></span> | <a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">Nueva sugerencia de compra</a><!-- TMPL_ELSE --><!-- TMPL_IF NAME="AnonSuggestions" --><a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">Nueva sugerencia de compra</a><!-- /TMPL_IF --><!-- /TMPL_IF -->
</div>
			<table id="suggestt" class="checkboxed">
			<thead><tr>
            <!-- TMPL_IF NAME="loggedinusername" --><th>&nbsp;</th><!-- /TMPL_IF -->
            <th>Resumen</th>
            <th>Nota</th>
            <!-- TMPL_IF NAME="OPACViewOthersSuggestions" --><th>Sugerido para</th><!-- /TMPL_IF -->
            <th>Administrado por</th>
            <th>Estado</th>
        </tr></thead>
        <tbody><!-- TMPL_LOOP NAME="suggestions_loop" -->
            <!-- TMPL_IF name="even" --><tr><!-- TMPL_ELSE --><tr class="highlight"><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="loggedinusername" --><td>
    <!-- TMPL_IF NAME="showcheckbox" -->
                    <input type="checkbox" name="delete_field" value="<!--TMPL_VAR name="suggestionid" -->" />
    <!-- /TMPL_IF -->
                </td><!-- /TMPL_IF -->
                <td>
                    <p><strong><!-- TMPL_VAR NAME="title" escape="html" --></strong></p>
                    <p><!-- TMPL_IF name="author" --><!-- TMPL_VAR NAME="author" -->,<!-- /TMPL_IF -->
                        <!-- TMPL_IF name="copyrightdate" --> - <!-- TMPL_VAR NAME="copyrightdate" --><!-- /TMPL_IF --> 
                        <!-- TMPL_IF name="publishercode" --> - <!-- TMPL_VAR name="publishercode" --><!-- /TMPL_IF -->
                    </p>
                </td>
                <td>
                    <!-- TMPL_VAR name="note" -->
                </td>
                <!-- TMPL_IF NAME="OPACViewOthersSuggestions" --><td>
                    <!-- TMPL_IF NAME="branchnamesuggestedby" --><!-- TMPL_VAR name="branchnamesuggestedby" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->
                </td><!-- /TMPL_IF -->
                <td>
					<!-- TMPL_IF NAME="surnamemanagedby" --><!-- TMPL_VAR name="surnamemanagedby" --><!-- TMPL_IF name="firstnamemanagedby" -->,<!-- /TMPL_IF --> <!-- TMPL_VAR name="firstnamemanagedby" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->
                </td>
                <td>
                    <!-- TMPL_IF name="ASKED" -->Requerido<!-- /TMPL_IF -->
                    <!-- TMPL_IF name="ACCEPTED" -->Aceptado por la biblioteca<!-- /TMPL_IF -->
                    <!-- TMPL_IF name="ORDERED" -->Pedido por la biblioteca<!-- /TMPL_IF -->
                    <!-- TMPL_IF name="REJECTED" -->Sugerencia rehusada <!-- /TMPL_IF -->
                    <!-- TMPL_IF name="AVAILABLE" -->Disponible en la biblioteca<!-- /TMPL_IF -->
                    <!-- TMPL_IF name="reason" -->(<!-- TMPL_VAR name="reason" -->)<!-- /TMPL_IF -->
                </td>
            </tr>
        <!-- /TMPL_LOOP -->
       </tbody>
    </table> <!-- TMPL_IF NAME="loggedinusername" --><fieldset class="action">
                <input type="submit" value="Borrar items seleccionados">
            </fieldset>
        <!-- /TMPL_IF -->
        </form>
    <!-- TMPL_ELSE --><p>No hay sugerencias de compras pendientes.</p> <!-- TMPL_IF NAME="loggedinusername" --><p><a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">Nueva sugerencia de compra</a></p><!-- TMPL_ELSE --><!-- TMPL_IF NAME="AnonSuggestions" --><p><a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">Nueva sugerencia de compra</a></p><!-- /TMPL_IF --><!-- /TMPL_IF --><!-- /TMPL_IF -->
	
<!-- /TMPL_IF -->
</div>
</div>
</div>
</div>
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
<!-- TMPL_INCLUDE name="usermenu.inc" -->
</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
