<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha en línea<!-- /TMPL_IF -->
    Catálogo &rsaquo; Búsqueda avanzada
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body id="advsearch"><div id="doc3" class="yui-t7">
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

<form action="/cgi-bin/koha/opac-search.pl" method="get">
	<div class="yui-g">
<!-- TMPL_IF NAME="if_expanded_options_actually_worked" -->
        <div id="databases" class="container"> <!-- TMPL_IF NAME="outer_servers_loop" -->
        <!-- DATABASES -->
            <fieldset>
                <legend>Seleccionar la base de datos local:</legend>
                <!-- TMPL_LOOP NAME="outer_servers_loop" -->
                    <!-- TMPL_LOOP NAME="inner_servers_loop" -->

<!-- TMPL_IF NAME="checked" --><input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->" checked="<!-- TMPL_VAR NAME="checked" -->" value="<!-- TMPL_VAR NAME="value" -->" /><!-- TMPL_ELSE -->
                               <input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->"  value="<!-- TMPL_VAR NAME="value" -->" /><!-- /TMPL_IF -->
                        <label for="<!-- TMPL_VAR NAME="id" -->"><img width="16" height="16" alt="<!-- TMPL_VAR NAME="id" -->" src="<!-- TMPL_VAR NAME="themelang" -->/images/<!-- TMPL_VAR NAME="icon" -->" /> <!-- TMPL_VAR NAME="label" --></label>
                    <!-- /TMPL_LOOP -->
                <!-- /TMPL_LOOP -->
            </fieldset>
        <!-- /DATABASES -->
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="outer_sup_servers_loop" -->
            <!-- REMOTE DATABASES -->
            <fieldset>
                <legend>Seleccionar la base de datos remota:</legend>
                <!-- TMPL_LOOP NAME="outer_sup_servers_loop" -->
                    <!-- TMPL_LOOP NAME="inner_sup_servers_loop" -->

<!-- TMPL_IF NAME="checked" --><input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->" checked="<!-- TMPL_VAR NAME="checked" -->" value="<!-- TMPL_VAR NAME="value" -->" /><input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->" />
<!-- /TMPL_IF -->
<label for="<!-- TMPL_VAR NAME="id" -->"><img alt="<!-- TMPL_VAR NAME="id" -->" src="<!-- TMPL_VAR NAME="themelang" -->/images/<!-- TMPL_VAR NAME="icon" -->" /><!-- TMPL_VAR NAME="label" --></label>
                    <!-- /TMPL_LOOP -->
                <!-- /TMPL_LOOP -->
            </fieldset>
            <!-- /REMOTE DATABASES -->
        <!-- /TMPL_IF --></div>
    <!-- /TMPL_IF -->

    <!-- BOOLEAN SEARCH OPTIONS -->
    <div id="booleansearch" class="container"><fieldset>
        <legend>Búscar para:</legend>
    <!-- TMPL_LOOP NAME="search_boxes_loop" -->
        <p>
        <!-- TMPL_IF NAME="expanded_options" -->
            <!-- TMPL_IF NAME="boolean" -->
            <select name="op">
                <option value="and" selected="selected">and</option>
                <option value="or">or</option>
                <option value="not">not</option>
            </select>
            <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="expanded_options" --><!-- TMPL_VAR NAME="left_content" --><!-- /TMPL_IF --> 
        <select name="idx">
            <option value="kw">Palabra clave</option>
            <option value="ti">Título</option>
<!-- TMPL_IF NAME="expanded_options" -->
            <option value="ti,phr">&nbsp;&nbsp;&nbsp;&nbsp; Frase de título</option>
            <option value="se,wrdl">Título de la serie</option>
            <option value="callnum">Signatura topográfica</option>
<!-- /TMPL_IF -->
            <option value="su,wrdl">Tema</option>
<!-- TMPL_IF NAME="expanded_options" -->
            <option value="su,phr">&nbsp;&nbsp;&nbsp;&nbsp; Frase de tema</option>
<!-- /TMPL_IF -->
            <option value="au,wrdl">Autor</option>
			
<!-- TMPL_IF NAME="expanded_options" -->
            <option value="au,phr">&nbsp;&nbsp;&nbsp;&nbsp; Frase de Autor</option>
            <option value="cpn,wrdl">&nbsp;&nbsp;&nbsp;&nbsp; Nombre de la institución</option>
            <option value="cfn,wrdl">&nbsp;&nbsp;&nbsp;&nbsp; Nombre de conferencia</option>
            <option value="cfn,phr">&nbsp;&nbsp;&nbsp;&nbsp; Frase de Nombre de Conferencia</option>
            <option value="pn,wrdl">&nbsp;&nbsp;&nbsp;&nbsp; Nombre personal</option>
            <option value="pn,phr">&nbsp;&nbsp;&nbsp;&nbsp; Frase de nombre personal</option>
<!-- /TMPL_IF -->
            <option value="ln">Idioma</option>
<!-- TMPL_IF NAME="expanded_options" -->
            <option value="nt">Notas/Comentarios</option>
            <option value="curriculum">Curriculum</option>
<!-- /TMPL_IF -->
            <option value="pb,wrdl">Editor</option>
            <option value="pl,wrdl">Lugar de edición</option>
<!-- TMPL_IF NAME="expanded_options" -->
            <option value="sn">Número estándar</option>
            <option value="nb">&nbsp;&nbsp;&nbsp;&nbsp; ISBN</option>
            <option value="ns">&nbsp;&nbsp;&nbsp;&nbsp; ISSN</option>
            <option value="lcn,phr">&nbsp;&nbsp;&nbsp;&nbsp; Signatura topográfica</option>
<!-- TMPL_ELSE -->
            <option value="nb">ISBN</option>
<!-- /TMPL_IF -->
        </select>
        <input type="text" size="30" name="q" title="Introduzca los terminos de búsqueda" value="">
<!-- TMPL_IF NAME="expanded_options" -->
        <!--   <!-- TMPL_IF NAME="scan_index" --><input type="checkbox" name="scan" id="scan" value="1" /> Scan Indexes<!-- /TMPL_IF --> -->
        <!-- TMPL_IF NAME="add_field" --><a href="JavaScript:add_field();" id="ButtonPlus" title="Agregar otro campo">[+]</a><!-- /TMPL_IF -->
<!-- /TMPL_IF -->
        </p>
    <!-- /TMPL_LOOP -->

    </fieldset></div>
	</div>
<div class="yui-g"><div class="container" style="text-align: center;"><!-- SEARCH BUTTONS -->

    <input class="submit" type="submit" accesskey="s" name="do" title="Buscar" value="Buscar">
    <!-- TMPL_IF NAME="expanded_options" -->
        <a href="/cgi-bin/koha/opac-search.pl?expanded_options=0">[Menos Opciones]</a>
    <!-- TMPL_ELSE -->
        <a href="/cgi-bin/koha/opac-search.pl?expanded_options=1">[Más Opciones]</a>
    <!-- /TMPL_IF -->
    <a href="/cgi-bin/koha/opac-search.pl?do=Clear">[Nueva Búsqueda]</a>

<!-- /SEARCH BUTTONS --></div></div>
<div id="pubrange" class="container">
<fieldset>
<!-- PUB RANGE OPTION -->
<legend>Período de publicación:</legend>
<span>Por ejemplo: 1999-2001. También puede usar "-1987" para todo lo publicado antes de 1987, o "2008-" para todo lo publicado después de 2008.</span>
<input type="text" size="30" name="limit-yr" title="Introduzca los terminos de búsqueda" value="">
</fieldset>
<!-- /PUB RANGE OPTION -->
</div>
	<div class="yui-g">
<!-- /BOOLEAN SEARCH OPTIONS -->
    <!-- TMPL_IF NAME="DisplayAdvancedSearchLimits" -->
    <div id="advsearch-itemtype" class="container">
	<fieldset>
    <legend>Limitar a uno de los siguientes:</legend>
    <table>
        <tr>
      <!--TMPL_LOOP Name="itemtypeloop"-->
        <td><input type="checkbox" id="<!-- TMPL_VAR NAME="ccl" -->-<!--TMPL_VAR Name="number" -->" name="limit" value="mc-<!-- TMPL_VAR NAME="ccl" -->:<!--TMPL_VAR Name="code" -->"/><label for="<!-- TMPL_VAR NAME="ccl" -->-<!--TMPL_VAR Name="number" -->"><!-- TMPL_IF name="imageurl"--><img border="0" src="<!--TMPL_VAR Name="imageurl" -->" alt="<!--TMPL_VAR Name="description" -->" /><!-- /TMPL_IF -->&nbsp;
        <!--TMPL_VAR Name="description" --></label></td>
        <!-- TMPL_UNLESS name="count5" --><!-- TMPL_UNLESS name="__last__" --></tr><tr><!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
      <!--/TMPL_LOOP-->
		</tr>
    </table>
	</fieldset>
    </div>
    <!-- /TMPL_IF -->
<!-- TMPL_IF NAME="expanded_options" -->
    <div id="advsearch-shelvingloc" class="container">
	<fieldset>
    <legend>Limit to any of the following shelving locations:</legend>
    <table>
        <tr>
      <!--TMPL_LOOP Name="shelvinglocsloop"-->
        <td><input type="checkbox" id="<!-- TMPL_VAR NAME="ccl" -->-<!--TMPL_VAR Name="number" -->" name="limit" value="mc-<!-- TMPL_VAR NAME="ccl" -->:<!--TMPL_VAR Name="code" -->"/><label for="<!-- TMPL_VAR NAME="ccl" -->-<!--TMPL_VAR Name="number" -->">
        <!--TMPL_VAR Name="description" --></label></td>
        <!-- TMPL_UNLESS name="count5" --><!-- TMPL_UNLESS name="__last__" --></tr><tr><!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
      <!--/TMPL_LOOP-->
		</tr>
    </table>
	</fieldset>
    </div>
    <!--TMPL_IF Name="usmarc"-->
        <!-- SUBTYPE LIMITS -->
            <div id="subtypes" class="container"><fieldset>
            <legend>Límites de subtipo</legend><select name="limit" class="subtype">
                <option value="" selected="selected" class="menuheader">Cualquier audiencia</option>
                    <option value="aud:a">Facil</option>
                    <option value="aud:c">Juvenil</option>
                    <option value="aud:d">Adulto joven</option>
                    <option value="aud:e">Adulto</option>
                </select>
            
            <select name="limit" class="subtype">
                <option value="" selected="selected" class="menuheader">Cualquier contenido</option>
                    <option value="fic:1">Ficción</option>
                    <option value="fic:0">No ficción</option>
                    <option value="bio:b">Bibliografía</option>
                    <option value="mus:j">Grabación musical</option>
                    <option value="mus:i">Grabación no-musical</option>
                </select>
    
            
            <select name="limit" class="subtype">
                <option value="" selected="selected" class="menuheader">Cualquier formato</option>
                    <option value="l-format:ta">Impresión regular</option>
                    <option value="l-format:tb">Impresión grande</option>
                    <option value="l-format:fk">Braille</option>
                    <option value="">-----------</option>
                    <option value="l-format:sd">CD de audio</option>
                    <option value="l-format:ss">Casete de grabación</option>
                    <option value="l-format:vf">Cinta VHS / Videocasete</option>
                    <option value="l-format:vd">DVD video / Videodisc</option>
                    <option value="l-format:co">CD de software</option>
                    <option value="l-format:cr">Sitio Web</option>
                </select>
            
            <select name="limit" class="subtype">
                <option value="">Tipos de contenido adicional/Material impreso</option>
                    <option value="ctype:a">Resúmenes</option>
                    <option value="ctype:b">Bibliografías</option>
                    <option value="ctype:c">Catálogos</option>
                    <option value="ctype:d">Diccionarios</option>
                    <option value="ctype:e">Enciclopedias </option>
                    <option value="ctype:f">Manuales</option>
                    <option value="ctype:g">Artículos jurídicos</option>
                    <option value="ctype:i">Índices</option>
                    <option value="ctype:j">Documento de patente</option>
                    <option value="ctype:k">Discografias</option>
                    <option value="ctype:l">Legislación</option>
                    <option value="ctype:m">Tesis</option>
                    <option value="ctype:n">Revisiones</option>
                    <option value="ctype:o">Comentarios</option>
                    <option value="ctype:p">Textos programados</option>
                    <option value="ctype:q">Filmografías</option>
                    <option value="ctype:r">Directorios</option>
                    <option value="ctype:s">Estadísticas</option>
                    <option value="ctype:t">Informes técnicos</option>
                    <option value="ctype:v">Casos legales y notas</option>
                    <option value="ctype:w">Informes y compendios jurídicos</option>
                    <option value="ctype:z">Tratados </option>
                </select>
    
    </fieldset></div>
    <!--/TMPL_IF -->
    <!--TMPL_IF Name="UNIMARC" -->
        <div id="subtypes_unimarc" class="container"><!-- SUBTYPE LIMITS -->
    <!-- TMPL_INCLUDE NAME="subtypes_unimarc.inc" --></div>
    <!--/TMPL_IF-->
<!--/TMPL_IF-->
        
</div>
<div class="yui-g">

<div class="yui-u first">
<!-- AVAILABILITY LIMITS -->
	<!-- TMPL_UNLESS NAME="singleBranchMode" -->
    <div id="location" class="container"><fieldset><legend>Ubicación y disponibilidad: </legend>
        
        <select name="limit" id="branchloop">
        <option value="">Todas las bibliotecas</option>
        <!-- TMPL_LOOP NAME="branchloop" -->
        <!--TMPL_IF Name="selected"-->
        <option value="branch:<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branchname" --></option>
        <!--TMPL_ELSE-->    
        <option value="branch:<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option>
        <!--/TMPL_IF-->    
        <!-- /TMPL_LOOP -->
        </select>
        
        <div style="margin-top:.4em"><label for="available-items"><input type="checkbox" id="available-items" name="limit" value="disponible"> Sólo artículos disponibles para préstamo o referencia</label></div>
    </fieldset></div>
	<!-- /TMPL_UNLESS -->
<!-- /AVAILABILITY LIMITS -->
</div>
<div class="yui-u">
<!-- RANK LIMITS -->
    <div id="sortby" class="container"><fieldset><legend>Ordenado por: </legend>
        <select id="sort_by" name="sort_by">
<!--TMPL_INCLUDE NAME="resort_form.inc" -->
</select></fieldset></div>
<!-- RANK LIMITS -->
</div>
</div>

<div class="yui-g"><div class="container" style="text-align: center;"><!-- SEARCH BUTTONS -->

    <input class="submit" type="submit" accesskey="s" name="do" title="Buscar" value="Buscar">
    <!-- TMPL_IF NAME="expanded_options" -->
        <a href="/cgi-bin/koha/opac-search.pl?expanded_options=0">[Menos Opciones]</a>
    <!-- TMPL_ELSE -->
        <a href="/cgi-bin/koha/opac-search.pl?expanded_options=1">[Más Opciones]</a>
    <!-- /TMPL_IF -->
    <a href="/cgi-bin/koha/opac-search.pl?do=Clear">[Nueva Búsqueda]</a>

<!-- /SEARCH BUTTONS --></div></div>
</form>

<script type="text/javascript" language="javascript">
    /* This function allows to display a new field to search.
     */
	function add_field() {
		var ButtonPlus = document.getElementById('ButtonPlus');
		var line       = ButtonPlus.parentNode;
		line.parentNode.appendChild(line.cloneNode(true));
		line.removeChild(ButtonPlus);
    }
</script>

</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
