<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Publicaciones periódicas</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<div id="doc" class="yui-t7">
   <div id="bd">
	

<h1>B&uacute;squeda en el cat&aacute;logo</h1>
<!-- TMPL_IF name="no_query" -->
    <div class="warning">Debe ingresar un término para buscar </div>
<!-- /TMPL_IF -->
<form name="f" action="/cgi-bin/koha/serials/subscription-bib-search.pl" method="get">
    <input type="hidden" name="op" value="do_search" />
    <input type="hidden" name="type" value="intranet" />
    <label for="q">Palabra clave</label>
    <input type="text" id="q"  name="q" />
    
    <!-- ITEMTYPE LIMITS -->
        <p>Limitar el tipo a: 
        <select name="itemtypelimit">
	    <option value="">Todo</option>
        <!--TMPL_LOOP Name="itemtypeloop"-->
            <option value="<!--TMPL_VAR Name="code" -->">
                <!--TMPL_VAR ESCAPE="HTML" Name="description" -->
            </option>
        <!--/TMPL_LOOP-->
        </select>
        </p>
    <!-- /ITEMTYPE LIMITS -->

    <input type="submit" value="Buscar">


</form>

</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
