<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Renovación de subscripción de publicación periódica #<!-- TMPL_VAR name="subscriptionid" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">
   #custom-doc { width:39.85em;*width:38.86em;min-width:531px; margin:auto; text-align:left; }
   </style>
</head>
<body>

<div id="custom-doc" class="yui-t7">
<!--TMPL_IF Name="renew"-->
  Suscripci&oacute;n renovada.
  
<script type="text/javascript">
//<![CDATA[
  opener.document.location.reload();
  self.close();
  //]]>
</script>
<!--TMPL_ELSE-->
      <div id="bd">
<form name="f" action="/cgi-bin/koha/serials/subscription-renew.pl" method="post">
		<input type="hidden" name="op" value="renew" />
		<input type="hidden" name="subscriptionid" value="<!-- TMPL_VAR name="subscriptionid" -->" />
		<fieldset class="rows"><legend>Renovación de la suscripci&oacute;n para <!-- TMPL_VAR name="bibliotitle" --></legend>
		<ol><li><label for="startdate">Fecha de Inicio: </label><input type="text" id="startdate" name="startdate" value="<!-- TMPL_VAR name="startdate" -->" /></li>
		<li><fieldset>
		<legend>Duración de la suscripci&oacute;n :</legend>
		<ol><li><label for="numberlength">Número de números:</label><input type="text" id="numberlength" name="numberlength" value="<!-- TMPL_VAR name="numberlength" -->" /></li>
		<li><label for="weeklength">Número de semanas: </label><input type="text" id="weeklength" name="weeklength" value="<!-- TMPL_VAR name="weeklength" -->" /></li>
		<li><label for="monthlength">Número de meses: </label><input type="text" id="monthlength" name="monthlength" value="<!-- TMPL_VAR name="monthlength" -->" /></li></ol></fieldset></li>
		<li><label for="note">Nota para el bibliotecario que atenderá sus pedidos de renovaci&oacute;n: </label>
		<textarea name="note" id="note" rows="5" cols="50"></textarea></li></ol></fieldset>
		<fieldset class="action"><input type="submit" value="Enviar" class="button"></fieldset>
</form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

