<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Publicaciones periódicas &rsaquo; Detalles de suscripción #<!-- TMPL_VAR name="subscriptionid" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" language="javascript">
<!--

// the english words used in display purposes
var text = new Array(_("N&uacute;mero"),_("Volumen"),_("Ítem"),_("Mes"),_("semana"),_("Comienzando con:"),_("Reinicia en:"),_("Seleccione hemisferio:"),_("Del norte"),_("Southern",
"Autumn"),_("Invierno"),_("Primavera"),_("Verano"),_("Otroño "),_("Estación"),_("Año"));


// to display the options section
function options(x,y,z){
var textbox = '';
    // alert("X: "+x+"Y: "+y+"Z: "+z);
    if(x){
        document.f.xfield.value = x;
        if(y){
            document.f.yfield.value = y;
            if(z){
                document.f.zfield.value = z;
            }
        }
    }
}

function confirm_deletion() {
    var is_confirmed = confirm(_("¿Está seguro de que quiere borrar esta suscripci&oacute;n?"));
    if (is_confirmed) {
        window.location="subscription-detail.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->&op=del";
    }
}
function popup(subscriptionid) {
    newin=window.open("subscription-renew.pl?mode=popup&subscriptionid="+subscriptionid,'popup','width=590,height=440,toolbar=false,scrollbars=yes');
}

-->
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Publicaciones Periódicas</a> &rsaquo;Detalles  para la Suscripci&oacute;n #<!-- TMPL_VAR name="subscriptionid" --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
	<!-- TMPL_INCLUDE NAME="serials-toolbar.inc" -->

    <h1>Suscripci&oacute;n para <!-- TMPL_VAR name="bibliotitle" --> </h1>
    <!--TMPL_IF Name="abouttoexpire"--><div class="problem">La suscripción está por finalizar. Debe ser renovada ahora.</div><!--/TMPL_IF-->
    
    <div id="subscription_info">
        <h2>Informaci&oacute;n de la suscripci&oacute;n</h2>
		<ul>
		<li><span class="label">ID de la suscripci&oacute;n: </span><!--TMPL_VAR name="subscriptionid"--></li>
        <li><span class="label">Identidad del bibliotecario :</span> <!-- TMPL_VAR name="librarian" --></li>
        <li><span class="label">Proveedor:</span> <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR name="aqbooksellerid"-->"><!-- TMPL_VAR name="aqbooksellername" -->&nbsp;</a></li>
        <li><span class="label">Registro:</span> <i>(<!-- TMPL_VAR name="bibnum" -->)</i> <a href="/cgi-bin/koha/catalogue/MARCdetail.pl?biblionumber=<!-- TMPL_VAR name="bibnum" -->"><!-- TMPL_VAR name="bibliotitle" --></a></li>
<!-- TMPL_IF name="branchcode" --><li><span class="label">Biblioteca:</span> <!-- TMPL_VAR name="branchcode" -->&nbsp;</li><!-- /TMPL_IF -->
        <!-- TMPL_IF name="serialsadditems" -->
            <li>La recepción de una pub. periódica crea un registro de item.</li>
        <!-- TMPL_ELSE -->
            <li>La recepción de una pub. periódica no crea un registro de item.</li>
        <!-- /TMPL_IF -->
        <li><span class="label">Grace period:</span> <!-- TMPL_VAR name="graceperiod" -->&nbsp;</li>
        <!-- TMPL_IF name="location" --><li><span class="label">Location:</span> <!-- TMPL_VAR name="location" -->&nbsp;</li><!-- /TMPL_IF -->
        <!-- TMPL_IF name="callnumber" --><li><span class="label">Signatura:</span> <!-- TMPL_VAR name="callnumber" -->&nbsp;</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="staffdisplaycount" --><li><span class="label">Number of issues to display to staff</span>:&nbsp;<!-- TMPL_VAR NAME="staffdisplaycount" -->&nbsp;</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="opacdisplaycount" --><li><span class="label">Number of issues to display to the public</span>:&nbsp;<!-- TMPL_VAR NAME="opacdisplaycount" -->&nbsp;</li><!-- /TMPL_IF -->
        <!-- TMPL_IF name="letter" --><li><span class="label">Alerta de socios con:</span> <!-- TMPL_VAR name="letter" -->&nbsp;</li><!-- /TMPL_IF -->
        <!-- TMPL_IF name="notes" --><li><span class="label">Notas:</span> <!-- TMPL_VAR name="notes" --></li><!-- /TMPL_IF -->
        <!-- TMPL_IF name="internalnotes" --><li><span class="label">Notas de administración:</span> <!-- TMPL_VAR name="internalnotes" --></li><!-- /TMPL_IF -->
     </ul>
    </div>
    <div id="subscription_planning">
        <h2>Planificación</h2>
            <p><label>Beginning date:</label> <!-- TMPL_VAR name="startdate" -->
            </p>
            <p><label>Frecuencia (*)</label>
                <!--TMPL_IF name="periodicity16" -->
                        Sin regularidad
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity32" -->
                        Irregular
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity0" -->
                        Desconocido
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity12" -->
                        2/d&iacute;a
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity1" -->
                        1/d&iacute;a
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity13" -->
                        3/semana
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity2" -->
                        1/semana
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity3" -->
                        1/2 semanas
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity4" -->
                        1/3 semanas
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity5" -->
                        1/Mes
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity6" -->
                        1/2 Meses (6/año)
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity7" -->
                        1/cuatrimestre
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity8" -->
                        1/cuatrimestre
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity9" -->
                        2/año
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity10" -->
                        1/año
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity11" -->
                        1/2 años
                <!-- /TMPL_IF -->
              Historia manual:
                <!--TMPL_IF Name="manualhistory"-->
                    <input type="checkbox" checked="checked" disabled="disabled" />
                <!-- TMPL_ELSE -->
                    <input type="checkbox" disabled="disabled" />
                <!--/TMPL_IF-->
            </p>
            <p><label>Patrón numérico:</label>
                <!-- TMPL_IF name="numberpattern1" -->
                    Sólo número
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern2" -->
                    Volumen, Número, Ejemplar
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern3" -->
                    Volumen, Número
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern4" -->
                    Volumen, Ejemplar
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern5" -->
                    Número, ejemplar
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern8" -->
                    Año/Número
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern6" -->
                    Sólo estacional
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern7" -->
                    Ninguno de los de arriba
                <!-- /TMPL_IF -->
            </p>
            <table>
            <tr><td><p>Comienzando con:</p></td>
                <td align="center"><!--TMPL_VAR NAME="lastvalue1"--></td>
            <!--TMPL_IF NAME="lastvalue2"-->
                <td align="center">&nbsp; 
                    <!--TMPL_VAR NAME="lastvalue2"-->
                </td>
            <!--/TMPL_IF-->
            <!--TMPL_IF NAME="lastvalue3"-->
                <td align="center">&nbsp; 
                    <!--TMPL_VAR NAME="lastvalue3"-->
                </td>
            <!--/TMPL_IF-->
            </tr>
            <tr><td><p>Reinicia:</p></td>
                <td align="center"><!--TMPL_VAR NAME="whenmorethan1"--></td>
            <!--TMPL_IF NAME="whenmorethan2"-->
                <td align="center">&nbsp; 
                    <!--TMPL_VAR NAME="whenmorethan2"-->
                </td>
            <!--/TMPL_IF-->
            <!--TMPL_IF NAME="whenmorethan3"-->
                <td align="center">&nbsp; 
                    <!--TMPL_VAR NAME="whenmorethan3"-->
                </td>
            <!--/TMPL_IF-->
            </tr>
            </table>
            <!-- TMPL_IF NAME="irregular_issues" -->
            <p><label>Irregularidad:</label> <!-- TMPL_VAR name="irregular_issues" --> pr&eacute;stamos
            </p>
            <!-- /TMPL_IF -->
            <p><label>Primera llegada: </label> <!--TMPL_VAR name="firstacquidate" -->
            </p>
        <!-- TMPL_IF name="numberlength" --><p><label>N&uacute;mero de pr&eacute;stamos:</label> <!-- TMPL_VAR name="numberlength" --></p><!-- /TMPL_IF -->
        <!-- TMPL_IF name="weeklength" --><p><label>Número de semanas:</label> <!-- TMPL_VAR name="weeklength" --></p><!-- /TMPL_IF -->
        <!-- TMPL_IF name="monthlength" --><p><label>Número de meses:</label> <!-- TMPL_VAR name="monthlength" --></p><!-- /TMPL_IF -->
    </div>
    <div id="subscription_numbering" style="display:none;">
        <h3>C&aacute;lculo de numeraci&oacute;n</h3>
        <p><label>Fórmula de numeración:</label> <!-- TMPL_VAR name="numberingmethod" --></p>
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
                </tr>
                <tr>
                    <td>Agregar</td>
                    <td>
                        <!-- TMPL_VAR name="add1" -->
                    </td>
                    <td>
                        <!-- TMPL_VAR name="add2" -->
                    </td>
                    <td>
                        <!-- TMPL_VAR name="add3" -->
                    </td>
                </tr>
                <tr>
                    <td>una vez cada</td>
                    <td><!-- TMPL_VAR name="every1" --></td>
                    <td><!-- TMPL_VAR name="every2" --></td>
                    <td><!-- TMPL_VAR name="every3" --></td>
                </tr>
                <tr>
                    <td>Cuando es más que</td>
                    <td><!-- TMPL_VAR name="whenmorethan1" --> <!-- TMPL_IF name="innerloop1" --><br />
                        <i>(es <!-- TMPL_VAR name="innerloop1" -->)</i><!-- /TMPL_IF --></td>
                    <td><!-- TMPL_VAR name="whenmorethan2" --> <!-- TMPL_IF name="innerloop2" --><br />
                        <i>(es <!-- TMPL_VAR name="innerloop2" -->)</i><!-- /TMPL_IF --></td>
                    <td><!-- TMPL_VAR name="whenmorethan3" --> <!-- TMPL_IF name="innerloop3" --><br />
                        <i>(es <!-- TMPL_VAR name="innerloop3" -->)</i><!-- /TMPL_IF --></td>
                </tr>
                <tr>
                    <td>Volver a</td>
                    <td><!-- TMPL_VAR name="setto1" --></td>
                    <td><!-- TMPL_VAR name="setto2" --></td>
                    <td><!-- TMPL_VAR name="setto3" --></td>
                </tr>
                <tr>
                    <td>
                            Contador interno
                    </td>
                    <td><!-- TMPL_VAR name="innerloop1" --></td>
                    <td><!-- TMPL_VAR name="innerloop2" --></td>
                    <td><!-- TMPL_VAR name="innerloop3" --></td>
                </tr>
                <tr>
                    <td>
                            Último valor
                    </td>
                    <td><!-- TMPL_VAR name="lastvalue1" --></td>
                    <td><!-- TMPL_VAR name="lastvalue2" --></td>
                    <td><!-- TMPL_VAR name="lastvalue3" --></td>
                </tr>
            </table>
    </div>
    <div id="subscription_issues">
        <h2>Ejemplares de pub. periódicas</h2>
        <table>
        <tr>
            <th>Número de ítem</th>
            <th>Fecha planificada</th>
            <th>Fecha de publicación</th>
            <th>Estado</th>
        </tr>
        <!-- TMPL_LOOP name="serialslist" -->
            <tr>
                <td>
                    <!-- TMPL_VAR name="serialseq" -->
                </td>
                <td>
                    <!-- TMPL_VAR name="planneddate" -->
                </td>
                <td>
                    <!-- TMPL_VAR name="publisheddate" -->
                </td>
                <td>
                        <!--TMPL_IF name="status1" -->
                            Esperado
                        <!-- /TMPL_IF -->
                        <!--TMPL_IF name="status2" -->
                            Disponible
                        <!-- /TMPL_IF -->
                        <!--TMPL_IF name="status3" -->
                            Atrasado
                        <!-- /TMPL_IF -->
                        <!--TMPL_IF name="status4" -->
                            Faltante
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="status7" -->
                            Reclamado
                             <!-- TMPL_IF name="claimdate" -->
                             <!-- TMPL_VAR NAME="claimdate" -->
                             <!-- /TMPL_IF -->
                        <!-- /TMPL_IF -->
                </td>
            </tr>
        <!-- /TMPL_LOOP -->
        </table>
    </div>
    <div id="subscription_summary">
        <h2>Resumen de la suscripci&oacute;n</h2>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td><label>Fecha de Inicio</label></td>
                <td> <!-- TMPL_VAR name="startdate" --> </td>
            </tr>
            <tr>
                <td><label>Fecha final</label></td>
                <td> <!-- TMPL_VAR name="enddate" --></td>
            </tr>
            <tr>
                <td><label>Fecha de comienzo del historial</label></td>
                <td> <!-- TMPL_VAR name="histstartdate" --> </td>
            </tr>
            <tr>
                <td><label>Historial y fecha</label></td>
                <td> <!-- TMPL_VAR name="histenddate" --></td>
            </tr>
            <tr><td><label>Ejemplares recibidos</label></td><td><!-- TMPL_VAR name="recievedlist" --></td></tr>
            <tr><td><label>Ejemplares faltantes</label></td><td><!-- TMPL_VAR name="missinglist" --></td></tr>
            <tr><td><label>Nota no pública</label></td><td><!-- TMPL_VAR name="librariannote" --></td></tr>
            <tr><td><label>Nota pública</label></td><td><!-- TMPL_VAR name="opacnote" --></td></tr>
        </table>
    </div>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
