<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Vencimiento</h1>

<p>Esta herramienta le permite buscar todas las publicaciones periódicas que expirarán antes de una fecha concreta. Esta es una herramienta práctica cuando se hace el presupuesto para adquirir nuevas publicaciones periódicas.</p>
	   
<h3>Buscar</h3>

		<ul>
			<li>Ingrese en su criterio de búsqueda
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: sólo la fecha de caducidad es necesaria</span></li>
			</ul></li>
			<li>Sus resultados aparecerán a continuación de cuadro de búsqueda</li>
			<li>Desde aquí usted puede hacer clic en el título de una publicación periódica y editar el registro con nueva información de suscripción</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->