<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Series</h1>

<h2>¿Qué son los reclamos?</h2>
<p>Los reclamos son avisos que se envían cuando un ejemplar que se estaba esperando no fue recibido por la biblioteca.</p>

<h2>Cómo presento una reclamación?</h2>
<p>Haga una selección de la lista desplegable. El contador 'Todos los proveedores' le da un recuento del número total de reclamaciones en curso a través de todos los proveedores.</p>
<p>Hay dos maneras de presentar un reclamo a un proveedor: </p>
	<ol>
		<li>Usando una carta definida en Avisos. Tenga en cuenta que tendrá que crear el aviso.</li>
		<li>Exportar la informaci&oacute;n de reclamos. Esto permite bajar un archivo delimitado por comas (CSV) a su computadora local con todos los reclamos y permitir un formateo antes de enviarlo al proveedor. </li>
	</ol>

<h2>¿Cómo resuelvo un reclamo?</h2>
<p>El reclamo se resolverá una vez haya cambiado el estado de recepción. Busque la suscripción y cliquee 'Recepción seriales' para localizar y cambiar su estado.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->