<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Publicaciones periódicas</h1>

<h2>P: ¿Qué hace el módulo depublicaciones periódicas?</h2>
<p>el módulo de publicaciones seriadas se utiliza para gestionar suscripciones de la biblioteca. Se trata normalmente de series o revistas, pero en la práctica puede ser cualquier cosa.</p>
<h2>P: ¿Qué necesito antes para poder configurar una suscripción?</h2>
<p>Antes de iniciar una suscripción, necesita dar de alta un 'Proveedor' en Adquisiciones, y un nuevo 'Registro bibliográfico' en Catalogación. Cuando catalogue el nuevo registro, no agregue ítems. El ingreso de ejemplares es manejado por el módulo de publicaciones periódicas.</p>
<h2>P: &iquest;C&oacute;mo puedo crear una nueva suscripci&oacute;n?</h2>
<p>A: Cliquee el botón &ldquo;Agregar suscripción</p>
<h2>P: &iquest;Qu&eacute; se puede hacer cuando no se encuentra una suscripci&oacute;?</h2>
<p>R: Ver los detalles de la suscripción, reecibir cualquier ítem y/o determine lo que aparece en el resumen de suscripci&oacute;n (en el OPAC y en la interfaz para bibliotecarios).</p>
<h3>CONSEJO: usar comodines.</h3>
<p>Si ingresa un título, puede usar el comodín '%': ingresando '%Times%' retorna toda suscripción cuyo título contenga 'Times'. Ingresando 'New York%' retorna toda suscripción cuyo título comienze con 'New York'.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->