<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Recepción depublicaciones periódicas</h1>

<h2>¿Cómo recibo un ejemplar esperado?</h2>
<p>El número del próximo ejemplar debe aparecer en la fila superior. El estado indicará por defecto en espera. Si la publicación periódica llega, entonces seleccione "recibido" del menú desplegable. Si la preferencia SerialAddItems está habilitada, se le pedria ingresar detalles adicionales del ejemplar.</p>
<p>Una vez que usted pulse Guardar el nuevo ejemplar se registrará en el historial de la suscripción.</p>

<h2>¿Cómo recibo un ejemplar no esperado o suplementario?</h2>
<p>Use la  línea en blanco por debajo de la linea del ejemplar esperado para añadir los detalles del ejemplar no esperado o suplementario. Seleccione el estado que corresponda y guarde.</p><h2>¿Qué sucede si un ejemplar no aparece?</h2>
<p>Si un ejemplar no llega  o se retrasa, seleccione dicho estado del desplegable 'Estado'. El ejemplar aparecerá ahora en 'Reclamos' y puede ser administrado desde allí.</p><!-- TMPL_INCLUDE name="help-bottom.inc" -->