<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Añadir una suscripción de publicación seriada</h1>

<h2>¿Qué necesito para configurar una suscripción?</h2>
<p>Antes de iniciar una nueva suscripción, necesita haber configurado:</p>
	<ul>
		<li>un vendedor en adquisiciones que provee la suscripción</li>
		<li>un Biblio sin items al los cuales pueda añadir una suscripción..</li>
	</ul>	.  
<h2>¿Cómo creo una nueva suscripción?</h2>
<p>Hay cuatro secciones en este formulario:</p>

<h3>Paso 1: buscar un proveedor</h3>

<p>Si desea reclamar un ejemplar entonces es necesario elegir a un proveedor en este momento.</p>
<h3>Paso 2: buscar Biblio</h3>

<p>Se debe encontrar el ítem que se acaba de crear en Adquisiciones. Nota: si todavía no se puesto este en adquisiciones, haga clic en Crear registro. Esto lo llevará de vuelta al formulario de pedido.</p>
<h3>Paso 3: completar los detalles en el casillero de Informaci&oacute;n de la Suscripci&oacute;n</h3>
<p>Esto incluye la signatura topográfica, sede original de la publicación periódica y notas.</p>
<p>Seleccione alerta para socio: tendrá que elegir un aviso que podrá ser enviado a los socios cuando un nuevo ejemplar llegue. Para editar este aviso, vaya a Herramientas &gt; Avisos.</p>
<h3>Paso 4: completar los detalles en el casillero de Planeamiento</h3>

<p>Esta es una componente crítica de la gestión de publicaciones periódicas. Con el fin de hacer que el sistema prediga el próximo número, el usuario debe llenar cada uno de estos campos. Una vez completados se rellenará la caja de Cálculo de numeración, de abajo.</p>
<p>Ver &gt; Más detalles sobre planificación</p>
<h3>Paso 5: completar el casillero de duraci&oacute;n de la Subscripci&oacute;n</h3>

<p>Indique la duración prevista de la suscripción de esta publicación periódica.</p>
<p>Con él se inicia la fecha de caducidad en el sistema y también establece una alerta, un mes antes de la caducidad.</p>
<h3>Paso 6: cálculo de numeración</h3>

<p>Si se hizo una selección en la sección de Esquemas de numeración entonces el cálculo de numeración se rellenará automáticamnte y se presentará en esta sección. Sin embargo, si el esquema de numeración es &ldquo;Ninguno de los anteriores&rdquo; entonces se le presentará una formula y el usuario debrá llenarla.</p>
<p>Ver más detalles acerca de la fórmula de cálculo de numeración</p>
<h3>Paso 7: Agregar suscripción</h3>

<p>Una vez que se llena se ve la página de detalles. Si hay un error se puede volver atrás y editar los detalles.</p>
<p>Paso siguiente - Recibir ejemplares (véase la ayuda en línea sobre Recibir ejemplares)</p><h2>¿Cómo se planificar el trabajo?</h2>

<h3>1. Primer Prestamo</h3>

<p>Despliega un calendario &ndash;  elija la fecha de recepci&oacute;n en la Biblioteca. Esta fecha es s&oacute;lamente para fines administrativos. Esta conectado al componente de Reclamos en el M&oacute;dulo de Publicaciones Peri&oacute;dicas. No es la fecha del primer fasc&iacute;culo. &Eacute;sta se seleccione m&aacute;s abajo en el campo de &quot;Comienza con&quot;</p>
<h3>2. Frecuencia</h3>

<p>Utilice la lista desplegable para seleccionar los principales patrones de frecuencia.</p>
<h3>3. Plan de Numeraci&oacute;n</h3>

<p>Mostrar lista de los esquemas  principales de numeraci&oacute;n: </p>
	<ul>
		<li>N&uacute;mero</li>
		<li>Volumen, Número, Ejemplar</li>
		<li>Volumen, Número</li>
		<li>Volumen, Ejemplar</li>
		<li>Número, ejemplar</li>
		<li>Sólo estacional [a]</li>
		<li>Ninguno de los de arriba</li>
	</ul>
<p>Si resulta &ldquo;ninguno de arriba&rdquo;, se le brindará una formula de cáculo de numeración en el fondo de la pantalla.</p>
<p>El sistema maneja excepciones (ej. un ítem se recibe mensualmente pero solo 10 numeros en el año). Establezca el valor del máximo número de ejemplares esperados en el año. Entonces cliquee el enlace 'Irregular'. Seleccione cuales instancias se saltearán.</p>
<h3>4. Comienza con</h3>

<p>Despliega un calendario &ndash;  elija la fecha del primer fasc&iacute;culo. Por ejemplo, si la Biblioteca esta suscripta a una revista mensual y el primer numero que se recibe es el de Febrero, deber&iacute;a elegir el 1&ordm; de Febrero.</p><h2>Fórmla de cálculo de la numeración</h2>
<p>La numeración de los ejemplares recibidos puede involucrar una fórmula compleja. La "fórmula de numeración" puede incluir cualquier texto y/o números. 3 variables especiales se pueden usar para definir la fórmula de cálculo,  <b>{X}</b>, <b>{Y}</b> y <b>{Z}</b>. Los valores XYZ son calculados con el método siguiente:</p><!-- TMPL_INCLUDE name="help-bottom.inc" -->