<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Acerca de Koha</h1><p>Esta sección ofrece información acerca de su instalación Koha. Es útil para los desarrolladores y si  desea informar de errores o problemas a la comunidad.</p>

<h2>Información del servidor</h2>

<p>Esta sección le indica que versión de Koha y software suplementario está utilizando. Si es posible, cuando informe de problemas en el Koha  siempre dé los detalles de la versión de Koha que está usando. Koha se desrrola continuamente y es muy probable que la actualización a una versión más reciente proporcionará algunos de los parches y correcciones de errores que usted necesita.</p>

<h2>Módulos de perl</h2>

<p>Esta pestaña lista todos los módulos Perl que utiliza el Koha y si los tiene instalados o no, y el número de versión. Si usted está reportando un problema, el desarrollador puede pedirle el estado de los módulos Perl que tiene instalado.</p>

<h2>Equipo Koha</h2>

<p>Koha es desarrollado y apoyado por un gran número de desarrolladores de todo el mundo. Gracias a todos los desarrolladores y bibliotecas que apoyan Koha</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->