<!-- TMPL_INCLUDE NAME="help-top.inc" -->
<h2>¿Puedo ingresar, que sigue?</h2>

<p>Si es la primera vez que ingresa a Koha, deberá ir a 'Administración de Koha' y configurar todos los parámetros del sistema, especialmente las categorías de usuario.</p>

<p>Una vez que se hayan creado categorías de socios, usted debe crear un nuevo socio  'Socio' con permisos de superbibliotecario. Luego, use ese usuario para acceder en vez de usar el usuario de la instalación.</p>

<p>Otras sugerencias: </p>

<ul> <li><a href="http://kohadocs.org">Leer la documentación de Koha</a></li> <li><a href="http://wiki.koha.org">Lea/Escriba en la wiki de Koha</a></li> <li><a href="http://koha.org/community/mailing-lists.html">Leer y contribuya a los debates</a></li> <li><a href="http://bugs.koha.org">Informe sobre errores de Koha</a></li> <li><a href="http://wiki.koha.org/doku.php?id=en:development:git_usage">Enviar parches a Koha usando Git (Sistema de Control de Versión)</a></li> <li><a href="http://koha.org/community/irc.html">Chat con usuarios y desarrolladores de Koha</a></li> </ul>  

<h2>¿Puedo editar la ayuda en línea? </h2>

<p>Usted puede editar la ayuda en línea a través del cliente administrativo de Koha pulsando el botón &quot;Editar ayuda&quot;. Se ha diseñado esta característica para poder documentar dentro de Koha los usos y políticas de la biblioteca. </p>

<p><strong>NOTA IMPORTANTE: La ayuda en linea se sobrescribe durante una actualización de Koha.</strong></p>

<p>Como parte del proceso de actualización su ayuda en línea será sobreescrita con la nueva ayuda de la instalación. Si desea mantener una copia de su ayuda en línea, debe indicar a su Administrador de Sistema para que actualice el directorio de ayuda en linea,  en el árbol de archivos de Koha.</p>

<p>La ayuda en linea de directorio es: <pre>&nbsp;/koha-tmpl/intranet-tmpl/prog/en/modules/help</pre></p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->