<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	
	<h1>Ayuda en l&iacute;nea</h1>
	<p>Lo siento, no hay ayuda para este tema</p>
<form action="/cgi-bin/koha/edithelp.pl" method="post">
<input type="hidden" name="referer" value="<!-- TMPL_VAR NAME="referer" -->" />
<input type="hidden" name="type" value="addnew" />
<input type="submit" name="submit" class="submit" value="Agregar Ayuda">
</form>
	
<!-- TMPL_INCLUDE name="help-bottom.inc" -->