#login-area a.edit, #login-area a.delete, #login-area a.edit:hover, #login-area a.delete:hover {
	border-bottom: none;
	display: block;
	padding: 5px 0;
	text-align: center;
}

#login-area a.edit:hover {
	background: #ccc;
	color: #036;
}

#login-area a:visited {
	color: #006;
}

#login-area a:hover {
/*	border-bottom: 1px solid #3a75ae;*/
	color: #069;
}

body.login-area {
	background: #f9fcfe;
}

#login-area form, label input {
	margin: 0;
	padding: 0;
}

#login-area input:focus, #login-area textarea:focus, $login-area label:focus {
	background: #fff;
	border: 1px solid #686868;
}

#login-area label {
	display : block;
	margin : .2em 0;
}

#login-area #logo { margin-bottom: 2em; }

#login-area {
	background: #fff;
	border: 1px solid #a2a2a2;
	margin: 4em auto;
	padding: 1.5em;
	position : relative;
	top : auto;
	right : auto;
	width: 25em;
}

#login-area #login_error {
	background: #c00;
	border: 1px solid #a40000;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: .5em;
	text-align: center;
}

#login-area h1 {
	background: url(../../img/koha-logo.gif) no-repeat top center;
	margin-top: 0;
	margin-bottom : .5em;
}

#login-area h1 a {
	display: block;
	text-indent: -1000px;
	height: 74px;
	border-bottom: none;
}

#login-area input {
	padding: 3px;
}

#login-area ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#login-area ul li {
	display: inline;
	margin-left: 1.4em;
	text-align: center;
}

#login-area #userid, #password {
	font-size: 1.7em;
	width: 97%;
}

#login-area #branch {
	width : 99%;
}

#login-area .submit {
	font-size: 1.4em;
	padding : .3em .6em;
}


#footer {
        text-align: center;
        border-top: 1px solid #ccc;
        padding-top: 1em;
        font-style: italic;
}

#login-area .submit input, #login-area .submit input:focus, #login-area .button {
	background: url(../../img/button-bg.gif );
	border: 1px solid #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
	padding: 0.25em;
}

#login-area .submit input:active, #login-area .button:active {
	background: #f4f4f4;
	border: 1px solid #999;
	border-left-color: #999;
	border-top-color: #999;
}

#login-area .submit, #login-area .editform th, #login-area #postcustomsubmit {
	text-align: right;
}

#login-area textarea, #login-area input, #login-area select {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font:  13px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px;
	padding: 3px;
}
