<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Fondos y presupuestos</h1>

<p><span style="background-color: #ffe599">CONSEJO: los fondos  pueden ser ignorados si  en  Preferencias globales del sistema en la parte 'Adquisiciones' ponemos  "simples".  Los fondos son sólo útiles usando poniendo  "normales." en  'Adquisiciones'.</span></p>

<p>&quot;Fondos&quot; son cuentas que Ud. establece para realizar el seguimiento de sus gastos para materiales de la biblioteca. Pueden ser utilizados para cualquier tipo de material y debe coincidir con las líneas de su presupuesto de materiales. Por ejemplo, si su biblioteca establece una línea presupuestaria para libros, otro para materiales audiovisuales, una tercera línea para revistas, y una cuarta línea presupuestaria para las bases de datos electrónicas, entonces usted tendría cuatro fondos.</p>

        <p><span style="background-color: #ffe599">
AYUDA: La primera vez que acceda a esta página, le pedirán que agregue su primer fondo de libro -- a partir de entonces  tendrá  la opción de editar y borrar fondos de libros.</span></p>

	<h2>Agregar un Fondo</h2>
	<ul>
		<li>Haga clic en 'Nuevo fondo'</li>
	</ul>
	<ul>
		<li>Cada fondo tiene un único código de fondo, limitado a un máximo de cinco caracteres, que lo identifica</li>
		<li>Ingrese en nombre de un fondo para proporcionar una mayor información a los empleados</li>
		<li>Funds can be library specific if needed, but this is an optional field</li>
		<li>Una vez que se crea un fondo se pueden aplicar un presupuesto  a él</li>
		<li>Haga clic en 'Añadir presupuesto' al lado del fondo que desea editar</li>
		<li>IMPORTANTE: Sus fechas no se guardarán correctamente a menos que usted haya establecido su formato de fecha ( 'dateformat') en preferencias del sistema globales bajo el título 'I18N/L10N ' - HAGA ESTO ANTES de configurar presupuestos </li>
	</ul>

	<ul>
		<li>Una vez que los presupuestos se han añadido se puede ver y buscar haciendo clic en 'Mostrar todos los presupuestos' bajo la lista de fondos </li>
		<li>Información sobre el presupuesto también es accesible a través del módulo 'Adquisiciones'</li>
	</ul>
	<ul>
		<li>Desde este módulo se puede ver fácilmente qué se ha gastado de cada presupuesto </li>
	</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->