<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Tipos de autoridad</h1>

<p>Puede definir tantos tipos de Autoridad como quiere.</p>
	<ul>
		<li>con el botón de estructura MARC, puede definir la estructura MARC de un tipo dado de autoridad</li>
		<li>La etiqueta informada debe contener un n&uacute;mero de etiqueta MARC. Cada subcampo en la etiqueta seleccionada ser&aacute; copiada en la 'etiqueta de destino' en el libro. Por ejemplo, en UNIMARC, la etiqueta 200 de autoridad personal ser&aacute; informada a 600, 700, 701, dependiendo de lo que cliquee en el editor MARC de registros.</li>
		<li>El resumen contiene una descripcción tipo 'ISBD' para explicar como esta entrada debe mostrarse en la lista de resultados. La sintaxis es: 
		<ul>
			<li> [xxxFFFSyyy] donde xxx es hasta 3 dígitos ANTES del campo, FFF el número del campo, S el código de subcampo, yyy hasta 3 dígitos DESPUÉS del campo.</li>
			<li>cosas fuera de [] se guardan en versión original (incluyendo HTML)</li>
			<li>los campos repetibles son administrados.
			<ul>
			</ul></li>
<p>IMPORTANTE</p>
<p>En la hoja de trabajo, la etiqueta informada <strong>DEBE</strong> contiene el subcampo $9, activado en la pestaña donde está la etiqueta, y escondida (escondida o bien omitida, pero el campo no tiene razón de aparecer de todas maneras). El subcampo $9 en un biblio puede contener el numero de autoridad (el número interno de Koha)</p>
		</ul></li>
	</ul>
	<h1>Crear tipos de autoridad</h1>

<p>Crear y gestionar hojas de trabajo para autoridades: esto define las características de sus registros MARC (definiciones de campos y subcampos). Para crear una nueva hoja de trabajo...</p>

	<ul>
		<li>Ir al módulo de  'Administración'.</li>
		<li>Seleccionar 'Tipos de autoridad'</li>
		<li>Haga clic en 'Nueva hoja de trabajo de autoridades'</li>
		<li>Complete en los campos que describen su nuevo tipo de autoridad<br/>
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: en la 'Campo de autoridad a copiar', introduzca el campo de autoridad que debería ser copiado del registro de autoridad al registro bibliográfico. Por ejemplo, en MARC21, el campo 100 en el registro de autoridad debe ser copiado directamente al campo 100 del registro bibliográfico</span></li>
		</ul></li>
		<li>Haga clic en 'Enviar'' </li>
		<li>Para actualizar la hoja de trabajo MARC para su nuevo tipo de autoridad, haga clic en 'Estructura MARC' junto a la autoridad </li>
		<li>Desde la siguiente pantalla puede modificar campos, subcampos y añadir etiquetas adicionales</li>
		<li>Al cliquearen 'Editar' podrá alterar la información relacionada con el campo</li>
		<li>Al cliquear en 'Subcampos' podrá alterar todos los subcampos relacionados con ese campo</li>
		<li>Al cliquear en 'Editar subcampos' podrá modificar la información de cada subcampo</li>
		<li>Después de hacer sus cambios, haga clic en&quot; Guardar cambios &quot;en la parte superior de la pantalla</li>
		<li>Para eliminar un subcampo, haga clic en el enlace 'Eliminar' junto al campo que desea editar</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->