<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administración de estructura de etiquetas MARC</h1>

<p>Koha le permite especificar cuales etiquetas MARC quiere usar y cuales quiere ignorar. Cuando descargó e instaló Koha, también obtuvo la lista entera de etiquetas MARC21 y subcampos de uso corriente. Ahora necesita usar la página de administración para corregir esta lista y decir a Koha que etiquetas quiere usar y como quiere usarlas.</p>
<p>Puede definir la estructura de etiqueta MARC para cada hoja de trabajo que se  ha definido</p>

<p>Si está SEGURO que nunca utilizará una etiqueta MARC, entonces puede borrarla, pero ya que esto no redundará en una mejora de la performance, es mejor dejarla como está. Sin embargo, puede que desee agregar etiquetas. Si usa viejas etiquetas MARC que no están en la lista provista por Koha, use la página de administración de estructura de etiquetas MARC para agregarla. De la misma manera, probablemente deberá agregar la etiqueta de reservas que use, o al menos marcar la estructura de subcampo de la etiqueta 852, si la usa para reservas.</p>

<p>Editar subcampos de la p&aacute;gina de estructura de etiqueta de MARC consume mucho tiempo , pero es  muy importante; es estar seguro al pulsar el link del subcampo para cada etiqueta en su estructura de etiqueta de MARC.</p>
<p>Para cada subcampo puede poner :</p>
<ul>
<li>repetible : cuando puede repetirse o no. Si se puede repetir, separe los valores por un | en el editor de MARC cuando quiera tener el subcampo dos veces</li>
<li>Obligatorio: marca si el campo es obligatorio o no. Si es obligatorio, el catalogador no puede agregar el registro si el subcampo está vacío.</li>
<li> Buscar tambi&eacute;n: una lista de campos que Koha tambi&eacute;n buscar&aacute; cuando el socio haga una b&uacute;squeda en el subcampo</li>
<li>Enlace de Koha: <b>muy importante</b>. Koha es multi-MARC. No sabe lo que significa el 245$a, ni tampoco 200$f (!esos 2 campos son el título en MARC21 y UNIMARC!). Por lo tanto en esta lista se puede  "mapear" un subcampo de MARC con su significando. Koha mantiene constantemente la consistencia entre un subcampo y su significando. Cuando el usuario desea buscar en "título", este enlace se utiliza para encontrar lo que se busca (245 si es MARC21, 200 si es UNIMARC).</li>
<li>Texto para bibliotecario: lo que aparece antes del subcampo en el interfaz de bibliotecario</li>
<li>Texto para OPAC: lo que aparece antes del campo en el OPAC. De estar vacio, el texto para el bibliotecario es usado en su lugar</li>
<li>Administrado en  pestaña: se refiere a la pestaña donde se muestra el subcampo. Ignorar significa que el subcampo no se muestra. </li>
<li>hidden : allows you to select possible visibility conditions. Each section OPAC INTRANET or Editor can be set separately:</li>
<li><b>Es un campo de enlace: seleccione esto si desea utilizar este campo para vincular otras autoridades a esta autoridad. El kohafield debe ser auth_header.linkid o cualquier otro subcampo en este campo:</b>
<li> URL: si está seleccionado, el subcampo es una URL y puede ser cliqueada</li>
<li>Auth value : means the value is not free, but in the authorized value list of the selected type</li>
<li>tesauro: muestra el tipo de autoridad</li>
<li>plugin: significa que el valor es calculado o administrado por un plugin. Los plugins pueden hacer casi cualquier cosa. Por ejemplo, en UNIMARC hay plugins para  cada 1xx que son campos codificados. El plugin es una ayuda enorme para el catalogador. Hay tambi&eacute;n dos plugins (unimarc_plugin_210c y unimarc_plugin_225a)  que pueden de forma "m&aacute;gica " encontrar el editor desde el  ISBN, y la lista de la colecci&oacute;n para el editor.</li>
<li>
<li><b>Ejemplo de registro de autoridad de materia MARC21 </b>
<ul><li>Use el campo 035$a para su auth_header.authid y 035$8 para auth_header.authtypecode. Asegúrese de que su índice Zebra de autoridades indice estos campos</li>
<li>Use el campo 150 para su encabezamientos de materia</li>
<li>Utilice el campo 750$9 (agregar el subcampo si no estaba presente) para auth_header.linkid. Seleccionar <b>Es un campo de la vinculación</ b>. Usted puede usar cualquier subcampo para vincular pues $9 no es hardcoded
<li>Al añadir o modificar una autoridad al hacer clic en ... lo que aparecerá junto a 750$9 le permitirá buscar una autoridad y vincularla a este registro. Puede repetir la etiqueta 750 y añadir todos los vínculos que  desee</li></ul>
</li>
</ul>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->