<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administraci&oacute;n de valores autorizados</h1>

<p>Koha le permite restringir los valores que los catalogadores pueden colocar en algunos subcampos de MARC a ciertos valores "autorizados" predefinidos. Estos valores autorizados son definidos aquí.</p>
	<ul>
		<li>HINT : if a subfield is non mandatory, Koha automatically adds an empty value to the authorized value list, that is selected by default. If the subfield is mandatory, no empty value is added (and you should NOT add it in the list, as it's an illegal value !)</li>
		<li>HINT2 : in the MARC editor, the list is ordered by Text, NOT by value. So you can define a default value by putting a space before the value you want to see first. For example, if your list is related to language, you can set &quot;ENG&quot; as authorized value and &quot; English&quot; as text. The space will order &quot;ENG&quot; as first default value, and the space won't be shown (because HTML automatically discard useless spaces). Super hint : you can put a value 1st with N spaces, then another one 2nd with N-1 space,..., a value in Nth position with 1 space. Don't abuse of this feature, it's easier to find a value in an alphabetical order. It should be used only to have a default value</li>
	</ul>
<p>Koha automatically sets up authorized value categories for your item types and branch codes, and you can link these authorized values to MARC subfields when you set up your MARC tag structure.</p>
<p> </p>
<h3>¿Porqué debo definir valores autorizados para etiquetas MARC?</h3>
<p> Valores Autorizados crea un "vocabulario controlado" para su personal. A modo de ejemplo, asumamos que su instalación Koha es utilizada por varias bibliotecas, y usted usa MARC 21. Es posible que desee limitar el subcampo MARC de còdigo institucional 850a  a solamente estas instituciones. En ese caso, puede definir una categoría de valores autorizados (tal vez llamada "INST") e ingresar los códigos de eses instituciones como los valores autorizados para esa categoría.</p>
    <span style="background-color: #ffe599">
CONSEJO:  Koha autom&aacute;ticamente establece categor&iacute;as de valores autorizados para los tipos de ítem y los códigos de sede, y puede unir estos valores autorizados a los subcampos de MARC cuando establece su estructura de pestañas MARC.</span>.
   
   <strong>Valores autorizados existentes</strong>
Koha viene con varias categorías y valores predefinidos que es probable que use su biblioteca, por ejemplo 'Perdidos'.

	<ul>
		<li>Asort1
		<ul>
			<li>asociado a adquisiciones, esto puede usarse para propósitos estadísticos</li>
		</ul></li>
		<li>Asort2
		<ul>
			<li>asociado a adquisiciones, esto puede usarse para propósitos estadísticos</li>
		</ul></li>
		<li>Bsort1
		<ul>
			<li>asociado a socios, esto puede usarse para propósitos estadísticos</li>
		</ul></li>
		<li>Bsort2
		<ul>
			<li>asociado a socios, esto puede usarse para propósitos estadísticos</li>
		</ul></li>
		<li>CCODE
		<ul>
			<li>código de colección (aparece cuando edite un ítem)</li>
		</ul></li>
		<li>DAÑADO
		<ul>
			<li>la descripción de un ítem marcado como dañado (aparece cuando se edita un ítem)</li>
		</ul></li>
		<li>HINGS_AS
		<ul>
			<li>
		    
valor codificado de la reserva<strong style="color: #0000ff">??</strong></li>
		</ul></li>
		<li>HINGS_
		<ul>
			<li>
		    
valor codificado de la reserva<strong style="color: #0000ff">??</strong></li>
		</ul></li>
		<li>HINGS_PF
		<ul>
			<li>
		    
valor codificado de la reserva<strong style="color: #0000ff">??</strong></li>
		</ul></li>
		<li>HINGS_RD
		<ul>
			<li>
		    
valor codificado de la reserva<strong style="color: #0000ff">??</strong></li>
		</ul></li>
		<li>HINGS_UT
		<ul>
			<li>
		    
valor codificado de la reserva<strong style="color: #0000ff">??</strong></li>
		</ul></li>
		<li>LOC
		<ul>
			<li>		    
ubicación en estantería (por lo general aparece cuando se edita un ítem)</li>
		</ul></li>
		<li>PERDIDO
		<ul>
			<li>descripción de items marcados como perdidos (aparecen cuando se edita un ítem)</li>
		</ul></li>
		<li>NOT_LOAN
		<ul>
			<li>razones por las que un título no es para préstamo</li>
		</ul></li>
		<li>RESTRINGIDO 
		<ul>
			<li><strong style="color: #0000ff">??</strong></li>
		</ul></li>
		<li>STACK
		<ul>
			<li><strong style="color: #0000ff">??</strong></li>
		</ul></li>
		<li>SUGERIR
		<ul>
			<li>la lista de sugerencias de los socios rechazadas o razones de aceptación (aparece cuando se administran las sugerencias)</li>
		</ul></li>
		<li>RETIRADO
		<ul>
			<li>la descripción de un ítem retirado (aparece cuando se edita un ítem)</li>
		</ul></li>
	</ul>   
   <strong>Ver valores autorizados</strong>

	<ul>
		<li>Para ver los valores autorizados definidos para una categoría que ya existe como 'Lost', seleccione 'Lost' en el menú desplegable de la categoría</li>
		<li>Entonces, usted puede ver los valores definidos para la categoría &quot;POerdido&quot; y modificarlos si lo desea.</li>
	</ul><strong>   
   Agregar valor autorizado</strong>

	<ul>
		<li>Para agregar un nuevo valor en una categoría existente,  haga clic en 'Nuevo valor autorizado'</li>
		<li>Introduzca el valor y la descripción y seleccione un icono si lo desea</li>
		<li>Cuando haya finalizado, haga clic en 'Guardar'</li>
	</ul><h1>   
   Editar valores autorizados<br/></h1>
	<ul>
		<li>Selecciones una categoría del menú desplegable 'Mostrar Categoría'</li>
		<li>Haga clic en 'Editar' al lado de los valores autorizados que desea editar</li>
		<li>Haga los cambios que desea y haga clic en 'Guardar'</li>
		<li>
	    <span style="background-color: #ffe599">
CONSEJO: tenga cuidado con cambiar el 'Valor autorizado', ya que puede estar asociado con registros existentes</span>.</li>
	</ul><h2></h2> <h1><strong>   
   Agregar una nueva Categoría de valor autorizado<br/></strong></h1>

<h2></h2> <strong><br/></strong>
	<ul>
		<li>Para agregar una nueva categoría, haga clic en 'Nueva categoría' </li>
		<li>Complete los campos  'Categoría', 'Valor autorizado' y 'Descripción'<br/>
		<ul>
			<li>
		    <span style="color: #ff0000">
IMPORTANTE: El nombre de la categoría debe tener 8 caracteres o menos. También, sólo ingrese un valor autorizadoa para la categoría. Puede editar y añadir más después de guardar la categoría.</span></li>
		</ul></li>
		<li>Haga clic en 'Guardar' </li>
		<li>Ud. ha añadido una nueva categoría y puede de inmediato empezar a añadir más valores autorizados a esa categoría pulsando 'Nuevo valor autorizado para ...'</li>
	</ul>
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->