<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Hoja de trabajo bibliográfica</h1>

<p>biblio frameworks are used to catalog your biblios.</p>
	<p>A diferencia de Koha 2.0, en esta versión puede tener más de una hoja de trabajo para catalogar de manera diferente materiales varios. Puede, por ejemplo, definir una hoja de trabajo para monografías, una para publicaciones periódicas, una para URL...</p>
	<p>Una vez que se cree un tipo de hoja de trabajo, puede cliquear en "estructura MARC" para definir la estructura exacta MARC. La primera vez, Koha pedir&aacute; que seleccione una hoja de trabajo existente para copiar en la nueva. Así no tendrá quedefinir toda la estructura de MARC de nuevo</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->