<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socio, categorías</h1>

<p>Aqu&iacute; es donde definen los tipos de usuarios de su biblioteca y la forma en que son administrados.</p>

<h2>Categor&iacute;as,  descripciones y tipos</h2>
<p>Comenzar asignando un C&oacute;digo de Categor&iacute;a y una Descripci&oacute;n a cada categor&iacute;a de usuario. Cada Categor&iacute;a puede ser una de las siguientes cinco:</p>
	<ul>
		<li>Usuarios adultos: puede ser enlazado como "garante" a otros usuarios que dependen de él. Este es el tipo de usuario por defecto.</li>
		<li>Socios infantiles: es una categor&iacute;a de socio que tiene un "garante"</li>
		<li>Socios institucionales: puede utilizarse para miembros institucionales. Por ejemplo, otras bibliotecas que toman prestamos de esta.</li>
		<li>Professional Patrons: can also be associated with a guarantor (usually an organization).</li>
		<li>Personal administrativo: Un miembro del personal de la biblioteca.</li>
		<li>Socio estadístico: prestar a un socio de este tipo crea un registro estadístico (de uso local) pero no se circula material.</li>
	</ul>
	
<h3>Nota sobre prmisos</h3>
<p>Socios encualquier categoría pueden tener asignado permisos en la interfaz administrativa. El tipo de usuario administrativo tiene características se seguridad adicionales respecto de los otros tipos.</p>

<h2>Per&iacute;odo de asociaci&oacute;n (meses)</h2>
<p> El período de asociación es un número que indica por cuantos meses el socio es asociado. Si las asociaciones nunca expiran, ponga este a un  número extremadamente alto  ( &gt;= 99).</p>

<h2>L&iacute;mite superior de edad  y edad requerida</h2>
<p>El límite superior de edad y edad requerida establecen los parmetros de edad para este tipo de socio. Si usted consider que los socios infantiles son aquellos con edades entre 2 y 18 años, por ejemplo, la edad requerida sería  '2' y el  límite superior de edad será '18'.  Si no hay límite superior de edad superior, ponga este valor a 99 (el más alto permitido).</p>

<h2>Costo de asociaci&oacute;n y costo de la reserva</h2>
<p>El pago de la inscripci&oacute;n o de la reserva (si hay alguna) deben introducirse como n&uacute;meros enteros o con seis lugares decimales, sin la notaci&oacute;n de moneda (e.g. "1.250000" en vez de "$1.25 ").</p>

<h2>Aviso de retraso requerido</h2>
<p>El aviso de retraso requerido le permite evitar avisos atrasados generados para este tipo de socio.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->