<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Prueba de la hoja de trabajo bibliográfica MARC</h1>

<p>Una vez que ha completado el proceso de establecer sus hojas de trabajo MARC y controlado el mapeo de MARC a Koha, este programa controla si hay errores importantes en su configuración MARC.</p>

<p>Esta comprobaci&oacute;n del MARC no garantiza que serán de su agrado las primeras pantallas MARC que se le presentarán. Simplemente se comprueban erroresde funcionamiento. Probablemente usted deberá revisar sus preferencias MARC varias veces antes de estar completamente satisfecho. Asegurese de correr la prueba de hojas de trabajo bibliográficas después de cada revisión.</p>
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->