<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ciudades y pueblos</h1>

<p>Este parámetro le ayuda a definir las ciudades y los pueblos donde viven sus usuarios.</p>
<h2>Agregar una nueva ciudad</h2>
		<ul>
			<li>		   
		   Haga clic en 'Nueva ciudad'</li>
			<li>		   
		   Introduzca el nombre de la ciudad o el pueblo y el código postal</li>
			<li>		   
		   Haga clic en 'Enviar'' </li>
			<li>		   
		   Ud. puede editar/borrar sus ciudades y pueblos desde la página 'Ciudades y Pueblos'</li>
			<li>		   
		   Estos campos aparecen con un menú desplegable al momento de agregar/editar un socio. Esto se hace para que sea más fácil introducir datos</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->