<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Acerca de las fuentes de clasificación</h1>

<p>Defina fuentes de clasificaci&oacute;n (esquemas para signaturas) usados en su colecci&oacute;n. Defina tambi&eacute;n reglas de alfabetizaci&oacute;n para ordenar signaturas.</p>
	   
<p><strong>IMPORTANTE:</strong> Usted no tiene la opción de 'definir' una nueva regla de presentación. En la actualidad, las reglas de presentación y clasificación están definidas estáticamente con opciones disponibles en el menú desplegable al crear o editar un 'fuente de clasificación' o 'regla de alfabetización'. </p>
	   
<p><strong>AYUDA:</strong> En el futuro, esta características serán expandidas para permitir que las nuevas reglas de alfabetización puedan ser creadas (definidas) sobre la marcha. En otras palabras, además de elegir una rutina de ordenación estática o regla de llenado, usted podrá definir otras nuevas. </p>

<h1>Para agregar una nueva 'Fuente de clasificación'</h1>
		<ul>
			<li>Haga clic en 'Nueva fuente de clasificación'</li>
			<li>Ingrese un 'C&oacute;digo de origen de la Clasificaci&oacute;n'</li>
			<li>Ingrese una descripción de su nueva fuente de clasificaci&oacute;n</li>
			<li>Tenga en cuenta si la fuente de clasificación está en uso (marque la casilla  si es 'sí' y no la marque si es 'no')</li>
			<li>Selecciones  una "regla de alfabetización' en el menú desplegable para asociar con su nueva fuwente de clasificación</li>
			<li>Haga clic en 'Guardar' </li>
		</ul>	   
<p>IMPORTANTE: 'Fuente en uso? controla que tipo de fuente está disponible en el editor de ítem. Por ejemplo, Koha dispone de reglas Dewey y LCC, pero una biblioteca que use Dewey no querrá que un catalogador use inadvertidamente LCC. Para evitar esto, active 'Fuente en uso?' solo para la fuente de clasificación Dewey y desactívela para todas las otras.</p>

<h1>Para agregar una nueva 'Regla de alfabetización'</h1>
		<ul>
			<li>Haga clic en 'Nuevas reglas de alfabetización'</li>
			<li>Ingrese un 'Código para regla de alfabetización' </li>
			<li>Ingrese  una 'Descripción' para su nueva regla de alfabetización</li>
			<li>Selecciones  una 'rutina de alfabetización' en el menú desplegable para que se asocie a una nueva regla de llenado</li>
			<li>Haga clic en 'Guardar' </li>
		</ul>
		
<h1>Para editar una nueva 'Fuente de clasificación' o 'Regla de llenado' ...</h1>
		<ul>
			<li>Haga clic en 'editar' junto a la 'fuente de clasificación' o 'regla de alfabetización' que desea editar </li>
			<li>Editar</li>
			<li>Haga clic en 'Guardar' </li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->