<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administraci&oacute;n de monedas</h1>

<p>Defina las monedas con las que trabaja.</p>

<p>Usted debe definir por lo menos su moneda local aquí, dándole un nombre (como US DOLAR o EURO) y fijando la 'tarifa' en 1. Si usted hace operaciones con vendedores que cobran en una moneda diferente, incorpore un nombre para esa moneda (ej. PESO) y fije el cambio aproximado comparado con su moneda. (Nota: los nombres deben limitarse a 10 caracteres o menos). La tarifa de cambio se utiliza para calcular los remanentes en su presupuesto para materiales cuando usted compra utilizando adquisiciones 'normales'.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->