<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administraci&oacute;n de tipos de ítem</h1>

<p>Puede definir tantos tipos de art&iacute;culo como quiera.</p>
<p>Los tipos de itemso son las 'categorias' en que pueden estar los items de la biblioteca. Por ejemplo, Ud. deseará tener video cassettes en una categoría diferente que libros de no ficción, y misterio en una categoría diferente que libros de dibujos para niños. Si está usando un SIB comercial, tendrá todos sus materiales divididos en tales categorías: Ahora debe decirle a Koha cuales son sus categorías.</p>
<p>El código itemtype está limitado a cuatro caracteres. Este código es mostrado raramente por Koha; en cambio la descripción del tipo será lo que verán los usuarios.</p>
<p> &quot;Alquiler&quot; es cualquier cantidad que podría cobrar a los usuarios para el préstamo de ítems de un cierto tipo (como vídeos).</p>
<p> &quot;Renovaciones permitidas&quot; indica cuantas veces un ítem  de este tipo puede ser renovado.</p>
<p>Los tipos de ítem son &uacute;tiles para muchas cosas, y  <strong>muy</strong> importante para controlar como trabaja Koha :</p>
	<ul>
		<li>Los socios pueden buscar sobre tipos de items</li>
		<li>Las reglas de préstamo se definen para los tipos de items  (y para los tipos de socio/sedes)</li>
	</ul>
<p> Establecer los tipos de art&iacute;culo es una de las primeras cosas que deber&iacute;a hacer despu&eacute;s de la instalaci&oacute;n del software Koha.</p>

<h3>Agregar y editar nuevo Tipos de ítems</h3>
	<ul>
		<li>Su sistema viene con algunos tipos de ítem predefinidos. Desde esta pantalla puede modificar o borrar esos tipos de ítem</li>
		<li>Para agregar un nuevo tipo de ítem, haga clic en 'Nuevo tipo de ítem'</li>
		<li>Introduzca un código corto para e 'Tipo de ítem' </li>
		<li>Introduzca una explicación más larga en el campo 'Descripción' </li>
		<li>Siéntase en la libertad de elegir una imagen para cada tipo de ítem (o el seleccione la opción 'Ninguna imagen') </li>
		<li>La opción 'No para préstamo' puede ser usada para items que no pueden prestarse fuera de la biblioteca</li>
		<li>'Renovaciones' debería incluir el número de veces que un ítem puede ser renovado</li>
		<li>Si cobra un valor por alquiler de artículos (como DVDs) ingrese dicha la cantidad en el campo 'Costo de alquiler'</li>
		<li>El campo resumen se usa para editar la manera en que se muestra este ítem en la página de resultados de búsqueda
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: para los recursos electrónicos es posible que desee entrar</span>
		    <span style="background-color: #ffe599">
<em>&lt;a href=&quot;[856u]&quot;&gt;abrir sitio&lt;/a&gt;</em></span>
		    <span style="background-color: #ffe599">
para mostrar el enlace del ítem en la página de resultados de búsqueda</span></li>
		</ul></li>
		<li>Cuando haya terminado, pulse 'Guardar cambios'</li>
	</ul>
<p><strong>¿Puedo tener un tipo diferente para nuevas y viejas ediciones?</strong>
Sí. Solo ingrese un tipo de ítem para nuevos items y asigne reglas de prestamo diferentes para este tipo de ítem.
 </p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->