<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Enlaces Koha a MARC</h1>

<p>Esta página proporciona un modo simplificado de conectar sus etiquetas MARC y los subcampos de las tablas de base de datos no-MARC de  Koha.  Esto también se puede hacer estableciendo la estructura de etiqueta de MARC.</p>

<p>El menú desplegable lista todas las tablas de Koha que pueden recibir valores de registros MARC. Las columnas de cada tabla se listan abajo en el menú despleagable.</p>

<p>No espere tener cada tabla Koha mapeada a un subcampo de MARC. Algunos (tales como biblionumber, biblioitemnumber, e itemnumber) son valores generados por Koha  y autom&aacute;ticamente mapeados. Otros son marcas que se fijan en el curso de actividades normales de la circulaci&oacute;n y contendr&aacute;n la informaci&oacute;n que no es parte del registro de MARC.</p>

<p>Ésta es una correspondencia 1-1. Es decir una etiqueta/subcampo de MARC se puede mapear a una, y a solamente una, columna de la tabla de Koha.</p>

<p> Los datos MARC que no son mapeados a una tabla de Koha no desaparecen --  simplemente no están disponibles para para ser mostrados en la pantalla de circulaci&oacute;n y en algunas pantallas de resultados de b&uacute;squeda.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->