<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administración de estructura de etiquetas MARC</h1>

<p>Koha le permite especificar cuales etiquetas MARC quiere usar y cuales quiere ignorar. Cuando descargó e instaló Koha, también obtuvo la lista entera de etiquetas MARC21 y subcampos de uso corriente. Ahora necesita usar la página de administración para corregir esta lista y decir a Koha que etiquetas quiere usar y como quiere usarlas.</p> 
<p>Puede definir la estructura de etiqueta MARC para cada hoja de trabajo que se  ha definido</p>

<p>Si está SEGURO que nunca utilizará una etiqueta MARC, entonces puede borrarla, pero ya que esto no redundará en una mejora de la performance, es mejor dejarla como está. Sin embargo, puede que desee agregar etiquetas. Si usa viejas etiquetas MARC que no están en la lista provista por Koha, use la página de administración de estructura de etiquetas MARC para agregarla. De la misma manera, probablemente deberá agregar la etiqueta de reservas que use, o al menos marcar la estructura de subcampo de la etiqueta 852, si la usa para reservas.</p>

<p>Editar subcampos de la p&aacute;gina de estructura de etiqueta de MARC consume mucho tiempo , pero es  muy importante; es estar seguro al pulsar el link del subcampo para cada etiqueta en su estructura de etiqueta de MARC.</p> 
<p>Para cada subcampo puede poner :</p>
<ul>
<li>repetible : cuando puede repetirse o no. Si se puede repetir, separe los valores por un | en el editor de MARC cuando quiera tener el subcampo dos veces</li>
<li>Obligatorio: marca si el campo es obligatorio o no. Si es obligatorio, el catalogador no puede agregar el registro si el subcampo está vacío.</li>
<li> Buscar tambi&eacute;n: una lista de campos que Koha tambi&eacute;n buscar&aacute; cuando el socio haga una b&uacute;squeda en el subcampo</li>
<li>Koha link : <strong>very important</strong>. Koha is multi-MARC compliant. So, it does not know what the 245$a means, neither what 200$f (those 2 fields being both the title in MARC21 and UNIMARC !). So, in this list you can &quot;map&quot; a MARC subfield to it's meaning. Koha constantly maintains consistency between a subfield and it's meaning. When the user want to search on &quot;title&quot;, this link is used to find what is searched (245 if you're MARC21, 200 if you're UNIMARC).</li>
<li>Texto para bibliotecario: lo que aparece antes del subcampo en el interfaz de bibliotecario</li>
<li>Texto para OPAC: lo que aparece antes del campo en el OPAC. De estar vacio, el texto para el bibliotecario es usado en su lugar</li>
<li>Administrado en pestaña: se refiere a la pestaña donde se muestra el subcampo. Ignorar significa que el subcampo no será mostrado. Todos los subcampos de un campo dado deben estar en la misma pestaña o deben ser ignorados:  1ro es más lógico,  2do, Koha se confundiría repitiendo campos repetibles de otra manera.</li>
<li>oculto: le permite seleccionar entre 19 condiciones posibles de visibilidad, 17 de las cuales est&aacute;n implementadas. Son las siguientes:</li>
<code><br />
( ! significa 'no visible' o en el caso de colapsado 'no colapsado')
<br /><br />
  -9 =&gt; Future use<br />
  -8 =&gt;  Flag<br />
  -7 =&gt;  OPAC !Intranet !Editor  Collapsed<br />
  -6 =&gt;  OPAC  Intranet !Editor !Collapsed<br />
  -5 =&gt;  OPAC  Intranet !Editor  Collapsed<br />
  -4 =&gt;  OPAC !Intranet !Editor !Collapsed<br />
  -3 =&gt;  OPAC !Intranet  Editor  Collapsed<br />
  -2 =&gt;  OPAC !Intranet  Editor !Collapsed<br />
  -1 =&gt;  OPAC  Intranet  Editor  Collapsed<br />
   0 =&gt;  OPAC  Intranet  Editor !Collapsed<br />
   1 =&gt; !OPAC  Intranet  Editor  Collapsed<br />
   2 =&gt; !OPAC !Intranet  Editor !Collapsed<br />
   3 =&gt; !OPAC !Intranet  Editor  Collapsed<br />
   4 =&gt; !OPAC  Intranet  Editor !Collapsed<br />
   5 =&gt; !OPAC !Intranet !Editor  Collapsed<br />
   6 =&gt; !OPAC  Intranet !Editor !Collapsed<br />
   7 =&gt; !OPAC  Intranet !Editor  Collapsed<br />
   8 =&gt; !OPAC !Intranet !Editor !Collapsed<br />
   9 =&gt; Future use<br />
</code>
<li> URL: si está seleccionado, el subcampo es una URL y puede ser cliqueada</li>
<li>Auth value : means the value is not free, but in the authorized value list of the selected type</li>
<li>tesauro: significa que el valor no es libre, pero puede ser buscado en la autoridad/tesauro de la categor&iacute;a seleccionada</li>
<li>plugin : means the value is calculated or managed by a plugin. Plugins can do almost anything. For example, in UNIMARC there are plugins for every 1xx fields that are coded fields. The plugin is a huge help for cataloger ! There are also two plugins (unimarc_plugin_210c and unimarc_plugin_225a that can &quot;magically&quot; find the editor from an ISBN, and the collection list for the editor)</li>
<li>link : If you enter a field/subfield here (200b), a link appears after the subfield in the MARC Details view. This view is present only in intranet, not in Opac. If the librarian click on the link, a search&nbsp; is done on the DB for the field/subfield with the same value. Can be used for 2 main topic :
  	<ul>
  		<li>on a field like author (200f in UNIMARC), put 200f here, you will be able to see all biblios with the same author.</li>
  		<li>on a field that is a link (4xx) to reach another biblio. For example, put 011a in 464$x, will find the serials that are with this issn. </li>
 	</ul>
</li>
</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->
