<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administración de estructura de etiquetas MARC</h1>

<p>Koha le permite especificar cuales etiquetas MARC quiere usar y cuales quiere ignorar. Cuando descargó e instaló Koha, también obtuvo la lista entera de etiquetas MARC21 y subcampos de uso corriente. Ahora necesita usar la página de administración para corregir esta lista y decir a Koha que etiquetas quiere usar y como quiere usarlas.</p>
<p>Puede definir la estructura de etiqueta MARC para cada hoja de trabajo que se  ha definido</p>

<p>Si está SEGURO que nunca utilizará una etiqueta MARC, entonces puede borrarla, pero ya que esto no redundará en una mejora de la performance, es mejor dejarla como está. Sin embargo, puede que desee agregar etiquetas. Si usa viejas etiquetas MARC que no están en la lista provista por Koha, use la página de administración de estructura de etiquetas MARC para agregarla. De la misma manera, probablemente deberá agregar la etiqueta de reservas que use, o al menos marcar la estructura de subcampo de la etiqueta 852, si la usa para reservas.</p>

<p>Editar subcampos de la p&aacute;gina de estructura de etiqueta de MARC consume mucho tiempo , pero es  muy importante; es estar seguro al pulsar el link del subcampo para cada etiqueta en su estructura de etiqueta de MARC.</p>
<p>Para cada subcampo puede poner :</p>
<ul>
<li>repetible : cuando puede repetirse o no. Si se puede repetir, separe los valores por un | en el editor de MARC cuando quiera tener el subcampo dos veces</li>
<li>Obligatorio: marca si el campo es obligatorio o no. Si es obligatorio, el catalogador no puede agregar el registro si el subcampo está vacío.</li>
<li> Buscar tambi&eacute;n: una lista de campos que Koha tambi&eacute;n buscar&aacute; cuando el socio haga una b&uacute;squeda en el subcampo</li>
<li>Enlace de Koha: <b>muy importante</b>. Koha es multi-MARC. No sabe lo que significa el 245$a, ni tampoco 200$f (!esos 2 campos son el título en MARC21 y UNIMARC!). Por lo tanto en esta lista se puede  "mapear" un subcampo de MARC con su significando. Koha mantiene constantemente la consistencia entre un subcampo y su significando. Cuando el usuario desea buscar en "título", este enlace se utiliza para encontrar lo que se busca (245 si es MARC21, 200 si es UNIMARC).</li>
<li>Texto para bibliotecario: lo que aparece antes del subcampo en el interfaz de bibliotecario</li>
<li>Texto para OPAC: lo que aparece antes del campo en el OPAC. De estar vacio, el texto para el bibliotecario es usado en su lugar</li>
<li>Administrado en pestaña: se refiere a la pestaña donde se muestra el subcampo. Ignorar significa que el subcampo no será mostrado. Todos los subcampos de un campo dado deben estar en la misma pestaña o deben ser ignorados:  1ro es más lógico,  2do, Koha se confundiría repitiendo campos repetibles de otra manera.</li>
<li>oculto: significa que el campo es manejado, pero NO es mostrado en el opac. Es normalmente para campos internos</li>
<li> URL: si está seleccionado, el subcampo es una URL y puede ser cliqueada</li>
<li>Auth value : means the value is not free, but in the authorized value list of the selected type</li>
<li>tesauro: significa que el valor no es libre, pero puede ser buscado en la autoridad/tesauro de la categor&iacute;a seleccionada</li>
<li>plugin: significa que el valor es calculado o administrado por un plugin. Los plugins pueden hacer casi cualquier cosa. Por ejemplo, en UNIMARC hay plugins para  cada 1xx que son campos codificados. El plugin es una ayuda enorme para el catalogador. Hay tambi&eacute;n dos plugins (unimarc_plugin_210c y unimarc_plugin_225a)  que pueden de forma "m&aacute;gica " encontrar el editor desde el  ISBN, y la lista de la colecci&oacute;n para el editor.</li>
<li>enlace : sin utilidad</li>
</ul>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->