<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Reglas de coincidencia de registros</h1>   
    <p><span style="background-color: #ffe599">
IMPORTANTE: Esta es una función avanzada y no debe modificarse sin saber cuál será su efecto en la migración de datos.</span></p>

<p>Utilice esta herramienta para crear reglas que deben aplicarse durante el proceso de migración de datos. Esto evitará duplicados cuando se importen registros MARC. Una regla de coincidencia o importacón es un o más 'puntos de coincidencia' y cero o más 'puntos de control'. Cada punto de coincidencia  especifica un 'índice de búsqueda''y una 'etiqueta' , 'subcampo', o 'longitud ' (posición fija del campo) cuando un registro es importado. Para cada punto de coincidencia, una cadena se construye a partir de la etiqueta especificada en el punto de coincidencia y se busca en el índice correspondiente.</p>

<p>Al conjunto de registros coincidentes se les asigna un puntajeel conjunto de elementos a los registros se les asigna una puntuación (cuyo valor está determinado por el punto coincide con la regla). A continuación, el resto de puntos del partido y se consideran los resultados de cada conjunto de coincidencias, se añade. El conjunto de se pongan en venta los registros cuya puntuación total es de más de un valor límite definido en la norma se pongan en venta son los partidos candidatos. </p>

<p>El  control de coincidencias es aplicado a todas las coincidencias candidatas. Cada control de coincidencia especifica una etiqueta en el registro entrante y una etiqueta en el posible registro coincidente.  Una coincidencia será considerada correcta si los valores son iguales.  </p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->