<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Tipos de atributo de socio</h1>Un atributo de socio (o atributo extendido de socio) es de información adicional asociada con un registro de socio. Cada atributo tiene un tipo que especifica si el atributo es repetible, puede servir como un identificador único, que puede tener una contraseña, y si se puede utilizar para buscar registros de socio en la interfaz de personal. La lista de tipos de atributos está controlada por personal con permisos de 'superlibrarian &quot;.<br/>
	<ul>
		<li>Llegar: socios &gt; Registro de socio &gt; Más &gt; Configurar permisos</li>
	</ul>Una vez que se define un tipo de atributo, los valores de atributo pueden añadirse al registro del socio a través de la interfaz de personal o por laimportación por lotes de socios. Dos usos de los atributos extendidos son los siguientes:

	<ul>
		<li>definiendo nuevos identificadores únicos, tal como un número de identificación de estudiante, un número de personal de biblioteca, y así sucesivamente. Estos identificadores pueden ser utilizados para búsqueda o coincidencia de registros durante una importación en lote.</li>
		<li>categorías estadísticas adicionales. Por ejemplo, una biblioteca podría definir un tipo de atributo para el seguimiento académicos de un usuario estudiante. Cualquier número de atributos de este tipo poeden definirse.</li>
	</ul>La funcionalidad de atributos extentdidos es completamente opcional. Si la preferencia del sistema 'ExtendPatronAttributes' está en OFF, no se prodrán usar atributos customizables para socios.
<h2>Agregar atributo del usuario</h2>
	<ul>
		<li>Haga clic en 'Nuevo tipo de atributo de socio'</li>
		<li>	   
	   IMPORTANTE: Usted necesita tener en ON la preferencia ExtendedPatronAttributes
		<ul>
			<li>Llegar: Má s&gt; Administración &gt; Preferencias del sistema generales &gt; Socios &gt; ExtendedPatronAttributes</li>
		</ul></li>
		<li>Para agregar un nuevo atributo de socio, haga clic en 'Nuevo tipo de atributo de socio'</li>
		<li>El 'Código de tipo de atributo de socio' debe ser único y es el única campo requerido
		<ul>
			<li>CONSEJO: este campo no es modificable una vez que ha sido establecido</li>
		</ul></li>
		<li>Rellene todos los campos que necesites para el atributo
		<ul>
			<li>CONSEJO: la repetibilidad y la configuración de unique_id  de un tipo de atributo  no se pueden cambiar después de su creación . Eesto es para evitar tener que hacer frente a las limitaciones si un tipo de atributo ya está en uso enlos registros de socio.</li>
		</ul></li>
		<li>Haga clic en 'Guardar' </li>
		<li>CONSEJO: un tipo de atributo no se puede eliminar si es utilizado por algún registro de socio</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->