<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administración de impresora</h1>

<p>Si va a usar una impresora (o varias impresoras) que están conectadas a su servidor Koha para producir informes estadísticos y de operación, entonces tiene que dar un nombre a cada impresora y indicar a Koha como accederlos. Esto se hace indicando a Koha que cola de impresión se va a usar.</p>

<p> (En linux, cada configuraci&oacute;n de impresora en su archivo printcap define una cola de impresi&oacute;n. La cola de impresi&oacute;n por defecto es "lp," pero si usa m&aacute;s de una impresora tendr&aacute; otras colas, probablemente con nombres como "texto" o "postscript." D&iacute; gale a Koha que cola(s) de impresora quiere usar para la impresi&oacute;n de informes directamente del servidor.)</p>

<p>Notar que siempre puede imprimir pantallas de Koha directamente a una impresora conectada a su estaci&oacute;n de trabajo solamente usando la funci&oacute;n de impresi&oacute;n de su navegador web.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->