<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Tipos de caminos</h1>

<p>Los valores definidos en esta preferencia se mostrarán en un menú desplegable al entrar información de usuario. Estos valores pueden ser utilizados en estadísticas geográficas.</p>

<h2>Agregar un nuevo tipo de calle</h2>
		<ul>
			<li>Haga clic en 'Nuevo tipo de vía'</li>
			<li>Introduzca un valor como el  avenida, calle o pasaje</li>
			<li>Haga clic en 'Enviar'' </li>
			<li>Sus valores aparecerán en la página de 'Tipos de caminos'</li>
			<li>Sus valores también aparecerán como valores autorizados al ingresar o editar un usuario</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->