<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Reglas de circulación y multas</h1>

<p>Esta matriz se utilizará para crear todas las reglas relacionadas con circulación y multas.</p>
		<ul>
			<li>		   
		   Las normas se aplicarán de la más específica a la menos específica, utilizando la primera encuentrada en este orden:
			<ul>
				<li>misma biblioteca, mismo tipo de usuario, mismo tipo de item</li>
				<li>misma biblioteca, mismo tipo de usuario, tipo de ítem por defecto</li>
				<li>misma biblioteca, tipo de usuario por defecto, mismo tipo de ítem</li>
				<li>misma biblioteca, tipo de usuario por defecto, tipo de ítem por defecto</li>
				<li>biblioteca por defecto, mismo tipo de usuario, mismo tipo de ítem</li>
				<li>biblioteca por defecto, mismo tipo de usuario, tipo de ítem por defecto</li>
				<li>biblioteca por defecto, tipo de usuario por defecto, mismo tipo de ítem</li>
				<li>biblioteca por defecto, tipo de usuario por defecto, tipo de ítem por defecto</li>
			</ul></li>
			<li><span style="background-color: #ffe599">
CONSEJO: Para modificar una regla, cree una nueva con el mismo tipo de usuario y tipo de ítem.</span></li>
			<li>		   
		   These rules can be applied to individual libraries by choosing them from the pull down at the top of the page, by default the rules are applied to all libraries</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->