<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>P&aacute;gina de administraci&oacute;n de palabras eliminadas</h1>

<p> Aqu&iacute; deber&iacute;a listar todas las palabras que desea que Koha ignore cuando realizace b&uacute;squedas de cat&aacute;logo o construya el &iacute;ndice de palabras clave.</p>
<h3>Koha con Zebra</h3>
<p>Zebra maneja internamente stopwords, y lo hace de manera eficaz y eficiente. En circunstancias normales, no debería haber ninguna razón para que Koha elimine stopwords antes de enviar la búsqueda a Zebra, y en la mayoría de los casos hacerlo puede afectar negativamente la calificación por relevancia y la búsqueda de frases sin dar ningún beneficio de rendimiento. </p>

<h3>Koha sin Zebra</h3>
<p>Normalmente, no se desea que en el índice de búsqueda aparezcan artículos como "El" y "Un" y otras palabras muy comunes. Qie este típo de palabras sean palabras clave en el índice no ayuda en nada a la búsqueda y hará que el índice sea muy grande y  "desordenado". En la lista de "palabras eliminadas"  se definen estas palabras que no se quiere que aparezcan en la búsqueda.</p>

<p> (Consejo: Si domina MySQL, es a menudo m&aacute;s r&aacute;pido y m&aacute;s f&aacute;cil encontrar una lista de palabras quitadas ya hecha, ponerlo en el formato correcto y utilizar el comando "Load Data Infile" de MySQL para importar la lista en la tabla de palabras quitadas. Muchas bibliotecas acad&eacute;micas publican sus listas de palabras quitadas en Internet o puede pedir a otras bibliotecas Koha que compartan su lista de palabras quitadas.)</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
