<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administraci&oacute;n de preferencias del sistema</h1>

<p>Esta página le permite elegir  las preferencias de sistema. Estos parámetros controlan la mayor parte de el comportamiento básico del Koha. </p>
<p>Cada una de las pestañas de la izquierda tiene varias preferencias:</p>
	<ul>
		<li><strong>Administración: </strong>almacena preferencias administrativas tales como el email del administrador, sesiones y tiempo inactivo.</li>
		<li><strong>Adquisiciones</strong> holds preferences related to acquisitions such as handling patron suggestions and local taxes.</li>
		<li><strong>Autoridades: </strong>almacena preferencias relacionadas con el manejo de registros de autoridades.</li>
		<li><strong>Catalogaci&oacute;n:</strong> almacena preferencias que controlan las funciones de catalogación. Aquí es donde elige tipo MARC, configura Z39.50 y códigos de barras.</li>
		<li><strong>Circulación:</strong> almacena preferencias que controlan las funciones de circulación tales como reservas y multas.</li>
		<li><strong>Contenido mejorado:</strong> almacena preferencias que le permitirán adicionar contenido de fuentes externas a su OPAC o cliente administrativo. Aquí puede habilitar imágenes de cubiertas de libros, FRBR (Requerimientos funcionales para registros bibliográficos) y etiquetado.</li>
		<li><strong>I18N/L10N:</strong> almacena preferencias relacionadas con la internacionalización y localización tales como formatos de fecha e idiomas.</li>
		<li><strong>Logs</strong>: activar o desactivar la funcionalidad de ingresar para acceder a su sistema.</li>
		<li><strong>OAI-PMH: </strong> esta función es todavía experimental, por lo que es mejor dejar esta preferencia con su valor por defecto.</li>
		<li><strong>OPAC: </strong>personalice el OPAC y las funciones del OPAC (al margen de las preferencias de Contenido Mejorado).</li>
		<li><strong>Socios: </strong>almacena preferencias que controlan como su sistema maneja funciones de usuarios. Algunas prefrerencias incluyen largo mínimo de contraseña y parámetros de número de usuario.</li>
		<li><strong>Buscar:</strong> almacena preferencias relacionadas con funciones de búsqueda avanzada tales como remover palabras de parada o permitir stemming.</li>
		<li><strong>Publicaciones periódicas</strong> holds all preferences related to managing serial subscriptions.</li>
		<li><strong>Cliente administrativo: </strong>personalice el cliente administrativo editando la hoja de estilo y el menú de navegación.</li>
		<li><strong>Uso local: </strong>esta pestaña estará vacía a menos que su biblioteca tenga una preferencia sólo para su biblioteca.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->