<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administraci&oacute;n de Servidores Z39.50</h1>

<p>Defina los servidores Z39.50 que desea consultar a trav&eacute;s de Koha.</p>

<p>Koha viene con un servidor Z39.50 definido (la Biblioteca del Congreso de EE.UU.) para encontrar registros a ser importardos directamente en su catálogo. En esta área, puede definir a otros servidores para la búsqueda.</p>

<p>Para agregar servidores, necesitará saber el nombre de dominio o la direccón IP del servidor, el número de puerto que usa, y el nombre de la base de datos a la cual se accederá. Esta informacón se puede obtener del sitio web http://www.indexdata.dk/targettest/. Todos los servidores catalogados allí aceptan conexiones anónimas. Asegúrese de elegir los servidores que entreguen registros en el formato de MARC apropiado para su instalación Koha.</p>

<p>Si tiene un nombre de usuario y contraseña para otros servidores Z39.50, Koha almacenará el identificador de usuario y la contraseña junto con la información necesaria para hacer la conexión (para servidores anónimos, deje el campo de usuario y contraseña en blanco). Los otros campos del formulario controlan si el servidor es consultado automáticamente cuando realiza una búsqueda Z39.50 (ponga '1' en el campo 'Habilitado') y el órden en el cual es consultado.</p>

<p>Es una buena idea ser selectivo escogiendo servidores. Definiendo m&aacute;s de cinco o seis se pueden retrasar los resultados de la b&uacute;squeda Z39.50.</p>

<p>NOTA IMPORTANTE: la búsqueda z39.50 NO trabajará hasta que el administrador del sistema no active el demonio cliente en el servidor. El demonio está en $kohadirectory/script/z3950daemon. Debería ser configurado de tal forma que se inicie cuando se encienda el servidor.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->