<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Cataloging &rsaquo; 008 builder</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding:1em;">
<h3> 008 Fixed-length data elements--General information</h3>
<form name="f_pop" onsubmit="report()">
<input type="hidden" name="plugin_name" value="marc21_field_008.pl" />
<table>
	<tr>
		<td>1-5 Date entered on file (auto-filled)</td>
		<td><input type="text" name="f1" maxlength="6" size="7" value="<!-- TMPL_VAR name="f1" -->" /></td>
	</tr>
	<tr>
		<!-- 06 Type of date / Publication status -->
		<td><label for="f6">06- Tipo de fecha / Estatus de la publicaci&oacute;n</label></td>
		<td>
			<!-- NO DATE; B.C. DATE -->

			<select name="f6" id="f6" size="1">
			<!-- TMPL_IF name="f60" -->
                                <option value=" " selected="selected"># - En blanco</option>
                        <!-- TMPL_ELSE -->
                                <option value=" "># - En blanco</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6b" -->
				<option value="b" selected="selected">b- Fecha antes de Cristo</option>
			<!-- TMPL_ELSE -->
				<option value="b">b- Fecha antes de Cristo</option>
			<!-- /TMPL_IF -->

			<!-- SINGLE DATE -->
			<!-- TMPL_IF name="f6e" -->
                                <option value="e" selected="selected">e- Fecha detallada</option>
                        <!-- TMPL_ELSE -->
                                <option value="e">e- Fecha detallada</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6s" -->
                                <option value="s" selected="selected">s- Fecha única</option>
                        <!-- TMPL_ELSE -->
                                <option value="s">s- Fecha única</option>
                        <!-- /TMPL_IF -->

			<!-- MULTIPLE DATES -->
			<!-- TMPL_IF name="f6i" -->
                                <option value="i" selected="selected">i- Fechas inclusivas de la colección</option>
                        <!-- TMPL_ELSE -->
                                <option value="i">i- Fechas inclusivas de la colección</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6k" -->
                                <option value="k" selected="selected">k- Rango de años o colección a granel</option>
                        <!-- TMPL_ELSE -->
                                <option value="k">k- Rango de años o colección a granel</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6m" -->
                                <option value="m" selected="selected">m- Múltiples fechas</option>
                        <!-- TMPL_ELSE -->
                                <option value="m">m- Múltiples fechas</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6p" -->
                                <option value="p" selected="selected">p- Fecha de distribución/producción</option>
                        <!-- TMPL_ELSE -->
                                <option value="p">p- Fecha de distribución/producción</option>
			<!-- /TMPL_IF -->
	
			<!-- TMPL_IF name="f6r" -->
				<option value="r" selected="selected">r- Fecha de reimpresión/original</option>
			<!-- TMPL_ELSE -->
				<option value="r">r- Fecha de reimpresión/original</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6t" -->
                                <option value="t" selected="selected">t- Fecha de publicación y fecha de copyright</option>
                        <!-- TMPL_ELSE -->
                                <option value="t">t- Fecha de publicación y fecha de copyright</option>
                        <!-- /TMPL_IF -->

			<!-- UNKNOWN DATES -->
			<!-- TMPL_IF name="f6n" -->
                                <option value="n" selected="selected">n- Fechas desconocidas</option>
                        <!-- TMPL_ELSE -->
                                <option value="n">n- Fechas desconocidas</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6q" -->
                                <option value="q" selected="selected">q- Fecha cuestionable</option>
                        <!-- TMPL_ELSE -->
                                <option value="q">q- Fecha cuestionable</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6c" -->
                                <option value="c" selected="selected">c- Item periódico publicado efectívamente</option>
                        <!-- TMPL_ELSE -->
                                <option value="c">c- Item periódico publicado efectívamente</option>
                        <!-- /TMPL_IF -->
				
			<!-- TMPL_IF name="f6d" -->
                                <option value="d" selected="selected">d- Ítem periódico de publicación suspendida (estado finalizado)</option>
                        <!-- TMPL_ELSE -->
                                <option value="d">d- Ítem periódico de publicación suspendida (estado finalizado)</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6u" -->
                                <option value="u" selected="selected">u- Estado desconocido de publicación periódica</option>
                        <!-- TMPL_ELSE -->
                                <option value="u">u- Estado desconocido de publicación periódica</option>
                        <!-- /TMPL_IF -->


	
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="f710">7-10 Fecha1 / Comienzo de la publicaci&oacute;n</label> </td>
		<td>
			<input type="text" name="f710" id="f710" size="4" maxlength="4" value="<!-- TMPL_VAR NAME="f710" -->"/>
		</td>
	</tr>
	<tr>
                <td><label for="f1114">11-14 Fecha2 / fecha final de publicaci&oacute;n</label> </td>
                <td>
                        <input type="text" name="f1114" id="f1114" size="4" maxlength="4" value="<!-- TMPL_VAR NAME="f1114" -->"/>                </td>
        </tr>

	<tr>
                <td><label for="f1517">15-17 Place of publication, production, or execution</label> See <a href="http://www.loc.gov/marc/countries/countries_code.html">MARC Code List for Countries</a> </td>
                <td>
                        <input type="text" name="f1517" id="f1517" size="3"  maxlength="3" value="<!-- TMPL_VAR NAME="f1517" -->"/>
                </td>
        </tr>
	 <tr>
                <td><label for="f1821">18-21 Ilustraciones</label> </td>
		<td>(autorellenar de 300)<input type="hidden" name="f1821" id="f1821" size="4"  maxlength="4" value="<!-- TMPL_VAR NAME="f1821" -->"/></td>
        </tr>
	<tr>
                <!-- 22 Target Audience -->
                <td><label for="f22">22- Tipo de audiencia</label></td>
                <td>                        
                <select name="f22" id="f22" size="1">

                        <!-- TMPL_IF name="f22|" -->
                        <option value="|" selected="selected">|- Predeterminado</option>
                        <!-- TMPL_ELSE -->
                        <option value="|">|- Predeterminado</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f220" -->
                        <option value=" " selected="selected">#- Desconocido o no especificado</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Desconocido o no especificado</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f22a" -->
                         <option value="a" selected="selected">a- Preescolar</option>
	                <!-- TMPL_ELSE -->
			<option value="a">a- Preescolar</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22b" -->
                         <option value="b" selected="selected">b- Primario</option>
                        <!-- TMPL_ELSE -->
                        <option value="b">b- Primario</option>
                        <!-- /TMPL_IF -->	

			<!-- TMPL_IF name="f22c" -->
                         <option value="c" selected="selected">c- Escuela primaria y secundaria</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Escuela primaria y secundaria</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22d" -->
                         <option value="d" selected="selected">d- Escuela secundaria</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Escuela secundaria</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22e" -->
                         <option value="e" selected="selected">e- Adulto</option>
                        <!-- TMPL_ELSE -->
                        <option value="e">e- Adulto</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22f" -->
                         <option value="f" selected="selected">f- Specializado</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Specializado</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22g" -->
                         <option value="g" selected="selected">g- General </option>
                        <!-- TMPL_ELSE -->
                        <option value="g">g- General </option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22j" -->
                         <option value="j" selected="selected">j-Juvenil </option>
                        <!-- TMPL_ELSE -->
                        <option value="j">j-Juvenil </option>
                        <!-- /TMPL_IF -->
		</select>
		</td>
	</tr>
	<tr>
                <!-- 23 Form of an item -->
                <td><label for="f23">23- Forma de un &iacute;tem</label></td>
                <td>
                <select name="f23" id="f23" size="1">

                        <!-- TMPL_IF name="f230" -->
                        <option value=" " selected="selected">#- Ninguno de los siguientes</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Ninguno de los siguientes</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23a" -->
                        <option value="a" selected="selected">a- Microfilm</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Microfilm</option>
                        <!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f23b" -->
                        <option value="b" selected="selected">b- Microficha</option>
                        <!-- TMPL_ELSE -->
                        <option value="b">b- Microficha</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23c" -->
                        <option value="c" selected="selected">a- Microopaco</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">a- Microopaco</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23d" -->
                        <option value="d" selected="selected">d- Impresión extendida</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Impresión extendida</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23f" -->
                        <option value="f" selected="selected">f- Braille</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Braille</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23r" -->
                        <option value="r" selected="selected">r- Reproducción impresa común</option>
                        <!-- TMPL_ELSE -->
                        <option value="r">r- Reproducción impresa común</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23s" -->
                        <option value="s" selected="selected">c- Electrónico</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">c- Electrónico</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23!" -->
                        <option value="!" selected="selected">! - No se codifica</option>
                        <!-- TMPL_ELSE -->
                        <option value="!">! - No se codifica</option>
                        <!-- /TMPL_IF -->
		</select>
		</td>
	</tr>
	<tr>
                <td><label for="f2427">24-27 Naturaleza del contenido</label> </td>
                <td>(Valor derivado)
                        <input type="hidden" name="f2427" id="f2427" size="4" maxlength="4" value="<!-- TMPL_VAR NAME="f2427" -->"/>                </td>
        </tr>
        <tr>
                <td><label for="f28">28- Publicaci&oacute;n Gubernamental</label></td>
                <td>
                <select name="f28" id="f28" size="1">                                    
                        <!-- TMPL_IF name="f280" -->
                        <option value=" " selected="selected">#- No es una publicación gubernamental</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- No es una publicación gubernamental</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28a" -->
                        <option value="a" selected="selected">a- Componente autónomo o semi-autónomo</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Componente autónomo o semi-autónomo</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f28c" -->
                        <option value="c" selected="selected">c- Multilocal</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Multilocal</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28f" -->
                        <option value="f" selected="selected">f- Federal/nacional</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Federal/nacional</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f28i" -->
                        <option value="i" selected="selected">i- Intergubernamental e internacional</option>
                        <!-- TMPL_ELSE -->
                        <option value="i">i- Intergubernamental e internacional</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f28l" -->
                        <option value="l" selected="selected">l- Local</option>
                        <!-- TMPL_ELSE -->
                        <option value="l">l- Local</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f28m" -->
                        <option value="m" selected="selected">m- Multiestado</option>
                        <!-- TMPL_ELSE -->
                        <option value="m">m- Multiestado</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28o" -->
                        <option value="o" selected="selected">o- Publicación gubernamental - nivel indeterminado</option>
                        <!-- TMPL_ELSE -->
                        <option value="o">o- Publicación gubernamental - nivel indeterminado</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28s" -->
                        <option value="s" selected="selected">s-Estado, provincial, territorial, dependiente, etc.</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">s-Estado, provincial, territorial, dependiente, etc.</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28u" -->
                        <option value="u" selected="selected">u- Desconocido si el ítem es una publicación gubernamental</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Desconocido si el ítem es una publicación gubernamental</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28z" -->
                        <option value="z" selected="selected">z- Otro</option>
                        <!-- TMPL_ELSE -->
                        <option value="z">z- Otro</option>
                        <!-- /TMPL_IF -->
		</select>
		</td>
	</tr>
        <tr>
                <td><label for="f29">29- Publicaci&oacute;n de Conferencia</label></td>
                <td>
                <select name="f29" id="f29" size="1">
                        <!-- TMPL_IF name="f290" -->
                        <option value="0" selected="selected">0- No es una conferencia</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0- No es una conferencia</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f291" -->
                        <option value="1" selected="selected">1- Publicaci&oacute;n de conferencia</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Publicaci&oacute;n de conferencia</option>
                        <!-- /TMPL_IF -->

		</select>
		</td>
	</tr>
	<tr>
                <td><label for="f30">30- Homenaje (Festschrift)</label></td>
                <td>
                <select name="f30" id="f30" size="1">
                        <!-- TMPL_IF name="f300" -->
                        <option value="0" selected="selected">0 - No es un festschrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0 - No es un festschrift</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f301" -->
                        <option value="1" selected="selected">1- Festschrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Festschrift</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>

        <tr>
                <td><label for="f31">31- &Iacute;ndice</label></td>
                <td>
                <select name="f31" id="f31" size="1">
                        <!-- TMPL_IF name="f31|" -->
                        <option value="|" selected="selected">|- Predeterminado</option>
                        <!-- TMPL_ELSE -->
                        <option value="|">|- Predeterminado</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f310" -->
                        <option value="0" selected="selected">0- No indizado</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0- No indizado</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f311" -->
                        <option value="1" selected="selected">1- &Iacute;ndice actual</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- &Iacute;ndice actual</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        	</tr>
		<tr><td>32 Indefinido</td><td></td>
		</tr>
		<tr>
                <td><label for="f33">33- Forma literaria</label></td>
                <td>
                <select name="f33" id="f33" size="1">
                        <!-- TMPL_IF name="f330" -->
                        <option value="0" selected="selected">0- No es ficci&oacute;n</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0- No es ficci&oacute;n</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f331" -->
                        <option value="1" selected="selected">1- Ficci&oacute;n</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Ficci&oacute;n</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f33c" -->
                        <option value="c" selected="selected">c- Tiras cómicas</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Tiras cómicas</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33d" -->
                        <option value="d" selected="selected">d- Dramas</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Dramas</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f33e" -->
                        <option value="e" selected="selected">e- Ensayos</option>
                        <!-- TMPL_ELSE -->
                        <option value="e">e- Ensayos</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f33f" -->
                        <option value="f" selected="selected">f- Novelas</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Novelas</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f33h" -->
                        <option value="h" selected="selected">h -humor, s&aacute;tiras, etc.</option>
                        <!-- TMPL_ELSE -->
                        <option value="h">h -humor, s&aacute;tiras, etc.</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33i" -->
                        <option value="i" selected="selected">i- Cartas</option>
                        <!-- TMPL_ELSE -->
                        <option value="i">i- Cartas</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33j" -->
                        <option value="j" selected="selected">j- Cuentos</option>
                        <!-- TMPL_ELSE -->
                        <option value="j">j- Cuentos</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33m" -->
                        <option value="m" selected="selected">m- Formas mixtas</option>
                        <!-- TMPL_ELSE -->
                        <option value="m">m- Formas mixtas</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f33p" -->
                        <option value="p" selected="selected">p- Poesía</option>
                        <!-- TMPL_ELSE -->
                        <option value="p">p- Poesía</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f33s" -->
                        <option value="s" selected="selected">s- Discursos</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">s- Discursos</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33u" -->
                        <option value="u" selected="selected">u- Desconocido</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Desconocido</option>
                        <!-- /TMPL_IF -->



                </select>
                </td>
        </tr>
	<tr>
                <td><label for="f34">34 - Biograf&iacute;a</label></td>
                <td>
                <select name="f34" id="f34" size="1">
                        <!-- TMPL_IF name="f340" -->
                        <option value=" " selected="selected"># - No hay material biogr&aacute;fico</option>                              <!-- TMPL_ELSE -->
                        <option value=" "># - No hay material biogr&aacute;fico</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f34a" -->
                        <option value="a" selected="selected">a- Autobiografía</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Autobiografía</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f34b" -->
                        <option value="b" selected="selected">b- Biografía individual</option>                              <!-- TMPL_ELSE -->
                        <option value="b">b- Biografía individual</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f34c" -->
                        <option value="c" selected="selected">c- Biografía colectiva</option>                              <!-- TMPL_ELSE -->
                        <option value="c">c- Biografía colectiva</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f34d" -->
                        <option value="d" selected="selected">d- Contiene información bibliográfica</option>                              <!-- TMPL_ELSE -->
                        <option value="d">d- Contiene información bibliográfica</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>

	 <tr>

                <td><label for="f3537">35-37 Language</label> See <a href="http://www.loc.gov/marc/languages/language_code.html">MARC Code List for Languages</a></td>
                <td>
                        <input type="text" name="f3537" id="f3537" size="4"  maxlength="4" value="<!-- TMPL_VAR NAME="f3537" -->"/>
                </td>
        </tr>
	<tr>
                <td><label for="f38">38- Registro Modificado</label></td>
                <td>                
		<select name="f38" id="f38" size="1">                        			
			<!-- TMPL_IF name="f380" -->
                        <option value=" " selected="selected">#- No modificado</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- No modificado</option>
                        <!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f38s" -->
                        <option value="s" selected="selected">s- Abreviado</option>
			<!-- TMPL_ELSE -->
                        <option value="s">s- Abreviado</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38d" -->
                        <option value="d" selected="selected">d- Información fracasada omitida</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Información fracasada omitida</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38x" -->
                        <option value="x" selected="selected">x- Caracteres ausentes</option>
                        <!-- TMPL_ELSE -->
                        <option value="x">x- Caracteres ausentes</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38r" -->
                        <option value="r" selected="selected">r-Completamente tarjetas romanizadas/impresas en el script</option>
                        <!-- TMPL_ELSE -->
                        <option value="r">r-Completamente tarjetas romanizadas/impresas en el script</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38o" -->
                        <option value="o" selected="selected">o- Completamente romanizado / tarjetas impresas romanizadas</option>
                        <!-- TMPL_ELSE -->
                        <option value="o">o- Completamente romanizado / tarjetas impresas romanizadas</option>
                        <!-- /TMPL_IF -->
		</select>

                </td>
        </tr>
<tr>
                <td><label for="f39">39- Fuente de catalogaci&oacute;n</label></td>
                <td>
                <select name="f39" id="f39" size="1">                                    
                        <!-- TMPL_IF name="f390" -->
                        <option value=" " selected="selected"># - Agencia bibliogr&acute;fica nacional</option>
                        <!-- TMPL_ELSE -->
                        <option value=" "># - Agencia bibliogr&acute;fica nacional</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f39c" -->
                        <option value="c" selected="selected">c- Programa de catalogación cooperativo</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Programa de catalogación cooperativo</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f39d" -->
                        <option value="d" selected="selected">d- Otro</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Otro</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f39u" -->
                        <option value="u" selected="selected">u- Desconocido</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Desconocido</option>
                        <!-- /TMPL_IF -->
		</select>
                </td>
        </tr>

</table>
<fieldset class="action"><input type="submit" value="OK" /> <a href="#" class="cancel close">Cancelar</a></fieldset>
</form>
<script type="text/javascript">//<![CDATA[

// Pad the string with spaces so that it is 4 characters long.
// Also, truncate strings that are longer than 4 characters.
function pad4(s) {
	var pad = "";
	if (s.length < 4) {
		var padLength = 4 - s.length;
		for (var i = 0; i < 4 - s.length; i++) {
			pad += " ";
		}
		s += pad;
	} else {
		s = s.substring(0, 4);
	}
	return s;
}

function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
            field.value = 
			document.f_pop.f1.value+
			document.f_pop.f6.value+
			// bug 2563 {
			( document.f_pop.f710.value.match(/^\s*$/)  ? "    " : pad4(document.f_pop.f710.value)  )+
			( document.f_pop.f1114.value.match(/^\s*$/) ? "    " : pad4(document.f_pop.f1114.value) )+
			// }
			document.f_pop.f1517.value+
			document.f_pop.f1821.value+
			document.f_pop.f22.value+
			document.f_pop.f23.value+
			document.f_pop.f2427.value+
			document.f_pop.f28.value+
			document.f_pop.f29.value+
			document.f_pop.f30.value+
			document.f_pop.f31.value+ ' '+
			document.f_pop.f33.value+
			document.f_pop.f34.value+
			document.f_pop.f3537.value+
			document.f_pop.f38.value+
			document.f_pop.f39.value;
		self.close();
		return false;
	}
	//]]>
</script>

<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
