<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Authorities &rsaquo; Leader builder</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding:1em;">
<h3>000 - Leader</h3>
<form name="f_pop" onsubmit="report()">
<input type="hidden" name="plugin_name" value="marc21_leader_authorities.pl" />
<table>
	<tr>
		<td>1-4 Tama&nilde;o del registro</td>
		<td>(autorellenar)</td>
	</tr>
	<tr>
		<td><label for="f5">5- Estado del registro</label></td>
		<td>
			<select name="f5" id="f5" size="1">
			<!-- TMPL_IF name="f5a" -->
				<option value="a" selected="selected">a- Aumento en nivel de codificaci&oacute;n</option>
			<!-- TMPL_ELSE -->
				<option value="a">a- Aumento en nivel de codificaci&oacute;n</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5c" -->
				<option value="c" selected="selected">c- Corregido o revisado</option>
			<!-- TMPL_ELSE -->
				<option value="c">c- Corregido o revisado</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5d" -->
				<option value="d" selected="selected">d- Eliminado</option>
			<!-- TMPL_ELSE -->
				<option value="d">d- Eliminado</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5n" -->
				<option value="n" selected="selected">n- Nuevo</option>
			<!-- TMPL_ELSE -->
				<option value="n">n- Nuevo</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5o" -->
				<option value="o" selected="selected">o- Obsoleto</option>
			<!-- TMPL_ELSE -->
				<option value="o">o- Obsoleto</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5s" -->
				<option value="s" selected="selected">s-Suprimido; cabecera dividida en dos o mas cabeceras</option>
			<!-- TMPL_ELSE -->
				<option value="s">s-Suprimido; cabecera dividida en dos o mas cabeceras</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5x" -->
				<option value="x" selected="selected">x- Suprimido; encabezamiento reemplazado por otro encabezamiento</option>
			<!-- TMPL_ELSE -->
				<option value="x">x- Suprimido; encabezamiento reemplazado por otro encabezamiento</option>
			<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="f6">6- Tipo de registro</label></td>
		<td>
            <input name="f6" value="z" type="hidden" />
            z- Información de autoridad
		</td>
	</tr>
	<tr>
		<td>7-8 Indefinido</td>
		<td></td>
	</tr>

	<tr>
		<td><label for="f9">9- Codificaci&oacute;n</label></td>
		<td>
			<select name="f9" id="f9" size="1">
				<!-- TMPL_IF name="f9 " -->
					<option value=" " selected="selected">MARC-8</option>
				<!-- TMPL_ELSE -->
					<option value=" ">MARC-8</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f9a" -->
					<option value="a" selected="selected">a- UCS/Unicode</option>
				<!-- TMPL_ELSE -->
					<option value="a">a- UCS/Unicode</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>10-16 indicador/subcampos/tamaño</td>
		<td>(autorellenar)</td>
	<tr>
		<td><label for="f17">17- Nivel de codificaci&oacute;n</label></td>
		<td>
			<select name="f17" id="f17" size="1">
				<!-- TMPL_IF name="f17n" -->
					<option value="n" selected="selected">n- Registro de autoridad completo</option>
				<!-- TMPL_ELSE -->
					<option value="n">n- Registro de autoridad completo</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f17o" -->
					<option value="o" selected="selected">o- Registro de autoridad incompleto</option>
				<!-- TMPL_ELSE -->
					<option value="o">o- Registro de autoridad incompleto</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>

	<tr>
		<td>18-19 Indefinido</td>
		<td></td>
	</tr>

	<tr>
		<td>20-24 entry map &amp; lengths</td>
		<td>(autorellenar)</td>
	<tr>

</table>
<fieldset class="action"><input type="submit" value="OK" /> <a href="#" class="cancel close">Cancelar</a></fieldset>
</form>
<script type="text/javascript">//<![CDATA[
function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value = 
			'     '+
			document.f_pop.f5.value+
			document.f_pop.f6.value+
			'  '+
			document.f_pop.f9.value+ 
			'22     '+
			document.f_pop.f17.value+
			'  '+
			'4500';
		self.close();
		return false;
	}
	//]]>
</script>

<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
