<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Cataloging &rsaquo; 006 builder</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding:1em;">
<h3>006 Fixed-length data elements--Additional material characteristics--General information</h3>
<form name="f_pop" onsubmit="report()">
<input type="hidden" name="plugin_name" value="marc21_field_006.pl" />
<table>
	<tr>
		<td><label for="f0">0 Formulario de material</label></td>
                <td>
                        <select name="f0" id="f0" size="1">
                        <!-- TMPL_IF name="f0a" -->
                                <option value="a" selected="selected">a- Material del lenguaje</option>
                        <!-- TMPL_ELSE -->
                                <option value="a">a- Material del lenguaje</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f0b" -->
                                <option value="b" selected="selected">b- Material manuscrito de idioma</option>
                        <!-- TMPL_ELSE -->
                                <option value="b">b- Material manuscrito de idioma</option>
                        <!-- /TMPL_IF -->
        		</select>
		</td>
	</tr>
	<tr>
                <td>01-04 Illustraciones </td>
                <td>(autorellenar de 300)<input type="hidden" name="f014" size="4"  maxlength="4" value="<!-- TMPL_VAR NAME="f014" -->"/></td>
        </tr>
	        <tr>
                <!-- 5 Target Audience -->
                <td><label for="f5">5- Audiencia destinada</label></td>
                <td>
                <select name="f5" id="f5" size="1">

                        <!-- TMPL_IF name="f5|" -->
                        <option value="|" selected="selected">|- Predeterminado</option>
                        <!-- TMPL_ELSE -->
                        <option value="|">|- Predeterminado</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f50" -->
                        <option value=" " selected="selected">#- Desconocido o no especificado</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Desconocido o no especificado</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5a" -->
                         <option value="a" selected="selected">a- Preescolar</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Preescolar</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5b" -->
                         <option value="b" selected="selected">b- Primario</option>
                        <!-- TMPL_ELSE -->
                        <option value="b">b- Primario</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5c" -->
                         <option value="c" selected="selected">c- Escuela primaria y secundaria</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Escuela primaria y secundaria</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5d" -->
                         <option value="d" selected="selected">d- Escuela secundaria</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Escuela secundaria</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5e" -->
                         <option value="e" selected="selected">e- Adulto</option>
                        <!-- TMPL_ELSE -->
                        <option value="e">e- Adulto</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5f" -->
                         <option value="f" selected="selected">f- Specializado</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Specializado</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5g" -->
                         <option value="g" selected="selected">g- General </option>
                        <!-- TMPL_ELSE -->
                        <option value="g">g- General </option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f5j" -->
                         <option value="j" selected="selected">j-Juvenil </option>
                        <!-- TMPL_ELSE -->
                        <option value="j">j-Juvenil </option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>
	 <tr>
                <!-- 06 Form of an item -->
                <td><label for="f6">06- Formulario de un art&iacute;culo</label></td>
                <td>
                <select name="f6" id="f6" size="1">

                        <!-- TMPL_IF name="f60" -->
                        <option value=" " selected="selected">#- Ninguno de los siguientes</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Ninguno de los siguientes</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6a" -->
                        <option value="a" selected="selected">a- Microfilm</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Microfilm</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6b" -->
                        <option value="b" selected="selected">b- Microficha</option>
                        <!-- TMPL_ELSE -->
                        <option value="b">b- Microficha</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6c" -->
                        <option value="c" selected="selected">a- Microopaco</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">a- Microopaco</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6d" -->
                        <option value="d" selected="selected">d- Impresión extendida</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Impresión extendida</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6f" -->
                        <option value="f" selected="selected">f- Braille</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Braille</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6r" -->
                        <option value="r" selected="selected">r- Reproducción impresa común</option>
                        <!-- TMPL_ELSE -->
                        <option value="r">r- Reproducción impresa común</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6s" -->
                        <option value="s" selected="selected">c- Electrónico</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">c- Electrónico</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f6!" -->
                        <option value="!" selected="selected">! - No se codifica</option>
                        <!-- TMPL_ELSE -->
                        <option value="!">! - No se codifica</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>
       <tr>
                <td>7-10 Naturaleza de los contenidos </td>
                <td>(Valor derivado)
                        <input type="hidden" name="f710" size="4" maxlength="4" value="<!-- TMPL_VAR NAME="f710" -->"/>                </td>
        </tr>
        <tr>
                <td><label for="f11">11- Publicación gubernamental</label></td>
                <td>
                <select name="f11" id="f11" size="1">
		
                        <!-- TMPL_IF name="f11|" -->
                        <option value="|" selected="selected">|- Predeterminado</option>
                        <!-- TMPL_ELSE -->
                        <option value="|">|- Predeterminado</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f110" -->
                        <option value=" " selected="selected">#- No es una publicación gubernamental</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- No es una publicación gubernamental</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f11a" -->
                        <option value="a" selected="selected">a- Componente autónomo o semi-autónomo</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Componente autónomo o semi-autónomo</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f11c" -->
                        <option value="c" selected="selected">c- Multilocal</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Multilocal</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f11f" -->
                        <option value="f" selected="selected">f- Federal/nacional</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Federal/nacional</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f11i" -->
                        <option value="i" selected="selected">i- Intergubernamental e internacional</option>
                        <!-- TMPL_ELSE -->
                        <option value="i">i- Intergubernamental e internacional</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f11l" -->
                        <option value="l" selected="selected">l- Local</option>
                        <!-- TMPL_ELSE -->
                        <option value="l">l- Local</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f11m" -->
                        <option value="m" selected="selected">m- Multiestado</option>
                        <!-- TMPL_ELSE -->
                        <option value="m">m- Multiestado</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f11o" -->
                        <option value="o" selected="selected">o- Publicación gubernamental - nivel indeterminado</option>
                        <!-- TMPL_ELSE -->
                        <option value="o">o- Publicación gubernamental - nivel indeterminado</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f11s" -->
                        <option value="s" selected="selected">s-Estado, provincial, territorial, dependiente, etc.</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">s-Estado, provincial, territorial, dependiente, etc.</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f11u" -->
                        <option value="u" selected="selected">u- Desconocido si el ítem es una publicación gubernamental</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Desconocido si el ítem es una publicación gubernamental</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f11z" -->
                        <option value="z" selected="selected">z- Otro</option>
                        <!-- TMPL_ELSE -->
                        <option value="z">z- Otro</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>
        <tr>
                <td><label for="f12">8- Nivel de prepublicaci&oacute;n</label></td>
                <td>
                <select name="f12" id="f12" size="1">
                        <!-- TMPL_IF name="f120" -->
                        <option value="0" selected="selected">0- No es una conferencia</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0- No es una conferencia</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f121" -->
                        <option value="1" selected="selected">1- Publicaci&oacute;n de conferencia</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Publicaci&oacute;n de conferencia</option>
                        <!-- /TMPL_IF -->

		</select>
		</td>
	</tr>
	<tr>
                <td><label for="f13">13- Homenaje</label></td>
                <td>
                <select name="f13" id="f13" size="1">
                        <!-- TMPL_IF name="f130" -->
                        <option value="0" selected="selected">0 - No es un festschrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0 - No es un festschrift</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f131" -->
                        <option value="1" selected="selected">1- Festschrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Festschrift</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>

        <tr>
                <td><label for="f14">14- &Iacute;ndice</label></td>
                <td>
                <select name="f14" id="f14" size="1">
                        <!-- TMPL_IF name="f14|" -->
                        <option value="|" selected="selected">|- Predeterminado</option>
                        <!-- TMPL_ELSE -->
                        <option value="|">|- Predeterminado</option>
                        <!-- /TMPL_IF -->
	
                        <!-- TMPL_IF name="f140" -->
                        <option value="0" selected="selected">0- No indizado</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0- No indizado</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f141" -->
                        <option value="1" selected="selected">1- &Iacute;ndice actual</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- &Iacute;ndice actual</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        	</tr>
		<tr><td>15 Indefinido</td><td></td>
		</tr>
		<tr>
                <td><label for="f16">16- Forma literaria</label></td>
                <td>
                <select name="f16" id="f16" size="1">
                        <!-- TMPL_IF name="f160" -->
                        <option value="0" selected="selected">0- No es ficci&oacute;n</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0- No es ficci&oacute;n</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f161" -->
                        <option value="1" selected="selected">1- Ficci&oacute;n</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Ficci&oacute;n</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f16c" -->
                        <option value="c" selected="selected">c- Tiras cómicas</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Tiras cómicas</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f16d" -->
                        <option value="d" selected="selected">d- Dramas</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Dramas</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f16e" -->
                        <option value="e" selected="selected">e- Ensayos</option>
                        <!-- TMPL_ELSE -->
                        <option value="e">e- Ensayos</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f16f" -->
                        <option value="f" selected="selected">f- Novelas</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Novelas</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f16h" -->
                        <option value="h" selected="selected">h -humor, s&aacute;tiras, etc.</option>
                        <!-- TMPL_ELSE -->
                        <option value="h">h -humor, s&aacute;tiras, etc.</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f16i" -->
                        <option value="i" selected="selected">i- Cartas</option>
                        <!-- TMPL_ELSE -->
                        <option value="i">i- Cartas</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f16j" -->
                        <option value="j" selected="selected">j- Cuentos</option>
                        <!-- TMPL_ELSE -->
                        <option value="j">j- Cuentos</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f16m" -->
                        <option value="m" selected="selected">m- Formas mixtas</option>
                        <!-- TMPL_ELSE -->
                        <option value="m">m- Formas mixtas</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f16p" -->
                        <option value="p" selected="selected">p- Poesía</option>
                        <!-- TMPL_ELSE -->
                        <option value="p">p- Poesía</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f16s" -->
                        <option value="s" selected="selected">s- Discursos</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">s- Discursos</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f16u" -->
                        <option value="u" selected="selected">u- Desconocido</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Desconocido</option>
                        <!-- /TMPL_IF -->

                </select>
                </td>
        </tr>
	<tr>
                <td><label for="f17">17- Biograf&iacute;a</label></td>
                <td>
                <select name="f17" id="f17" size="1">
                        <!-- TMPL_IF name="f170" -->
                        <option value=" " selected="selected"># - No hay material biogr&aacute;fico</option>                              <!-- TMPL_ELSE -->
                        <option value=" "># - No hay material biogr&aacute;fico</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f17a" -->
                        <option value="a" selected="selected">a- Autobiografía</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Autobiografía</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f17b" -->
                        <option value="b" selected="selected">b- Biografía individual</option>                              <!-- TMPL_ELSE -->
                        <option value="b">b- Biografía individual</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f17c" -->
                        <option value="c" selected="selected">c- Biografía colectiva</option>                              <!-- TMPL_ELSE -->
                        <option value="c">c- Biografía colectiva</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f17d" -->
                        <option value="d" selected="selected">d- Contiene información bibliográfica</option>                              <!-- TMPL_ELSE -->
                        <option value="d">d- Contiene información bibliográfica</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>

</table>
<fieldset class="action"><input type="submit" value="OK" /> <a href="#" class="cancel close">Cancelar</a></fieldset>
</form>
<script type="text/javascript">//<![CDATA[
function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value = 
			'<!-- TMPL_VAR NAME="dateentered" -->'+
			document.f_pop.f0.value+
			document.f_pop.f014.value+
			document.f_pop.f5.value+
			document.f_pop.f6.value+
			document.f_pop.f710.value+
			document.f_pop.f11.value+
			document.f_pop.f12.value+
			document.f_pop.f13.value+
			document.f_pop.f14.value+ ' '+
			document.f_pop.f16.value+
			document.f_pop.f17.value;
		self.close();
		return false;
	}
	//]]>
</script>

<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
