<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Authorities &rsaquo; 008 builder</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding:1em;">
<h3> 008 Fixed-length data elements</h3>
<form name="f_pop" onsubmit="report()">
<input type="hidden" name="plugin_name" value="marc21_field_008_authorities.pl" />
<table>
	<tr>
		<td>00-05 Fecha de ingreso en el archivo</td>
		<td><!-- TMPL_VAR name="f1" --></td>
        <input name="f1" value="<!-- TMPL_VAR name="f1" -->" type="hidden" />
	</tr>
	<tr>
		<td><label for="f6">06- Subdivisi&iacute;n geogr&aacute;fica directa o indirecta</label></td>
		<td>
			<select name="f6" id="f6" size="1">
            <!-- TMPL_IF name="f6 " -->
                <option value=" " selected="selected">#- Geográficamente no subdividido</option>
            <!-- TMPL_ELSE -->
                <option value=" ">#- Geográficamente no subdividido</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6d" -->
                <option value="d" selected="selected">d- Subdividido geograficamente&mdash;directo</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- Subdividido geograficamente&mdash;directo</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6i" -->
                <option value="i" selected="selected">i- Subdivisión geográfica indirecta</option>
            <!-- TMPL_ELSE -->
                <option value="i">i- Subdivisión geográfica indirecta</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
			</select>
		</td>
	</tr>

    <tr>
        <td><label for="f7">07- sistema de romanización</label></td>
        <td>
            <select name="f7" id="f7" size="1">
            <!-- TMPL_IF name="f7a" -->
                <option value="a" selected="selected">a- Estándar internacional</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Estándar internacional</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7b" -->
                <option value="b" selected="selected">b- Estandard nacional</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Estandard nacional</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7c" -->
                <option value="c" selected="selected">c- Estandard de asociación de bibliotecas nacionales</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Estandard de asociación de bibliotecas nacionales</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7d" -->
                <option value="d" selected="selected">d- Estandard de biblioteca nacional o agencia bibliográfica</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- Estandard de biblioteca nacional o agencia bibliográfica</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7e" -->
                <option value="e" selected="selected">e- Estandar local</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- Estandar local</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7f" -->
                <option value="f" selected="selected">f- Estandard de origen desconocido</option>
            <!-- TMPL_ELSE -->
                <option value="f">f- Estandard de origen desconocido</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7g" -->
                <option value="g" selected="selected">g- Romanización convencional o forma convencional del nombre en el lenguaje de la agencia catalogante</option>
            <!-- TMPL_ELSE -->
                <option value="g">g- Romanización convencional o forma convencional del nombre en el lenguaje de la agencia catalogante</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f8">08- Idioma de catalogaci&oacute;n</label></td>
        <td>
            <select name="f8" id="f8" size="1">
            <!-- TMPL_IF name="f8 " -->
                <option value=" " selected="selected"># - No hay informaci&oacute;n proporcionada</option>
            <!-- TMPL_ELSE -->
                <option value=" "># - No hay informaci&oacute;n proporcionada</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8b" -->
                <option value="b" selected="selected">b- Inglés y francés</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Inglés y francés</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8e" -->
                <option value="e" selected="selected">e- Solo inglés</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- Solo inglés</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8f" -->
                <option value="f" selected="selected">f- Solo Francés</option>
            <!-- TMPL_ELSE -->
                <option value="f">f- Solo Francés</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f9">09- Tipo de registro</label></td>
        <td>
            <select name="f9" id="f9" size="1">
            <!-- TMPL_IF name="f9a" -->
                <option value="a" selected="selected">a- Cabecera establecida</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Cabecera establecida</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f9b" -->
                <option value="b" selected="selected">b- Referencia sin rastros</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Referencia sin rastros</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f9c" -->
                <option value="c" selected="selected">c- Referencia rastreada</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Referencia rastreada</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f9d" -->
                <option value="d" selected="selected">d-Subdivisión</option>
            <!-- TMPL_ELSE -->
                <option value="d">d-Subdivisión</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f9e" -->
                <option value="e" selected="selected">e- Etiqueta de nodo</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- Etiqueta de nodo</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f9f" -->
                <option value="f" selected="selected">f- Cabecera y subdivisión establecida</option>
            <!-- TMPL_ELSE -->
                <option value="f">f- Cabecera y subdivisión establecida</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f9g" -->
                <option value="g" selected="selected">g- Referencia y subdivisi&ocute;n</option>
            <!-- TMPL_ELSE -->
                <option value="g">g- Referencia y subdivisi&ocute;n</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f10">10- reglas de catalogaci&oacute;n descriptivas</label></td>
        <td>
            <select name="f10" id="f10" size="1">
            <!-- TMPL_IF name="f10a" -->
                <option value="a" selected="selected">a- REglas iniciales</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- REglas iniciales</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f10b" -->
                <option value="b" selected="selected">b- AACR 1</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- AACR 1</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f10c" -->
                <option value="c" selected="selected">c- AACR 2</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- AACR 2</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f10d" -->
                <option value="d" selected="selected">d- cabecera compatible AACR 2</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- cabecera compatible AACR 2</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f10n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f10z" -->
                <option value="z" selected="selected">z- Otro</option>
            <!-- TMPL_ELSE -->
                <option value="z">z- Otro</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f10|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f11">11- Sistema de cabeceras de temas/tesauro</label></td>
        <td>
            <select name="f11" id="f11" size="1">
            <!-- TMPL_IF name="f11a" -->
                <option value="a" selected="selected">a- Cabeceras temáticas de Library of Congress</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Cabeceras temáticas de Library of Congress</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11b" -->
                <option value="b" selected="selected">b- LC temas de literatura infantil</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- LC temas de literatura infantil</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11c" -->
                <option value="c" selected="selected">c- Temas Médicos</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Temas Médicos</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11d" -->
                <option value="d" selected="selected">d- Archivo de autoridades de biblioteca nacional de agricultura</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- Archivo de autoridades de biblioteca nacional de agricultura</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11k" -->
                <option value="k" selected="selected">k- Encabezamiento de materia canadiense</option>
            <!-- TMPL_ELSE -->
                <option value="k">k- Encabezamiento de materia canadiense</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11r" -->
                <option value="r" selected="selected">r- Tesauro de arte y arquitectura</option>
            <!-- TMPL_ELSE -->
                <option value="r">r- Tesauro de arte y arquitectura</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11s" -->
                <option value="s" selected="selected">s- Lista Sears de cabeceras temáticas</option>
            <!-- TMPL_ELSE -->
                <option value="s">s- Lista Sears de cabeceras temáticas</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11v" -->
                <option value="v" selected="selected">v- Directorio de estrellas-materia</option>
            <!-- TMPL_ELSE -->
                <option value="v">v- Directorio de estrellas-materia</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11z" -->
                <option value="z" selected="selected">z- Otro</option>
            <!-- TMPL_ELSE -->
                <option value="z">z- Otro</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f12">6- Tipo de series</label></td>
        <td>
            <select name="f12" id="f12" size="1">
            <!-- TMPL_IF name="f12a" -->
                <option value="a" selected="selected">a- Series monográficas</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Series monográficas</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f12b" -->
                <option value="b" selected="selected">b- Item multiparte</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Item multiparte</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f12c" -->
                <option value="c" selected="selected">c- Frase tipo periódica</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Frase tipo periódica</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f12n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f12z" -->
                <option value="z" selected="selected">z- Otro</option>
            <!-- TMPL_ELSE -->
                <option value="z">z- Otro</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f12|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f13">13- Series numeradas o no numeradas</label></td>
        <td>
            <select name="f13" id="f13" size="1">
            <!-- TMPL_IF name="f13a" -->
                <option value="a" selected="selected">a- Numerado</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Numerado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f13b" -->
                <option value="b" selected="selected">b- No numerado</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- No numerado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f13c" -->
                <option value="c" selected="selected">c- Numeraciones varias</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Numeraciones varias</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f13n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f13|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f14">Uso de encabezamiento - Entrada principal</label></td>
        <td>
            <select name="f14" id="f14" size="1">
            <!-- TMPL_IF name="f14a" -->
                <option value="a" selected="selected">a- Apropiado</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Apropiado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f14b" -->
                <option value="b" selected="selected">b- No apropiado</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- No apropiado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f14|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f15">15- Uso de encabezamiento -- Entrada por materia</label></td>
        <td>
            <select name="f15" id="f15" size="1">
            <!-- TMPL_IF name="f15a" -->
                <option value="a" selected="selected">a- Apropiado</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Apropiado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15b" -->
                <option value="b" selected="selected">b- No apropiado</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- No apropiado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f16">16- Uso de encabezamiento -- Entrada por serie</label></td>
        <td>
            <select name="f16" id="f16" size="1">
            <!-- TMPL_IF name="f16a" -->
                <option value="a" selected="selected">a- Apropiado</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Apropiado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f16b" -->
                <option value="b" selected="selected">b- No apropiado</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- No apropiado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f16|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f17">17 - Tipo de subdivisi&oacute;n de materia</label></td>
        <td>
            <select name="f17" id="f17" size="1">
            <!-- TMPL_IF name="f17a" -->
                <option value="a" selected="selected">a- Topico</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Topico</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f17b" -->
                <option value="b" selected="selected">b- Formulario</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Formulario</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f17c" -->
                <option value="c" selected="selected">c- Cronológico</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Cronológico</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f17d" -->
                <option value="d" selected="selected">d- Geográfico</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- Geográfico</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f17e" -->
                <option value="e" selected="selected">e- Idioma</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- Idioma</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f17n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f17|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>

    <tr>
        <td>18-27 posiciones de car&aacute;cter indefinida</td>
        <td></td>
    </tr>

    <tr>
        <td><label for="f28">28- Tipo de agencia de gobierno</label></td>
        <td>
            <select name="f28" id="f28" size="1">
            <!-- TMPL_IF name="f28 " -->
                <option value=" " selected="selected">#- No es una agencia gubernamental</option>
            <!-- TMPL_ELSE -->
                <option value=" ">#- No es una agencia gubernamental</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28a" -->
                <option value="a" selected="selected">a- Componente autónomo o semi-autónomo</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Componente autónomo o semi-autónomo</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28c" -->
                <option value="c" selected="selected">c- Multilocal</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Multilocal</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28f" -->
                <option value="f" selected="selected">f- Federal/nacional</option>
            <!-- TMPL_ELSE -->
                <option value="f">f- Federal/nacional</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28i" -->
                <option value="i" selected="selected">i- Intergubernamental e internacional</option>
            <!-- TMPL_ELSE -->
                <option value="i">i- Intergubernamental e internacional</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28l" -->
                <option value="l" selected="selected">l- Local</option>
            <!-- TMPL_ELSE -->
                <option value="l">l- Local</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28m" -->
                <option value="m" selected="selected">m- Multiestado</option>
            <!-- TMPL_ELSE -->
                <option value="m">m- Multiestado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28o" -->
                <option value="o" selected="selected">o- Agencia gubernamental - tipo indeterminado</option>
            <!-- TMPL_ELSE -->
                <option value="o">o- Agencia gubernamental - tipo indeterminado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28s" -->
                <option value="s" selected="selected">s-Estado, provincial, territorial, dependiente, etc.</option>
            <!-- TMPL_ELSE -->
                <option value="s">s-Estado, provincial, territorial, dependiente, etc.</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28u" -->
                <option value="u" selected="selected">u- Desconocido si el encabezamiento es una agencia del gobierno</option>
            <!-- TMPL_ELSE -->
                <option value="u">u- Desconocido si el encabezamiento es una agencia del gobierno</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28z" -->
                <option value="z" selected="selected">z- Otro</option>
            <!-- TMPL_ELSE -->
                <option value="z">z- Otro</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f28|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f29">29- Referencia de evaluaci&oacute;n</label></td>
        <td>
            <select name="f29" id="f29" size="1">
            <!-- TMPL_IF name="f29a" -->
                <option value="a" selected="selected">a- Los trazados son coherentes con el título</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Los trazados son coherentes con el título</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f29b" -->
                <option value="b" selected="selected">b- Trazados no necesariamente consistentes con la cabecera</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Trazados no necesariamente consistentes con la cabecera</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f29n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f29|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>

    <tr>
        <td>30 Posici&oacute;n de car&aacute;cter indefinida</td>
        <td></td>
    </tr>

    <tr>
        <td><label for="f31">31 - Actualizaci&oacute;n de registro en proceso</label></td>
        <td>
            <select name="f31" id="f31" size="1">
            <!-- TMPL_IF name="f31a" -->
                <option value="a" selected="selected">a- El registro puede ser usado</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- El registro puede ser usado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f31b" -->
                <option value="b" selected="selected">b- El registro está siendo actualizado</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- El registro está siendo actualizado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f31|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f32">32- Nombre personal no diferenciado</label></td>
        <td>
            <select name="f32" id="f32" size="1">
            <!-- TMPL_IF name="f32a" -->
                <option value="a" selected="selected">a- Nombre personal diferenciado</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Nombre personal diferenciado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f32b" -->
                <option value="b" selected="selected">b- Nombre personal indiferenciado</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Nombre personal indiferenciado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f32n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f32|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f33">33 - Nivel de establecimiento</label></td>
        <td>
            <select name="f33" id="f33" size="1">
            <!-- TMPL_IF name="f33a" -->
                <option value="a" selected="selected">a- Plenamente establecida</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- Plenamente establecida</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f33b" -->
                <option value="b" selected="selected">b- Memorándum</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- Memorándum</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f33c" -->
                <option value="c" selected="selected">c- Provisional</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Provisional</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f33d" -->
                <option value="d" selected="selected">d- Preliminar</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- Preliminar</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f33n" -->
                <option value="n" selected="selected">n- No aplicable</option>
            <!-- TMPL_ELSE -->
                <option value="n">n- No aplicable</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f33|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>

    <tr>
        <td>34-37 Posiciones de car&aacute;cter indefinidas</td>
        <td></td>
    </tr>

    <tr>
        <td><label for="f38">38- Registro modificado</label></td>
        <td>
            <select name="f38" id="f38" size="1">
            <!-- TMPL_IF name="f38 " -->
                <option value=" " selected="selected">#- No modificado</option>
            <!-- TMPL_ELSE -->
                <option value=" ">#- No modificado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f38s" -->
                <option value="s" selected="selected">s- Abreviado</option>
            <!-- TMPL_ELSE -->
                <option value="s">s- Abreviado</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f38x" -->
                <option value="x" selected="selected">x- Caracteres ausentes</option>
            <!-- TMPL_ELSE -->
                <option value="x">x- Caracteres ausentes</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f38|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="f39">39- Fuente de catalogaci&oacute;n</label></td>
        <td>
            <select name="f39" id="f39" size="1">
            <!-- TMPL_IF name="f39 " -->
                <option value=" " selected="selected"># - Agencia bibliogr&acute;fica nacional</option>
            <!-- TMPL_ELSE -->
                <option value=" "># - Agencia bibliogr&acute;fica nacional</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f39c" -->
                <option value="c" selected="selected">c- Programa de catalogación cooperativo</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- Programa de catalogación cooperativo</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f39d" -->
                <option value="d" selected="selected">d- Otro</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- Otro</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f39u" -->
                <option value="u" selected="selected">u- Desconocido</option>
            <!-- TMPL_ELSE -->
                <option value="u">u- Desconocido</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f39|" -->
                <option value="|" selected="selected">|- No se intenta de codificar</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- No se intenta de codificar</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
</table>
<fieldset class="action"><input type="submit" value="OK" /> <a href="#" class="cancel close">Cancelar</a></fieldset>
</form>
<script type="text/javascript">//<![CDATA[
function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value = 
			document.f_pop.f1.value+
			document.f_pop.f6.value+
			document.f_pop.f7.value+
			document.f_pop.f8.value+
			document.f_pop.f9.value+
			document.f_pop.f10.value+
			document.f_pop.f11.value+
			document.f_pop.f12.value+
			document.f_pop.f13.value+
			document.f_pop.f14.value+
			document.f_pop.f15.value+
			document.f_pop.f16.value+
			document.f_pop.f17.value+
            '          '+
			document.f_pop.f28.value+
			document.f_pop.f29.value+
			' '+
			document.f_pop.f31.value+
			document.f_pop.f32.value+
			document.f_pop.f33.value+
            '    '+
			document.f_pop.f38.value+
			document.f_pop.f39.value;
		self.close();
		return false;
	}
	//]]>
</script>

<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
