<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Constructor Campo_UNIMARC 128c</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td></td>
		<td>
			<select name="f1" size="1">
	
			<!-- TMPL_IF name="f1ba" -->
				<option value="ba" SELECTED>Cuerno</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Cuerno</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bb" -->
				<option value="bb" SELECTED>Trompeta</option>
			<!-- TMPL_ELSE -->
				<option value="bb">Trompeta</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bc" -->
				<option value="bc" SELECTED>Cornetín</option>
			<!-- TMPL_ELSE -->
				<option value="bc">Cornetín</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bd" -->
				<option value="bd" SELECTED>Trombón</option>
			<!-- TMPL_ELSE -->
				<option value="bd">Trombón</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1be" -->
				<option value="be" SELECTED>Tuba</option>
			<!-- TMPL_ELSE -->
				<option value="be">Tuba</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bf" -->
				<option value="bf" SELECTED>Saxofón</option>
			<!-- TMPL_ELSE -->
				<option value="bf">Saxofón</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bt" -->
				<option value="bt" SELECTED>Etnias</option>
			<!-- TMPL_ELSE -->
				<option value="bt">Etnias</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bu" -->
				<option value="bu" SELECTED>Obsoleto (cobre)</option>
			<!-- TMPL_ELSE -->
				<option value="bu">Obsoleto (cobre)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bz" -->
				<option value="bz" SELECTED>Otros de cobre</option>
			<!-- TMPL_ELSE -->
				<option value="bz">Otros de cobre</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ca" -->
				<option value="ca" SELECTED>Mixtos</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Mixtos</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1cb" -->
				<option value="cb" SELECTED>Mujeres  </option>
			<!-- TMPL_ELSE -->
				<option value="cb">Mujeres </option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1cc" -->
				<option value="cc" SELECTED>Hombres</option>
			<!-- TMPL_ELSE -->
				<option value="cc">Hombres</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1cd" -->
				<option value="cd" SELECTED>Ni&ntilde;os</option>
			<!-- TMPL_ELSE -->
				<option value="cd">Ni&ntilde;os</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ct" -->
				<option value="ct" SELECTED>Etnias</option>
			<!-- TMPL_ELSE -->
				<option value="ct">Etnias</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1cu" -->
				<option value="cu" SELECTED>Obsoleto (voz)</option>
			<!-- TMPL_ELSE -->
				<option value="cu">Obsoleto (voz)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1oa" -->
				<option value="oa" SELECTED>Orquesta sinfónica</option>
			<!-- TMPL_ELSE -->
				<option value="oa">Orquesta sinfónica</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ob" -->
				<option value="ob" SELECTED>Orquesta de cámara</option>
			<!-- TMPL_ELSE -->
				<option value="ob">Orquesta de cámara</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1oc" -->
				<option value="oc" SELECTED>Orquesta de cuerdas</option>
			<!-- TMPL_ELSE -->
				<option value="oc">Orquesta de cuerdas</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1od" -->
				<option value="od" SELECTED>Fanfarria</option>
			<!-- TMPL_ELSE -->
				<option value="od">Fanfarria</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1oe" -->
				<option value="oe" SELECTED>Orquesta de dansa</option>
			<!-- TMPL_ELSE -->
				<option value="oe">Orquesta de dansa</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1of" -->
				<option value="of" SELECTED>Gran conjunto - Orquesta de cobres</option>
			<!-- TMPL_ELSE -->
				<option value="of">Gran conjunto - Orquesta de cobres</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ot" -->
				<option value="ot" SELECTED>Etnia</option>
			<!-- TMPL_ELSE -->
				<option value="ot">Etnia</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ou" -->
				<option value="ou" SELECTED>Obsoleto (orquesta)</option>
			<!-- TMPL_ELSE -->
				<option value="ou">Obsoleto (orquesta)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1oz" -->
				<option value="oz" SELECTED>Otra orquesta</option>
			<!-- TMPL_ELSE -->
				<option value="oz">Otra orquesta</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1pa" -->
				<option value="pa" SELECTED>Tímpano</option>
			<!-- TMPL_ELSE -->
				<option value="pa">Tímpano</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1pb" -->
				<option value="pb" SELECTED>Xilofono</option>
			<!-- TMPL_ELSE -->
				<option value="pb">Xilofono</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1pc" -->
				<option value="pc" SELECTED>Marimba</option>
			<!-- TMPL_ELSE -->
				<option value="pc">Marimba</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1pd" -->
				<option value="pd" SELECTED>Tambor, bateria</option>
			<!-- TMPL_ELSE -->
				<option value="pd">Tambor, bateria</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1pt" -->
				<option value="pt" SELECTED>Etnia</option>
			<!-- TMPL_ELSE -->
				<option value="pt">Etnia</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1pu" -->
				<option value="pu" SELECTED>Obsoleto (percusión)</option>
			<!-- TMPL_ELSE -->
				<option value="pu">Obsoleto (percusión)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1pz" -->
				<option value="pz" SELECTED>Otros de percusión</option>
			<!-- TMPL_ELSE -->
				<option value="pz">Otros de percusión</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1sa" -->
				<option value="sa" SELECTED>Violón</option>
			<!-- TMPL_ELSE -->
				<option value="sa">Violón</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1sb" -->
				<option value="sb" SELECTED>Contralto</option>
			<!-- TMPL_ELSE -->
				<option value="sb">Contralto</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1sc" -->
				<option value="sc" SELECTED>Violonchello</option>
			<!-- TMPL_ELSE -->
				<option value="sc">Violonchello</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1sd" -->
				<option value="sd" SELECTED>Contrabajo</option>
			<!-- TMPL_ELSE -->
				<option value="sd">Contrabajo</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1se" -->
				<option value="se" SELECTED>Viola</option>
			<!-- TMPL_ELSE -->
				<option value="se">Viola</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1sf" -->
				<option value="sf" SELECTED>Viola de amor</option>
			<!-- TMPL_ELSE -->
				<option value="sf">Viola de amor</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1sg" -->
				<option value="sg" SELECTED>Viola da gamba</option>
			<!-- TMPL_ELSE -->
				<option value="sg">Viola da gamba</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1st" -->
				<option value="st" SELECTED>Etnia</option>
			<!-- TMPL_ELSE -->
				<option value="st">Etnia</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1su" -->
				<option value="su" SELECTED>Obsoleto (cuerda frotada)</option>
			<!-- TMPL_ELSE -->
				<option value="su">Obsoleto (cuerda frotada)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1sz" -->
				<option value="sz" SELECTED>Otros (cuerda frotada)</option>
			<!-- TMPL_ELSE -->
				<option value="sz">Otros (cuerda frotada)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1uu" -->
				<option value="uu" SELECTED>Obsoleto (no precisa)</option>
			<!-- TMPL_ELSE -->
				<option value="uu">Obsoleto (no precisa)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ea" -->
				<option value="ea" SELECTED>Sintetizador</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Sintetizador</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1eb" -->
				<option value="eb" SELECTED>Cinta magn&eacute;tica</option>
			<!-- TMPL_ELSE -->
				<option value="eb">Cinta magn&eacute;tica</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ec" -->
				<option value="ec" SELECTED>Computadora</option>
			<!-- TMPL_ELSE -->
				<option value="ec">Computadora</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ed" -->
				<option value="ed" SELECTED>Ondas Martenot</option>
			<!-- TMPL_ELSE -->
				<option value="ed">Ondas Martenot</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1eu" -->
				<option value="eu" SELECTED>Obsoleto (electrónica)</option>
			<!-- TMPL_ELSE -->
				<option value="eu">Obsoleto (electrónica)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ez" -->
				<option value="ez" SELECTED>Otros (Electr&oacute;nicos)</option>
			<!-- TMPL_ELSE -->
				<option value="ez">Otros (Electr&oacute;nicos)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ka" -->
				<option value="ka" SELECTED>Piano</option>
			<!-- TMPL_ELSE -->
				<option value="ka">Piano</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1kb" -->
				<option value="kb" SELECTED>Organo</option>
			<!-- TMPL_ELSE -->
				<option value="kb">Organo</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1kc" -->
				<option value="kc" SELECTED>Clavecín (cémbalo)</option>
			<!-- TMPL_ELSE -->
				<option value="kc">Clavecín (cémbalo)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1kd" -->
				<option value="kd" SELECTED>Clavicordio</option>
			<!-- TMPL_ELSE -->
				<option value="kd">Clavicordio</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ke" -->
				<option value="ke" SELECTED>Continuado</option>
			<!-- TMPL_ELSE -->
				<option value="ke">Continuado</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1kf" -->
				<option value="kf" SELECTED>Celesta</option>
			<!-- TMPL_ELSE -->
				<option value="kf">Celesta</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1kt" -->
				<option value="kt" SELECTED>Etnia</option>
			<!-- TMPL_ELSE -->
				<option value="kt">Etnia</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ku" -->
				<option value="ku" SELECTED>Obsoleto (teclado)</option>
			<!-- TMPL_ELSE -->
				<option value="ku">Obsoleto (teclado)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1kz" -->
				<option value="kz" SELECTED>Otros</option>
			<!-- TMPL_ELSE -->
				<option value="kz">Otros</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1va" -->
				<option value="va" SELECTED>Soprano</option>
			<!-- TMPL_ELSE -->
				<option value="va">Soprano</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vb" -->
				<option value="vb" SELECTED>Mezzosoprano</option>
			<!-- TMPL_ELSE -->
				<option value="vb">Mezzosoprano</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vc" -->
				<option value="vc" SELECTED>Contralto</option>
			<!-- TMPL_ELSE -->
				<option value="vc">Contralto</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vd" -->
				<option value="vd" SELECTED>Tenor</option>
			<!-- TMPL_ELSE -->
				<option value="vd">Tenor</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ve" -->
				<option value="ve" SELECTED>Barítono</option>
			<!-- TMPL_ELSE -->
				<option value="ve">Barítono</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vf" -->
				<option value="vf" SELECTED>Baja</option>
			<!-- TMPL_ELSE -->
				<option value="vf">Baja</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vg" -->
				<option value="vg" SELECTED>Contralto</option>
			<!-- TMPL_ELSE -->
				<option value="vg">Contralto</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vh" -->
				<option value="vh" SELECTED>Voces agudass</option>
			<!-- TMPL_ELSE -->
				<option value="vh">Voces agudass</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vi" -->
				<option value="vi" SELECTED>Voces medias</option>
			<!-- TMPL_ELSE -->
				<option value="vi">Voces medias</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vj" -->
				<option value="vj" SELECTED>Voces graves</option>
			<!-- TMPL_ELSE -->
				<option value="vj">Voces graves</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vt" -->
				<option value="vt" SELECTED>Etnia</option>
			<!-- TMPL_ELSE -->
				<option value="vt">Etnia</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vu" -->
				<option value="vu" SELECTED>Obsoleto (Voz precisa)</option>
			<!-- TMPL_ELSE -->
				<option value="vu">Obsoleto (Voz precisa)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ta" -->
				<option value="ta" SELECTED>Arpa</option>
			<!-- TMPL_ELSE -->
				<option value="ta">Arpa</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1tb" -->
				<option value="tb" SELECTED>Familia de la guitarra</option>
			<!-- TMPL_ELSE -->
				<option value="tb">Familia de la guitarra</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1tc" -->
				<option value="tc" SELECTED>Familia del la&acute;d</option>
			<!-- TMPL_ELSE -->
				<option value="tc">Familia del la&acute;d</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1td" -->
				<option value="td" SELECTED>Mandolina</option>
			<!-- TMPL_ELSE -->
				<option value="td">Mandolina</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1tt" -->
				<option value="tt" SELECTED>Etnia</option>
			<!-- TMPL_ELSE -->
				<option value="tt">Etnia</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1tu" -->
				<option value="tu" SELECTED>Obsoleto (cuerda pinzada)</option>
			<!-- TMPL_ELSE -->
				<option value="tu">Obsoleto (cuerda pinzada)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1tz" -->
				<option value="tz" SELECTED>Otros de cuerda pinzada</option>
			<!-- TMPL_ELSE -->
				<option value="tz">Otros de cuerda pinzada</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wa" -->
				<option value="wa" SELECTED>Flauta traversa</option>
			<!-- TMPL_ELSE -->
				<option value="wa">Flauta traversa</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wb" -->
				<option value="wb" SELECTED>Oboe</option>
			<!-- TMPL_ELSE -->
				<option value="wb">Oboe</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wc" -->
				<option value="wc" SELECTED>Clarinete</option>
			<!-- TMPL_ELSE -->
				<option value="wc">Clarinete</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wd" -->
				<option value="wd" SELECTED>Bajón</option>
			<!-- TMPL_ELSE -->
				<option value="wd">Bajón</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1we" -->
				<option value="we" SELECTED>Piccolo</option>
			<!-- TMPL_ELSE -->
				<option value="we">Piccolo</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wf" -->
				<option value="wf" SELECTED>Corno ingl&eacute;s</option>
			<!-- TMPL_ELSE -->
				<option value="wf">Corno ingl&eacute;s</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wg" -->
				<option value="wg" SELECTED>Clarinete bajo</option>
			<!-- TMPL_ELSE -->
				<option value="wg">Clarinete bajo</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wh" -->
				<option value="wh" SELECTED>Grabadora </option>
			<!-- TMPL_ELSE -->
				<option value="wh">Grabadora</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wi" -->
				<option value="wi" SELECTED>Saxofón</option>
			<!-- TMPL_ELSE -->
				<option value="wi">Saxofón</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wt" -->
				<option value="wt" SELECTED>Etnia</option>
			<!-- TMPL_ELSE -->
				<option value="wt">Etnia</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wu" -->
				<option value="wu" SELECTED>Obsoleto</option>
			<!-- TMPL_ELSE -->
				<option value="wu">Obsoleto</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1wz" -->
				<option value="wz" SELECTED>Otros de madera</option>
			<!-- TMPL_ELSE -->
				<option value="wz">Otros de madera</option>
			<!-- /TMPL_IF -->
			</select>
		</td></tr>
	<tr><td colspan=2><input type="button" value="OK"  onClick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
	function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
            field.value =  document.f_pop.f1.value;
	    window.close();
	    return false;
	}
</script>
</body>
</html>
