<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Catalogación &rsaquo; Agregado 4XX</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_IF NAME='fillinput' -->
	<body>
        <script language="javascript" type="text/javascript">

            function go() {

                var index_start = "<!-- TMPL_VAR NAME='index' -->";
                var whichfield;
                try {
                        whichfield = opener.opener.document.getElementById(index_start);
                } catch(e) {
                        return;
                }
                
                // browse all its subfields

                var subfields = whichfield.parentNode.parentNode.getElementsByTagName('input');

                var re = /^tag_\d*_code_/;
                for(var i=0, len = subfields.length ; i< len ; i++) {
                    if(subfields[i].getAttribute('name').match(re)){ // it s a subfield
                        var code     = subfields[i];
                        var subfield = subfields[i+1];
                        
                        if(code.value == '9'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_9" -->";
                        }
                        if(code.value == '0'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_0" -->";
                        }
                        if(code.value == 'a'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_a" -->";
                        }
                        if(code.value == 'c'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_c" -->";
                        }
                        if(code.value == 'd'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_d" -->";
                        }
                        if(code.value == 'e'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_e" -->";
                        }
                        if(code.value == 'h'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_h" -->";
                        }
                        if(code.value == 'i'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_i" -->";
                        }
                        if(code.value == 'p'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_p" -->";
                        }
                        if(code.value == 't'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_t" -->";
                        }
                        if(code.value == 'u'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_u" -->";
                        }
                        if(code.value == 'v'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_v" -->";
                        }
                        if(code.value == 'x'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_x" -->";
                        }
                        if(code.value == 'y'){
                                subfield.value = "<!-- TMPL_VAR NAME="subfield_value_y" -->";
                        }
                    }
                }
                    return false;
            }
                
            window.onload = go();
            opener.close();
            window.close();
        </script>
	</body>
<!-- TMPL_ELSE -->
	<body>
		<script type="text/javascript">
			
// 			document.getElementById('searchbox').focus();
		
			function report(value2report) {
                            if (document.f_pop.result.value.length==0) {
                                    document.f_pop.result.value = value2report;
                            } else {
                                    document.f_pop.result.value = document.f_pop.result.value+'|'+value2report;
                            }
                            return true;
			}
			function finish() {
                            opener.document.f.field_value[<!-- TMPL_VAR name="index" -->].value= document.f_pop.result.value;
                            self.close();
                            return false;
			}
		</script>
    </head>
	<h1>KOHA: INTRANET: Cat&aacute;logo </h1>
	<!--TMPL_IF Name = "Search"-->
		<div id="unimarc_field_4XX_search">
		<h2> Buscar en  </h2>
		<form name="f" method="post" action="/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl">
	
			<p>
				<input type="hidden" name="plugin_name" value="unimarc_field_4XX.pl">
				<input type="hidden" name="index" value="<!--TMPL_VAR Name="index" -->">
				<input type="hidden" name="result" value="unimarc field 4 <!--TMPL_VAR Name="index" -->">
				<input type="hidden" name="op" value="do_search">
				<label class="label100" for="searchbox">Cualquier palabra</label>
				<input type="text" name="search" id="searchbox" size="35">
			</p>
			<p>
				<input type="submit" value="Iniciar b&uacute;squeda">
				<input type="reset" value="Limpiar Todos los Campos">
			</p>
	
		</div>
	</form>
	
	<!--TMPL_ELSE-->
	

		<h2>Resultados de la b&uacute;squeda</h2>
		<div id="unimarc_field_4XX_resultnumber">
			<p><!-- TMPL_IF NAME="displayprev" --> <a class="resultnumber" href="/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&amp;index=<!--TMPL_VAR Name="index"-->&amp;startfrom=<!-- TMPL_VAR NAME="startfromprev" -->&amp;search=<!-- TMPL_VAR NAME="search" -->&amp;resultsperpage=<!-- TMPL_VAR NAME="resultsperpage" -->&amp;type=intranet&amp;op=do_search">&lt;&lt; Anterior</a><!-- /TMPL_IF -->
				<!-- TMPL_LOOP NAME="numbers" -->
                                <!-- TMPL_IF NAME="highlight" --> <span class="highlight"><!-- TMPL_VAR NAME="number" --></span>
                                <!-- TMPL_ELSE --> <a class="resultnumber" href="/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&amp;index=<!--TMPL_VAR Name="index"-->&amp;startfrom=<!-- TMPL_VAR NAME="startfrom" -->&amp;search=<!-- TMPL_VAR NAME="search" ESCAPE=URL -->&amp;resultsperpage=<!-- TMPL_VAR NAME="resultsperpage" -->&amp;type=intranet&amp;op=do_search"><!-- TMPL_VAR NAME="number" --></a>
                                <!-- /TMPL_IF -->
                                <!-- /TMPL_LOOP -->
                                <!-- TMPL_IF NAME="displaynext" -->
                                  <a class="resultnumber" href="/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&amp;index=<!--TMPL_VAR Name="index"-->&amp;startfrom=<!-- TMPL_VAR NAME="startfromnext" -->&amp;search=<!-- TMPL_VAR NAME="search" -->&amp;resultsperpage=<!-- TMPL_VAR NAME="resultsperpage" -->&amp;type=intranet&amp;op=do_search">Siguiente&gt;&gt;</a>
                                <!-- /TMPL_IF --></p>
			<p class="resultcount">
                          <!-- TMPL_IF NAME="total" -->Resultados <!-- TMPL_VAR NAME="from" --> a <!-- TMPL_VAR NAME="to" --> de <!-- TMPL_VAR NAME="total" -->
                          <!-- TMPL_ELSE -->No se encontraron resultados 
                          <!-- /TMPL_IF --></p></div>
		<div id="resultlist">
			<table>
				<tr>
					<th>Resumen</th>
					<th>Conteo de items</th>
					<th>Ubicaci&oacute;n</th>
					<th>&nbsp;</th>
				</tr>
				<!-- TMPL_LOOP NAME="result" -->
				<!-- TMPL_IF NAME="title" -->
				<tr>
                                    <td<!-- TMPL_IF NAME="even" --> class="hilighted"<!-- /TMPL_IF -->>
                                                            <!-- TMPL_IF name="MARC_ON" -->
                                                                    <a_class="transparent resultlist" href="/cgi-bin/koha/MARCdetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" ESCAPE="URL" -->"><!-- TMPL_VAR NAME="title" ESCAPE="HTML"--></a>
                                                            <!-- TMPL_ELSE -->
                                                                    <a_class="transparent resultlist" href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" ESCAPE="URL" -->"><!-- TMPL_VAR NAME="title" ESCAPE="HTML" --></a>				<!-- /TMPL_IF -->
                                                    <p><!-- TMPL_VAR NAME="author" -->
                                                    <!-- TMPL_IF NAME="publishercode" -->- <!-- TMPL_VAR NAME="publishercode" --><!-- /TMPL_IF -->
                                                    <!-- TMPL_IF NAME="place" --> ; <!-- TMPL_VAR NAME="place" --><!-- /TMPL_IF -->
                                                    <!-- TMPL_IF NAME="pages" --> - <!-- TMPL_VAR NAME="pages" --><!-- /TMPL_IF -->
                                                    <!-- TMPL_IF NAME="notes" --> : <!-- TMPL_VAR NAME="notes" --><!-- /TMPL_IF -->
                                                    <!-- TMPL_IF NAME="size" --> ; <!-- TMPL_VAR NAME="size" --><!-- /TMPL_IF -->
                                            </p>
					</td>
					<td align="center" <!-- TMPL_IF NAME="even" --> class="hilighted"<!-- /TMPL_IF -->>
						<!-- TMPL_VAR NAME="totitem" -->
					</td>
					<td <!-- TMPL_IF NAME="even" -->class="hilighted"<!-- /TMPL_IF -->>
						<!-- TMPL_VAR NAME="CN" -->
					</td>
					<td>
                      <!--TMPL_IF Name="biblionumber"-->
						<a href="javascript:jumpfull('/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&index=<!--TMPL_VAR Name="index"-->&biblionumber=<!--TMPL_VAR Name="biblionumber"-->&type=intranet&op=fillinput')">Elegir</a>
                      <!--TMPL_ELSE-->
						<a href="javascript:jumpfull('/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&index=<!--TMPL_VAR Name="index"-->&type=intranet&op=fillinput')">Limpiar campo</a>
                      <!--/TMPL_IF-->
					</td>
				</tr>
				<!-- /TMPL_IF -->
				<!-- /TMPL_LOOP -->
			</table>
		</div>
		<div id="resultnumber">
			<p>
				<!-- TMPL_IF NAME="displayprev" -->
				<a class="resultnumber" href="/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&amp;index=<!--TMPL_VAR Name="index"-->&amp;startfrom=<!-- TMPL_VAR NAME="startfromprev" -->&amp;search=<!-- TMPL_VAR NAME="search" ESCAPE=URL -->&amp;resultsperpage=<!-- TMPL_VAR NAME="resultsperpage" -->&amp;type=intranet&amp;op=do_search">
					&lt;&lt; Anterior
				</a>
				<!-- /TMPL_IF -->

				<!-- TMPL_LOOP NAME="numbers" -->
					<!-- TMPL_IF NAME="highlight" -->
						<span class="highlight">
							<!-- TMPL_VAR NAME="number" -->
						</span>
					<!-- TMPL_ELSE -->
						<a class="resultnumber" href="/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&amp;index=<!--TMPL_VAR Name="index"-->&amp;startfrom=<!-- TMPL_VAR NAME="startfrom" -->&amp;search=<!-- TMPL_VAR NAME="search" -->&amp;resultsperpage=<!-- TMPL_VAR NAME="resultsperpage" -->&amp;type=intranet&amp;op=do_search">
							<!-- TMPL_VAR NAME="number" -->
						</a>
					<!-- /TMPL_IF -->
				<!-- /TMPL_LOOP -->

				<!-- TMPL_IF NAME="displaynext" -->
				<a class="resultnumber" href="/cgi-bin/koha/cataloguing/plugin_launcher.pl?plugin_name=unimarc_field_4XX.pl&amp;index=<!--TMPL_VAR Name="index"-->&amp;startfrom=<!-- TMPL_VAR NAME="startfromnext" -->&amp;search=<!-- TMPL_VAR NAME="search" -->&amp;resultsperpage=<!-- TMPL_VAR NAME="resultsperpage" -->&amp;type=intranet&amp;op=do_search">
					Siguiente&gt;&gt;
				</a>
				<!-- /TMPL_IF -->
			</p>
		</div>
	
		<script language="JavaScript" type="text/javascript">
		
		function jumpfull(page){	
			window.open(page,'','fullscreen,scrollbars');
		}
		</script>
		
	<!--/TMPL_IF-->

</body>
<!-- /TMPL_IF -->
</html>
