<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Constructor Campo_UNIMARC 700-4</title>
</head>
<body>
<p>Seleccione el valor para el campo 700 $4. Se extenderá automáticamente a la zona 700 $8 a continuación.</p>
<form name="f_pop" onSubmit="report()">
<table>
	<tr>
		<td>Fecha de publicaci&oacute;n codificada </td><td><select name="f1" size="1">
			<!-- TMPL_IF name="f1_075" -->
			<option value="075 - postface" selected="selected">postfacio</option>
			<!-- TMPL_ELSE -->
			<option value="075 - postface">postfacio</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f1_651" -->
			<option value="651 - dir. de publication" selected="selected">dir. de publicación</option>
			<!-- TMPL_ELSE -->
			<option value="651 - dir. de publication">dir. de publicación</option>
			<!-- /TMPL_IF -->
			
			 <!-- TMPL_IF name="f1_440" -->
			<option value="440 - illustrateur" selected="selected">ilustrador</option>
			<!-- TMPL_ELSE -->
			<option value="440 - illustrateur">ilustrador</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f1_080" -->
			<option value="080 - préface, notes" selected="selected">prefacio, notas</option>
			<!-- TMPL_ELSE -->
			<option value="080 - préface, notes">prefacio, notas</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f1_730" -->
			<option value="730 - traducteur" selected="selected">traductor</option>
			<!-- TMPL_ELSE -->
			<option value="730 - traducteur">traductor</option>
			<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr><td colspan="2"><input type="submit" value="OK" /></td></tr>
</table>
</form>
<script>
	function report() {
		x = document.f_pop.f1.value.split(' - ');
		var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value =  x[0];
		if (<!-- TMPL_VAR name="index2" -->>0) {
			opener.document.f.field_value[<!-- TMPL_VAR name="index2" -->].value= x[1];
		}
		self.close();
		return false;
	}
</script>
</body>
</html>
