<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UNIMARC_Field 125b builder</title>
</head>
<body>

<div id="mainbloc">
    <h1 class="authority">Resultados de la b&uacute;squeda de autoridad</h1>
    <div>
        <form name="f" method="post" action="plugin_launcher.pl">
            <input type="hidden" name="plugin_name" value="unimarc_field_210c.pl" />
            <input type="hidden" name="op" value="do_search" />
            <input type="hidden" name="type" value="intranet" />
            <input type="hidden" name="nbstatements" value="<!-- TMPL_VAR NAME="nbstatements" -->" />
            <div>
                <h2 class="authority">Buscar en</h2>
                <p>
                    <label class="label100">Tipo de autoridad</label>
                    EDITORES
                </p>
                <p>
                    <label class="label100">Buscar valor</label><input type="text" name="value" value="<!-- TMPL_VAR name="resultstring" -->" />
                    <input type="hidden" name="index" value="<!--TMPL_VAR Name="index"-->" />
                    <input type="hidden" name="authtypecode" value="EDITORS" />
                    <input type="hidden" name="q" value="<!-- TMPL_VAR NAME="index" -->" />
                    <input type="hidden" name="marclist" value="all" />
                    <input type="hidden" name="and_or" value="and" />
                    <input type="hidden" name="excluding" value="" />
					<select name="orderby">
            			<option value="">Ninguno</option>
            			<option value="HeadingAsc" selected="selected">Encabezamiento A-Z</option>
            			<option value="HeadingDsc">Encabezamiento Z-A</option>
        			</select>
					<select name="operator">
			            <option value="contains">contiene</option>
			            <option value="start">comienza con</option>
			            <option value="is">es exactamente</option>
		        	</select>

                </p>
                <p>
                <input type="submit" value="Iniciar b&uacute;squeda" class="button authority">
                </p>
            </div>
        </form>
    </div>
    <div>
        <div>
            <div class="paginationBar">
              <!--TMPL_VAR Name="pagination_bar"-->      
            </div>
            <p>
                <!-- TMPL_IF name="total" -->
                    &nbsp;<b>Resultados <!-- TMPL_VAR NAME="from" --> a <!-- TMPL_VAR NAME="to" --> de <!-- TMPL_VAR NAME="total" --></b><br /><br />
                <!-- TMPL_ELSE -->
                    &nbsp; No se encontraron resultados.<br />
                <!-- /TMPL_IF -->
            </p>
        </div>
        <div id="resultlist">
            <table>
                <tr>
                    <th class="authority">Resumen</th>
                    <th class="authority">Usado</th>
                    <th class="authority">Obtenerlo !</th>
                </tr>
                <!-- TMPL_LOOP NAME="result" -->
                    <tr>
                        <td><!-- TMPL_VAR NAME="summary" --></td>
                        <td><!-- TMPL_VAR NAME="used" --> veces</td>
                        <td>
                            <a href="javascript:report('<!-- TMPL_VAR name="summary" ESCAPE=JS -->')"><img alt="elija" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/arrow.gif" width="32" hspace="0" vspace="0" border="0"></a>
                        </td>
                    </tr>
                <!-- /TMPL_LOOP -->
            </table>
    
        </div>
        <div>
            <div class="paginationBar">
              <!--TMPL_VAR Name="pagination_bar"-->      
            </div>
        </div>
    </div>
</div>

<script language="JavaScript" type="text/javascript">

function report(summary)
{    
    var regexp= /--\s*(.*)/;
    var result=summary.match(regexp);
    var doc   = opener.document; 
    var field = doc.getElementById('<!-- TMPL_VAR NAME="index" -->');

    field.value = result[1];
    self.close();
}
</script>
<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
