<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de catalogación</h1><h2>¡Cómo editar un registro bibliográfico?</h2>

<p>To edit a bibliographic record, use the cataloging search to find the record. This can be done either via the cataloging interface or the catalog search. A search with in the Cataloging module will search the catalog and the reservior (see below).</p>

<h2>¡Cómo agrega un nuevo registro bibliográfico?</h2>

<p>Use el botón 'Nuevo registro' para añadir un nuevo registro. Elija la hoja de trabajo que va a utilizar para dar forma al registro bibliográfico. Las hojas de trabajo son plantillas que pueden ser creadas y editadas en 'Admininstration del sistema'.</p>

<h2>¡Cómo agregar nuevos ejemplares a un registro?</h2>

<p>Un registro bibliogr&aacute;fico necesita un ítem para ser mostrado en  el OPAC. Hay dos formas de agregar un nuevo ítem a un registro bibliogr&aacute;fico:</p><ol><li><strong>Vía catalogación</strong>. Despu&eacute;s de añadir un nuevo registro bibliogr&aacute;fico, se le dar&aacute; la opci&oacute;n de agregar ejemplares al registro. Un registro puede tener muchos ejemplares. </li><li><strong>Vía adquisiciones</strong>.&nbsp; Los items pueden agregarso a los pedidos de compra. Los detalles del item son agregados al recibir el ítem. Usando el módulo de adquisiciones para agregar items se puede hacer el seguimiento del gasto. </li></ol><h2>¿Qué es el depósito?</h2>

<p>The reservoir is a holding area for bibilographic records that are not yet used in the library catalog.&nbsp; When an item arrives that matches a record in the reservoir, the two can be matched and the bibliographic pulled from the reservoir into the main catalog.</p><p>el reservorio puede ser poblado con registros MARC usando de 'Importación de registros MARC' en Herramientas.</p> 
<!-- TMPL_INCLUDE name="help-bottom.inc" -->