<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Agregar Detalles del ítem</h1>

<p>Después de guardar un registro MARC, que se le presentará una pantalla para añadir detalles al ítem (o existencias locales). Aquí es donde define la ubicación del ítem (sucursal), el costo del ítem, el numero de inventario, etc . </p>

<ul><li>Después de introducir datos para su ítem haga clic en 'Agregar ítem'</li><li>Una confirmación aparecerá con la informacióndel ítem</li><li>Desde aquí se puede editar el ítem o agregar otro ítem</li></ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->
