Estimado usuario <!-- TMPL_VAR NAME="LibraryName" -->, Usted ha sugerido a la Biblioteca la compra de <!-- TMPL_VAR name="title" --><!-- TMPL_IF name="author" --> por <!-- TMPL_VAR name="author" --><!-- /TMPL_IF --> <!-- TMPL_VAR name="libsurname" --> <!-- TMPL_VAR libfirstname --> se han revisado sus sugerencias hoy, y se han encontrado interesantes. El art&iacute;culo ser&aacute; adquirido lo m&aacute;s pronto posible. Se le avisar&aacute; por correo cuando sea adquirido, y se le avisar&aacute; nuevamente cuando el libro llegue a la biblioteca. Si tiene cualquier pregunta, por favor env&iacute;enos un correo a <!-- TMPL_VAR name="libemail" -->. Gracias, <!-- TMPL_VAR NAME="LibraryName" -->
