Estimado usuario <!-- TMPL_VAR NAME="LibraryName" -->, Usted ha sugerido a la Biblioteca la compra de <!-- TMPL_VAR name="title" --><!-- TMPL_IF name="author" --> por <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. Nos complace informarle que el libro ha sido pedido y  debería arrivar en poco tiempo. Cuando esté en la biblioteca será procesado para agregarlo a la colección. Se le notificará de nuevo cuando el libro se encuentre disponible. Si tiene cualquier pregunta, por favor envíenos un correo a <!-- TMPL_VAR name="libemail" -->. Gracias, <!-- TMPL_VAR NAME="LibraryName" -->
