Estimado usuario <!-- TMPL_VAR NAME="LibraryName" -->, Usted ha sugerido a la Biblioteca la compra de <!-- TMPL_VAR name="title" --><!-- TMPL_IF name="author" --> por <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. Nos complace informarle que el art&iacute;culo ha sido adquirido y ahora forma parte de la colecci&oacute;n de <!-- TMPL_VAR NAME="LibraryName" -->. Si tiene cualquier pregunta, por favor env&iacute;enos un correo a <!-- TMPL_VAR name="libemail" -->. Gracias, <!-- TMPL_VAR NAME="LibraryName" -->
