Estimado usuario <!-- TMPL_VAR NAME="LibraryName" -->, Usted ha sugerido a la Biblioteca la compra de <!-- TMPL_VAR name="title" --><!-- TMPL_IF name="author" --> por <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. <!-- TMPL_VAR name="lib.surname" --> <!-- TMPL_VAR name="lib.firstname" --> se ha revisado su petici&oacute;n hoy, y se ha decidido no aceptar la sugerencia en este momento. L a raz&oacute;n dada es:<!-- TMPL_VAR NAME="reason" -->. Si tiene cualquier pregunta, por favor env&iacute;e un correo a <!-- TMPL_VAR name="libemail" -->. Gracias, <!-- TMPL_VAR NAME="LibraryName" -->
