<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Etiquetas</h1>

<p>Esta herramienta da la opción a los bibliotecarios de moderar las etiquetas agregadas por los usuarios. Esa página de moderación se mostrará independientemente de la configuración del sistema de preferencias en relación con las etiquetas.</p>

<p style="background-color: #ffe599">IMPORTANTE: Esta característica es aún experimental</p>   

<p style="background-color: #ffe599">IMPORTANTE: El etiquetado hará uso de la capacidad AJAX en navegadores con JavaScript habilitado</p>
	<ul>
		<li>Ir al módulo de  'Herramientas'  (por lo general en 'Más' en su navegación global)</li>
		<li>Seleccione 'Etiquetas'</li>
		<li>Desde este menú se puede aprobar o rechazar etiquetas
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: tenga en cuenta que usted está aceptando los términos utilizados. La moderación es para comprobar que los términos son apropiados para su biblioteca</span></li>
		</ul></li>
		<li>El 'Peso' se refiere al numero de veces que la etiqueta ha sido usada dentro del sistema.</li>
		<li>Para aprobar una etiqueta, haga clic en 'aprobar' en esa línea o marcar la casilla y hacer clic en 'aprobar' en la parte superior
		<ul>
			<li>La aprobación de una etiqueta lo añade a su lista blanca</li>
		</ul></li>
		<li>Para rechazar una etiqueta, haga clic en 'rechazar'en esa línea o marque la casilla y haga clic en 'rechazar'
		<ul>
			<li>Rechazar una etiqueta la añade a su lista negra</li>
		</ul></li>
		<li>El resumen de termino arriba a la izquierad le permite filtrar sus resultados por estado de estiqueta.</li>
		<li>El estado de las etiquetas siempre se puede editar cliqueando en uno de estos filtros y cambiando su estado</li>
		<li>Puede probar términos contra ls lista blanca o negra mediante el uso de la herramienta de prueba</li>
		<li>Si un término ha sido rechazado el test le dirá que ese término está prohibido. Si ha sido aprobado le mostrará que esa palabra es permitida.
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: la lista negra ya está poblada con algunos términos clave según el diccionario que está utilizando</span></li>
		</ul></li>
		<li>Cuando un socio añade una etiqueta a un item que ya ha sido rechazada por un bibliotecario, será automáticamente rechazada.</li>
	</ul>   
   <h3>Se me notificará cuando se añadan nuevas etiquetas?</h3>
   <p>Esta función todavía no se ha desarrollado, pero se está trabajando en ella.</p>
   
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->