<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Perfiles de etiquetas</h1>

<h2>¿Qué es uns &quot;Perfil de impresiora&quot;?</h2>

<p>Un Perfil de Impresi&oacute;n es  donde se ajustan los m&aacute;rgenes, etc.</p>
<p>Dependiendo de la impresora que utiliza e incluso de la bandeja de la impresora, el texto de las etiquetas puede aparecer corrido de tal manera que no aparece correctamente sobre las etiquetas. Incluso si se configuran correctamente los m&aacute;rgenes (generalmente se miden a partir del borde superior-izquierdo), el texto puede aparecer "corri&eacute;ndose", apareciendo correcto en algunas etiquetas, pero afuera en otras etiquetas. Un Perfil de Impresora le permite corregir estos problemas.</p>

<h2>¡Cómo configuro un perfil de impresión?</h2>

<h3>Crear un perfil de impresora</h3>
<p>
<ol>
<li>Primera nota: sólo puede crear perfiles de impresora para las plantillas existentes.</li>
<li>Proporcionar un nombre de impresora y bandeja para su perfil. Nota: sólo puedes tener una sola instancia de nombre de impresora y bandeja por cada plantilla de etiqueta.</li>
<li>A continuación seleccione una plantilla de etiquetas de la lista desplegable de plantillas.</li>
<li>A continuación establecer el offset horizontal y vertical. Asegúrese de utilizar los números que corresponden a las unidades que usted especificó en la parte inferior del formulario. Los valores negativos están permitidos.</li>
<li>Porl último establezca la fluencia horizontal y vertical. Asegúrese de utilizar los números que corresponden a las unidades que usted especifique en la parte inferior del formulario. Valores negativos no están permitidos.</li>
<li>Para grabar su nuevo perfil haga clic en 'Guardar' en el margen inferior del formulario.</li>
</ol>
</p>

<h3>Aplicar un Perfil de impresora</h3>
<p>
<ol>
<li>Luego de crear un Perfil de Impresión, se debe aplicar una plantilla de etiqueta específica. Nota: Sólo puede aplicar un Perfil de Impresión por plantilla de etiqueta.</li>
<li>Editar la plantilla para etiquetas para aplicar a un perfil.</li>
<li>En el formulario de edición y en la columna de la izquierda, verás un campo de "Perfil de iImpresoral:".</li>
<li>Si uno o mas perfiles de impresión están definidos para esta pantilla de etiquetas, verá un control desplegable que le permitirá seleccionar uno de la lista de perfiles de impresión disponibles para esta plantilla.</li>
<li>Seleccionar el perfil que quiere que sea aplicado a la  plantilla de etiqueta. Recuerde: dólo se puede aplicar un Perfil de impresión por vez para una plantilla de etiqueta.</li>
<li>Si el campo 'Perfil de impresión:' muestra 'Ninguno definido' eso indica que necesitará crear al menos un perfil de impresión para esta plantilla de etiquetas de manera de utilizar un perfil de impresión en esta plantilla de etiquetas.</li>
</ol>
</p>

<h3>Consejos a tener en cuenta cuando se configura un perfil de impresora</h3>
<p>
<ol>
<li><b>Todos</b> estos factores en la posici&oacute;n y la fluencia de la imagen. T&eacute;ngalo en cuenta al realizar los ajustes.</li>
<li>Ajuste los márgenes hasta que los márgenes superior e izquierdo sean correctos.</li>
<li>A continuación ajuste el alto y ancho de la etiqueta para corregir el relleno de etiquetas en la página.</li>
<li>El offset negativo produce el desplazamiento de la imagen hacia arriba y a la izquierda. Por el contrario, si el offset es positivo  la imagen se despaza hacia abajo y a la derecha. </li>
<li>La fluencia negativa causa encogimiento global de la imagen. Fluencia positiva causa que la imagen se agrande.</li>
</ol>
</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
