<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Diseños de etiquetas</h1>

<h3>Detalles bibliográficos para imprimir</h3>
<p>Esta sección determina qué datos aparecerán en la(s) etiqueta(s). Elija uno de los siguientes métodos de entrada:</p>
<ul>
<li>Seleccione el orden de campos de texto para imprimir</li>
  Vualquiera de los campos de datos enumerados pueden incluirse en la etiqueta de selección de un valor numérico de la selección desplegable. Estos valores determinan el orden en que los datos de impresión (un campo de datos por línea).
<li>Listar campos </li>
  <dl>Ingrese una lista separada por comas de los campos a incluir en la etiqueta. Puede seleccionar: 
    <dt>cualquier 'campo Koha'</dt>
    <dd>Estos incluyen cualquiera de los campos de datos que pueden ser mapeados a las hojas de trabajo MARC. Véase <em> Inicio> Administración> Enlaces MARC</ em> para campos Koha válidos. </dd>
    <dt>Campos MARC</dt>
    <dd>Especifique los subcampos MARC con una secuencia de 4 caracteres, ej. 254a </dd>
    <dt>Concatenación de campos Koha y MARC<dt>
    <dd>Incluya una lista de campos separados por espacios en blanco para concatenar en una línea comillas dobles. Por ejemplo, "099a 099b " o "itemcallnumber copynumber"</dd>
    <dt>Cadena de texto estático</dt>
    <dd>Puede ser ingresado entre comilla simple, por ejemplo, 'Mi Nombre_de_Biblioteca'</dd>
  </dl>
</ul>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
