<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Impresión de etiquetas</h1>

<h2>¿Cómo imprimo etiquetas usando esta funcionalidad?</h2>

<p>la secuencia de pasos es la siguiente:</p><ol><li>Definir un diseño</li><li>Definir una plantilla  de diseño</li><li>Combine un diseño y una plantilla de diseño usando el lote de etiquetas&nbsp;</li></ol><h2>¿Qué es un &quot;Diseño&quot;?</h2>

<p>Un Dise&ntilde;o  es donde usted define lo que va a imprimir en la etiqueta. Por ejemplo para una etiqueta  de columna puede elegir el n&uacute;mero de clasificaci&oacute;n. </p>

<h2>¿Qué es una 'Plantilla de diseño'?</h2>

<p>Una Plantilla de Dise&ntilde;o contiene las dimensiones de la hoja que est&aacute; usando. Ustede puede conocer esas dimensiones por el provedro de etiquetas  o midiendo las mismas con cuidado.</p><p>Las plantillas de diseño tendrán que definirse para cada tipo de hoja de etiquetas o página que se desea imprimir.  </p>

<h2>¿Qué es un 'Lote de etiquetas'?</h2>

<p>Una lote de etiquetas es donde usted toma su dise&ntilde;o,  la plantilla de dise&ntilde;o y los une con los items a los cuales se desea colocarles una etiqueta.</p><p>Una vez que se haya completado la fusión, se generará un archivo PDF que puede ser usado para imprimir las etiquetas.</p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->