<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Historial de pr&eacute;stamos</h1>

<p>Esta pestaña le proporcionará información sobre el historial de circulación de este ítem. Incluye la fecha de vencimiento o la fecha de devolución y la información de los socios que lo han tomado prestado (si se mantiene un registro de estos datos).</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->