<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Detalles del ítem</h1>

<p>Esta página ofrece información sobre todos los items de un registro. Desde aquí se puede fácilmente marcar un ítem  perdido, dañado o retirado. Tambén es posible ver el historial de circulación  de un ítem o editar items.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->