<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
    <title>Koha &rsaquo; Tools &rsaquo; Labels &rsaquo; Manage Label Batches</title>
    <!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
    <!-- TMPL_INCLUDE NAME="greybox.inc" -->
    <script type="text/javascript" src="/intranet-tmpl/prog/en/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
       $('#mytab').tablesorter();
    });
    </script>
    <script type="text/javascript">//<!CDATA[
        function doFocus() { // named function req'd for body onload
                             // event by some FF and IE7 security models
            $(".focus").select(); 
        }
        function verifyBarcodes(barcodes) {
            if (barcodes.value == '') {
               alert('Please add barcodes using either the direct'
               +'entry textarea or the item search.');
               return false; // not ok
            }
            else {
               return true; // ok
            }
        }
        function toggleCheck() {
           var onoff = document.items.selAll.checked;
           if (document.items.action.length>0) {
              if (onoff) {
                 for(var i=0;i<document.items.action.length;i++) {
                    document.items.action[i].checked = true;
                 }
              }
              else {
                 for(var i=0;i<document.items.action.length;i++) {
                    document.items.action[i].checked = false;
                 }
              }
           }
        }
    //]]>
    </script>
</head>
<body onload="doFocus();">
    <!-- TMPL_INCLUDE NAME="header.inc" -->
    <!-- TMPL_INCLUDE NAME="cat-search.inc" -->
    <div id="breadcrumbs">
        <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; 
        <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo;
        <a href="/cgi-bin/koha/labels/labels-home.pl">Labels Home</a> &rsaquo;
        <a href="/cgi-bin/koha/labels/label-manage.pl?label_element=batch">Mange Label Batches</a> &rsaquo;
        Manage Batch Number <!-- TMPL_VAR NAME="batch_id" -->
    </div>
    <div id="doc3" class="yui-t2">
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    <!-- TMPL_INCLUDE NAME="labels-batches-toolbar.inc" -->
                    <div class="yui-g">
                        <div class="yui-u first" id="manage-label-batches">
                            <div class="hint">Current Branch: <!-- TMPL_VAR NAME="LoginBranchname" --></div>
                        <form name="add_by_barcode" method=post>
                           <div>
                           <fieldset class=rows style="border-bottom:0px;border:0px;">
                           <ol><li>
                            <input type=hidden name="op" value="add" />
                            <input type=hidden name="batch_id" value="<!-- TMPL_VAR NAME="batch_id" -->" />
                           <label for="barcode">Add by barcode(s):
                           <br><span class"=hint">One barcode per line.</span>
                           <br><span class="hint">Leave empty to add via item
                              search.</span>
                           </label>
                           <textarea rows=5 id="barcode" name="barcode"
                           tabindex=1 class="focus"></textarea>
                           </li></ol>
                           </fieldset>
                           </div>
                        </form>
                                 <form id="items" name="items" class="checkboxed">
                                 <div id="hidehere"></div>

                                <!-- TMPL_IF NAME="table_loop" -->
                                                                    <h2>Items in batch number <!-- TMPL_VAR NAME="batch_id" --></h2>
                                    <table id="mytab">
                                    <thead>
                                        <!-- TMPL_LOOP NAME="table_loop" -->
                                        <!-- TMPL_IF NAME="header_fields" -->
                                        <tr>
                                        <!-- TMPL_LOOP NAME="header_fields" -->
                                          <TMPL_IF NAME="jsort">
                                            <th><!-- TMPL_VAR NAME="field_label" --></th>
                                          <TMPL_ELSE>
                                            <td align=center><b><TMPL_VAR NAME="field_label"></b></td>
                                          </TMPL_IF>
                                        <!-- /TMPL_LOOP -->
                                        </tr>
                                    </thead>
                                        <!-- TMPL_ELSE -->
                                        <tr>
                                        <!-- TMPL_LOOP NAME="text_fields" -->
                                        <!-- TMPL_IF NAME="select_field" -->
                                            <td align="center"><input type="checkbox" name="action" value="<!-- TMPL_VAR NAME="field_value" -->"></td>
                                        <!-- TMPL_ELSE -->
                                            <td><!-- TMPL_VAR NAME="field_value" --></td>
                                        <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                        </tr>
                                        <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                    </table>
                                <!-- TMPL_ELSE -->
                                    <fieldset class="rows" style="border-bottom: 0px; border: 0px;">
                                    <ol><li>
                                    <div class="dialog message">
                                    <h4>There are no items in Batch <!-- TMPL_VAR NAME="batch_id" --> yet</h4>
                                    <p>Add items by barcode using the text area above or leave empty to add via item search.</p>
                                    </div>
                                    </li></ol>
                                    </fieldset>
                                <!-- /TMPL_IF -->
                            </div>

                            </form>
                            <!-- TMPL_IF NAME="err" -->
                            <div class="yui-u">
                                <div class="dialog alert">
                                    <strong>WARNING:</strong> An error was encountered and <!-- TMPL_VAR NAME="errstr" --> Please have your system administrator check the error log for details.
                                </div>
                            </div>
                            <!-- TMPL_ELSIF NAME="duplicate_message" -->
                            <div class="yui-u">
                                <div class="dialog message">
                                    <strong><!-- TMPL_VAR NAME="duplicate_count" --> duplicate item(s) found</strong> and removed from batch <!-- TMPL_VAR NAME="batch_id" -->.
                                </div>
                            </div>
                            <!-- /TMPL_IF -->
                        </div>
                    </div>
                </div>
                <div class="yui-b">
                    <!-- TMPL_INCLUDE NAME="labels-menu.inc" -->
                </div>
            </div>
        </div>
    <!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
