    <!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
    <title>Inicio &rsaquo; Herramientas &rsaquo; Etiquetas</title>
    <!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
    <script type="text/JavaScript" language="JavaScript">
        //<![CDATA[
            $(document).ready(function() {
                $("input[name='layout_choice']").change( function() { layout_method() } );
                layout_method();
            });
            function layout_method() {
                if( $("input[name='layout_choice']:checked").val() == 'layout_string' ) {
                    $('#layout_table').hide();
                    $('#layout_string').show();
                } else {
                    $('#layout_table').show();
                    $('#layout_string').hide();
                }
            }
        //]]>
    </script>
</head>
<body>
    <!-- TMPL_INCLUDE NAME="header.inc" -->
    <!-- TMPL_INCLUDE NAME="cat-search.inc" -->
    <div id="breadcrumbs">
        <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo;  <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo;  <a href="/cgi-bin/koha/labels/label-home.pl">Labels Home</a> &rsaquo;  <a href="/cgi-bin/koha/labels/label-manage.pl?label_element=layout">Mange Label Layouts</a> &rsaquo;
        <!-- TMPL_IF NAME="layout_id" -->Editar<!-- TMPL_ELSE -->Creado por<!-- /TMPL_IF --> Diseño de estiqueta
    </div>
    <div id="doc3" class="yui-t2">
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    <form name="input" action="/cgi-bin/koha/labels/label-edit-layout.pl" method="get">
                        <fieldset class="rows">
                            <legend><!-- TMPL_IF NAME="layout_id" -->Editar<!-- TMPL_ELSE -->Creado por<!-- /TMPL_IF --> Diseño de estiqueta</legend>
                            <ol>
                                <li>
                                    <label for="layout_name">Nombre del diseño</label>
                                    <input type="text" name="layout_name" id="layout_name" size="20" value="<!-- TMPL_VAR NAME="layout_name" -->" />
                                </li>
                                <li>
                                    <label for="barcode_type">Elegir tipo de c&oacute;digo de barras (codificaci&oacute;n)</label>
                                    <select name="barcode_type" id="barcode_type">
                                    <!-- TMPL_LOOP NAME="barcode_types" -->
                                    <!-- TMPL_IF NAME="selected" -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->" selected="selected"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- TMPL_ELSE -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- /TMPL_IF -->
                                    <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li>
                                    <label for="printing_type">Seleccione tipo de diseño (layout)</label>
                                    <select name="printing_type" id="printing_type">
                                    <!-- TMPL_LOOP NAME="label_types" -->
                                    <!-- TMPL_IF NAME="selected" -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->" selected="selected"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- TMPL_ELSE -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- /TMPL_IF -->
                                    <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li>
                                    <fieldset>
                                        <legend>Detalles bibliográficos para imprimir</legend>
										<ol>
                                        <li class="radio"><!-- TMPL_IF NAME="layout_string" -->
                                        <input type="radio" name="layout_choice" id="layout_choice_order" value="layout_table" checked="checked" /><label for="layout_choice_order">Choose Order Of Text Fields to Print</label>
                                        <!-- TMPL_ELSE -->
                                        <input type="radio" name="layout_choice" id="layout_choice_order" value="layout_table" /><label for="layout_choice_order">Choose Order Of Text Fields to Print</label>
                                        <!-- /TMPL_IF -->
												<div id="layout_table">
                                                    <!-- TMPL_LOOP NAME="field_table" -->
                                                    <p>
                                                        <!-- TMPL_LOOP NAME="text_fields" -->
                                                        <!-- TMPL_IF NAME="field_empty" -->
                                                        <!-- TMPL_ELSE -->
                                                            <select name="<!-- TMPL_VAR NAME="field_name" -->" id="<!-- TMPL_VAR NAME="field_name" escape="url" -->">
                                                                <!-- TMPL_LOOP NAME="order" -->
                                                                <!-- TMPL_IF Name="selected" -->
                                                                <option value="<!-- TMPL_VAR Name="num" -->" selected="selected"><!-- TMPL_VAR Name="num" --></option>
                                                                <!-- TMPL_ELSE -->
                                                                <option value="<!-- TMPL_VAR Name="num" -->"><!-- TMPL_VAR Name="num" --></option>
                                                                <!-- /TMPL_IF -->
                                                                <!-- /TMPL_LOOP -->
                                                            </select>
                                                            <label for="<!-- TMPL_VAR NAME="field_name" escape="url" -->"><!-- TMPL_VAR NAME="field_label" --></label>
                                                        <!-- /TMPL_IF -->
                                                        <!-- /TMPL_LOOP -->
                                                    </p>
                                                    <!-- /TMPL_LOOP -->
											</div>
                                            </li>
                                            <!-- TMPL_UNLESS NAME="layout_string" -->
                                            <li class="radio"><input type="radio" id="layout_choice_list" name="layout_choice" value="layout_string" checked="checked" /> <label for="layout_choice_list">Listar campos </label></li>
                                            <!-- TMPL_ELSE -->
                                            <li class="radio"><input type="radio" id="layout_choice_list" name="layout_choice" value="layout_string" /> <label for="layout_choice_list">Listar campos </label></li>
                                            <!-- /TMPL_UNLESS -->
                                           <li> <fieldset id="layout_string" class="brief">
                                                <label for="format_string">Campos de datos</label>
                                                <input type="text" name="format_string" id="format_string" size="80" value="<!-- TMPL_VAR ESCAPE='HTML' NAME="format_string" -->" />
                                                <div class="hint">
                                                    <p>Ingrese una lista separada por comas de los campos a imprimir. Usted puede incluir cualquier <em>campo Koha</em> o subcampo MARC.</p>
                                                    <p>Ver la ayuda en línea para opciones avanzadas</p>
                                                    <p>ej: barcode, itemcallnumber, title, "050a 050b", 300a </p>
                                                </div>
                                            </fieldset></li>
											</ol>
                                    </fieldset>
                                </li>
                                <li>
                                    <label for="guidebox">Dibujar Bordes</label>
                                    <!-- TMPL_IF NAME="guidebox"-->
                                    <input type="checkbox" name="guidebox" id="guidebox" value="1"  checked="checked" />
                                    <!-- TMPL_ELSE -->
                                    <input type="checkbox" name="guidebox" id="guidebox" value="1" />
                                    <!-- /TMPL_IF -->
                                </li>
                                <li>
                                    <label for="callnum_split">Nomenclador catastral dividido</label>
                                    <!-- TMPL_IF NAME="callnum_split"-->
                                    <input type="checkbox" name="callnum_split" id="callnum_split" value="1"  checked="checked" />
                                    <!-- TMPL_ELSE -->
                                    <input type="checkbox" name="callnum_split" id="callnum_split" value="1" />
                                    <!-- /TMPL_IF -->
                                </li>
                                <li>
                                    <label for="text_justify">Justificación de texto</label>
                                    <select name="text_justify" id="text_justify">
                                        <!-- TMPL_LOOP Name="text_justification_types" -->
                                        <!-- TMPL_IF Name="selected" -->
                                        <option value="<!-- TMPL_VAR Name="type" -->" selected="selected"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- TMPL_ELSE -->
                                        <option value="<!-- TMPL_VAR Name="type" -->"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li>
                                    <label for="font">Font</label>
                                    <select name="font" id="font">
                                        <!-- TMPL_LOOP Name="font_types" -->
                                        <!-- TMPL_IF Name="selected" -->
                                        <option value="<!-- TMPL_VAR Name="type" -->" selected="selected"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- TMPL_ELSE -->
                                        <option value="<!-- TMPL_VAR Name="type" -->"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li>
                                    <label for="font_size">Font Size</label>
                                    <input type="text" name="font_size" id="font_size" size="2" value="<!-- TMPL_VAR ESCAPE='HTML' NAME="font_size" -->" />
                                </li>
                            </ol>
                        </fieldset>
                        <fieldset class="action">
                            <input type="submit" value="Guardar">
                            <a class="cancel" href="/cgi-bin/koha/labels/label-manage.pl?label_element=layout">Cancelar</a>
                            <input type="hidden" name="op" value="save" />
                            <input type="hidden" name="layout_id" value="<!-- TMPL_VAR NAME="layout_id" -->" />
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="yui-b">
                <!-- TMPL_INCLUDE NAME="labels-menu.inc" -->
            </div>
        </div>
        <!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
