<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Inicio &rsaquo; Herramientas &rsaquo; Etiquetas &rsaquo; Buscar<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<div id="main-compact">

<h1>Buscar</h1>

<form name="f" method="post">
	<input type="hidden" name="op" value="do_search" />
	<input type="hidden" name="type" value="intranet" />
	<input type="hidden" name="nbstatements" value="<!-- TMPL_VAR NAME="nbstatements" -->" />
	<div class="details">
		<h2>Buscar en</h2>
		<p>
			<label for="category">Nombre o ISSN: </label>
			<!-- TMPL_VAR name="category" -->
		</p>
		<p>
			<label for="index">Buscar valor: </label>
			<input type="text" name="value" value="<!-- TMPL_VAR name="value" -->" />
			<input type="hidden" name="authtypecode" value="<!-- TMPL_VAR name="category" -->" />
			<input type="hidden" name="marclist" value="" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="contains" />
			<input type="hidden" id="index" name="index" value="<!-- TMPL_VAR name="index" -->" />
		</p>
		<p>
			<input type="submit" value="Iniciar b&uacute;squeda" class="submit">
		</p>
	</div>
</form>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->