<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><title>Inicio &rsaquo; Etiquetas</title>
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">#custom-doc { width:47.23em;*width:46.04em;min-width:610px; margin:auto;margin-top: .4em; text-align:left; }</style>
</head>
<body>

<div id="custom-doc" class="yui-t7">
   <div id="bd">

<h1>Buscar por items
<!-- TMPL_IF name="batch_id" -->
para agregar al lote <!-- TMPL_VAR NAME="batch_id" -->
<!-- /TMPL_IF  -->
</h1>

<form name="f" method="post" action="/cgi-bin/koha/labels/label-item-search.pl">
	<input type="hidden" name="op" value="do_search" />
	<input type="hidden" name="batch_id" value="<!-- TMPL_VAR NAME="batch_id" -->" />
	<input type="hidden" name="type" value="<!-- TMPL_VAR NAME="type" -->" />

	<fieldset class="rows">
<ol><li>
<select name="idx" >   <!-- FIXME: script does keyword search regardless -->

<!-- TMPL_IF NAME="selected" --><option value="kw" selected="selected">Palabra clave</option>
<!-- TMPL_ELSE --><option value="kw">Palabra clave</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="au" selected="selected">Autor</option>
<!-- TMPL_ELSE --><option value="au">Autor</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="yr" selected="selected">Fecha de publicaci&oacute;n</option>
<!-- TMPL_ELSE --><option value="yr">Fecha de publicaci&oacute;n</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="sn" selected="selected">Numero estandard</option>
<!-- TMPL_ELSE --><option value="sn">Numero estandard</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="nb" selected="selected">ISBN</option>
<!-- TMPL_ELSE --><option value="nb">ISBN</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="ns" selected="selected">ISSN</option>
<!-- TMPL_ELSE --><option value="ns">ISSN</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="lcn,phr" selected="selected">Signatura</option>
<!-- TMPL_ELSE --><option value="lcn,phr">Signatura</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="su" selected="selected">Tema</option>
<!-- TMPL_ELSE --><option value="su">Tema</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" -->
   <option value="ti" selected="selected">T&iacute;tulo</option>
<!-- TMPL_ELSE -->
   <option value="ti" selected="selected">T&iacute;tulo</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="ti,phr" selected="selected">Título comienza con...</option>
<!-- TMPL_ELSE --><option value="ti,phr">Título comienza con...</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="se" selected="selected">T&iacute;tulo de Serie</option>
<!-- TMPL_ELSE --><option value="se">T&iacute;tulo de Serie</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="bc" selected="selected">C&oacute;digo de barras</option>
<!-- TMPL_ELSE --><option value="bc">C&oacute;digo de barras</option><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="selected" --><option value="acqdate" selected="selected">Día de adquisiciones</option>
<!-- TMPL_ELSE --><option value="acqdate">Día de adquisiciones</option><!-- /TMPL_IF -->
</select>

   <input type="text" size="30" id="ccl_textbox" name="ccl_textbox" class="focus" title="Ingrese t&eacute;rminos de b&uacute;squeda " value="">

</li>
</ol>
</fieldset>

<!-- TMPL_IF NAME="sort_by_loop" -->
<fieldset><legend>Ordenar por : </legend>
    <p><select id="sort_by" name="sort_by">
        <option value="">Ranking por relevancia y por valoración de campo</option>
        <!-- TMPL_LOOP NAME="sort_by_loop" -->

<!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="label" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="label" --></option><!-- /TMPL_IF -->

        <!-- /TMPL_LOOP -->
    </select>
        </p>
</fieldset><!-- /TMPL_IF -->




<fieldset class="rows">
<ol>
	<li>
		<label for="datefrom">Added on or after date</label>
	     <input type="text" size="10" id="datefrom" name="datefrom" value="" />
  <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" border="0" id="openCalendarFrom" alt="Mostrar Calendario">
<script type="text/javascript">
    Calendar.setup({
        inputField     :    "datefrom",
      ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
        button         :    "openCalendarFrom",
        align          :    "Tl",
        singleClick    :    false
    });
</script>
</li>
<li>
		<label for="dateto">Added on or before date</label>
  <input type="text" size="10" id="dateto" name="dateto" value="" />
  <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" border="0" id="openCalendarTo" alt="Mostrar Calendario">

<script type="text/javascript">
    Calendar.setup({
        inputField     :    "dateto",
      ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
        button         :    "openCalendarTo",
        align          :    "Tl",
    });
</script>
</li></ol>
</fieldset>

<fieldset class="action"><input type="submit" value="Buscar" class="submit"> <a class="cancel close" href="#">Cancelar</a></fieldset>
</form>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
