<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Catalog &rsaquo; Details for <!-- TMPL_VAR NAME="title" escape="html" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" --><script type="text/JavaScript" language="JavaScript">
//<![CDATA[
// http://www.oreillynet.com/pub/a/javascript/2003/10/21/amazonhacks.html
function checkinNote(itemnumber) {
   window.open('detail.pl?checkinnote=1&biblionumber='
      +'<!-- TMPL_VAR NAME="biblionumber" -->&itemnumber='+itemnumber,
      'Check In Note','width=300,height=300'
   );
}
function verify_images() {
    $("#bookcoverimg img").each(function(i){
           if ((this.src.indexOf('images.amazon.com') >= 0) || (this.src.indexOf('g-images.amazon.com') >=0)) {
            w = this.width;
            h = this.height;
            if ((w == 1) || (h == 1)) {
                $("#bookcoverimg").remove();
                $(".yui-gb").attr("class","yui-g");
            } else if ((this.complete != null) && (!this.complete)) {
                $("#bookcoverimg").remove();
                $(".yui-gb").attr("class","yui-g");
            }
        }
        });
	$("#editions img").each(function(i){
           if ((this.src.indexOf('images.amazon.com') >= 0) || (this.src.indexOf('g-images.amazon.com') >=0)) {
            w = this.width;
            h = this.height;
            if ((w == 1) || (h == 1)) {
				this.src = 'http://g-images.amazon.com/images/G/01/x-site/icons/no-img-sm.gif';
            } else if ((this.complete != null) && (!this.complete)) {
				this.src = 'http://g-images.amazon.com/images/G/01/x-site/icons/no-img-sm.gif';
            }
        }
        });
}
     $(document).ready(function() {
        $('#bibliodetails').tabs();
     });
     <!-- TMPL_IF NAME="AmazonEnabled" -->$(window).load(function() {
        verify_images();
     });<!-- /TMPL_IF -->
//]]>
function barcodeMatch(barcode,itemnumber) {
   var q = '<!-- TMPL_VAR NAME="q" -->';
   if (q.match(/^\d{14}$/)) { // make sure this is a barcode
      if (q == barcode) {
         document.location.href='/cgi-bin/koha/catalogue/moredetail.pl'
         +'?itemnumber='+itemnumber+'&biblionumber='
         +<!-- TMPL_VAR NAME="biblionumber" -->+'&bi='
         +<!-- TMPL_VAR NAME="biblionumber" -->
         +'#item'+itemnumber;
         return true;
      }
   }
}
</script>
</head>

<body>
<!-- TMPL_UNLESS NAME="last_borrower_show_button" -->
	<!-- TMPL_INCLUDE NAME="header.inc" -->
	<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

	<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalog</a>  &rsaquo; Details for <i><!-- TMPL_VAR NAME="title" escape="html" --></i></div>
<!-- /TMPL_UNLESS -->


<div id="doc3" class="yui-t2">
   
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">

<!-- TMPL_INCLUDE NAME="cat-toolbar.inc" -->
    <!-- TMPL_IF NAME="AmazonEnabled" --><div class="yui-gb"><!-- TMPL_ELSE --><div class="yui-g"><!-- /TMPL_IF -->
    <div id="catalogue_detail_biblio" class="yui-u first">
        
    <!-- TMPL_IF NAME="XSLTDetailsDisplay" -->
      <!-- TMPL_VAR NAME="XSLTBloc" -->
    <!-- TMPL_ELSE -->
    <h3><!-- TMPL_VAR NAME="title" escape="html" --> <!-- TMPL_VAR NAME="subtitle" --></h3> 
            <!-- TMPL_UNLESS NAME="item-level_itypes" --><img src="<!-- TMPL_VAR NAME="imageurl" -->" alt="<!-- TMPL_VAR NAME="description" -->" title="<!-- TMPL_VAR NAME="description" -->"><!-- /TMPL_UNLESS -->
            <!-- TMPL_IF name="unititle" --><p><!-- TMPL_VAR name="unititle" escape="html" --></p><!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="author" --><p>By <a href="/cgi-bin/koha/catalogue/search.pl?q=au:<!-- TMPL_VAR NAME="author" ESCAPE="url" -->"><!-- TMPL_VAR NAME="author" --></a></p><!-- /TMPL_IF -->
        <ul>
        <!-- TMPL_IF name="MARCAUTHORS" -->
            <li><strong>Additional Authors:</strong><ul>
            <!-- TMPL_LOOP NAME="MARCAUTHORS" -->
                <li><!-- TMPL_LOOP NAME="MARCAUTHOR_SUBFIELDS_LOOP" --><!-- TMPL_VAR NAME="separator" --><a title="&#8225;<!-- TMPL_VAR NAME="code" --> <!-- TMPL_VAR NAME="value" escape="url" -->" href="/cgi-bin/koha/catalogue/search.pl?q=<!-- TMPL_LOOP NAME="link_loop" --><!-- TMPL_VAR NAME="operator" escape="url" --><!-- TMPL_VAR name="limit" -->:<!-- TMPL_VAR NAME="link" ESCAPE="url" --><!-- /TMPL_LOOP -->"><!-- TMPL_VAR NAME="value" --></a><!-- /TMPL_LOOP --></li>
                <!-- /TMPL_LOOP -->

        </ul>
            </li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="MARCSERIES" -->
		<li><strong>Series: </strong><ul><!-- TMPL_LOOP NAME="MARCSERIES" -->
		<li><!-- TMPL_LOOP NAME="MARCSERIES_SUBFIELDS_LOOP" --> <!-- TMPL_IF NAME="value" --><a href="/cgi-bin/koha/catalogue/search.pl?q=se:<!-- TMPL_VAR NAME="value" ESCAPE="url"-->"><!-- TMPL_VAR NAME="value" --></a><!-- /TMPL_IF --><!-- TMPL_IF NAME="volumenum" -->. <!-- TMPL_VAR NAME="volumenum" --><!-- /TMPL_IF --><!-- /TMPL_LOOP --></li> 
		<!-- /TMPL_LOOP -->
		</ul>
		</li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF name="publishercode" -->
    <li><strong>Published by:</strong>
        <a href="/cgi-bin/koha/catalogue/search.pl?q=pb:<!-- TMPL_VAR NAME="publishercode" ESCAPE="url" -->">
            <!-- TMPL_VAR NAME="publishercode" ESCAPE="html" -->
        </a> <!-- TMPL_IF name="place" -->(<!-- TMPL_VAR NAME="place"-->)<!--/TMPL_IF--> <!-- TMPL_IF NAME="publicationyear" -->, <!-- TMPL_VAR NAME="publicationyear" --><!-- /TMPL_IF --> <!-- TMPL_IF NAME="editionstatement" --><!-- TMPL_VAR NAME="editionstatement" --><!-- /TMPL_IF --> <!-- TMPL_IF NAME="editionresponsability" --><!-- TMPL_VAR NAME="editionresponsability" --><!-- /TMPL_IF -->
    </li>
    <!-- /TMPL_IF -->
        <li><strong>Description:</strong>
                <!-- TMPL_IF name="pages" --> <!-- /TMPL_IF --><!-- TMPL_VAR name="pages" --> <!-- TMPL_IF NAME="illus" --><!-- TMPL_VAR NAME="illus" --><!-- /TMPL_IF -->
                <!-- TMPL_IF name="size" --><!-- TMPL_VAR name="size" --><!-- /TMPL_IF -->
        </li>
<!-- TMPL_IF name="MARCURLS" --><li>
    
	<strong>Online Resources:</strong>
    <ul>    <!-- TMPL_LOOP name="MARCURLS" -->
		<li><!-- TMPL_IF NAME="part" --><!-- TMPL_VAR NAME="part" -->
			<br /><!-- /TMPL_IF --> 
		<!-- here you might do a tmpl_if name="toc" and use greybox or equivalent for table of contents -->
		<a href="<!-- TMPL_VAR NAME="MARCURL" -->" title="<!-- TMPL_VAR NAME="MARCURL" -->"><!-- TMPL_VAR NAME="linktext" --></a>
			<!-- TMPL_IF NAME="notes" --><ul><!-- TMPL_LOOP NAME="notes" --><li><!-- TMPL_VAR NAME="note" --></li><!-- /TMPL_LOOP --></ul><!-- /TMPL_IF --></li>
            <!-- /TMPL_LOOP --></ul>
</li>
    <!-- /TMPL_IF -->
    
    <!-- TMPL_IF name="OpacUrl" -->
    	<li><strong>OPAC View:</strong>
    	<a href="http://<!-- TMPL_VAR name="OpacUrl" -->/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->" target="_blank">Open in new window</a>
		</li>
	<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="serials_summaries" -->
    <li><strong>Serials Summary Holdings</strong><ul>
    <!-- TMPL_LOOP name="serials_summaries" -->
        <li><!-- TMPL_VAR NAME="librarycode" --> has:&nbsp;&nbsp;<!-- TMPL_VAR NAME="summary" --></li>
    <!-- /TMPL_LOOP -->
    <!-- TMPL_IF NAME="serials_supplements" -->
        <li><strong>Supplemental issues:</strong><ul>
        <!-- TMPL_LOOP name= "serials_supplements" -->
            <li><!-- TMPL_VAR NAME="librarycode" --> has:&nbsp;&nbsp;<!-- TMPL_VAR NAME="summary" --></li>
        <!-- /TMPL_LOOP --></ul></li>
    <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
        </ul>
        </div>


       
<!-- TMPL_IF NAME="AmazonEnabled" --><!-- TMPL_IF NAME="AmazonCoverImages" --><div class="yui-u" id="bookcoverimg">
<a href="http://www.amazon<!-- TMPL_VAR NAME="AmazonTld" -->/gp/reader/<!-- TMPL_VAR NAME="normalized_isbn" -->/ref=sib_dp_pt/002-7879865-0184864#reader-link"><img border="0" src="http://images.amazon.com/images/P/<!-- TMPL_VAR NAME="normalized_isbn" -->.01.MZZZZZZZ.jpg" alt="" /></a></div><!-- /TMPL_IF --><!-- /TMPL_IF -->
        
        <div class="yui-u" style="margin-top: 1em;">
        <ul>
        <!-- TMPL_IF name="normalized_isbn" -->
            <li><strong>ISBN:</strong> <!-- TMPL_VAR NAME="normalized_isbn" --></li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF name="issn" -->
            <li><strong>ISSN:</strong><!-- TMPL_VAR NAME="issn" --></li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF name="collectiontitle" -->
            <li><strong>Collection: </strong>
                <!-- TMPL_VAR NAME="collectiontitle" --> <!-- TMPL_IF name="collectionvolume" -->, <!-- TMPL_VAR NAME="collectionvolume" --><!-- /TMPL_IF --><!-- TMPL_IF name="collectionissn" --> (<strong>ISSN:</strong> <!-- TMPL_VAR NAME="collectionissn" -->)<!-- /TMPL_IF -->
            </li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF name="MARCSUBJCTS" -->
            <li><strong>Subjects:</strong> 
            <ul>
                <!-- TMPL_LOOP NAME="MARCSUBJCTS" -->
                <li><!-- TMPL_LOOP NAME="MARCSUBJECT_SUBFIELDS_LOOP" --> <!-- TMPL_VAR NAME="separator" --> <a title="&#8225;<!-- TMPL_VAR NAME="code" --> <!-- TMPL_VAR NAME="value" -->" href="/cgi-bin/koha/catalogue/search.pl?q=<!-- TMPL_LOOP NAME="link_loop" --><!-- TMPL_VAR NAME="operator" escape="url" --><!-- TMPL_VAR name="limit" -->:<!-- TMPL_VAR NAME="link" escape="url" --><!-- /TMPL_LOOP -->"><!-- TMPL_VAR NAME="value" ESCAPE="html" --></a><!-- /TMPL_LOOP --></li>
                <!-- /TMPL_LOOP -->
                </ul>
            </li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF name="copyrightdate" -->
            <li><strong>Copyright:</strong> <!-- TMPL_VAR NAME="copyrightdate" --></li>
        <!-- /TMPL_IF -->
     
        <!-- TMPL_IF name="classification" -->
            <li><strong>Classification:</strong> <!-- TMPL_VAR name="subclass" --><!-- TMPL_VAR name="classification" --></li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF name="dewey" -->
            <li><strong>Dewey:</strong> <!-- TMPL_VAR name="dewey" --></li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF name="URLS" -->
            <li><strong>URL:</strong> 
                <!-- TMPL_LOOP name="URLS" -->
                    <a href="<!-- TMPL_VAR name="url" -->"><!-- TMPL_VAR NAME="url" --></a>
                <!-- /TMPL_LOOP -->
            </li>
        <!-- /TMPL_IF -->

    <!-- /TMPL_IF -->
<!-- TMPL_IF NAME="CourseReserves" -->
<!-- TMPL_IF NAME="CourseReservesExist" -->
    <div class="results_summary">
        <span class="label">Course Reserves:</span>
            <ul><!-- TMPL_LOOP NAME="CourseReservesLoop" -->
            <li><a href="/cgi-bin/koha/circ/courses.pl?course_id=<!-- TMPL_VAR NAME="course_id" -->&amp;op=view_course_reserves"><!-- TMPL_VAR NAME="course_name" --></a>; Department: <!-- TMPL_VAR NAME="department" -->; Course Number: <!-- TMPL_VAR NAME="course_number" -->; Section: <!-- TMPL_VAR NAME="section" -->; Term: <!-- TMPL_VAR NAME="term" -->; Staff Notes: <!-- TMPL_VAR NAME="staff_notes" -->; Public Notes: <!-- TMPL_VAR NAME="public_note" -->; Instructors: <!-- TMPL_VAR NAME="instructors" --></li>
            <!-- /TMPL_LOOP -->
            </ul>
    </div>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->

        <!--This grabs all of the lists a bib record appears in -->
        <!-- TMPL_IF NAME="GetShelves" -->
	        <li><strong>Lists that include this title: </strong>
	        <ul>
	        <!-- TMPL_LOOP NAME="GetShelves" -->
		        <li><a href="/cgi-bin/koha/virtualshelves/shelves.pl?viewshelf=<!-- TMPL_VAR NAME="shelfnumber" -->"><!-- TMPL_VAR NAME="shelfname" --></a></li>
	        <!-- /TMPL_LOOP -->
	        </ul>
	        </li>
        <!-- /TMPL_IF -->
        </ul>
</div>
</div>

<TMPL_IF NAME="last_borrower_show_button">
<input type=button value="Hold for <TMPL_VAR NAME="last_borrower_firstname"> <TMPL_VAR NAME="last_borrower_surname">" 
onclick="document.location.href='/cgi-bin/koha/reserve/placehold.pl?searchtohold=<TMPL_VAR NAME="searchtohold">&cardnumber=<TMPL_VAR NAME="last_borrower_cardnumber">&borrowernumber=<TMPL_VAR NAME="last_borrower_borrowernumber">&biblionumber=<TMPL_VAR NAME="biblionumber">';">
</TMPL_IF>

<div id="bibliodetails" class="toptabs">

<ul>   
<li><a href="#tabs-holdings">Holdings</a></li>
<li><a href="#tabs-description">Descriptions</a></li>
<!-- TMPL_IF NAME="FRBRizeEditions" --><!-- TMPL_IF NAME="XISBNS" --><li><a href="#tabs-editions">Editions</a></li><!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="AmazonSimilarItems" --><li><a href="#tabs-related">Related Titles</a></li><!-- /TMPL_IF -->
 </ul>

<div id="tabs-holdings">
<!-- TMPL_IF name="count" -->
        <table>
            <tr>
                <th>Item type</th>
                <th>Location</th>
                <th>Home Library</th>
                <th>Current Library</th>
                <!-- TMPL_IF NAME="itemdata_ccode" --><th>Collection</th><!-- /TMPL_IF -->
                <th>Call Number</th>
                <th>Status</th>
                <th>Last Seen</th>
                <th>Barcode</th>
                <th>Spine Label</th>
                <!-- TMPL_IF NAME="volinfo" --><th>Publication Details</th><!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="itemdata_uri" --><th>URL</th><!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="itemdata_copynumber" --><th>Copy No.</th><!-- /TMPL_IF -->
            </tr>
            <!-- TMPL_LOOP NAME="itemloop" -->
                <tr>
                     <td class="itype">
                       <!-- TMPL_IF NAME="noItemTypeImages" -->
                         <!-- TMPL_VAR NAME="description" -->
                       <!-- TMPL_ELSE -->
                         <!-- TMPL_IF NAME="imageurl" -->
                           <img src="<!-- TMPL_VAR NAME="imageurl" -->" alt="<!-- TMPL_VAR NAME="description" -->" title="<!-- TMPL_VAR NAME="description" -->" />
                         <!-- TMPL_ELSE -->
                           <!-- TMPL_VAR NAME="description" -->
                         <!-- /TMPL_IF -->
                       <!-- /TMPL_IF --></td>
                    <td class="homelocation"><!-- TMPL_VAR NAME="locationdesc" --></td>
                    <td class="homebranch"><!-- TMPL_VAR NAME="homebranch" --></td>
                    <td class="holdinglocation"><!-- TMPL_VAR NAME="branchname" --></td>
                    <!-- TMPL_IF NAME="itemdata_ccode" --><td><!-- TMPL_VAR name="ccodedesc" --></td><!-- /TMPL_IF -->
                    <td class="itemcallnumber"><!-- TMPL_IF NAME="itemcallnumber" --> <!-- TMPL_VAR NAME="itemcallnumber" --><!-- /TMPL_IF --></td>
                    <td class="status">
                        <!-- TMPL_INCLUDE item-status.inc -->
                    </td>
                    <td class="datelastseen"><!-- TMPL_VAR EXPR="date(datelastseen)" --></td>
                    <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?type=<!-- TMPL_VAR NAME="type" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->#item<!-- TMPL_VAR NAME="itemnumber">"><!-- TMPL_VAR NAME="barcode" --></a>
                    <!-- TMPL_IF NAME="barcode" -->
                    <a href="javascript:;" onclick="checkinNote(<!-- TMPL_VAR NAME="itemnumber" -->)"><img src="/intranet-tmpl/prog/img/toolbar-edit.gif" title="check in note" alt="check in note" align=abscenter border=0></a>
 <script>barcodeMatch('<!-- TMPL_VAR NAME="barcode" -->',<!-- TMPL_VAR NAME="itemnumber" -->)</script>
                     <!-- /TMPL_IF -->
 </td>
                    <td>
                    <!-- TMPL_IF NAME="barcode" -->
                    <a href="/cgi-bin/koha/labels/spinelabel-home.pl?barcode=<!-- TMPL_VAR name="barcode" -->">Print Label</a>
                    <!-- /TMPL_IF -->
                    </td>
				<!-- TMPL_IF NAME="volinfo" -->	<td class="enumchron">
					<!-- TMPL_IF NAME="itemdata_enumchron" -->
						<!-- TMPL_IF NAME="enumchron" -->
						<!-- TMPL_VAR NAME="enumchron" --><!-- TMPL_IF NAME="serialseq" --> -- <!-- /TMPL_IF -->
						<!-- /TMPL_IF -->
					<!-- /TMPL_IF -->
					<!-- TMPL_VAR NAME="serialseq" --><!-- TMPL_IF NAME="publisheddate" --> (<!-- TMPL_VAR NAME="publisheddate" -->)<!-- /TMPL_IF -->
				</td><!-- /TMPL_IF -->
				<!-- TMPL_IF NAME="itemdata_uri" -->
					<td class="uri"><a href="<!-- TMPL_VAR NAME="uri" -->"><!-- TMPL_VAR NAME="uri" --></a></td>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF NAME="itemdata_copynumber" -->
					<td class="copynumber"><!-- TMPL_VAR NAME="copynumber" --></td>
				<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="type" -->
                    <td><a href="/cgi-bin/koha/maint/catmaintain.pl?type=fixitemtype&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->&amp;item=<!-- TMPL_VAR NAME="itemtype" -->">Fix Itemtype</a></td>
                <!-- /TMPL_IF -->

                </tr>
            <!-- /TMPL_LOOP -->
        </table>
        <!-- TMPL_IF NAME="totalreserves" -->
        <div class="dialogue alert">
        <b> There are a total of <!-- TMPL_VAR NAME="totalreserves" --> holds.  Items with "On hold" status are item specific holds. </b>
        </div>
        <!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="debug_display" -->
		<br /><br />
		<table>
			<tr><td>itemdata_enumchron</td><td><!-- TMPL_VAR NAME="itemdata_enumchron" --></td></tr>
			<tr><td>itemdata_copynumber</td><td><!-- TMPL_VAR NAME="itemdata_copynumber" --></td></tr>
			<tr><td>serial</td><td><!-- TMPL_VAR NAME="serial" --></td></tr>
		</table>
		<!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
    <p>No physical items for this record</p>
<!-- This puts in the On Order and In Process Count that are published to records via GetIt -->
<!-- TMPL_IF NAME="GetItAcquisitions" -->
<!-- TMPL_IF "on_order_count" --><!-- TMPL_VAR NAME="on_order_count" --> item(s) currently on order<!-- /TMPL_IF --><!-- TMPL_IF "in_process_count" --><!-- TMPL_VAR NAME="in_process_count" --> item(s) in processing<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- /TMPL_IF -->
    </div>
    
<div id="tabs-description">
<div class="content_set">
<!-- TMPL_IF NAME="AmazonEnabled" -->
<!-- TMPL_LOOP NAME="AMAZON_EDITORIAL_REVIEWS" -->
    <!-- TMPL_IF NAME="Content" -->
    <h4>From <!-- TMPL_VAR NAME="Source" -->:</h4>
    <p><!-- TMPL_VAR NAME="Content" --></p>
    <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
<!-- /TMPL_IF-->

<!-- TMPL_IF name="MARCNOTES" -->
    <!-- TMPL_LOOP NAME="MARCNOTES" -->
    <p><!-- TMPL_VAR NAME="marcnote" --></p>
    <!-- /TMPL_LOOP -->
    <!-- TMPL_ELSE -->
    <!-- TMPL_IF name="notes" -->
    <p><!-- TMPL_VAR NAME="notes" --></p>
    <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
</div>
</div>
<!-- TMPL_IF NAME="FRBRizeEditions" --><!-- TMPL_IF NAME="XISBNS" -->
<div id="tabs-editions"><h2>Editions</h2>
<table>
<!-- TMPL_LOOP NAME="XISBNS" --><tr><!-- TMPL_IF NAME="AmazonEnabled" --><td><a href="http://www.amazon.com/gp/reader/<!-- TMPL_VAR NAME="normalized_isbn" -->/ref=sib_dp_pt/002-7879865-0184864#reader-link"><img src="http://images.amazon.com/images/P/<!-- TMPL_VAR NAME="normalized_isbn" -->.01._AA75_PU_PU-5_.jpg" /></a></td><!-- /TMPL_IF --><td><!-- TMPL_IF NAME="noItemTypeImages" --><!-- TMPL_VAR NAME="description" --><!-- TMPL_ELSE --><img src="<!-- TMPL_VAR NAME="imageurl" -->" alt="<!-- TMPL_VAR NAME="description" -->" title="<!-- TMPL_VAR NAME="description" -->"><!-- /TMPL_IF --></td><td>
<a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" escape="html" --></a> by <!-- TMPL_VAR NAME="author" --> &copy;<!-- TMPL_VAR NAME="copyrightdate" -->
  <!-- TMPL_IF name="publishercode" -->
<!-- TMPL_VAR NAME="publishercode" --> <!-- TMPL_IF name="place" -->(<!-- TMPL_VAR NAME="place"-->)<!--/TMPL_IF--> <!-- TMPL_IF NAME="publicationyear" -->, <!-- TMPL_VAR NAME="publicationyear" --><!-- /TMPL_IF --> <!-- TMPL_IF NAME="editionstatement" --><!-- TMPL_VAR NAME="editionstatement" --><!-- /TMPL_IF --> <!-- TMPL_IF NAME="editionresponsability" --><!-- TMPL_VAR NAME="editionresponsability" --><!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
                <!-- TMPL_IF name="pages" --> <!-- /TMPL_IF --><!-- TMPL_VAR name="pages" --> <!-- TMPL_IF NAME="illus" --><!-- TMPL_VAR NAME="illus" --><!-- /TMPL_IF -->
                <!-- TMPL_IF name="size" -->, <!-- /TMPL_IF --><!-- TMPL_VAR name="size" -->
</td>

<!-- /TMPL_LOOP -->
</table></div><!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="AmazonEnabled" --><!-- TMPL_IF NAME="AmazonSimilarItems" -->
<div id="tabs-related">
<h4>Similar Items</h4>
<ul>
<!-- TMPL_LOOP NAME="AMAZON_SIMILAR_PRODUCTS" -->
<!-- TMPL_LOOP NAME="similar_biblionumbers" -->
<li><img alt="img" src="http://images.amazon.com/images/P/<!-- TMPL_VAR NAME="ASIN"-->.01._SS50_.jpg" /> <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" ESCAPE="HTML" --></a> </li>
<!-- /TMPL_LOOP -->
<!-- /TMPL_LOOP -->
</ul>
</div>
<!-- /TMPL_IF --><!-- /TMPL_IF -->

</div><!-- /bibliodetails -->

<div class="yui-g" id="export" style="margin-top: 1em;">
<form method="get" action="/cgi-bin/koha/catalogue/export.pl">
<table>  <tr>
      <th>Save Record</th>   </tr>
  <tr>     <td> Select Download Format:    <select name="format">
        <option value="mods">MODS (XML)</option>
        <option value="dc">Dublin Core (XML)</option>
        <option value="marcxml">MARCXML</option>
        <option value="marc8">MARC (non-Unicode/MARC-8)</option>
        <option value="utf8">MARC (Unicode/UTF-8)</option>    </select>
        <input type="submit" name="save" value="Download Record" /></td>
  </tr>
  <tr><td>
    <input type="hidden" name="op" value="export" /><input type="hidden" name="bib" value="<!-- TMPL_VAR name="biblionumber" -->" />
  </td></tr>
</table>
</form>
</div>



<!-- TMPL_IF name="subscriptionsnumber" -->
<div class="yui-g">
<div id="catalogue_detail_subscriptions">
    <h2>This is a serial subscription</h2>
    <p> (We have <!-- TMPL_VAR name="subscriptionsnumber" --> subscriptions associated with this title).</p> 
    <!-- TMPL_LOOP Name="subscriptions" -->
            <!-- TMPL_IF NAME="subscriptionnotes" --><p><!--TMPL_VAR NAME="subscriptionnotes"--> </p><!-- /TMPL_IF -->
            <!--TMPL_IF NAME="latestserials"-->
            <p> The <!-- TMPL_VAR NAME="staffdisplaycount" --> latest issues related to this subscription:</p>
            <table>
                <tr>
                    <th>Issue #</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Note</th>
                </tr>
            <!--TMPL_LOOP Name="latestserials"-->
                <tr>
                    <td><!--TMPL_VAR Name="serialseq"--></td>
                    <td><!--TMPL_VAR Name="planneddate"--></td>
                    <td><!--TMPL_IF Name="status1"-->Expected
                        <!--TMPL_ELSE -->
                            <!-- TMPL_IF Name="status2"-->Arrived
                            <!--TMPL_ELSE -->
                                <!-- TMPL_IF Name="status3"-->Late
                                <!--TMPL_ELSE -->
                                    <!-- TMPL_IF Name="status4"-->Missing
                                    <!--TMPL_ELSE -->
                                        <!-- TMPL_IF Name="status5"-->Not Issued
                                        <!--/TMPL_IF-->
                                    <!--/TMPL_IF-->
                                <!--/TMPL_IF-->
                            <!--/TMPL_IF-->
                        <!--/TMPL_IF--></td>
                    <td><!--TMPL_VAR Name="notes"--></td>
                </tr>
            <!--/TMPL_LOOP -->
            </table>
            <!-- /TMPL_IF -->
			<a href="/cgi-bin/koha/serials/subscription-detail.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->">Subscription Details</a>
    <!-- /TMPL_LOOP -->
</div>
</div>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="biblio-view-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
