<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Catalog &rsaquo; Item details for <!-- TMPL_LOOP NAME="BIBITEM_DATA" --><!-- TMPL_VAR NAME="title" --><!-- /TMPL_LOOP --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">
h3{padding-top: 1em; border-top: 2px solid #CCCCCC;}
div.msg {border:1px solid;padding:3px; background-color:#ffffcc;}
</style>
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalog</a>  &rsaquo; Item Details for <i><!-- TMPL_LOOP NAME="BIBITEM_DATA" --><!-- TMPL_VAR NAME="title" escape="html" --><!-- /TMPL_LOOP --></i></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
<!-- TMPL_INCLUDE NAME="cat-toolbar.inc" -->

<div id="catalogue_detail_biblio">
    <!-- TMPL_LOOP NAME="BIBITEM_DATA" -->
    <h2><!-- TMPL_VAR NAME="title" ESCAPE="html" --> <!-- TMPL_IF NAME="author" -->, by <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --></h2>
    <ol class="bibliodetails">
        <li><span class="label">Biblionumber:</span> <!-- TMPL_VAR NAME="biblionumber" -->&nbsp;</li>
        <!-- TMPL_UNLESS NAME="item-level_itypes" -->
        <li><span class="label">Item type:</span> <!-- TMPL_VAR NAME="itemtypename" -->&nbsp;</li>
        <!-- /TMPL_UNLESS -->
        <!-- deprecated? <li><span class="label">Loan length:</span> <!-- TMPL_VAR NAME="loanlength" -->&nbsp;</li> -->
        <li><span class="label">Rental charge:</span><!-- TMPL_VAR NAME="rentalcharge" -->&nbsp;</li>
        <li><span class="label">ISBN:</span> <!-- TMPL_VAR NAME="isbn" -->&nbsp;</li>
        <li><span class="label">Publisher:</span><!-- TMPL_VAR NAME="place" --> <!-- TMPL_VAR NAME="publishercode" ESCAPE="html" --> <!-- TMPL_VAR NAME="publicationyear" -->&nbsp;</li>
        <!-- TMPL_IF NAME="volumeddesc" --><li><span class="label">Volume:</span> <!-- TMPL_VAR NAME="volumeddesc" --></li><!-- /TMPL_IF -->
        <li><span class="label">Physical Details:</span> <!-- TMPL_VAR NAME="pages" --> <!-- TMPL_VAR NAME="illus" --> <!-- TMPL_VAR NAME="size" -->&nbsp;</li>
        <!-- TMPL_IF NAME="bnotes" --><li><span class="label">Notes:</span> <!-- TMPL_VAR NAME="bnotes" --></li><!-- /TMPL_IF -->
        <li><span class="label">No. of Items:</span> <!-- TMPL_VAR NAME="count" -->&nbsp;</li>
    </ol>
    <!-- /TMPL_LOOP -->
    <br clear="all" />
    <!-- TMPL_IF NAME="ONLY_ONE" -->
        <div class="message emphasize">You are only viewing one item.  <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->#item<!-- TMPL_VAR NAME="itemnumber">">View All</a></div>
    <!-- /TMPL_IF -->
    <!-- TMPL_LOOP NAME="ITEM_DATA" -->
    <a name="item<!-- TMPL_VAR NAME="itemnumber" -->"></a>
    <div class="yui-g">
        <h3 id="item<!-- TMPL_VAR NAME="itemnumber" -->">Barcode <!-- TMPL_VAR NAME="barcode" -->  <!-- TMPL_IF name="notforloan" --> [<!-- TMPL_VAR name="notforloandesc" -->] <!-- /TMPL_IF --></h3>
        <div class="listgroup">
          <h4>Item Information <!-- TMPL_IF NAME="CAN_user_editcatalogue_edit_items" --><!-- TMPL_UNLESS name="nomod" --><!-- TMPL_UNLESS name="notmine" --><a href="/cgi-bin/koha/cataloguing/additem.pl?op=edititem&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber"-->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->#edititem">[Edit Items]</a><!-- /TMPL_UNLESS --><!-- /TMPL_IF --><!-- /TMPL_UNLESS --></h4>
            <table class="bibliodetails">
            <tr><th>Home Library:</th><td> <!-- TMPL_VAR NAME="homebranchname" -->&nbsp;</td></tr>
            <tr><th>Item type:</th><td> <!-- TMPL_VAR NAME="itype" -->&nbsp;</td></tr>
            <!-- TMPL_IF NAME="ccode" --><li><th>Collection:</th><td> <!-- TMPL_VAR NAME="ccodedesc" --></td></tr> <!-- /TMPL_IF -->  
            <tr><th>Item Callnumber:</th><td> <!-- TMPL_VAR NAME="itemcallnumber" -->&nbsp;</td></tr>
            <!-- TMPL_IF NAME="copyvol" --><tr><th>Copy / Vol :</th><td> <!-- TMPL_VAR NAME="copyvol" -->&nbsp;</td></tr> <!-- /TMPL_IF -->  
            <!-- TMPL_IF NAME="replacementprice" --><tr><th>Replacement Price:</th><td> <!-- TMPL_VAR NAME="replacementprice" -->&nbsp;</td></tr> <!-- /TMPL_IF -->
            </table></div>

           <div class="listgroup"><h4>Status</h4>

            <table class="bibliodetails">
            <tr><th>Circ Status:</th><td> <div class="itemstatus"><!-- TMPL_INCLUDE item-status.inc --></div></td></tr>
            <tr><th>Current Location:</th><td> <!-- TMPL_VAR NAME="holdingbranchname" -->&nbsp;</td></tr>
            <tr><th>Lost Status:</th><td>
                <table border=0 cellspacing=0 cellpadding=0 class="borderless">
                <TMPL_IF NAME="updatefail_nolc_noco"><tr class=borderless><td class=borderless><div class="msg" id="updatefail_nolc_noco" align=center>Update <span class=problem>failed</span>.
                    Not currently checked out: no patron to charge.
                    <TMPL_IF NAME="lastbor_borrowernumber"><br>Last issued to <a href="/cgi-bin/koha/members/readingrec.pl?borrowernumber=<TMPL_VAR NAME="lastbor_borrowernumber">"><TMPL_VAR NAME="lastbor_name"></a>
                        (<TMPL_VAR NAME="lastbor_cardnumber">), <b>returned <TMPL_VAR NAME="lastbor_returndate"></b><br><br>
                        Do you want to try to charge this patron for losing the item?
                        <form method=post action="updateitem.pl"><br><br>
                        <input type=hidden name="biblionumber" value="<TMPL_VAR NAME="biblionumber">">
                        <input type=hidden name="itemnumber"   value="<TMPL_VAR NAME="itemnumber">">
                        <input type=hidden name="force_lostcharge_borrowernumber" value="<TMPL_VAR NAME="lastbor_borrowernumber">">
                        <input type=hidden name="itemlost" value="lost">
                        <input type="button" value="No, set to a different Lost status"  style="font-size:10pt;" onclick="
                           document.getElementById('updatefail_nolc_noco').innerHTML = 'Set a different Lost status below:';">
                        <input type="submit" value="Yes, charge as lost" style="font-size:10pt;">
                        </form>
                    <TMPL_ELSE><br>Last borrower unkown (may have anonymised reading history).
                        <br>Cannot set item to &lt;lost&gt;.
                        <br>Set to a different Lost status below:
                    </TMPL_IF>
                    </div></td></tr>
                </TMPL_IF>
                <TMPL_IF NAME="lostby_borrowernumber"><tr class=borderless><td class=borderless>Lost <TMPL_VAR NAME="lostby_date"> by <a href="/cgi-bin/koha/members/lost_items.pl?borrowernumber=<TMPL_VAR NAME="lostby_borrowernumber">"><TMPL_VAR NAME="lostby_name"></a> (<TMPL_VAR NAME="lostby_cardnumber">) <TMPL_IF "lostby_claims_returned"><div class="claims-returned">[Claims Returned]</div></TMPL_IF></td></tr></TMPL_IF>

                <tr class=borderless><td class=borderless>
                <!-- TMPL_IF NAME="CAN_user_circulate_change_lost_status" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="itemlost" data-initial-value="<!-- TMPL_VAR itemlost -->">
            <!-- TMPL_LOOP NAME="itemlostloop" -->
                <!-- TMPL_IF NAME="selected" -->
                        <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- TMPL_ELSE -->
                        <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="submit" name="submit" class="submit setLostValue" value="Set Status" /></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemlostloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="lib" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
                </td></tr></table>
                </td>
            </tr>
            <tr><th>Damaged Status:</th><td>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post" name="f_<TMPL_VAR NAME="itemnumber">">
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="damaged" onchange="damagedHasHolds(this.form,<TMPL_VAR NAME="biblionumber">,<TMPL_VAR NAME="itemnumber">)">
            <!-- TMPL_LOOP NAME="itemdamagedloop" -->
                <!-- TMPL_IF NAME="selected" -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- TMPL_ELSE -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type=hidden name="onlyiteminbib" value=0>
                    <input type=hidden name="nukeHolds" value=0>
                    <input type="submit" name="submit" class="submit" value="Set Status" 
                    id="submitdamaged" style="display:none">
                <div id="damagedmsg_<TMPL_VAR NAME="itemnumber">"></div>
                </form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemdamagedloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="lib" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
                </td>
            </tr>

            <tr><th>Withdrawn:</th><td><!-- TMPL_IF NAME="wthdrawn" -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
            <!-- TMPL_IF NAME="wthdrawn" -->
                    <input type="hidden" name="wthdrawn" value="0" /><!-- TMPL_ELSE --><input type="hidden" name="wthdrawn" value="1" />
            <!-- /TMPL_IF -->

	            <!-- TMPL_UNLESS NAME="notmine" -->
	                <!-- TMPL_IF NAME="wthdrawn" -->
	                    <input type="submit" name="submit" class="submit" value="Restore" /><!-- TMPL_ELSE --><input type="submit" name="submit" class="submit" value="Withdraw" />
	                <!-- /TMPL_IF -->
	            <!-- /TMPL_UNLESS -->
                </form>
            <!-- /TMPL_IF -->
            </td>
            </tr>
            <tr><th>Other Item Status:</th><td>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="otherstatus" >
            <!-- TMPL_LOOP NAME="itemstatusloop" -->
                <!-- TMPL_IF NAME="selected" -->
                        <option value="<!-- TMPL_VAR NAME="statuscode" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                <!-- TMPL_ELSE -->
                        <option value="<!-- TMPL_VAR NAME="statuscode" -->"><!-- TMPL_VAR NAME="description" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="submit" name="submit" class="submit" value="Set Status" /></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemstatusloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="description" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF --></td>
            </tr>
            </table>
            </div>
            <div class="listgroup"><h4>History</h4>
	            <table class="bibliodetails">
	                <tr><th>Accession Date:</th><td> <!-- TMPL_VAR NAME="dateaccessioned" --></td></tr>
	                <tr><th>Total Renewals:</th><td> <!-- TMPL_VAR NAME="renewals" --></td></tr>
	                <tr><th>Total Checkouts:</th><td><!-- TMPL_IF NAME="issues" --><!-- TMPL_VAR NAME="issues" --><!-- TMPL_ELSE -->0<!-- /TMPL_IF -->  (<a href="/cgi-bin/koha/circ/bookcount.pl?&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itm=<!-- TMPL_VAR NAME="itemnumber" -->">View item's checkout history</a>)</td></tr>
	
	                <tr><th>Last seen:</th><td> <!-- TMPL_VAR NAME="datelastseen" --></td></tr>
	                <tr><th>Last borrowed:</th><td> <!-- TMPL_VAR NAME="datelastborrowed" --></td></tr>
	                <!-- TMPL_IF NAME="card0" --><tr><th>Last Borrower:</th><td> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower0" -->"><!-- TMPL_VAR NAME="card0" --></a></td></tr><!-- /TMPL_IF -->
	                <!-- TMPL_IF NAME="card1" --><tr><th>Previous Borrower:</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower1" -->"><!-- TMPL_VAR NAME="card1" --></a></td></tr><!-- /TMPL_IF -->
			        <!-- TMPL_IF NAME="card2" --><tr><th>Previous Borrower:</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower2" -->"><!-- TMPL_VAR NAME="card2" --></a></td></tr><!-- /TMPL_IF -->
	                <tr><th>Public Note:</th><td>
	                <!-- TMPL_IF NAME="CAN_user_circulate" -->
	                  <form class="inline" action="updateitem.pl" method="post">
	                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
	                    <textarea name="itemnotes" rows="2" cols="30" <!-- TMPL_IF NAME="notmine" -->readonly disabled<!-- /TMPL_IF -->><!-- TMPL_VAR NAME="itemnotes" --></textarea>
	                    <!-- TMPL_UNLESS NAME="notmine" -->
	                    <input type="submit" name="submit" class="submit" value="Update" /> 
	                    <!-- /TMPL_UNLESS -->
	                  </form>
	                <!-- TMPL_ELSE -->
	                    <!-- TMPL_VAR NAME="itemnotes" -->
	                <!-- /TMPL_IF -->
	                </td></tr>
	            </table>
            </div>
</div>
<!-- /TMPL_LOOP -->
<script>
$(document).ready(function(){
  $("input.setLostValue").click(function(){
    var $itemlost = $(this.form).children("select[name='itemlost']");
    if( $itemlost.val() == $itemlost.data('initialValue')){
      return false;
    }
    if($itemlost.val() == 'lost' && $itemlost.data('initialValue') != 'lost'){
      if(confirm("Setting this value to 'lost' will charge lost fees if a borrower currently has the item checked out.")){
        return true;
      } else {
        $itemlost.val($itemlost.data('initialValue'));
        return false;
      }
    }
    if($itemlost.val() != 'lost' && $itemlost.data('initialValue') == 'lost'){
      if(confirm("Removing 'lost' status will waive any lost/replacement fees for the charged patron.")){
        return true;
      } else {
        $itemlost.val($itemlost.data('initialValue'));
        return false;
      }
    }
    return true;
  })
});
function damagedHasHolds(f,biblionumber,itemnumber) {
   var p  = '<TMPL_VAR NAME="AllowHoldsOnDamagedItems">';
   if (p == '1') { 
      f.submitdamaged.readonly      = false;
      f.submitdamaged.disabled      = false;
      f.submitdamaged.style.display = '';
   }
   var v  = parseInt(f.damaged.options[f.damaged.selectedIndex].value);
   var el = document.getElementById('damagedmsg_'+itemnumber);
   if ((v != 1) || (p=='1')) { 
      f.submitdamaged.readonly      = false;
      f.submitdamaged.disabled      = false;
      f.submitdamaged.style.display = '';
      f.submitdamaged.value         = 'Set Status';
      el.innerHTML = '';
      return; 
   }
   f.submitdamaged.readonly = true;
   f.submitdamaged.disabled = true;
   f.submitdamaged.style.display = 'none';
   $.getJSON('itemholds.pl',{'biblionumber':biblionumber,'itemnumber':itemnumber},function(data) {
      var modTxt = 0;
      if(data.hasholds) {
         modTxt = 1;
         f.nukeHolds.value     = 1;
         el.style.background   = '#ffffcc';
         el.innerHTML = '<strong class=error>This item has holds.</strong> '
         +'Setting this item to <strong>Damaged</strong> cancels current item-level holds.';
      }
      if (data.onlyiteminbib) {
         modTxt = 1;
         f.onlyiteminbib.value = 1;
         el.innerHTML += '<strong class=error>This is the only item in this '
         +'bibliographic record.</strong>  Setting this item to '
         +'<strong>Damaged</strong> also cancels all title-level holds.';
      }
      if (modTxt) {
         f.submitdamaged.value = 'Cancel Hold(s) and Set Status';
      }
   });
   f.submitdamaged.readonly      = false;
   f.submitdamaged.disabled      = false;
   f.submitdamaged.style.display = '';
}
</script>
</div>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="biblio-view-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
