<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Circulation
<!-- TMPL_IF NAME="borrowernumber" -->
&rsaquo; Checking out to <!-- TMPL_VAR name="surname" -->, <!-- TMPL_VAR name="firstname" --><!-- TMPL_IF NAME="showinitials" --> <!-- TMPL_VAR NAME="initials" --><!-- /TMPL_IF -->
(<!-- TMPL_VAR NAME="cardnumber" -->)
<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="greybox.inc" -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.dimensions.pack.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tools.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/js/auth.js"></script>
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang" -->/css/login.css" />
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[

var backtoqueue = '<!-- TMPL_VAR NAME="backtoqueue" -->';
if (backtoqueue=='1') {
   window.parent.location.href='/cgi-bin/koha/circ/view_holdsqueue.pl'
   +'?run_report=1&branchlimit=<!-- TMPL_VAR NAME="queue_branchlimit" -->'
   +'&currPage=<TMPL_VAR NAME="queue_currPage">'
   +'&orderby=<TMPL_VAR NAME="queue_orderby">'
   +'&limit=<TMPL_VAR NAME="queue_limit">';
   window.parent.GB_hide();
}

$.tablesorter.addParser({
    id: 'articles',
    is: function(s) {return false;  },
    format: function(s) { return s.toLowerCase().replace(/^(the|an|a) /,''); },
    type: 'text'
});
<!-- TMPL_UNLESS NAME="borrowernumber" --><!-- TMPL_UNLESS NAME="CGIselectborrower" -->window.onload=function(){ $('#findborrower').focus(); };<!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
	 $(document).ready(function() {
 		$('#patronlists > ul').tabs();
		$.tablesorter.defaults.widgets = ['zebra'];
		$("#issuest").tablesorter({<!-- TMPL_IF EXPR="dateformat eq 'metric'" -->
		dateFormat: 'uk',<!-- /TMPL_IF -->
		headers: { 1: { sorter: 'articles' },5: { sorter: false },6:{sorter:false},7:{sorter:false},8:{sorter:false}}
		});
		$("#issuest").bind("sortEnd",function() {
        	$("#previous").parents("tr").remove();  // 'previous checkouts' header chokes table sorter
	    });
		$("#holdst").tablesorter({<!-- TMPL_IF EXPR="dateformat eq 'metric'" -->
		dateFormat: 'uk',<!-- /TMPL_IF -->
			sortList: [[0,0]],
			headers: { 1: { sorter: 'articles' }}
		});

        <!-- TMPL_IF NAME="AllowRenewalLimitOverride" -->
        $( '#override_limit' ).click( function () {
            if ( this.checked ) {
                $( '.renewals-allowed' ).show(); $( '.renewals-disabled' ).hide();
            } else {
                $( '.renewals-allowed' ).hide(); $( '.renewals-disabled' ).show();
            }
        } ).attr( 'checked', false );
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="show_override" -->
        var submit_form = $( '#confirm, #charges_override' ).get( 0 );
        auth.bind_get_override( '#override_login', function ( data ) {
            if ( submit_form ) {
                $( submit_form ).find( 'input[name=override_user]' ).val( data.override_user ).end() 
                    .find( 'input[name=override_pass]' ).val( data.override_pass ).end()
                    .submit();
            } else {
                document.location.search = 'borrowernumber=' + <!-- TMPL_VAR NAME="borrowernumber" --> + '&override_user=' + data.override_user + '&override_pass=' + data.override_pass.replace( '+', '%2B' );
            }
        } );
        <!-- /TMPL_IF -->
		$("td").click(function(e){
			if(e.target.tagName.toLowerCase() == 'td'){
            $(this).find("input:checkbox").each( function() {
                $(this).attr('checked', !$(this).attr('checked'));
            });
			}
		});

	$("#renew_all").click(function(){
		$(".checkboxed").checkCheckboxes(":input[name*=items]");
		$(".checkboxed").unCheckCheckboxes(":input[name*=barcodes]");
	});
	$("#return_all").click(function(){
		$(".checkboxed").checkCheckboxes(":input[name*=barcodes]");
		$(".checkboxed").unCheckCheckboxes(":input[name*=items]");
	});
	$("#CheckAllitems").click(function(){
		$(".checkboxed").checkCheckboxes(":input[name*=items]");
		$(".checkboxed").unCheckCheckboxes(":input[name*=barcodes]"); return false;
	});
    $("#CheckNoitems").click(function(){
		$(".checkboxed").unCheckCheckboxes(":input[name*=items]"); return false;
	});
	$("#CheckAllreturns").click(function(){
		$(".checkboxed").checkCheckboxes(":input[name*=barcodes]");
		$(".checkboxed").unCheckCheckboxes(":input[name*=items]"); return false;
	});
    $("#CheckNoreturns" ).click(function(){
		$(".checkboxed").unCheckCheckboxes(":input[name*=barcodes]"); return false;
	});

    <!-- TMPL_IF NAME="CAN_user_circulate_override_renewals" -->
    <!-- TMPL_IF NAME="AllowRenewalLimitOverride" -->
    $( '#override_limit' ).click( function () {
        if ( this.checked ) {
           $( '.renewals-allowed' ).show(); $( '.renewals-disabled' ).hide();
        } else {
           $( '.renewals-allowed' ).hide(); $( '.renewals-disabled' ).show();
        }
    } ).attr( 'checked', false );
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
	$("td").click(function(e){
		if(e.target.tagName.toLowerCase() == 'td'){
           $(this).find("input:checkbox").each( function() {
               $(this).attr('checked', !$(this).attr('checked'));
			   if($(this).attr('checked')){
                    $(this).parent().siblings().find("input:checkbox").each(function(){
                       if($(this).attr('checked')){ $(this).attr('checked',''); }
                   });
			   }
           });
		}
	});
	$("#messages ul").after("<a href=\"#\" id=\"addmessage\">"+_("Add a new message")+"</a>");
	$("#borrower_messages .cancel").click(function(){
		$("#add_message_form").hide();
        $("#addmessage").show();
	});
	$("#addmessage").click(function (){
        $(this).hide();
		$("#add_message_form").show();
	 });
});
function uncheck_sibling(me){
nodename=me.getAttribute("name");
if (nodename =="barcodes[]"){
    var Node=me.parentNode.previousSibling;
    while (Node.nodeName!="TD"){Node=Node.previousSibling}
    var Nodes=Node.childNodes;
    for (var i=0;i<Nodes.length;i++){
      if (Nodes[i].nodeName=="INPUT" && Nodes[i].getAttribute("type")=="checkbox"){
        Nodes[i].checked=false;
      }     
   }   

}else {
    var Node=me.parentNode.nextSibling;
    while (Node.nodeName!="TD"){Node=Node.nextSibling}
    var Nodes=Node.childNodes;
    for (var i=0;i<Nodes.length;i++){
      if (Nodes[i].nodeName=="INPUT" && Nodes[i].getAttribute("type")=="checkbox"){
        Nodes[i].checked=false;
      }     
   }   
}
}
function validate1(date) {
    var today = new Date();
    if ( date < today ) {
        return true;
     } else {
        return false;
     }
};
function refocus(calendar) {
   document.getElementById('barcode').focus();
   calendar.hide();
};
//]]>
</script>
<style type="text/css">
    <!--
    #login-overlay {
        background-image: url(/intranet-tmpl/prog/img/overlay_white.png);
        display: none;
        width: 656px;
        height: 526px;
    }
    #login-area {
        position: relative;
    }
    -->
</style>
<!-- TMPL_INCLUDE NAME="calendar.inc" -->

<!-- TMPL_IF NAME="CheckoutTimeout" -->
  <script type="text/javascript">
    function displaymessage() {
      clearTimeout( mesg_timeout );
      if ( confirm('Circ Timeout -- Are you finished with this patron?') ) { 
        window.location = '/cgi-bin/koha/circ/circulation.pl';
      } else {
        mesg_timeout = setTimeout('displaymessage()', <!-- TMPL_VAR NAME="CheckoutTimeout" --> * 1000);
      }
    }
  </script>
<!-- /TMPL_IF -->

</head>
<body <!-- TMPL_IF NAME="CheckoutTimeout" -->onload="mesg_timeout = setTimeout('displaymessage()', <!-- TMPL_VAR NAME="CheckoutTimeout" --> * 1000)" <!-- /TMPL_IF --> >

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a> &rsaquo;<!-- TMPL_IF NAME="borrowernumber" --> <a href="/cgi-bin/koha/circ/circulation.pl">Checkouts</a> &rsaquo; <!-- TMPL_VAR name="firstname" --> <!-- TMPL_IF NAME="showinitials" --><!-- TMPL_VAR NAME="initials" --><!-- /TMPL_IF --> <!-- TMPL_VAR name="surname" --><!-- TMPL_ELSE --> <strong>Checkouts</strong><!-- /TMPL_IF --></div>


<!-- TMPL_IF NAME="CGIselectborrower" -->
<div id="doc" class="yui-t7">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">
<!-- TMPL_ELSE -->
<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="borrowernumber" -->
<!-- TMPL_INCLUDE NAME="circ-toolbar.inc" -->
<!-- /TMPL_IF -->

<!--  INITIAL BLOC : PARAMETERS & BORROWER INFO -->
<div style="display: none;" id="add_message_form">
<form method="post" action="/cgi-bin/koha/circ/add_message.pl" id="message_form" name="message_f">
<fieldset id="borrower_messages" class="brief">
<legend>Leave a message</legend>
	<ol>
    <li>
            <label for="message_type">Add a message for:</label>
          <select name="message_type" id="message_type">
            <option value="L">Other Librarians</option>
            <option value="B"><!-- TMPL_VAR name="firstname" --></option>
        </select>
    </li>
    <!-- TMPL_IF NAME="canned_bor_notes_loop" -->
        <li>
                <label for="canned_notes">Predefined notes: </label>
                <select name="type" id="type" onchange="this.form.borrower_message.value=this.options[this.selectedIndex].value;">
                    <option value="">Select Note</option>
                    <!-- TMPL_LOOP NAME="canned_bor_notes_loop" -->
                    <option value="<!-- TMPL_VAR NAME="lib" -->"><!-- TMPL_VAR NAME="lib" --></option>
                    <!-- /TMPL_LOOP -->
                </select>
        </li>
    <!-- /TMPL_IF -->
    <li>
        <textarea rows="3" cols="60" name="borrower_message" id="borrower_message" ></textarea>
    </li>
	</ol>
    <fieldset class="action">
        <input type="submit" value="Save" /> <a href="#" class="cancel">Cancel</a>
    </fieldset>

        <input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
        <input type="hidden" name="branchcode" value="<!-- TMPL_VAR NAME="branch" -->" />
</fieldset>
</form>
</div>

<!-- TMPL_IF NAME="dateexpiry" --><div class="dialog message">Patron's account has been renewed until <!-- TMPL_VAR NAME="dateexpiry" --></div><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="NEEDSCONFIRMATION" -->
<div class="yui-g">

<div id="circ_needsconfirmation" class="dialog alert">
<h3>Please Confirm Checkout</h3>

<ul>
<!-- TMPL_IF NAME="DEBT" -->
    <li>The patron has a debt of <!-- TMPL_VAR name="DEBT" --></li>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="RENEW_ISSUE" -->
    <li>Item is currently checked out to this patron.  Renew?</li>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="ISSUED_TO_ANOTHER" -->
    <li>Item ( <!-- TMPL_VAR NAME="getTitleMessageIteminfo" --> ) checked out to <!-- TMPL_VAR NAME="ISSUED_TO_ANOTHER" -->. Check in and check out?</li>
<!-- /TMPL_IF -->
<TMPL_IF NAME="RESERVED">
    <li><a href="/cgi-bin/koha/reserve/editholds.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="getTitleMessageIteminfo"></a> is <b>on hold</b>
   <TMPL_IF EXPR="RESERVE_DIFFBOR_PENDING or RESERVE_SAMEBOR_DIFFBIBITEM_PENDING">
      <TMPL_IF EXPR="res_found eq 'T'">(was in transit)
      <TMPL_ELSIF NAME="res_priority">(priority <TMPL_VAR NAME="res_priority">)
      </TMPL_IF>
   <TMPL_ELSE>and waiting
   </TMPL_IF>
   <TMPL_IF EXPR="RESERVE_SAMEBOR_DIFFBIBITEM_WAITING or RESERVE_SAMEBOR_DIFFBIBITEM_PENDING">
      <br>for this patron
      <br>(same title, <span class=problem>different item</span>: 
      <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="res_biblionumber">&itemnumber=<TMPL_VAR NAME="res_itemnumber">#item<TMPL_VAR NAME="res_itemnumber">"><TMPL_VAR NAME="res_barcode"></a>)
   <TMPL_ELSE>for <span class=problem>a different patron</span>:<br>
      <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<TMPL_VAR NAME="res_borrowernumber">"><TMPL_VAR NAME="res_firstname"> <TMPL_VAR NAME="res_surname"> (<TMPL_VAR NAME="res_cardnumber">)</a>
   </TMPL_IF>
</TMPL_IF>
<!-- TMPL_IF NAME="TOO_MANY" -->
<!-- TMPL_IF NAME="CAN_user_circulate_override_checkout_max" -->
    <li>Too many checked out (already checked out / max : <!-- TMPL_VAR name="TOO_MANY" -->)</li>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="PATRON_CANT" -->
    <li>This patron can't check out this item per library circulation policy.</i>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="NOT_FOR_LOAN_FORCING" -->
    <li>Item is normally not for loan.</li>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="NO_MORE_RENEWALS_FORCING" -->
     <li>No more renewals normally possible.</li>
<!-- /TMPL_IF -->

</ul>
Checkout anyway?<br>
<form method="post" action="/cgi-bin/koha/circ/circulation.pl" id="confirm" name="myf">
<input type=hidden name="queue_branchlimit" value="<!-- TMPL_VAR NAME="queue_branchlimit" -->">
<input type=hidden name="queue_currPage" value="<TMPL_VAR NAME="queue_currPage">">
<input type=hidden name="queue_limit" value="<TMPL_VAR NAME="queue_limit">">
<input type=hidden name="queue_orderby" value="<TMPL_VAR NAME="queue_orderby">">
<input type=hidden name="fromqueue" value="<!-- TMPL_VAR NAME="fromqueue" -->">
<input type=hidden name="qbarcode" value="<!-- TMPL_VAR NAME="qbarcode" -->">

   <!-- TMPL_IF NAME="RESERVED" -->
      <!-- TMPL_IF NAME="DisableHoldsIssueOverrideUnlessAuthorised" -->
      <TMPL_UNLESS NAME="CAN_user_superlibrarian">
    <p>
    <label><strong>Superlibrarian Authorization Required</strong></label>
    <TMPL_IF NAME="badauth"><br><span class=error>Invalid authorization username/password. Try again.</span></TMPL_IF>
    </p><p>
    <label for="auth_username">Username:
    <input type="text" id="auth_username" name="auth_username" /><br></label>
    <label for="auth_password">Password:
    <input type="password" id="auth_password" name="auth_password" /></label>
    </p>
      </TMPL_UNLESS>
      <!-- /TMPL_IF -->
   <!-- /TMPL_IF -->

   <!-- TMPL_IF NAME="RESERVED" -->
    <table border=0 cellspacing=0 cellpadding=4>
    <tr><td><input type="radio" name="howReserve" value="requeue" 
      <TMPL_IF EXPR="howReserve eq 'requeue'">checked</TMPL_IF> /><b>Requeue</b>: Send reserve back to title's <a href="/cgi-bin/koha/reserve/editholds.pl?biblionumber=<TMPL_VAR NAME="biblionumber">">Existing Holds</a> list</td></tr>
    <tr><td><input type="radio" name="howReserve" value="cancel" 
      <TMPL_IF EXPR="howReserve eq 'cancel'">checked</TMPL_IF> /><b>Cancel</b> Reserve
    <TMPL_IF EXPR="RESERVE_DIFFBOR_WAITING or RESERVE_SAMEBOR_DIFFBIBITEM_PENDING or RESERVE_SAMEBOR_DIFFBIBITEM_WAITING">
    <tr><td><input type="radio" name="howReserve" value="fill" 
      <TMPL_IF EXPR="howReserve eq 'fill'">checked</TMPL_IF> /><b>Fill</b> Reserve: current patron is authorized
    </td></tr>
    </TMPL_IF>
    </table>
   <!-- /TMPL_IF -->

    <input type="hidden" name="barcode" value="<!-- TMPL_VAR NAME="barcode" -->" />
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="hidden" name="issueconfirmed" value="1" />
    <!-- TMPL_IF NAME="RESERVED" --><input type="hidden" name="reserve_confirmed" value="1" /><!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="DEBT" --><input type="hidden" name="debt_confirmed" value="1" /><!-- /TMPL_IF -->

    <input type="hidden" name="charges_overridden" value="<!-- TMPL_VAR NAME="charges_overridden" -->" />
    <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
    <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />
    <input type="hidden" name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->" />
    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <input type="submit" class="approve" value="Yes, Check Out (Y)" accesskey="y" />
    <script>$(document).ready(function() {document.mainform.barcode.value='<TMPL_VAR NAME="barcode">'});</script>
</form>

<form method="POST" action="/cgi-bin/koha/circ/circulation.pl" id="dont_confirm">
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />
    <input type="hidden" name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->" />
    <input type="submit" class="deny" value="No, Don't Check Out (N)" accesskey="n" />
    <input type="hidden" name="charges_overridden" value="<!-- TMPL_VAR NAME="charges_overridden" -->" />
    <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
    <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
</form>

</div></div>
<!-- /TMPL_IF --> <!-- NEEDSCONFIRMATION -->

        <!-- TMPL_IF NAME="IMPOSSIBLE" -->
           <!-- TMPL_IF NAME="soundon" -->
            <audio src="/intranet-tmpl/prog/sound/critical.ogg" autoplay="autoplay" autobuffer="autobuffer"></audio>
           <!-- /TMPL_IF -->        

<div class="yui-g">
<div id="circ_impossible" class="dialog alert">
<!-- RESULT OF ISSUING REQUEST -->
        <ul>
         <!-- TMPL_IF NAME="DEBT" -->
            <li>The patron has a debt of <!-- TMPL_VAR name="DEBT" --></li>
         <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="STATS" -->
            <li>Local Use Recorded</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="INVALID_DATE" -->
            <li>The due date &quot;<!-- TMPL_VAR NAME="INVALID_DATE" -->&quot; is invalid</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="UNKNOWN_BARCODE" -->
            <li>The barcode was not found
             <!-- TMPL_IF NAME="CAN_user_circulate_fast_add" -->
                <form method="post" class="confirm" action="/cgi-bin/koha/circ/fastcat.pl">
                <input type=hidden name="barcode" value="<!-- TMPL_VAR NAME="barcode" -->">
                <input type=hidden name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->">
                <input type=hidden name="branch" value="<!-- TMPL_VAR NAME="branch" -->">
                <input type="submit" name="fastadd1" value="Fast Bib Add">
                <input type=hidden name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->">
                <input type=hidden name="duedatespec" value="<TMPL_VAR NAME="duedatespec">">
                </form>
                <!-- /TMPL_IF -->
            </li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NOT_FOR_LOAN" -->
            <li>Item not for loan</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="WTHDRAWN" -->
            <li>Item has been withdrawn</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="RESTRICTED" -->
            <li>Item is restricted</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="GNA" -->
            <li>Patron's address is in doubt</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="CARD_LOST" -->
            <li>Patron's card is lost</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="DEBARRED" -->
            <li>Patron is restricted</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NO_MORE_RENEWALS" -->
            <li>No more renewals possible</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="EXPIRED" -->
            <li>Patron's card is expired</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NOTSAMEBRANCH" -->
            <li>This item belongs to <!-- TMPL_VAR NAME="itemhomebranch" --> and cannot be issued from this location.</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_UNLESS NAME="CAN_user_circulate_override_checkout_max" -->
        <!-- TMPL_IF NAME="TOO_MANY" -->
            <li>Too many checked out (already checked out / max : <!-- TMPL_VAR name="TOO_MANY" -->)</li>
        <!-- /TMPL_IF -->
        <!-- /TMPL_UNLESS -->
        </ul>

    <!-- TMPL_IF NAME="memberofinstution" -->
    <p><!-- TMPL_VAR NAME="CGIorganisations" --></p>
    <!-- /TMPL_IF -->

</div></div>
    <!-- TMPL_ELSE -->
      <!-- TMPL_IF NAME="soundon" -->
    <audio src="/intranet-tmpl/prog/sound/beep.ogg" autoplay="autoplay" autobuffer="autobuffer"></audio>
      <!-- /TMPL_IF -->
<!-- eof impossible --><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="issued" -->
<p>Item Checked out</p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="CGIselectborrower" -->
   <!-- TMPL_INCLUDE NAME="patron-toolbar.inc" -->
<form method="post" action="/cgi-bin/koha/circ/circulation.pl" id="mainform" name="mainform">
<fieldset id="circ_circulation_selectborrower" class="brief">
    <legend>Patron selection</legend>

    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />
    <input type="hidden" name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->" />

<ol>    <li>
    <label for="borrowernumber">Select a patron: </label>
    <!-- TMPL_VAR name="CGIselectborrower" -->
    </li>
</ol>
<p><input type="submit" value="Select" /></p>
</fieldset>
</form>
<!-- /TMPL_IF -->

<!-- BARCODE ENTRY -->

<TMPL_IF NAME="borrowernumber">
   <TMPL_UNLESS NAME="cardnumber">
   No patron with borrowernumber=<TMPL_VAR NAME="borrowernumber">
   <TMPL_ELSE>
<div class="yui-g">
<!-- TMPL_UNLESS NAME="noissues" -->
   <!-- TMPL_IF NAME="flagged" -->
<div class="yui-u first">
   <!-- TMPL_ELSE -->
<div><!-- /TMPL_IF --><form method="post" action="/cgi-bin/koha/circ/circulation.pl" name="mainform" id="mainform">
<fieldset id="circ_circulation_issue">
    <!-- TMPL_IF NAME="DisplayClearScreenButton" -->
	    <input type=button value="Clear Screen" onClick="window.location = '/cgi-bin/koha/circ/circulation.pl'">
    <!-- /TMPL_IF -->

    <label for="barcode">Checking out to <!-- TMPL_VAR name="firstname" --> <!-- TMPL_IF NAME="showinitials" --><!-- TMPL_VAR NAME="initials" --><!-- /TMPL_IF --> <!-- TMPL_VAR name="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->) <!-- TMPL_IF NAME="showothernames" --><!-- TMPL_IF NAME="othernames" -->&ldquo;<!-- TMPL_VAR NAME="othernames" -->&rdquo;<!-- /TMPL_IF --> <!-- /TMPL_IF --></label>
    <!-- TMPL_IF NAME="PreviousCardnumber" --><div><span class="circ-hlt">Warning: Scanned Old Card</span></div><!-- /TMPL_IF -->
	<div class="hint">Enter item barcode:</div>

	<input type="text" name="barcode" id="barcode" class="barcode focus" size="14" /> <input type="submit" value="Check Out" />

    <!-- TMPL_IF NAME="SpecifyDueDate" -->
    <!-- TMPL_IF NAME="CAN_user_circulate_change_due_date" -->
        <div class="date-select">
        <div class="hint">Specify Due Date:</div>
		<!-- TMPL_IF NAME="duedatespec" --><input type="text" size="10" id="duedatespec" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" /><!-- TMPL_ELSE --><input type="text" size="10" id="duedatespec" name="duedatespec" value="" />
<!-- /TMPL_IF -->
		<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Show Calendar"  border="0" id="CalendarDueDate" style="cursor: pointer;" />
             <script language="JavaScript" type="text/javascript">
			 //<![CDATA[
                   function validate1(date) {
                         var today = new Date();
                     if ( date < today ) {
                         return true;
                      } else {
                         return false;
                      }
                 };
                 function refocus(calendar) {
                    document.getElementById('barcode').focus();
                    calendar.hide();
                 };
				//#TODO - ADD syspref (AllowPostDatedCheckouts).
                 Calendar.setup(
                      {
                         inputField : "duedatespec",
                         ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                         button : "CalendarDueDate",
                        <!-- TMPL_IF NAME="AllowDueDateInPast" -->
                         onClose : refocus
                        <!-- TMPL_ELSE -->
                         disableFunc : validate1,
                         dateStatusFunc : validate1,
                         onClose : refocus
                        <!-- /TMPL_IF -->
                       }
                    );
				//]]>
                 </script>

          <label for="stickyduedate"> Remember for Session:</label>
<!-- TMPL_IF NAME="stickyduedate" -->
<input type="checkbox" id="stickyduedate" onclick="this.form.barcode.focus();" name="stickyduedate" checked="checked" />
<!-- TMPL_ELSE -->
<input type="checkbox" id="stickyduedate" onclick="this.form.barcode.focus();" name="stickyduedate" />
<!-- /TMPL_IF -->
          <input type="button" class="action" id="cleardate" value="Clear" name="cleardate" onclick="this.checked = false; this.form.duedatespec.value = ''; this.form.stickyduedate.checked = false; this.form.barcode.focus(); return false;" />
</div>
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
          <input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
          <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
          <input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
          <input type="hidden" name="print" value="maybe" />
          <input type="hidden" name="debt_confirmed" value="<!-- TMPL_VAR NAME="debt_confirmed" -->" />
          <input type="hidden" name="charges_overridden" value="<!-- TMPL_VAR NAME="charges_overridden" -->" />
          <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
          <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
                <!-- TMPL_IF NAME="CHARGES" -->
                        <input type="hidden" name="charges" value="yes" />
                        <input type="hidden" name="oldamount" value="<!-- TMPL_VAR NAME="amountold" -->" />
                <!-- /TMPL_IF -->
</fieldset>

</form></div><!-- /TMPL_UNLESS --><!-- /unless noissues -->

<!-- TMPL_IF NAME="noissues" --><div><!-- TMPL_ELSE --><div class="yui-u"><!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="flagged" -->
		<!-- TMPL_IF NAME="noissues" -->
		 <h4>Checking out to <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->)</h4>
        <div id="circmessages" class="circmessage warning">
		<!-- TMPL_ELSE -->
        <div id="circmessages" class="circmessage attention">
		<!-- /TMPL_IF -->
<h3><input type="button" value="Search To Hold" id="searchtohold" onclick="return GB_showFullScreen('Search To Hold', '/cgi-bin/koha/catalogue/search.pl?last_borrower_show_button=1')" /></h3>

		<h3><!-- TMPL_IF NAME="noissues" -->Cannot Check Out!<!-- TMPL_ELSE -->Attention:<!-- /TMPL_IF --></h3>
		<ul>

			<!-- TMPL_IF NAME = "debtcollect" -->
			<li><span class="circ-hlt">Debt Collect:</span> Patron sent to collection/Last update on <!-- TMPL_VAR NAME="debtcollect" -->.
                        </li>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF NAME = "warndeparture" -->
			<li><span class="circ-hlt">Expiration:</span> Patron's card will expire soon.
			Patron's card expires on <!-- TMPL_VAR NAME="expiry" -->
<!-- TMPL_IF NAME="CAN_user_circulate_renew_expired" -->
<a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;reregistration=y">Renew</a> or <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Edit Details</a>
<!-- /TMPL_IF -->

			</li>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF NAME="returnbeforeexpiry" -->
			 <li><span class="circ-hlt">Set due date to expiry:</span> You have the ReturnBeforeExpiry system preference enabled this means if the
			 expiry date is before the date due, the date due will be set to the expiry date
			 </li>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF NAME = "expired" -->
			<li><span class="circ-hlt">Expiration:</span> Patron's card has expired.
			Patron's card expired on <!-- TMPL_VAR NAME="expiry" -->
<!-- TMPL_IF NAME="CAN_user_circulate_renew_expired" -->
<a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;reregistration=y">Renew</a> or <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Edit Details</a>
<!-- /TMPL_IF -->
			</li>
			<!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="gna" -->
			<li class="blocker"><span class="circ-hlt">Address:</span> Patron's address in doubt</li>
			<!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="lost" -->
			<li class="blocker"><span class="circ-hlt">Lost: </span>Patron's card is lost</li>
			<!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="dbarred" --><li class="blocker">
               <span class="circ-hlt"> Restricted:</span> Patron's account is restricted <a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;status=0">Lift restriction</a>
</li><!-- /TMPL_IF -->

        	<!-- TMPL_IF name="odues" --><li><!-- TMPL_IF name="nonreturns" --><span class="circ-hlt">Overdues:</span> Patron has <span class="circ-hlt">ITEMS OVERDUE</span>.<!-- /TMPL_IF --></li>
            <!-- /TMPL_IF -->

        	<!-- TMPL_IF NAME="charges" -->
                <!-- TMPL_IF NAME="charges_is_blocker" -->
			        <li class="blocker">
                    <form id="charges_override" method="POST" action="/cgi-bin/koha/circ/circulation.pl">
                        <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
                        <input type="hidden" name="charges_overridden" value="1" />
                        <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
                        <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
                <!-- TMPL_ELSE -->
			        <li>
                <!-- /TMPL_IF -->
                    <p>
                        <span class="circ-hlt">Fines:</span> Patron has  <a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Outstanding fines<!-- TMPL_IF NAME="chargesamount" --> of $<!-- TMPL_VAR NAME="chargesamount" --><!-- /TMPL_IF --></a>:
                    </p>
                    <ul>
                        <!-- TMPL_IF NAME="lost_fines_total" --><li><span class="circ-hlt">Replacement fees:</span> $<!-- TMPL_VAR NAME="lost_fines_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="overdue_fines_total" --><li><span class="circ-hlt">Overdue fines:</span> $<!-- TMPL_VAR NAME="overdue_fines_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="reserve_fees_total" --><li><span class="circ-hlt">Hold fees:</span> $<!-- TMPL_VAR NAME="reserve_fees_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="other_fees_total" --><li><span class="circ-hlt">Other fees:</span> $<!-- TMPL_VAR NAME="other_fees_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="credits_total" --><li><span class="circ-hlt">Credits:</span> -$<!-- TMPL_VAR NAME="credits_total" --></li><!-- /TMPL_IF -->
                    </ul>
                    <p>
                <!-- TMPL_IF NAME="charges_is_blocker" -->
                        Checkouts are blocked because fine balance is over the limit.
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="CAN_user_updatecharges_accept_payment" -->
                    Make <a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Payment</a>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="charges_override" -->
                    <input type="submit" class="submit" value="Override" />
                <!-- /TMPL_IF -->
                </form>
                </li>
			<!-- /TMPL_IF -->

        	<!-- TMPL_IF NAME="credits" -->
            <li><span class="circ-hlt">Credits:</span> Patron has a credit</li>
			<!-- /TMPL_IF -->

        	<!-- TMPL_IF NAME="override_user" -->
            <li><span class="circ-hlt">Using override:</span> from <!-- TMPL_VAR NAME="override_user" --></li>
			<!-- /TMPL_IF -->



			</ul>
        </div>

	<!-- TMPL_IF name="notes" -->
			<div id="circnotes" class="circmessage">
			<h4>Notes:</h4>
            <p><span class="circ-hlt"><!-- TMPL_VAR name="notesmsg" --></span></p>
			</div>


    <!-- /If notes --><!-- /TMPL_IF -->

   <TMPL_IF NAME="itemswaiting">
   <div id="itemswaiting" class="circmessage">
      <h4>Holds Waiting:</h4>
      <ul>
         <TMPL_LOOP NAME="reservloop">
         <TMPL_IF NAME="waiting">
            <li><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="title"></a> 
            <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcodereserv"></a>
            by <TMPL_VAR NAME="author"> placed on <TMPL_VAR NAME="reservedate"> 
            <span class="waitinghere"><strong>Waiting at <TMPL_VAR NAME="pickupbranch"></strong></span></li>
         </TMPL_IF>
         </TMPL_LOOP>
      </ul>
   </div>
   </TMPL_IF>

	<div id="messages" class="circmessage">
		<h4>Messages:</h4>
		<ul>
			<!-- TMPL_LOOP NAME="lib_messages_loop" -->
				<li>
					<span class="circ-hlt">
						<!-- TMPL_VAR NAME="message_date_formatted" -->
						<!-- TMPL_VAR NAME="branchcode" -->
						<i>"<!-- TMPL_VAR NAME="message" -->"</i>
					</span>
					<!-- TMPL_IF NAME="can_delete" -->
						<a href="/cgi-bin/koha/circ/del_message.pl?message_id=<!-- TMPL_VAR NAME="message_id" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">[Delete]</a>
					<!-- TMPL_ELSE -->
						<!-- TMPL_IF NAME="all_messages_del" -->
							<a href="/cgi-bin/koha/circ/del_message.pl?message_id=<!-- TMPL_VAR NAME="message_id" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">[Delete]</a>
						<!-- /TMPL_IF -->
					<!-- /TMPL_IF -->
				</li>
			<!-- /TMPL_LOOP -->
			<!-- TMPL_LOOP NAME="bor_messages_loop" -->
				<li><span class=""><!-- TMPL_VAR NAME="message_date_formatted" --> <!-- TMPL_VAR NAME="branchcode" --> <i>"<!-- TMPL_VAR NAME="message" -->"</i></span> <!-- TMPL_IF NAME="can_delete" --><a href="/cgi-bin/koha/circ/del_message.pl?message_id=<!-- TMPL_VAR NAME="message_id" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">[Delete]</a><!-- /TMPL_IF --></li>
			<!-- /TMPL_LOOP -->

		</ul>
	</div>	
	
     <!-- /If flagged --><!-- /TMPL_IF -->

   <TMPL_IF NAME="lostitems">
   <div id="lostitems" class="circlostitems">
      <h4><span class="circ-hlt">Lost Items:</span> 
      <TMPL_IF NAME="numlostitems">
         <TMPL_IF EXPR="numlostitems gt 5">
         <span style="font-size:10pt;font-weight:normal;"><a 
         href="/cgi-bin/koha/members/lost_items.pl?borrowernumber=<TMPL_VAR NAME="borrowernumber">">View all 
         <TMPL_VAR NAME="numlostitems"> lost items</a></span>
         </TMPL_IF>
      </TMPL_IF>
      </h4>
      <table border=0 cellspacing=0 cellpadding=0>
      <tr><th>Title</th>
          <th>Barcode</th>
          <th>Call no</th>
          <th>Date Lost</th>
          <th>Claims<br>Returned</th>
      </tr>
      <TMPL_LOOP NAME="lostitems">
      <tr><td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="title"></a></td>
          <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcode"></a></td>
          <td nowrap><TMPL_VAR NAME="itemcallnumber"></td>
          <td nowrap><TMPL_VAR NAME="date_lost"></td>
          <td><TMPL_IF EXPR="claims_returned == 1"><span style="font-size:8pt;">Claims Returned</span>
              <TMPL_ELSE>&nbsp;
              </TMPL_IF></td>
      </tr>
      </TMPL_LOOP>
      </table>
   </div>
   </TMPL_IF>

</div>
</div>

<TMPL_IF NAME="last_issue">
  <TMPL_LOOP NAME="last_issue">
    <div id="last_issue">
      <dl>
        <dt>Just checked out:</dt>
        <dd>
          <span class="booktitle"><TMPL_VAR NAME="title"/></span>
          <span class="itembarcode">(<TMPL_VAR NAME="barcode"/>)</span>,
          Due: <span class="duedate"><TMPL_VAR NAME="duedate"/></span>
        </dd>
    </div>
  </TMPL_LOOP>
</TMPL_IF>

</div>
</div>
<!-- eof cardnumber --></TMPL_UNLESS>
<!-- eof borrowernumber --></TMPL_IF>
<!-- TMPL_IF NAME="cardnumber" --><div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div><!-- /TMPL_IF -->
</div>
<!-- TMPL_IF NAME="show_override" -->
<div id="login-overlay">
<div id="login-area">

<div id="login_error">Please log in as a user that has the necessary rights.</div>
<!-- login prompt time-->
<form action="" method="post" name="loginform" id="loginform" autocomplete="off">
    <input type="hidden" name="koha_login_context" value="intranet" />
<p><label for="userid">Username:</label>
<input type="text" name="userid" id="userid" class="input focus" value="<!-- TMPL_VAR NAME="userid" -->" size="20" tabindex="1" />
</p>
<p><label for="password">Password:</label>
<input type="password" name="password" id="password" class="input" value="" size="20" tabindex="2" />
</p>

<p class="submit"><input type="button" name="cancel-override" id="cancel-override" class="submit" value="Cancel" /><input class="submit" id="login-submit" type="submit" value="Login &raquo;" tabindex="4" /></p>
</form>

</div>
</div>
<TMPL_IF NAME="opentab_holds">
<script>
$(document).ready(function(){
   $('#onholdlink').click();
});
</script>
</TMPL_IF>
<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
