<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Circulation &rsaquo; Courses</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->

<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script language="JavaScript">
function disableEnterKey(e)
{
     var key;
     if(window.event)
          key = window.event.keyCode; //IE
     else
          key = e.which; //firefox

     return (key != 13);
}

$(document).ready(function()
    {
        $("#reservest:has(tbody tr)").tablesorter({sortList: [[0,0]]});
    }
);

$(document).ready(function()
    {
        $("#coursest:has(tbody tr)").tablesorter({sortList: [[2,0],[3,0]]});
    }
);
</script>

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_UNLESS NAME="create_update_form" -->
    <!-- TMPL_INCLUDE NAME="courses-search.inc" -->
<!-- /TMPL_UNLESS -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a>  &rsaquo; <!-- TMPL_IF NAME="create_update_form" --><a href="/cgi-bin/koha/circ/courses.pl">Courses</a> &rsaquo; <!-- TMPL_IF NAME="update" -->Edit Course<!-- TMPL_ELSE -->Add Course<!-- /TMPL_IF --><!-- TMPL_ELSE -->Courses<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">

   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">

<!-- TMPL_IF NAME="ErrorCourseReservesExist" -->

<div class="dialog message">Unable to delete course, please first remove all items on reserve for that course</div>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="ErrorItemCheckedOut" -->
<div class="dialog message">Unable to take item off reserve becuse the item is checked out, please check in the item</div>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="ErrorItemLost" -->
<div class="dialog message">Unable to take item off reserve becuse the item is lost, please resolve the lost status</div>
<!-- /TMPL_IF -->

<!-- TMPL_UNLESS NAME="create_update_form" -->
<div id="toolbar">
    <script type="text/javascript">
    //<![CDATA[
    // prepare DOM for YUI Toolbar
     $(document).ready(function() {
        yuiToolbar();
     });
    // YUI Toolbar Functions
    function yuiToolbar() {
        <!-- TMPL_IF NAME="view_course_reserves" -->
        new YAHOO.widget.Button("courseslist");
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="CAN_user_circulate_manage_courses" -->
        new YAHOO.widget.Button("newcourse");
        <!-- /TMPL_IF -->
<!-- TMPL_IF NAME="view_course_reserves" -->
        <!-- TMPL_IF NAME="CAN_user_circulate_manage_courses" -->
        new YAHOO.widget.Button("editcourse");
        <!-- /TMPL_IF -->
        new YAHOO.widget.Button("newcoursereserve");
<!-- /TMPL_IF -->
    }
    //]]>
    </script>
    <ul class="toolbar">
    <!-- TMPL_IF NAME="view_course_reserves" -->
    <li><a id="courseslist" href="/cgi-bin/koha/circ/courses.pl">Courses List</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_circulate_manage_courses" -->
    <li><a id="newcourse" href="/cgi-bin/koha/circ/courses.pl?op=create">New Course</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="view_course_reserves" -->
    <!-- TMPL_IF NAME="CAN_user_circulate_manage_courses" -->
    <li><a id="editcourse" href="/cgi-bin/koha/circ/courses.pl?op=update&amp;course_id=<!-- TMPL_VAR NAME=course_id -->">Edit Course</a></li>
    <!-- /TMPL_IF -->
    <li><a id="newcoursereserve" href="/cgi-bin/koha/circ/courses.pl?op=create_course_reserve&amp;course_id=<!-- TMPL_VAR NAME=course_id -->">Put Items On Reserve</a></li>
    <!-- /TMPL_IF -->
</ul></div>
<!-- /TMPL_UNLESS -->
<!-- TMPL_IF NAME="create_update_form" -->
<script type="text/javascript">
//<![CDATA[
YAHOO.util.Event.onContentReady("auto_search", function() {
    new function() {
        // Define a custom formatter function
        this.fnCustomFormatter = function(oResultItem, sQuery) {
            var name        = oResultItem[0];
            var cardnumber  = oResultItem[1];
            var address     = oResultItem[2];
            var city        = oResultItem[3];
            var zip         = oResultItem[4];
            var borrowernumber = oResultItem[5];
            var aMarkup = [
                "<div class=\"sample-result\">",
                name,
                " (",
                cardnumber,
                ")<small> -- ",
                address,
                ", ",
                city,
                "<\/small>",
                "<\/div>"];
            return (aMarkup.join(""));
        };

        // Instantiate one XHR DataSource and define schema as an array:
        //     ["Record Delimiter",
        //     "Field Delimiter"]
        this.oACDS = new YAHOO.widget.DS_XHR("/cgi-bin/koha/circ/ysearch.pl", ["\n", "\t"]);
        this.oACDS.responseType = YAHOO.widget.DS_XHR.TYPE_FLAT;
        this.oACDS.maxCacheEntries = 60;
        this.oACDS.queryMatchSubset = true;
        this.oACDS.forceSelection = true;

        // Instantiate first AutoComplete
        var myInput = document.getElementById('instructor_borrowernumber');
        var myContainer = document.getElementById('yborrowercontainer');
        this.oAutoComp = new YAHOO.widget.AutoComplete(myInput,myContainer,this.oACDS);
        var myHiddenField = YAHOO.util.Dom.get("myHidden");
        var myHandler = function(sType, aArgs) {
            var myAC = aArgs[0];
            var elLI = aArgs[1];
            var oData = aArgs[2];
            myHiddenField.value = oData[5]; //borrowernumber;
        };
        this.oAutoComp.formatResult = this.fnCustomFormatter;
        this.oAutoComp.itemSelectEvent.subscribe(myHandler);
}
});
//]]>
</script>
<div id="auto_search">
    <form name="create_update_form" method="post" action="/cgi-bin/koha/circ/courses.pl" >
        <input type="hidden" name="op" value="<!-- TMPL_VAR NAME="op" -->" />
        <input type="hidden" name="course_id" value="<!-- TMPL_VAR NAME="course_id" -->" />
<fieldset class="rows">
            <legend>Add a Course</legend>
           <ol> <li>
            <label for="department">Department</label>
            <select id="department" name="department">
                <!-- TMPL_LOOP name="DEPARTMENTS" -->
                    <!-- TMPL_IF name="selected" --><option value="<!-- TMPL_VAR name="authorised_value" -->" selected="selected"><!-- TMPL_VAR name="lib" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR name="authorised_value" -->"><!-- TMPL_VAR name="lib" --></option><!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </select>
            </li>
            <li>
                <label for="course_number">Course Number</label>
                <input id="course_number" size="30" type="text" name="course_number" value="<!-- TMPL_VAR NAME="course_number" -->" />
            </li>
            <li>
                <label for="section">Section</label>
                <input id="section" size="30" type="text" name="section" value="<!-- TMPL_VAR NAME="section" -->" />
            </li>
            <li>
                <label for="course_name">Course Name</label>
                <input id="course_name" size="30" type="text" name="course_name" value="<!-- TMPL_VAR NAME="course_name" -->" />
            </li>
            <li>
            <label for="term">Term</label>
            <select id="term" name="term">
                <!-- TMPL_LOOP name="TERMS" -->
                    <!-- TMPL_IF name="selected" --><option value="<!-- TMPL_VAR name="authorised_value" -->" selected="selected"><!-- TMPL_VAR name="lib" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR name="authorised_value" -->"><!-- TMPL_VAR name="lib" --></option><!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </select>
            </li>
            <!-- TMPL_IF NAME="update" -->
            <!-- TMPL_IF NAME="instructors" -->
            <li>
            <label>Instructors</label>
            <!-- TMPL_LOOP NAME="instructors" -->
            <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" -->
            (<a href="/cgi-bin/koha/circ/courses.pl?op=remove_instructor&amp;course_id=<!-- TMPL_VAR NAME=course_id -->&amp;instructor_borrowernumber=<!-- TMPL_VAR NAME=borrowernumber -->">Remove</a>)&nbsp;&nbsp;
            <!-- /TMPL_LOOP -->
            </li>
            <!-- /TMPL_IF -->
            <li>
            <input type="hidden" name="instructor_borrowernumber" id="myHidden"/>
            <label for="instructor_borrowernumber_holder">Add an instructor</label><br/>
            <div class="autocomplete">
            <div id="borrowerautocomplete" class="autocomplete">
            <input autocomplete="off" id="instructor_borrowernumber" name="instructor_borrowernumber_holder" size="40" class="focus" type="text" />
            <div id="yborrowercontainer"></div>
            </div>
            </div>
            <br/><br/><br/>
            <input name="link_instructor" class="button" type="submit" value="Add Instructor" />
            </li>
            <!-- TMPL_ELSE -->
            <li><label>Instructors</label>
            <p>Click submit to add this course, then you can add one or more instructors</p>
            </li>
            <!-- /TMPL_IF -->

            <li><label for="new">Staff Note</label>
                <textarea name="staff_note" id="staff_note"  cols="75" rows="10"><!-- TMPL_VAR NAME="staff_note" --></textarea></li>
            <li><label for="new">Public Note</label>
                <textarea name="public_note" id="public_note"  cols="75" rows="10"><!-- TMPL_VAR NAME="public_note" --></textarea></li>
            <li>
                <label for="students_count">Students Count</label>
                <input id="students_count" size="30" type="text" name="students_count" value="<!-- TMPL_VAR NAME="students_count" -->" />
            </li>
            <li>
            <label for="course_status">Course Status</label>
            <select id="course_status" name="course_status">
                <!-- TMPL_IF NAME="disabled" -->
                <option value="enabled">Enabled</option>
                <option value="disabled" selected="selected" >Disabled</option>
                <!-- TMPL_ELSE -->
                <option value="enabled" selected="selected">Enabled</option>
                <option value="disabled" >Disabled</option>
                <!-- /TMPL_IF -->
            </select>
            </li>

            </ol>
            </fieldset>
            <fieldset class="action"><input name="submit" class="button" type="submit" value="Submit" /> <a class="cancel" href="/cgi-bin/koha/circ/courses.pl">Cancel</a></fieldset>
        </form>
</div>
<!-- TMPL_ELSE -->
<!-- TMPL_IF NAME="create_course_reserve" -->
<div id="create_course_reserve">
    <form name="create_course_reserve" method="post" action="/cgi-bin/koha/circ/courses.pl" >
        <input type="hidden" name="op" value="<!-- TMPL_VAR NAME="op" -->" />
        <input type="hidden" name="course_id" value="<!-- TMPL_VAR NAME="course_id" -->" />
<fieldset class="rows">
            <legend>Add a Course Reserve</legend>
           <ol> 
            <li>
                <label for="barcodes">Item Barcodes</label>
                <textarea name="barcodes" id="barcodes"><!-- TMPL_VAR NAME="barcodes" --></textarea>
            </li>

            <li>
            <label for="itemtype">Item Type</label>
            <select id="itemtype" name="itemtype">
                <option value="NOCHANGE" selected="selected" >LEAVE UNCHANGED</option>
                <!-- TMPL_LOOP name="ITEMTYPES" -->
                    <option value="<!-- TMPL_VAR name="code" -->"><!-- TMPL_VAR name="description" --></option>
                <!-- /TMPL_LOOP -->
            </select>
            </li>
            <li>
            <label for="ccode">Collection Code</label>
            <select id="ccode" name="ccode">
                <option value="NOCHANGE" selected="selected" >LEAVE UNCHANGED</option>
                <!-- TMPL_LOOP name="CCODES" -->
                    <option value="<!-- TMPL_VAR name="authorised_value" -->"><!-- TMPL_VAR name="lib" --></option>
                <!-- /TMPL_LOOP -->
            </select>
            </li>
            <li>
            <label for="location">Shelving Location</label>
            <select id="location" name="location">
                <option value="NOCHANGE" selected="selected" >LEAVE UNCHANGED</option>
                <!-- TMPL_LOOP name="LOCATIONS" -->
                <option value="<!-- TMPL_VAR name="authorised_value" -->"><!-- TMPL_VAR name="lib" --></option>
                <!-- /TMPL_LOOP -->
            </select>
            </li>
            <li>
            <label for="branchcode">Library</label>
            <select id="branchcode" name="branchcode">
                <option value="NOCHANGE" selected="selected" >LEAVE UNCHANGED</option>
                <!-- TMPL_LOOP name="BRANCHES" -->
                <option value="<!-- TMPL_VAR name="value" -->"><!-- TMPL_VAR name="branchname" --></option>
                <!-- /TMPL_LOOP -->
            </select>
            </li>
            <li><label for="new">Staff Note</label>
                <textarea name="staff_note" id="staff_note"  cols="75" rows="10"></textarea></li>
            <li><label for="new">Public Note</label>
                <textarea name="public_note" id="public_note"  cols="75" rows="10"></textarea></li>

        </ol>
            </fieldset>
            <fieldset class="action"><input name="submit" class="button" type="submit" value="Submit" /> <a class="cancel" href="/cgi-bin/koha/circ/courses.pl">Cancel</a></fieldset>
        </form>
</div>
<!-- TMPL_ELSE -->
<!-- TMPL_IF NAME="view_course_reserves" -->
<div id="course">
    <dl>
        <dt>Course Name</dt><dd><!-- TMPL_VAR NAME="course_name" --></dd>
        <dt>Term</dt><dd><!-- TMPL_VAR NAME="term" --></dd>
        <dt>Department</dt><dd><!-- TMPL_VAR NAME="department" --></dd>
        <dt>Course Number</dt><dd><!-- TMPL_VAR NAME="course_number" --></dd>
        <dt>Section</dt><dd><!-- TMPL_VAR NAME="section" --></dd>
        <dt>Instructors</dt><dd><!-- TMPL_LOOP NAME="instructors" --><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" -->; <!-- /TMPL_LOOP -->.</dd>
        <dt>Staff Note</dt><dd><!-- TMPL_VAR NAME="staff_note" --></dd>
        <dt>Public Note</dt><dd><!-- TMPL_VAR NAME="public_note" --></dd>
        <dt>Students Count</dt><dd><!-- TMPL_VAR NAME="students_count" --></dd>
        <dt>Course Status</dt><dd><!-- TMPL_VAR NAME="course_status" --></dd>

    </dl>
</div>
<div id="course_reserves">
<table id="reservest">
    <thead><tr>
        <th>Title</th>
        <th>Call Number</th>
        <th>Item Type</th>
        <th>Collection Code</th>
        <th>Shelving Location</th>
        <th>Library</th>
        <th>Staff Note</th>
        <th>Public Note</th>
        <th></th>
    </tr></thead>
    <tbody>
        <!-- TMPL_LOOP NAME="COURSE_RESERVES" -->
        <tr>
        <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME=biblionumber -->"><!-- TMPL_VAR NAME="title" --></a></td>
        <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
        <td><!-- TMPL_VAR NAME="itemtype" --></td>
        <td><!-- TMPL_VAR NAME="ccode" --></td>
        <td><!-- TMPL_VAR NAME="location" --></td>
        <td><!-- TMPL_VAR NAME="branchname" --></td>
        <td><!-- TMPL_VAR NAME="staff_note" --></td>
        <td><!-- TMPL_VAR NAME="public_note" --></td>
        <td>
        <!-- TMPL_IF NAME="CAN_user_circulate_remove_coursereserves" -->
        <a href="/cgi-bin/koha/circ/courses.pl?op=delete_course_reserve&amp;course_reserve_id=<!-- TMPL_VAR NAME=course_reserve_id -->&amp;course_id=<!-- TMPL_VAR NAME=course_id -->">Remove</a> <!-- TMPL_IF NAME="on_reserve_for_others" -->(On reserve for <!-- TMPL_VAR NAME="on_reserve_for_others" --> other course(s))<!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
        </td>
        </tr>
        <!-- /TMPL_LOOP -->
    </tbody>
</table>
</div>
<!-- TMPL_ELSE -->

<div id="courses">
        <!--TMPL_IF NAME="COURSES" -->
	<h3>Courses</h3>
    <p class="tip">Click on the course name to view items on reserve.</p>
    <p class="tip">You can create new Departments, Terms, Collection Codes and Shelving Locations from the <a href="/cgi-bin/koha/admin/authorised_values.pl">Authorized Values</a> administration area.</p>
    <table id="coursest">
    <thead><tr>
        <th>Course Name</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Section</th>
        <th>Term</th>
        <th>Instructors</th>
        <th>Staff Note</th>
        <th>Public Note</th>
        <th>Students Count</th>
        <th>Course Status</th>
        <th></th>
    </tr>
	</thead>
    <tbody>
            <!-- TMPL_LOOP NAME="COURSES" -->
				<tr>
                <td><a href="/cgi-bin/koha/circ/courses.pl?op=view_course_reserves&amp;course_id=<!-- TMPL_VAR NAME=course_id -->"><!-- TMPL_VAR NAME="course_name" --></a></td>
                <td><!-- TMPL_VAR NAME="department_name" --></td>
                <td><!-- TMPL_VAR NAME="course_number" --></td>
                <td><!-- TMPL_VAR NAME="section" --></td>
                <td><!-- TMPL_VAR NAME="term_name" --></td>
                <td>
                <!-- TMPL_LOOP NAME="instructors" -->
                <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --><br/>
                <!-- /TMPL_LOOP -->
                </td>
                <td><!-- TMPL_VAR NAME="staff_note" --></td>
                <td><!-- TMPL_VAR NAME="public_note" --></td>
                <td><!-- TMPL_VAR NAME="students_count" --></td>
                <td><!-- TMPL_VAR NAME="course_status" --></td>
                <td>
        <!-- TMPL_IF NAME="CAN_user_circulate_manage_courses" -->
        <a href="/cgi-bin/koha/circ/courses.pl?op=update&amp;course_id=<!-- TMPL_VAR NAME=course_id -->">Edit</a>&nbsp;
        <a href="/cgi-bin/koha/circ/courses.pl?op=delete&amp;course_id=<!-- TMPL_VAR NAME=course_id -->">Delete</a>&nbsp;
        <!-- /TMPL_IF -->
                </td>
                </tr>
            <!-- /TMPL_LOOP -->
	</tbody>
	</table>
        <!-- TMPL_ELSE -->
    <h3>No courses found</h3>
        <!-- /TMPL_IF --> <!-- /courses -->
</div>
<!-- /TMPL_IF --> <!-- /view_course_reserves -->
<!-- /TMPL_IF --> <!-- /create_course_reserve -->
<!-- /TMPL_IF --> <!-- /create_update_form -->
	</div>
	</div>
<!-- TMPL_UNLESS NAME="create_update_form" -->
    <div class="yui-b noprint">
        <!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
    </div>
<!-- /TMPL_UNLESS -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
