<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; FastAdd Item</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
function FieldCheck() {
    var alertString = '';
    <!-- TMPL_IF NAME="title_reqd" -->
        alertString += isFilled('title');
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="author_reqd" -->
        alertString += isFilled('author');
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="note_reqd" -->
        alertString += isFilled('note');
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="isbn_reqd" -->
        alertString += isFilled('isbn');
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="pubplace_reqd" -->
        alertString += isFilled('pubplace');
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="pubcode_reqd" -->
        alertString += isFilled('pubcode');
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="pubyear_reqd" -->
        alertString += isFilled('pubyear');
    <!-- /TMPL_IF -->
    if (alertString != '') {
        alert(alertString);
        return false;
    }
    else {
        return true;
    }
}

function isFilled(field) {
    var textstr;
    var appStr = '';

    textstr = eval(field).value;
    textstr = textstr.replace(/^\s+|\s+$/g,'');
    if (textstr == null || textstr == '') {
        appStr = 'The ' + field + ' field is mandatory.  Please fill out.\n';
        document.getElementById(field).setAttribute('style','background-color:#FFFF99');
    }
    else {
        document.getElementById(field).setAttribute('style','background-color:transparent;');
    }
    return appStr;
}
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<div id="doc3" class="yui-t2">

    <div id="bd">
        <div id="yui-main">
            <div class="yui-b"><div class="yui-g">

<TMPL_IF NAME="errNoFA">
<div class="alert"><span class=problem>Warning:</span> No &quot;FA&quot; framework found for fast add.  
Using default framework.<br>
After adding this item, add the &quot;FA&quot; framework and change this bibliographic record's
framework accordingly.
</div>
</TMPL_IF>
<h2>Add Brief Record For Barcode <!-- TMPL_VAR NAME="barcode" --></h2>

<form method="post" action="/cgi-bin/koha/circ/fastcat.pl" onsubmit="return FieldCheck()" name="FAform">

    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->"/>
    <!-- TMPL_IF NAME="duedatespec" -->
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->"/>
    <input type="hidden" name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->" />
    <!-- /TMPL_IF -->
    <input type="hidden" name="havedata" value="true"/>
    <table border="0">
        <tr valign="top">
            <td align="right">Title:</td>
            <td align="left">
                <input type="text" name="title" id="title" size="60" maxlength="256" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Author:</td>
            <td align="left">
                <input type="text" name="author" id="author" size="60" maxlength="256" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Notes:</td>
            <td align="left">
                <input type="text" name="note" id="note" size="60" maxlength="256" />
            </td>
        </tr>
<!-- Item Type ISBN Publisher(publishercode) Place Date (publicationyear) -->
        <tr valign="top">
            <td align="right">ISBN:</td>
            <td align="left">
                <input type="text" name="isbn" id="isbn" size="20" maxlength="256" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Place:</td>
            <td align="left">
                <input type="text" name="place" id="pubplace" size="60" maxlength="256" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Publisher:</td>
            <td align="left">
                <input type="text" name="publishercode" id="pubcode" size="60" maxlength="256" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Date:</td>
            <td align="left">
                <input type="text" name="publicationyear" id="pubyear" size="4" maxlength="256" />
            </td>
        </tr>
        <tr>
            <td span="2">Item Details</td>
        </tr>
        <tr valign="top">
            <td align="right">Barcode:</td>
            <td align="left">
                <input type="text" name="barcode" size="20" maxlength="20" value="<!-- TMPL_VAR NAME="barcode" -->" readonly=1 />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Collection Code:</td>
            <td align="left">
                <select name="ccode">
                <!-- TMPL_LOOP NAME="ccodesloop" -->
                    <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
</option>
                <!-- /TMPL_LOOP -->
                </select>
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Home Location:</td>
            <td align="left">
                <select name="homebranch">
                <!-- TMPL_LOOP NAME="branchloop" -->
                    <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
</option>
                <!-- /TMPL_LOOP -->
                </select>
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Holding Location:</td>
            <td align="left">
                <select name="holdingbranch">
                <!-- TMPL_LOOP NAME="branchloop" -->
                    <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
</option>
                <!-- /TMPL_LOOP -->
                </select>
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Shelving Location:</td>
            <td align="left">
                <select name="location">
                <!-- TMPL_LOOP NAME="locationsloop" -->
                    <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
</option>
                <!-- /TMPL_LOOP -->
                </select>
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Call Number:</td>
            <td align="left">
                <input type="text" name="itemcallnumber" size="30" maxlength="255" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Item Type:</td>
            <td align="left">
                <select name="itemtype">
                <!-- TMPL_LOOP NAME="itemtypesloop" -->
                    <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
</option>
                <!-- /TMPL_LOOP -->
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" class="approve" value="Confirm Add"> 
    <!-- TMPL_IF NAME="duedatespec" -->
    <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;duedatespec=<!-- TMPL_VAR NAME="duedatespec" -->&amp;stickyduedate=<!-- TMPL_VAR NAME="stickyduedate" -->">Cancel</a>
    <!-- TMPL_ELSE -->
    <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Cancel</a>
    <!-- /TMPL_IF -->
</form>
</div>
</div>
</div>

<!-- TMPL_INCLUDE NAME="mainmenu.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
