<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->

<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">
    background-color: red;
</style>
<script type="text/javascript">
//<![CDATA[

var closeGB = '<!-- TMPL_VAR NAME="closeGB" -->';
if (closeGB=='1') { // confirmed filled from Holds Queue
   parent.parent.document.location.href = '/cgi-bin/koha/circ/view_holdsqueue.pl'
   + '?branchlimit=<!-- TMPL_VAR NAME="queue_branchlimit" -->'
   + '&run_report=1&filled=1'
   + '&currPage=<TMPL_VAR NAME="queue_currPage">'
   + '&limit=<TMPL_VAR NAME="queue_limit">'
   + '&orderby=<TMPL_VAR NAME="queue_orderby">';
   parent.parent.GB_hide();
}
function Dopop(link) {
    var newin=window.open(link,'popup','width=600,height=400,resizable=1,toolbar=0,scrollbars=1,top');
}
	 $(document).ready(function() {
	 	$("#exemptcheck").change(function(){
			if(this.checked == true) {
				$("#barcode").addClass("alert");
				$("#exemptfines").show();
			} else {
				$("#barcode").removeClass("alert");
				$("#exemptfines").hide();
			}
			$("#barcode").focus();
		});
	 	$("#dropboxcheck").change(function(){
			if (this.checked == true) {
				$("#barcode").addClass("alert");
				$("#dropboxmode").show();
			} else {
				$("#barcode").removeClass("alert");
				$("#dropboxmode").hide();
			}
			$("#barcode").focus();
		});
		<!-- TMPL_IF NAME="overduecharges" -->$("#barcode").focus(function(){
			if(($("#exemptcheck").attr("checked") == true)||($("#dropboxcheck").attr("checked") == true)){
				$("#barcode").addClass("alert");
			} else {
				$("#barcode").removeClass("alert");
			}
		});
		$("#barcode").blur(function(){
			$("#barcode").removeClass("alert");
		});<!-- /TMPL_IF -->
	 });
//]]>
</script>

<script type="text/javascript">
function HaltReturns() {
	$('#barcode').attr("disabled", true);
	$('#barcode_submit').attr("disabled", true);
}

function ContinueReturns() {
	$('#barcode').attr("disabled", false);
	$('#barcode_submit').attr("disabled", false);

	$('#continue_button').hide();

	$('#barcode').focus();
}
</script>

<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="checkin-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a> &rsaquo; Check In</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">

<div class="yui-g">
<!-- error messages go before any form -->
<!-- TMPL_IF NAME="errmsgloop" -->
    <div class="dialog message">
        <!-- TMPL_LOOP NAME="errmsgloop" -->
                    <!-- TMPL_IF Name="badbarcode" -->
                        <p class="problem">No Item with barcode: <!-- TMPL_VAR Name="msg" -->
					<!-- TMPL_IF NAME="UseReceiptTemplates_NotFound" -->
				                <input type="submit" value="Print Receipt" class="print" onclick="Dopop('/cgi-bin/koha/tools/receipt_generation.pl?action=not_found&amp;barcode=<!-- TMPL_VAR Name="msg" -->');" />
					<!-- /TMPL_IF -->
			</p>
                    <!-- /TMPL_IF -->
                    <!-- TMPL_IF Name="ispermanent" -->
                        <p class="problem">Please return to  <!-- TMPL_VAR Name="msg" --></p>
                    <!-- /TMPL_IF -->
                    <!-- TMPL_IF Name="notissued" -->
                        <p class="problem">Not checked out.</p>
                    <!-- /TMPL_IF -->
                    <!-- TMPL_IF NAME="waslost" -->
			<script type="text/javascript">$(document).ready(function() {HaltReturns();});</script>
                        <p class="problem"><font style="color:red"><h3>Item was lost, now found.</h3></font></p>
                        <TMPL_IF NAME="lostborrowernumber">
                           Remove from <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<TMPL_VAR NAME="lostborrowernumber">"><TMPL_VAR NAME="lostbor_firstname"> 
                              <TMPL_VAR NAME="lostbor_surname"></a>'s 
                             (<TMPL_VAR NAME="lostbor_cardnumber">) lost items?
                           <form action="returns.pl" method="post" name="lostf">
                              <TMPL_LOOP NAME="inputloop">
                              <input type="hidden" name="ri-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="barcode" -->" />
                              <input type="hidden" name="dd-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="duedate" -->" />
                              <input type="hidden" name="bn-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
                              </TMPL_LOOP>
                              <input type=hidden name="unlinkFromAccount" value="1">
                              <input type=hidden name="lostbarcode" value="<!-- TMPL_VAR Name="itembarcode" -->" />
                              <input type=hidden name="lost_item_id"   value="<TMPL_VAR NAME="lost_item_id">">
                              <input type=hidden name="itemnumber"     value="<TMPL_VAR NAME="itemnumber">">
                              <input type=hidden name="borrowernumber" value="<TMPL_VAR NAME="borrowernumber">">
                              <input type="submit" value="Yes" />
                              <input type=button value="No" onclick="document.lostf.unlinkFromAccount.value=0;document.lostf.submit();" />
					               <TMPL_IF NAME="UseReceiptTemplates_ClaimsReturnedFound">
				                  <input type="submit" value="Print Receipt" class="print" onclick="Dopop('/cgi-bin/koha/tools/receipt_generation.pl?action=claims_returned_found&amp;barcode=<!-- TMPL_VAR Name="itembarcode" -->');" />
					               </TMPL_IF>
                           </form>
                        <TMPL_ELSE>
			               <p><button id="continue_button" onclick="ContinueReturns();">Continue</button></p>
                        </TMPL_IF><!-- lostborrowernumber -->
                     </TMPL_IF><!-- waslost -->
                    <!-- TMPL_IF Name="withdrawn" -->
                        <p class="problem">Item is withdrawn.</p>
                    <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            <!-- TMPL_IF NAME="soundon" -->
                <audio src="/intranet-tmpl/prog/sound/critical.ogg" autoplay="autoplay" autobuffer="autobuffer"></audio>
            <!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->
            <!-- TMPL_IF NAME="soundon" -->
                <audio src="/intranet-tmpl/prog/sound/beep.ogg" autoplay="autoplay" autobuffer="autobuffer"></audio>
            <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
    </div>
<!-- /TMPL_IF -->




<!-- TMPL_IF NAME="wrongbranch" -->
<div class="dialog alert"><h3>Cannot Check In</h3><p>This item must be checked in at its home library (<!-- TMPL_VAR NAME="rightbranch" -->). <strong>NOT CHECKED IN</strong></p>
</div>
<!-- /TMPL_IF -->
<!-- case of a mistake in transfer loop -->
<!-- TMPL_IF Name="WrongTransfer" --><div class="dialog message"><!-- WrongTransfer --><h3>Please return <a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR Name="title" escape="html" --></a> to <!-- TMPL_VAR Name="TransferWaitingAt" --></h3>
<!-- TMPL_IF Name="wborcnum"--><h5>Hold for:</h5> 
        <ul><li><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">
            <!-- TMPL_VAR Name="borsurname" -->, <!-- TMPL_VAR Name="borfirstname" --></a> (<!-- TMPL_VAR Name="borcnum" -->)</li>
        <li><!-- TMPL_VAR Name="wboraddress" --><!-- TMPL_IF NAME="wboraddress2" --><br />
		<!-- TMPL_VAR NAME="wboraddress2" --><br /><!-- /TMPL_IF -->
        <!-- TMPL_VAR Name="wborcity" -->  <!-- TMPL_VAR NAME="wborzip" --></li>
        <!-- TMPL_IF NAME="wborphone" --><li><!-- TMPL_VAR Name="wborphone" --></li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="wboremail" --><li><a id="boremail" href="mailto:<!-- TMPL_VAR NAME="wboremail" -->"><!-- TMPL_VAR NAME="wboremail" --></a></li><!-- /TMPL_IF -->
        </ul>
  
    <form method="post" action="returns.pl" class="confirm">
            <input type="hidden" name="WT-itemNumber" value="<!-- TMPL_VAR Name="WrongTransferItem" -->" />
            <input type="hidden" name="WT-waitingAt" value="<!-- TMPL_VAR Name="TransferWaitingAt" -->" />
            <input type="hidden" name="WT-From" value="<!-- TMPL_VAR Name="wtransfertFrom" -->" />
            <input type="hidden" name="fromqueue" value="<!-- TMPL_VAR NAME="fromqueue" -->">
            <input type=hidden name="queue_branchlimit" value="<!-- TMPL_VAR NAME="queue_branchlimit" -->">
            <input type=hidden name="queue_currPage" value="<TMPL_VAR NAME="queue_currPage">">
            <input type=hidden name="queue_limit"    value="<TMPL_VAR NAME="queue_limit">">
            <input type=hidden name="queue_orderby"  value="<TMPL_VAR NAME="queue_orderby">">
		<!-- TMPL_IF name="HoldButtonConfirm" -->
        <input type="submit" class="approve" value="Confirm" />
        	<!-- /TMPL_IF -->
		<!-- TMPL_IF name="HoldButtonPrintConfirm" -->
			<!-- TMPL_IF NAME="UseReceiptTemplates" -->
				<!-- TMPL_IF NAME="UseReceiptTemplates_HoldFound" -->
			                <input type="submit" value="Print Slip and Confirm" class="print" onclick="Dopop('/cgi-bin/koha/tools/receipt_generation.pl?action=hold_found&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->'); this.form.submit();" />
				<!-- /TMPL_IF -->
			<!-- TMPL_ELSE -->
				<input type="submit" value="Print Slip and Confirm" class="print" onclick="Dopop('hold-transfer-slip.pl?transfer=1&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->&amp;op=slip'); this.form.submit();" />
			<!-- /TMPL_IF -->
        	<!-- /TMPL_IF -->
    </form>
    <!-- /TMPL_IF --></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF Name="found" -->
<!-- found -->
<!-- case of a reservation found, and display info -->
    <!-- TMPL_IF Name="waiting" -->
	<!-- waiting -->

<!-- TMPL_IF NAME="soundon" -->
<audio src="/intranet-tmpl/prog/sound/ending.ogg" autoplay="autoplay" autobuffer="autobuffer"></audio>
<!-- /TMPL_IF -->      

<div class="dialog message">
        <h3>Hold Found (item is already waiting):  <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR Name="title" escape="html" --></a></h3>
        <!-- TMPL_IF NAME="reservenotes" --><h4>Notes: <!-- TMPL_VAR Name="reservenotes" --></h4><!-- /TMPL_IF -->
        <h4>Hold for:</h4>
			<ul>
            <li><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR Name="borsurname" -->, <!-- TMPL_VAR Name="borfirstname" --></a> (<!-- TMPL_VAR Name="borcnum" -->)</li>
            <li><!-- TMPL_VAR Name="boraddress" --><br />
			<!-- TMPL_IF NAME="boraddress2" --><!-- TMPL_VAR NAME="boraddress2" --><br /><!-- /TMPL_IF -->
            <!-- TMPL_VAR Name="borcity" --> <!-- TMPL_VAR NAME="borzip" --></li>
           <!-- TMPL_IF NAME="borphone" --><li> <!-- TMPL_VAR Name="borphone" --></li><!-- /TMPL_IF -->
		   <!-- TMPL_IF NAME="boremail" --><li><a id="boremail" href="mailto:<!-- TMPL_VAR NAME="boremail" -->"><!-- TMPL_VAR NAME="boremail" --></a></li><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="debarred" --><li class="error">Patron is RESTRICTED</li><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="gonenoaddress" --><li class="error">Patron's address is in doubt</li><!-- /TMPL_IF --></ul>
		<!-- TMPL_IF name="transfertodo" -->
            <h4><strong>Transfer to:</strong> <!-- TMPL_VAR Name="destbranchname" --></h4>
		<!-- TMPL_ELSE -->
		<h4><strong>Hold at</strong> <!-- TMPL_VAR Name="destbranchname" --></h4>
        <!-- /TMPL_IF -->
        <form method="post" action="returns.pl" class="confirm">
		<!-- TMPL_IF name="HoldButtonConfirm" -->
            <input type="submit" class="approve" value="Confirm" />
        	<!-- /TMPL_IF -->
		<!-- TMPL_IF name="HoldButtonPrintConfirm" -->
			<!-- TMPL_IF NAME="UseReceiptTemplates" -->
				<!-- TMPL_IF NAME="UseReceiptTemplates_HoldFound" -->
			                <input type="submit" value="Print Slip and Confirm" class="print" onclick="Dopop('/cgi-bin/koha/tools/receipt_generation.pl?action=hold_found&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->'); this.form.submit();" />
				<!-- /TMPL_IF -->
			<!-- TMPL_ELSE -->
				<input type="submit" value="Print and Confirm" class="print" onclick="Dopop('hold-transfer-slip.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->&amp;op=slip'); this.form.submit();" />
			<!-- /TMPL_IF -->

            <!-- TMPL_LOOP Name="inputloop" -->
                <input type="hidden" name="ri-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="barcode" -->" />
                <input type="hidden" name="dd-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="duedate" -->" />
                <input type="hidden" name="bn-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
            <!-- /TMPL_LOOP -->
                <input type="hidden" name="reservenumber" value="<!-- TMPL_VAR Name="reservenumber" -->" />
                <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
                <input type="hidden" name="resbarcode" value="<!-- TMPL_VAR Name="barcode" -->" />
                <input type="hidden" name="diffBranch" value="<!-- TMPL_VAR Name="destbranch" -->" />
                <input type="hidden" name="exemptfine" value="<!-- TMPL_VAR Name="exemptfine" -->" />
                <input type="hidden" name="dropboxmode" value="<!-- TMPL_VAR Name="dropboxmode" -->" />
                <input type=hidden name="fromqueue" value="<!-- TMPL_VAR NAME="fromqueue" -->">
                <input type=hidden name="queue_branchlimit" value="<!-- TMPL_VAR NAME="queue_branchlimit" -->">
                <input type=hidden name="queue_currPage" value="<TMPL_VAR NAME="queue_currPage">">
                <input type=hidden name="queue_limit"    value="<TMPL_VAR NAME="queue_limit">">
                <input type=hidden name="queue_orderby"  value="<TMPL_VAR NAME="queue_orderby">">
        	<!-- /TMPL_IF -->
                </form>
	</div>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF Name="diffbranch" -->
		<!-- diffbranch -->
        <div class="dialog message">
		<h3>Hold needing transfer found: <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR Name="title" escape="html" --></a></h3>
                <h4>Hold for: </h4>
                    <ul>
                        <li><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR Name="borsurname" -->, <!-- TMPL_VAR Name="borfirstname" --></a> (<!-- TMPL_VAR Name="borcnum" -->)</li>
                        <li><!-- TMPL_VAR Name="boraddress" --><br />
						<!-- TMPL_IF NAME="boraddress2" --><!-- TMPL_VAR NAME="boraddress2" --><br /><!-- /TMPL_IF -->
						<!-- TMPL_VAR Name="borcity" -->  <!-- TMPL_VAR NAME="borzip" --></li>
                        <!-- TMPL_IF NAME="borphone" --><li><!-- TMPL_VAR Name="borphone" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="boremail" --><li><!-- TMPL_IF name="transfertodo" --><!-- TMPL_VAR NAME="boremail" --><!-- TMPL_ELSE --><a id="boremail" href="mailto:<!-- TMPL_VAR NAME="boremail" -->"><!-- TMPL_VAR NAME="boremail" --></a><!-- /TMPL_IF --></li><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="debarred" --><li class="error">Patron is RESTRICTED</li><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="gonenoaddress" --><li class="error">Patron's address is in doubt</li><!-- /TMPL_IF -->
                    </ul>
		<!-- TMPL_IF name="transfertodo" -->
            <h4><strong>Transfer to:</strong> <!-- TMPL_VAR Name="destbranchname" --></h4>
		<!-- TMPL_ELSE -->
		<h4><strong>Hold at</strong> <!-- TMPL_VAR Name="destbranchname" --></h4>
        <!-- /TMPL_IF -->

        <form method="post" action="returns.pl" class="confirm">
		<!-- TMPL_IF name="HoldButtonConfirm" -->
            <input type="submit" class="approve" value="Confirm" />
        	<!-- /TMPL_IF -->
		<!-- TMPL_IF name="HoldButtonPrintConfirm" -->
			<!-- TMPL_IF NAME="UseReceiptTemplates" -->
				<!-- TMPL_IF NAME="UseReceiptTemplates_HoldFound" -->
			                <input type="submit" value="Print Slip and Confirm" class="print" onclick="Dopop('/cgi-bin/koha/tools/receipt_generation.pl?action=hold_found&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->'); this.form.submit();" />
				<!-- /TMPL_IF -->
			<!-- TMPL_ELSE -->
				<input type="submit" value="Print Slip and Confirm" class="print" onclick="Dopop('hold-transfer-slip.pl?transfer=1&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->&amp;op=slip'); this.form.submit();" />
			<!-- /TMPL_IF -->

            <!-- TMPL_LOOP Name="inputloop" -->
                <input type="hidden" name="ri-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="barcode" -->" />
                <input type="hidden" name="dd-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="duedate" -->" />
                <input type="hidden" name="bn-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
            <!-- /TMPL_LOOP -->
            <input type="hidden" name="diffBranch" value="<!-- TMPL_VAR Name="destbranch" -->" />
            <input type="hidden" name="exemptfine" value="<!-- TMPL_VAR Name="exemptfine" -->" />
            <input type="hidden" name="dropboxmode" value="<!-- TMPL_VAR Name="dropboxmode" -->" />
            <input type="hidden" name="barcode" value="0" />
        	<!-- /TMPL_IF -->
        <input type=hidden name="fromqueue" value="<!-- TMPL_VAR NAME="fromqueue" -->">
        <input type=hidden name="queue_branchlimit" value="<!-- TMPL_VAR NAME="queue_branchlimit" -->">
        <input type=hidden name="queue_currpage" value="<TMPL_VAR NAME="queue_currPage">">
        <input type=hidden name="queue_limit"    value="<TMPL_VAR NAME="queue_limit">">
        <input type=hidden name="queue_orderby"  value="<TMPL_VAR NAME="queue_orderby">">
        </form>
		</div>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF Name="transfer" -->
    <!-- transfer: item with no reservation, must be returned to its homebranch -->
	<div class="dialog message">
	  <h3>Please return <a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR NAME="title" escape="html" DEFAULT="item" --></a> to <!-- TMPL_VAR NAME="homebranch" DEFAULT="homebranch" --></h3></div><!-- /TMPL_IF -->
    
    <!-- TMPL_UNLESS NAME="lostreturned" -->
    <!-- TMPL_IF Name="needstransfer" -->
	<!-- needstransfer -->
	<div class="dialog message"><h3> This item needs to be transfered to <!-- TMPL_VAR Name="homebranch" --></h3>
	Transfer Now?<br />
    <form method="post" action="returns.pl" name="mainform" id="mainform">              
	<input type="submit" name="dotransfer" value="Yes" class="submit" />
	<input type="submit" name="notransfer" value="No" class="submit" />
	<input type="hidden" name="tobranch" value="<!-- TMPL_VAR NAME="homebranch" -->" />
	<input type="hidden" name="transferitem" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
        <input type="hidden" name="exemptfine" value="<!-- TMPL_VAR Name="exemptfine" -->" />
        <input type="hidden" name="dropboxmode" value="<!-- TMPL_VAR Name="dropboxmode" -->" />
	<!-- TMPL_LOOP Name="inputloop" -->     
	<input type="hidden" name="ri-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="barcode" -->" /> 
	<input type="hidden" name="dd-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="duedate" -->" /> 
	<input type="hidden" name="bn-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="bornum" -->" /> 
	<!-- /TMPL_LOOP -->                            
	<input type="hidden" name="barcode" value="0" />    
	</form>   </div>
	<!-- /TMPL_IF -->
   <!-- /TMPL_UNLESS -->
    	
    <!-- TMPL_IF Name="diffbranch" -->
	<!-- diffbranch -->
        <h3>Item Consigned:</h3>
        <table>
        <caption><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR Name="title" escape="html" --></a></caption>
        <tr>
            <th>Hold for:</th>
            <td><!-- TMPL_VAR Name="name" --></td>
        </tr>
        </table>
        <form method="post" action="returns.pl"><input type="submit" value="OK" />
            <!-- TMPL_LOOP Name="inputloop" -->
                <!-- TMPL_UNLESS Name="first" -->
                    <input type="hidden" name="ri-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="barcode" -->" />
                    <input type="hidden" name="dd-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="duedate" -->" />
                    <input type="hidden" name="bn-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
                <!-- /TMPL_UNLESS -->
            <!-- /TMPL_LOOP -->
            <input type="hidden" name="barcode" value="0" />
        </form>
    <!-- /TMPL_IF -->
    
    <!-- item is damaged -->
    <!-- TMPL_IF Name="damaged" -->
        <!-- damaged -->
        <div class="dialog message">
	  <h3>Item Damaged: <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR Name="title" escape="html" --></a></h3>
          <h5> Hold will remain on item until repaired </h5>
          <input type="submit" class="deny" value="OK" onclick="$('.dialog:visible').hide('slow'); $('#barcode').focus(); return false;" />
        </div>
    <!-- /TMPL_IF -->
    
    <!-- item is damaged, but other items are available  -->
    <!-- TMPL_IF Name="damaged_othersavailable" -->
        <!-- damaged but others available -->
        <div class="dialog message">
	  <h3>Item Damaged: <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR Name="title" escape="html" --></a>.</h3>
          <h5>Other items are available to fill pending holds; please retrieve one of those and check it in to trigger the hold.</h5>
          <input type="submit" class="deny" value="OK" onclick="$('.dialog:visible').hide('slow'); $('#barcode').focus(); return false;" />
        </div>
    <!-- /TMPL_IF -->

    <!-- case of simple return no issue or transfer but with a reservation  -->
    <!-- TMPL_IF Name="reserved" -->
	<!--  reserved  -->

    <!-- TMPL_IF NAME="soundon" -->
    <audio src="/intranet-tmpl/prog/sound/opening.ogg" autoplay="autoplay" autobuffer="autobuffer"></audio>
    <!-- /TMPL_IF -->

	<div class="dialog message">
	  <h3>Hold Found: <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->"><!-- TMPL_VAR Name="title" escape="html" --></a></h3>
        <!-- TMPL_IF NAME="reservenotes" --><h4>Notes: <!-- TMPL_VAR Name="reservenotes" --></h4><!-- /TMPL_IF -->
        <h5>Hold for:</h5>
		<ul>
            <li><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">
                <!-- TMPL_VAR Name="borsurname" -->, <!-- TMPL_VAR Name="borfirstname" -->
            </a> (<!-- TMPL_VAR Name="borcnum" -->)</li>
            <li><!-- TMPL_VAR Name="boraddress" --><br />
			<!-- TMPL_IF NAME="boraddress2" --><!-- TMPL_VAR NAME="boraddress2" --><br /><!-- /TMPL_IF -->
			<!-- TMPL_VAR Name="borcity" --> <!-- TMPL_VAR NAME="borzip" --></li>
            <!-- TMPL_IF NAME="borphone" --><li><!-- TMPL_VAR Name="borphone" --></li><!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="boremail" --><li><!-- TMPL_IF name="transfertodo" --><!-- TMPL_VAR NAME="boremail" --><!-- TMPL_ELSE --><a id="boremail" href="mailto:<!-- TMPL_VAR NAME="boremail" -->"><!-- TMPL_VAR NAME="boremail" --></a><!-- /TMPL_IF --></li><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="debarred" --><li class="error">Patron is RESTRICTED</li><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="gonenoaddress" --><li class="error">Patron's address is in doubt</li><!-- /TMPL_IF -->
        </ul>
        <!-- TMPL_IF name="transfertodo" -->
            <h4><strong>Transfer to:</strong> <!-- TMPL_VAR Name="destbranchname" --></h4>
		<!-- TMPL_ELSE -->
		<h4><strong>Hold at</strong> <!-- TMPL_VAR Name="destbranchname" --></h4>
        <!-- /TMPL_IF -->
        <form method="post" action="returns.pl" class="confirm">
            <!-- TMPL_IF name="transfertodo" -->
		<!-- TMPL_IF name="HoldButtonConfirm" -->
                <input type="submit" class="approve" value="Confirm hold and Transfer" />
        	<!-- /TMPL_IF -->
		<!-- TMPL_IF name="HoldButtonPrintConfirm" -->
			<!-- TMPL_IF NAME="UseReceiptTemplates" -->
				<!-- TMPL_IF NAME="UseReceiptTemplates_TransitHold" -->
			                <input type="submit" value="Print Slip, Transfer and Confirm" class="print" onclick="Dopop('/cgi-bin/koha/tools/receipt_generation.pl?action=hold_found&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->'); this.form.submit();" />
				<!-- /TMPL_IF -->
			<!-- TMPL_ELSE -->
		                <input type="submit" value="Print slip, Transfer, and Confirm" class="print" onclick="Dopop('hold-transfer-slip.pl?transfer=1&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->&amp;op=slip'); this.form.submit();" />
			<!-- /TMPL_IF -->
        	<!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->
		<!-- TMPL_IF name="HoldButtonConfirm" -->
                <input type="submit" class="approve" value="Confirm hold" />
        	<!-- /TMPL_IF -->
		<!-- TMPL_IF name="HoldButtonPrintConfirm" -->
			<!-- TMPL_IF NAME="UseReceiptTemplates" -->
				<!-- TMPL_IF NAME="UseReceiptTemplates_HoldFound" -->
			                <input type="submit" value="Print Slip and Confirm" class="print" onclick="Dopop('/cgi-bin/koha/tools/receipt_generation.pl?action=hold_found&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->'); this.form.submit();" />
				<!-- /TMPL_IF -->
			<!-- TMPL_ELSE -->
		                <input type="submit" value="Print Slip and Confirm" class="print" onclick="Dopop('hold-transfer-slip.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->&amp;reservenumber=<!-- TMPL_VAR NAME="reservenumber" -->&amp;op=slip'); this.form.submit();" />
			<!-- /TMPL_IF -->

        	<!-- /TMPL_IF -->
            <!-- /TMPL_IF -->
		<!-- TMPL_IF name="HoldButtonIgnore" -->
                <input type="submit" class="deny" value="Ignore" onclick="$('.dialog:visible').hide('slow'); $('#barcode').focus(); return false;" />
            	<!-- /TMPL_IF -->
            <!-- TMPL_LOOP Name="inputloop" -->
	<input type="hidden" name="ri-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="barcode" -->" />
	<input type="hidden" name="dd-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="duedate" -->" />
	<input type="hidden" name="bn-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="borrowernumber" -->" /><!-- /TMPL_LOOP -->
            <input type="hidden" name="reservenumber" value="<!-- TMPL_VAR Name="reservenumber" -->" />
            <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
            <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
            <input type="hidden" name="resbarcode" value="<!-- TMPL_VAR Name="barcode" -->" />
            <input type="hidden" name="diffBranch" value="<!-- TMPL_VAR Name="destbranch" -->" />
            <input type="hidden" name="exemptfine" value="<!-- TMPL_VAR Name="exemptfine" -->" />
            <input type="hidden" name="dropboxmode" value="<!-- TMPL_VAR Name="dropboxmode" -->" />
            <input type=hidden name="fromqueue" value="<!-- TMPL_VAR NAME="fromqueue" -->">
            <input type=hidden name="queue_branchlimit" value="<!-- TMPL_VAR NAME="queue_branchlimit" -->">
            <input type=hidden name="queue_currPage" value="<TMPL_VAR NAME="queue_currPage">">
            <input type=hidden name="queue_limit"    value="<TMPL_VAR NAME="queue_limit">">
            <input type=hidden name="queue_orderby"  value="<TMPL_VAR NAME="queue_orderby">">
        </form>
	</div>
    <!-- /TMPL_IF -->
<TMPL_ELSE>

    <div id="exemptfines" class="dialog message" style="display:none;">
        <p>Fines for returned items are forgiven.</p>
    </div>
    <div id="dropboxmode" class="dialog message" style="display:none;">
        <p>Dropbox Mode.  (Effective checkin date is <!-- TMPL_VAR NAME="dropboxdate" --> ).</p>
    </div>
</div>
	<div class="yui-g">
    <form method="post" action="/cgi-bin/koha/circ/returns.pl" name="myf" id="myf">
    <div class="yui-u first">
            <fieldset>
	<legend>Check In</legend>
            <label for="barcode">Enter item barcode: </label>
			<!-- TMPL_IF NAME="exemptfine" -->
			<input name="barcode" id="barcode" size="14" class="focus alert"/>
			<!-- TMPL_ELSIF NAME="dropboxmode"-->
			<input name="barcode" id="barcode" size="14" class="focus alert"/>
			<!-- TMPL_ELSE -->
			<input name="barcode" id="barcode" size="14" class="focus"/>
			<!-- /TMPL_IF -->
            <input id="barcode_submit" type="button" class="submit" value="Submit" onclick="
            setOverrideDate();"/>
            <!-- TMPL_LOOP Name="inputloop" -->
                <input type="hidden" name="ri-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="barcode" -->" />
                <input type="hidden" name="dd-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="duedate" -->" />
                <input type="hidden" name="bn-<!-- TMPL_VAR Name="counter" -->" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
            <!-- /TMPL_LOOP -->
			
   
            </fieldset>
            </div>
            <div class="yui-u">
            <fieldset id="checkin_options">
                <legend>Options</legend>

                <ul>
                    <!-- TMPL_IF NAME="overduecharges" -->
                    <!-- TMPL_IF NAME="CAN_user_circulate_exempt_fines" -->
                    <li>
                        <!-- TMPL_IF NAME="exemptfine" -->
                        <input type="checkbox" id="exemptcheck" name="exemptfine" value="exemptfine" checked="checked" />
                        <!-- TMPL_ELSE -->
                        <input type="checkbox" id="exemptcheck" name="exemptfine" value="exemptfine" />
                        <!-- /TMPL_IF -->
                        <label for="exemptcheck">Forgive overdue charges</label>
                    </li>
                    <!-- /TMPL_IF -->
                    <!-- /TMPL_IF --> <!-- overduecharges -->
                    <!-- TMPL_IF NAME="CAN_user_circulate_bookdrop" -->
                    <li>
                        <!-- TMPL_IF NAME="dropboxmode" -->
                        <input type="checkbox" id="dropboxcheck" name="dropboxmode" value="dropboxmode" checked="checked" />
                        <!-- TMPL_ELSE -->
                        <input type="checkbox" id="dropboxcheck" name="dropboxmode" value="dropboxmode" />
                        <!-- /TMPL_IF -->
                        <label for="dropboxcheck">Dropbox mode</label>
                    </li>
                    <!-- /TMPL_IF -->
                    <!-- TMPL_IF NAME="AllowCheckInDateChange" -->
                    <!-- TMPL_IF NAME="CAN_user_circulate_change_circ_date_and_time" -->
                    <li>
                    <!-- TMPL_IF NAME="checkin_override_date" -->
                        <input type="text" size="10" id="f_checkin_override_date" name="checkin_override_date" value="<!-- TMPL_VAR NAME="checkin_override_date" -->" readonly="1" />
                    <!-- TMPL_ELSE -->
                        <input type="text" size="10" id="f_checkin_override_date" name="checkin_override_date" value="" readonly="1"/>
                    <!-- /TMPL_IF -->
                         <img src="<!-- TMPL_VAR NAME="themelang" -->/lib/calendar/cal.gif" id="f_trigger_c" style="cursor: pointer;"
                         title="CheckIn Date selector" />
                        <script type="text/javascript">
                            Calendar.setup({
                                inputField      :   "f_checkin_override_date",
                                 ifFormat       : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                                 button         : "f_trigger_c",
                                 singleClick    : true
                             });
                        </script>
                        <label for="checkin_override_date">Override Check In Date 
                        <script>
                        var odate = document.myf.f_checkin_override_date.value;
                        if (odate != '') {
                           document.write('<input type=button value="Clear Date" onclick="clearOverrideDate()">');
                        }
                        </script>
                        </label>
                    </li>
                    <!-- /TMPL_IF -->
                </ul>
            </fieldset>
        </div>
    </form>

   <script>
   function getCookie(cname) {
      var i,x,y,ARRcookies = document.cookie.split(';');
      for(i=0;i<ARRcookies.length;i++) {
         x=ARRcookies[i].substr(0,ARRcookies[i].indexOf('='));
         y=ARRcookies[i].substr(ARRcookies[i].indexOf('=')+1);
         x=x.replace(/^\s+|\s+$/g,'');
         if(x==cname) {
            return unescapce(y);
         }
      }
   }
   function clearOverrideDate() {
      document.myf.f_checkin_override_date.value='';
      document.cookie = 'checkin_override_date=; path=/';
   }
   function setOverrideDate() {
      var odate = document.myf.f_checkin_override_date.value;
      if (odate != '') {
         document.cookie = 'checkin_override_date='+odate+'; path=/';
      }
      return document.myf.submit(); 
   }
   </script>
</div>

<!-- TMPL_IF Name="returned" -->
<div class="yui-g">    <table>
        <tr><th>Item Information</th><th>Patron Information</th></tr>
        <tr>
            <td><!-- TMPL_VAR Name="title" escape="html" --></td>
            <td>
                
                <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR Name="riborrowernumber" -->"><!-- TMPL_VAR Name="riborsurname" -->, <!-- TMPL_VAR Name="ribortitle" --> <!-- TMPL_VAR Name="riborfirstname" --></a> (<!-- TMPL_VAR Name="riborcnum" -->)
                <!-- TMPL_IF Name="flagset" -->
                (<!-- TMPL_LOOP Name="flagloop" -->
                <!-- TMPL_VAR Name="flag" -->
		<!-- TMPL_IF NAME="charges" --> of <!-- TMPL_VAR NAME="chargeamount" --> <!-- /TMPL_IF -->
		,
                <!-- /TMPL_LOOP -->)<!-- /TMPL_IF -->
            </td>
        </tr>
    </table>
<!-- /TMPL_IF -->
<!-- TMPL_IF Name="riloop" -->
    <h2>Checked-In items 
	<!-- TMPL_IF NAME="UseReceiptTemplates_CheckIn" -->
		<button onclick='window.open("/cgi-bin/koha/tools/receipt_generation.pl?action=check_in<!-- TMPL_LOOP NAME="riloop"-->&amp;barcode=<!-- TMPL_VAR NAME="barcode" --><!-- /TMPL_LOOP -->", "printwindow");'>Print Receipt</button> 
	<!-- /TMPL_IF -->
    </h2>
    <table>
	<tr><th>Due Date</th><th>Title</th>	<th>Author</th>	<th>Barcode</th><th>Type</th>	<th>Patron</th><th>Note</th></tr>
        
        <!-- TMPL_LOOP Name="riloop" -->
            <tr>
            <td><!-- TMPL_IF Name="duedate" -->
                    <!-- TMPL_IF Name="return_overdue" -->
                        <span class="overdue"><!-- TMPL_VAR NAME="duedate" --> (overdue)</span>
                    <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="duedate" -->
                    <!-- /TMPL_IF -->
                <!-- TMPL_ELSE -->Not checked out
                <!-- /TMPL_IF -->
            </td>
            <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR Name="itembiblionumber" -->">
                    <!-- TMPL_VAR Name="itemtitle" escape="html" --></a></td>
			<td><!-- TMPL_VAR Name="itemauthor" --></td>
            <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME="itembiblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->#item<!-- TMPL_VAR NAME="itemnumber" -->"><!-- TMPL_VAR Name="barcode" --></a></td>
            <td><!-- TMPL_VAR Name="itemtype" --> <!-- TMPL_VAR Name="ccode" --></td>
			<td><!-- TMPL_IF Name="duedate" -->
            <!-- TMPL_IF NAME="CAN_user_circulate_view_borrower_name_in_checkin" -->
                <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR Name="borrowernumber" -->">
                    <!-- TMPL_VAR Name="borsurname" -->, <!-- TMPL_VAR Name="borfirstname" --> (<!-- TMPL_VAR name="borcategorycode" -->)
                </a>
            <!-- TMPL_ELSE --> <!-- not allowed to see name so no link either -->
            <!-- TMPL_VAR NAME="borcnum" -->
            <!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->Not checked out<!-- /TMPL_IF --></td>
            <td><!-- TMPL_IF name="bornote" --><span class="circ-hlt"><!-- TMPL_VAR name="bornote" --><br /></span><!-- /TMPL_IF -->
            <!-- TMPL_IF name="itemnote" --><span class="circ-hlt"><!-- TMPL_VAR name="itemnote" --></span><!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="havecheckinnotes" -->
            <script>
            var url = 'returns.pl?biblionumber='
            +'<!-- TMPL_VAR NAME="itembiblionumber" -->&itemnumber='
            +'<!-- TMPL_VAR NAME="itemnumber" -->&checkinnote=1';
            window.open(url,'Check In Note','width=300,height=300,scrollbars=1');
            </script>
            <!-- /TMPL_IF -->
            </td>
           </tr>
        <!-- /TMPL_LOOP -->
    </table></div>
<!-- /TMPL_IF -->


</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
