<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Circulation &rsaquo; Holds Queue</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">
p { margin-top: 0; }
.action { font-size: 80%; }
</style>
<!-- TMPL_INCLUDE NAME="greybox.inc" -->
<script>
function Xport(barcode) {
   return GB_showCenter('Check In Item','/cgi-bin/koha/circ/returns.pl'
   +'?queue_branchlimit=<!-- TMPL_VAR NAME="branchlimit" -->'
   +'&queue_limit=<TMPL_VAR NAME="limit">'
   +'&queue_orderby=<TMPL_VAR NAME="orderby">'
   +'&queue_currPage=<TMPL_VAR NAME="currPage">'
   +'&fromqueue=1&barcode='+barcode,
   700,800);
}
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a>
&rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a>
&rsaquo; <a href="/cgi-bin/koha/circ/view_holdsqueue.pl">Holds Queue</a>
<!-- TMPL_IF NAME="run_report" --> &rsaquo; Results<!-- /TMPL_IF -->
</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">

<h1>Holds Queue</h1>

<form name="f" action="/cgi-bin/koha/circ/view_holdsqueue.pl" method="post">
<!-- TMPL_IF NAME="run_report" -->
    <!-- TMPL_IF NAME="total" -->
    <!--
        <div class="results">Showing <TMPL_VAR NAME="from"> to <TMPL_VAR NAME="to"> 
            of <TMPL_VAR NAME="total"> items found for 
            <TMPL_IF NAME="branchlimit">
               <TMPL_VAR NAME="branchname">
               (<TMPL_VAR NAME="branchlimit">)
            <TMPL_ELSE>ALL libraries
            </TMPL_IF>
        </div>
        <TMPL_VAR NAME="pager">
    -->
        <div class="results">Showing <TMPL_VAR NAME="total"> items found for 
            <TMPL_IF NAME="branchlimit">
               <TMPL_VAR NAME="branchname">
               (<TMPL_VAR NAME="branchlimit">)
            <TMPL_ELSE>ALL libraries
            </TMPL_IF>
        </div>

    <!-- TMPL_ELSE-->
        <div class="dialog message">No items found.</div>
    <!-- /TMPL_IF -->


<!-- TMPL_IF NAME="itemsloop" -->
<table id="holdst">
	<thead>
	<tr>
        <th>Title<span class="action"><a href="#" onClick="hideColumn(1)">[x]</a></span></th>
        <th>Collection<span class="action"><a href="#" onClick="hideColumn(2)">[x]</a></span></th>
        <th>Location<span class="action"><a href="#" onClick="hideColumn(3)">[x]</a></span></th>
        <th>Call Number<span class="action"><a href="#" onClick="hideColumn(4)">[x]</a></span></th>
        <th>Barcode<span class="action"><a href="#" onClick="hideColumn(5)">[x]</a></span></th>
        <th>Patron<span class="action"><a href="#" onClick="hideColumn(6)">[x]</a></span></th>
        <th>Send To<span class="action"><a href="#" onClick="hideColumn(7)">[x]</a></span></th>
        <th>Date<span class="action"><a href="#" onClick="hideColumn(8)">[x]</a></span></th>
        <th>Passed To<span class="action"><a href="#" onClick="hideColumn(9)">[x]</a></span></th>
        <th>Fill</th>
        <th nowrap>Action<br>
        <span class="action"><a href="#" onClick="passAll()">Pass All</a></span></th>
    </tr>
	</thead>
     <tbody><!-- TMPL_LOOP NAME="itemsloop"-->
        <tr>
          <td><p><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber"-->"><strong><!-- TMPL_VAR NAME="title" escape="html"--></strong> <!-- TMPL_VAR NAME="subtitle" ESCAPE="HTML"--> <!-- TMPL_VAR NAME="parts" --> <!-- TMPL_VAR NAME="numbers" --></a></p>
                   <p><strong><!-- TMPL_VAR NAME="author" --></strong>
              <!-- TMPL_IF name="publishercode" --><!-- TMPL_VAR name="publishercode" --><!-- /TMPL_IF -->
              <!-- TMPL_IF name="publicationyear" -->, <!-- TMPL_VAR name="publicationyear" -->
           <!-- TMPL_ELSIF name="copyrightdate"-->, <!-- TMPL_VAR name="copyrightdate" --><!-- /TMPL_IF -->
                                        <!-- TMPL_IF name="pages" -->: <!-- TMPL_VAR name="pages" --> <!-- /TMPL_IF -->
                                        <!-- TMPL_IF name="size" --><!-- TMPL_VAR name="size" --><!-- /TMPL_IF --> <!-- TMPL_IF NAME="isbn" -->ISBN: <!-- TMPL_VAR NAME="isbn" --><!-- /TMPL_IF --></p>
			</td>
            <td><!-- TMPL_VAR NAME="ccode" --></td>
            <td><!-- TMPL_VAR NAME="location" -->
              <!-- TMPL_IF name="is_otherstatus" -->
              </br>
              <span class="q_otherstatuslabel"> Status: </span>
              <span class="q_otherstatus">
                 <!-- TMPL_VAR NAME="otherstatus" -->
              </span>
              <!-- /TMPL_IF -->
            </td>
            <td><!-- TMPL_VAR NAME="itemcallnumber"-->
               <!-- TMPL_VAR NAME="enumchron" -->
               <!-- TMPL_VAR NAME="copynumber" --></td>
            <td>
                <!-- TMPL_IF NAME="item_level_request" -->
                <!-- TMPL_ELSE -->
                    <em>Selected copy:<br></em>
                <!-- /TMPL_IF -->
                <a href="/cgi-bin/koha/catalogue/moredetail.pl?itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->&biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&bi=<!-- TMPL_VAR NAME="biblionumber" -->#item<!-- TMPL_VAR NAME="itemnumber" -->"><!-- TMPL_VAR NAME="barcode" --></a>
            <!-- TMPL_IF name="is_damaged" -->(Damaged)<!-- /TMPL_IF -->
            </td>
			   <td><p><a href="/cgi-bin/koha/circ/circulation.pl?findborrower=<!-- TMPL_VAR NAME="cardnumber" -->#reserves"><!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" --> (<!-- TMPL_VAR NAME="cardnumber" -->)</a></p> <p><!-- TMPL_VAR NAME="phone" --></p></td>
            <td><!-- TMPL_VAR NAME="pickbranch" --></td>
            <td><!-- TMPL_VAR NAME="reservedate" --></td>
            <td>
            <!-- TMPL_IF NAME="item_level_request" -->
            <span class=action>Cannot pass: Item-level request</span>
            <!-- TMPL_ELSE -->
            <font size="-2"><!-- TMPL_VAR NAME="branches_sentto" --></font></td>
            <!-- /TMPL_IF -->
            <td>
            <!-- TMPL_IF NAME="fillable" -->
               <a href="#" onclick="Xport('<!-- TMPL_VAR NAME="barcode" -->');">Check In</a>
            <!-- TMPL_ELSE -->
            <i>Check in at</i><br><!-- TMPL_VAR NAME="holdingbranch" -->
            <!-- /TMPL_IF -->
            </td>
            <td>
            <!-- TMPL_IF NAME="item_level_request" -->
            <span class=action>(Cannot pass: Item-level request)</span>
            <!-- /TMPL_IF -->
            <select name="action_<!-- TMPL_VAR NAME="action_cnt" -->" id="action_<!-- TMPL_VAR NAME="action_cnt" -->">
               <option value=""></option>
               <!-- TMPL_IF NAME="item_level_request" -->
               <option value=""></option>
               <!-- TMPL_ELSE -->
               <option value="pass">Pass</option>
               <!-- /TMPL_IF -->
               <option value="trace">Trace</option>
               </select></td>
        </tr>
    <!-- /TMPL_LOOP --></tbody>
    </table>
	<!-- /TMPL_IF --> 
	<!-- /TMPL_IF --> 

<!-- TMPL_UNLESS NAME="total" -->
	<fieldset class="rows">
	<ol>
	<li><label for="branchlimit">Library: </label><select name="branchlimit" id="branchlimit">
                <option value="">All</option>
            <!-- TMPL_LOOP name="branchloop" -->
                <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branchname" --></option>
				<!-- TMPL_ELSE -->
				<option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option>
				<!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            </select></li>
			<!--  Not working yet
			<li><label for="itemtypeslimit">Item Type: </label><select name="itemtypeslimit" id="itemtypeslimit">
                <option value="">All</option>
                <!-- TMPL_LOOP name="itemtypeloop" -->
                <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
				<!-- TMPL_ELSE -->
				<option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="description" --></option>
				<!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </select></li>
			-->

<!--
      <li><label for="limit">View: </label>
         <select name="limit">
         <option>20
         <option>50
         <option>100
         <option>200</select> records per page</li>
-->
      <li><label for="orderby1">Sort by: </label>
         <select name="orderby1">
            <option value="tmp_holdsqueue.title">Title
            <option value="items.ccode">Collection
            <option value="items.location">Location
            <option value="items.itemcallnumber">Call Number
            <option value="items.barcode">Barcode
            <option value="tmp_holdsqueue.surname">Patron
            <option value="tmp_holdsqueue.reservedate">Date
         </select><select name="orderby1how">
            <option><option>ASC<option>DESC</select></li>
      <li><label for="orderby2">then </label>
         <select name="orderby2">
            <option value="">
            <option value="tmp_holdsqueue.title">Title
            <option value="items.ccode">Collection
            <option value="items.location">Location
            <option value="items.itemcallnumber">Call Number
            <option value="items.barcode">Barcode
            <option value="tmp_holdsqueue.surname">Patron
            <option value="tmp_holdsqueue.reservedate">Date
         </select><select name="orderby2how">
            <option value=""><option>ASC<option>DESC</select></li>
      <li><label for="orderby3">then </label>
         <select name="orderby3">
            <option value="">
            <option value="tmp_holdsqueue.title">Title
            <option value="items.ccode">Collection
            <option value="items.location">Location
            <option value="items.itemcallnumber">Call Number
            <option value="items.barcode">Barcode
            <option value="tmp_holdsqueue.surname">Patron
            <option value="tmp_holdsqueue.reservedate">Date
         </select><select name="orderby3how">
            <option value=""><option>ASC<option>DESC</select></li>
    </ol></fieldset>
<!-- /TMPL_UNLESS -->
<fieldset class="action">

<!-- TMPL_IF NAME="total" -->
<TMPL_VAR NAME="pager">
<input type="button" value="Submit" onclick="confirmSubmit();"/>
<input type=button value="Cancel" onclick="document.location.href='view_holdsqueue.pl';">
<input type=hidden name="branchlimit" value="<!-- TMPL_VAR NAME="branch" -->">
<input type=hidden name="branch"      value="<!-- TMPL_VAR NAME="branch" -->">
<input type=hidden name="run_pass" value="1">
<input type="hidden" name="currPage"   value="<TMPL_VAR NAME="currPage">">
<input type=hidden name="limit" value="<TMPL_VAR NAME="limit">">
<!-- TMPL_ELSE -->
<input type="hidden" name="run_report" value="1" />
<input type=button value="Submit" onclick="getResults()">
<!-- /TMPL_IF -->
<input type=hidden name="orderby" value="<TMPL_VAR NAME="orderby">">

</fieldset>
</form>
<script>
<TMPL_UNLESS NAME="total">
function getResults() {
   var d = document.f;
   var s1 = d.orderby1.options[d.orderby1.selectedIndex].value;
   var s2 = d.orderby2.options[d.orderby2.selectedIndex].value;
   var s3 = d.orderby3.options[d.orderby3.selectedIndex].value;
   var h1 = d.orderby1how.options[d.orderby1how.selectedIndex].value;
   var h2 = d.orderby2how.options[d.orderby2how.selectedIndex].value;
   var h3 = d.orderby3how.options[d.orderby3how.selectedIndex].value;
   var str = '';
   if (h1) { str = s1+' '+h1; } else { str = s1 }
   if (s2 != '') {
      if (str != '') { str += ',' }
      str += s2;
      if (h2 != '')  { str += ' '+h2 }
   }
   if (s3 != '') {
      if (str != '') { str += ',' }
      str += s3;
      if (h3 != '')  { str += ' '+h3 }
   }
   d.orderby.value = str;
   document.cookie = 'queue_orderby='+str+'; path=/';
/*   
   document.cookie = 'queue_limit='
      +document.f.limit.options[document.f.limit.selectedIndex].value
      +'; path=/';
*/
   d.submit();
}
</TMPL_UNLESS>

<!-- TMPL_IF NAME="run_report" -->
function pager(v) {
   document.f.currPage.value=v;
   document.f.submit();
}
function confirmSubmit() {
   var rc = confirm('Do you want to continue?');
   if (rc) { document.f.submit() }
   return false;
}
function passAll() {
   var c = <!-- TMPL_VAR NAME="action_cnts" -->;
   for(var i=0;i<c;i++) {
      var sel = document.getElementById('action_'+i);
      sel.selectedIndex = 1;
   }
}
<!-- /TMPL_IF -->
</script>

</div>
</div>
</div>

<script type="application/javascript">
function getCookie(cname) {
   var i,x,y,ARRcookies = document.cookie.split(';');
   for(i=0;i<ARRcookies.length;i++) {
      x=ARRcookies[i].substr(0,ARRcookies[i].indexOf('='));
      y=ARRcookies[i].substr(ARRcookies[i].indexOf('=')+1);
      x=x.replace(/^\s+|\s+$/g,'');
      if(x==cname) {
         return unescape(y);
      }
   }
}
$(document).ready(function() { 
   <TMPL_UNLESS NAME="total">
   var str = getCookie('queue_orderby');
   if (str != '') {
      var d = document.f;
      var ord = str.split(',',3);
      if(!ord[0]) { ord[0] = ''}
      if(!ord[1]) { ord[1] = ''}
      if(!ord[2]) { ord[2] = ''}
      var sh1 = ord[0].split(' ',2);
      var sh2 = (ord[1] || '').split(' ',2);
      var sh3 = (ord[2] || '').split(' ',2);
      for(var i=0;i<d.orderby2.options.length;i++) {
         if (d.orderby1.options[i]) {
            if (d.orderby1.options[i].value==sh1[0]) {
               d.orderby1.options.selectedIndex = i;
               if      (sh1[1]=='ASC') { d.orderby1how.options.selectedIndex=1 }
               else if (sh1[1]=='DESC'){ d.orderby1how.options.selectedIndex=2 }
            }
         }
         if (d.orderby2.options[i].value==sh2[0]) {
            d.orderby2.options.selectedIndex = i;
            if      (sh2[1]=='ASC') { d.orderby2how.options.selectedIndex=1 }
            else if (sh2[1]=='DESC'){ d.orderby2how.options.selectedIndex=2 }
         }
         if (d.orderby3.options[i].value==sh3[0]) {
            d.orderby3.options.selectedIndex = i;
            if      (sh3[1]=='ASC') { d.orderby3how.options.selectedIndex=1 }
            else if (sh3[1]=='DESC'){ d.orderby3how.options.selectedIndex=2 }
         }
      }
   }
   </TMPL_UNLESS>

   <TMPL_IF EXPR="run_report ne 1">
/* *******************
   var lim = getCookie('queue_limit');
   if (document.f.limit.options[document.f.limit.selectedIndex].value != lim) {
      for(var i=0;i<document.f.limit.options.length;i++) {
         if (document.f.limit.options[i].value == lim) {
            document.f.limit.options.selectedIndex = i;
            break;
         }
      }
   }

******** */
   </TMPL_IF>
});

function hideColumn(n) {
  $('th:nth-child('+n+')').hide();
  $('td:nth-child('+n+')').hide();
}

</script>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
