<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->  
<title>Koha &rsaquo; Tools &rsaquo; Clubs &amp Services &rsaquo; Enroll</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->

<div id="breadcrumbs">
  <a href="/cgi-bin/koha/mainpage.pl">Home</a>  &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a>  &rsaquo; <a href="/cgi-bin/koha/clubs_services/clubs_services.pl">Clubs &amp; Services</a>  &rsaquo; Enroll
</div>

<div id="doc3" class="yui-t2">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b">
      <div>
          <!-- TMPL_IF NAME="previousActionEnroll" -->
            <!-- TMPL_IF NAME="enrollSuccess" -->
              <div>Patron with cardnumber '<!-- TMPL_VAR NAME="enrolledBarcode" -->' Enrolled Succesfully!</div>
            <!-- TMPL_ELSE -->
              <div>Failed to Enroll Patron with cardnumber '<!-- TMPL_VAR NAME="enrolledBarcode" -->'!</div>
              <div>Reason: <strong><!-- TMPL_VAR NAME="failureMessage" --></strong></div>
            <!-- /TMPL_IF -->
          <!-- /TMPL_IF -->


          <h3>Enroll a Patron in <i><!-- TMPL_VAR NAME="casTitle" --></i></h3>
      </div>

      <div>
        <form action="enroll_clubs_services.pl" method="post">
        <table>
          <!-- TMPL_IF NAME="caseData1Title" -->
            <tr>
              <th><label for="data1"><!-- TMPL_VAR NAME="caseData1Title" -->: </label></th>
              <td><input type="text" id="data1" name="data1" /></td>
              <td><i><!-- TMPL_VAR NAME="caseData1Desc" --></i></td>
            </tr>
          <!-- /TMPL_IF -->

          <!-- TMPL_IF NAME="caseData2Title" -->
            <tr>
              <th><label for="data2"><!-- TMPL_VAR NAME="caseData2Title" -->: </label></th>
              <td><input type="text" id="data2" name="data2" /></td>
              <td><i><!-- TMPL_VAR NAME="caseData2Desc" --></i></td>
            </tr>
          <!-- /TMPL_IF -->

          <!-- TMPL_IF NAME="caseData3Title" -->
            <tr>
              <th><label for="data3"><!-- TMPL_VAR NAME="caseData3Title" -->: </label></th>
              <td><input type="text" id="data3" name="data3" /></td>
              <td><i><!-- TMPL_VAR NAME="caseData3Desc" --></i></td>
            </tr>
          <!-- /TMPL_IF -->

          <tr>
            <th><label for="borrowerBarcode">Borrower Cardnumber: </label></th>
            <td colspan="2"><input type="text" id="borrowerBarcode" name="borrowerBarcode" /></td>
          </tr>

          <input type="hidden" id="casId" name="casId" value="<!-- TMPL_VAR NAME="casId" -->" />
          <input type="hidden" id="casaId" name="casaId" value="<!-- TMPL_VAR NAME="casaId" -->" />
          <input type="hidden" name="action" value="enroll" /> 
          <tr><td colspan="3"><input type="submit" value="Enroll" /></td></tr>
        </table>
        </form>
      </div>

</div>
</div>

<div class="yui-b">
<div id="menu"> 
  <ul>
    <!-- TMPL_IF NAME="clubs_services" --><li class="active"><!-- TMPL_ELSE --><li><!-- /TMPL_IF --><a href="clubs_services.pl">Clubs &amp; Services Home</a></li>
    <!-- TMPL_IF NAME="edit_archetypes" --><li class="active"><!-- TMPL_ELSE --><li><!-- /TMPL_IF --><a href="edit_archetypes.pl">Edit Archetypes</a></li>
    <!-- TMPL_IF NAME="edit_clubs_services" --><li class="active"><!-- TMPL_ELSE --><li><!-- /TMPL_IF --><a href="edit_clubs_services.pl">Edit Clubs & Services</a></li>
  </ul>
</div>
</div>

</div>
</div> 

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
