<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Adquisiciones</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Adquisiciones</a> &rsaquo; </div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_INCLUDE NAME="acquisitions-toolbar.inc" -->

<h1>Adquisiciones</h1>
<div class="yui-g">
<div class="yui-u first">
<div id="acqui_acqui_home_order">
    <fieldset>
        <legend>Iniciar, recibir o modificar pedidos</legend>
    <!-- TMPL_IF name="nobudget" -->
		<!-- TMPL_IF NAME="CAN_user_parameters" -->
        <span class="problem">Ud. debe <a href="/cgi-bin/koha/admin/aqbookfund.pl">definir un presupuesto</a> en Administración</span>
		<!-- TMPL_ELSE -->
		<span class="problem">Su administrador debe definir un presupuesto en Administración</span>
		<!-- /TMPL_IF -->
        <form name="findsupplier" action="/cgi-bin/koha/acqui/booksellers.pl" method="post">
            <p><label for="supplierpage">Proveedor </label><input type="text" size="25" name="supplier" id="supplierpage" class="focus" />
            <input type="submit" value="Buscar">
            </p>
        </form>
    <!-- TMPL_ELSE -->
        <form name="findsupplier" action="/cgi-bin/koha/acqui/booksellers.pl" method="post">
            <p><label for="supplierpage">Proveedor: </label><input type="text" size="25" name="supplier" id="supplierpage" class="focus" />
            <input type="submit" value="Buscar">
            </p>
        </form>
		
    <!-- /TMPL_IF -->
    </fieldset>
</div>
<div id="acqui_acqui_home_suggestions">
    <fieldset>
    <legend>Sugerencia pendientes</legend>
        <!-- TMPL_IF name="suggestion" -->
            <!--TMPL_VAR NAME="suggestion" --> sugerencias esperando <a href="/cgi-bin/koha/suggestion/acceptorreject.pl">Administrar</a>
        <!-- TMPL_ELSE -->
            <p>No hay sugerencias esperando</p>
        <!-- /TMPL_IF -->
    </fieldset>
</div>
</div>

<div class="yui-u">
    <!-- TMPL_IF name="nobudget" -->
    <!-- TMPL_ELSE -->
    <h2>Fondos y presupuestos</h2>
    <a href="/cgi-bin/koha/admin/aqbookfund.pl" title="[ Administrar fondos ]">[ Administrar ]</a>
    <div id="BudgetsAndFunds">
    <table id="accounts">
        <thead>
        <tr>
            <th>Presupuestos</th>
            <th>Total</th>
            <th>Gastado</th>
            <th>Comtd</th>
            <th>Aval</th>
        </tr>
        </thead>
        <tbody>
        <!-- TMPL_LOOP name="loop_budget" -->
            <tr>
                <td><!-- TMPL_VAR name="bookfundname" --></td>
                <td><a href="/cgi-bin/koha/admin/aqbudget.pl?op=add_form&amp;aqbudgetid=<!--TMPL_VAR NAME="aqbudgetid"-->"><!-- TMPL_VAR name="budgetamount" --></a></td>
                <td><a href="/cgi-bin/koha/acqui/spent.pl?bookfund=<!--TMPL_VAR NAME="bookfundid"-->&amp;start=<!--TMPL_VAR NAME="sdate"-->&amp;end=<!-- TMPL_VAR NAME="edate"-->"><!-- TMPL_VAR name="spent" --></a></td>
                <td><a href="/cgi-bin/koha/acqui/bookfund.pl?bookfund=<!--TMPL_VAR NAME="bookfundid"-->&amp;start=<!--TMPL_VAR NAME="sdate"-->&amp;end=<!-- TMPL_VAR NAME="edate"-->"><!-- TMPL_VAR name="comtd" --></a></td>
                <td><!-- TMPL_VAR name="avail" --></td>
            </tr>
        <!-- /TMPL_LOOP -->
        </tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <th><!-- TMPL_VAR name="total" --></th>
            <th><!-- TMPL_VAR name="totspent" --></th>
            <th><!-- TMPL_VAR name="totcomtd" --></th>
            <th><!-- TMPL_VAR name="totavail" --></th>
        </tr>
        </tfoot>
    </table>
    </div>
    <p> Use el bot&oacute; recargar [ctrl + r]  para conseguir las cifras m&aacute;s recientes. Las cifras son aproximadas, pues las tasas de cambio afectar&aacuten el monto que se debe pagar.</p>
    <!-- /TMPL_IF -->
    <div id="acqui_acqui_home_currency">
    <!-- TMPL_IF NAME="loop_currency" -->
        <h2>Tasas de cambio</h2>
        <form action="/cgi-bin/koha/acqui/currency.pl">
        <table>
            <tr>
                <th>Moneda</th>
                <th>Equivalencia</th>
                <th>&nbsp;</th>
            </tr>
            <!-- TMPL_LOOP name="loop_currency" -->
                <tr>
                    <td>
                        <label for="<!-- TMPL_VAR name="currency" -->"><!-- TMPL_VAR name="currency" --></label>
                    </td>
                    <td>
                            <input type="hidden" name="type" value="change" />
                            <input type="text" size="10" id="<!-- TMPL_VAR name="currency" -->" name="<!-- TMPL_VAR name="currency" -->" value="<!-- TMPL_VAR name="rate" -->" />
                    </td>
                    <td><input type="submit" value="Guardar"></td>
                </tr>
            <!-- /TMPL_LOOP -->
        </table>
        </form>
    <!-- TMPL_ELSE -->
        <a href="/cgi-bin/koha/admin/currency.pl?op=add_form" class="button">
        Agregar moneda
        </a>
    <!-- /TMPL_IF -->
    </div>
</div>
    
</div>

<div id="acqui_acqui_home_hints">
    <h2>Ayuda</h2>
    <p> Para comenzar un pedido, compra local o una donación primero busque en el proveedor o benefactor, y entonces podrá crear unnuevo canasto.</p>
    <p>Una canasta es una lista de &oacute;rdenes.</p>
    <p>Para ordenar la compra de  un ítem debe ubicar, si existe, el  registro bibliográfico correspondiente y luego agregar un ítem. En caso de no existir el registro lo debe crear y luego agregar el ítem.</p>
</div>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
