<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Adquisiciones &rsaquo; Recibir entrega del proveedor <!-- TMPL_VAR NAME="name" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Adquisiciones</a> &rsaquo; <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->"><!-- TMPL_VAR NAME="name" --></a> &rsaquo; Recibir env&iacute;o desde proveedor <!-- TMPL_VAR NAME="name" --></div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
	
<h1>Recibir envío del proveedor <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->"><!-- TMPL_VAR NAME="name" --></a></h1>

<!-- TMPL_IF NAME="count" --><p> <!-- TMPL_VAR NAME="count" --> paquetes encontrados</p><!--/TMPL_IF-->
<div id="resultnumber">
<!-- Row of numbers corresponding to search result pages -->
<!-- TMPL_IF NAME="displayprev" -->
    <a href="parcels.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;startfrom=<!-- TMPL_VAR NAME="prevstartfrom" --><!--TMPL_IF Name="datefrom"-->&amp;datefrom=<!--TMPL_VAR Name="datefrom"--><!--/TMPL_IF--><!--TMPL_IF Name="dateto"-->&amp;dateto=<!--TMPL_VAR Name="dateto"--><!--/TMPL_IF--><!--TMPL_IF Name="code"-->&amp;filter=<!--TMPL_VAR Name="code"--><!--/TMPL_IF--><!--TMPL_IF Name="orderby"-->&amp;orderby=<!--TMPL_VAR Name="orderby"--><!--/TMPL_IF--><!--TMPL_IF Name="resultsperpage"-->&amp;resultsperpage=<!--TMPL_VAR Name="resultsperpage"--><!--/TMPL_IF-->&amp;type=intra">&lt;&lt; Anterior</a>
<!-- /TMPL_IF -->
<!-- TMPL_LOOP NAME="numbers" -->
    <!-- TMPL_IF NAME="highlight" -->
    <span class="current"><!-- TMPL_VAR NAME="number" --></span>
    <!-- TMPL_ELSE -->
    <a href="parcels.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;startfrom=<!-- TMPL_VAR NAME="startfrom" --><!--TMPL_IF Name="datefrom"-->&amp;datefrom=<!--TMPL_VAR Name="datefrom"--><!--/TMPL_IF--><!--TMPL_IF Name="dateto"-->&amp;dateto=<!--TMPL_VAR Name="dateto"--><!--/TMPL_IF--><!--TMPL_IF Name="code"-->&amp;filter=<!--TMPL_VAR Name="code"--><!--/TMPL_IF--><!--TMPL_IF Name="orderby"-->&amp;orderby=<!--TMPL_VAR Name="orderby"--><!--/TMPL_IF--><!--TMPL_IF Name="resultsperpage"-->&amp;resultsperpage=<!--TMPL_VAR Name="resultsperpage"--><!--/TMPL_IF-->&amp;type=intra"><!-- TMPL_VAR NAME="number" --></a>
    <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
<!-- TMPL_IF NAME="displaynext" -->
    <a href="parcels.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;startfrom=<!-- TMPL_VAR NAME="nextstartfrom" --><!--TMPL_IF Name="datefrom"-->&amp;datefrom=<!--TMPL_VAR Name="datefrom"--><!--/TMPL_IF--><!--TMPL_IF Name="dateto"-->&amp;dateto=<!--TMPL_VAR Name="dateto"--><!--/TMPL_IF--><!--TMPL_IF Name="code"-->&amp;filter=<!--TMPL_VAR Name="code"--><!--/TMPL_IF--><!--TMPL_IF Name="orderby"-->&amp;orderby=<!--TMPL_VAR Name="orderby"--><!--/TMPL_IF--><!--TMPL_IF Name="resultsperpage"-->&amp;resultsperpage=<!--TMPL_VAR Name="resultsperpage"--><!--/TMPL_IF-->&amp;type=intra">Siguiente &gt;&gt;</a>
<!-- /TMPL_IF -->
</div>

<div id="resultlist">
<!-- Search Results Table -->
<!-- TMPL_IF NAME="count" -->
<form method="get" action="parcels.pl">
    <table class="small">
        <tr>
            <th> <input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->" /></th>
            <th><label for="filter">Factura/código:</label><input type="text" size="20" name="filter" id="filter" value="<!-- TMPL_VAR NAME="filter" -->" /></th>
            <th><label for="datefrom">Desde:</label><input type="text" size="9" id="datefrom" name="datefrom" value="<!-- TMPL_VAR NAME="datefrom" -->" /> 
                <p><label for="dateto">Hasta:</label><input type="text" size="9" id="dateto" name="dateto" value="<!-- TMPL_VAR NAME="dateto" -->" /></p></th>
            <th><label for="orderby">Ordenar por :</label><select name="orderby" id="orderby">
                <option value="aqorders.booksellerinvoicenumber"> C&oacute;digo</option>
                <option value="datereceived"> Fecha de recepci&oacute;n</option>
                <option value="datereceived desc"> Fecha de recepci&oacute;n inversa</option>
                <option value="aqorders.booksellerinvoicenumber desc"> C&oaacute;digo invertido</option>
                </select><br />
                <label for="resultsperpage">Resultados por página :</label><select name="resultsperpage" id="resultsperpage">
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                </select></th>
            <th><input type="submit" class="button" value="Filtro"></th>
        </tr>
	</table><br />
    <table class="small">
        <tr>
            <th>L&iacute;nea</th>
            <th>Fecha de recepci&oacute;n</th>
            <th>N&uacute;mero de factura</th>
            <th>Conteo de items</th>
            <th>Cantidad de registros</th>
            <th>Items esperados</th>
        </tr>
<!-- Actual Search Results -->
<!-- TMPL_LOOP NAME="searchresults" -->
    <!-- TMPL_UNLESS NAME="__odd__" -->
    <tr class="highlight">
    <!-- TMPL_ELSE -->
    <tr>
    <!-- /TMPL_UNLESS -->
        <td>
            <!-- TMPL_VAR NAME="number" -->
        </td>
        <td>
            <a href="/cgi-bin/koha/acqui/parcel.pl?type=intra&amp;supplierid=<!-- TMPL_VAR NAME="supplierid" ESCAPE="URL" -->&amp;datereceived=<!-- TMPL_VAR NAME="raw_datereceived" ESCAPE="URL" --><!--TMPL_IF Name="code"-->&amp;invoice=<!--TMPL_VAR Name="code" ESCAPE="URL" --><!--/TMPL_IF-->">
                <!-- TMPL_VAR NAME="datereceived" -->
            </a>
        </td>
        <td>
            <!--TMPL_IF Name="code"--><!--TMPL_VAR Name="code" --><!--/TMPL_IF-->
        </td>
        <td>
            <!-- TMPL_VAR NAME="reccount" --> 
        </td>
        <td>
            <!-- TMPL_VAR NAME="bibcount" -->
        </td>
        <td>
            <!-- TMPL_VAR NAME="itemcount" -->
        </td>
    </tr>
<!-- /TMPL_LOOP -->
</table>
</form>
<!--/TMPL_IF-->
</div>
    <div id="parcels_new_parcel">
        <form method="get" action="parcel.pl">
    <fieldset class="rows">
    <legend>Recibir un nuevo envío</legend>
       <ol> <li>
            <label for="invoice">Factura  </label>
            <input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->" />
            <input type="hidden" name="op" value="new" />
			<input type="text" size="20" id="invoice" name="invoice" />
        </li>
		<!-- TMPL_IF NAME="gst" -->
        <li>
            <label for="gst">GST:</label>
            <input type="text" size="20" id="gst" name="gst" />
        </li>
		<!--/TMPL_IF-->
      <!--  // Removing freight input until shipping can be proplerly handled .
	  <li>
            <label for="freight">Shipping:</label>
            <input type="text" size="20" id="freight" name="freight" />
        </li> -->
         <li><label for="datereceived">Fecha del envío: </label>
            <input type="text" id="datereceived" name="datereceived"  maxlength="10" size="10"  value="<!-- TMPL_VAR NAME="datereceived_today" -->" />
            <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="datereceived_button" alt="Mostrar Calendario">
      <script language="JavaScript" type="text/javascript">
        Calendar.setup(
          {
            inputField : "datereceived",
            ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
            button : "datereceived_button"          }
        );
      </script>	</li>
		</ol>
    </fieldset>
            <fieldset class="action"><input type="submit" class="button" value="Guardar"> <a class="cancel" href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->">Cancelar</a></fieldset>
        </form>
    </div>
</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
