<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Proveedor<!-- TMPL_VAR name="bookselname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
function confirm_deletion() {
    if (confirm("Confirm deletion of this vendor ?")) {
        window.location="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!--TMPL_VAR Name="id"-->&op=delete";
    }
}
function check(f) {
if (f.company.value == "") {
    alert("You must specify a name for this vendor.");
    return false;
}
    f.submit();
}
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Adquisiciones</a> &rsaquo; <!--TMPL_IF Name="enter"--><!-- TMPL_IF name="id" --> <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="id" -->"><!-- TMPL_VAR NAME="name" --></a> &rsaquo; Actualizado: <!-- TMPL_VAR NAME="name" --><!-- TMPL_ELSE -->Agregar proveedor<!-- /TMPL_IF --> <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="name" --><!-- /TMPL_IF --></div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<!--TMPL_IF Name="enter"-->
	    <!-- TMPL_IF name="id" -->
        <h1>Actualizar: <!-- TMPL_VAR NAME="name" --></h1>
    <!-- TMPL_ELSE -->
        <h1>Agregar proveedor</h1>
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
<!-- TMPL_UNLESS NAME="enter" --><!-- TMPL_INCLUDE NAME="acquisitions-toolbar.inc" --><!-- /TMPL_UNLESS -->
<!--TMPL_IF Name="enter"-->
    <form action="updatesupplier.pl" name="updatesupplier" method="post">
	<div class="yui-g">
	<div class="yui-u first">
        <input type="hidden" name="id" value="<!-- TMPL_VAR NAME="id" -->" />
        <fieldset class="rows">
            <legend>Detalles de la compañía:</legend>
            <ol><li><label for="company" class="required">Nombre de la compañia * </label>
                <input type="text" size="40" id="company" name="company" value="<!-- TMPL_VAR NAME="name" -->" /></li>
            <li><label for="company_postal">Direcci&oacute;n postal</label>
                    <textarea id="company_postal" name="company_postal" cols="40" rows="3"><!-- TMPL_VAR NAME="postal" --></textarea></li>
            <li><label for="physical">Dirección</label>
                <textarea id="physical" name="physical" cols="40" rows="3"><!-- TMPL_VAR NAME="address1" --><!-- TMPL_VAR NAME="address2" --><!-- TMPL_VAR NAME="address3" --><!-- TMPL_VAR NAME="address4" --></textarea></li>
            <li><label for="company_phone">Teléfono</label>
                <input type="text" size="20" id="company_phone" name="company_phone" value="<!-- TMPL_VAR NAME="phone" -->" /></li>
            <li><label for="company_fax">Fax</label>
                <input type="text" size="20" id="company_fax" name="company_fax" value="<!-- TMPL_VAR NAME="fax" -->" /></li>
            <li><label for="website">Sitio web</label>
                <input type="text" size="40" id="website" name="website" value="<!-- TMPL_VAR NAME="url" -->" /></li></ol>
        </fieldset>
		</div>
		<div class="yui-u">
        <fieldset class="rows">
            <legend>Detalles de contacto</legend>
           <ol> <li><label for="company_contact_name">Nombre del Contacto</label>
                <input type="text" size="40" id="company_contact_name" name="company_contact_name" value="<!-- TMPL_VAR NAME="contact" -->" /></li>
            <li><label for="company_contact_position">Posici&oacute;n</label>
                <input type="text" size="40" id="company_contact_position" name="company_contact_position" value="<!-- TMPL_VAR NAME="contpos" -->" /></li>
            <li><label for="contact_phone">Teléfono</label>
                <input type="text" size="20" id="contact_phone" name="contact_phone" value="<!-- TMPL_VAR NAME="contphone" -->" /> </li>
            <li><label for="contact_phone_2">Teléfono alternativo </label>
                <input type="text" size="20" id="contact_phone_2" name="contact_phone_2" value="<!-- TMPL_VAR NAME="contaltphone" -->" /></li>
            <li><label for="contact_fax">Fax</label>
                <input type="text" size="20" id="contact_fax" name="contact_fax" value="<!-- TMPL_VAR NAME="contfax" -->" /></li>
            <li><label for="company_email">Email</label>
                <input type="text" size="40" id="company_email" name="company_email" value="<!-- TMPL_VAR NAME="contemail" -->" /></li>
            <li><label for="contact_notes">Notas</label>
                <textarea id="contact_notes" name="contact_notes" cols="40" rows="4"><!-- TMPL_VAR NAME="contnotes" --></textarea></li></ol>
        </fieldset>
		</div>
	</div>
		<div class="yui-g">
        <fieldset class="rows">
            <legend>Informaci&oacute;n del pedido</legend>
            <ol class="radio"><li><label for="activestatus" class="radio">El proveedorr es:</label>
                    <!-- TMPL_IF name="active" -->
                        <label for="activestatus">Activo</label> <input type="radio" id="activestatus" name="status" value="1" checked="checked" />
                        <label for="inactivestatus">Inactivo</label> <input type="radio" id="inactivestatus" name="status" value="0" />
                    <!-- TMPL_ELSE -->
                        <label for="activestatus">Activo</label> <input type="radio" id="activestatus" name="status" value="1" />
                        <label for="inactivestatus">Inactivo</label> <input type="radio" id="inactivestatus" name="status" value="0" checked="checked" />
                    <!-- /TMPL_IF --></li>
			</ol>
			<ol>
            <li><label for="publishers_imprints">Editores preferidos</label>
                <textarea id="publishers_imprints" name="publishers_imprints" cols="40" rows="3"><!-- TMPL_VAR NAME="specialty" --></textarea></li>
            <li><label for="list_currency">Los precios de lista son</label>
                    <select name="list_currency" id="list_currency">
                    <!-- TMPL_LOOP NAME="loop_pricescurrency" -->
                        <!-- TMPL_VAR NAME="currency" -->
                    <!-- /TMPL_LOOP -->
                    </select></li>
            <li><label for="invoice_currency">Precios de la factura son</label>
                    <select name="invoice_currency" id="invoice_currency">
                    <!-- TMPL_LOOP NAME="loop_invoicecurrency" -->
                        <!-- TMPL_VAR NAME="currency" -->
                    <!-- /TMPL_LOOP -->
                    </select></li>
            <!-- TMPL_IF NAME="GST" --><li>GST Registrado
				<!-- TMPL_IF name="gstreg" -->
					<input type="radio" name="gst" id="gstyes" value="1" checked="checked" /><label for="gstyes">Si</label>
                    <input type="radio" name="gst" id="gstno" value="0" /><label for="gstno">No</label>
				<!-- TMPL_ELSE -->
                    <input type="radio" name="gst" id="gstyes" value="1" /><label for="gstyes">Si</label>
                    <input type="radio" name="gst" id="gstno" value="0" checked="checked" /><label for="gstno">No</label>
				<!-- /TMPL_IF --></li><!-- /TMPL_IF -->
			
            <!-- TMPL_IF NAME="GST" --><li>Precios del pedido
				<!-- TMPL_IF name="listincgst" -->
					<input type="radio" id="list_gstyes" name="list_gst" value="1" checked="checked" /><label for="list_gstyes">incluye GST</label>
                    <input type="radio" id="list_gstno" name="list_gst" value="0" /><label for="list_gstno">no incluye GST</label>
				<!-- TMPL_ELSE -->
                    <input type="radio" id="list_gstyes" name="list_gst" value="1" /><label for="list_gstyes">incluye GST</label>
                    <input type="radio" id="list_gstno" name="list_gst" value="0" checked="checked" /><label for="list_gstno">no incluye GST</label>
				<!-- /TMPL_IF --></li><!-- /TMPL_IF -->
			
            <!-- TMPL_IF NAME="GST" --><li>Precios de la factura
				<!-- TMPL_IF name= "invoiceincgst" -->
                    <input type="radio" id="invoice_gstyes" name="invoice_gst" value="1" checked="checked" /><label for="invoice_gstyes">incluye GST</label>
                    <input type="radio" id="invoice_gstno" name="invoice_gst" value="0" /><label for="invoice_gstno">no incluye GST</label>
					<!-- TMPL_ELSE -->
                    <input type="radio" id="invoice_gstyes" name="invoice_gst" value="1"><label for="invoice_gstyes">incluye GST</label>
                    <input type="radio" id="invoice_gstno" name="invoice_gst" value="0" checked="checked" /><label for="invoice_gstno">no incluye GST</label>
				<!-- /TMPL_IF --></li><!-- /TMPL_IF -->
            <li><label for="discount">Descuento</label>
                <input type="text" size="3" id="discount" name="discount" value="<!-- TMPL_VAR NAME="discount" -->" /> %</li>
            <li><label for="notes">Notas</label>
                <textarea cols="40" rows="4" id="notes" name="notes" ><!-- TMPL_VAR NAME="notes" --></textarea></li></ol>			
			<!-- TMPL_UNLESS NAME="GST" -->
				<input type="hidden" name="gst" value="0" />
				<input type="hidden" name="list_gst" value="0" />
				<input type="hidden"  name="invoice_gst" value="0" />
			<!-- /TMPL_UNLESS -->
        </fieldset>
        <fieldset class="action"><input type="button" value="Guardar" onclick="check(this.form);"> <a class="cancel" href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="id" -->">Cancelar</a></fieldset>
		</div>
    </form>
<!--TMPL_ELSE-->
    <h1><!-- TMPL_VAR NAME="name" --></h1>
		<div class="yui-g">
        <div id="supplier-company-details" class="yui-u first">
            <p><strong>Nombre de la compañía: </strong>
                <!-- TMPL_VAR NAME="name" --></p>
            <p><strong>Direcci&oacute;n postal: </strong>
                    <!-- TMPL_VAR NAME="postal" --></p>
            <p><strong>Dirección: </strong>
                <!-- TMPL_VAR NAME="address1" --><!-- TMPL_VAR NAME="address2" --><!-- TMPL_VAR NAME="address3" --><!-- TMPL_VAR NAME="address4" --></p>
            <p><strong>Teléfono: </strong>
                <!-- TMPL_VAR NAME="phone" --></p>
            <p><strong>Fax: </strong>
                <!-- TMPL_VAR NAME="fax" --></p>
           <!-- TMPL_IF NAME="url" --> <p><strong>Sitio web: </strong>
                <a href="<!-- TMPL_VAR NAME="url" -->"><!-- TMPL_VAR NAME="url" --></a></p><!-- /TMPL_IF -->
        </div>
        <div id="supplier-contact-details" class="yui-u">
            <h3>Detalles de contacto</h3>
            <p><strong>Nombre del contacto: </strong>
                <!-- TMPL_VAR NAME="contact" --></p>
            <p><strong>Posici&oacute;n: </strong>
                <!-- TMPL_VAR NAME="contpos" --></p>
            <p><strong>Teléfono: </strong>
                <!-- TMPL_VAR NAME="contphone" --></p>
            <p><strong>Teléfono alternativo: </strong>
                <!-- TMPL_VAR NAME="contaltphone" --></p>
            <p><strong>Fax: </strong>
                <!-- TMPL_VAR NAME="contfax" --></p>
            <!-- TMPL_IF NAME="contemail" --><p><strong>E-Mail: </strong>
                <a href="mailto:<!-- TMPL_VAR NAME="contemail" -->"><!-- TMPL_VAR NAME="contemail" --></a></p><!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="contnotes" --><p><strong>Notas: </strong>
                <!-- TMPL_VAR NAME="contnotes" --></p><!-- /TMPL_IF -->
        
        </div>
		</div>
        <div id="supplier-ordering-information" class="yui-g">
        <h3>Informaci&oacute;n del pedido</h3>
            <p><strong>El proveedorr es: </strong>
                    <!-- TMPL_IF name="active" -->
                        Activo
                    <!-- TMPL_ELSE -->
                        Inactivo
                    <!-- /TMPL_IF --></p>
            <p><strong>Editores e imprints </strong>
                <!-- TMPL_VAR NAME="specialty" --></p>
            <p><strong>Los precios de lista son: </strong><!--TMPL_VAR Name="listprice"--></p>
            <p><strong>Los precios de la factura son: </strong><!--TMPL_VAR Name="invoiceprice"--></p>
            <!-- TMPL_IF NAME="GST" --><p><strong>Registrado GST:  </strong>
                    <!-- TMPL_IF name="gstreg" -->Si<!--TMPL_ELSE-->No<!-- /TMPL_IF --></p>
            <p><strong>Precio unitario de lista incluye GST: </strong>
                    <!-- TMPL_IF name="listincgst" -->Si<!--TMPL_ELSE-->No<!-- /TMPL_IF --></p>
            <p><strong>El precio unitario de la factura incluye GST: </strong>
                    <!-- TMPL_IF name= "invoiceincgst" -->Si<!--TMPL_ELSE-->No<!-- /TMPL_IF --></p><!-- /TMPL_IF -->
            <p><strong>Descuento: </strong>
                <!-- TMPL_VAR NAME="discount" --> %</p>
            <!-- TMPL_IF NAME="notes" --><p><strong>Notas: </strong>
                <!-- TMPL_VAR NAME="notes" --></p><!-- /TMPL_IF -->
        </div>

<!--/TMPL_IF-->

</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
