<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	   
<h3>Facturación</h3>

<p>Este informe lista todas lascuentas pendientes en su sistema de bibliotecas.</p>
<p>los filtros de la izquierda pueden ayudar a limitar los resultados mostrados en este informe.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->