<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	   
<h3>Multas por retrasos</h3>

<p>This report shows items that:
<ul>
    <li>are still checked out,</li>
    <li>have not had a notice sent, and</li>
    <li>already have an associated fine (type &quot;FU&quot;).</li>
</ul>

<p>Este informe no le mostrará los items con tanto retraso que el sistema ya los ha marcado como 'Perdidos'.</p>

<p>Una vez abierto el informe se puede filtrar por la ubicación del estante.</p>

