<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Transferencias de circulación</h1>

<p>   
   Esta herramienta permite la reasignaci&oacute;n de un ítem a otra sede.</p>
	<ul>
		<li>	   
	   Haga clic en 'Transfeirr' en el menú de circulación</li>
		<li>	   
	   Seleccione la biblioteca a la que quiere transferir el libro </li>
		<li>	   
	   Ingrese el código de barras del libro que desee transferir
		<ul>
			<li>		   
		   Si trata de trasnferir un ítem ya se encuentra en la biblioteca de destino, se le presentará un mensaje a la derecha del formulario de transferencia indicándole que el ítem ya se encuentra allí.</li>
		</ul></li>
		<li>	   
	   Se le presentará una confirmación de solicitudes de transferencia debajo del formulario de transferencia después de pulsar 'Enviar'</li>
		<li>	   
	   Al examinar el registro de un ítem, permanecerá la  'Biblioteca de origen', pero la 'Ubicación actual' ha cambiado</li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->
