<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de circulación</h1><h2>¿Qué puedo hacer en Circulación?</h2>

<p>Circulaci&oacute;n es la actividad de prestar y receptar devoluciones de usuarios. </p><p>Koha usa los siguientes términos:</p><ul><li><strong>Préstamo </strong>= n&uacute;mero de un art&iacute;lo a un socio</li><li><strong>Devolución</strong> = devoluci&oacute;n  de un registro por un socio</li><li><strong>Transferencia</strong> = usado para cambiar la sede que posee un ítem </li><li><strong>Reservas</strong> = art&iacute;los que los socios han solicitado</li></ul><br /><h3>INFORMACIÓN: Configuración de sede e impresora.
</h3> Antes de comenzar, es muy importante que tome nota de la sede y la configuración de impresora, cambiandolos de ser necesario. Esto será necesario la primera vez que realice préstamos desde un puesto de trabajo, después de lo cual una cookie del navegador recordará los parámetros correctos. Si realiza préstamos bajo una sede incorrecta Koha reasignará la ubicación de todos los items circulados a la sede incorrecta y los informes estadísticos acreditaran toda la circulación a la sede incorrecta.     

<!-- TMPL_INCLUDE name="help-bottom.inc" -->