<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Retrasos</h1>

<p>Esta página le mostrará todos los items que están retrasados a partir de hoy.<br/><br/>Este informe ofrece un par de opciones para el manejo de retrasos:</p>
		<ul>
			<li>Puede pulsar el enlace [email] junto al nombre del usuario para enviar una notificación sobre el ítem atrasado.</li>
			<li>Puede exportar estos datos como un archivo CSV pulsando 'Descargar archivo de retrasos' </li>
		</ul>
