<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Reservas pendientes, Ayuda</h1>

<h2>¿Qué es una &quot;Reserva pendiente&quot;?</h2>
 
<p>Una reserva pendiente es una reserva hecha por un socio que no ha sido satizfecha. Es decir el socio tiene el ítem a su dispocisión para ser retirado.</p>
<p>Este informe indica todos los items que tiene reservas y que están en la biblioteca.</p>

<h2>¿Cómo sale una reserva de esta lista?</h2>
<p>Localizar el ítem en el estante y luego en Circulación, escanear o introducir el código de barras del ítem a ser devuelto. El tema ahora ha sido &quot;visto&quot; por Koha y el estado ha cambiado. El ítem aparecerá ahora en el informa &quot;Reservas esperando ser retiradas&quot;.</p>
<p style="background-color: #ffe599">   CONSEJO: este informe es aplicable únicamente si la preferencia del  sistema ReserveNeedReturn está en on.</p>
	<ul>
		<li><em>Llegar::</em> Más&gt; Administración&gt; Preferencias generales&gt; Circulación</li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->