<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Proporción de reservas</h1>

<p>Esto le mostrará el número de items que tiene que pedir a fin de que su biblioteca pueda satisfacer su proporción de reservas por ítem. Por defecto se configurará que la biblioteca necesita 3 items por reserva. En el informe se le dirá cuántos items adicionales deben adquirirse para cumplir con esta cuota. </p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->

