<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Seleccionar Biblioteca:</h1>

<p>Hay dos maneras de fijar la sede de origen:</p>
    <p style="color: #ff0000">
IMPORTANTE: No podrá realizar funciones de circulación sin seleccionar una biblioteca.</p>
	<ul>
		<li>	   
	   Usualmente se establece la sede de origen cuando se agrega un socio del personal (ver como se agregan socios del personal en este manual). Cuando un empleado ingresa a su cuenta, la sede de origen se establece automáticamente. Se puede ver la sede en las parte superior derecha de la interfaz del personal.</li>
		<li>	   
	   Si no ha seleccionado biblioteca verá un aviso al respecto.</li>
		<li>	   
	   Para seleccionar la biblioteca activa puede hacer clic en '(Seleccionar)' a la derecha de la etiqueta 'Biblioteca no seleccionada'</li>
		<li>	   
	   La otra forma de seleccionar la biblioteca es cliequear en 'Seleccionar biblioteca' en la página principal de circulación</li>
		<li>	   
	   Seleccione la sede local  del menú </li>
		<li>	   
	   Haga clic en 'Enviar'' </li>
	</ul>
	
	<h2>¿Qué es la sede de origen?</h2>
<p>   
   La sede principal es la sede que Ud. desea sea registrada como de origen de las funciones de circulación minetras permanece ingresado.</p>
<p>   
   Por ejemplo, si su sede está en  'Biblioteca Principal' cualquiera de los items prestados a un socio se considera que es prestado desde la 'Biblioteca Principal'. Un ítem transferido desde la 'Biblioteca Principal'  se registra como transferidos desde la 'Biblioteca Principal'.</p>
   
   <h2>¿Porqué debo establecer una rama principal?</h2>
<p>   
   Configurar su sede principal es crítico. Eso permite a Koha registrar estadísticas con precisión, circulación (de que sede se ha prestado o devuelto un ítem), y transferencias.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->