<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de transferencias a recibir</h1>

<p>El presente informe depende de la preferencia del sistema 'TransfersMaxDaysWarning'. Si los items no se transfieren por el número de días que se define en esta preferencia una advertencia será emitida a través del enlace 'controlar esta transferencia'.</p>
	<ul>
		<li><em>Llegar::</em> Más&gt; Administración&gt; Preferencias generales&gt; Circulación&gt; TransfersMaxDaysWarning</li>
	</ul>
	
<h2>¿Qué es una Transferencia a recibir?</h2>
<p>Este informe muestra todos los items de otras bibliotecas/sedes que están en tránsito hacia su sede. La situación de todos estos items se marca como &quot;En tránsito&quot;</p>

<h2>¿Cómo proceso una trasferencia a recibir?</h2>
<p>Una vez que el ítem ha llegado físicamente a su sede, haga clic en 'Recibir ítem'. Esto cambiará el estado del ítem de 'En tránsito' a 'Esperando'. El ítem será mostrado ahora enel informe de  'Reservas esperando ser retiradas'.</p>
