<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Cola de reservas</h1>

<p>En este informe se enumeran las próximas reservas en espera (una por registro) dependiendo de cómo están establecidas las preferencias del sistema</p>
		<ul>
			<li>StaticHoldsQueueWeight<br/>Permite la biblioteca especificar códigos de ubicación de biblioteca -- si se utiliza de manera aislada, se obtendrá un rango estático en el cual se seleccionará la ubicación en primer lugar para ser agregada a la lista de selección.</li>
			<li>RandomizeHoldsQueueWeight<br/>Si se establecen 'RandomizeHoldsQueueWeight' y 'StaticHoldsQueueWeight', la lista de códigos de biblioteca en la preferencia del sistema 'StaticHoldsQueueWeight' se ordenan aleatóriamente en vez de estáticamente. Si solo se establece 'RandomizeHoldsQueueWeight', la lista de todos los códigos de biblioteca se utilizan para dar un "peso' aleatorio.</li>
		</ul><br/>Si ni 'RandomizeHoldsQueueWeight' o 'StaticHoldsQueueWeight' están seteados, la cola de reservas se ordena estáticamente de acuerdo a cuando se sacaron de la base de datos.<br/>
		<ul>
			<li><em>Llegar:</em> Más&gt; Administración &gt; Preferencias &gt; Circulación</li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->