<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Tools &rsaquo; Batch Item Edit</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
<link type="text/css" rel="stylesheet" href="<!-- TMPL_VAR NAME="themelang" -->/css/addbiblio.css" />
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc"-->
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; <!-- TMPL_IF NAME="loop" --><a href="/cgi-bin/koha/tools/batchitemedit.pl">Batch Item Edit</a> &rsaquo; Results<!-- TMPL_ELSE -->Batch Item Edit<!-- /TMPL_IF --></div>


<div id="doc3" class="yui-t2">

   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
    <h1>
        Batch Edit Items
    </h1>

<!-- TMPL_IF NAME="completed" -->

  <!-- TMPL_IF NAME="edit_complete" -->
  <!-- TODO make this more like the inventory results screen -->
    <p>
      <!-- TMPL_IF NAME="items_updated" -->
          <!-- TMPL_VAR NAME="items_updated" --> Items processed
      <!-- TMPL_ELSE -->
          No items processed on that selection
      <!-- /TMPL_IF -->
    </p>
    <!-- TMPL_LOOP NAME="itemsloop" -->
      <p>
        Barcode:<!-- TMPL_VAR NAME="barcode" -->&nbsp;
        <!-- This is bogus as the routines do not return success/ failure -->
        <!-- TMPL_IF NAME="updated" -->
          <!-- TMPL_UNLESS warnings -->
            Successfully
          <!-- /TMPL_UNLESS -->
           Updated
        <!-- TMPL_ELSE -->
          Failed to Update
          <!-- TMPL_IF NAME="error" -->
              : <!-- TMPL_VAR NAME="error" -->
          <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->

        <!-- TMPL_VAR NAME="itemnumber" -->
        <!-- TMPL_IF warnings -->
            <!-- TMPL_LOOP warnings -->
                <span class="warning"> [ <!-- TMPL_VAR field --> not updated; <!-- TMPL_VAR warning --> ]</span>
            <!-- /TMPL_LOOP -->
        <!-- /TMPL_IF -->
      </p>
    <!-- /TMPL_LOOP -->

    <!-- TMPL_LOOP notfound -->
        <p class="error">Barcode: <!-- TMPL_VAR barcode --> [not found] </p>
    <!-- /TMPL_LOOP -->

  <fieldset class="action">
    <a class="refresh" href="/cgi-bin/koha/tools/batchitemedit.pl"> Enter New Selection</a>
    <a class="cancel" href="/cgi-bin/koha/tools/tools-home.pl">Leave</a>
  </fieldset>
<!-- /TMPL_IF --> <!-- edit completed -->

<!-- TMPL_IF NAME="delete_complete" -->
  <p>
      <!-- TMPL_IF NAME="items_updated" -->
          <!-- TMPL_VAR NAME="items_updated" --> Items flagged for deletion
      <!-- TMPL_ELSE -->
          No items selected for deletion
      <!-- /TMPL_IF -->
  </p>

  <!-- TMPL_IF NAME="items_updated" -->
  <p>The list of selected items is delete list <!-- TMPL_VAR NAME="delete_list_id" --></p>
  <!-- /TMPL_IF -->
    <!-- TMPL_LOOP NAME="itemsloop" -->
      <p>Barcode:<!-- TMPL_VAR NAME="barcode" -->&nbsp;</p>
    <!-- /TMPL_LOOP -->
  <fieldset class="action">
    <a class="refresh" href="/cgi-bin/koha/tools/batchitemedit.pl"> Enter New Selection</a>
    <a class="refresh" href="/cgi-bin/koha/tools/viewitemdeletelist.pl?list_id=<!-- TMPL_VAR NAME="delete_list_id" -->"> View Delete List</a>
    <a class="cancel" href="/cgi-bin/koha/tools/tools-home.pl">Leave</a>
  </fieldset>
<!-- /TMPL_IF --> <!-- delete completed -->

<!-- TMPL_ELSE -->

<!-- itemnumber biblionumber biblioitemnumber barcode dateaccessioned booksellerid homebranch price replacementprice
replacementpricedate datelastborrowed datelastseen stack notforloan damaged itemlost wthdrawn itemcallnumber
issues renewals reserves restricted itemnotes holdingbranch paidfor timestamp location permanent_location
onloan cn_source cn_sort ccode materials uri itype more_subfields_xml enumchron copynumber -->
<p>Select the field values you wish to select on and the fields and values you wish to update </p>

<form name="form" id="entryform"  action="/cgi-bin/koha/tools/batchitemedit.pl" method="post" enctype="multipart/form-data">


<table border="0">
        <tr valign="top">
        <th>Item field</th>
        <th>Select On</th>
        <th>Select value</th>
        <th>&nbsp;</th>
        <th>Update</th>
        <th>New Value</th>
        </tr>
        <tr valign="top">
      <!-- homebranch -->
        <td align="right">Library:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_homebranch" value="select_homebranch"  />
        </td>
        <td align="left">
            <select name="homebranch">
            <!-- TMPL_LOOP NAME="branchloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_homebranch" value="change_homebranch"  />
        </td>
        <td align="left">
            <select name="new_homebranch">
            <!-- TMPL_LOOP NAME="branchloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr valign="top">
      <!-- itype -->
        <td align="right">Item Type:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_itype" value="select_itype"  />
        </td>
        <td align="left">
            <select name="itype">
            <!-- TMPL_LOOP NAME="itemtypeloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_itype" value="change_itype"  />
        </td>
        <td align="left">
            <select name="new_itype">
            <!-- TMPL_LOOP NAME="itemtypeloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr>
      <!-- location -->
        <td align="right">Location:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_location" value="select_location"  />
        </td>
        <td align="left">
            <select name="location">
            <!-- TMPL_LOOP NAME="shelvinglocationloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_location" value="change_location"  />
        </td>
        <td align="left">
            <select name="new_location">
            <!-- TMPL_LOOP NAME="shelvinglocationloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr valign="top">
      <!-- permanent_location -->
        <td align="right">Permanent Location:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_permanent_location" value="select_permanent_location"  />
        </td>
        <td align="left">
            <select name="permanent_location">
            <!-- TMPL_LOOP NAME="shelvinglocationloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_permanent_location" value="change_permanent_location"  />
        </td>
        <td align="left">
            <select name="new_permanent_location">
            <!-- TMPL_LOOP NAME="shelvinglocationloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <!-- stack -->
        <tr><!-- notforloan -->
        <td align="right">Not For Loan:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_notforloan" value="select_notforloan"  />
        </td>
        <td align="left">
            <select name="notforloan">
            <!-- TMPL_LOOP NAME="nflloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_notforloan" value="change_notforloan"  />
        </td>
        <td align="left">
            <select name="new_notforloan">
            <!-- TMPL_LOOP NAME="nflloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr><!-- damaged -->
        <td align="right">Damaged:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_damaged" value="select_damaged"  />
        </td>
        <td align="left">
            <select name="damaged">
            <!-- TMPL_LOOP NAME="damagedloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_damaged" value="change_damaged"  />
        </td>
        <td align="left">
            <select name="new_damaged">
            <!-- TMPL_LOOP NAME="damagedloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr><!-- itemlost -->
        <td align="right">Lost status:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_itemlost" value="select_itemlost"  />
        </td>
        <td align="left">
            <select name="itemlost">
            <!-- TMPL_LOOP NAME="lostloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_itemlost" value="change_itemlost"  />
        </td>
        <td align="left">
            <select name="new_itemlost">
            <!-- TMPL_LOOP NAME="lostloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr><!-- wthdrawn -->
        <td align="right">Withdrawn status:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_wthdrawn" value="select_wthdrawn"  />
        </td>
        <td align="left">
            <select name="wthdrawn">
            <!-- TMPL_LOOP NAME="withdrawnloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_wthdrawn" value="change_wthdrawn"  />
        </td>
        <td align="left">
            <select name="new_wthdrawn">
            <!-- TMPL_LOOP NAME="withdrawnloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr><!-- restricted -->
        <td align="right">Use Restrictions:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_restricted" value="select_restricted"  />
        </td>
        <td align="left">
            <select name="restricted">
            <!-- TMPL_LOOP NAME="userestrictionloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_restricted" value="change_restricted"  />
        </td>
        <td align="left">
            <select name="new_restricted">
            <!-- TMPL_LOOP NAME="userestrictionloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
      <!-- itemnotes -->
        <tr valign="top">
      <!-- holdingbranch -->
        <td align="right">Holding Branch:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_holdingbranch" value="select_holdingbranch"  />
        </td>
        <td align="left">
            <select name="holdingbranch">
            <!-- TMPL_LOOP NAME="branchloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_holdingbranch" value="change_holdingbranch"  />
        </td>
        <td align="left">
            <select name="new_holdingbranch">
            <!-- TMPL_LOOP NAME="branchloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr valign="top">
      <!-- ccode -->
        <td align="right">Collection Code:</td>
        <td align="left">
            Select?
            <input type="checkbox" name="select_ccode" value="select_ccode"  />
        </td>
        <td align="left">
            <select name="ccode">
            <!-- TMPL_LOOP NAME="collectioncodeloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        <td>&nbsp;</td>
        <td align="left">
            Change?
            <input type="checkbox" name="change_ccode" value="change_ccode"  />
        </td>
        <td align="left">
            <select name="new_ccode">
            <!-- TMPL_LOOP NAME="collectioncodeloop" -->
            <option value="<!--TMPL_VAR NAME="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="description" -->
            </option>
            <!-- /TMPL_LOOP -->
            </select>
        </td>
        </tr>
        <tr><td colspan="3" >On you can upload a file of barcode numbers to change</td><td colspan="3"></td></tr>
        <tr><td>&nbsp;</td>
            <td><label for="uploadbarcodes">Barcode file:</label></td>
            <td><input type="file" id="uploadbarcodes" name="uploadbarcodes" /></td>
            <td colspan="3"></td>
        </tr>
</table>
<fieldset class="action">
<input type="submit" name="confirm"  value="Proceed" />
<input type="submit" name="confirm"  value="Delete" />
<a class="refresh" href="/cgi-bin/koha/tools/batchitemedit.pl"> Refresh Selection</a>
<a class="cancel" href="/cgi-bin/koha/tools/tools-home.pl">Cancel</a>
</fieldset>
<!--    <input type="hidden" name="update" id="update" value="1" /> -->
</form>

<!-- /TMPL_IF -->
</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="tools-menu.inc" -->

</div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

