<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Print Receipt for <!-- TMPL_VAR NAME="cardnumber" --></title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="<!-- TMPL_VAR NAME="themelang" -->/includes/favicon.ico" type="image/x-icon" />

<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang" -->/css/print.css" />

<script>
(function( $ ){
  $.fn.truncate = function() {
	this.html( this.html().substring( 0, this.attr('truncate') ) );
  };
})( jQuery );
</script>

<script language="javascript">
$(document).ready(function() {
	$('[truncate]').each( function(){ $(this).truncate(); });

//        window.print();
//        window.close();

});
</script>

</head>
<body>

<div id="receipt">

<!-- TMPL_VAR NAME="output" -->

</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
