<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Print Receipt for <!-- TMPL_VAR NAME="cardnumber" --></title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="<!-- TMPL_VAR NAME="themelang" -->/includes/favicon.ico" type="image/x-icon" />

<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang" -->/css/print.css" />

<script>
(function( $ ){
  $.fn.truncate = function() {
	this.html( this.html().substring( 0, this.attr('truncate') ) );
  };
})( jQuery );
</script>

<script>
$(function(){
   
    // Create overlay and append to body:
    $('<div id="overlay"/>').css({
        position: 'fixed',
        top: 0,
        left: 0,
        width: '100%',
        height: $(window).height() + 'px',
        background: 'white url(/intranet-tmpl/prog/img/loading.gif) no-repeat center'
    }).hide().appendTo('body');
   
});
</script>

<script language="javascript">
$(document).ready(function() {
	$('[truncate]').each( function(){ $(this).truncate(); });

	if ( <!-- TMPL_VAR NAME="delay_load" --> ) {
		if (location.href.indexOf('reloaded')==-1) {
			$('#overlay').show();
			window.setTimeout( 'reload_page()', 2000 );
		} else {
			print_receipt();
		}
	} else {
		print_receipt();
	}

});
</script>

<script>
function reload_page(){
	location.replace( location.href + '&reloaded=1' );
} 

function print_receipt(){
        window.print();
        window.close();
}
</script>

</head>
<body>

<div id="receipt">

<!-- TMPL_VAR NAME="output" -->

</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
