<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Tools &rsaquo; Receipt Templates<!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF name="modify" --> &rsaquo; Modify Receipt Template<!-- TMPL_ELSE --> &rsaquo; Add Receipt Template<!-- /TMPL_IF --><!-- /TMPL_IF --><!-- TMPL_IF NAME="add_validate" --> &rsaquo; Receipt Template added<!-- /TMPL_IF --><!-- TMPL_IF NAME="delete_confirm" --> &rsaquo; Confirm Deletion<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="letters-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; <!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF name="modify" --><a href="/cgi-bin/koha/tools/receipt_template_manager.pl">Receipt Templates</a> &rsaquo; Modify Receipt Template<!-- TMPL_ELSE --> <a href="/cgi-bin/koha/tools/receipt_template_manager.pl">Receipt Templates</a> &rsaquo; Add Receipt Template<!-- /TMPL_IF --><!-- TMPL_ELSE --><!-- TMPL_IF NAME="add_validate" --> <a href="/cgi-bin/koha/tools/receipt_template_manager.pl">Receipt Templates</a> &rsaquo; Receipt Template added<!-- TMPL_ELSE --><!-- TMPL_IF NAME="delete_confirm" --> <a href="/cgi-bin/koha/tools/receipt_template_manager.pl">Receipt Templates</a> &rsaquo; Confirm Deletion<!-- TMPL_ELSE -->Receipt Templates<!-- /TMPL_IF --><!-- /TMPL_IF --><!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

	<!-- TMPL_IF NAME="assignments_saved" -->
		<h3>Receipt Template Assignments Saved.</h3>
	<!-- /TMPL_IF -->

	<form>
                <table>
                        <tr>
				<th>Module</th>
                                <th>Action</th>
                                <th>Template</th>
                        </tr>

			<!-- TMPL_LOOP NAME="actions_loop" -->
	                        <tr>
					<td>
						<!-- TMPL_IF NAME="module_circulation"-->Circulation<!-- /TMPL_IF -->
						<!-- TMPL_IF NAME="module_holds"-->Holds<!-- /TMPL_IF -->
						<!-- TMPL_IF NAME="module_payments"-->Payments<!-- /TMPL_IF -->
					</td>
                	                <td><!-- TMPL_VAR NAME="action" --></td>
                        	        <td>
                                	        <select name="<!-- TMPL_VAR NAME="action" -->"> 
	                                                <option value="">No Receipt</option>
							<!-- TMPL_LOOP NAME="select_loop" -->
								<option value="<!-- TMPL_VAR NAME="code" -->" <!-- TMPL_IF NAME="selected" -->selected<!-- /TMPL_IF -->>
									<!-- TMPL_VAR NAME="name" --> ( <!-- TMPL_VAR NAME="code" --> )
								</option>
							<!-- /TMPL_LOOP -->
	                                        </select>

	                                </td>
        	                </tr>
			<!-- /TMPL_LOOP -->
		</table>

		<p>
			<input type="submit" name="save_assignments" value="Save Assignments" />
			<input type="submit" name="cancel_assignments" value="Cancel Assignments" />
		</p>
	</form>	
</div>
</div>
<!-- TMPL_UNLESS NAME="add_form" -->
    <div class="yui-b noprint">
        <!-- TMPL_INCLUDE NAME="tools-menu.inc" -->
    </div>
<!-- /TMPL_UNLESS -->
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
