<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; Administraci&oacute;n</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main" class="sysprefs">
	<div class="yui-g"><h1>Koha Administration</h1></div>
	<div class="yui-g">

<div class="yui-u first">
<form action="/cgi-bin/koha/admin/systempreferences.pl" method="post">
<fieldset>
<h4><a href="/cgi-bin/koha/admin/systempreferences.pl">Preferencias globales del sistema</a></h4>
	<p>Administra preferencias del sistema globales tales como estilo MARC, formato de fecha, email del administrador, y plantillas.</p>
		<input type="hidden" value="all" name="tab" />
        <input type="text" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
        <input type="submit" name="ok" class="submit" value="Buscar">
</fieldset>
</form>


<div class="hint"><h4>Consejo:</h4><p>Configure estos par&aacute;metros en el orden que aparecen.</p></div>
<h3>Par&aacute;metros b&aacute;sicos</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/branches.pl">Libraries and groups</a></dt>
	<dd>Define libraries and groups.</dd>
	<dt><a href="/cgi-bin/koha/admin/aqbookfund.pl">Fondos y presupuestos</a></dt>
	<dd>Administración de fondos y presupuestos para adquisiciones</dd>
	<dt><a href="/cgi-bin/koha/admin/currency.pl">Monedas y tipo de cambio</a></dt>
	<dd>Defina monetas y tipos de cambio para adquisiciones.</dd>
	<dt><a href="/cgi-bin/koha/admin/itemtypes.pl">Item types</a></dt>
	<dd>Define item types used for circulation rules.</dd>
</dl>

<h3>Socios y ciculación</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/categorie.pl">Categorías de socio</a></dt>
	<dd>Defina las categor&iacute;as de los usuarios.</dd>
	<dt><a href="/cgi-bin/koha/admin/cities.pl">Ciudades y pueblos</a></dt>
	<dd>Defina localidades y ciudades de sus usuarios.</dd>
	<dt><a href="/cgi-bin/koha/admin/roadtype.pl" >Tipos de camino</a>
	</dt>
	<dd>Defina tipos de calles (calle, avenida, pasaje, etc.). Los tipos de calles se despliegan como valores autorizados cuando se agregan/modifican datos de usuarios y pueden ser usados en estad&iacute;sticas geogr&aacute;ficas.</dd>
	<dt><a href="/cgi-bin/koha/admin/patron-attr-types.pl">Tipos de atributo de socio</a></dt>
	<dd>Definir los atributos extendidos (identificadores y categorías estadística) para los registros de usuarios</dd>
	<dt><a href="/cgi-bin/koha/admin/smart-rules.pl">Reglas de circulación y multas</a></dt>
	<dd>Define reglas de circulación y multas para conjuntos de bibliotecas, categorías de usuarios y tipos de items </dd>
	<dt><a href="/cgi-bin/koha/admin/branch_transfer_limits.pl">Library Transfer Limits</a></dt>
	<dd>Limit the ability to transfer items between libraries based on the library sending, the library receiving, and the item type involved. These rules only go into effect if the preference UseBranchTransferLimits is set to ON.</dd>
	<dt><a href="/cgi-bin/koha/admin/item_circulation_alerts.pl">Item Circulation Alerts</a></dt>
	<dd>Define rules for check-in and checkout notifications for combinations of libraries, patron categories, and item types</dd>
	<dt><a href="/cgi-bin/koha/admin/itemstatus.pl">Other item status</a></dt>
	<dd>Define other item status values, their availability, and ability to be placed on hold</dd>
</dl>
</div>
<div class="yui-u">
<h3>Cat&aacute;logo</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/authorised_values.pl">Valores autorizados</a></dt>
	<dd>Defina categorías y valores autorizados para ellas.</dd>
	<dt><a href="/cgi-bin/koha/admin/biblio_framework.pl">Hojas de trabajo bibliográficas MARC</a></dt>
	<dd>Crear y gestionar hojas de trabajo para registros bibliogr&aacute;ficos que definen las caracter&iacute;sticas de sus registros MARC (definiciones de campos y subcampos) como tambi&eacute;n las plantillas usadas en el editor MARC.</dd>
	<dt><a href="/cgi-bin/koha/admin/koha2marclinks.pl">Correspondencia Koha - MARC</a></dt>
	<dd>Definir equivalencias entre la base de datos estándar de Koha y la base MARC. Note que estas equivalencias pueden ser definidas en la estructura MARC. Esta herramienta es sólo un atajo para acelerar el trabajo.</dd>
	<dt><a href="/cgi-bin/koha/admin/checkmarc.pl">Prueba de las hojas de trabajo bibliográficas MARC</a></dt>
	<dd>Verifica la estructura MARC. Si modifica  su hoja de trabajo, recomendamos que utilice esta herramiento para chequear errores en su definici&oacute;n de formato.</dd>
    <dt><a href="/cgi-bin/koha/admin/authtypes.pl">Tipos de autoridad</a></dt>
    <dd>Crear y gestionar hojas de trabajo para autoridades. Estas definen las caracter&iacute;sticas de sus registros MARC (definiciones de campos y subcampos).</dd>
    <dt><a href="/cgi-bin/koha/admin/classsources.pl">Fuentes de clasificaci&oacute;n</a></dt>
    <dd>Defina fuentes de clasificaci&oacute;n (esquemas para signaturas) usados en su colecci&oacute;n. Defina tambi&eacute;n reglas de alfabetizaci&oacute;n para ordenar signaturas.</dd>
    <dt><a href="/cgi-bin/koha/admin/matching-rules.pl">Regla de coincidencia de registro</a></dt>
    <dd>Adminstra reglas para buscar coincidencias automáticas en registros MARC durante la importación.</dd>
</dl>

<h3>Par&aacute;metros adicionales</h3>
<dl>
	<!-- TMPL_IF NAME="NoZebra" --><dt><a href="/cgi-bin/koha/admin/stopwords.pl">Palabras eliminadas</a></dt>
	<dd>Palabras ignoradas durante la b&uacute;squeda.</dd><!-- /TMPL_IF -->
	<!-- <dt><a href="/cgi-bin/koha/admin/printers.pl">Network Printers</a></dt>
	<dd>Printers (UNIX paths).</dd> -->
	<dt><a href="/cgi-bin/koha/admin/z3950servers.pl">Clientes Z39.50</a></dt>
	<dd>Defina cuales servidores se usar&aacute;n en el cliente Z39.50.</dd>
</dl>
</div>

</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
