<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo; Estructura de subcampo MARC de autoridad  </title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

	 $(document).ready(function() {
 		$('#subfieldtabs > ul').tabs();
	 });

function displayMoreConstraint(numlayer){
    var thisdiv = document.getElementById(numlayer);
    if(thisdiv.getAttribute("class") == "content_hidden"){
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_visible");
    } else {
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_hidden");
    }
}

//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administraci&oacute;n</a> &rsaquo;
  <!-- TMPL_IF NAME="else" -->Estructura de subcampos (formato) de Autoridades MARC
  <!-- TMPL_ELSE -->a1>Estructura de subcampos MARC de autoridades</a> &rsaquo;
  <!-- /TMPL_IF -->
  <!-- TMPL_IF NAME="delete_confirm" -->¿Confirmar borrado del subcampo <!-- TMPL_VAR NAME="tagsubfield" -->?<!-- /TMPL_IF -->
  <!-- TMPL_IF NAME="delete_confirmed" -->Datos borrados<!-- /TMPL_IF -->
  <!-- TMPL_IF NAME="add_form" -->
  <!-- TMPL_IF NAME="use-heading-flags-p" -->
  <!-- TMPL_IF NAME="heading-edit-subfields-p" -->Editar restricciones de subcampo MARC<!-- /TMPL_IF -->
  <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF -->
  <!-- /TMPL_IF -->
</div>

<div id="doc3" class="yui-t2">

<div id="bd">
    <div id="yui-main">
    <div class="yui-b">

<!-- TMPL_IF NAME="add_form" -->

    <h1><!-- TMPL_IF NAME="use-heading-flags-p" -->
    <!-- TMPL_IF NAME="heading-edit-subfields-p" -->Editar restricciones de subcampo MARC para el campo <!-- TMPL_VAR name="tagfield" --> autoridad <!-- TMPL_VAR name="authtypecode" --><!-- /TMPL_IF -->
    <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF --></h1>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
        <input type="hidden" name="op" value="add_validate" />
        <input type="hidden" name="tagfield" value="<!-- TMPL_VAR name="tagfield" -->" />
        <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR NAME="authtypecode" -->" />
        <fieldset class="action"><input type="submit" class="submit" value="Guardar cambios"> <a class="cancel" href="/cgi-bin/koha/admin/auth_subfields_structure.pl?authtypecode=<!-- TMPL_VAR NAME="authtypecode" -->">Cancelar</a></fieldset>
        <div id="subfieldtabs" class="toptabs numbered">
            <ul>
                <!-- TMPL_LOOP NAME="loop" -->
                    <!-- TMPL_IF NAME="new_subfield" -->
                        <!-- TMPL_IF EXPR="tagfield >=10" --><!-- display new only for > 10 fields -->
                        <li><a href="/cgi-bin/koha/admin/auth_subfields_structure.pl#sub<!-- TMPL_VAR NAME="tagsubfield" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">Nuevo</a></li>
                        <!-- /TMPL_IF -->
                    <!-- TMPL_ELSE -->
                        <li><a href="/cgi-bin/koha/admin/auth_subfields_structure.pl#sub<!-- TMPL_VAR NAME="tagsubfield" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">
                            <!-- TMPL_VAR NAME="tagsubfield" -->
                    </a></li>
                    <!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </ul>

        <!-- TMPL_LOOP NAME="loop" -->
        <div id="sub<!-- TMPL_VAR NAME="tagsubfield" -->field">
			<fieldset class="rows"><ol>

                    <!-- TMPL_IF NAME="new_subfield" -->
                <li><label for="tagsubfieldinput<!-- TMPL_VAR NAME="row" -->">Código de subcampo: </label><!-- TMPL_VAR NAME="tagsubfieldinput" -->&nbsp;</li>
                    <!-- TMPL_ELSE -->
                <li>
                <input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR name="tagsubfield" -->" />
                 </li>
                    <!-- /TMPL_IF -->
                <li><label for="repeatable<!-- TMPL_VAR NAME="row" -->">Repetible </label><!-- TMPL_VAR NAME="repeatable" -->&nbsp;</li>
                <li><label for="mandatory<!-- TMPL_VAR NAME="row" -->">Obligatorio: </label><!-- TMPL_VAR NAME="mandatory" -->&nbsp;</li>
                <li><label for="liblibrarian<!-- TMPL_VAR NAME="row" -->">Texto para bibliotecario: </label><input id="liblibrarian<!-- TMPL_VAR NAME="row" -->" type="text" name="liblibrarian" value="<!-- TMPL_VAR NAME="liblibrarian" -->" size="40" maxlength="80" /></li>
                <li><label for="libopac<!-- TMPL_VAR NAME="row" -->">Texto para el OPAC: </label><input type="text" id="libopac<!-- TMPL_VAR NAME="row" -->" name="libopac" value="<!-- TMPL_VAR NAME="libopac" -->" size="40" maxlength="80" /></li>
                <li><label for="tab<!-- TMPL_VAR NAME="row" -->">Administrador en pestaña: </label> <!-- TMPL_VAR NAME="tab" --> (ignorar significa que el subcampo NO se muestra en el editor de registros)</li>
                <li>
                    <fieldset>
                        <legend>Mostrar</legend>
                        <ol>
                            <li><label for="ohidden<!-- TMPL_VAR NAME="row" -->">OPAC:</label><!-- TMPL_VAR name="ohidden" -->  </li>
                            <li><label for="ihidden<!-- TMPL_VAR NAME="row" -->">Intranet:</label><!-- TMPL_VAR name="ihidden" --> </li>
                            <li><label for="ehidden<!-- TMPL_VAR NAME="row" -->">Editor:</label><!-- TMPL_VAR name="ehidden" --> (ver ayuda en l&iacute;nea)</li>
                        </ol>
                    </fieldset>
                </li>
                <li><label for="isurl<!-- TMPL_VAR NAME="row" -->">Es una URL:</label> <!-- TMPL_VAR NAME="isurl" -->  (si est&aacute; seleccionado, el subcampo es una URL y puede ser cliqueado)</li>
                <li>
                    <fieldset><legend>Ayuda de entrada</legend>	
                        <ol>
                            <li><label for="authorised_value<!-- TMPL_VAR NAME="row" -->">Valor autorizado</label> <!-- TMPL_VAR NAME="authorised_value" --></li>
                            <li><label for="frameworkcode<!-- TMPL_VAR NAME="row" -->">Tesauro:</label> <!-- TMPL_VAR NAME="frameworkcode" --></li>
                            <li><label for="value_builder<!-- TMPL_VAR NAME="row" -->">Plugin: </label> <!-- TMPL_VAR NAME="value_builder" --></li>
                        </ol>
                    </fieldset>
                </li>
            </ol></fieldset><br class="clear" />
        </div>
        <!-- /TMPL_LOOP -->
        </div>
    </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->

	<div class="dialog alert"><h3>Eliminar Subcampo <span class="ex">'<!-- TMPL_VAR NAME="tagsubfield" -->'?</span></h3>
    <form action="<!-- TMPL_VAR NAME="delete_link" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" />
    <table><tr><th scope="row">Subcampo:</th> <td><!-- TMPL_VAR NAME="tagsubfield" --></td></tr>
    <tr><th scope="row">Descripci&oacute;n:</th> <td><!-- TMPL_VAR NAME="liblibrarian" --></td></tr></table>
        <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
        <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
        <input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
        <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR NAME="authtypecode" -->" />
        <input type="submit" class="approve" value="Si, eliminiar este subcampo">
		</form>
		<form action="<!-- TMPL_VAR NAME="delete_link" -->" method="get">
		 <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
        <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
        <input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
        <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR NAME="authtypecode" -->" />
        <input type="submit" class="deny" value="No, no borre">
		</form>
    </form></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->

   <div class="dialog message"> <h3>Datos borrados</h3>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
        <input type="submit" class="approve" value="OK" />
    </form></div>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="else" -->
<h1>Administrar estructura de subcampos (formato) de Autoridades MARC para <!-- TMPL_VAR NAME="tagfield" --> (autoridad: <!--TMPL_VAR NAME="authtypecode" --></h1>
<p>Esta pantalla muestra los subcampos asociados con la etiqueta seleccionada. Puede editar los subcampos o agregar uno nuevo haciendo clic en editar. </p>
<p>La columna <b>campo Koha</b> muestra que el subcampo está conectado a un campo Koha. Koha puede adminstrar una interfaz MARC, o una interfaz Koha. Este enlace asegura que ambas bases de datos están sincronizadas, de manera que pueda cambiar de una interfaz MARC a una Koha con facilidad.</p>

<table>
    <tr>
        <th>Subcampo</th>
        <th>Texto</th>
        <th>Restricciones</th>
        <th>Borrar</th>
    </tr>
    <!-- TMPL_LOOP NAME="loop" -->
    <!-- TMPL_UNLESS NAME="__odd__" -->
    <tr class="highlight">
    <!-- TMPL_ELSE -->
    <tr>
    <!-- /TMPL_IF -->
        <td><!-- TMPL_VAR NAME="tagsubfield" --></td>
        <td>
            <!-- TMPL_IF NAME="subfield_ignored" -->
                    <i><!-- TMPL_VAR NAME="liblibrarian" --></i>
            <!-- TMPL_ELSE -->
                    <!-- TMPL_VAR NAME="liblibrarian" -->
            <!-- /TMPL_IF -->
        </td>
        <td>
            <!-- TMPL_IF NAME="subfield_ignored" -->
                    <i>subcampo ignorado</i>
            <!-- TMPL_ELSE -->
                <strong>Pestaña:</strong><!-- TMPL_VAR NAME="tab" -->,
                <!-- TMPL_IF NAME="kohafield" --> | <strong>Campo Koha:</strong> <!-- TMPL_VAR NAME="kohafield" -->, <!--/TMPL_IF -->
                <!-- TMPL_IF NAME="repeatable" -->Repetible, <!-- TMPL_ELSE -->No repetible,
                <!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="mandatory" -->Obligatorio, <!-- TMPL_ELSE -->No obligatorio,
                <!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="hidden" -->oculto,
                <!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="isurl" -->es una URL,
                <!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="authorised_value" --> | <strong>Valor autorizado:</strong><!-- TMPL_VAR NAME="authorised_value" -->,
                <!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="frameworkcode" --> | <strong>Autoridad:</strong><!-- TMPL_VAR NAME="frameworkcode" -->,
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="value_builder" --> | <strong>Plugin: </strong><!-- TMPL_VAR NAME="value_builder" -->,<!-- /TMPL_IF -->
            <!--/TMPL_IF-->
        </td>
        <td><a href="<!-- TMPL_VAR NAME="delete" -->">Borrar</a></td>
    </tr>
    <!-- /TMPL_LOOP -->
</table>

	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="get">
	<fieldset class="action"><input type="hidden" name="op" value="add_form" />
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR name="edit_tagfield" -->" />
	<input type="hidden" name="authtypecode" value="<!-- TMPL_VAR name="edit_authtypecode" -->" />
	<input type="submit" value="Editar subcampos">
	<a class="cancel" href="auth_tag_structure.pl?searchfield=<!-- TMPl_VAR name="tagfield" -->&amp;authtypecode=<!-- TMPL_VAR name="authtypecode"-->">Cancelar</a></fieldset>
	</form>

    <!-- TMPL_IF NAME="previous" -->
    <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1leftarrow.png" title="anterior" alt="anterior" border="0">
    </a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="next" -->
        <!-- TMPL_VAR NAME="next" -->
    <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1rightarrow.png" title="siguiente" alt="siguiente" border="0">
    </a>
    <!-- /TMPL_IF -->

<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
