<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; Authority Types
<!-- TMPL_IF NAME="add_form" -->
&rsaquo; <!-- TMPL_IF NAME="authtypecode" -->Modificar tipo de autoridad<!-- TMPL_ELSE -->Nuevo tipo de autoridad<!-- /TMPL_IF -->
<!-- TMPL_ELSIF NAME="delete_confirm" -->
&rsaquo; Confirm Deletion of Authority Type
<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function isNotNull(f,noalert) {
	if (f.value.length ==0) {
		return false;
	}
	return true;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function toUC(f) {
	var x=f.value.toUpperCase();
	f.value=x;
	return true;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function Check(f) {
	var _alertString="";
	var alertString2;
	if (f.authtypecode.value.length==0) {
		_alertString += "\n- " + _("Tipo de autoridad : c&oacute;digo ausente");
	}
	if (!(isNotNull(window.document.Aform.authtypetext,1))) {
		_alertString += "\n- " + _("Falta descripci&oacute;n");
	}
	if (_alertString.length==0) {
		document.Aform.submit();
	} else {
		alertString2  = _("El formulario no fue procesado debido a los siguientes problemas");
		alertString2 += "\n------------------------------------------------------------------------------------\n";
		alertString2 += _alertString;
		alert(alertString2);
	}
}

$(document).ready(function() {
    new YAHOO.widget.Button("authtype");
});
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs">
         <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <a href="<!-- TMPL_IF NAME="script_name" -->">Authority Types</a>
<!-- TMPL_IF NAME="add_form" -->
&rsaquo; <!-- TMPL_IF NAME="authtypecode" -->Modificar<!-- TMPL_ELSE -->Nuevo<!-- /TMPL_IF --> Authority Type
<!-- TMPL_ELSIF NAME="delete_confirm" -->
&rsaquo; Confirm Deletion of Authority Type
<!-- /TMPL_IF -->
</div>

<div id="doc3" class="yui-t2">
  <div id="bd">
	<div id="yui-main">
	  <div class="yui-b">

<!-- TMPL_IF NAME="add_form" -->

    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
    <fieldset class="rows">
    <legend>
    <!-- TMPL_IF NAME="authtypecode" -->
        Modificar tipo de autoridad
	<!-- TMPL_ELSE -->
        Nuevo tipo de autoridad
	<!-- /TMPL_IF -->
    </legend>
    <ol>
        <li>
    <!-- TMPL_IF NAME="authtypecode" -->
            <span class="label">Tipo de autoridad</span>
            <input type="hidden" name="op" value="add_validate" />
            <input type="hidden" name="checked" value="0" />
            <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR NAME="authtypecode" -->" /><!-- TMPL_VAR NAME="authtypecode" -->
    <!-- TMPL_ELSE -->
            <label for="authtypecode">Tipo de autoridad: </label>
            <input id="authtypecode" type="text" name="authtypecode" size="10" maxlength="10" onblur="toUC(this)" />
    <!-- /TMPL_IF -->
        </li>
		<li><label for="authtypetext">Descripci&oacute;n: </label><input type="text" id="authtypetext" name="authtypetext" size="40" maxlength="80" value="<!-- TMPL_VAR NAME="authtypetext" ESCAPE="HTML" -->" /></li>
		<li><label for="summary">Resumen: </label><textarea id="summary" name="summary" cols="55" rows="7"><!-- TMPL_VAR NAME="summary" --></textarea></li>
		<li>
		<p class="tip">Nota: para el  "Campo de autoridad a copiar ', introduzca el campo de autoridad que debe ser copiado desde el registro de autoridad al registro bibliográfico. Por ejemplo, en MARC21,  el campo 100 del registro de autoridad debe ser copiado al campo 100 en el registro bibliográfico</p>
		<label for="auth_tag_to_report">Campo de autoridad a copiar: </label><input type="text" id="auth_tag_to_report" name="auth_tag_to_report" size="5" maxlength="3" value="<!-- TMPL_VAR NAME="auth_tag_to_report">" />
		<input type="hidden" name="op" value="add_validate" />
        <!-- TMPL_IF NAME="authtypecode" -->
        <input type="hidden" name="modif" value="1" />
        <!-- /TMPL_IF -->
        </li>
    </ol>
	</fieldset>
	<fieldset class="action"><input type="submit" value="Enviar" onclick="Check(this.form); return false;">
        <a class="cancel" href="<!-- TMPL_VAR NAME="script_name" -->">Cancelar</a>
    </fieldset>
	</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->
		<div class="dialog alert"><h3>Confirmar eliminaci&oacute;n de la definici&oacute;n del formato de autoridad para <span class="ex"><!-- TMPL_VAR NAME="authtypetext" --> (<!-- TMPL_VAR NAME="authtypecode" -->)</span></h3>
	<!-- TMPL_IF NAME="total" -->
		<p>Este registro es utilizado  <strong><!-- TMPL_VAR NAME="total" --></strong> veces</p>
	<!-- /TMPL_IF -->		
			<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" />
			<input type="hidden" name="authtypecode" value="<!-- TMPL_VAR NAME="authtypecode" -->" />
			<fieldset class="action"><input type="submit" class="approve" value="Si, Eliminar">
		</form>
		<form action="<!-- TMPL_VAR NAME="script_name" -->" method="get"><input type="submit" class="deny" value="No, no borre"></form>
		</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="else" -->

<div id="toolbar">
	<ul class="toolbar">
	<li><a id="authtype" href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form">Nuevo tipo de autoridad</a></li>
</ul></div>

<h1>Tipos de autoridad</h1>
<p>Defina primero tipos de autoridades, y a continuación la estructura MARC de las autoridades, de la misma forma en la que se definen tipos de ítems y estructura de campos MARC. Los valores de las autoridades se administran a través de plugins</p>
<table>
	<tr>
		<th>C&oacute;digo</th>
		<th>Descripci&oacute;n</th>
		<th>Resumen</th>
		<th>Campo de autoridad copiado</th>
		<th>&nbsp;</th>
		<th>Editar</th>
		<th>Borrar</th>
	</tr>
	
	<!-- TMPL_LOOP NAME="loop" -->
        <!-- TMPL_IF NAME="__odd__" -->
		<tr>
        <!-- TMPL_ELSE -->
        <tr class="highlight">
        <!-- /TMPL_IF -->
			<td><!-- TMPL_VAR NAME="authtypecode" --></td>
			<td><!-- TMPL_VAR NAME="authtypetext" --></td>
			<td><!-- TMPL_VAR NAME="summary" --></td>
			<td><!-- TMPL_VAR NAME="auth_tag_to_report" --></td>
			<td><a href="auth_tag_structure.pl?authtypecode=<!-- TMPL_VAR NAME="authtypecode" -->" class="button parameters" >estructura MARC</a></td>
			<td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;authtypecode=<!-- TMPL_VAR NAME="authtypecode" escape="HTML" -->">Editar</a></td>
			<td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=delete_confirm&amp;authtypecode=<!-- TMPL_VAR NAME="authtypecode" escape="HTML" -->">Borrar</a></td>
		</tr>
	<!-- /TMPL_LOOP -->
</table>

	<!-- TMPL_IF NAME="previous" --><p><a href="<!-- TMPL_VAR NAME="previous" -->">&lt;&lt; Anterior</a></p><!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="next" --><p><a href="<!-- TMPL_VAR NAME="next" -->">Siguiente &gt;&gt;</a></p><!-- /TMPL_IF -->

<!-- /TMPL_IF -->
</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
