<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo;  Hoja de trabajo MARC de autoridad <!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF NAME="use-heading-flags-p" -->
    <!-- TMPL_IF NAME="heading-modify-tag-p" -->&rsaquo; <!-- TMPL_IF NAME="authtypecode" --><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo<!-- TMPL_ELSE -->Hoja de trabajo predeterminada<!-- /TMPL_IF --> Modificar Etiqueta<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="heading-add-tag-p" -->&rsaquo; <!-- TMPL_IF NAME="authtypecode" --><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo<!-- TMPL_ELSE -->Hoja de trabajo predeterminada<!-- /TMPL_IF --> &rsaquo; Nueva etiqueta<!-- /TMPL_IF -->
    <!-- TMPL_ELSE -->&rsaquo; <!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF --><!-- /TMPL_IF --><!-- TMPL_IF NAME="delete_confirm" -->&rsaquo; <!-- TMPL_IF NAME="authtypecode" --><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo<!-- TMPL_ELSE -->Hoja de trabajo predeterminada<!-- /TMPL_IF --> &rsaquo; Confirmar borrado<!-- /TMPL_IF --><!-- TMPL_IF NAME="delete_confirmed" -->&rsaquo; <!-- TMPL_IF NAME="authtypecode" --><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo<!-- TMPL_ELSE -->Hoja de trabajo predeterminada<!-- /TMPL_IF --> &rsaquo; Datos borrados<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function isNotNull(f,noalert) {
        if (f.value.length ==0) {
return false;
        }
        return true;
    }
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function toUC(f) {
        var x=f.value.toUpperCase();
        f.value=x;
        return true;
    }
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function isNum(v,maybenull) {
    var n = new Number(v.value);
    if (isNaN(n)) {
        return false;
        }
    if (maybenull==0 && v.value=='') {
        return false;
    }
    return true;
    }
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function isDate(f) {
        var t = Date.parse(f.value);
        if (isNaN(t)) {
            return false;
        }
    }
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function Check(f) {
        var ok=1;
        var _alertString="";
        var alertString2;
        if (f.tagfield.value.length==0) {
            _alertString += "\n- " + _("falta el número de etiqueta");
        }
        if (_alertString.length==0) {
            document.Aform.submit();
        } else {
            alertString2  = _("El formulario no fue procesado debido a los siguientes problemas");
            alertString2 += "\n------------------------------------------------------------------------------------\n";
            alertString2 += _alertString;
            alert(alertString2);
        }
    }
    //]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administraci&oacute;n</a> &rsaquo; <!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF NAME="use-heading-flags-p" -->
    <!-- TMPL_IF NAME="heading-modify-tag-p" --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo de autoridad </a> &rsaquo; <!-- TMPL_IF NAME="authtypecode" --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl?authtypecode=<!-- TMPL_VAR NAME="authtypecode" -->"><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo</a><!-- TMPL_ELSE --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo predeterminada</a><!-- /TMPL_IF --> Modificar Etiqueta<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="heading-add-tag-p" --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo de autoridad </a> &rsaquo; <!-- TMPL_IF NAME="authtypecode" --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl?authtypecode=<!-- TMPL_VAR NAME="authtypecode" -->"><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo</a><!-- TMPL_ELSE --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo predeterminada</a><!-- /TMPL_IF --> &rsaquo; Nueva etiqueta<!-- /TMPL_IF -->
    <!-- TMPL_ELSE --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo de autoridad</a> &rsaquo; <!-- TMPL_VAR NAME="action" -->
    <!-- /TMPL_IF -->
    <!-- TMPL_ELSE -->
    <!-- TMPL_IF NAME="delete_confirm" --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo de autoridad </a> &rsaquo;
    <!-- TMPL_IF NAME="authtypecode" --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl?authtypecode=<!-- TMPL_VAR NAME="authtypecode" -->"><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo</a>
    <!-- TMPL_ELSE --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo predeterminada</a><!-- /TMPL_IF --> &rsaquo; Confirmar borrado
    <!-- TMPL_ELSE -->
    <!-- TMPL_IF NAME="delete_confirmed" --><a href="/cgi-bin/koha/admin/auth_tag_structure.pl">Hoja de trabajo de autoridad</a> &rsaquo; Datos Borrardos
    <!-- TMPL_ELSE -->Hoja de trabajos de Autoridades MARC: <!-- TMPL_IF NAME="authtypecode" --><!-- TMPL_VAR NAME="authtypecode" --> Hoja de trabajo
    <!-- TMPL_ELSE -->Hoja de trabajo predeterminada<!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Hoja de trabajos de Autoridades MARC para <!-- TMPL_IF NAME="authtypecode" --><!-- TMPL_VAR NAME="authtypecode" --><!-- TMPL_ELSE -->formato por defecto<!-- /TMPL_IF --></h1>


<!-- TMPL_IF NAME="add_form" -->

    <h2>
    <!-- TMPL_IF NAME="use-heading-flags-p" -->
    <!-- TMPL_IF NAME="heading-modify-tag-p" -->Modificar pestaña<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="heading-add-tag-p" -->Nueva pestaña <!-- /TMPL_IF -->
    <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF -->
    </h2>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
        <input type="hidden" name="op" value="add_validate" />
        <!-- TMPL_IF NAME="heading-modify-tag-p" --><input type="hidden" name="modif" value="1" /><!-- /TMPL_IF -->
        <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR NAME="authtypecode" -->" />
        <fieldset class="rows"><ol>
		<li><span class="label">Etiqueta</span><!-- TMPL_VAR NAME="searchfield" --></li>
        <li><label for="liblibrarian">Texto para Bibliotecarios</label><input type="text" name="liblibrarian" id="liblibrarian" value="<!-- TMPL_VAR NAME="liblibrarian" escape="HTML" -->" size="40" maxlength="100" /></li>
        <li><label for="libopac">Texto para el OPAC</label><input type="text" name="libopac" id="libopac" value="<!-- TMPL_VAR NAME="libopac" escape="HTML" -->" size="40" maxlength="100" /></li>
        <li><label for="repeatable">Repetible</label>
            <!-- TMPL_IF NAME="repeatable" -->
                <input type="checkbox" name="repeatable" id="repeatable" value="1" checked="checked" />
            <!-- TMPL_ELSE -->
                <input type="checkbox" name="repeatable" id="repeatable" value="1" />
            <!-- /TMPL_IF -->
        </li>
        <li><label for="mandatory">Obligatorio</label>
            <!-- TMPL_IF NAME="mandatory" -->
                <input type="checkbox" name="mandatory" id="mandatory" value="1" checked="checked" />
            <!-- TMPL_ELSE -->
                <input type="checkbox" name="mandatory" id="mandatory" value="1" />
            <!-- /TMPL_IF -->
            </li>
        <li><label for="authorised_value">Valor autorizado</label><!-- TMPL_VAR NAME="authorised_value" --> (if you select a value here, the indicators will be limited to the authorized value list)</li>
</ol></fieldset>
        <p><input type="button" value="Enviar" class="button" onclick="Check(this.form)"></p>
    </form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="delete_confirm" -->
		<div class="dialog alert">
		<h3>Confirmar borrado</h3>
		<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
		<table>
			<tr><th scope="row">Etiqueta: </th><td><!-- TMPL_VAR NAME="searchfield" --> <!-- TMPL_VAR NAME="liblibrarian" --></td></tr>
		</table>
        <input type="hidden" name="op" value="delete_confirmed" />
        <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR name="authtypecode" -->" />
        <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
		<input type="submit" value="Si, Eliminar" class="approve"></form>
		<form action="<!-- TMPL_VAR NAME="script_name" -->" method="get"><input type="submit" class="deny" value="No, no borre"></form>
		</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->

  <div class="dialog message">  <h3>Datos borrados</h3>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
    <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR name="authtypecode" -->" />
    <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
    <input type="submit" value="OK" class="submit" />
    </form></div>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="authtype_create" -->

    <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="hidden" name="op" value="authtype_create_confirm" />
        <input type="hidden" name="authtypecode" value="<!-- TMPL_VAR NAME="authtypecode" -->" />
        Crear hojas de trabajo de autoridad para <!-- TMPL_VAR NAME="authtypecode" --> usando
        <select name="existingauthtypecode">
            <option value="">Predeterminado</option>
        <!-- TMPL_LOOP NAME="existingauthtypeloop" -->
            <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="authtypetext" --></option>
        <!-- /TMPL_LOOP -->
        </select>
        <input type="submit" value="OK" class="submit" />
    </form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="else" -->

<div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[
	// prepare DOM for YUI Toolbar
	 $(document).ready(function() {
	    yuiToolbar();
	 });
	// YUI Toolbar Functions
	function yuiToolbar() {
	    new YAHOO.widget.Button("newtag");
	}	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newtag" href="/cgi-bin/koha/admin/auth_tag_structure.pl?op=add_form&amp;authtypecode=<!-- TMPL_VAR NAME="authtypecode" -->">Nueva pestaña</a></li>
</ul></div>

<h2>Seleccionar una hoja de trabajo de autoridades</h2>
<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
    <select name="authtypecode">
        <option value="">Predeterminado</option>
    <!-- TMPL_LOOP NAME="authtypeloop" -->
		<!-- TMPL_IF NAME="selected" -->
        <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="authtypetext" --></option>
		<!-- TMPL_ELSE -->
        <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="authtypetext" --></option>
		<!-- /TMPL_IF -->
            
    <!-- /TMPL_LOOP -->
    </select>
    <input type="text" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
    <input type="submit" value="OK" class="submit" />
</form>
<table>
    <tr>
        <th>Etiqueta</th>
        <th>Lib</th>
        <th>Repetible</th>
        <th>Obligatorio</th>
        <th>Authorized<br />valor</th>
        <th>Subcampos</th>
        <th>Editar</th>
        <th>Borrar</th>
	</tr>
    <!-- TMPL_LOOP NAME="loop" -->
	<!-- TMPL_UNLESS NAME="__odd__" -->
	<tr class="highlight">
	<!-- TMPL_ELSE -->
	<tr>
	<!-- /TMPL_UNLESS -->
        <td><b><!-- TMPL_VAR NAME="tagfield" --></b></td>
        <td><!-- TMPL_VAR NAME="liblibrarian" --></td>
        <td><!-- TMPL_IF NAME="repeatable" -->Si<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td>
        <td><!-- TMPL_IF NAME="mandatory" -->Si<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td>
        <td><!-- TMPL_VAR NAME="authorised_value" --></td>
        <td><a href="<!-- TMPL_VAR NAME="subfield_link" -->" class="button">subcampos</a></td>
        <td><a href="<!-- TMPL_VAR NAME="edit" -->">Editar</a></td>
        <td><a href="<!-- TMPL_VAR NAME="delete" -->">Borrar</a></td>
    </tr>
    <!-- /TMPL_LOOP -->
    </table>

        <div class="pages"><!-- TMPL_IF NAME="isprevpage" -->
            <a href="<!-- TMPL_VAR NAME="script_name" -->?offset=<!-- TMPL_VAR NAME="prevpage" -->&amp;searchfield=<!-- TMPL_VAR NAME="searchfield" -->&amp;authtypecode=<!-- TMPL_VAR NAME="authtypecode" --> ">&lt;&lt; P&aacute;g. anterior</a>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="nextpage" -->
            <a href="<!-- TMPL_VAR NAME="script_name" -->?offset=<!-- TMPL_VAR NAME="nextpage" -->&amp;searchfield=<!-- TMPL_VAR NAME="searchfield" -->&amp;authtypecode=<!-- TMPL_VAR NAME="authtypecode" --> ">Página siguiente &gt;&gt;</a>
        <!-- /TMPL_IF --></div>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
