<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; MARC Frameworks
<!-- TMPL_IF NAME="add_form" -->
&rsaquo; <!-- TMPL_IF NAME="frameworkcode" -->Modificar texto de la hoja de trabajo<!-- TMPL_ELSE -->Agregar hoja de trabajo<!-- /TMPL_IF -->
<!-- TMPL_ELSIF NAME="delete_confirm" -->
&rsaquo; Delete Framework for <!-- TMPL_VAR NAME="frameworktext" --> (<!-- TMPL_VAR NAME="frameworkcode" -->)?
<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

function isNotNull(f,noalert) {
    if (f.value.length ==0) {
        return false;
    }
    return true;
}
function toUC(f) {
    f.value = f.value.toUpperCase();
    return true;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function Check(f) {
    var ok=1;
    var _alertString="";
    var alertString2;
    if (f.frameworkcode.value.length==0) {
        _alertString += "\n- " + _("Falta c&oacute;digo de la hoja de trabajo");
    }
    if (!(isNotNull(window.document.Aform.frameworktext))) {
        _alertString += "\n- " + _("Falta descripci&oacute;n");
    }
    if (_alertString.length==0) {
        document.Aform.submit();
    } else {
        alertString2  = _("El formulario no fue procesado debido a los siguientes problemas");
        alertString2 += "\n------------------------------------------------------------------------------------\n";
        alertString2 += _alertString;
        alert(alertString2);
    }
}

$(document).ready(function() {
    new YAHOO.widget.Button("newframework");
});
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs">
        <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <a href="/cgi-bin/koha/admin/biblio_framework.pl">MARC Frameworks</a>
<!-- TMPL_IF NAME="add_form" -->
&rsaquo; <!-- TMPL_IF NAME="frameworkcode" -->Modificar texto de la hoja de trabajo<!-- TMPL_ELSE -->Agregar hoja de trabajo<!-- /TMPL_IF -->
<!-- TMPL_ELSIF NAME="delete_confirm" -->
&rsaquo; Delete Framework for <!-- TMPL_VAR NAME="frameworktext" --> (<!-- TMPL_VAR NAME="frameworkcode" -->)?
<!-- /TMPL_IF -->
</div>

<div id="doc3" class="yui-t2">
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
	
<!-- TMPL_IF NAME="else" --><div id="toolbar">
	<ul class="toolbar">
	<li><a id="newframework" href="/cgi-bin/koha/admin/biblio_framework.pl?op=add_form">Nueva hoja de trabajo</a></li>
</ul></div><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="add_form" -->
    <h1><!-- TMPL_IF NAME="frameworkcode" -->Modificar texto de la hoja de trabajo<!-- TMPL_ELSE -->Agregar hoja de trabajo<!-- /TMPL_IF --></h1>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
        <input type="hidden" name="op" value="add_validate" />
    <fieldset class="rows">
    <ol>
	<!-- TMPL_IF NAME="frameworkcode" -->
        <li><span class="label">Código de la hoja de trabajo</span><input type="hidden" id="frameworkcode" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" /><!-- TMPL_VAR NAME="frameworkcode" -->
            <input type="hidden" name="modif" value="1" />
        </li>
	<!-- TMPL_ELSE -->
        <li><label for="frameworkcode">Código de la hoja de trabajo</label><input type="text" id="frameworkcode" name="frameworkcode" size="4" maxlength="4" onblur="toUC(this)" /></li>
	<!-- /TMPL_IF -->
        <li><label for="description">Descripci&oacute;n</label>
        <input type="text" name="frameworktext" id="description" size="40" maxlength="80" value="<!-- TMPL_VAR NAME="frameworktext" ESCAPE="HTML" -->" /></li></ol></fieldset>
        <fieldset class="action">	<input type="submit" value="Enviar" class="submit" onclick="Check(this.form)"></fieldset>
    </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->
<div class="dialog alert">
    <h3>¿Eliminar hoja de trabajo para <!-- TMPL_VAR NAME="frameworktext" --> (<!-- TMPL_VAR NAME="frameworkcode" -->)?</h3>
    <!-- TMPL_IF NAME="total" -->
       <p><strong>Esta hoja de trabajo es usada <!-- TMPL_VAR NAME="total" --> veces</strong>.</p>
    <!-- /TMPL_IF -->
    <form class="inline" action="<!-- TMPL_VAR NAME="script_name" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" /><input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" /><input type="submit" class="approve" value="Si, eliminar este Framework!">
    </form>
    <form class="inline" action="<!-- TMPL_VAR NAME="script_name" -->" method="get"><input type="submit" class="deny" value="No, ¡no borre!"></form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="else" -->
<h1>Hojas de trabajo MARC</h1>
<p>Nombre de la hoja de trabajo, luego vaya al registro de MARC para establecer los parámetros del editor MARC</p>
<table>
    <tr>
        <th>C&oacute;digo</th>
        <th>Descripci&oacute;n</th>
        <th>&nbsp;</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>Hoja de trabajo predeterminada</td>
        <td><a href="marctagstructure.pl?frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">estructura MARC</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <!-- note highlight assignment appears backwards because we already have a normal row for Default -->
    <!-- TMPL_LOOP NAME="loop" -->
    <!-- TMPL_IF NAME="__odd__" --><tr class="highlight">
    <!-- TMPL_ELSE --><tr>
    <!-- /TMPL_IF -->
            <td><!-- TMPL_VAR name="frameworkcode" --></td>
            <td><!-- TMPL_VAR name="frameworktext" --></td>
            <td><a href="marctagstructure.pl?frameworkcode=<!-- TMPL_VAR name="frameworkcode" -->" >estructura MARC</a></td>
            <td><a href="<!-- TMPL_VAR name="script_name" -->?op=add_form&amp;frameworkcode=<!-- TMPL_VAR name="frameworkcode" escape="HTML" -->">Editar</a></td>
            <td><a href="<!-- TMPL_VAR name="script_name" -->?op=delete_confirm&amp;frameworkcode=<!-- TMPL_VAR name="frameworkcode" escape="HTML" -->">Borrar</a></td>
        </tr>
    <!-- /TMPL_LOOP -->
</table>
    <!-- TMPL_IF NAME="previous" --><a href="<!-- TMPL_VAR NAME="previous" -->">&lt;&lt; Anterior</a><!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="next" --><a href="<!-- TMPL_VAR NAME="next" -->">Siguiente &gt;&gt;</a><!-- /TMPL_IF -->

<!-- /TMPL_IF -->
    </div>
  </div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
  </div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
