<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo; Categorías de socios &rsaquo; <!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF NAME="categorycode" -->Modificar categor&iacute;a '<!-- TMPL_VAR NAME="categorycode" escape="html" -->'<!-- TMPL_ELSE -->Nueva categor&iacute;a<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" -->Datos guardados<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" --><!-- TMPL_IF NAME="totalgtzero" -->No se puede borrar: Categoría <!-- TMPL_VAR NAME="categorycode" escape="html" --> en uso<!-- TMPL_ELSE -->Confirmar borrado de categor&iacute;a '<!-- TMPL_VAR NAME="categorycode" escape="html" -->'<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" -->Categor&iacute;a eliminada<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
	//
	function isNotNull(f,noalert) {
		if (f.value.length ==0) {
   return false;
		}
		return true;
	}
	//
	function toUC(f) {
		var x=f.value.toUpperCase();
		f.value=x;
		return true;
	}
	//
	function isNum(v,maybenull) {
	var n = new Number(v.value);
	if (isNaN(n)) {
		return false;
		}
	if (maybenull==0 && v.value=='') {
		return false;
	}
	return true;
	}
	//
	function isDate(f) {
		var t = Date.parse(f.value);
		if (isNaN(t)) {
			return false;
		}
	}
	// to check if the data are correctly entered.
	function Check(ff) {
	    var ok=0;
		var _alertString="Form not submitted because of the following problem(s)\n";
		_alertString +="-------------------------------------------------------------------\n\n";
		if (ff.categorycode.value.length==0) {
		    ok=1;
			_alertString += "- categorycode missing\n";
		}
		if (!(ff.category_type.value)){
		    ok=1;
		    _alertString += "- category type missing\n";
		}
		if (!(isNotNull(ff.description,1))) {
		    ok=1;
			_alertString += "- description missing\n";
		}
		if (!isNum(ff.upperagelimit,0) && ff.category_type.value=='C') {
		    ok=1;
		  	_alertString += "- upperagelimit is not a number\n";
				
		}
		
		if (ok) { // if there is a problem
			alert(_alertString);
             return false;
        }
        // if all is good
		ff.submit();
	}
	//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patrons-admin-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administraci&oacute;n</a> &rsaquo; <!-- TMPL_IF NAME="add_form" --> <a href="/cgi-bin/koha/admin/categorie.pl">Categor&iacute;as de Patr&oacute;n</a> &rsaquo; <!-- TMPL_IF NAME="categorycode" -->Modificar categor&iacute;a '<!-- TMPL_VAR NAME="categorycode" escape="html" -->'<!-- TMPL_ELSE -->Nueva categor&iacute;a<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" --> <a href="/cgi-bin/koha/admin/categorie.pl">Categor&iacute;as de Patr&oacute;n</a> &rsaquo;Datos guardados<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" --> <a href="/cgi-bin/koha/admin/categorie.pl">Categor&iacute;as de Patr&oacute;n</a> &rsaquo; <!-- TMPL_IF NAME="totalgtzero" -->No se puede borrar: Categoría <!-- TMPL_VAR NAME="categorycode" escape="html" --> en uso<!-- TMPL_ELSE -->Confirmar borrado de categor&iacute;a '<!-- TMPL_VAR NAME="categorycode" escape="html" -->'<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" -->  <a href="/cgi-bin/koha/admin/categorie.pl">Categor&iacute;as de Patr&oacute;n</a> &rsaquo;Categor&iacute; Borrada<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="else" -->Socio, categorías<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="add_form" -->
	


	
	<form name="Aform" action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<input type="hidden" name="op" value="add_validate" />
	<input type="hidden" name="checked" value="0" />
<!-- TMPL_IF NAME="categorycode" -->
		<h1>Modificar categor&iacute;a <!-- TMPL_VAR NAME="categorycode" escape="html" --></h1>
	<!-- TMPL_ELSE -->
		<h1>Nueva categor&iacute;a</h1>
	<!-- /TMPL_IF -->
	<fieldset class="rows">
	<ol><!-- TMPL_IF NAME="categorycode" -->
	<li><span class="label">C&oacute;digo de categor&iacute;a</span><!-- TMPL_VAR NAME="categorycode" escape="html" -->
				<input type="hidden" name="categorycode" value="<!-- TMPL_VAR NAME="categorycode" escape="html" -->" /><input type="hidden" name="is_a_modif" value="1" /></li>
	<!-- TMPL_ELSE -->
	<li><label for="categorycode">C&oacute;digo de categor&iacute;a: </label> &nbsp; <input type="text" name="categorycode" id="categorycode" size="10" maxlength="10" onblur="toUC(this)" /></li>
	<!-- /TMPL_IF -->
	<li><label for="description">Descripci&oacute;n: </label> &nbsp; <input type="text" name="description" id="description" size="40" maxlength="80" value="<!-- TMPL_VAR NAME="description" escape="html" -->" /></li>
	<li><label for="enrolmentperiod">Per&iacute;odo de asociaci&oacute;n: </label> &nbsp; <input type="text" name="enrolmentperiod" id="enrolmentperiod" size="3" maxlength="3" value="<!-- TMPL_VAR NAME="enrolmentperiod" -->" /> meses</li>
	<li><label for="dateofbirthrequired">Edad requerida: </label> &nbsp; <input type="text" name="dateofbirthrequired" id="dateofbirthrequired" value="<!-- TMPL_VAR NAME="dateofbirthrequired" -->" size="3" maxlength="3" /> años</li>
	<li><label for="upperagelimit">L&iacute;mite de edad superior: </label> &nbsp; <input type="text" name="upperagelimit" id="upperagelimit" size="3" maxlength="3" value="<!-- TMPL_VAR NAME="upperagelimit" -->" /> años</li>
	<li><label for="enrolmentfee">Costo de asociaci&oacute;n: </label><input type="text" name="enrolmentfee" id="enrolmentfee" size="6" value="<!-- TMPL_VAR NAME="enrolmentfee" -->" /></li>
	<li><label for="overduenoticerequired">Se requierea aviso de retraso: </label> &nbsp; <select name="overduenoticerequired" id="overduenoticerequired">
			<!-- TMPL_IF NAME="overduenoticerequired" -->
						<option value="0">No</option>
						<option value="1" selected="selected">Si</option>
			<!-- TMPL_ELSE -->
						<option value="0" selected="selected">No</option>
						<option value="1">Si</option>
			<!-- /TMPL_IF -->
					</select></li>
	<li><label for="reservefee">Hold fee: </label><input type="text" name="reservefee" id="reservefee" size="6" value="<!-- TMPL_VAR NAME="reservefee" -->" /></li>
	<li><label for="category_type">Tipo de categor&iacute;a: </label> &nbsp; <select name="category_type" id="category_type">
						<!-- TMPL_IF NAME="type_n" --><option value="" selected="selected">Seleccionar un tipo de categoría</option><!-- TMPL_ELSE --><option value="">Seleccionar un tipo de categoría</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_A" --><option value="A" selected="selected">Adulto</option><!-- TMPL_ELSE --><option value="A">Adulto</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_C" --><option value="C" selected="selected">Niño</option><!-- TMPL_ELSE --><option value="C">Niño</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_S" --><option value="S" selected="selected">Adminstrativo</option><!-- TMPL_ELSE --><option value="S">Adminstrativo</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_I" --><option value="I" selected="selected">Organisztion</option><!-- TMPL_ELSE --><option value="I">Organization</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_P" --><option value="P" selected="selected">Profesional</option><!-- TMPL_ELSE --><option value="P">Profesional</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NXME="type_X" --><option value="X" selected="selected">Estadístico</option><!-- TMPL_ELSE --><option value="X">Estadístico</option><!-- /TMPL_IF -->
					</select>
	</li></ol>
</fieldset>

    <!-- TMPL_IF NAME="EnhancedMessagingPreferences" -->
      <fieldset class="rows">
        <h4>Default messaging preferences for this patron category</h4>
        <!-- TMPL_INCLUDE NAME="messaging-preference-form.inc" -->
      </fieldset>
    <!-- /TMPL_IF -->
	<fieldset class="action"><input type="button" value="Guardar" onclick="Check(this.form);"> </fieldset>
	</form>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="add_validate" -->
<h3>Datos guardados</h3>
	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
		<input type="submit" value="OK" />
	</form>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->
	
    	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<fieldset><legend>    	
	<!-- TMPL_IF NAME="totalgtzero" -->
	La categoría <!-- TMPL_VAR NAME="categorycode" escape="html" --> está en uso. ¡No es posible borrarla!<!-- TMPL_ELSE -->
Confirmar borrado de categor&iacute;a <!-- TMPL_VAR NAME="categorycode" escape="html" --><!-- /TMPL_IF --></legend>

<!-- TMPL_IF NAME="totalgtzero" --><div class="dialog alert"><strong>Esta categoría es usada <!-- TMPL_VAR NAME="total" --> veces</strong>Imposible Borrar</div><!-- /TMPL_IF -->
	<table>
	<tr><th scope="row">C&oacute;digo de categor&iacute;a: </th><td><!-- TMPL_VAR NAME="categorycode" escape="html" --></td></tr>
	<tr><th scope="row">Descripci&oacute;n: </th><td><!-- TMPL_VAR NAME="description" escape="html" --></td></tr>
	<tr><th scope="row">Per&iacute;odo de asociaci&oacute;n: </th><td><!-- TMPL_VAR NAME="enrolmentperiod" --> meses</td></tr>
	<tr><th scope="row">Edad requerida: </th><td><!-- TMPL_VAR NAME="dateofbirthrequired" --> años</td></tr>
	<tr><th scope="row">L&iacute;mite de edad superior: </th><td><!-- TMPL_VAR NAME="upperagelimit" --> años</td></tr>
	<tr><th scope="row">Costo de asociaci&oacute;n: </th><td><!-- TMPL_VAR NAME="enrolmentfee" --></td></tr>
	<tr><th scope="row">Recibe avisos de retrasos: </th><td><!-- TMPL_IF NAME="overduenoticerequired" -->Si<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td></tr>
	<tr><th scope="row">Hold fee: </th><td><!-- TMPL_VAR NAME="reservefee" --></td></tr>
</table>
		<fieldset class="action"><!-- TMPL_IF NAME="totalgtzero" -->
<input type="submit" value="OK" /></form>
		<!-- TMPL_ELSE -->
			<input type="hidden" name="op" value="delete_confirmed" />
			<input type="hidden" name="categorycode" value="<!-- TMPL_VAR NAME="categorycode" escape="html" -->" /> <input type="submit" value="Eliminar esta Categor&iacute;a"> <a class="cancel" href="/cgi-bin/koha/admin/categorie.pl">Cancelar</a> 
		<!-- /TMPL_IF --></fieldset></fieldset></form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->
<h3>Categor&iacute;a eliminada</h3>

        <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="submit" value="OK" />
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="else" -->

<div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[

	// prepare DOM for YUI Toolbar

	 $(document).ready(function() {
	    yuiToolbar();
	 });

	// YUI Toolbar Functions

	function yuiToolbar() {
	    new YAHOO.widget.Button("newcategory");
	}

	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newcategory" href="/cgi-bin/koha/admin/categorie.pl?op=add_form">Nueva categoría</a></li>
</ul></div>

<h2>Socio, administración de categoría</h2>
<!-- TMPL_IF NAME="searchfield" -->
		Usted busc&oacute; <!-- TMPL_VAR NAME="searchfield" --></span>
	<!-- /TMPL_IF -->

        <table>
		<tr>
			<th scope="col">C&oacute;digo</th>
			<th scope="col">Category name</th>
			<th scope="col">Tipo</th>
			<th scope="col">Enrollment period</th>
			<th scope="col">Age required</th>
			<th scope="col">Upper age limit</th>
			<th scope="col">Enrollment fee</th>
			<th scope="col">Overdue</th>
 			<th scope="col">Hold fee</th>
            <!-- TMPL_IF NAME="EnhancedMessagingPreferences" -->
            <th scope="col">Mensajeria</th>
            <!-- /TMPL_IF -->
			<th scope="col" colspan="2">&nbsp; </th>
		</tr>
		<!-- TMPL_LOOP NAME="loop" -->
		<!-- TMPL_UNLESS NAME="__odd__" -->
			<tr class="highlight">
		<!-- TMPL_ELSE -->
			<tr>
		<!-- /TMPL_UNLESS -->
                        <td><!-- TMPL_VAR NAME="categorycode" escape="html" --></td>
                        <td>
                            <a href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" escape="url" -->"><!-- TMPL_VAR NAME="description" escape="html" --></a>
                        </td>
                        <td>
                            <!-- TMPL_IF NAME="type_A" -->Adulto<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_C" -->Niño<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_P" -->Prof.<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_I" -->Org.<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_S" -->Adminstrativo<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_X" -->Estadístico<!-- /TMPL_IF -->
                        </td>
                        <td><!-- TMPL_VAR NAME="enrolmentperiod" --> meses</td>
                        <td><!-- TMPL_VAR NAME="dateofbirthrequired" --> años</td>
			<td><!-- TMPL_VAR NAME="upperagelimit" --> años</td>
                        <td><!-- TMPL_VAR NAME="enrolmentfee" --></td>
                        <td><!-- TMPL_IF NAME="overduenoticerequired" -->Si<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td>
                        <td><!-- TMPL_VAR NAME="reservefee" --></td>
                        <!-- TMPL_IF NAME="EnhancedMessagingPreferences" -->
                        <td>
                            <!-- TMPL_IF NAME="messaging_prefs" -->
                                <!-- TMPL_LOOP NAME="messaging_prefs" -->
                                    <!-- TMPL_VAR NAME="message_name" --> :
                                    <!-- TMPL_LOOP NAME="transports" -->
                                        <!-- TMPL_VAR NAME="transport" -->
                                    <!-- /TMPL_LOOP -->
                                <!-- /TMPL_LOOP -->
                                <br />
                            <!-- TMPL_ELSE -->
                                ninguno
                            <!-- /TMPL_IF -->
                        </td>
                        <!-- /TMPL_IF -->
                        <td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" escape="url" -->">Editar</a></td>
						<td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=delete_confirm&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" escape="url" -->">Borrar</a></td>
		</tr>
		<!-- /TMPL_LOOP -->
	</table>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
