<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo; Verificación MARC
<!-- TMPL_IF name="total" --> :<!-- TMPL_VAR name="total" --> errores encontrados<!-- TMPL_ELSE --> : Configuraci&oacute;n correcta<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administraci&oacute;n</a> &rsaquo; Comprobar MARC
<!-- TMPL_IF name="total" --><!-- TMPL_VAR name="total" --> errores encontrados<!-- TMPL_ELSE --> : Configuraci&oacute;n correcta<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Prueba de la hoja de trabajo bibliográfica MARC</h1>
<table>
    <tr>
        <th>Probar</th>
        <th>Resultado</th>
    </tr>
<!-- -->
<!-- TMPL_IF name="itemnum" -->
    <tr>
        <td>número de ítem</td>
        <td><ul><li>El campo itemnum DEBE estar mapeado </li>
            <li>El subcampo correspondiente DEBE estar con la etiqueta -1 (ignorar)</li></ul></td>
    </tr>
<!-- TMPL_ELSE -->
    <tr>
        <td>OK</td>
        <td>número de ítem: el campo número de ítem está mapeado a un campo en la pestaña-1</td>
    </tr>
<!-- /TMPL_IF -->
<!-- -->
<!-- TMPL_IF name="itemfields" -->
    <tr>
        <td>campos del ítem</td>
        <td>TODOS los campos DEBEN :<br />
            <ul><li>tiene que ser mapeado a la misma etiqueta,</li>
            <li>y deben estar todos en la etiqueta de 10 (items)</li></ul></td>
    </tr>
<!-- TMPL_ELSE -->
    <tr>
        <td>OK</td>
        <td>Todos los campos de ítem están en la misma etiqueta y en la misma pestaña</td>
    </tr>
<!-- /TMPL_IF -->
<!-- -->
    <!-- TMPL_IF NAME="itemtags" -->
        <tr>
            <td>Etiqueta del ítem</td>
            <td>Hay mas de 1 etiqueta MARC relacionada con el campo (10) de los items: <!-- TMPL_VAR name="itemtags" --></td>
        </tr>
    <!-- TMPL_ELSE -->
        <tr>
            <td>OK</td>
            <td>Solamente 1 pestañan MARC se ha mapeado a los items</td>
        </tr>
    <!-- /TMPL_IF -->
    <!--  -->
<!-- TMPL_IF name="itemtype" -->
    <tr>
        <td>el tipo de ítem no está mapeado</td>
        <td>el campo biblioitems.itemtype DEBE :<br />
            <ul><li>tiene que ser mapeado a un subcampo MARC, </li>
            <li>el subcampo correspondiente DEBE tener authorised_value=itemtype</li></ul></td>
    </tr>
<!-- TMPL_ELSE -->
    <tr>
        <td>OK</td>
        <td>biblioitems.itemtype definido</td>
    </tr>
<!-- /TMPL_IF -->
<!-- -->
<!-- TMPL_IF name="branch" -->
    <tr>
        <td>sede central NO mapeada</td>
        <td>el campo items.homebranch DEBE:<br />
            <ul><li>tiene que ser mapeado a un subcampo MARC,</li>
            <li>el subcampo correspondiente DEBE tener authorised_value=branches</li></ul></td>
    </tr>
<!-- TMPL_ELSE -->
    <tr>
        <td>OK</td>
        <td>sede propietaria definida</td>
    </tr>
<!-- /TMPL_IF -->
<!-- -->
<!-- TMPL_IF name="holdingbranch" -->
    <tr>
        <td>la sede NO est&aacute; mapeada</td>
        <td>el campo items.holdingbranch DEBE:<br />
            <ul><li>tiene que ser mapeado a un subcampo MARC, </li>
            <li>el subcampo correspondiente DEBE tener authorised_value=branches</li></ul></td>
    </tr>
<!-- TMPL_ELSE -->
    <tr>
        <td>OK</td>
        <td>sede definida</td>
    </tr>
<!-- /TMPL_IF -->
<!-- -->
<!-- TMPL_IF name="itemtypes_empty" -->
    <tr>
        <td>tipos de ítem no definidos</td>
        <td>al menos 1 tipo de item debe definirse</td>
    </tr>
<!-- TMPL_ELSE -->
    <tr>
        <td>OK</td>
        <td>al menos 1 tipo de item definido</td>
    </tr>
<!-- /TMPL_IF -->
<!-- -->
<!-- TMPL_IF name="branches_empty" -->
    <tr>
        <td>sede no definida</td>
        <td>al menos 1 sede debe definirse</td>
    </tr>
<!-- TMPL_ELSE --> 
    <tr>
        <td>OK</td>             
        <td>al menos 1 sede definida</td>
    </tr>                                       
<!-- /TMPL_IF -->
<!-- -->
<!-- TMPL_IF name="biblionumber" -->
    <tr>
        <td>biblio y biblionumber</td>
        <td>Los campos biblio.biblionumber y biblioitems.biblioitemnumber mapeados a un subcampo MARC,</td>
    </tr>
<!-- TMPL_ELSE -->
    <tr>
        <td>OK</td>
        <td>biblionumber y biblioitemnumber mapeados correctamente</td>
    </tr>
<!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="frameworknull" -->
        <tr>
            <td>valores del formato</td>
            <td>hay un valor nulo en un código de la hoja de trabajo. Compruebe las tablas siguientes<br />
                <li>select * from marc_subfield_structure where frameworkcode is NULL</li>
                <li>select * from marc_tag_structure where frameworkcode is NULL</li>
            </td>
        </tr>
    <!-- TMPL_ELSE -->
        <tr>
            <td>OK</td>
            <td>ning&uacute;n valor NULO en el código de la hoja de trabajo</td>
        </tr>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="inconsistent_tabs" -->
        <tr>
            <td style="vertical-align:top;">subcampos no en la misma pestañas</td>
            <td>No todos los subcampos de las siguientes etiquetas se encuentran en la misma pestaña (o marcados como 'ignorado').
                <table>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                        <th>Etiqueta</th>
                        <th>Pestañas en uso</th>
                    </tr>
                    <!-- TMPL_LOOP NAME="tab_info" -->
                        <tr>
                            <td><!-- TMPL_VAR NAME="frameworkcode" --></td>
                            <!-- TMPL_IF NAME="frameworkcode" -->
                                <td><!-- TMPL_VAR NAME="frameworktext" --></td>
                            <!-- TMPL_ELSE -->
                                <td>Hoja de trabajo predeterminada</td>
                            <!-- /TMPL_IF -->
                            <td><!-- TMPL_VAR NAME="tagfield" --></td>
                            <td><!-- TMPL_VAR NAME="tabs" --></td>
                        </tr>
                    <!-- /TMPL_LOOP -->
                </table>
            </td>
        </tr>
    <!-- TMPL_ELSE -->
        <tr>
            <td>OK</td>
            <td>todos los subcampos de cada etiqueta estan en la misma pestaña (o ignore)</td>
        </tr>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="invalid_authtypecodes" -->
        <tr>
            <td style="vertical-align:top;">tipos de autoridad inválidos</td>
            <td>No todos los tipos de autoridad mencionados por las hojas de trabajo están definidos.
                <table>
                    <tr>
                        <th>Código de hoja de trabajo</th>
                        <th>Descripción de la hoja de trabajo</th>
                        <th>Etiqueta</th>
                        <th>Subcampo</th>
                        <th>Tipo de autoridad inválido</th>
                    </tr>
                    <!-- TMPL_LOOP NAME="authtypecode_info" -->
                        <tr>
                            <td><!-- TMPL_VAR NAME="frameworkcode" --></td>
                            <!-- TMPL_IF NAME="frameworkcode" -->
                                <td><!-- TMPL_VAR NAME="frameworktext" --></td>
                            <!-- TMPL_ELSE -->
                                <td>Hoja de trabajo predeterminada</td>
                            <!-- /TMPL_IF -->
                            <td><!-- TMPL_VAR NAME="tagfield" --></td>
                            <td><!-- TMPL_VAR NAME="tagsubfield" --></td>
                            <td><!-- TMPL_VAR NAME="authtypecode" --></td>
                        </tr>
                    <!-- /TMPL_LOOP -->
                </table>
            </td>
        </tr>
    <!-- TMPL_ELSE -->
        <tr>
            <td>OK</td>
            <td>están definidas todos los tipos de autoridad utilizadas en las plantillas</td>
        </tr>
    <!-- /TMPL_IF -->
<!-- -->
<!-- TMPL_IF name="total" -->
    <tr>
        <td>TOTAL</td>
        <td>Ud. tiene <!-- TMPL_VAR name="total" --> error(es) en su configuración MARC. Por favor, arréglelo(s) antes de usar Koha</td>
    </tr>
</table>
<!-- TMPL_ELSE -->
    </table>
        <p><b> La configuraci&oacute;n est&aacute; OK, no hay errores en su tabla de par&aacute;metros MARC</b></p>
<!-- /TMPL_IF -->



</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
