<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo; Fuentes de clasificación 
<!-- TMPL_IF name="class_source_form" -->
&rsaquo; 
    <!-- TMPL_IF name="edit_class_source" -->Modify classification source<!-- TMPL_ELSE -->Add classification source<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="sort_rule_form" -->
&rsaquo;
    <!-- TMPL_IF name="edit_sort_rule" -->Modify filing rule<!-- TMPL_ELSE -->Add filing rule<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_class_source_form" -->
   &rsaquo; Confirmar la eliminación de la fuente de clasificaci&oacute;n <!-- TMPL_VAR name="class_source" -->
<!-- TMPL_ELSIF name="delete_sort_rule_form" -->
  &rsaquo; Confirmar borrado de la regla de alfabetización <!-- TMPL_VAR name="sort_rule" -->
<!-- TMPL_ELSIF name="delete_sort_rule_impossible" -->
  &rsaquo; No puede borrar la regla de alfabetización <!-- TMPL_VAR name="sort_rule" -->
<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<script type="text/javascript">
//<![CDATA[

function CheckSourceForm(f) {
    var _alertString="";
    var alertString2;
    if (f.class_source.value.length==0) {
        _alertString += "\n- " + _("Falta c&oacute;digo de la fuente de clasificaci&oacute;n");
    }
    if (f.sort_rule.value.length==0) {
        _alertString += "\n- " + _("Falta c&oacute;digo para regla de alfabetizaci&oacute;n");
    }
    if (f.description.value.length==0) {
        _alertString += "\n- " + _("Falta descripci&oacute;n");
    }
    if (_alertString.length==0) {
        document.Aform.submit();
    } else {
        alertString2  = _("El formulario no fue procesado debido a los siguientes problemas");
        alertString2 += "\n------------------------------------------------------------------------------------\n";
        alertString2 += _alertString;
        alert(alertString2);
    }
}

function CheckRuleForm(f) {
    var _alertString="";
    var alertString2;
    if (f.sort_rule.value.length==0) {
        _alertString += "\n- " + _("Falta c&oacute;digo para regla de alfabetizaci&oacute;n");
    }
    if (f.description.value.length==0) {
        _alertString += "\n- " + _("Falta descripci&oacute;n");
    }
    if (f.sort_routine.value.length==0) {
        _alertString += "\n- " + _("Falta rutina de ordenación");
    }
    if (_alertString.length==0) {
        document.Aform.submit();
    } else {
        alertString2  = _("El formulario no fue procesado debido a los siguientes problemas");
        alertString2 += "\n------------------------------------------------------------------------------------\n";
        alertString2 += _alertString;
        alert(alertString2);
    }
}

$(document).ready(function() {
    new YAHOO.widget.Button("newsource");
    new YAHOO.widget.Button("newrule");
});

//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs">
         <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <a href="/cgi-bin/koha/admin/classsources.pl">Classification Sources</a>
<!-- TMPL_IF name="class_source_form" -->
&rsaquo; <!-- TMPL_IF name="edit_class_source" -->Modify classification source<!-- TMPL_ELSE -->Add classification source<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="sort_rule_form" -->
&rsaquo; <!-- TMPL_IF name="edit_sort_rule" -->Modify filing rule<!-- TMPL_ELSE -->Add filing rule<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF    name="delete_class_source_form" -->
&rsaquo; Confirmar la eliminación de la fuente de clasificaci&oacute;n <span class="ex">'<!-- TMPL_VAR name="class_source" -->'</span>
<!-- TMPL_ELSIF name="delete_sort_rule_form" -->
&rsaquo; Confirmar borrado de la regla de alfabetización <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span>
<!-- TMPL_ELSIF name="delete_sort_rule_impossible" -->
&rsaquo; No puede borrar la regla de alfabetización <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span>
<!-- /TMPL_IF -->
</div>

<div id="doc3" class="yui-t2">
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">

<!-- TMPL_IF name="class_source_form" -->
  <!-- TMPL_IF name="edit_class_source" -->
<h2>Modify classification source</h2>
  <!-- TMPL_ELSE -->
<h2>Add classification source</h2>
  <!-- /TMPL_IF -->
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
  <fieldset class="rows">
    <ol>
      <li>
          <!-- TMPL_IF name="edit_class_source" -->
		  <span class="label">C&oacute;digo de la fuente de clasificaci&oacute;n </span>
            <input type="hidden" name="class_source" value="<!-- TMPL_VAR name="class_source" -->" />
            <!-- TMPL_VAR name="class_source" -->
          <!-- TMPL_ELSE -->
		  <label for="class_source">C&oacute;digo de la fuente de clasificaci&oacute;n </label>
            <input type="text" id="class_source" name="class_source"  size="10" maxlength="10" />
          <!-- /TMPL_IF -->
       </li>
       <li><label for="description">Descripci&oacute;n: </label>
           <input type="text" id="description" name="description" size="50" maxlength="250" 
                  value="<!-- TMPL_VAR name="description" escape="HTML" -->" />
       </li>
       <li><label for="used">¿Fuente en uso?</label>
           <!-- TMPL_IF NAME="used" --><input type="checkbox" id="used" name="used" value="usado" checked="checked"><!-- TMPL_ELSE -->
		  <input type="checkbox" id="used" name="used" value="usado"><!-- /TMPL_IF -->
       </li>
       <li><label for="sort_rule">Regla de alfabetizaci&oacute;n: </label>
           <select id="sort_rule" name="sort_rule">
           <!-- TMPL_LOOP name="rules_dropdown" -->
             <!-- TMPL_IF name="selected" -->
             <option value="<!-- TMPL_VAR name="rule" -->" selected="selected"><!-- TMPL_VAR name="description" --> (<!-- TMPL_VAR name="rule" -->)</option>
             <!-- TMPL_ELSE -->
             <option value="<!-- TMPL_VAR name="rule" -->"><!-- TMPL_VAR name="description" --> (<!-- TMPL_VAR name="rule" -->)</option>
             <!-- /TMPL_IF -->
           <!-- /TMPL_LOOP -->
           </select>
       </li>    
    </ol>
  </fieldset>
  <fieldset class="action">
    <input type="button" value="Guardar" onclick="CheckSourceForm(this.form)">
    <a class="cancel" href="/cgi-bin/koha/admin/classsources.pl">Cancelar</a>
  </fieldset>
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="sort_rule_form" -->
  <!-- TMPL_IF name="edit_sort_rule" -->
<h2>Modify filing rule</h2>
  <!-- TMPL_ELSE -->
<h2>Add filing rule</h2>
  <!-- /TMPL_IF -->
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
  <fieldset class="rows">
    <ol>
      <li>
          <!-- TMPL_IF name="edit_sort_rule" -->
		  <span class="label">C&oacute;digo de regla de alfabetizaci&oacute;n: </span>
            <input type="hidden" name="sort_rule" value="<!-- TMPL_VAR name="sort_rule" -->" />
            <!-- TMPL_VAR name="sort_rule" -->
          <!-- TMPL_ELSE -->
		  <label for="sort_rule">C&oacute;digo de regla de alfabetizaci&oacute;n: </label>
            <input type="text" id="sort_rule" name="sort_rule"  size="10" maxlength="10" />
          <!-- /TMPL_IF -->
       </li>
       <li><label for="description">Descripci&oacute;n: </label>
           <input type="text" id="description" name="description" size="50" maxlength="250" 
                  value="<!-- TMPL_VAR name="description" escape="HTML" -->" />
       </li>
       <li><label for="sort_routine">Rutina se alfabetizaci&oacute;n: </label>
           <select id="sort_routine" name="sort_routine">
           <!-- TMPL_LOOP name="routines_dropdown" -->
             <!-- TMPL_IF name="selected" -->
             <option value="<!-- TMPL_VAR name="routine" -->" selected="selected"><!-- TMPL_VAR name="routine" --></option>
             <!-- TMPL_ELSE -->
             <option value="<!-- TMPL_VAR name="routine" -->"><!-- TMPL_VAR name="routine" --></option>
             <!-- /TMPL_IF -->
           <!-- /TMPL_LOOP -->
           </select>
       </li>
    </ol>
  </fieldset>
    <fieldset class="action">
        <input type="button" value="Guardar" onclick="CheckRuleForm(this.form)">
        <a class="cancel" href="/cgi-bin/koha/admin/classsources.pl">Cancelar</a>
    </fieldset>
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_class_source_form" -->
<div class="dialog alert"><h3>Confirmar eliminaci&oacute;n de origen de la clasificaci&oacute;n <span class="ex">'<!-- TMPL_VAR name="class_source" -->'</span>?</h3>
    <form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
      <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
      <input type="hidden" name="class_source" value="<!-- TMPL_VAR name="class_source" -->" />
      <input type="submit" value="Eliminar Origen de la clasificaci&oacute;n" class="approve">
    </form>
    <form action="<!-- TMPL_VAR name="script_name" -->" method="get">
        <input type="submit" value="No, no borre" class="deny">
    </form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_sort_rule_form" -->
<div class="dialog alert"><h3>Confirmar eliminaci&oacute;n de regla de alfabetizaci&oacute;n <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span>?</h3>
    <form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
        <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
        <input type="hidden" name="sort_rule" value="<!-- TMPL_VAR name="sort_rule" -->" />
        <input type="submit" value="Eliminar regla de alfabetizaci&oacute;n" class="approve">
    </form>
    <form action="<!-- TMPL_VAR name="script_name" -->" method="get">
        <input type="submit" value="No, no borre" class="deny">
    </form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_sort_rule_impossible" -->
<div class="dialog message"><h3>No se puede borrar regla de intercalación <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span></h3>
    <p>La regla de alfabetización <!-- TMPL_VAR name="sort_rule" --> se usa en por lo menos una fuente de clasificación. Por favor, elimine de todas las definiciones de fuentes de clasificación antes de volver a intentarlo.
    </p>
    <form action="<!-- TMPL_VAR name="script_name" -->" method="get">
        <input type="button" value="OK" class="approve" />
    </form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="display_lists" -->

<div id="toolbar">
	<ul class="toolbar">
	<li><a id="newsource" href="<!-- TMPL_VAR name="script_name" -->?op=add_source">Nueva fuente de clasificación</a></li>
	<li><a id="newrule" href="<!-- TMPL_VAR name="script_name" -->?op=add_sort_rule">Nuevas reglas de alfabetización</a></li>
</ul></div>

<h2>Fuente de la clasificaci&oacute;n</h2>
<!-- TMPL_IF name="added_source" -->
<span class="problem">Origen de clasificación <!-- TMPL_VAR name="added_source" --> agregado</span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="edited_source" -->
<span class="problem">Fuente de clasificación<!-- TMPL_VAR name="edited_source" --> modificada </span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="deleted_source" -->
<span class="problem">Eliminar Origen de la clasificaci&oacute;n <!-- TMPL_VAR name="deleted_source" --></span>
<!-- /TMPL_IF -->
<table>
  <tr>
    <th>C&oacute;digo</th>
    <th>Descripci&oacute;n</th>
    <th>En uso</th>
    <th>Regla de alfabetizaci&oacute;n</th>
    <th>Acciones</th>
  </tr>
  <!-- TMPL_LOOP name="class_sources" -->
  <!-- TMPL_IF name="__odd__" -->
  <tr>
  <!-- TMPL_ELSE -->
  <tr class="highlight">
  <!-- /TMPL_IF -->
    <td><!-- TMPL_VAR name="code" --></td>
    <td><!-- TMPL_VAR name="description" --></td>
    <td><!-- TMPL_IF name="used" -->Si<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td>
    <td><!-- TMPL_VAR name="sortrule" --></td>
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=edit_source&amp;class_source=<!-- TMPL_VAR name="code" escape="HTML" -->">Editar</a> <a href="<!-- TMPL_VAR name="script_name" -->?op=delete_source&amp;class_source=<!-- TMPL_VAR name="code" escape="HTML" -->">Borrar</a>
    </td>
  </tr>
  <!-- /TMPL_LOOP -->
</table>

<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>

<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>
<h2>Clasificación de reglas de alfabetización</h2>
<!-- TMPL_IF name="added_rule" -->
<span class="problem">Regla de alfabetización <!-- TMPL_VAR name="added_rule" --> agregada</span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="edited_rule" -->
<span class="problem">Regla de alfabetización <!-- TMPL_VAR name="edited_rule" --> modificada</span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="deleted_rule" -->
<span class="problem">Eliminar Regla de alfabetizaci&oacute;n <!-- TMPL_VAR name="deleted_rule" --></span>
<!-- /TMPL_IF -->
<table>
  <tr>
    <th>C&oacute;digo</th>
    <th>Descripci&oacute;n</th>
    <th>Rutina de ordenación</th>
    <th>Acciones</th>
  </tr>
  <!-- TMPL_LOOP name="class_sort_rules" -->
  <!-- TMPL_IF name="__odd__" -->
  <tr>
  <!-- TMPL_ELSE -->
  <tr class="highlight">
  <!-- /TMPL_IF -->
    <td><!-- TMPL_VAR name="rule" --></td>
    <td><!-- TMPL_VAR name="description" --></td>
    <td><!-- TMPL_VAR name="sort_routine" --></td>
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=edit_sort_rule&amp;sort_rule=<!-- TMPL_VAR name="rule" escape="HTML" -->">Editar</a> <a href="<!-- TMPL_VAR name="script_name" -->?op=delete_sort_rule&amp;sort_rule=<!-- TMPL_VAR name="rule" escape="HTML" -->">Borrar</a>
    </td>
  </tr>
  <!-- /TMPL_LOOP -->
</table>
<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>

<!-- /TMPL_IF -->

      </div>
    </div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
  </div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
