<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo; Tipos de items <!-- TMPL_IF name="add_form" -->&rsaquo; 
  <!-- TMPL_IF name="itemtype" -->
Modificar tipo de ítem '<!-- TMPL_VAR name="itemtype" -->'
  <!-- TMPL_ELSE -->
Agregar Tipo de ítem
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" -->&rsaquo; 
  <!-- TMPL_IF name="total" -->
No se puede borrar tipo de ítem '<!-- TMPL_VAR name="itemtype" -->'
  <!-- TMPL_ELSE -->
¿Eliminar Tipo de &iacute;tem '<!-- TMPL_VAR name="itemtype" -->'?
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirmed" -->&rsaquo; Datos borrados
<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" --><script type="text/javascript">
//<![CDATA[

function isNotNull(f,noalert) {
	if (f.value.length ==0) {
		return false;
	}
	return true;
}

function toUC(f) {
	var x=f.value.toUpperCase();
	f.value=x;
	return true;
}

function isNum(v,maybenull) {
var n = new Number(v.value);
if (isNaN(n)) {
	return false;
	}
if (maybenull==0 && v.value=='') {
	return false;
}
return true;
}

function isDate(f) {
	var t = Date.parse(f.value);
	if (isNaN(t)) {
		return false;
	}
}

function Check(f) {
	var ok=1;
	var _alertString="";
	var alertString2;
	if (f.itemtype.value.length==0) {
		_alertString += "\n- " + _("Falta el tipo de ítem");
	}
	if (!(isNotNull(window.document.Aform.description,1))) {
		_alertString += "\n- " + _("Falta descripci&oacute;n");
	}
	if ((!isNum(f.rentalcharge,0)) && f.rentalcharge.value.length > 0) {
		_alertString += "\n- " + _("El costo por alquiler no es un número");
	}
	if (_alertString.length==0) {
		document.Aform.submit();
	} else {
		alertString2  = _("El formulario no fue procesado debido a los siguientes problemas");
		alertString2 += "\n------------------------------------------------------------------------------------\n";
		alertString2 += _alertString;
		alert(alertString2);
	}
}
     $(document).ready(function() {
        $('#icons > ul').tabs();
     });
//]]>
</script>
<style type="text/css">
	fieldset.rows div.toptabs li { clear:none;margin-right:.5em;padding-bottom:0;width:auto; }
	fieldset.rows div.toptabs .ui-tabs-nav li.ui-tabs-selected {background-color : transparent; }
	fieldset.rows .ui-tabs-panel { margin-right : 10px; margin-left : 10px;margin-bottom:10px;}
</style>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administraci&oacute;n</a> &rsaquo; <!-- TMPL_IF name="add_form" -->
  <!-- TMPL_IF name="itemtype" -->
 <a href="/cgi-bin/koha/admin/itemtypes.pl">Tipos de Artculos</a> &rsaquo;&iquest;Modificar el Tipo de Artculo '<!-- TMPL_VAR name="itemtype" -->'?
  <!-- TMPL_ELSE -->
<a href="/cgi-bin/koha/admin/itemtypes.pl">Tipos de items</a> &rsaquo; Agregar tipo de ítem
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" -->
  <!-- TMPL_IF name="total" -->
 <a href="/cgi-bin/koha/admin/itemtypes.pl">Tipos de Artculos</a> &rsaquo; No puede eliminarse el Tipo de Artculo '<!-- TMPL_VAR name="itemtype" -->'
  <!-- TMPL_ELSE -->
 <a href="/cgi-bin/koha/admin/itemtypes.pl">Tipos de Artculos</a> &rsaquo;&iquest;Eliminar el Tipo de Artculo '<!-- TMPL_VAR name="itemtype" -->'?
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirmed" -->
<a href="/cgi-bin/koha/admin/itemtypes.pl">Tipos de Artculos</a> &rsaquo;Datos borrados
<!-- /TMPL_IF -->
<!-- TMPL_IF name="else" -->
Administraci&oacute;n de tipos de items
<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
	
<!-- TMPL_IF NAME="else" --><div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[

	// prepare DOM for YUI Toolbar

	 $(document).ready(function() {
	    yuiToolbar();
	 });

	// YUI Toolbar Functions

	function yuiToolbar() {
	    new YAHOO.widget.Button("newitemtype");
	}

	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newitemtype" href="/cgi-bin/koha/admin/itemtypes.pl?op=add_form">Nuevo tipo de ítem</a></li>
</ul></div><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->

<!-- TMPL_IF name="add_form" -->
  <!-- TMPL_IF name="itemtype" -->
      <h3>Modificar tipo de ítem</h3>
  <!-- TMPL_ELSE -->
      <h3>Agregar Tipo de ítem</h3>
  <!-- /TMPL_IF -->
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="add_validate" />
    <input type="hidden" name="checked" value="0" />
		
    <fieldset class="rows">
	<ol>
  <!-- TMPL_IF name="itemtype" -->
      <li>
          <span class="label">Tipo de ítem</span> <input type="hidden" name="itemtype" value="<!-- TMPL_VAR name="itemtype" -->" />
          <!-- TMPL_VAR name="itemtype" -->
     </li>
  <!-- TMPL_ELSE -->
      <li>
          <label for="itemtype">Tipo de ítem</label> <input type="text" id="itemtype" name="itemtype" size="10" maxlength="10" onblur="toUC(this)" />
      </li>
  <!-- /TMPL_IF -->
      <li>
          <label for="description">Descripci&oacute;n</label><input type="text" id="description" name="description" size="48" maxlength="80" value="<!-- TMPL_VAR name="description" escape="HTML" -->" />      </li>
     <!-- TMPL_IF NAME="noItemTypeImages" -->
	 <li><span class="label">Imágen: </span>Está deshabilitado imágenes de tipos de items. Para habilitarlas, apague la preferencia del sistema <a href="/cgi-bin/koha/admin/systempreferences.pl?tab=all&searchfield=noItemTypeImages">noItemTypeImages</a></li></ol>
	 <!-- TMPL_ELSE --></ol>
		<div id="icons" class="toptabs">
		<h5 style="margin-left:10px;">Choose an Icon:</h5>
			<ul>
					<li><a href="/cgi-bin/koha/admin/itemtypes.pl#none">Ninguno</a></li>
				  <!-- TMPL_LOOP NAME="imagesets" -->
				  	<li><a href="/cgi-bin/koha/admin/itemtypes.pl#<!-- TMPL_VAR NAME="imagesetname" -->"><!-- TMPL_VAR name="imagesetname" --></a></li>
				  <!-- /TMPL_LOOP -->
				  <li><a href="/cgi-bin/koha/admin/itemtypes.pl#remote">Remote Image</a></li>
			</ul>
		</div>
  <div id="none"><ul>
  <li><label for="noimage">No hay imagen: </label><input type="radio" name="image" id="noimage" value="removeImage" /></li>
  </ul>
  <br class="clear" /></div>
        
  <!-- TMPL_LOOP NAME="imagesets" -->
  <div id="<!-- TMPL_VAR NAME="imagesetname" -->"><ul>
  <!-- TMPL_LOOP NAME="images" -->
  			<li style="float: none; display: inline; clear : none; width: auto;">
            <label> <!-- TMPL_IF NAME="StaffImageUrl" -->
              <img src="<!-- TMPL_VAR name="StaffImageUrl" -->" alt="<!-- TMPL_VAR name="StaffImageUrl" -->" title="<!-- TMPL_VAR name="StaffImageUrl" -->" />
        <!-- TMPL_ELSE -->
        <!-- /TMPL_IF -->
    <!-- TMPL_IF name="checked" -->
              <input type="radio" name="image" value="<!-- TMPL_VAR name="KohaImage" -->" checked="checked" />
    <!-- TMPL_ELSE -->
              <!-- TMPL_IF NAME="KohaImage" --> <!-- to delete the radio button if there is no image after -->
              <input type="radio" name="image" value="<!-- TMPL_VAR name="KohaImage" -->" />
              <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
            </label>
			</li>
  <!-- /TMPL_LOOP -->
  </ul>
  <br class="clear" />
  </div>
  <!-- /TMPL_LOOP -->
<div id="remote"><ul>
<li> <label for="remote_image_check"> Imagen remota</label>
  <!-- TMPL_IF name="remote_image" -->
            <input type="radio" id="remote_image_check" name="image" value="remoteImage" checked="checked" />
  <!-- TMPL_ELSE -->
            <input type="radio" id="remote_image_check" name="image" value="remoteImage" />
  <!-- /TMPL_IF --><input type="text" name="remoteImage" size="48" maxlength="200" value="<!-- TMPL_VAR name="remote_image" -->" onmousedown="document.getElementById('remote_image_check').checked = true;" /> <!-- TMPL_IF name="remote_image" -->
            <img src="<!-- TMPL_VAR name="remote_image" -->" alt="" />
  <!-- /TMPL_IF --></li>
</ul>
  <br class="clear" />
</div>
<!-- /TMPL_IF -->
<ol>
      <li>
          <label for="notforloan">No para préstamo</label>   <!-- TMPL_IF name="notforloan" -->
                <input type="checkbox" id="notforloan" name="notforloan" checked="checked" value="1" />
            <!-- TMPL_ELSE -->
                <input type="checkbox" id="notforloan" name="notforloan" value="1" />
            <!-- /TMPL_IF -->
           si est&aacute; seleccionado, ning&uacute;n art&iacute;culo de este tipo podr&aacute; ser prestado. Si no est&aacute; seleccionado, todos los art&iacute;culos de este tipo podr&aacute;n ser prestados, a menos que se establezca que un art&iacute;culo en particular no sale a domicilio
        
      </li>
      <li>
          <label for="renewalsallowed">Renovaciones: </label>
		  <input type="text" id="renewalsallowed" name="renewalsallowed" size="3" maxlength="3" value="<!-- TMPL_VAR NAME="renewalsallowed" -->" />
        </li>
      <li>
          <label for="rentalcharge">Costo por alquiler: </label>
		  <input type="text" id="rentalcharge" name="rentalcharge" size="10" value="<!-- TMPL_VAR name="rentalcharge" -->" />
         </li>
      <li>
          <label for="reservefee">Hold fee: </label>
		  <input type="text" id="reservefee" name="reservefee" size="10" value="<!-- TMPL_VAR name="reservefee" -->" />
         </li>
      <li>
          <label for="summary">Resumen: </label>
         <textarea id="summary" name="summary" cols="55" rows="5"><!-- TMPL_VAR NAME="summary" --></textarea>
          <p>Ingrese un resumen que se mostrar&aacute; en lugar del por defecto en las listas de resultados. Ejmplo, para un tipo de &iacute;tem Sitio Web: </p>
          <p> <b>&lt;a href="[856u]"&gt;abrir sitio&lt;/a&gt;</b> Mostrar&aacute; el v&iacute;nculo justo debajo del t&iacute;tulo</p>
      </li>
	  </ol>
    </fieldset>

    <fieldset class="action">
      <input type="button" value="Guardar cambios" onclick="Check(this.form)">
	  <a href="/cgi-bin/koha/admin/itemtypes.pl" class="cancel">Cancelar</a>
    </fieldset>
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_confirm" -->
<!-- TMPL_IF name="total" --><div class="dialog message">
<h3>No se puede borrar tipo de ítem</h3>
<p><strong>Este registro es usado <!-- TMPL_VAR name="total" --> veces</strong>Imposible Borrar</p>
<!-- TMPL_ELSE --><div class="dialog alert">
<h3>¿Eliminar Tipo de &iacute;tem '<!-- TMPL_VAR name="itemtype" -->'?</h3>
<!-- /TMPL_IF -->
<table>
		<tr>
			<th scope="row">Tipo de ítem</th>
			<td><!-- TMPL_VAR name="itemtype" --></td>
		</tr>

	<tr><th scope="row">Descripci&oacute;n</th><td><!-- TMPL_VAR name="description" --></td></tr>
	<tr><th scope="row">Duración del prestamo</th><td><!-- TMPL_VAR name="loanlength" --></td></tr>
	<tr><th scope="row">Renovaciones</th><td><!-- TMPL_IF name="renewalsallowed" -->Permitido<!-- TMPL_ELSE -->No permitido<!-- /TMPL_IF --></td></tr>
<tr><th scope="row">Costo por alquiler</th><td><!-- TMPL_VAR name="rentalcharge" --></td></tr></table>
<tr><th scope="row">Hold fee</th><td><!-- TMPL_VAR name="reservefee" --></td></tr></table>
		<form action="<!-- TMPL_VAR name="script_name" -->" method="post">
		<input type="hidden" name="op" value="delete_confirmed" /><input type="hidden" name="itemtype" value="<!-- TMPL_VAR name="itemtype" -->" /><!-- TMPL_IF name="total" -->
		</form>
		
		<form action="<!-- TMPL_VAR name="script_name" -->" method="post"><input type="submit" class="approve" value="OK" /></form>
	<!-- TMPL_ELSE -->
		<input type="submit" class="approve" value="Eliminar este Tipo de &iacute;tem"></form> <form action="<!-- TMPL_VAR name="script_name" -->" method="post"><input type="submit" class="deny" value="No eliminar"></form>
	<!-- /TMPL_IF -->
</div>
	
<!-- /TMPL_IF -->

<!-- TMPL_IF name="else" -->
<h2>Administraci&oacute;n de tipos de items</h2>
<table>
  <tr>
    <!-- TMPL_UNLESS NAME="noItemTypeImages" --><th>Imágen</th><!-- /TMPL_UNLESS -->
    <th>C&oacute;digo</th>
    <th>Descripci&oacute;n</th>
    <th>No para préstamo</th>
    <th>Renovable</th>
    <th>Cargo</th>
    <th>Hold fee</th>
    <th>Acciones</th>
  </tr>
  <!-- TMPL_LOOP name="loop" -->
    <!-- TMPL_UNLESS name="__odd__" -->
  <tr class="highlight">
    <!-- TMPL_ELSE -->
  <tr>
    <!-- /TMPL_IF -->
   <!-- TMPL_UNLESS NAME="noItemTypeImages" --> <td><img src="<!-- TMPL_VAR name="imageurl" -->" alt="" /></td><!-- /TMPL_UNLESS -->
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=add_form&amp;itemtype=<!-- TMPL_VAR name="itemtype" escape="HTML" -->">
        <!-- TMPL_VAR name="itemtype" -->
      </a>
    </td>
    <td><!-- TMPL_VAR name="description" --></td>
    <td><!-- TMPL_IF NAME="notforloan" -->Si<!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
    <td>
    <!-- TMPL_IF NAME="renewalsallowed" -->
      <!-- TMPL_VAR name="renewalsallowed" --> veces
    <!-- TMPL_ELSE -->
      No
    <!-- /TMPL_IF -->
    </td>
    <td>
    <!-- TMPL_UNLESS name="notforloan" -->
      <!-- TMPL_VAR NAME="rentalcharge" -->
    <!-- /TMPL_UNLESS -->
    </td>
    <td>
    <!-- TMPL_UNLESS name="notforloan" -->
      <!-- TMPL_VAR NAME="reservefee" -->
    <!-- /TMPL_UNLESS -->
    </td>
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=add_form&amp;itemtype=<!-- TMPL_VAR name="itemtype" escape="HTML" -->">Editar</a> <a href="<!-- TMPL_VAR name="script_name" -->?op=delete_confirm&amp;itemtype=<!-- TMPL_VAR name="itemtype" escape="HTML" -->">Borrar</a>
    </td>
  </tr>
  <!-- /TMPL_LOOP -->
</table>

<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>

<!-- /TMPL_IF -->



</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
