<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo;<!-- TMPL_IF name="add_form" --><!-- TMPL_IF NAME="use-heading-flags-p" --><!-- TMPL_IF NAME="heading-edit-subfields-p" --> Estructura de subcampos MARC &rsaquo;  Editar restriciones de subcampos MARC <!-- /TMPL_IF --><!-- TMPL_ELSE --> Estructura de subcampos MARC &rsaquo; <!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> Estructuras de subcampos MARC &gt; Confirmar la eliminación de Subcampo <!-- TMPL_VAR NAME="tagsubfield" --><!-- /TMPL_IF --><!-- TMPL_IF name="delete_confirmed" -->  Estructura de subcampos MARC &rsaquo;  Subcampo suprimido<!-- /TMPL_IF --><!-- TMPL_IF name="else" -->Estructura de subcampos MARC<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

	 $(document).ready(function() {
 		$('#subfieldtabs > ul').tabs();
		$("a.displaymore").click(function(){
			$("#"+$(this).attr("href").replace("#","")).toggle();
			if($(this).html() == "display more constraints"){
				$(this).html("hide constraints");
			} else {
				$(this).html("display more constraints");
			}
		});
	 });

/*function displayMoreConstraint(numlayer){
    var thisdiv = document.getElementById(numlayer);
    if(thisdiv.getAttribute("class") == "content_hidden"){
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_visible");
    } else {
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_hidden");
    }
}*/

//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs">
   <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administraci&oacute;n</a> &rsaquo; <a href="/cgi-bin/koha/admin/biblio_framework.pl">Estructura MARC</a> &rsaquo; <a href="/cgi-bin/koha/admin/marctagstructure.pl?frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->&amp;searchfield=<!-- TMPL_VAR name="tagfield" -->"><!-- TMPL_VAR NAME="frameworkcode" --> Estructura</a> &rsaquo;
  <!-- TMPL_IF name="add_form" -->
  <!-- TMPL_IF NAME="use-heading-flags-p" -->
  <!-- TMPL_IF NAME="heading-edit-subfields-p" -->  <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Etiqueta <!-- TMPL_VAR NAME="tagfield" --> Estructura del Subcampo</a> &rsaquo; Editar limitaciones de los Subcampos
  <!-- /TMPL_IF -->
  <!-- TMPL_ELSE --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Etiqueta <!-- TMPL_VAR NAME="tagfield" --> Estructura del Subcampo</a> &rsaquo; <!-- TMPL_VAR NAME="action" -->
  <!-- /TMPL_IF -->
  <!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" -->  <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Etiqueta <!-- TMPL_VAR NAME="tagfield" --> Estructura del Subcampo</a> &rsaquo; Confirmar Borrado del Subcampo <!-- TMPL_VAR NAME="tagsubfield" -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirmed" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Etiqueta <!-- TMPL_VAR NAME="tagfield" --> Estructura del Subcampo</a> &rsaquo; Subcampo Borrado
<!-- /TMPL_IF -->
<!-- TMPL_IF name="else" -->Estructura de subcampo de etiqueta <!-- TMPL_VAR NAME="tagfield" --><!-- /TMPL_IF -->
</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">

<!-- TMPL_IF NAME="add_form" -->
    <h1>
        <!-- TMPL_IF NAME="use-heading-flags-p" -->
            <!-- TMPL_IF NAME="heading-edit-subfields-p" -->Restricciones en subcampos de etiqueta <!-- TMPL_VAR NAME="tagfield" --><!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="action" -->
        <!-- /TMPL_IF -->
    </h1>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
    <input type="hidden" name="op" value="add_validate" />
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
    <input type="submit" value="Guardar cambios">
    
    <div id="subfieldtabs" class="toptabs numbered">
   <ul>
        <!-- TMPL_LOOP NAME="loop" -->
            <!-- TMPL_IF NAME="new_subfield" -->
                <!-- TMPL_IF EXPR="tagfield >=10" --><!-- display new only for > 10 fields -->
                <li><a href="/cgi-bin/koha/admin/marc_subfields_structure.pl#sub<!-- TMPL_VAR NAME="urisubfieldcode" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">Nuevo</a></li>
                <!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->
                <li><a href="/cgi-bin/koha/admin/marc_subfields_structure.pl#sub<!-- TMPL_VAR NAME="urisubfieldcode" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">
                    <!-- TMPL_VAR NAME="subfieldcode" -->
               </a></li>
            <!-- /TMPL_IF -->
        <!-- /TMPL_LOOP -->
    </ul>
    
    <!-- TMPL_LOOP NAME="loop" --> 
        <div id="sub<!-- TMPL_VAR NAME="urisubfieldcode" -->field">
        
               <fieldset class="rows"><legend><!-- TMPL_IF "new_subfield" -->Add new subfield<!-- TMPL_ELSE -->Restricciones b&aacute;sicas<!-- /TMPL_IF --></legend>
                	<ol>
                		<!-- TMPL_IF EXPR="subfieldcode eq 0 || subfieldcode" --> 
                		<li><span class="label">Código de subcampo:</span> <!-- TMPL_VAR NAME="subfieldcode" --> <input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></li>
                		<!-- TMPL_ELSE -->
                		<li><label for="tagsubfield<!-- TMPL_VAR NAME="row" -->">Código de subcampo:</label> <input type="text" id="tagsubfield<!-- TMPL_VAR NAME="row" -->" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></li>
                		<!-- /TMPL_IF -->
                		<li><label for="liblibrarian<!-- TMPL_VAR NAME="row" -->">Texto para bibliotecario: </label><input id="liblibrarian<!-- TMPL_VAR NAME="row" -->" type="text" name="liblibrarian" value="<!-- TMPL_VAR NAME="liblibrarian" -->" size="40" maxlength="80" /></li>
                		<li><label for="libopac<!-- TMPL_VAR NAME="row" -->">Texto para el OPAC: </label><input type="text" id="libopac<!-- TMPL_VAR NAME="row" -->" name="libopac" value="<!-- TMPL_VAR NAME="libopac" -->" size="40" maxlength="80" /></li>
                		<li><label for="repeatable<!-- TMPL_VAR NAME="row" -->">Repetible </label><!-- TMPL_VAR NAME="repeatable" --></li>
                		<li><label for="mandatory<!-- TMPL_VAR NAME="row" -->">Obligatorio: </label><!-- TMPL_VAR NAME="mandatory" --></li>
                		<li><label for="tab<!-- TMPL_VAR NAME="row" -->">Administrador en pestaña: </label> <!-- TMPL_VAR NAME="tab" --> (ignorar significa que el subcampo NO se muestra en el editor de registros)</li>
                	</ol>
            </fieldset>
			
            <a class="displaymore" href="#more<!-- TMPL_VAR NAME="urisubfieldcode" -->">muestre más restricciones</a>
            <div id="more<!-- TMPL_VAR NAME="urisubfieldcode" -->" style="display:none; clear: both">
             <fieldset class="rows">
				<legend>Restricciones avanzadas:</legend>
                <ol><li><label for="defaultvalue<!-- TMPL_VAR NAME="row" -->">Valore predeterminado:</label>
                    <input type="text" name="defaultvalue" id="defaultvalue<!-- TMPL_VAR NAME="row" -->" value="<!-- TMPL_VAR NAME="defaultvalue" -->" /></li>
                <li><label for="hidden<!-- TMPL_VAR NAME="row" -->">oculto</label><input type="text" id="hidden<!-- TMPL_VAR NAME="row" -->" name="hidden" value="<!-- TMPL_VAR name="hidden" -->" size="2" /> (ver ayuda en l&iacute;nea)</li>
                <li><label for="isurl<!-- TMPL_VAR NAME="row" -->">Es una URL:</label> <!-- TMPL_VAR NAME="isurl" -->  (si est&aacute; seleccionado, el subcampo es una URL y puede ser cliqueado)</li>
                <li><label for="link<!-- TMPL_VAR NAME="row" -->">Enlace: </label><input type="text" id="link<!-- TMPL_VAR NAME="row" -->" name="link" value="<!-- TMPL_VAR NAME="link" -->" size="10" maxlength="80" /> (ej., Titulo o Número-Local) <span class="error"><em>Advertencia: Este valor no debe cambiar después que se han añadido datos a su catálogo</em></span></li>
                <li><label for="kohafield<!-- TMPL_VAR NAME="row" -->">Enlace de Koha:</label><!-- TMPL_VAR NAME="kohafield" --></li>
			</ol>
	</fieldset>
	 <fieldset class="rows">
                <legend>Other Options: (choose one)</legend>
                    	<ol>
                    		<li><label for="authorised_value<!-- TMPL_VAR NAME="row" -->">Valor autorizado</label><!-- TMPL_VAR NAME="authorised_value" --></li>
                    		<li><label for="authtypecode<!-- TMPL_VAR NAME="row" -->">Tesauro:</label><!-- TMPL_VAR NAME="authtypes" --></li>
                    		<li><label for="value_builder<!-- TMPL_VAR NAME="row" -->">Plugin: </label><!-- TMPL_VAR NAME="value_builder" --></li>
                    	</ol>
				</fieldset>
            </div><br class="clear" /><!-- /more  -->
        </div><!-- /content_sub -->
        <!-- /TMPL_LOOP -->
		</div><!-- /content -->
    </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->

<h3>¿Confirmar borrado del subcampo <!-- TMPL_VAR NAME="tagsubfield" -->?</h3>
    <p>Subcampo: <!-- TMPL_VAR NAME="tagsubfield" --></p>
    <p>Descripci&oacute;n: <!-- TMPL_VAR NAME="liblibrarian" --></p>

            <form action="<!-- TMPL_VAR NAME="delete_link" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" />
                <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
                <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
				<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
				<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
				<input type="submit" value="Si, eliminiar este subcampo">
            </form>
			
			<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
			<input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
			<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
			<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
			<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
			<input type="submit" value="No, no borre">
            </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->

    <h3>Datos borrados</h3>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="submit" value="OK" />
    </form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="else" -->
<h1> Administración de estructura de subcampos MARC para <!-- TMPL_VAR NAME="tagfield" --> (hoja de trabajo <!--TMPL_VAR NAME="frameworkcode" -->)</h1>
<p>Esta pantalla muestra los subcampos asociados con la etiqueta seleccionada. Puede editar los subcampos o agregar uno nuevo haciendo clic en editar. </p>
<p>La columna <b>campo Koha</b> muestra que el subcampo está conectado a un campo Koha. Koha puede adminstrar una interfaz MARC, o una interfaz Koha. Este enlace asegura que ambas bases de datos están sincronizadas, de manera que pueda cambiar de una interfaz MARC a una Koha con facilidad.</p>

<table>
<tr>
    <th>Subcampo</th>
    <th>Texto</th>
    <th>Restricciones</th>
    <th>Borrar</th>
</tr>
<!-- TMPL_LOOP NAME="loop" -->
<!-- TMPL_UNLESS NAME="__odd__" -->
<tr class="highlight">
<!-- TMPL_ELSE -->
<tr>
<!-- /TMPL_UNLESS -->
    <td><!-- TMPL_VAR NAME="tagsubfield" --></td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i><!-- TMPL_VAR NAME="liblibrarian" --></i>
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="liblibrarian" -->
        <!-- /TMPL_IF -->
    </td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i>subcampo ignorado</i>
        <!-- TMPL_ELSE -->
            Pestaña:<!-- TMPL_VAR NAME="tab" -->,
            <!-- TMPL_IF NAME="kohafield" --> | Campo Koha : <!-- TMPL_VAR NAME="kohafield" -->, <!--/TMPL_IF -->
            <!-- TMPL_IF NAME="repeatable" -->Repetible, <!-- TMPL_ELSE -->No repetible,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="mandatory" -->Obligatorio, <!-- TMPL_ELSE -->No obligatorio,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="seealso" --> | Ver también : <!-- TMPL_VAR NAME="seealso" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="hidden" -->oculto,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="isurl" -->es una URL,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authorised_value" --> | Valor autorizado:<!-- TMPL_VAR NAME="authorised_value" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authtypecode" --> | Autoridad:<!-- TMPL_VAR NAME="authtypecode" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="value_builder" --> | Plugin :<!-- TMPL_VAR NAME="value_builder" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="link" --> | Enlace:<!-- TMPL_VAR NAME="link" -->,<!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
    </td>
    <td><a href="<!-- TMPL_VAR NAME="delete" -->">Borrar</a></td>
</tr>
<!-- /TMPL_LOOP -->
</table>

<form action="<!-- TMPL_VAR NAME="script_name" -->" method="get">
    <fieldset class="action"><input type="hidden" name="op" value="add_form" />
    <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="edit_tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="edit_frameworkcode" -->" />
    <input type="submit" value="Editar subcampos">
	<a class="cancel" href="marctagstructure.pl?searchfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Cancelar</a>
	</fieldset>
</form>

<!-- TMPL_IF NAME="previous" -->
    <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1leftarrow.png" title="anterior" alt="anterior" border="0">
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="next" -->
    <!-- TMPL_VAR NAME="next" -->
        <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1rightarrow.png" title="siguiente" alt="siguiente" border="0">
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->



</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
