<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Administración &rsaquo; <!-- TMPL_IF NAME="else" -->Servidores Z39.50<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_form" --> Servidores Z39.50 &rsaquo; <!-- TMPL_IF NAME="searchfield" -->Modificar servidor Z39.50 <!-- TMPL_VAR NAME="searchfield" --><!-- TMPL_ELSE -->Nuevo servidor Z39.50<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" -->Servidores Z39.50 &rsaquo; Confirmar eliminación<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" -->Z39.50 Servidores&gt; Servidor Z39.50 añadido<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" -->Servidores Z39.50 &rsaquo; Servidor Z39.50 eliminación<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<!-- TMPL_IF NAME="add_form" -->
<script type="text/javascript">
//<![CDATA[
        //
        function isNotNull(f,noalert) {
                if (f.value.length ==0) {
                    return false;
                }
                return true;
        }
        //
        function toUC(f) {
                var x=f.value.toUpperCase();
                f.value=x;
                return true;
        }
        //
        function isNum(v,maybenull) {
        var n = new Number(v.value);
        if (isNaN(n)) {
                return false;
                }
        if (maybenull==0 && v.value=='') {
                return false;
        }
        return true;
        }
        //
        function isDate(f) {
                var t = Date.parse(f.value);
                if (isNaN(t)) {
                       return false;                       
                }
        }
        //
        function Check(f) {
                var ok=1;
                var _alertString="";
                var alertString2;
                if (f.searchfield.value.length==0) {_alertString += "- target name missing\n";
                }
                if (f.host.value.length==0) {_alertString += "- host missing\n";
                }
                if (f.port.value.length==0) {_alertString += "- port missing\n";
                }
                if (f.db.value.length==0) {_alertString += "- database missing\n";
                }
                if (isNaN(f.port.value)) {_alertString += "- port must be a number\n";
                }
                if (isNaN(f.rank.value)) {_alertString += "- rank must be a number\n";
                }
                if (isNaN(f.checked.value) || f.checked.value<0 || f.checked.value>1) {_alertString += "- checked must be 0 or 1\n";
                }
                if (_alertString.length==0) {document.Aform.submit();
                } else {alertString2 = "Form not submitted because of the following problem(s)\n";alertString2 += "------------------------------------------------------------------------------------\n\n";alertString2 += _alertString;alert(alertString2);
                }
        }
        //]]>
</script>
        <!-- /TMPL_IF -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="z3950-admin-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administraci&oacute;n</a> &rsaquo; <!-- TMPL_IF NAME="else" -->Servidores Z39.50<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_form" --> <a href="/cgi-bin/koha/admin/z3950servers.pl">Servidores z39.50</a> &rsaquo; <!-- TMPL_IF NAME="searchfield" -->Modificar servidor Z39.50 <!-- TMPL_VAR NAME="searchfield" --><!-- TMPL_ELSE -->Nuevo servidor Z39.50<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" --> <a href="/cgi-bin/koha/admin/z3950servers.pl">Servidores z39.50</a> &rsaquo; Confirmar Borrado<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" --> <a href="/cgi-bin/koha/admin/z3950servers.pl">Servidores z39.50</a> &rsaquo; Servidor z39.50 agregado<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" --> <a href="/cgi-bin/koha/admin/z3950servers.pl">Servidores z39.50</a> &rsaquo; Servidor z39.50 Borrado<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="add_form" -->
       
        <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
        <input type="hidden" name="op" value="add_validate" />
<!-- TMPL_IF NAME="searchfield" -->
                <h1>Modificar servidor Z39.50</h1>
        <!-- TMPL_ELSE -->
                <h1>Nuevo servidor Z39.50</h1>
        <!-- /TMPL_IF -->                
        <fieldset class="rows">
        <ol><!-- TMPL_IF NAME="searchfield" -->
                <li><span class="label">Servidor Z39.50: </span>        <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" /><!-- TMPL_VAR NAME="searchfield" --></li>
        <!-- TMPL_ELSE -->
                <li><label for="searchfield">Servidor Z39.50: </label>        <input type="text" name="searchfield" id="searchfield" size="65" maxlength="100" onblur="toUC(this)" /></li>
        <!-- /TMPL_IF -->

		<li><label for="host">Nombre de equipo: </label>	<input type="text" name="host" id="host" size="30" value="<!-- TMPL_VAR NAME="host" -->" />
		</li>
		<li><label for="port">Puerto: </label>	<input type="text" name="port" id="port" size="5" value="<!-- TMPL_VAR NAME="port" -->" onblur="isNum(this)" />
		</li>
		<li><label for="db">Base de datos: </label>	<input type="text" name="db" id="db" value="<!-- TMPL_VAR NAME="db" -->" />
		</li>
		<li><label for="userid">ID de usuario: </label>	<input type="text" name="userid" id="userid" value="<!-- TMPL_VAR NAME="userid" -->" />
		</li>
		<li><label for="password">Contraseña: </label>	<input type="text" name="password" id="password" value="<!-- TMPL_VAR NAME="password" -->" />
		</li>
		<li><label for="checked">Marcado (busca por defecto) </label>	<input type="text" size="1" name="checked" id="checked" value="<!-- TMPL_VAR NAME="checked" -->" onblur="isNum(this)" />  </li>
		<li><label for="rank">Orden (orden de aparici&oacute;n) </label>	<input type="text" name="rank" id="rank" size="4" value="<!-- TMPL_VAR NAME="rank" -->" onblur="isNum(this)" />
		</li>	
		<li><label for="syntax">Sintaxis (z3950 puede enviar <br /> registros en varios formatos. Elija uno): </label>	
<select name="syntax">
<!-- TMPL_IF NAME="syntaxUNIMARC" -->
<option value="UNIMARC" selected="selected">UNIMARC</option>
<!-- TMPL_ELSE -->
<option value="UNIMARC">UNIMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxINTERMARC" -->
<option value="INTERMARC" selected="selected">INTERMARC</option>
<!-- TMPL_ELSE -->
<option value="INTERMARC">INTERMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxCCF" -->
<option value="CCF" selected="selected">CCF</option>
<!-- TMPL_ELSE -->
<option value="CCF">CCF</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxUSMARC" -->
<option value="USMARC" selected="selected">MARC21/USMARC</option>
<!-- TMPL_ELSE -->
<option value="USMARC">MARC21/USMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxUKMARC" -->
<option value="UKMARC" selected="selected">UKMARC</option>
<!-- TMPL_ELSE -->
<option value="UKMARC">UKMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxNORMARC" -->
<option value="NORMARC" selected="selected">NORMARC</option>
<!-- TMPL_ELSE -->
<option value="NORMARC">NORMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxLIBRISMARC" -->
<option value="LIBRISMARC" selected="selected">LIBRISMARC</option>
<!-- TMPL_ELSE -->
<option value="LIBRISMARC">LIBRISMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxDANMARC" -->
<option value="DANMARC" selected="selected">DINAMARCA</option>
<!-- TMPL_ELSE -->
<option value="DANMARC">DINAMARCA</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxFINMARC" -->
<option value="FINMARC" selected="selected">FINMARC</option>
<!-- TMPL_ELSE -->
<option value="FINMARC">FINMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxCANMARC" -->
<option value="CANMARC" selected="selected">CANMARC</option>
<!-- TMPL_ELSE -->
<option value="CANMARC">CANMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxSBN" -->
<option value="SBN" selected="selected">SBN</option>
<!-- TMPL_ELSE -->
<option value="SBN">SBN</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxPICAMARC" -->
<option value="PICAMARC" selected="selected">PICAMARC</option>
<!-- TMPL_ELSE -->
<option value="PICAMARC">PICAMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxAUSMARC" -->
<option value="AUSMARC" selected="selected">AUSMARC</option>
<!-- TMPL_ELSE -->
<option value="AUSMARC">AUSMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxIBERMARC" -->
<option value="IBERMARC" selected="selected">UNIMARC</option>
<!-- TMPL_ELSE -->
<option value="IBERMARC">UNIMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxCATMARC" -->
<option value="CATMARC" selected="selected">CATMARC</option>
<!-- TMPL_ELSE -->
<option value="CATMARC">CATMARC</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="syntaxMALMARC" -->
<option value="MALMARC" selected="selected">MALMARC</option>
<!-- TMPL_ELSE -->
<option value="MALMARC">MALMARC</option>
<!-- /TMPL_IF -->
</select>
</li>

    <li><label for="encoding">Codificaci&oacute;n (z39.50 puede enviar<br /> registros en varias codificaciones. Elija una): </label>  
<select name="encoding">
<!-- TMPL_IF NAME="encodingutf8" -->
<option value="utf8" selected="selected">UTF-8</option>
<!-- TMPL_ELSE -->
<option value="utf8">UTF-8</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="encodingISO_5426" -->
<option value="ISO_5426" selected="selected">ISO_5426</option>
<!-- TMPL_ELSE -->
<option value="ISO_5426">ISO_5426</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="encodingISO_6937" -->
<option value="ISO_6937" selected="selected">ISO_6937</option>
<!-- TMPL_ELSE -->
<option value="ISO_6937">ISO_6937</option>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="encodingMARC-8" -->
<option value="MARC-8" selected="selected">MARC-8</option>
<!-- TMPL_ELSE -->
<option value="MARC-8">MARC-8</option>
<!-- /TMPL_IF -->
</select>
</li>
</ol>
        </fieldset>
		
		<fieldset class="action"><input type="button" value="Guardar" onclick="Check(this.form)"> <a class="cancel" href="/cgi-bin/koha/admin/z3950servers.pl">Cancelar</a></fieldset>
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="add_validate" -->
<h3>Servidor Z39.50 agregado</h3>
<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="submit" value="OK" />
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->
	<!-- TMPL_VAR NAME="reqsel" --> <h3>Confirmar borrado del servidor <!-- TMPL_VAR NAME="searchfield" --></h3>	
        <ul>
                <li><strong>Objetivo:  </strong>        <!-- TMPL_VAR NAME="searchfield" --></li>
                <li><strong>Nombre de equipo: </strong><!-- TMPL_VAR NAME="host" --></li>
                <li><strong>Puerto: </strong><!-- TMPL_VAR NAME="port" --></li>
                <li><strong>Base de datos: </strong><!-- TMPL_VAR NAME="db" --></li>
                <li><strong>ID de usuario: </strong><!-- TMPL_VAR NAME="userid" --></li>
                <li><strong>Contraseña: </strong><!-- TMPL_VAR NAME="password" --></li>
                <li><strong>Marcado: </strong><!-- TMPL_VAR NAME="checked" --></li>
                <li><strong>Orden: </strong><!-- TMPL_VAR NAME="rank" --></li>
                <li><strong>Sintaxis:  </strong><!-- TMPL_VAR NAME="syntax" --></li>
                <li><strong>Codificaci&oacute;n: </strong><!-- TMPL_VAR NAME="encoding" --></li>
 	</ul>                <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" /><input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" /><input type="submit" value="Eliminar este Servidor"></form>  <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post"><input type="submit" value="No eliminar"></form>



<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->
<h3>Servidor Z39.50 eliminado</h3>
<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
                <input type="submit" value="OK" />
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="else" -->

<div id="toolbar">
		<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
	<script type="text/javascript">
	//<![CDATA[
	// prepare DOM for YUI Toolbar
	 $(document).ready(function() {
	    yuiToolbar();
		<!-- TMPL_IF NAME="loop" -->$.tablesorter.defaults.widgets = ['zebra'];
		$("#serverst").tablesorter({
			sortList: [[0,0]],
			headers: { 2: {sorter:false},3: { sorter: false },4: { sorter: false },7: { sorter: false },8: { sorter: false },9: { sorter: false },10: { sorter: false }}
		});<!-- /TMPL_IF -->
	 });
	// YUI Toolbar Functions
	function yuiToolbar() {
	    new YAHOO.widget.Button("newserver");
	}	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newserver" href="/cgi-bin/koha/admin/z3950servers.pl?op=add_form">Nuevo servidor Z39.50</a></li>
</ul></div>

<h3>Administración de Servidores Z39.50</h3>

        <!-- TMPL_IF NAME="searchfield" -->
                Usted buscó sobre <!-- TMPL_VAR NAME="searchfield" -->
        <!-- /TMPL_IF -->		
<table id="serverst">
                <thead><tr><th>Objetivo</th><th>Hostname/puerto</th><th>Base de Datos</th><th>ID de usuario</th><th>Contraseña</th><th>Marcado</th><th>Orden</th>       			<th>Sintaxis </th><th>Codificaci&oacute;n</th><th colspan="2">&nbsp;</th>
                </tr></thead>
                <tbody><!-- TMPL_LOOP NAME="loop" -->
                <!-- TMPL_UNLESS NAME="__odd__" -->
                    <tr class="highlight">
                <!-- TMPL_ELSE -->
                    <tr>
                <!-- /TMPL_UNLESS -->
<td><a href="<!-- TMPL_VAR name="script_name" -->?op=add_form&amp;searchfield=<!-- TMPL_VAR NAME="name" ESCAPE="url" -->"><!-- TMPL_VAR NAME="name" --></a></td><td><!-- TMPL_VAR NAME="host" -->:<!-- TMPL_VAR NAME="port" --></td><td><!-- TMPL_VAR NAME="db" --></td><td><!-- TMPL_VAR NAME="userid" --></td><td><!-- TMPL_VAR NAME="password" --></td><td><!-- TMPL_VAR NAME="checked" --></td><td><!-- TMPL_VAR NAME="rank" --></td>			<td><!-- TMPL_VAR NAME="syntax" --></td><td><!-- TMPL_VAR NAME="encoding" --></td><td><a href="<!-- TMPL_VAR name="script_name" -->?op=add_form&amp;searchfield=<!-- TMPL_VAR NAME="name" ESCAPE="url" -->">Editar</a></td><td><a href="<!-- TMPL_VAR name="script_name" -->?op=delete_confirm&amp;searchfield=<!-- TMPL_VAR NAME="name" ESCAPE="url" -->">Borrar</a></td>                </tr>
                <!-- /TMPL_LOOP --></tbody>
	</table>

<!-- TMPL_IF NAME="offsetgtzero" --><form action="<!-- TMPL_VAR NAME="script_name" -->" method="get">
	<input type="hidden" name="offset" value="<!-- TMPL_VAR NAME="prevpage" -->" />
	<input type="submit" value="&lt;&lt; Anterior">
</form><!-- /TMPL_IF -->

<!-- TMPL_IF NAME="ltcount" --><form action="<!-- TMPL_VAR NAME="script_name" -->" method="get">
	<input type="hidden" name="offset" value="<!-- TMPL_VAR NAME="nextpage" -->" />
	<input type="submit" value="Siguiente &gt;&gt;">
</form> <!-- /TMPL_iF -->
 

<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
