<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Cataloging &rsaquo; <!-- TMPL_VAR name="title" escape="html" --> <!-- TMPL_IF NAME="author" --> by <!-- TMPL_VAR name="author" --><!-- /TMPL_IF --> (Record #<!-- TMPL_VAR NAME="biblionumber" -->) &rsaquo; Items</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
		$("fieldset.rows input").keydown(function(e){ return checkEnter(e); });
		$("#ajax_spinner").center();
});

jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
    this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
    return this;
}

function active(numlayer)
{
    for (i=10; i < 11 ; i++ ) {
        ong = i+"XX";
            link = "link"+i;
        if (numlayer==i) {
            document.getElementById(ong).style.visibility="visible";
            document.getElementById(link).style.backgroundColor="#11AA11";
            document.getElementById(link).style.backgroundImage="url(<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif)";
        } else {
            document.getElementById(ong).style.visibility="hidden";
            document.getElementById(link).style.backgroundColor="#FFFFFF";
            document.getElementById(link).style.backgroundImage="";
        }
    }
}
function closeValErr(rmBarcode) {
   var el = document.getElementById('valErr');
   el.innerHTML = '';
   el.style.display = 'none';
   if (rmBarcode==1) { document.f.<TMPL_VAR NAME="barcode_id">.value ='' }
   $('#<TMPL_VAR NAME="barcode_id">').focus();
}
function Check(f) {
   var total_errors = 0;
//	alert(f.field_value.length);
    for (i=0; i<f.field_value_0.length ; i++) {
//	alert (f.field_value_0[i].value);
        if (f.field_value_0[i].value.length==0 && f.mandatory_0[i].value==1) {
            document.getElementById("error"+i).style.backgroundColor="#FF0000";
            total_errors++;
        } else {
//			document.getElementById("error"+i).style.backgroundColor="#FFFFFF";
        }
    }
    var alertString2;
    if (total_errors==0) {
      // do nothing
    }
    else {
        alertString2  = "Form not submitted because of the following problem(s)";
        alertString2 += "\n------------------------------------------------------------------------------------\n";
        alertString2 += "\n- "+ total_errors+_(" mandatory fields empty (see bold subfields)");
        alert(alertString2);
        return false;
    }

   var el = document.getElementById('valErr');
   if ( $('#<!-- TMPL_VAR NAME="barcode_id" -->').val() ) {
      var perm = document.getElementById('<TMPL_VAR NAME="branchcode_tag_id">');
      var branchcode = perm.options[perm.selectedIndex].value;
      var dupecheck = 1;
      var itemnumber = '<!-- TMPL_VAR NAME="itemnumber" -->';
      var id = '<!-- TMPL_VAR NAME="itemnumber" -->';
      // dupecheck if adding
      if (id == '') { dupecheck = 1; }
      $.getJSON('check_barcode.pl', {'barcode':$('#<!-- TMPL_VAR NAME="barcode_id" -->').val(),'barcodetype':'item','branchcode':branchcode,'dupecheck':dupecheck,'itemnumber':itemnumber},function(data) {
			if ( data.itemnumber ) {
				var itemData = '<table border=0 cellspacing=0 cellpadding=2>';
				itemData += '<tr><td>Title: </td><td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber='
            +data.biblionumber + '">' + data.title + ' ' + data.subtitle + "</a></td></tr>";

				if ( data.medium ) {
					itemData += "<tr><td>Medium: </td><td>" + data.medium + "</td></tr>";
				}
				if ( data.field245n || data.field245p ) {
					itemData += "<tr><td>Part/Section: </td><td>" + data.field245n + ' ' + data.field245p + "</td></tr>";
				}
				itemData += "<tr><td>Holding Location: </td><td>" + data.holdingbranch + "</td></tr>";
				itemData += "<tr><td>Home Location: </td><td>" + data.homebranch + "</td></tr>";
				if ( data.date_due ) {
					itemData += "<tr><td colspan=2>Currently checked out.<br>";
					itemData += "Due back on " + data.date_due + "</td></tr>";
				}
				if ( data.bib_level_reserves ) {
					itemData += "<tr><td colspan=2><span class=error><b>";
					itemData += "This item has bibliographic-level holds.</b></span></td></tr>";
				}
				if ( data.item_level_reserves ) {
					itemData += "<tr><td colspan=2><span class=error><b>"
               + "This item has item-level holds.</b></span></td></tr>";
				}
            itemData += '</table>';
      
				<TMPL_IF NAME="CAN_user_editcatalogue_relink_items">
            var url = 'additem.pl?op=edititem&mv=1&biblionumber=<TMPL_VAR NAME="biblionumber">'
            +'&itemnumber='+data.itemnumber;
            el.innerHTML = '<span class="error"><b>This barcode is currently being used by '
            +'the following item:</b></span><br><br>'
            +itemData
            +'Do you want to move this item from its current bibliographic record to this one?<br><br>'
            +'&lt;OK&gt; will load the data from the existing item.<br>'
            +'&lt;Cancel&gt; will retain any data you have entered except the barcode.<br>'
            +"After the item's data loads, you can review and edit the data and then choose<br>"
            +'&lt;Save Changes&gt; to commit changes.<br><br>'
            +'<input type=button value="OK" onclick="window.location=\''+url+'\'"> '
            +'<input type=button value="Cancel" onclick="closeValErr(1)">';
				<TMPL_ELSE>
            el.innerHTML = '<span class=error><b>This barcode is currently being used by the following item:'
            +'</b></span><br><br>'
            +itemData
            +'<br>Please use a different barcode.<br><br>'
            +'<input type=button value="OK" onclick="closeValErr(1)">';
				</TMPL_IF>
            el.style.display = 'block';
            document.getElementById('aboveValErr').scrollIntoView();
			}
         else if (data.error) {
            el.innerHTML = 'Invalid barcode: <span class="error"><b>'
            +data.error + '</b></span><br><br>'
            +'Cannot save record.<br><br>'
            +'Click OK to go back to the record and re-enter barcode.<br>'
            +'Otherwise, click to override and save with current barcode.<br><br>'
            +'<input type=button value="Override and Save" onclick="document.f.submit()"> '
            +'<input type=button value="OK" onclick="closeValErr();">';
            el.style.display = 'block';
            document.getElementById('aboveValErr').scrollIntoView();
            total_errors++;
         }
         else {
            document.f.submit();
         }
		});
   }
   else { 
      el.innerHTML = 'Barcode is required.<br><br>'
      +'<input type=button value="OK" onclick="closeValErr()">';
      el.style.display = 'block';
      document.getElementById('aboveValErr').scrollIntoView();
   }
}
function CheckMultipleAdd(f) {
    if (!f || isNaN(f) || !parseInt(f) == f || f <= 0) { 
	alert("Please enter a number of items to create."); 
	return false;	
    }
   return true;
}
function Dopop(link,i) {
    defaultvalue=document.forms[0].field_value[i].value;
    newin=window.open(link+"&result="+defaultvalue,"valuebuilder",'width=500,height=400,toolbar=false,scrollbars=yes');
}

function confirm_deletion(biblionumber,itemnumber) {
	var original = $("#row"+itemnumber).attr("class");
	$("#row"+itemnumber).attr("class","confirm");
    var is_confirmed = confirm(_("Are you sure you want to delete this item?"));
    if (is_confirmed) {
    window.location = "additem.pl?op=delitem&biblionumber="+biblionumber+"&itemnumber="+itemnumber;
	} else {
	$("#row"+itemnumber).attr("class","");
    }
}

function confirm_deletion_with_holds(biblionumber,itemnumber) {
	var original = $("#row"+itemnumber).attr("class");
	$("#row"+itemnumber).attr("class","confirm");
    var is_confirmed = confirm(_('This item currently has item-level holds placed on it.\n'
    +'Deleting this item will also delete its holds.\n'
    +'Are you sure you want to delete this item?'));
    if (is_confirmed) {
    window.location = "additem.pl?op=delitem&biblionumber="+biblionumber+"&itemnumber="+itemnumber;
	} else {
	$("#row"+itemnumber).attr("class","");
    }
}

function CloneSubfield(index){
    var original = document.getElementById(index); //original <div>
    var clone = original.cloneNode(true);
    var new_key = CreateKey();
    var old_id =  original.getAttribute('id');
    old_id=old_id.substr(12);
    var new_id  = old_id+new_key;

    // set the attribute for the new 'div' subfields
    var inputs     = clone.getElementsByTagName('input');
    var selects    = clone.getElementsByTagName('select');
    var textareas  = clone.getElementsByTagName('textarea');

    // input
    var id_input = "";
    for(var i=0,len=inputs.length; i<len ; i++ ){
        id_input = inputs[i].getAttribute('id')+new_key;
        inputs[i].setAttribute('id',id_input);
        inputs[i].setAttribute('name',inputs[i].getAttribute('name'));
    }

    // select 
    for(var i=0,len=selects.length; i<len ; i++ ){
        id_input = selects[i].getAttribute('id')+new_key;
        selects[i].setAttribute('id',selects[i].getAttribute('id')+new_key);
        selects[i].setAttribute('name',selects[i].getAttribute('name'));
    }

    // textarea
    for(var i=0,len=textareas.length; i<len ; i++ ){
        id_input = textareas[i].getAttribute('id')+new_key;
        textareas[i].setAttribute('id',textareas[i].getAttribute('id')+new_key);
        textareas[i].setAttribute('name',textareas[i].getAttribute('name'));
    }

    <!-- TMPL_UNLESS NAME='advancedMARCEditor' -->
    // when cloning a subfield, reset its label too.
    var label = clone.getElementsByTagName('label')[0];
    label.setAttribute('for',id_input);
    <!-- /TMPL_UNLESS -->

    // setting a new if for the parent div
    clone.setAttribute('id',new_id);

    var CloneButtonPlus;
    try {
      var spans = clone.getElementsByTagName('span');
      if(spans.length){
          for(var i = 0 ,lenspans = spans.length ; i < lenspans ; i++){
            if(spans[i].getAttribute('class') == 'buttonPlus'){
                    CloneButtonPlus = spans[i];
                    CloneButtonPlus.setAttribute('onclick',"CloneSubfield('" + new_id + "')");
                    var buttonUp = clone.getElementsByTagName('img')[0];
                    buttonUp.setAttribute('onclick',"upSubfield('" + new_id + "')");
                }
            }
        }
    }
    catch(e){
        // do nothing if ButtonPlus & CloneButtonPlus don't exist.
    }
    // insert this line on the page
    original.parentNode.insertBefore(clone,original.nextSibling);
}

/**
 * This function creates a random number
 */
function CreateKey(){
    return parseInt(Math.random() * 100000);
}

$(document).ready(function() {
    $("#cataloguing_additem_itemlist  tr").hover(
        function () {$(this).attr("class","highlight");},
        function () {$(this).attr("class",""         );}
    );
});

function set_to_today(id, force) {
    if (! id) { alert("Bad id " + id + " sent to set_to_today()"); return 0; }
    if ($("#" + id).val() == '' || $("#" + id).val() == '0000-00-00' || force) {
        $("#" + id).val("<!-- TMPL_VAR NAME="today_iso" -->");
    }
}

//]]>
</script>

<script type="text/javascript">
function checkForDuplicateDefaultsName() {
	var session_defaults_name = $('#session_defaults_name').val();

	var my_defaults = new Array();
	<!-- TMPL_LOOP NAME="item_defaults_loop" -->
		my_defaults.push('<!-- TMPL_VAR NAME="name" -->');
	<!-- /TMPL_LOOP -->

	var all_defaults = new Array();
	<!-- TMPL_LOOP NAME="item_defaults_all_loop" -->
		all_defaults.push('<!-- TMPL_VAR NAME="name" -->');
	<!-- /TMPL_LOOP -->

	if ( jQuery.inArray(session_defaults_name, my_defaults) >= 0 ) {
		<!-- TMPL_IF NAME="CAN_user_editcatalogue_update_item_defaults" -->
			return confirm("This name is already in use, do you wish to replace it with these defaults?");
		<!-- TMPL_ELSE -->
			alert("This name is already in use, please try a different one");
			return false;
		<!-- /TMPL_IF -->
	} else if ( jQuery.inArray(session_defaults_name, all_defaults) >= 0 ) {
		alert("Another library is using this name. Please choose a different one.");
		return false;
	} else {
		return true;
	}
}
</script>

<link type="text/css" rel="stylesheet" href="<!-- TMPL_VAR NAME="themelang" -->/css/addbiblio.css" />
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<div id="breadcrumbs">
          <a href="/cgi-bin/koha/mainpage.pl">Home</a>
 &rsaquo; <a href="/cgi-bin/koha/cataloguing/addbooks.pl">Cataloging</a>
 &rsaquo; Edit <a href="/cgi-bin/koha/cataloguing/addbiblio.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR name="title" escape="html" --> <!-- TMPL_IF NAME="author" --> by <!-- TMPL_VAR name="author" --><!-- /TMPL_IF --> (Record #<!-- TMPL_VAR NAME="biblionumber" -->)</a>
 &rsaquo; <a href="/cgi-bin/koha/cataloguing/additem.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">Items</a>
</div>


<div id="doc3" class="yui-t2">

   <div id="bd">
   <div id="yui-main">
   <div class="yui-b">


<h1>Items for <!-- TMPL_VAR name="title" escape="html" --> <!-- TMPL_IF NAME="author" --> by <!-- TMPL_VAR name="author" --><!-- /TMPL_IF --> (Record #<!-- TMPL_VAR NAME="biblionumber" -->)</h1>

<!-- TMPL_IF NAME="barcode_not_unique" --><div class="dialog alert"><strong>Error saving item</strong>: Barcode must be unique.</div><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="no_next_barcode" --><div class="dialog alert"><strong>Error saving items</strong>: Unable to automatically determine values for barcodes. No item has been inserted.</div><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="book_on_loan" --><div class="dialog alert"><strong>Cannot Delete</strong>: item is checked out.</div><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="title_has_holds" -->
   <div class="dialog alert"><strong>Cannot Delete</strong>:
   Title has holds placed on it; cannot delete last item for this record.
   <!-- TMPL_IF NAME="CAN_user_reserveforothers_delete_holds" -->
   <form method=post action="additem.pl" name="myf">
   <input type=hidden name="op" value="delitem">
   <input type=hidden name="forceDelLastItem" value="1">
   <input type=hidden name="biblionumber" value="<!-- TMPL_VAR NAME="biblionumber" -->">
   <input type=hidden name="itemnumber" value="<!-- TMPL_VAR NAME="itemnumber" -->">
   <input type=hidden name="also_delete_holds" value=0>
   <input type=button value="Delete Last Item and All Holds on this Bibliographic Record" 
   onclick="document.myf.also_delete_holds.value=1;document.myf.submit();return;"><br>
   <input type=submit  value="Delete Last Item, Keep Title-Level Holds">
   </form>
   <!-- TMPL_ELSE -->
   <br>You do not have permission to delete holds.
   <!-- /TMPL_IF -->
   </div>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="item_has_holds" --><div class="dialog alert"><strong>Cannot Delete</strong>: item has holds placed on it.</div>
   <!-- TMPL_IF NAME="CAN_user_reserveforothers_delete_holds" -->
   <!-- TMPL_ELSE --><br>You do not have permissions to delete holds.
   <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="item_waiting" --><div class="dialogalert"><strong>Cannot Delete</strong>: item has a waiting hold.</div>
   <!-- TMPL_IF NAME="CAN_user_reserveforothers_delete_holds" -->
   <!-- TMPL_ELSE --><br>You do not have permissions to delete holds.
   <!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<div id="cataloguing_additem_itemlist">
    <!-- TMPL_IF name="item_loop" -->
        <div style="overflow:auto">
        <table>
            <tr>
                <th colspan="2">&nbsp;</th>
                <!-- TMPL_LOOP NAME="item_header_loop" -->
                    <th>
                        <!-- TMPL_VAR NAME="header_value" -->
                    </th>
                <!-- /TMPL_LOOP -->
            </tr>
                <!-- TMPL_LOOP NAME="item_loop" -->
                <tr id="row<!-- TMPL_VAR NAME="itemnumber" -->">
                    <!-- TMPL_IF Name="nomod"--> <td colspan="2">&nbsp;</td><!--TMPL_ELSE-->
                    <!-- TMPL_IF NAME="CAN_user_editcatalogue_edit_items" -->
                    <td><a href="additem.pl?op=edititem&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->">Edit</a></td>
                <!-- TMPL_ELSE -->
                   <td>&nbsp;</td>
                <!--/TMPL_IF-->
                    <!-- TMPL_IF NAME="CAN_user_editcatalogue_delete_items" -->
                    <td><a class="delete" href="/cgi-bin/koha/cataloguing/additem.pl?op=delitem&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->" onclick="<!-- TMPL_UNLESS NAME="holds" -->confirm_deletion<!-- TMPL_ELSE -->confirm_deletion_with_holds<!-- /TMPL_UNLESS -->(<!-- TMPL_VAR NAME="biblionumber" -->,<!-- TMPL_VAR NAME="itemnumber" -->); return false;">Delete</a></td>
                <!-- TMPL_ELSE -->
                   <td>&nbsp;</td>
                <!--/TMPL_IF-->
                <!--/TMPL_IF-->
                <!-- TMPL_LOOP NAME="item_value" -->
                    <td><!-- TMPL_VAR ESCAPE=HTML NAME="field" --></td>
                <!-- /TMPL_LOOP -->
                </tr>
                <!-- /TMPL_LOOP -->
        </table>
        </div>
    <!-- /TMPL_IF -->
</div>

<div id="aboveValErr"></div>
<div id="valErr" class="dialog message" style="display:none;background:#ffffcc"></div>
<div id="cataloguing_additem_newitem">
    <form method="post" action="/cgi-bin/koha/cataloguing/additem.pl" name="f">
    <input type="hidden" name="op" value="<!-- TMPL_VAR NAME="op" -->" />
    <input type="hidden" name="mv" value="<!-- TMPL_VAR NAME="mv" -->" />
    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR NAME="biblionumber" -->" />
    <!-- TMPL_IF name="opisadd" -->
    <!-- TMPL_IF NAME="CAN_user_editcatalogue_add_items" -->
        <h2 id="additema">Add Item</h2>
	<!-- TMPL_IF NAME="item_defaults_using" -->
		<p>
			Item Defaults <strong><!-- TMPL_VAR NAME="item_defaults_name" --></strong> are in effect. 
		</p>
	<!-- /TMPL_IF -->
    <!-- TMPL_ELSE -->
        <h2 id="additema">&nbsp; </h2>
    <!-- /TMPL_IF -->

    <!-- TMPL_ELSE -->
        <a name="edititem"></a>
        <!-- TMPL_IF NAME="CAN_user_editcatalogue_edit_items" -->
        <h2>Edit Item #<!-- TMPL_VAR NAME="itemnumber" --></h2>
        <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
	<fieldset class="rows">
	<ol>
    <!-- TMPL_IF name="opisadd" -->
    <!-- TMPL_IF NAME="CAN_user_editcatalogue_add_items" -->
         <!-- TMPL_INCLUDE NAME="item-fields.inc" -->
    <!-- TMPL_ELSE -->
         <li>&nbsp;</li>
    <!-- /TMPL_IF  -->
    <!-- TMPL_ELSE -->
      <!-- TMPL_IF NAME="notmyitem" -->No permission to edit item
      <!-- TMPL_ELSE -->
         <!-- TMPL_IF NAME="CAN_user_editcatalogue_edit_items" -->
         <!-- TMPL_INCLUDE NAME="item-fields.inc" -->
         <!-- /TMPL_IF -->
      <!-- /TMPL_IF -->
    <!-- /TMPL_IF  -->
    </ol>
    </fieldset>
    <input type="hidden" name="indicator_0" value="  " />
    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR NAME="itemnumber" -->" />

<fieldset class="action">    <!-- TMPL_IF name="opisadd" -->
    <input type="submit" name="phony_submit" value="phony_submit" id="phony_submit" style="display:none;" onclick="return false;" />
    <!-- Note : We use here a false submit button because we have several submit buttons and we don't want the user to believe he validated the adding of multiple copies 
		when pressing the enter key, while in fact it is the first submit button that is validated, in our case the "add (single) item" button. 
		It is a bit tricky, but necessary in the sake of UI correctness. 
    -->

    <!-- TMPL_IF NAME="CAN_user_editcatalogue_add_items" -->
    <input type=hidden name="add_submit" value="0">
    <input type=hidden name="add_duplicate_submit" value="0">
    <input type=hidden name="add_multiple_copies" value="0">
    <input type="button" value="Add Item" onclick="this.form.add_submit.value=1;Check(this.form)" />
    <input type="button" value="Add &amp; Duplicate" onclick="this.form.add_duplicate_submit.value=1;
      Check(this.form)" />
    <input type="button" value="Add Multiple Copies" onclick="javascript:this.form.add_multiple_copies.value=1;this.nextSibling.style.visibility='visible';document.f.number_of_copies.focus(); return false;" /><span id="add_multiple_copies_span" style="visibility:hidden">
    <!-- /TMPL_IF -->
	<label for="number_of_copies">Number of copies to add : </label>
	<input type="text" id="number_of_copies" name="number_of_copies" value="" size="2" />
   <input type=hidden name="add_multiple_copies_submit" value="0">
	<input type="button" value="Add" onclick="this.form.add_multiple_copies_submit.value=1;if(CheckMultipleAdd(this.form.number_of_copies.value)){Check(this.form)}" />
    </span>

    <br/><br/>

    <fieldset class="action">
	    <legend>Session Defaults</legend>

	    <!-- TMPL_UNLESS NAME="item_defaults_name" -->
		<input type="submit" name="set_session_defaults" value="Set Default Values for Session" />
	    <!-- /TMPL_UNLESS -->

	    <!-- TMPL_IF NAME="CAN_user_editcatalogue_save_item_defaults" -->
		    <!-- TMPL_IF NAME="branchcode" -->
			    <input type="submit" name="set_session_defaults" value="Set Default Values for Session and Save" onclick="$('#save_session_defaults_span').show(); $('#session_defaults_name').focus(); return false;" />
			    <span id="save_session_defaults_span" style="display:none">
				    <label for="session_defaults_name">Name: </label> <input type="text" name="session_defaults_name" id="session_defaults_name" />
				    <input type="submit" name="set_session_defaults" value="Save" onclick="return checkForDuplicateDefaultsName();" />
			    </span>
		    <!-- /TMPL_IF -->
	    <!-- /TMPL_IF -->

	    <br/><br/>

	    <!-- TMPL_IF NAME="item_defaults_loop" -->
		    <input type="submit" name="load_session_defaults" value="Load Default Values for Session" />
		    <select name="session_defaults_to_load">
			<!-- TMPL_UNLESS NAME="item_defaults_name" -->
				<option value=''>Select Defaults Set</option>
			<!-- /TMPL_UNLESS -->
			<!-- TMPL_LOOP NAME="item_defaults_loop" -->
				<option value="<!-- TMPL_VAR NAME="name" -->" <!-- TMPL_IF NAME="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR NAME="name" --></option>
			<!-- /TMPL_LOOP -->
		    </select>
	    <!-- /TMPL_IF -->

	    <br/><br/>

	    <!-- TMPL_IF NAME="item_defaults_using" -->
		    <input type="submit" name="clear_session_defaults" value="Clear Default Values for Session" />
	    <!-- /TMPL_IF -->

	    <!-- TMPL_IF NAME="CAN_user_editcatalogue_delete_item_defaults" -->
		    <!-- TMPL_IF NAME="item_defaults_name" -->
			    <input type="submit" name="delete_session_defaults" value="Clear & Delete Default Values" onclick="return confirm('Are you sure you want to delete this set of defaults?')" />
		    <!-- /TMPL_IF -->
	    <!-- /TMPL_IF -->

    </fieldset>

    <!-- TMPL_ELSE -->
      <!-- TMPL_IF NAME="CAN_user_editcatalogue_edit_items" -->
    <input type="hidden" name="tag_0" value="<!-- TMPL_VAR NAME="itemtagfield" -->" />
    <input type="hidden" name="subfield_0" value="<!-- TMPL_VAR NAME="itemtagsubfield" -->" />
    <input type="hidden" name="field_value_0" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
         <!-- TMPL_UNLESS NAME="notmyitem" -->
    <input type="button" value="Save Changes" onclick="Check(this.form)" /> 
         <!-- /TMPL_UNLESS -->
      <!-- /TMPL_IF -->
    <!-- /TMPL_IF --></fieldset>

    </form>
</div>
</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="biblio-view-menu.inc" -->
</div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
