<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de autoridades</h1><h2>¿Qué es un registro de autoridad MARC?</h2>

<p>A MARC Authority Record are used to ensure consitency across catalog records by providing a way to define the standard form of names for:</p><ul><li>Personas (autores, editores, editores, ilustradores, etc)</li><li>Títulos</li><li>Temas</li><li>Organizations (Companies, Academic Instituites etc)</li></ul>Para obtener más información acerca de registros de autoridad MARC 21 , ver el tutorial del sitio web de la <a href="http://www.loc.gov/marc/uma/index.html"> Biblioteca del Congreso</a>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
