<!-- TMPL_INCLUDE NAME="help-top.inc" -->   
   <h1>Agregar un Registro de autoridad</h1>   
   
  <p> <span style="background-color: #ffe599">IMPORTANTE: Para agregar registros de autoridad en bloque, contacte al administrador del sistema y dígale que puede usar este programa:   
   <span class="ex">misc/migration_tools/bulkauthimport.pl</span></span></p>
	<ul>
		<li>Haga clic en  'Nueva autoridad'</li>
		<li>Seleccione el tipo de registro de autoridad que le gustaría agregar a su sistema 
		<ul>
			<li>
		    <span style="background-color: #ffe599">
Consejo: para modificar esta lista que usted necesita hacer cambios a los parámetros del sistema</span>
			<ul>
				<li>
			    <em>Llegar:</em> Inicio &gt; Administración &gt; Hoja de trabajo MARC para autoridades</li>
			</ul></li>
		</ul></li>
		<li>Continuar con la catalogación de autoridades</li>
	</ul>
   <h2>Alterar Registros de autoridades</h2>
	<ul>
		<li>Buscar  autoridad</li>
		<li>Haga clic en el resumen del registro que desea editar</li>
		<li>Haga clic en 'Editar' en la parte superior izquierda</li>
	</ul>   
   <h2>Agregar Autoridades a un registro</h2>
   <p>Hay tres maneras de agregar autoridades a un registro:</p>
	<ul>
		<li>consulta el archivo de autoridad cuando se agrega/edita un registro (durante la catalogación)</li>
		<li>permite a Koha auto-detectar registros de autoridad cuando se guarda un registro</li>
		<li>la biblioteca mantiene sus propios registros de autoridad basado en el conjunto de datos</li>
	</ul>
	<p>Los detalles de estas opciones:</p>
	<h3>Archivo de consulta de  autoridad al añadi /editar un registro (durante la catalogación)</h3>
	
<p>El editor bibliográfico permite consultas al archivo de autoridades en la etapa de agregar/editar un registro, para que quien cataloga pueda enlazar registros bibliográficos y de autoridades mientras se cataloga.</p>
<p>Si desea permitir acceso a registros de autoridad para un dado subcampo -- por ejemplo el subcampo 700a de MARC 21, para asegurarse que el nombre de un autor está disponible ingresado en una forma aprobada -- necesitará crear un subcampo '9' para esa etiqueta (ej. etiqueta 700, subcampo 9). Esto se hace agregando el subcampo via el módulo de administración de 'Tipos de autoridad'</p>
	<ul>
		<li><em>Conseguir:</em> Más &gt; Administración &gt; Tipos de autoridad
		<ul>
			<li>
		    <span style="background-color: #ffe599">
CONSEJO: asegúrese de que este subcampo es manejado en la misma pestaña que los demás subcampos manejados por esta pestaña y, a continuación, haga clic en la casilla 'oculto' con lo cual no se mostrarán con el resto del registro.</span>.</li>
		</ul></li>
	</ul>
<p>Koha utiliza el subcampo 9 para almacenar el vínculo entre un registro bibliográfico y un registro de autoridad.</p>

<p>Cuando los catalogadores están agregando un registro, verán tres puntos (...) después de la caja de texto correspondiente al subcampo 700a (o cualquier campo al que haya añadido un subcampo 9). Pulsando sobre estos puntos se abrirá una ventana emergente que permitirá al catalogador buscar en sus registros de autoridad para una versión estandarizada del nombre del autor. Si el nombre deseado se encuentra en sus registros de autoridad, se puede copiar automáticamente en el subcampo 700a. (Si el nombre deseado no se encuentra, el catalogador puede introducir el nombre manualmente.) </p>

<h3>Auto-detección de registros de autoridad cuando un registro se guarda</h3>

<p>En forma alternativa, la biblioteca puede optar por la auto detección de los registros de autoridad cuando un registro se graba. Esto se hace configurando la Preferencia del sistema  'BiblioAddsAuthorities' en 'on'.</p>
	<ul>
		<li><em>Llegar:</em> Más&gt; Administración&gt; Preferencias globales &gt; Autoridades&gt; BiblioAddsAuthorities</li>
	</ul>

<h3>Residtros de autoridad mantenidos por la biblioteca</h3>

<p>Una tercera opción permite a las bibliotecas mantener sus propios registros de autoridad usando la base de datos. Muchas bibliotecas prefieren no habilitar  esa opción porque crea registros de autoridad 'fantasmas'  en el sistema. Todo depende de la biblioteca (o grupo) para habilitar o no esta opción</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->