<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" -->  &rsaquo; Autopréstamo</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="Koha <!-- TMPL_VAR NAME="Version" -->" /> <!-- leave this for stats -->
<link rel="shortcut icon" href="<!-- TMPL_VAR NAME="themelang" -->/includes/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name="themelang" -->/css/sco.css" />
</head>
<body>
<div id="doc" class="yui-t7">
  <div id="bd">
    <div class="yui-g">

<h1>Ayuda de autopréstamo</h1>

<p>Si es la primera vez que utiliza el sistema de autopréstamo, o si el sistema no está comportándose como se esperaba, es posible que desee hacer referencia a esta guía para comenzar.</p>

<h3>Paso Uno: introduzca su ID de usuario</h3>
<p>Ingrese su ID de usuario y haga clic en el botón de enviar (o presione la tecla 'enter').</p>

<h3>Paso Dos: escanee el inventario para cada item, uno a la vez.</h3>
<p>Escanee cada ítem y espere que la página se recargue antes de escanear el siguiente. El ítem prestado debería figurar en su lista de préstamos. El botón de Enviar sólo hay que cliquearlo en caso de introducir manualmente el código de barras.</p>

<h3>Step Three: Click the 'Click here if done' link when done</h3>

    <div class="button">
        <a href="javascript:history.go(-1)">Volver a autopréstamo</a>
    </div>

</div></div></div>
</body>
</html>

