<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Catálogo &rsaquo; Búsqueda avanzada</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/JavaScript" language="JavaScript">
	/**
	 *  Function add_field();
	 *  This function allows to display a new field to search.
	 */
	function add_field() {
	    var ButtonPlus = document.getElementById("ButtonPlus");
		var line = ButtonPlus.parentNode;
		var dad  = line.parentNode;
		dad.appendChild(line.cloneNode(true));
		line.removeChild(ButtonPlus);
	}
	$(document).ready(function() {
		$("input[name=q]:eq(0)").focus();
	});
</script>
</head>
<body>

<!-- TMPL_UNLESS NAME="last_borrower_show_button" -->
	<!-- TMPL_INCLUDE NAME="header.inc" -->
	<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo;Búsqueda avanzada</div>
<!-- /TMPL_UNLESS -->

<div id="doc" class="yui-t7">
   <div id="bd">
	
<form action="search.pl" method="get">
<div id="advanced-search">
<h1>B&uacute;squeda Avanzada</h1>

<!-- TMPL_IF NAME="outer_servers_loop" -->
<!-- DATABASES -->

<fieldset>
        <legend>Seleccionar bases de datos locales </legend>
                <!-- TMPL_LOOP NAME="local_servers_loop" -->
<!-- TMPL_IF NAME="checked" --><input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->" checked="checked" value="<!-- TMPL_VAR NAME="value" -->" /><!-- TMPL_ELSE --><input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->" /><!-- /TMPL_IF --><label for="<!-- TMPL_VAR NAME="id" -->"><img width="16" height="16" alt="<!-- TMPL_VAR NAME="id" -->" src="<!-- TMPL_VAR NAME="themelang" -->/img/<!-- TMPL_VAR NAME="icon" -->" /> <!-- TMPL_VAR NAME="label" --></label><!-- /TMPL_LOOP -->
</fieldset>
<!-- /DATABASES -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="outer_servers_loop" -->
<!-- REMOTE DATABASES -->
<fieldset>
    <legend>Seleccionar bases de datos remotas: </legend>
                <!-- TMPL_LOOP NAME="outer_servers_loop" -->
                <!-- TMPL_IF NAME="checked" --><input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->" checked="checked" value="<!-- TMPL_VAR NAME="value" -->" /><!-- TMPL_ELSE --><input type="checkbox" id="<!-- TMPL_VAR NAME="id" -->" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->" /><!-- /TMPL_IF -->
<label for="<!-- TMPL_VAR NAME="id" -->"><img alt="<!-- TMPL_VAR NAME="id" -->" src="<!-- TMPL_VAR NAME="themelang" -->/images/<!-- TMPL_VAR NAME="icon" -->" /><!-- TMPL_VAR NAME="label" --></label>
                <!-- /TMPL_LOOP -->
    </fieldset>
<!-- /REMOTE DATABASES -->
<!-- /TMPL_IF -->

<!-- BOOLEAN SEARCH OPTIONS -->
    <fieldset>
    <legend>Buscar: </legend>
    <!-- TMPL_LOOP NAME="search_boxes_loop" -->
        <!-- TMPL_IF NAME="search_boxes_label" --><div style="text-indent: 4.5em;"><!-- TMPL_ELSE --><div><!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="expanded_options" -->
            <!-- TMPL_IF NAME="boolean" -->
                <select name="op">
                    <option value="and" selected="selected">y</option>
                    <option value="or">o</option>
                    <option value="not">no</option>
                </select>
            <!-- /TMPL_IF --> 
			<!-- /TMPL_IF -->
			<!-- TMPL_INCLUDE NAME="search_indexes.inc" -->
			<input type="text" size="30" name="q" title="Ingrese t&eacute;rminos de b&uacute;squeda " value="">
            <!-- TMPL_IF NAME="expanded_options" -->
                <!-- TMPL_IF NAME="add_field" -->
                    <a href="JavaScript:add_field();" id="ButtonPlus" title="Agregar otro campo">[+]</a>
				<!-- /TMPL_IF -->
            	<!-- TMPL_IF NAME="scan_index" -->
                	<label for="scan">Exporar índices</label><input type="checkbox" name="scan" id="scan" value="1" />
            	<!-- /TMPL_IF -->
            <!-- /TMPL_IF -->
		</div>
    <!-- /TMPL_LOOP -->
    </fieldset>
<!-- /BOOLEAN SEARCH OPTIONS -->
<!-- SEARCH BUTTONS -->
            <p><input class="submit" type="submit" accesskey="s" value="Buscar">
            <!-- TMPL_IF NAME="expanded_options" -->
            <a href="/cgi-bin/koha/catalogue/search.pl?expanded_options=0">[Menos opciones]</a>
            <!-- TMPL_ELSE -->
            <a href="/cgi-bin/koha/catalogue/search.pl?expanded_options=1">[Más opciones]</a>
            <!-- /TMPL_IF -->
            <a href="/cgi-bin/koha/catalogue/search.pl?do=Clear">[Nueva Búsqueda]</a> 
            </p>
<!-- /SEARCH BUTTONS -->

<!-- ITEMTYPE LIMITS -->
<!-- TMPL_IF NAME="DisplayAdvancedSearchLimits" -->
    <div id="itemtypelist">
	<fieldset>
     <legend>Limit to any of the following:</legend>
    <table>
        <tr>
      <!--TMPL_LOOP Name="itemtypeloop"-->
        <td>
        <!-- TMPL_IF name="imageurl"--><img border="0" src="<!--TMPL_VAR Name="imageurl" -->" alt="<!--TMPL_VAR Name="description" -->" /><!-- /TMPL_IF -->
		<input type="checkbox" id="<!-- TMPL_VAR NAME="ccl" -->-<!--TMPL_VAR Name="number" -->" name="limit" value="mc-<!-- TMPL_VAR NAME="ccl" -->:<!--TMPL_VAR Name="code" -->" />&nbsp;
        <label for="<!-- TMPL_VAR NAME="ccl" -->-<!--TMPL_VAR Name="number" -->"><!--TMPL_VAR Name="description" --></label></td>
        <!-- TMPL_UNLESS name="count5" --></tr><tr><!-- /TMPL_UNLESS -->
      <!--/TMPL_LOOP-->
	  <!-- FIXME: for validation, avoid generating empty row -->
      </tr>
    </table>
	</fieldset>
    </div>
<!-- /ITEMTYPE LIMITS -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="expanded_options" -->
<div id="basiclimits" class="container">
<!-- BASIC LIMITS -->
 <fieldset>
	<legend>Límites:</legend>
<div id="pubrange" class="container">
<!-- PUB / COPY YEAR LIMIT --><!-- FIXME: add publication,copyright,acquisition options -->
	<p><label for="limit-yr">Año : </label>
		<input size="15" name="limit-yr" id="" value=""/>&nbsp;&nbsp;(formato: yyyy-yyyy)</p>
<!-- /PUB / COPY YEAR LIMIT -->
</div>
<div id="language" class="container">
<!-- LANGUAGE LIMIT -->
		<p><label for="language-limit">Idioma: </label>                                        
		<select name="limit">
		<option value="">Sin límite</option>
		<!-- TMPL_LOOP NAME="search_languages_loop" -->
		<!-- TMPL_IF NAME="selected" -->
		<option value="ln:<!-- TMPL_VAR NAME="iso639_2_code" -->" selected="selected"><!-- TMPL_VAR NAME="language_description" --></option>
		<!-- TMPL_ELSE -->
		<option value="ln:<!-- TMPL_VAR NAME="iso639_2_code" -->"><!-- TMPL_VAR NAME="language_description" --></option>
		<!-- /TMPL_IF -->
		
		<!-- /TMPL_LOOP -->
		</select></p><!-- <a href="">Show all languages</a>-->
<!-- /LANGUAGE LIMIT -->
</div>
</fieldset>
<!-- /BASIC LIMITS -->
</div>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="UNIMARC" -->
<!-- TMPL_INCLUDE NAME="subtypes_unimarc.inc" -->
<!-- TMPL_ELSE -->
<div id="subtype" class="container">
<!-- SUBTYPE LIMITS -->
        <fieldset>
        <legend>L&iacute;mites del subtipo:</legend><p>
        
        <select name="limit" class="subtype">
            <option value="" selected="selected" class="menuheader">Cualquier audiencia</option>
			<option value="aud:a">Prescolar</option>
			<option value="aud:b">Primaria</option>
			<option value="aud:c">Pre-adolescente </option>
			<option value="aud:d">Adolescente</option>
			<option value="aud:e">Adulto</option>
			<option value="aud:f">Especializado</option>
			<option value="aud:g">General</option>
			<option value="aud:j">Juvenil</option>
        </select>
        
        <select name="limit" class="subtype">
            <option value="" selected="selected" class="menuheader">Cualquier contenido</option>
            <option value="fic:1" >Ficci&oacute;n</option>
            <option value="fic:0" >No ficción</option>
            <option value="bio:b" >Biografía</option>
            <option value="mus:j" > Grabaci&oacute;n de sonidos musicales</option>
            <option value="mus:i" >Grabaci&oacute;n de sonidos no musicales</option>
        </select>

        
        <select name="limit" class="subtype">
            <option value="" selected="selected" class="menuheader">Cualquier formato</option>
            <option value="l-format:ta" >Impresión normal</option>
            <option value="l-format:tb" >Impresión grande</option>
            <option value="l-format:fk" >Braille</option>
            <option value="" >-----------</option>
            <option value="l-format:sd" >CD de audio</option>
            <option value="l-format:ss" >Casete de audio</option>
            <option value="l-format:vf" >Casete VHS/Videocasete</option>
            <option value="l-format:vd" >Video en DVD / Videodisco</option>
            <option value="l-format:co" >CD de software</option>
            <option value="l-format:cr" >Sitio web</option>
        </select>
        
        <select name="limit" class="subtype">
            <option value="" >Contenidos adicionales</option>
            <option value="ctype:a" >Res&uacute;menes</option>
            <option value="ctype:b" >Bibliograf&iacute;as</option>
            <option value="ctype:c" >Cat&aacute;logos</option>
            <option value="ctype:d" >Diccionarios</option>
            <option value="ctype:e" >Enciclopedias </option>
            <option value="ctype:f" >Manuales </option>
            <option value="ctype:g" >Artículos jurídicos</option>
            <option value="ctype:i" >Indices</option>
            <option value="ctype:j" >Documento de patente</option>
            <option value="ctype:k" >Discograf&iacute;as</option>
            <option value="ctype:l" >Legislación</option>
            <option value="ctype:m" >Tesis</option>
            <option value="ctype:n" >Informe</option>
            <option value="ctype:o" >Revisiones</option>
            <option value="ctype:p" >Textos programados</option>
            <option value="ctype:q" >Filmograf&iacute;as</option>
            <option value="ctype:r" >Directorios</option>
            <option value="ctype:s" >Estadísticas</option>
            <option value="ctype:t" >Informes técnicos</option>
            <option value="ctype:v" >Casos jurídicos y  notas del caso</option>
            <option value="ctype:w" >Compendios e informes legales</option>
            <option value="ctype:z" >Tratados </option>
        </select>
       </p>

</fieldset>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="template-defined-limits" -->
<div id="advsearch-itemtype" class="container">
<!-- TYPE LIMITS -->
    <fieldset>

    <legend>Limit to any of the following</legend>
    <table class="itemtypes">
            <tr>
            <td><input type="checkbox" id="mc-bks" name="limit" value="mc:t" />
			<label for="mc-bks" title="Libros, folletos, informes técnicos, manuscritos, publicaciones legales, tesis y disertaciones">
			<img border="0" src="/intranet-tmpl/prog/img/AF.gif" alt="Libros">Libros</label></td>
			<td><input type="checkbox" id="mc-vis" name="limit" value="mc:v" />
			<label for="mc-vis" title="Películas, grabaciones en video, diapositivas, transparencias, fotos, tarjetas, gráficas, dibujos">
			<img border="0" src="/intranet-tmpl/prog/en/images/AV Aids.gif" alt="Materiales visuales">Materiales visuales</label></td>
            <td><input type="checkbox" id="mc-sr" name="limit" value="mc-rtype:i" />
			<label for="mc-sr" title="Hablado, libros en CD y Cassette">
			<img border="0" src="/intranet-tmpl/prog/en/images/AF.gif" alt="Libros en cinta">Libros en cinta</label></td>
            </tr>

            <tr>
            <td><input type="checkbox" id="mc-cf" name="limit" value="mc:c" />
			<label for="mc-cf" title="Archivos electr&oacute;nicos, datos, software">
			<img border="0" src="/intranet-tmpl/prog/en/images/CD-ROM software.gif" alt="Archivos electr&oacute;nicos">Archivos electr&oacute;nicos</label></td>
            <td><input type="checkbox" id="mc-lh" name="limit" value="mc- colección:LH">
			<label for="mc-lh" title="Materiales de historia local ">
			<img border="0" src="/intranet-tmpl/prog/en/images/Local history.gif" alt="Materiales de historia local ">Materiales de historia local </label></td>
            <td><input type="checkbox" id="mc-map" name="limit" value="mc:a" />
			<label for="mc-map" title="Mapas, Globos">
			<img border="0" src="/intranet-tmpl/prog/en/images/PF.gif " alt="Mapas">Mapas</label></td>
            </tr>

            <tr>
            <td><input type="checkbox" id="mc-mus" name="limit" value="mc-rtype:j" />
			<label for="mc-mus" title="Música">
			<img border="0" src="/intranet-tmpl/prog/en/images/CDM.gif" alt="Música">Música</label></td>
            <td><input type="checkbox" id="mc-kit" name="limit" value="mc-rtype:o" />
			<label for="mc-kit" title="Kits"><img border="0" src="/intranet-tmpl/prog/en/images/KIT.gif" alt="Kits" />Kits</label></td>
            <td><input type="checkbox" id="mc-ref" name="limit" value="mc- colección:REF">
			<label for="mc-ref" title="Referncia">
			<img border="0" src="/intranet-tmpl/prog/en/images/REF.gif" alt="Referncia">Referncia</label></td>
            </tr>
            
            </table>
</fieldset>
</div>
<!-- /TMPL_IF -->
<!-- /TYPE LIMITS -->

<div id="availability" class="container">
<!-- AVAILABILITY LIMITS -->
    <fieldset><legend>Ubicación y disponibilidad:  </legend>
<div id="currently-avail" class="container">
        <label for="available-items">Sólo items actualmente disponibles</label> <input type="checkbox" id="available-items" name="limit" value="disponible">
</div>
<p />
<div id="select-libs" class="container">
        <label for="branchloop">Bibliotecas individuales:</label><select name="limit" id="branchloop" onchange='if(this.value != ""){document.getElementById("categoryloop").disabled=true;} else {document.getElementById("categoryloop").disabled=false;}'>
        <option value="">Todas las sucursales</option>
        <!-- TMPL_LOOP NAME="branchloop" -->
        <option value="branch:<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option>
        <!-- /TMPL_LOOP -->
        </select>
    <!-- <input type="hidden" name="limit" value="branch: MAIN" /> -->
        <!-- TMPL_IF NAME="searchdomainloop" -->
    <p>O</p> <!-- should addjs to grey out group pulldown if a library is selected. -->
        <label for="categoryloop">Grupos de bibliotecas</label><select name="multibranchlimit" id="categoryloop">
        <option value=""> -- Ninguno -- </option>
        <!-- TMPL_LOOP NAME="searchdomainloop" -->
        <option value="<!-- TMPL_VAR NAME="categorycode" -->"><!-- TMPL_VAR NAME="categoryname" --></option>
        <!-- /TMPL_LOOP -->
        </select>
    <!-- /TMPL_IF -->
</div>
    </fieldset>
<!-- /AVAILABILITY LIMITS -->
</div>

<!-- RANK LIMITS -->

<div id="sortby" class="container">
<fieldset><legend>Ordenar por : </legend>
    <p><select id="sort_by" name="sort_by">
  <!-- TMPL_INCLUDE NAME="resort_form.inc" -->
    </select>
        </p>
</fieldset>
</div>
<!-- RANK LIMITS -->

</div>

<input type="hidden" name="last_borrower_show_button" id="last_borrower_show_button" value="<!-- TMPL_VAR NAME="last_borrower_show_button" -->" />

<!-- SEARCH BUTTONS -->
            <p><input class="submit" type="submit" accesskey="s" value="Buscar">
            <!-- TMPL_IF NAME="expanded_options" -->
            <a href="/cgi-bin/koha/catalogue/search.pl?expanded_options=0">[Menos opciones]</a>
            <!-- TMPL_ELSE -->
            <a href="/cgi-bin/koha/catalogue/search.pl?expanded_options=1">[Más opciones]</a>
            <!-- /TMPL_IF -->
            <a href="/cgi-bin/koha/catalogue/search.pl?do=Clear">[Nueva Búsqueda]</a> 
            </p>
<!-- /SEARCH BUTTONS -->
</form>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
