<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Catálogo &rsaquo; Detalles del ítem  <!-- TMPL_LOOP NAME="BIBITEM_DATA" --><!-- TMPL_VAR NAME="title" --><!-- /TMPL_LOOP --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">h3{padding-top: 1em; border-top: 2px solid #CCCCCC;}</style>
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalog</a> &rsaquo; Item Details for <i><!-- TMPL_LOOP NAME="BIBITEM_DATA" --><!-- TMPL_VAR NAME="title" escape="html" --><!-- /TMPL_LOOP --></i></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
<!-- TMPL_INCLUDE NAME="cat-toolbar.inc" -->

<div id="catalogue_detail_biblio">
    <!-- TMPL_LOOP NAME="BIBITEM_DATA" -->
    <h2><!-- TMPL_VAR NAME="title" ESCAPE="html" --> <!-- TMPL_IF NAME="author" -->por <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --></h2>
    <ol class="bibliodetails">
        <li><span class="label">Número de registro:</span> <!-- TMPL_VAR NAME="biblionumber" -->&nbsp;</li>
        <!-- TMPL_UNLESS NAME="item-level_itypes" -->
        <li><span class="label">Tipo de ítem:</span> <!-- TMPL_VAR NAME="itemtypename" -->&nbsp;</li>
        <!-- /TMPL_UNLESS -->
        <!-- deprecated? <li><span class="label">Loan length:</span> <!-- TMPL_VAR NAME="loanlength" -->&nbsp;</li> -->
        <li><span class="label">Costo por alquiler:</span><!-- TMPL_VAR NAME="rentalcharge" -->&nbsp;</li>
        <li><span class="label">ISBN:</span> <!-- TMPL_VAR NAME="isbn" -->&nbsp;</li>
        <li><span class="label">Editor:</span><!-- TMPL_VAR NAME="place" --> <!-- TMPL_VAR NAME="publishercode" ESCAPE="html" --> <!-- TMPL_VAR NAME="publicationyear" -->&nbsp;</li>
        <!-- TMPL_IF NAME="volumeddesc" --><li><span class="label">Volumen:</span> <!-- TMPL_VAR NAME="volumeddesc" --></li><!-- /TMPL_IF -->
        <li><span class="label">Detalles físicos</span> <!-- TMPL_VAR NAME="pages" --> <!-- TMPL_VAR NAME="illus" --> <!-- TMPL_VAR NAME="size" -->&nbsp;</li>
        <!-- TMPL_IF NAME="bnotes" --><li><span class="label">Notas:</span> <!-- TMPL_VAR NAME="bnotes" --></li><!-- /TMPL_IF -->
        <li><span class="label">No. de items:</span> <!-- TMPL_VAR NAME="count" -->&nbsp;</li>
    </ol>
    <!-- /TMPL_LOOP -->
    <br clear="all" />
    <!-- TMPL_IF NAME="ONLY_ONE" -->
        <div class="dialog message">You are only viewing one item. <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->#item<!-- TMPL_VAR NAME="itemnumber">">View All</a></div>
    <!-- /TMPL_IF -->
    <!-- TMPL_LOOP NAME="ITEM_DATA" -->
    <div class="yui-g">
        <h3 id="item<!-- TMPL_VAR NAME="itemnumber" -->">Código de barras <!-- TMPL_VAR NAME="barcode" -->  <!-- TMPL_IF name="notforloantext" --><!-- TMPL_VAR name="notforloantext" --> <!-- /TMPL_IF --></h3>
        <div class="listgroup"><h4>Informaci&oacute;n del ítem <!-- TMPL_IF NAME="CAN_user_editcatalogue_edit_items" --><!-- TMPL_UNLESS name="nomod" --><a href="/cgi-bin/koha/cataloguing/additem.pl?op=edititem&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber"-->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->">[Editar items]</a><!-- /TMPL_IF --><!-- /TMPL_UNLESS --></h4>
            <ol class="bibliodetails">
            <li><span class="label">Biblioteca de origen:</span> <!-- TMPL_VAR NAME="homebranchname" -->&nbsp;</li>
	    <!-- TMPL_IF NAME="item-level_itypes" -->
            <li><span class="label">Tipo de ítem:</span> <!-- TMPL_VAR NAME="itype" -->&nbsp;</li>
	    <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="collection" --><li><span class="label">Colecci&oacute;n:</span> <!-- TMPL_VAR NAME="collection" --></li> <!-- /TMPL_IF -->  
            <li><span class="label">Signatura topográfica del ítem:</span> <!-- TMPL_VAR NAME="itemcallnumber" -->&nbsp;</li>
            <!-- TMPL_IF NAME="copyvol" --><li><span class="label">Copia/Vol:</span> <!-- TMPL_VAR NAME="copyvol" -->&nbsp;</li> <!-- /TMPL_IF -->  
            <!-- TMPL_IF NAME="replacementprice" --><li><span class="label">Precio de reposición:</span> <!-- TMPL_VAR NAME="replacementprice" -->&nbsp;</li> <!-- /TMPL_IF -->
            </ol></div>
           <div class="listgroup"><h4>Estados <!-- TMPL_IF NAME="status_advisory" -->( 
                <!-- TMPL_IF name="notforloantext" --><!-- TMPL_VAR name="notforloantext" --> <!-- /TMPL_IF -->
                <!-- TMPL_IF name="itemlost"-->Perdido<!-- /TMPL_IF --> 
                <!-- TMPL_IF NAME="damaged" -->Dañado<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="wthdrawn" -->Retirado<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="suppress" -->Suppressed<!-- /TMPL_IF -->
            )<!-- /TMPL_IF --></h4>
            
            <ol class="bibliodetails">
            <li><span class="label">Ubicaci&oacute;n actual:</span> <!-- TMPL_VAR NAME="holdingbranchname" -->&nbsp;</li>
            <li><span class="label">Checkout Status:</span> <!-- TMPL_IF NAME="issue" -->Prestado a <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="cardnumber" --></a>, vencimiento en <!-- TMPL_VAR NAME="datedue" --><!-- TMPL_ELSE -->No prestado <!-- /TMPL_IF --></li>
            <li><span class="label">Condición del ítem:</span>
                <!-- TMPL_IF NAME="CAN_user_circulate_change_lost_status" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="itemlost" >
            <!-- TMPL_LOOP NAME="itemlostloop" -->
                <!-- TMPL_IF NAME="selected" -->
                        <option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- TMPL_ELSE -->
                        <option value="<!-- TMPL_VAR NAME="authorised_value" -->"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="hidden" name="wthdrawn" value="<!-- TMPL_VAR NAME="wthdrawn" -->" />
                    <input type="hidden" name="damaged" value="<!-- TMPL_VAR NAME="damaged" -->" />
                    <input type="hidden" name="otherstatus" value="<!-- TMPL_VAR NAME="otherstatus" -->" />
                    <input type="hidden" name="suppress" value="<!-- TMPL_VAR NAME="suppress" -->" />
                    <input type="submit" name="submit" class="submit" value="Estado del Ejemplar"></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemlostloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="lib" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </li>
            <li><span class="label">Estado de dañado:</span>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="damaged" >
            <!-- TMPL_LOOP NAME="itemdamagedloop" -->
                <!-- TMPL_IF NAME="selected" -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- TMPL_ELSE -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="hidden" name="wthdrawn" value="<!-- TMPL_VAR NAME="wthdrawn" -->" />
                    <input type="hidden" name="itemlost" value="<!-- TMPL_VAR NAME="itemlost" -->" />
                    <input type="hidden" name="otherstatus" value="<!-- TMPL_VAR NAME="otherstatus" -->" />
                    <input type="hidden" name="suppress" value="<!-- TMPL_VAR NAME="suppress" -->" />
                    <input type="submit" name="submit" class="submit" value="Estado del Ejemplar"></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemdamagedloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="lib" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </li>
            <li><span class="label">Retirado?</span><!-- TMPL_IF NAME="wthdrawn" -->Si<!-- TMPL_ELSE -->No<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <input type="hidden" name="itemlost" value="<!-- TMPL_VAR NAME="itemlost" -->" />
                    <input type="hidden" name="damaged" value="<!-- TMPL_VAR NAME="damaged" -->" />
                    <input type="hidden" name="otherstatus" value="<!-- TMPL_VAR NAME="otherstatus" -->" />
                    <input type="hidden" name="suppress" value="<!-- TMPL_VAR NAME="suppress" -->" />

            <!-- TMPL_IF NAME="wthdrawn" -->
                    <input type="hidden" name="wthdrawn" value="0" /><!-- TMPL_ELSE --><input type="hidden" name="wthdrawn" value="1" />
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="wthdrawn" -->
                    <input type="submit" name="submit" class="submit" value="Recuperar"><!-- TMPL_ELSE --><input type="submit" name="submit" class="submit" value="Retirado">
            <!-- /TMPL_IF -->
                    </form>
                <!-- /TMPL_IF -->
            </li>
            <li><span class="label">Other Item Status:</span>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="otherstatus" >
            <!-- TMPL_LOOP NAME="itemstatusloop" -->
                <!-- TMPL_IF NAME="selected" -->
                        <option value="<!-- TMPL_VAR NAME="statuscode" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                <!-- TMPL_ELSE -->
                        <option value="<!-- TMPL_VAR NAME="statuscode" -->"><!-- TMPL_VAR NAME="description" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="hidden" name="wthdrawn" value="<!-- TMPL_VAR NAME="wthdrawn" -->" />
                    <input type="hidden" name="damaged" value="<!-- TMPL_VAR NAME="damaged" -->" />
                    <input type="hidden" name="itemlost" value="<!-- TMPL_VAR NAME="itemlost" -->" />
                    <input type="submit" name="submit" class="submit" value="Estado del Ejemplar"></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemstatusloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="description" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </li>
            <li><span class="label">Suppress Status:</span>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="suppress" >
            <!-- TMPL_LOOP NAME="itemsuppressloop" -->
                <!-- TMPL_IF NAME="selected" -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- TMPL_ELSE -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="hidden" name="wthdrawn" value="<!-- TMPL_VAR NAME="wthdrawn" -->" />
                    <input type="hidden" name="itemlost" value="<!-- TMPL_VAR NAME="itemlost" -->" />
                    <input type="hidden" name="damaged" value="<!-- TMPL_VAR NAME="damaged" -->" />
                    <input type="submit" name="submit" class="submit" value="Estado del Ejemplar"></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemsuppressloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="lib" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </li>
            </ol></div>
            <div class="listgroup"><h4>Historial</h4>
            <ol class="bibliodetails">
                <li><span class="label">
                <!-- TMPL_IF NAME="CAN_user_editcatalogue" --><a href="/cgi-bin/koha/acqui/orderreceive.pl?recieve=<!-- TMPL_VAR NAME="ordernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;invoice=<!-- TMPL_VAR NAME="booksellerinvoicenumber" -->&amp;catview=yes">Fecha de acceso</a><!-- TMPL_ELSE -->Fecha de acceso<!-- /TMPL_IF --></span> <!-- TMPL_VAR NAME="dateaccessioned" --></li>

                <li><span class="label">Total renovaciones:</span> <!-- TMPL_VAR NAME="renewals" -->&nbsp;</li>

                <li><span class="label">Total de préstamos:</span><!-- TMPL_IF NAME="issues" --><!-- TMPL_VAR NAME="issues" --><!-- TMPL_ELSE -->0<!-- /TMPL_IF -->  (<a href="/cgi-bin/koha/circ/bookcount.pl?&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->&amp;itm=<!-- TMPL_VAR NAME="itemnumber" -->">View item's checkout history</a>)</li>


                <li><span class="label">Última vez visto:</span> <!-- TMPL_VAR NAME="datelastseen" -->&nbsp;</li>
                <li><span class="label">Última vez prestado:</span> <!-- TMPL_VAR NAME="datelastborrowed" -->&nbsp;</li>
                <!-- TMPL_IF NAME="card0" --><li><span class="label">Último socio: </span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower0" -->"><!-- TMPL_VAR NAME="card0" --></a>&nbsp;</li><!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="card1" --><li><span class="label">Préstamo anterior:</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower1" -->"><!-- TMPL_VAR NAME="card1" --></a>&nbsp;</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="card2" --><li><span class="label">Préstamo anterior:</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower2" -->"><!-- TMPL_VAR NAME="card2" --></a>&nbsp;</li><!-- /TMPL_IF -->
                <li><span class="label">¿Pagado por?: %s</span> <!-- TMPL_VAR NAME="paidfor" -->&nbsp;</li>
            <li><span class="label">Nota pública:</span>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
              <form class="inline" action="updateitem.pl" method="post"><input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" /><input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <textarea name="itemnotes" rows="2" cols="30"><!-- TMPL_VAR NAME="itemnotes" --></textarea><input type="submit" name="submit" class="submit" value="Actualizar"> 
              </form>
            </li>
            </ol>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_VAR NAME="itemnotes" -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </div>
</div>
<!-- /TMPL_LOOP -->

</div>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="biblio-view-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
