<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Circulación &rsaquo; Cobranza</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- Additions to enable Calendar system -->
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-system.css" />
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-en.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-setup.js"></script>
<!-- End of additions -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->


<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulaci&oacute;n</a> &rsaquo; Facturación</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h2>Facturación desde <!-- TMPL_VAR NAME="from" --> a <!-- TMPL_VAR NAME="to" --></h2>
<h3>Reportada el <!-- TMPL_VAR NAME="todaysdate" --></h3>




<!-- TMPL_IF NAME="billingloop" -->
<h4>Los siguientes socios tiene deudas.</h4>
    <table>
    <tr>
        <th>Socio <a href="/cgi-bin/koha/circ/billing.pl?order=patron&amp;from=<!-- TMPL_VAR NAME="from" -->&amp;to=<!-- TMPL_VAR NAME="to" -->">Ordenar</a>
        </th>
        <th>Tasa por ítem <a href="/cgi-bin/koha/circ/billing.pl?order=fee&amp;from=<!-- TMPL_VAR NAME="from" -->&amp;to=<!-- TMPL_VAR NAME="to" -->">Ordenar</a>
        </th>
        <th>Descripción <a href="/cgi-bin/koha/circ/billing.pl?order=desc&amp;from=<!-- TMPL_VAR NAME="from" -->&amp;to=<!-- TMPL_VAR NAME="to" -->">Ordenar</a>
        </th>
        <th>Tipo <a href="/cgi-bin/koha/circ/billing.pl?order=type&amp;from=<!-- TMPL_VAR NAME="from" -->&amp;to=<!-- TMPL_VAR NAME="to" -->">Orden</a>
        </th>
        <th>Fecha <a href="/cgi-bin/koha/circ/billing.pl?order=date&amp;from=<!-- TMPL_VAR NAME="from" -->&amp;to=<!-- TMPL_VAR NAME="to" -->">Ordenar</a>
        </th>
        <th>Cantidad total <a href="/cgi-bin/koha/circ/billing.pl?order=total&amp;from=<!-- TMPL_VAR NAME="from" -->&amp;to=<!-- TMPL_VAR NAME="to" -->">Ordenada</a>
        </th>
    </tr>
    
    <!-- TMPL_LOOP NAME="billingloop" -->
        <tr>
            	 <td>
					 <p><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!--TMPL_VAR Name="borrowernumber"-->"><!-- TMPL_VAR NAME="patronname" --></a><br /><!-- TMPL_VAR NAME="phone" --><br />
                <!-- TMPL_IF NAME="email" --><a href="mailto:<!-- TMPL_VAR NAME="email" -->?subject=Account: <!-- TMPL_VAR NAME="title" -->">
    				 <!-- TMPL_VAR NAME="email" --></a><!--/TMPL_IF-->
                </p>
            	 </td>
                <td align="right">
                    <p><!-- TMPL_VAR NAME="l_amountoutstanding" --></p>
                </td>
                <td>
                    <p><!-- TMPL_VAR NAME="l_description" --></p>
                </td>
                <td>
                    <p><!-- TMPL_VAR NAME="l_accounttype" --></p>
                </td>
                <td>
                    <p><!-- TMPL_VAR NAME="l_date" --></p>
                </td>                
                <td align="right">
                    <p><!-- TMPL_VAR NAME="sum_amount" --></p>
                </td>
        </tr>
    <!-- /TMPL_LOOP -->
    </table>
    <!-- TMPL_ELSE -->
        <b>No se encontraron items</b>
    <!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<form action="/cgi-bin/koha/circ/billing.pl" method="post" >
<fieldset class="brief">
<ol><li><label for="ratio">
    Corte de moneda:
</label>
<input type="text" size="5" id="ratio" name="ratio" value="<!-- TMPL_VAR NAME="ratio" -->" /></li>
<li><label for="from">
    Fecha de Inicio:
</label>
<input type="text" size="10" id="from" name="from" value="<!-- TMPL_VAR NAME="from" -->" />
<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif"  border="0" id="openCalendarFrom" style="cursor: pointer;" alt="" />
<script language="JavaScript" type="text/javascript">
function validate1(date) {
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    var weekDay = date.getDay();
    var dayMonth = month + '-' + day;
    var dateString = year + '-' + month + '-' + day;
    var dateTo = document.getElementById('to').value.split("-");
    var limitDate = new Date(dateTo[0], (dateTo[1] - 1), dateTo[2]);
    if (date > limitDate) {
            return true;
    } else {
            return false;
    }
}
Calendar.setup(
        {
        inputField : "from",
        ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
        button : "openCalendarFrom",
        disableFunc : validate1,
        dateStatusFunc : validate1
        }
);
</script></li>
<li><label for="to" >
    Fecha final
</label>
<input size="10" id="to" name="to" value="<!-- TMPL_VAR NAME="to" -->" type="text" />
<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="" id="openCalendarTo" style="cursor: pointer;" border="0" />
<script type="text/javascript">
        function validate2(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            var weekDay = date.getDay();
            var dayMonth = month + '-' + day;
            var dateString = year + '-' + month + '-' + day;
            var dateFrom = document.getElementById('from').value.split("-");
            var limitDate = new Date(dateFrom[0], (dateFrom[1] - 1), dateFrom[2]);
            if (limitDate > date) {
                    return true;
            } else {
                    return false;
            }
        }

        Calendar.setup(
                {
                    inputField : "to",
                    ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                    button : "openCalendarTo",
                    disableFunc : validate2,
                    dateStatusFunc : validate2
                }
        );
</script>
(inclusivo)</li></ol>

<fieldset class="action"><input type="submit" value="Ir" class="submit"></fieldset></fieldset>
</form>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
