<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Circulación &rsaquo; Estadísticas de circulación para <!-- TMPL_VAR Name="title" escape="html" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
$(document).ready(function(){
    $(".striped tr:even").addClass("highlight");
    $("tr.mybranch td").css("background-color", "#CFE7FF");
});
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulaci&oacute;n</a> &rsaquo; Estad&iacute; sticas de circulaci&oacute;n para <!-- TMPL_VAR Name="title" escape="html" --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h2>
<!-- TMPL_VAR NAME="title" ESCAPE="html" --> <!-- TMPL_IF NAME="author" --> por <!-- TMPL_VAR NAME="author" ESCAPE="html" --><!-- /TMPL_IF --></h2>
<h3>Código de barras <!-- TMPL_VAR NAME="barcode" --></h3>
<table>
		<tr><th>Biblioteca de origen</th><th>Current Library</th><th>Date arrived<br />at current library </th><th>Number of issues<br />since last transfer</th></tr>
		
		<tr><td><!-- TMPL_VAR NAME="homebranch" --></td>
            <td><!-- TMPL_VAR NAME="holdingbranch" --></td>
            <td><!-- TMPL_VAR NAME="lastdate" --></td>
            <td><!-- TMPL_VAR NAME="count" --></td>
        </tr>
</table>
<table class="striped">
    <tr>
        <th>Biblioteca</th>
        <th>No. de items prestados</th>
        <th>Última vez visto</th>
    </tr>
    <!-- TMPL_LOOP NAME="branchloop" -->
    <!-- TMPL_IF NAME="selected" -->
        <tr class="mybranch">
    <!-- TMPL_ELSE -->
        <tr>
    <!-- /TMPL_IF -->
            <td><!-- TMPL_VAR NAME="branchname" --></td>
            <td><!-- TMPL_VAR NAME="issues" --></td>
            <td><!-- TMPL_IF NAME="seen" -->
                    <span style="display:none;"><!-- TMPL_VAR NAME="seen" --><!-- TMPL_VAR NAME="seentime" --></span>
                    <!-- invisible span for eventual use by tablesorter -->
                    <!-- TMPL_VAR NAME="seentime" DEFAULT="??:??" --> <!-- TMPL_VAR NAME="seen" --> 
                <!-- TMPL_ELSE -->Never
                <!-- /TMPL_IF -->
            </td>
        </tr>
    <!-- /TMPL_LOOP -->
</table>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="biblio-view-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
