<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Circulación
<!-- TMPL_IF NAME="borrowernumber" -->
&rsaquo; Checking out to <!-- TMPL_VAR name="surname" -->, <!-- TMPL_VAR name="firstname" --><!-- TMPL_IF NAME="showinitials" --> <!-- TMPL_VAR NAME="initials" --><!-- /TMPL_IF -->
(<!-- TMPL_VAR NAME="cardnumber" -->)
<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="greybox.inc" -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.dimensions.pack.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tools.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/js/auth.js"></script>
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang" -->/css/login.css" />
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
$.tablesorter.addParser({
    id: 'articles',
    is: function(s) {return false;  },
    format: function(s) { return s.toLowerCase().replace(/^(the|an|a) /,''); },
    type: 'text'
});
<!-- TMPL_UNLESS NAME="borrowernumber" --><!-- TMPL_UNLESS NAME="CGIselectborrower" -->window.onload=function(){ $('#findborrower').focus(); };<!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
	 $(document).ready(function() {
 		$('#patronlists > ul').tabs();
		$.tablesorter.defaults.widgets = ['zebra'];
		$("#issuest").tablesorter({<!-- TMPL_IF EXPR="dateformat eq 'metric'" -->
		dateFormat: 'uk',<!-- /TMPL_IF -->
		headers: { 1: { sorter: 'articles' },5: { sorter: false },6:{sorter:false},7:{sorter:false},8:{sorter:false}}
		});
		$("#issuest").bind("sortEnd",function() {
        	$("#previous").parents("tr").remove();  // 'previous checkouts' header chokes table sorter
	    });
		$("#holdst").tablesorter({<!-- TMPL_IF EXPR="dateformat eq 'metric'" -->
		dateFormat: 'uk',<!-- /TMPL_IF -->
			sortList: [[0,0]],
			headers: { 1: { sorter: 'articles' }}
		});

        <!-- TMPL_IF NAME="AllowRenewalLimitOverride" -->
        $( '#override_limit' ).click( function () {
            if ( this.checked ) {
                $( '.renewals-allowed' ).show(); $( '.renewals-disabled' ).hide();
            } else {
                $( '.renewals-allowed' ).hide(); $( '.renewals-disabled' ).show();
            }
        } ).attr( 'checked', false );
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="show_override" -->
        var submit_form = $( '#confirm, #charges_override' ).get( 0 );
        auth.bind_get_override( '#override_login', function ( data ) {
            if ( submit_form ) {
                $( submit_form ).find( 'input[name=override_user]' ).val( data.override_user ).end() 
                    .find( 'input[name=override_pass]' ).val( data.override_pass ).end()
                    .submit();
            } else {
                document.location.search = 'borrowernumber=' + <!-- TMPL_VAR NAME="borrowernumber" --> + '&override_user=' + data.override_user + '&override_pass=' + data.override_pass.replace( '+', '%2B' );
            }
        } );
        <!-- /TMPL_IF -->
		$("td").click(function(e){
			if(e.target.tagName.toLowerCase() == 'td'){
            $(this).find("input:checkbox").each( function() {
                $(this).attr('checked', !$(this).attr('checked'));
            });
			}
		});

var allcheckboxes = $(".checkboxed");
	$("#renew_all").click(function(){
		$(allcheckboxes).checkCheckboxes(":input[name*=items]"); 
		$(allcheckboxes).unCheckCheckboxes(":input[name*=barcodes]");
	});
	$("#return_all").click(function(){
		$(allcheckboxes).checkCheckboxes(":input[name*=barcodes]");
		$(allcheckboxes).unCheckCheckboxes(":input[name*=items]");
	});
	$("#CheckAllitems").click(function(){
		$(allcheckboxes).checkCheckboxes(":input[name*=items]");
		$(allcheckboxes).unCheckCheckboxes(":input[name*=barcodes]"); return false;
	});
    $("#CheckNoitems").click(function(){
		$(allcheckboxes).unCheckCheckboxes(":input[name*=items]"); return false;
	});
	$("#CheckAllreturns").click(function(){
		$(allcheckboxes).checkCheckboxes(":input[name*=barcodes]");
		$(allcheckboxes).unCheckCheckboxes(":input[name*=items]"); return false;
	});
    $("#CheckNoreturns" ).click(function(){
		$(allcheckboxes).unCheckCheckboxes(":input[name*=barcodes]"); return false;
	});

    <!-- TMPL_IF NAME="CAN_user_circulate_override_renewals" -->
    <!-- TMPL_IF NAME="AllowRenewalLimitOverride" -->
    $( '#override_limit' ).click( function () {
        if ( this.checked ) {
           $( '.renewals-allowed' ).show(); $( '.renewals-disabled' ).hide();
        } else {
           $( '.renewals-allowed' ).hide(); $( '.renewals-disabled' ).show();
        }
    } ).attr( 'checked', false );
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
	$("td").click(function(e){
		if(e.target.tagName.toLowerCase() == 'td'){
           $(this).find("input:checkbox").each( function() {
               $(this).attr('checked', !$(this).attr('checked'));
			   if($(this).attr('checked')){
                    $(this).parent().siblings().find("input:checkbox").each(function(){
                       if($(this).attr('checked')){ $(this).attr('checked',''); }
                   });
			   }
           });
		}
	});
	$("#messages ul").after("<a href=\"#\" id=\"addmessage\">"+_("Add a new message")+"</a>");
	$("#borrower_messages .cancel").click(function(){
		$("#add_message_form").hide();
        $("#addmessage").show();
	});
	$("#addmessage").click(function (){
        $(this).hide();
		$("#add_message_form").show();
	 });
});
function uncheck_sibling(me){
nodename=me.getAttribute("name");
if (nodename =="barcodes[]"){
    var Node=me.parentNode.previousSibling;
    while (Node.nodeName!="TD"){Node=Node.previousSibling}
    var Nodes=Node.childNodes;
    for (var i=0;i<Nodes.length;i++){
      if (Nodes[i].nodeName=="INPUT" && Nodes[i].getAttribute("type")=="checkbox"){
        Nodes[i].checked=false;
      }     
   }   

}else {
    var Node=me.parentNode.nextSibling;
    while (Node.nodeName!="TD"){Node=Node.nextSibling}
    var Nodes=Node.childNodes;
    for (var i=0;i<Nodes.length;i++){
      if (Nodes[i].nodeName=="INPUT" && Nodes[i].getAttribute("type")=="checkbox"){
        Nodes[i].checked=false;
      }     
   }   
}
}
function validate1(date) {
    var today = new Date();
    if ( date < today ) {
        return true;
     } else {
        return false;
     }
};
function refocus(calendar) {
   document.getElementById('barcode').focus();
   calendar.hide();
};
//]]>
</script>
<style type="text/css">
    <!--
    #login-overlay {
        background-image: url(/intranet-tmpl/prog/img/overlay_white.png);
        display: none;
        width: 656px;
        height: 526px;
    }
    #login-area {
        position: relative;
    }
    -->
</style>
<!-- TMPL_INCLUDE NAME="calendar.inc" -->

<!-- TMPL_IF NAME="CheckoutTimeout" -->
  <script type="text/javascript">
    function displaymessage() {
      clearTimeout( mesg_timeout );
      if ( confirm('Circ Timeout -- Are you finished with this patron?') ) { 
        window.location = '/cgi-bin/koha/circ/circulation.pl';
      } else {
        mesg_timeout = setTimeout('displaymessage()', <!-- TMPL_VAR NAME="CheckoutTimeout" --> * 1000);
      }
    }
  </script>
<!-- /TMPL_IF -->

</head>
<body <!-- TMPL_IF NAME="CheckoutTimeout" -->onload="mesg_timeout = setTimeout('displaymessage()', <!-- TMPL_VAR NAME="CheckoutTimeout" --> * 1000)" <!-- /TMPL_IF --> >

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulaci&oacute;n</a> &rsaquo;<!-- TMPL_IF NAME="borrowernumber" --> <a href="/cgi-bin/koha/circ/circulation.pl">Checkouts</a> &rsaquo; <!-- TMPL_VAR name="firstname" --> <!-- TMPL_IF NAME="showinitials" --><!-- TMPL_VAR NAME="initials" --><!-- /TMPL_IF --> <!-- TMPL_VAR name="surname" --><!-- TMPL_ELSE --> <strong>Pr&eacute;stamos </strong><!-- /TMPL_IF --></div>


<!-- TMPL_IF NAME="CGIselectborrower" -->
<div id="doc" class="yui-t7">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">
<!-- TMPL_ELSE -->
<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="borrowernumber" -->
<!-- TMPL_INCLUDE NAME="circ-toolbar.inc" -->
<!-- /TMPL_IF -->

<!--  INITIAL BLOC : PARAMETERS & BORROWER INFO -->
<div style="display: none;" id="add_message_form">
<form method="post" action="/cgi-bin/koha/circ/add_message.pl" id="message_form" name="message_f">
<fieldset id="borrower_messages" class="brief">
<legend>Leave a message</legend>
	<ol>
    <li>
            <label for="message_type">Add a message for:</label>
          <select name="message_type" id="message_type">
            <option value="L">Other Librarians</option>
            <option value="B"><!-- TMPL_VAR name="firstname" --></option>
        </select>
    </li>
    <!-- TMPL_IF NAME="canned_bor_notes_loop" -->
        <li>
                <label for="canned_notes">Predefined notes: </label>
                <select name="type" id="type" onchange="this.form.borrower_message.value=this.options[this.selectedIndex].value;">
                    <option value="">Select Note</option>
                    <!-- TMPL_LOOP NAME="canned_bor_notes_loop" -->
                    <option value="<!-- TMPL_VAR NAME="lib" -->"><!--TMPL_VAR NAME="authorised_value" --></option>
                    <!-- /TMPL_LOOP -->
                </select>
        </li>
    <!-- /TMPL_IF -->
    <li>
        <textarea rows="3" cols="60" name="borrower_message" id="borrower_message" ></textarea>
    </li>
	</ol>
    <fieldset class="action">
        <input type="submit" value="Guardar"> <a href="#" class="cancel">Cancelar</a>
    </fieldset>

        <input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
        <input type="hidden" name="branchcode" value="<!-- TMPL_VAR NAME="branch" -->" />
</fieldset>
</form>
</div>

<!-- TMPL_IF NAME="dateexpiry" --><div class="dialog message">lLa cuenta del socio se ha renovado hasta <!-- TMPL_VAR NAME="dateexpiry" --></div><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="NEEDSCONFIRMATION" -->
<div class="yui-g">

<div id="circ_needsconfirmation" class="dialog alert">
<h3>Por favor, confirme el préstamo</h3>

<ul>
<!-- TMPL_IF NAME="DEBT" -->
    <li>The patron has a debt of <!-- TMPL_VAR name="DEBT" --></li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RENEW_ISSUE" -->
    <li>El ítem ya se encuentra prestado a este socio. ¿Renovar?</li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RESERVE_WAITING" -->
    <li>El ítem está consignado para <!-- TMPL_VAR NAME="RESERVE_WAITING" --></li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RESERVED" -->
    <li>El ítem está reservado para <!-- TMPL_VAR NAME="RESERVED" --></li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="ISSUED_TO_ANOTHER" -->
    <li>Ítem (<!-- TMPL_VAR NAME="getTitleMessageIteminfo" -->) para prestar <!-- TMPL_VAR NAME="ISSUED_TO_ANOTHER" -->. ¿Devolver y prestar?</li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="TOO_MANY" -->
<!-- TMPL_IF NAME="CAN_user_circulate_override_checkout_max" -->
    <li>Demasiados préstamos (ya prestado/max : <!-- TMPL_VAR name="TOO_MANY" -->)</li>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="PATRON_CANT" -->
    <li>This patron can't check out this item per library circulation policy</i>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="NOT_FOR_LOAN_FORCING" -->
    <li>Item is normally not for loan.  Check out anyway?</li>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="NO_MORE_RENEWALS_FORCING" -->
     <li>No more renewals normally possible. Check out anyway?</li>
<!-- /TMPL_IF -->

</ul>

<form method="post" action="/cgi-bin/koha/circ/circulation.pl" id="confirm">

<!-- TMPL_IF NAME="DisableHoldsIssueOverrideUnlessAuthorised" -->
    <p>
    <label><strong>Superlibrarian Authorization Required</strong></label>
    </p><p>
    <label for="auth_username">Nombre de usuario:</label>
    <input type="text" id="auth_username" name="auth_username" />
    <label for="auth_password">Contraseña:</label>
    <input type="password" id="auth_password" name="auth_password" />
    </p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RESERVED" -->
    <p>
    <input type="checkbox" id="cancelreserve" name="cancelreserve" value="1" />
    <label for="cancelreserve">Cancelar reserva</label>
    </p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RESERVE_WAITING" -->
    <p>
    <input type="checkbox" id="cancelreserve" name="cancelreserve" value="1" />
    <label for="cancelreserve">Cancelar reserva</label>
    </p>
<!-- /TMPL_IF -->

    <input type="hidden" name="barcode" value="<!-- TMPL_VAR NAME="barcode" -->" />
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="hidden" name="issueconfirmed" value="1" />
    <!-- TMPL_IF NAME="DEBT" --><input type="hidden" name="debt_confirmed" value="1" /><!-- /TMPL_IF -->
    <input type="hidden" name="charges_overridden" value="<!-- TMPL_VAR NAME="charges_overridden" -->" />
    <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
    <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />
    <input type="hidden" name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->" />
    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <input type="submit" class="approve" value="Si, prestar (Y)" accesskey="y">
</form>

<form method="POST" action="/cgi-bin/koha/circ/circulation.pl" id="dont_confirm">
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />
    <input type="hidden" name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->" />
    <input type="submit" class="deny" value="No, no prestar (N)" accesskey="n">
    <input type="hidden" name="charges_overridden" value="<!-- TMPL_VAR NAME="charges_overridden" -->" />
    <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
    <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
</form>

</div></div>
<!-- /TMPL_IF --> <!-- NEEDSCONFIRMATION -->

        <!-- TMPL_IF NAME="IMPOSSIBLE" -->
<div class="yui-g">
<div id="circ_impossible" class="dialog alert">
<!-- RESULT OF ISSUING REQUEST -->
        <ul>
        <!-- TMPL_IF NAME="STATS" -->
            <li>Uso local guardado</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="INVALID_DATE" -->
            <li>The due date &quot;<!-- TMPL_VAR NAME="INVALID_DATE" -->&quot; is invalid</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="UNKNOWN_BARCODE" -->
            <li>El código de barras no se ha encontrado
             <!-- TMPL_IF NAME="CAN_user_circulate_fast_add" -->
                <form method="post" class="confirm">
                <!--TMPL_IF NAME="duedatespec" -->
                <a href="/cgi-bin/koha/circ/fastcat.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;duedatespec=<!-- TMPL_VAR NAME="duedatespec" -->&amp;branch=<!-- TMPL_VAR NAME="branch" -->&amp;stickyduedate=<!-- TMPL_VAR NAME="stickyduedate" -->"><input type="button" name="fastadd1" value="Fast Bib Add"></a>
                <!-- TMPL_ELSE -->
                <a href="/cgi-bin/koha/circ/fastcat.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;branch=<!-- TMPL_VAR NAME="branch" -->"><input type="button" name="fastadd1" value="Fast Bib Add"></a>
                <!-- /TMPL_IF -->
                </form>
                <!-- /TMPL_IF -->
            </li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NOT_FOR_LOAN" -->
            <li>El ítem no puede prestarse</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="WTHDRAWN" -->
            <li>Ítem ha sido retirado</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="RESTRICTED" -->
            <li>Item is restricted</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="GNA" -->
            <li>Dirección de socio dudosa</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="CARD_LOST" -->
            <li>El carnet de de socio se ha perdido</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="DEBARRED" -->
            <li>El socio está excluído.</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NO_MORE_RENEWALS" -->
            <li>No es posible una nueva renovaci&oacute;n</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="EXPIRED" -->
            <li>El carnet de socio se ha vencido.</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NOTSAMEBRANCH" -->
            <li>Este ítem  es de la biblioteca <!-- TMPL_VAR NAME="itemhomebranch" --> y no pueden ser prestado desde esta ubicación.</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_UNLESS NAME="CAN_user_circulate_override_checkout_max" -->
        <!-- TMPL_IF NAME="TOO_MANY" -->
            <li>Demasiados préstamos (ya prestado/max : <!-- TMPL_VAR name="TOO_MANY" -->)</li>
        <!-- /TMPL_IF -->
        <!-- /TMPL_UNLESS -->
        </ul>

    <!-- TMPL_IF NAME="memberofinstution" -->
    <p><!-- TMPL_VAR NAME="CGIorganisations" --></p>
    <!-- /TMPL_IF -->

</div></div>
    <!--/TMPL_IF --> <!-- /impossible -->

<!-- TMPL_IF NAME="issued" -->
<p>Ítem prestado</p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="message" -->
<!-- TMPL_INCLUDE NAME="patron-toolbar.inc" -->
<h4>
No hay usuario que corresponda <span class="ex"><!-- TMPL_VAR name="message" --></span>
</h4>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="CGIselectborrower" -->
<!-- TMPL_INCLUDE NAME="patron-toolbar.inc" -->

<form method="post" action="/cgi-bin/koha/circ/circulation.pl" id="mainform" name="mainform">
<fieldset id="circ_circulation_selectborrower" class="brief">
    <legend>Selección de socio</legend>

    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />
    <input type="hidden" name="stickyduedate" value="<!-- TMPL_VAR NAME="stickyduedate" -->" />

<ol>    <li>
    <label for="borrowernumber">Seleccionar un socio: </label>
    <!-- TMPL_VAR name="CGIselectborrower" -->
    </li>
</ol>
<p><input type="submit" value="Seleccionar"></p>
</fieldset>
</form>
<!-- TMPL_ELSE --> <!-- CGIselectborrower -->

<!-- BARCODE ENTRY -->

<!-- TMPL_IF NAME="borrowernumber" -->
<div class="yui-g">
<!-- TMPL_UNLESS NAME="noissues" -->
<!-- TMPL_IF NAME="flagged" -->
<div class="yui-u first">
<!-- TMPL_ELSE -->
<div><!-- /TMPL_IF --><form method="post" action="/cgi-bin/koha/circ/circulation.pl" name="mainform" id="mainform">
<fieldset id="circ_circulation_issue">
    <!-- TMPL_IF NAME="DisplayClearScreenButton" -->
	    <input type=button value="Clear Screen" onClick="window.location = '/cgi-bin/koha/circ/circulation.pl'">
    <!-- /TMPL_IF -->

    <label for="barcode">Checking out to <!-- TMPL_VAR name="firstname" --> <!-- TMPL_IF NAME="showinitials" --><!-- TMPL_VAR NAME="initials" --><!-- /TMPL_IF --> <!-- TMPL_VAR name="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->) </label>
    <!-- TMPL_IF NAME="PreviousCardnumber" --><div><span class="circ-hlt">Warning: Scanned Old Card</span></div><!-- /TMPL_IF -->
	<div class="hint">Ingrese código de barras del &iacute;tem:</div>

	<input type="text" name="barcode" id="barcode" class="barcode focus" size="14" /> <input type="submit" value="Préstamo">

    <!-- TMPL_IF NAME="SpecifyDueDate" -->
    <!-- TMPL_IF NAME="CAN_user_circulate_change_due_date" -->
        <div class="date-select">
        <div class="hint">Especifique fecha de devolución:</div>
		<!-- TMPL_IF NAME="duedatespec" --><input type="text" size="10" id="duedatespec" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" /><!-- TMPL_ELSE --><input type="text" size="10" id="duedatespec" name="duedatespec" value="" />
<!-- /TMPL_IF -->
		<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Mostrar Calendario" border="0" id="CalendarDueDate" style="cursor: pointer;">
             <script language="JavaScript" type="text/javascript">
			 //<![CDATA[
                   function validate1(date) {
                         var today = new Date();
                     if ( date < today ) {
                         return true;
                      } else {
                         return false;
                      }
                 };
                 function refocus(calendar) {
                    document.getElementById('barcode').focus();
                    calendar.hide();
                 };
				//#TODO - ADD syspref (AllowPostDatedCheckouts).
                 Calendar.setup(
                      {
                         inputField : "duedatespec",
                         ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                         button : "CalendarDueDate",
                        <!-- TMPL_IF NAME="AllowDueDateInPast" -->
                         onClose : refocus
                        <!-- TMPL_ELSE -->
                         disableFunc : validate1,
                         dateStatusFunc : validate1,
                         onClose : refocus
                        <!-- /TMPL_IF -->
                       }
                    );
				//]]>
                 </script>

          <label for="stickyduedate"> Recordodar por la sesión:</label>
<!-- TMPL_IF NAME="stickyduedate" -->
<input type="checkbox" id="stickyduedate" onclick="this.form.barcode.focus();" name="stickyduedate" checked="checked" />
<!-- TMPL_ELSE -->
<input type="checkbox" id="stickyduedate" onclick="this.form.barcode.focus();" name="stickyduedate" />
<!-- /TMPL_IF -->
          <input type="button" class="action" id="cleardate" value="Limpiar" name="cleardate" onclick="this.checked = false; this.form.duedatespec.value = ''; this.form.stickyduedate.checked = false; this.form.barcode.focus(); return false;">
</div>
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
          <input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
          <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
          <input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
          <input type="hidden" name="print" value="maybe" />
          <input type="hidden" name="debt_confirmed" value="<!-- TMPL_VAR NAME="debt_confirmed" -->" />
          <input type="hidden" name="charges_overridden" value="<!-- TMPL_VAR NAME="charges_overridden" -->" />
          <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
          <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
                <!-- TMPL_IF NAME="CHARGES" -->
                        <input type="hidden" name="charges" value="yes" />
                        <input type="hidden" name="oldamount" value="<!-- TMPL_VAR NAME="amountold" -->" />
                <!-- /TMPL_IF -->
</fieldset>

</form></div><!-- /TMPL_UNLESS --><!-- /unless noissues -->

<!-- TMPL_IF NAME="noissues" --><div><!-- TMPL_ELSE --><div class="yui-u"><!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="flagged" -->
		<!-- TMPL_IF NAME="noissues" -->
		 <h4>Prestar a <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->)</h4>
        <div id="circmessages" class="circmessage warning">
		<!-- TMPL_ELSE -->
        <div id="circmessages" class="circmessage attention">
		<!-- /TMPL_IF -->
<h3><input type="button" value="Search To Hold" id="searchtohold" onclick="return GB_showFullScreen('Search To Hold', '/cgi-bin/koha/catalogue/search.pl?last_borrower_show_button=1')" /></h3>

		<h3><!-- TMPL_IF NAME="noissues" -->No se puede prestar!<!-- TMPL_ELSE -->Atención:<!-- /TMPL_IF --></h3>
		<ul>

			<!-- TMPL_IF NAME = "warndeparture" -->
			<li><span class="circ-hlt">Vencimiento: </span> Patron's card will expire soon.  Patron's card expires on <!-- TMPL_VAR NAME="expiry" -->
<!-- TMPL_IF NAME="CAN_user_circulate_renew_expired" -->
<a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;reregistration=y">Renew</a> or <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Edit Details</a>
<!-- /TMPL_IF -->

			</li>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF NAME="returnbeforeexpiry" -->
			 <li><span class="circ-hlt">Fijar la fecha de la &uacute;ltima lectura: %S</span> Ud. tiene la preferencia del sistema ReturnBeforeExpiry habilitada, esto significa que si la fecha de devolución es anterior a la fecha de vencimiento, entonces la fecha de vencimiento se va a establecer a la fecha de devolución
			 </li>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF NAME = "expired" -->
			<li><span class="circ-hlt">Vencimiento: </span> Patron's card has expired.  Patron's card expired on <!-- TMPL_VAR NAME="expiry" -->
<!-- TMPL_IF NAME="CAN_user_circulate_renew_expired" -->
<a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;reregistration=y">Renew</a> or <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Edit Details</a>
<!-- /TMPL_IF -->
			</li>
			<!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="gna" -->
			<li class="blocker"><span class="circ-hlt">Direcci&oacute;n:</span> Dirección de socio dudosa</li>
			<!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="lost" -->
			<li class="blocker"><span class="circ-hlt">Perdido: </span>El carnet de de socio se ha perdido</li>
			<!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="dbarred" --><li class="blocker">
               <span class="circ-hlt"> Restringido:</span> La cuenta del socio está excluida <a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;status=0">Levantar restricción</a>
</li><!-- /TMPL_IF -->

        	<!-- TMPL_IF name="odues" --><li><!-- TMPL_IF name="nonreturns" --><span class="circ-hlt">Retrasos:</span> El socio tiene <span class="circ-hlt">Items atrasados</span>. V&eacute;ase art&iacute;culos relevantes <a href="#checkouts">A continuaci&oacute;n</a><!-- /TMPL_IF --></li>
            <!-- /TMPL_IF -->

        	<!-- TMPL_IF NAME="charges" -->
                <!-- TMPL_IF NAME="charges_is_blocker" -->
			        <li class="blocker">
                    <form id="charges_override" method="POST" action="/cgi-bin/koha/circ/circulation.pl">
                        <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
                        <input type="hidden" name="charges_overridden" value="1" />
                        <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
                        <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
                <!-- TMPL_ELSE -->
			        <li>
                <!-- /TMPL_IF -->
                    <p>
                        <span class="circ-hlt">Multas:</span> Patron has <a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Outstanding fines<!-- TMPL_IF NAME="chargesamount" --> of $<!-- TMPL_VAR NAME="chargesamount" --><!-- /TMPL_IF --></a>:
                    </p>
                    <ul>
                        <!-- TMPL_IF NAME="lost_fines_total" --><li><span class="circ-hlt">Replacement fees:</span> $<!-- TMPL_VAR NAME="lost_fines_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="overdue_fines_total" --><li><span class="circ-hlt">Overdue fines:</span> $<!-- TMPL_VAR NAME="overdue_fines_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="reserve_fees_total" --><li><span class="circ-hlt">Hold fees:</span> $<!-- TMPL_VAR NAME="reserve_fees_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="other_fees_total" --><li><span class="circ-hlt">Other fees:</span> $<!-- TMPL_VAR NAME="other_fees_total" --></li><!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="credits_total" --><li><span class="circ-hlt">Cr&eacute;ditos:</span> -$<!-- TMPL_VAR NAME="credits_total" --></li><!-- /TMPL_IF -->
                    </ul>
                    <p>
                <!-- TMPL_IF NAME="charges_is_blocker" -->
                        Los préstamos están bloqueadas porque el balance de multas excede el límite.
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="CAN_user_updatecharges_accept_payment" -->
                    Pagar
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="charges_override" -->
                    <input type="submit" class="submit" value="Override" />
                <!-- /TMPL_IF -->
                </form>
                </li>
			<!-- /TMPL_IF -->

        	<!-- TMPL_IF NAME="credits" -->
            <li><span class="circ-hlt">Cr&eacute;ditos:</span> El socio tiene credito </li>
			<!-- /TMPL_IF -->

        	<!-- TMPL_IF NAME="override_user" -->
            <li><span class="circ-hlt">Using override:</span> from <!-- TMPL_VAR NAME="override_user" --></li>
			<!-- /TMPL_IF -->



			</ul>
        </div>

			<!-- TMPL_IF NAME="WaitingReserveLoop" -->
			<div id="holdswaiting" class="circmessage">
		    <h4>Reservas en espera:</h4>
			        <!-- TMPL_LOOP NAME="WaitingReserveLoop" -->
			            <ul>
			                <li> <a href="/cgi-bin/koha/reserve/request.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" escape="html" --></a> (<!-- TMPL_VAR NAME="itemtype"-->), <!-- TMPL_IF NAME="author" -->por <!-- TMPL_VAR NAME="author"--><!-- /TMPL_IF --> Reservado en <!-- TMPL_VAR NAME="reservedate"-->
			            <!-- TMPL_IF NAME="waitingat" -->
			                <br /><!-- TMPL_IF NAME="waitinghere" --><strong class="waitinghere"><!-- TMPL_ELSE --><strong><!-- /TMPL_IF -->Esperando en <!-- TMPL_VAR NAME="waitingat" --></strong>
			            <!-- /TMPL_IF -->
			                </li>
			            </ul>
			    <!-- /TMPL_LOOP -->
			</div>
			<!-- /If WaitingReserveLoop --><!-- /TMPL_IF -->
	<!-- TMPL_IF name="notes" -->
			<div id="circnotes" class="circmessage">
			<h4>Notas:</h4>
            <p><span class="circ-hlt"><!-- TMPL_VAR name="notesmsg" --></span></p>
			</div>


    <!-- /If notes --><!-- /TMPL_IF -->

	<div id="messages" class="circmessage">
		<h4>Messages:</h4>
		<ul>
			<!--TMPL_LOOP NAME="lib_messages_loop" -->
				<li>
					<span class="circ-hlt">
						<!--TMPL_VAR NAME="message_date_formatted"-->  <!--TMPL_VAR NAME="branchcode"-->  <i>"<!--TMPL_VAR NAME="message"-->"</i>
					</span>
					<!-- TMPL_IF NAME="can_delete" -->
						<a href="/cgi-bin/koha/circ/del_message.pl?message_id=<!--TMPL_VAR NAME="message_id" -->&amp;borrowernumber=<!--TMPL_VAR NAME="borrowernumber" -->">[Delete]</a>
					<!-- TMPL_ELSE -->
						<!-- TMPL_IF NAME="all_messages_del" -->
							<a href="/cgi-bin/koha/circ/del_message.pl?message_id=<!--TMPL_VAR NAME="message_id" -->&amp;borrowernumber=<!--TMPL_VAR NAME="borrowernumber" -->">[Delete]</a>
						<!-- /TMPL_IF -->
					<!-- /TMPL_IF -->
				</li>
			<!-- /TMPL_LOOP -->
			<!--TMPL_LOOP NAME="bor_messages_loop" -->
				<li><span class=""><!--TMPL_VAR NAME="message_date_formatted"--> <!--TMPL_VAR NAME="branchcode"--> <i>"<!--TMPL_VAR NAME="message"-->"</i></span> <!-- TMPL_IF NAME="can_delete" --><a href="/cgi-bin/koha/circ/del_message.pl?message_id=<!--TMPL_VAR NAME="message_id" -->&amp;borrowernumber=<!--TMPL_VAR NAME="borrowernumber" -->">[Delete]</a><!-- /TMPL_IF --></li>
			<!-- /TMPL_LOOP -->

		</ul>
	</div>	
	
     <!-- /If flagged --><!-- /TMPL_IF -->

	

</div>
</div>

<div class="yui-g"><div id="patronlists" class="toptabs">

<ul>
<!-- TMPL_IF NAME="CAN_user_circulate_view_checkout" -->
<li>    <!--TMPL_IF NAME="issuecount"-->
            <a href="/cgi-bin/koha/circ/circulation.pl#checkouts"><!-- TMPL_VAR NAME="issuecount"--> Prestados(s)</a>
    <!-- TMPL_ELSE -->
            <a href="/cgi-bin/koha/circ/circulation.pl#checkouts">0 Prestamos</a>
    <!-- /TMPL_IF --></li>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="CAN_user_reserveforothers_view_holds" -->
<li><!-- TMPL_IF NAME="countreserv"-->
            <a href="/cgi-bin/koha/circ/circulation.pl#reserves"><!--TMPL_VAR NAME="countreserv"--> Hold(s)</a>
    <!-- TMPL_ELSE -->
            <a href="/cgi-bin/koha/circ/circulation.pl#reserves">0 Existencias</a>
    <!-- /TMPL_IF --></li>
<!-- /TMPL_IF -->

</ul>

<!-- TMPL_IF NAME="CAN_user_circulate_view_checkout" -->
<!-- SUMMARY : TODAY & PREVIOUS ISSUES -->
<div id="checkouts">
<!--TMPL_IF NAME="issuecount"-->
    <form action="/cgi-bin/koha/reserve/renewscript.pl" method="post" id="renew_form">
    <input type="hidden" value="circ" name="destination" />
    <input type="hidden" name="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" />
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <input type="hidden" name="charges_overridden" value="<!-- TMPL_VAR NAME="charges_overridden" -->" />
    <input type="hidden" name="override_user" value="<!-- TMPL_VAR NAME="override_user" -->" />
    <input type="hidden" name="override_pass" value="<!-- TMPL_VAR NAME="override_pass" -->" />
        <table id="issuest">
    <thead><tr>
        <th scope="col">Fecha de devoluci&oacute;n</th>
        <th scope="col">T&iacute;tulo</th>
        <th scope="col">Tipo de ítem</th>
        <th scope="col">Prestados en</th> 
        <th scope="col">Signatura</th>
        <th scope="col">Cargo</th>
        <th scope="col">Precio</th>
        <th scope="col">C&oacute;digo de barras</th>
        <th scope="col">Renovar <p class="column-tool"><a href="#" id="CheckAllitems">seleccionar todo</a> | <a href="#" id="CheckNoitems">ninguno</a></p></th>
<!-- TMPL_IF NAME="dispreturn" -->
        <th scope="col">Devolución <p class="column-tool"><a href="#" id="CheckAllreturns">seleccionar todo</a> | <a href="#" id="CheckNoreturns">ninguno</a></p></th>
<!-- /TMPL_IF -->
    </tr>
<!-- TMPL_IF NAME="todayissues" --></thead>
<tfoot>
		<tr>
            <td colspan="5" style="text-align: right; font-weight:bold;">Totals:</td>
			<td><!-- TMPL_VAR NAME="totaldue" --></td>
            <td><!-- TMPL_VAR NAME="totalprice" --></td>
            <td colspan="2">      
                <p>
                    Vencimiento de renovación:<input type="text" size="8" id="newduedate" name="newduedate" value="<!-- TMPL_VAR Name="newduedate" -->" />
                    <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="newduedate_button" alt="Mostrar Calendario">
 <script type="text/javascript"> //<![CDATA[
				//#TODO - ADD syspref (AllowPostDatedCheckouts).
                     Calendar.setup(
                          {
                             inputField : "newduedate",
                             ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                             button : "newduedate_button",
                             disableFunc : validate1,
                             dateStatusFunc : validate1,
                             onClose : refocus
                           }
                        );
				//]]>
				 </script>
                </p>
                <p>
                    <label>Perdonar multas en la devolución: <input type="checkbox" name="exemptfine" value="1" /></label>
                </p>
            </td>
        </tr>
		</tfoot>
	<tbody>

    <!-- TMPL_LOOP NAME="todayissues" -->
    <!-- TMPL_IF NAME="__odd__" -->
    <tr>
    <!-- TMPL_ELSE -->
    <tr class="highlight">
    <!-- /TMPL_IF -->
        <td><!-- TMPL_VAR NAME="dd" --></td>
        <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;type=intra"><strong><!-- TMPL_VAR NAME="title" escape="html" --></strong></a><!-- TMPL_IF NAME="author" -->por <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --><!-- TMPL_IF NAME="itemnotes" -->- <span class="circ-hlt"><!-- TMPL_VAR name="itemnotes" --></span><!-- /TMPL_IF --> <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->#item<!-- TMPL_VAR NAME="itemnumber" -->"><!-- TMPL_VAR NAME="barcode" --></a></td>
        <td><!-- TMPL_UNLESS NAME="noItemTypeImages" --> <!-- TMPL_IF NAME="itemtype_image" --><img src="<!-- TMPL_VAR NAME="itemtype_image" -->" alt="" /><!-- /TMPL_IF --><!-- /TMPL_UNLESS --><!-- TMPL_VAR NAME="itemtype" --></td>
        <td><!-- TMPL_VAR NAME="checkoutdate" --></td>
        <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
            <td><!-- TMPL_VAR NAME="charge" --></td>
            <td><!-- TMPL_VAR NAME="replacementprice" --></td>
        <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->#item<!-- TMPL_VAR NAME="itemnumber" -->"><!-- TMPL_VAR NAME="barcode" --></a></td>
        <td><!-- TMPL_VAR NAME="renewals" --> <!-- TMPL_IF NAME="renewals_opac" -->( <!-- TMPL_VAR NAME="renewals_opac" --> via OPAC ) <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="can_renew" -->
        <input type="checkbox" name="all_items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" style="display: none;" />
        <!-- TMPL_IF NAME="od" -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" />
        <!-- TMPL_ELSE -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
        <!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
            <!-- TMPL_IF NAME="can_confirm" --><span class="renewals-allowed" style="display: none">
                <input type="checkbox" name="all_items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" style="display: none;" />
                <!-- TMPL_IF NAME="od" -->
                    <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" />
                <!-- TMPL_ELSE -->
                    <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
                <!-- /TMPL_IF -->
                </span>
                <span class="renewals-disabled">
            <!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="renew_error_on_reserve" -->
			Reservado
		<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="renew_error_too_many" -->
			Not Renewable
                <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="can_confirm" -->
                </span>
            <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
        </td>
  <!-- TMPL_IF NAME="return_failed" -->
            <td class="problem">Checkin Failed</td>
      <!--TMPL_ELSE-->
<!-- TMPL_IF NAME="dispreturn" -->
            <td><input type="checkbox" name="barcodes[]"  value="<!-- TMPL_VAR NAME="barcode" -->" onclick="uncheck_sibling(this);" />
                <input type="checkbox" name="all_barcodes[]" value="<!-- TMPL_VAR NAME="barcode" -->" checked="checked" style="display: none;" />
            </td>
<!-- /TMPL_IF -->
      <!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="renew_failed" -->
		<td>Renovación fallida</td>
		<!-- /TMPL_IF -->
    </tr>
    <!-- /TMPL_LOOP --> <!-- /loop todayissues -->
    <!-- /if todayissues --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="previssues" -->
<!-- TMPL_IF NAME="todayissues" --><tr><th colspan="10"><a name="previous" id="previous"></a>Préstamos previos</th></tr><!-- TMPL_ELSE -->
<tr><th class="{sorter: false}" colspan="10"><a name="previous" id="previous"></a>Préstamos previos</th></tr></thead>
	<tbody>
<!-- /TMPL_IF -->
    <!-- TMPL_LOOP NAME="previssues" -->
    <!-- TMPL_IF NAME="__odd__" -->
        <tr>
    <!-- TMPL_ELSE -->
        <tr class="highlight">
    <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="od" --><td class="od"><!-- TMPL_ELSE --><td><!-- /TMPL_IF -->
        <!-- TMPL_VAR NAME="dd" -->
        </td>
        <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;type=intra"><strong><!-- TMPL_VAR NAME="title" escape="html" --></strong></a><!-- TMPL_IF NAME="author" -->por <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --> <!-- TMPL_IF NAME="itemnotes" -->- <!-- TMPL_VAR name="itemnotes" --><!-- /TMPL_IF --> <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->#item<!-- TMPL_VAR NAME="itemnumber" -->"><!-- TMPL_VAR NAME="barcode" --></a></td>
        <td>
            <!-- TMPL_VAR NAME="itemtype" -->
        </td>
        <td><!-- TMPL_VAR NAME="displaydate" --></td>
        <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
        <td><!-- TMPL_VAR NAME="charge" --></td>
        <td><!-- TMPL_VAR NAME="replacementprice" --></td>
        <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->#item<!-- TMPL_VAR NAME="itemnumber" -->"><!-- TMPL_VAR NAME="barcode" --></a></td>
        <td><!-- TMPL_VAR NAME="renewals" --> <!-- TMPL_IF NAME="renewals_opac" -->( <!-- TMPL_VAR NAME="renewals_opac" --> via OPAC ) <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="can_renew" -->
        <input type="checkbox" name="all_items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" style="display: none;" />
        <!-- TMPL_IF NAME="od" -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" />
        <!-- TMPL_ELSE -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
        <!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
            <!-- TMPL_IF NAME="can_confirm" --><span class="renewals-allowed" style="display: none">
                <input type="checkbox" name="all_items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" style="display: none;" />
                <!-- TMPL_IF NAME="od" -->
                    <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" />
                <!-- TMPL_ELSE -->
                    <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
                <!-- /TMPL_IF -->
                </span>
                <span class="renewals-disabled">
            <!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="renew_error_on_reserve" -->
			Reservado
		<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="renew_error_too_many" -->
			Not Renewable
                <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="can_confirm" -->
                </span>
            <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
        </td>
		      <!-- TMPL_IF NAME="return_failed" -->
            <td class="problem">Checkin Failed</td>
      <!--TMPL_ELSE-->
<!-- TMPL_IF NAME="dispreturn" -->
            <td><input type="checkbox" name="barcodes[]"  value="<!-- TMPL_VAR NAME="barcode" -->" onclick="uncheck_sibling(this);" />
                <input type="checkbox" name="all_barcodes[]" value="<!-- TMPL_VAR NAME="barcode" -->" checked="checked" style="display: none;" />
            </td>
<!-- /TMPL_IF -->
      <!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="renew_failed" -->
		<td>Renovación fallida</td>
		<!-- /TMPL_IF -->

    </tr>
    <!-- /loop previssues --><!-- /TMPL_LOOP -->
<!--/if previssues --><!-- /TMPL_IF -->
      </tbody>
    </table>
    <!--TMPL_IF NAME="issuecount"-->
    <fieldset class="action">
        <!-- TMPL_IF NAME="CAN_user_circulate_override_renewals" -->
        <!-- TMPL_IF NAME="AllowRenewalLimitOverride" -->
        <label for="override_limit">Override Renewal Limit:</label>
        <input type="checkbox" name="override_limit" id="override_limit" value="1" />
        <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
<!-- TMPL_IF NAME="dispreturn" -->
        <input type="submit" name="renew_checked" value="Renovar o devolver items marcados">
<!--TMPL_ELSE-->
        <input type="submit" name="renew_checked" value="Renew checked items" />
<!-- /TMPL_IF -->
        <input type="submit" id="renew_all" name="renew_all" value="Renovar todo">
<!-- TMPL_IF NAME="dispreturn" -->
        <input type="submit" id="return_all" name="return_all" value="Devolver todo">
<!-- /TMPL_IF -->
        </fieldset>
    <!-- /TMPL_IF -->
</form>
<!-- TMPL_ELSE -->
<p>El socio no tiene nada prestado.</p>
<!-- /TMPL_IF -->
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="CAN_user_reserveforothers_view_holds" -->
<div id="reserves">
<!-- TMPL_IF NAME="reservloop" -->
<form action="/cgi-bin/koha/reserve/modrequest.pl" method="post">
	<input type="hidden" name="from" value="circ" />
    <table id="holdst">
        <thead><tr>
            <th>Fecha de reserva</th>
            <th>Hold Expiration Date</th>
            <th>T&iacute;tulo</th>
            <th>Tipo de ítem</th>
            <th>Signatura</th>
			<th>C&oacute;digo de barras</th>
            <th>Prioridad</th>
			<th>¿Eliminar?</th>
        </tr></thead>
		<tbody>
        <!-- TMPL_LOOP NAME="reservloop" -->
        <tr class="<!-- TMPL_VAR NAME="color" -->">
                    <td align=center><!-- TMPL_VAR NAME="reservedate" --></td>
                    <td align=center><!-- TMPL_VAR NAME="holdexpdate" --></td>
                    <td><a href="/cgi-bin/koha/reserve/request.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" escape="html" --></a><!-- TMPL_IF NAME="author" -->por <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --></td>
					<td><!-- TMPL_VAR NAME="itemtype" --></td>
                    <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
					<td><em><!-- TMPL_IF name="barcodereserv" -->Ítem <!-- TMPL_VAR NAME="barcodereserv" -->
                        <!-- /TMPL_IF --><!-- TMPL_IF name="waiting" --> <strong>esperando en <!-- TMPL_VAR NAME="waitingat" --></strong>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="transfered" --> <strong>en tránsito</strong> de <!-- TMPL_VAR NAME="frombranch" --> desde <!-- TMPL_VAR NAME="datesent" -->
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="nottransfered" --> no ha sido transferido aun desde <!-- TMPL_VAR NAME="nottransferedby" --></i>
                        <!-- /TMPL_IF --></em></td>
                    <td>
                        <!-- TMPL_IF NAME="waitingposition" --><b> <!-- TMPL_VAR NAME="waitingposition" --> </b><!-- /TMPL_IF -->
                    </td>
				<td><select name="rank-request">
                    <option value="n">No</option>
                    <option value="del">Si</option>
                </select>
                <input type="hidden" name="reservenumber" value="<!-- TMPL_VAR name="reservenumber" -->" />
                <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR name="biblionumber" -->" />
                <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />
            </td>
            </tr>
        <!-- /TMPL_LOOP --></tbody>
    </table>
	        <fieldset class="action"><input type="submit" class="cancel" name="submit" value="Cancelar solicitudes marcadas"></fieldset>
    </form>
	<!-- TMPL_ELSE -->
	<p>El socio no tiene nada en reserva.</p>
<!-- /TMPL_IF -->
</div> <!-- reservesloop -->
<!-- /TMPL_IF -->

<!-- /TMPL_IF --> <!-- borrowernumber -->
</div></div>
<!--/TMPL_IF -->



</div>
</div>
<!-- TMPL_UNLESS NAME="CGIselectborrower" --><!-- TMPL_IF NAME="borrowernumber" --><div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div><!-- /TMPL_IF --><!-- /TMPL_UNLESS -->
</div>
<!-- TMPL_IF "show_override" -->
<div id="login-overlay">
<div id="login-area">

<div id="login_error">Please log in as a user that has the necessary rights.</div>
<!-- login prompt time-->
<form action="" method="post" name="loginform" id="loginform" autocomplete="off">
    <input type="hidden" name="koha_login_context" value="intranet" />
<p><label for="userid">Nombre de usuario:</label>
<input type="text" name="userid" id="userid" class="input focus" value="<!-- TMPL_VAR NAME="userid" -->" size="20" tabindex="1" />
</p>
<p><label for="password">Contraseña:</label>
<input type="password" name="password" id="password" class="input" value="" size="20" tabindex="2" />
</p>

<p class="submit"><input type="button" name="cancel-override" id="cancel-override" class="submit" value="Cancelar"><input class="submit" id="login-submit" type="submit" value="Ingresar a la cuenta  &raquo;" tabindex="4"></p>
</form>

</div>
</div>
<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
