<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Informe de reservas &rsaquo; Todas las reservas</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/reports/reports-home.pl">Informes</a> &rsaquo;Todas las reservas</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<table>
	<tr><th>Nombre</th><th>Fecha de reserva</th><th>T&iacute;tulo</th><th>Clase</th></tr>
	<!-- TMPL_LOOP Name="dataloop" -->
		<tr>
			<td>
				<!-- TMPL_VAR Name="name" -->
			</td>
			<td>
				<!-- TMPL_VAR Name="reservedate" -->
			</td>
			<td>
				<!-- TMPL_VAR Name="title" escape="html" -->
			</td>
			<td>
				<!-- TMPL_VAR Name="classification" -->
			</td>
		</tr>
	<!-- /TMPL_LOOP -->
</table>
<p><!-- TMPL_VAR Name="count" --></p>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->