<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Mantenimiento del catálogo</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">

<!-- TMPL_IF NAME="allsub-p" -->
<table>
<caption>Resultados</caption>
<!-- TMPL_LOOP NAME="loop" -->
<tr><td><a href="/cgi-bin/koha/maint/catmaintain.pl?type=allsub&amp;sub=<!-- TMPL_VAR NAME="sub" ESCAPE="URL" -->" onclick="messenger('/cgi-bin/koha/maint/catmaintain.pl?type=modsub&amp;sub=<!-- TMPL_VAR NAME="sub2" ESCAPE="URL" -->');window1.focus()"><!-- TMPL_VAR NAME="subject" ESCAPE="HTML" --></a></td></tr>
<!-- /TMPL_LOOP -->
</table>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="modsub-p" -->
<form action="/cgi-bin/koha/maint/catmaintain.pl" method="post">
 Esto cambiar&aacute; los encabezamientos de materia en <strong>todos</strong> los registros a los que se aplica este tema.
<table>
<caption>Actualización global de encabezados de temas:</caption>
<tr><th scope="row"><label for="sub">Tema:</label></th><td><input type="text" value="<!-- TMPL_VAR NAME="sub" ESCAPE="HTML" -->" name="sub" id="sub" size="40" /><input type="hidden" name="type" value="upsub" />
<input type="hidden" name="oldsub" value="<!-- TMPL_VAR NAME="sub" ESCAPE="HTML" -->" /></td></tr>
</table>
<input type="submit" value="Modificar">
</form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="upsub-p" -->
Modificado exitosamente <!-- TMPL_VAR NAME="oldsub" ESCAPE="HTML" --> es ahora <!-- TMPL_VAR NAME="sub" ESCAPE="HTML" -->
<!-- <![ IGNORE [
<p><a href="/cgi-bin/koha/maint/catmaintain.pl" onclick="window0.focus()">Back to catalogue maintenance</a><br />
<a href=nowhere onclick="self.close()">Close this window</a>
]]> -->
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="undel-p" -->
<table>
<thead>
<tr><th>T&iacute;tulo</th><th>Autor</th><th>Recuperar</th></tr>
<!-- TMPL_LOOP NAME="loop" -->
<tr>
<td><!-- TMPL_VAR NAME="title" ESCAPE="HTML" --></td>
<td><!-- TMPL_VAR NAME="author" ESCAPE="HTML" --></td>
<td><a href="/cgi-bin/koha/maint/catmaintain.pl?<!-- TMPL_VAR NAME="undelete" escape="url" -->">Recuperar</a></td>
</tr>
<!-- /TMPL_LOOP -->
</table>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="finun-p" -->
<h3>Borrado exitosamente</h3>
<p><a href="/cgi-bin/koha/maint/catmaintain.pl">Volver a Mantenimiento de Cat&aacute;logo</a></p>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="fixitemtype-p" -->
<form method="post" action="/cgi-bin/koha/maint/catmaintain.pl">
<table>
<tr><th scope="row"><label for="itemtype">Tipo de ítem:</label></th><td><input type="hidden" name="bi" value="<!-- TMPL_VAR NAME="bi" ESCAPE="HTML">" />
<input type="hidden" name="type" value="updatetype" />
<input type="text" name="itemtype" id="itemtype" value="<!-- TMPL_VAR NAME="item" ESCAPE="HTML">" /></td></tr>
</table>
<input type="submit" value="Cambiar">
</form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="updatetype-p" -->
<h3>Actualizado exitósamente</h3>
<p><a href="/cgi-bin/koha/maint/catmaintain.pl">Volver a Mantenimiento de Cat&aacute;logo</a></p>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="mainmenu-p" -->

<h1>Mantenimiento de cat&aacute;logo</h1>
<form action="/cgi-bin/koha/maint/catmaintain.pl" method="post">
<table>
<caption>Mantenimiento de temas</caption>
<tr><th scope="row"><label for="sub">Mostrar todos los Temas comenzando con %S </label></th><td><input type="text" name="sub" id="sub"><input type="hidden" name="type" value="allsub" /></td></tr>
</table>
<input type="submit" value="Mostrar">
</form>

<form action="/cgi-bin/koha/search.pl" method="post">
<table>
<caption>Mantenimiento grupal</caption>
<tr><th scope="row"><label for="title">Mostrar todos los títulos que comienzan con:</label></th><td><input type="hidden" name="type" value="catmain"><input type="text" name="title" id="title" /></td></tr>
<tr><th scope="row"><label for="item">N&uacute;mero de ítem:</label></th><td><input type="text" size="25" id="item" name="item" /></td></tr>
</table>
<input type="submit" value="Mostrar">
</form>

<form action="/cgi-bin/koha/maint/catmaintain.pl" method="post">
<table>
<caption>Recuperar Registro</caption>
<tr><th scope="row"><label for="title">Mostrar todos los títulos que comienzan con:</label></th><td><input type="text" name="title" id="title" /><input type="hidden" name="type" value="undel" /></td></tr>
</table>
<input type="submit" value="Mostrar">
</form>

<!-- /TMPL_IF -->

</div>
</div>
</div>

<!-- TMPL_INCLUDE NAME="mainmenu.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->