<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo; Course Reserves Search
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script language="JavaScript">
$(document).ready(function()
    {
        $("#reservest").tablesorter({sortList: [[0,0]]});
    }
);

$(document).ready(function()
    {
        $("#coursest").tablesorter({sortList: [[2,0],[3,0]]});
    }
);
</script>
</head>
<body>
<!-- TMPL_IF NAME="OpacNav" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
<div class="container">
<!-- TMPL_IF NAME="view_course_reserves" -->
<div id="course">
    <ul>
        <li><b>Course Name:</b> <!-- TMPL_VAR NAME="course_name" --></li>
        <li><b>Department:</b> <!-- TMPL_VAR NAME="department" --></li>
        <li><b>Term:</b> <!-- TMPL_VAR NAME="term" --></li>
        <li><b>Instructors:</b> <!-- TMPL_LOOP NAME="instructors" --><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" -->; <!-- /TMPL_LOOP -->.</li>
        <li><b>Course Number:</b> <!-- TMPL_VAR NAME="course_number" --></li>
        <li><b>Section:</b> <!-- TMPL_VAR NAME="section" --></li>
        <li><b>Notes:</b> <!-- TMPL_VAR NAME="public_note" --></li>
    </ul>
</div>
<div id="course_reserves">
<table id="reservest">
    <thead><tr>
        <th>Title</th>
        <th>Collection Code</th>
        <th>Library</th>
        <th>Shelving Location</th>
        <th>Notes</th>
    </tr></thead>
    <tbody>
        <!-- TMPL_LOOP NAME="COURSE_RESERVES" -->
        <tr>
        <td><a href="/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME=biblionumber -->"><!-- TMPL_VAR NAME="title" --></a></td>
        <td><!-- TMPL_VAR NAME="ccode" --></td>
        <td><!-- TMPL_VAR NAME="branchname" --></td>
        <td><!-- TMPL_IF NAME="opac_location" --><!-- TMPL_VAR NAME="opac_location" --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="location" --><!-- /TMPL_IF --></td>
        <td><!-- TMPL_VAR NAME="public_note" --></td>
        </tr>
        <!-- /TMPL_LOOP -->
    </tbody>
</table>
</div>
<!-- TMPL_ELSE -->
<p class="tip">Search course reserves by name, department, course number, term, notes or instructor name:</p>
<form action="/cgi-bin/koha/opac-coursereserves.pl" method="get">
    <input type="text" name="limit" size="40" value="" />
    <input type="submit" class="submit" name="submit" value="Search" />
</form>


<div id="courses">
        <!--TMPL_IF NAME="COURSES" -->
    <h3>Courses</h3>
    <p class="tip">Click on the course name to view items on reserve</p>
    <table id="coursest">
    <thead><tr>
        <th>Course Name</th>
        <th>Department</th>
        <th>Course Number</th>
        <th>Section</th>
        <th>Term</th>
        <th>Instructors</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
            <!-- TMPL_LOOP NAME="COURSES" -->
            <!-- TMPL_UNLESS NAME="course_disabled" -->
                <tr>
                <td><a href="/cgi-bin/koha/opac-coursereserves.pl?op=view_course_reserves&amp;course_id=<!-- TMPL_VAR NAME=course_id -->"><!-- TMPL_VAR NAME="course_name" --></a></td>
                <td><!-- TMPL_VAR NAME="department_name" --></td>
                <td><!-- TMPL_VAR NAME="course_number" --></td>
                <td><!-- TMPL_VAR NAME="section" --></td>
                <td><!-- TMPL_VAR NAME="term_name" --></td>
                <td>
                <!-- TMPL_LOOP NAME="instructors" -->
                <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --><br/>
                <!-- /TMPL_LOOP -->
                </td>
                <td><!-- TMPL_VAR NAME="public_note" --></td>
                </tr>
            <!-- /TMPL_UNLESS -->
            <!-- /TMPL_LOOP -->
    </tbody>
    </table>
 <!-- TMPL_ELSE -->
    <h3>No courses found</h3>
        <!-- /TMPL_IF --> <!-- /courses -->
</div>

<!-- /TMPL_IF -->
</div>
</div>
</div>

</div><!-- TMPL_IF NAME="OpacNav" -->
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
</div>
</div><!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
