<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF -->
    Catalog &rsaquo; Advanced Search
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript"> 
//expand or collapse search limit options

function expand_itemtype(){
  $("div#advsearch-itemtype").toggle('slow');
}
function expand_pubrange(){
  $("div#pubrange").toggle('slow');
}
function expand_ccode(){
  $("div#advsearch-ccode").toggle('slow');
}
function expand_shelvingloc(){
  $("div#xadvsearch-shelvingloc").toggle('slow');
}
function expand_subtypes(){
  $("div#subtypes").toggle('slow');
}
function expand_language(){
  $("div#language").toggle('slow');
}
function expand_location(){
  $("div#location").toggle('slow');
}
function expand_sortby(){
  $("div#sortby").toggle('slow');
}

function toggle_fieldlist() {
  $(".expanded_options").toggle(KOHA.expanded_search);
  $("a.expand_options").html((KOHA.expanded_search) ? "[ Fewer Options ]" : "[ More Options ]");
  $("#booleansearch select[name='idx']").each(function(){
    $(this).replaceWith( (KOHA.expanded_search)? KOHA.expanded_searchfields.clone() : KOHA.collapsed_searchfields.clone() );
  });
  KOHA.expanded_search = !KOHA.expanded_search;
}

$("document").ready(function(){
    var get_location_limit = function(){
        if($("#available-items").is(":checked")){
            var limitval = $("#branchloop").val() ? $("#branchloop").val() : '*';
            return("on-shelf-at:" + limitval );
        } else {
            return(($("#branchloop").val())? "owned-by:" + $("#branchloop").val() : '');
        }
    }
    $("#branchloop").change(function(){
        $("#locationLimit").val( get_location_limit() );
        if($(this).val()){
            $("#multibranchlimit").val('').attr('disabled','disabled');
        } else {
            $("#multibranchlimit").removeAttr('disabled');
        }
    });
    $("#available-items").change(function(){
        $("#locationLimit").val( get_location_limit() );
        $("#multibranchlimit option").each(function(){
            if($("#available-items").is(":checked")){
                $(this).val( $(this).val().replace('owned-by','on-shelf-at'));
            } else {
                $(this).val( $(this).val().replace('on-shelf-at','owned-by'));
            }
        });
    });
    // branchloop and multibranchlimit cannot both be selected.
    $("#multibranchlimit").change(function(){
        if($(this).val()){
            $("#locationLimit").val('');
            $("#branchloop").val('').attr('disabled','disabled');
        } else {
            $("#branchloop").removeAttr('disabled');
            $("#locationLimit").val( get_location_limit() );
        }
    });

    KOHA.expanded_search = <!-- TMPL_IF expanded_options -->true<!-- TMPL_ELSE -->false<!-- /TMPL_IF -->;
    KOHA.collapsed_searchfields = $("<select name='idx'>\
            <option value=''>Keyword</option>\
            <option value='title'>Title</option>\
            <option value='subject'>Subject</option>\
            <option value='author'>Author</option>\
            <option value='publisher'>Publisher</option>\
            <option value='isbn'>ISBN</option>\
          </select>");
    KOHA.expanded_searchfields = $("<select name='idx'>\
            <option value=''>Keyword</option>\
            <option value='title'>Title</option>\
            <option value='series_title'>Series Title</option>\
            <option value='callnum'>Call Number</option>\
            <option value='subject'>Subject</option>\
            <option value='author'>Author</option>\
            <option value='publisher'>Publisher</option>\
            <option value='publoc'>Publisher Location</option>\
            <option value='biblionumber'>Standard Number</option>\
            <option value='isbn'>ISBN</option>\
            <option value='issn'>ISSN</option>\
            <option value='callnum'>Call Number</option>\
        </select>");
    toggle_fieldlist( );
    $("a.expand_options").click( toggle_fieldlist );

    $(".startover").click(function(){
        $('form')[0].reset();
    });

});

</script>
</head>
<body id="advsearch"><div id="doc3" class="yui-t7">
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

<form action="/cgi-bin/koha/opac-search.pl" method="get">
	<div class="yui-g">

    <!-- BOOLEAN SEARCH OPTIONS -->
    <div id="booleansearch" class="container"><fieldset>
        <legend>Search for:</legend>
    <!-- TMPL_LOOP NAME="search_boxes_loop" -->
        <p>
            <!-- TMPL_UNLESS __first__ -->
            <select name="op" class="expanded_options<!-- TMPL_UNLESS expanded_options --> hidden<!-- /TMPL_UNLESS -->">
                <option value="AND" selected="selected">and</option>
                <option value="OR">or</option>
                <option value="NOT">not</option>
            </select>
            <!-- /TMPL_UNLESS -->
        <select name="idx"/>
        <input type="text" size="30" name="q" title="Enter search terms" value="" />
            <!-- TMPL_IF __last__ --><a class="expanded_options<!-- TMPL_UNLESS expanded_options --> hidden<!-- /TMPL_UNLESS -->" href="JavaScript:add_field();" id="ButtonPlus" title="Add another field">[+]</a><!-- /TMPL_IF -->
        </p>
    <!-- /TMPL_LOOP -->

    </fieldset></div>
	</div>
<div class="yui-g"><div class="container" style="text-align: center;"><!-- SEARCH BUTTONS -->

    <input class="submit" type="submit" accesskey="s" name="do" title="Search" value="Search" />
    <!-- TMPL_IF NAME="ItemTypeLimit" -->
    <a href="#" onclick=expand_itemtype()>[+/- Item Types]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CCodeLimit" -->
    <a href="#" onclick=expand_ccode()>[+/- Collection Codes]</a>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="ShelvingLocationLimit" -->
    <a href="#" onclick=expand_shelvingloc()>[+/- Shelving Locations]</a>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="SubtypeLimit" -->
    <a href="#" onclick=expand_subtypes()>[+/- Subtypes]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="LanguageLimit" -->
    <a href="#" onclick=expand_language()>[+/- Language]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="DateRangeLimit" -->
    <a href="#" onclick=expand_pubrange()>[+/- Date]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="LocationLimit" -->
    <a href="#" onclick=expand_location()>[+/- Location]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="SortByLimit" -->
    <a href="#" onclick=expand_sortby()>[+/- Sort By]</a>
    <!-- /TMPL_IF -->

    <a href="#" class="expand_options">[<!-- TMPL_IF NAME="expanded_options" -->Fewer<!-- TMPL_ELSE -->More<!-- /TMPL_IF --> Options]</a>
    <a href="#" class="startover">[New Search]</a>

<!-- /SEARCH BUTTONS --></div></div>
<!-- /BOOLEAN SEARCH OPTIONS -->
	<div class="yui-g">

    <!-- TMPL_IF NAME="DisplayAdvancedSearchLimits" -->
      <!-- TMPL_IF NAME="ItemTypeLimit" -->
    <div id="advsearch-itemtype" class="container">
	<fieldset>
    <legend>Item Types:</legend>
    <table>
        <tr>
      <!--TMPL_LOOP Name="itemtypeloop"-->
        <td><input type="checkbox" id="<!-- TMPL_VAR NAME="field" -->-<!--TMPL_VAR Name="__counter__" -->" name="itypelimit" value="<!--TMPL_VAR Name="code" ESCAPE="html" -->"/><label for="<!-- TMPL_VAR NAME="field" -->-<!--TMPL_VAR Name="__counter__" -->"><!-- TMPL_IF name="imageurl"--><img border="0" src="<!--TMPL_VAR Name="imageurl" -->" alt="<!--TMPL_VAR Name="description" -->" /><!-- /TMPL_IF -->&nbsp;
        <!--TMPL_VAR Name="description" --></label></td>
        <!-- TMPL_UNLESS name="count5" --><!-- TMPL_UNLESS name="__last__" --></tr><tr><!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
      <!--/TMPL_LOOP-->
		</tr>
    </table>
	</fieldset>
    </div>
    <!-- /TMPL_IF -->
 <!-- TMPL_IF NAME="CCodeLimit" -->

    <div id="advsearch-ccode" class="container">
	<fieldset>
    <legend>Collection Codes:</legend>
    <table>
        <tr>
      <!--TMPL_LOOP Name="ccodeloop"-->
        <td><input type="checkbox" id="<!-- TMPL_VAR NAME="field" -->-<!--TMPL_VAR Name="__counter__" -->" name="ccodelimit" value="<!--TMPL_VAR Name="code" ESCAPE="html" -->"/><label for="<!-- TMPL_VAR NAME="field" -->-<!--TMPL_VAR Name="__counter__" -->"><!-- TMPL_IF name="imageurl"--><img border="0" src="<!--TMPL_VAR Name="imageurl" -->" alt="<!--TMPL_VAR Name="description" -->" /><!-- /TMPL_IF -->&nbsp;
        <!--TMPL_VAR Name="description" --></label></td>
        <!-- TMPL_UNLESS name="count5" --><!-- TMPL_UNLESS name="__last__" --></tr><tr><!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
      <!--/TMPL_LOOP-->
		</tr>
    </table>
	</fieldset>
    </div>
      <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="ShelvingLocationLimit" -->    <div id="xadvsearch-shelvingloc" class="container">
	<fieldset>
    <legend>Shelving locations:</legend>
    <table>
        <tr>
      <!--TMPL_LOOP Name="shelvinglocsloop"-->
        <td><input type="checkbox" id="<!-- TMPL_VAR NAME="field" -->-<!--TMPL_VAR Name="__counter__" -->" name="loclimit" value="<!--TMPL_VAR Name="code" ESCAPE="html" -->"/><label for="<!-- TMPL_VAR NAME="field" -->-<!--TMPL_VAR Name="__counter__" -->">
        <!--TMPL_VAR Name="description" --></label></td>
        <!-- TMPL_UNLESS name="count5" --><!-- TMPL_UNLESS name="__last__" --></tr><tr><!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
      <!--/TMPL_LOOP-->
		</tr>
    </table>
	</fieldset>
    </div>
      <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="SubtypeLimit" -->
        <!-- SUBTYPE LIMITS -->
            <div id="subtypes" class="container"><fieldset>
            <legend>Subtypes</legend>
            <select name="limit" class="subtype">
                <option value="" selected="selected" class="menuheader">Any audience</option>
                <option value="-audience:(a OR b OR c OR j)">Adult</option>
                <option value="audience:(a OR b OR c OR j)">Children</option>
		        <option value="audience:a">Preschool</option>
		        <option value="audience:b">Primary</option>
		        <option value="audience:c">Pre-teen</option>
		        <option value="audience:d">Teen</option>
            </select>
        
            <select name="limit" class="subtype">
                  <option value="" selected="selected" class="menuheader">Any Content</option>
                  <option value="content:(a1? OR ac? OR af? OR aj?)">Fiction books</option>
                  <option value="content:(a0? OR ad? OR ae? OR ah? OR ai? OR am? OR as?)">Non-fiction books</option>
                  <option value="content:ap?">Poetry</option>
                  <option value="content:aj?">Short stories</option>
                  <option value="content:(a?b OR a?c)">Biographies</option>
                  <option value="content:(a?a)">Autobiographies</option>
            </select>

            <select name="limit" class="subtype">
              <option value="" selected="selected" class="menuheader">Any Format</option>
              <TMPL_LOOP NAME="formatsloop">
                <option value="">-----------</option>
                <TMPL_LOOP NAME="labels">
                  <option value="format:&quot;<TMPL_VAR NAME="description">&quot;"><TMPL_VAR NAME="description"></option>
                </TMPL_LOOP>
              </TMPL_LOOP>
            </select>

    </fieldset></div>
    <!--/TMPL_IF -->
        
</div>


    <!--/TMPL_IF -->

     <!-- TMPL_IF NAME="LanguageLimit" -->
        <div id="language" class="container">
        <fieldset>
        <!-- LANGUAGE LIMIT -->   
              <legend>Language:</legend>                                    
		<select name="limit">
		<option value="">No Limit</option>
		<!-- TMPL_LOOP NAME="search_languages_loop" -->
		<!-- TMPL_IF NAME="selected" -->
		<option value="ln:<!-- TMPL_VAR NAME="iso639_2_code" -->" selected="selected"><!-- TMPL_VAR NAME="language_description" --></option>
		<!-- TMPL_ELSE -->
		<option value="ln:<!-- TMPL_VAR NAME="iso639_2_code" -->"><!-- TMPL_VAR NAME="language_description" --></option>
		<!-- /TMPL_IF -->		
		<!-- /TMPL_LOOP -->
		</select></p><!-- <a href="">Show all languages</a>-->
       <!-- /LANGUAGE LIMIT -->
       </fieldset>
       </div>
    <!--/TMPL_IF-->

     <!-- TMPL_IF NAME="DateRangeLimit" -->
<div id="pubrange" class="container">
<fieldset>
<!-- PUB RANGE OPTION -->
<legend>Publication Date Range:</legend>
<span>For example:  1999-2001.  You could also use "-1987" for everything published before 1987 or "2008-" for everything published after 2008.</span>
<input type="text" size="30" name="date" title="Enter search terms" value="" />
</fieldset>
<!-- /PUB RANGE OPTION -->
</div>

      <!-- /TMPL_IF -->

<div class="yui-g">
<div class="yui-u first">
 <!--TMPL_IF NAME="LocationLimit" -->
<!-- AVAILABILITY LIMITS -->
	<!-- TMPL_UNLESS NAME="singleBranchMode" -->
    <div id="location" class="container">
      <fieldset><legend>Location and availability: </legend>
        <select id="branchloop">
        <option value="">All libraries</option>
        <!-- TMPL_LOOP NAME="branchloop" -->
        <!--TMPL_IF Name="selected"-->
        <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branchname" --></option>
        <!--TMPL_ELSE-->    
        <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option>
        <!--/TMPL_IF-->    
        <!-- /TMPL_LOOP -->
        </select>

        <!--TMPL_IF NAME="searchdomainoptions" -->
        <div id="searchcategories">
          <select name="multibranchlimit">
            <option value="">All library search groups</option>
            <!-- TMPL_LOOP NAME="searchdomainoptions" -->
            <option value="owned-by:<TMPL_VAR NAME="categorycode">" <TMPL_IF NAME="selected">selected="selected"</TMPL_IF>><TMPL_VAR NAME="categoryname"></option>
            <!-- /TMPL_LOOP -->
          </select>
        </div>
        <!-- /TMPL_IF -->
        
        <div style="margin-top:.4em"><label for="available-items"><input type="checkbox" id="available-items" /> Only items currently available for loan or reference</label></div>
      </fieldset>
      <input id="locationLimit" type="hidden" name="limit" value="" />
    </div>
	<!-- /TMPL_UNLESS -->
<!-- /AVAILABILITY LIMITS -->
    <!-- /TMPL_IF -->
</div>
<div class="yui-u">
<!--TMPL_IF NAME="SortByLimit" -->
<!-- RANK LIMITS -->
    <div id="sortby" class="container"><fieldset><legend>Sort by: </legend>
        <select id="sort_by" name="sort_by">
<!--TMPL_INCLUDE NAME="resort_form.inc" -->
</select></fieldset></div>
<!-- RANK LIMITS -->
</div>
</div>
    <!-- /TMPL_IF -->


    <!-- /TMPL_IF -->

<div class="yui-g"><div class="container" style="text-align: center;"><!-- SEARCH BUTTONS -->

    <input class="submit" type="submit" accesskey="s" name="do" title="Search" value="Search" />

    <!-- TMPL_IF NAME="ItemTypeLimit" -->
    <a href="#" onclick=expand_itemtype()>[+/- Item Types]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CCodeLimit" -->
    <a href="#" onclick=expand_ccode()>[+/- Collection Codes]</a>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="ShelvingLocationLimit" -->
    <a href="#" onclick=expand_shelvingloc()>[+/- Shelving Locations]</a>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="SubtypeLimit" -->
    <a href="#" onclick=expand_subtypes()>[+/- Subtypes]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="LanguageLimit" -->
    <a href="#" onclick=expand_language()>[+/- Language]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="DateRangeLimit" -->
    <a href="#" onclick=expand_pubrange()>[+/- Date]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="LocationLimit" -->
    <a href="#" onclick=expand_location()>[+/- Location]</a>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="SortByLimit" -->
    <a href="#" onclick=expand_sortby()>[+/- Sort By]</a>
    <!-- /TMPL_IF -->
    <a href="#" class="expand_options">[<!-- TMPL_IF NAME="expanded_options" -->Fewer<!-- TMPL_ELSE -->More<!-- /TMPL_IF --> Options]</a>
    <a href="#" class="startover">[New Search]</a>

<!-- /SEARCH BUTTONS --></div></div>
</form>

<script type="text/javascript" language="javascript">
    /* This function allows to display a new field to search.
     */
	function add_field() {
		var ButtonPlus = document.getElementById('ButtonPlus');
		var line       = ButtonPlus.parentNode;
		line.parentNode.appendChild(line.cloneNode(true));
		line.removeChild(ButtonPlus);
    }
</script>

</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
