<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo; Authority Search
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script>
$(document).ready(function(){
    
});
</script>
</head>
<body>
<!-- TMPL_IF NAME="OpacNav" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
<div class="container">
<form name="f" action="/cgi-bin/koha/opac-authorities-home.pl" method="get">
        <input type="hidden" name="op" value="do_search" />
        <input type="hidden" name="type" value="opac" />
<fieldset class="rows">
<legend>Authority search</legend>
<ol>
 <li><label for="authtypecode">Search: : </label> <select name="authtypecode" id="authtypecode">
                <!-- TMPL_LOOP NAME="authtypesloop" -->
                <!-- TMPL_IF name="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="authtypetext" --></option>
                <!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="value" -->"> <!-- TMPL_VAR NAME="authtypetext" --></option>
                <!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
                </select></li>
                <li>
                <label for="operatora">Search for: </label>
                <select name="idx" id="operatora">
                    <option value="auth-heading">Main heading</option>
                    <option value="auth-full">Full record</option>
                </select>
                <input type="text" name="q" id="query_string" value="<!-- TMPL_VAR NAME="value" -->" />
            </li>
            <li><label for="orderby">Order by: </label><select name="orderby" id="orderby">
                    <option value="auth-heading-sort asc" selected="selected">Heading Ascending</option>
                    <option value="auth-heading-sort desc">Heading Descending</option>
                </select>
            </li></ol>
			</fieldset>
            <fieldset class="action">
                <input type="submit" value="Submit" class="submit" />
            </fieldset>
    </form>
</div>
</div>
</div>

</div><!-- TMPL_IF NAME="OpacNav" -->
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
</div>
</div><!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
