<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo; Clubs &amp;
<!-- TMPL_LOOP name="BORROWER_INFO" -->
    <!-- TMPL_VAR name="firstname" --><!-- TMPL_VAR name="surname" -->
<!-- /TMPL_LOOP -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

</head>
<body id="opac-user">
<div id="doc3" class="yui-t1">
<div id="bd">
<!-- TMPL_INCLUDE NAME="masthead.inc" -->

<div id="yui-main">
<div class="yui-b">

<!-- TMPL_IF NAME="previousActionEnroll" -->
  <!-- TMPL_IF NAME="enrollSuccess" -->
    <div>Enrolled Succesfully!</div>
  <!-- TMPL_ELSE -->
    <div>Failed to Enroll!</div>
    <div>Reason: <strong><!-- TMPL_VAR NAME="failureMessage" --></strong></div>
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="caseData1Title" -->
  <table>
    <tr><th colspan="10">Please Enter The Following Information</th></tr>
    <form action="opac-clubsAndServices-enroll.pl" method="post">
      <!-- TMPL_IF NAME="caseData1Title" -->
        <tr>
          <td><label for="data1"><!-- TMPL_VAR NAME="caseData1Title" -->: </label></td>
          <td><input type="text" id="data1" name="data1" /></td>
          <td><i><!-- TMPL_VAR NAME="caseData1Desc" --></i></td>
        </tr>
      <!-- /TMPL_IF -->
  
      <!-- TMPL_IF NAME="caseData2Title" -->
        <tr>
          <td><label for="data2"><!-- TMPL_VAR NAME="caseData2Title" -->: </label></td>
          <td><input type="text" id="data2" name="data2" /></td>
          <td><i><!-- TMPL_VAR NAME="caseData2Desc" --></i></td>
        </tr>
      <!-- /TMPL_IF -->
  
      <!-- TMPL_IF NAME="caseData3Title" -->
        <tr>
          <td><label for="data3"><!-- TMPL_VAR NAME="caseData3Title" -->: </label></td>
          <td><input type="text" id="data3" name="data3" /></td>
          <td><i><!-- TMPL_VAR NAME="caseData3Desc" --></i></td>
        </tr>
      <!-- /TMPL_IF -->
  
      <input type="hidden" id="casId" name="casId" value="<!-- TMPL_VAR NAME="casId" -->" />
      <input type="hidden" id="casaId" name="casaId" value="<!-- TMPL_VAR NAME="casaId" -->" />
      <input type="hidden" id="borrowernumber" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber -->" />
      <input type="hidden" name="action" value="enroll" />
      <tr><td colspan="3"><input type="submit" value="Enroll" /></td></tr>
    </form>
  </table>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
<!-- TMPL_INCLUDE name="usermenu.inc" --> 
</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
