<!-- TMPL_INCLUDE name="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo;  Account for <!-- TMPL_LOOP name="BORROWER_INFO" --><!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --><!-- /TMPL_LOOP -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body id="opac-account">
<div id="doc3" class="yui-t1">
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
		<div class="container">
<!--CONTENT-->
    <!-- TMPL_LOOP NAME="BORROWER_INFO" -->
        <h3><a href="/cgi-bin/koha/opac-user.pl"><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" -->'s account</a> <img src="<!-- TMPL_VAR NAME="themelang" -->../../images/caret.gif" width="16" height="16" alt="&gt;" border="0" /> Fines and Charges</h3>
    <!-- /TMPL_LOOP -->

    <div class="fines_summary">
      <!-- TMPL_IF NAME="total_credits" -->
        <br /><h4>Account credits:</h4>
        <div class="fines_detail">
          <table>
            <thead>
            <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <!-- TMPL_LOOP NAME="unallocated" -->
            <tr><td><!-- TMPL_VAR NAME="date" --></td>
                <td><!-- TMPL_VAR NAME="description" --></td>
                <td><!-- TMPL_VAR NAME="amount" --></td></tr>
            <!-- /TMPL_LOOP -->
            </tbody>
          </table> </div>
          <!-- /TMPL_IF -->

        <h4>Past fines and charges:</h4>
        <div class="fines_detail">

          <!-- TMPL_IF NAME="ACCOUNT_LINES" -->
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Fine Amount</th>
                        <th>Amount Outstanding</th>
                    </tr>
                </thead>

                <tfoot>
                <!-- TMPL_IF total_credits -->
                  <tr><th class="sum" colspan="3">Total credits</th>
                      <td class="credit">&nbsp;(<!-- TMPL_VAR NAME="total_credits" -->)</td>
                  </tr>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF totalaccruing -->
                  <tr><th class="sum" colspan="3">Accruing fines on checked out materials</th>
                      <td><!-- TMPL_VAR EXPR="currency(totalaccruing)" --></td>
                  </tr>
                <!-- /TMPL_IF -->
                <tr>
                    <th class="sum" colspan="3">Total due</th>
                    <td class="sum"><!-- TMPL_VAR EXPR="currency(total)" --></td>
                </tr>
                </tfoot>

                <tbody>
                    <!-- TMPL_LOOP NAME="ACCOUNT_LINES" -->
                        <tr>
                            <td><!-- TMPL_VAR EXPR="date(date)" --></td>
                            <td><!-- TMPL_VAR NAME="description" -->
                            <!-- TMPL_IF NAME="title" --><!-- TMPL_VAR NAME="title" escape="html" --><!-- /TMPL_IF --></td>
                            <!-- TMPL_IF NAME="amountcredit" --><td class="credit"><!-- TMPL_ELSE --><td class="debit"><!-- /TMPL_IF --><!-- TMPL_VAR EXPR="currency(amount)" --></td>
                            <!-- TMPL_IF NAME="amountoutstandingcredit" --><td class="credit"><!-- TMPL_ELSE --><td class="debit"><!-- /TMPL_IF --><!-- TMPL_VAR EXPR="currency(amountoutstanding)" --></td>
                        </tr>
                    <!-- /TMPL_LOOP -->
                </tbody>

            </table>

          <!-- TMPL_ELSE -->
              <h4>You have no Fines or Charges</h4>
          <!-- /TMPL_IF -->
        </div>
      </div>
      <!-- TMPL_IF NAME="totalaccruing" -->
        <div class="fines_summary">
            <h4>Current fines and charges:</h4>
            <div class="fines_detail">
            <h5>You have overdue fines on currently checked out materials totaling <span class="debit">$ <!-- TMPL_VAR EXPR="currency(totalaccruing)" --></span>.</h5>
            <p>See <a href="/cgi-bin/koha/opac-user.pl">your summary page</a> for details.</p>
            </div>
        </div>
      <!-- /TMPL_IF -->

</div>
</div>
</div>
</div>
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
<!-- TMPL_INCLUDE name="usermenu.inc" -->
</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
