<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo; Clubs &amp; Services for
<!-- TMPL_LOOP name="BORROWER_INFO" -->
    <!-- TMPL_VAR name="firstname" --><!-- TMPL_VAR name="surname" -->
<!-- /TMPL_LOOP -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

</head>
<body id="opac-user">
<div id="doc3" class="yui-t1">
<div id="bd">
<!-- TMPL_INCLUDE NAME="masthead.inc" -->

<div id="yui-main">
<div class="yui-b">

<table>
<tr><th colspan="5">My Clubs & Services</th></tr>
<tr>
  <th>Title</th>
  <th>Description</th>
  <th>Library</th>
  <th>Type</th>
  <th></th>
</tr>

<!-- TMPL_IF NAME="enrolledClubsAndServicesLoop" -->
  
    <!-- TMPL_LOOP NAME="enrolledClubsAndServicesLoop" -->
      <!-- TMPL_IF NAME="odd" --><tr class="highlight"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
        <td><!-- TMPL_VAR NAME="title" --></td>
        <td><!-- TMPL_VAR NAME="description" --></td>
        <td><!-- TMPL_VAR NAME="branchcode" --></td>
        <td><!-- TMPL_VAR NAME="type" --></td>
        <td>
            <!-- TMPL_IF NAME="publicEnrollment" -->
              <a href="opac-clubsAndServices.pl?action=cancel&caseId=<!-- TMPL_VAR NAME="caseId" -->">Cancel</a>
            <!-- /TMPL_IF -->
        </td>
      </tr>
    <!-- /TMPL_LOOP -->

<!-- TMPL_ELSE -->
  <tr><td colspan="10">You Are Not Enrolled In Any Clubs Or Services</td></tr>
<!-- /TMPL_IF -->

  <tr><td colspan="5">&nbsp</td></tr>

  <tr><th colspan="5">Enroll In Clubs & Services</th></tr>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Library</th>
    <th>Type</th>
    <th></th>
  </tr>

<!-- TMPL_IF NAME="enrollableClubsAndServicesLoop" -->
  
    <!-- TMPL_LOOP NAME="enrollableClubsAndServicesLoop" -->
      <!-- TMPL_IF NAME="odd" --><tr class="highlight"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
        <td><!-- TMPL_VAR NAME="title" --></td>
        <td><!-- TMPL_VAR NAME="description" --></td>
        <td><!-- TMPL_VAR NAME="branchcode" --></td>
        <td><!-- TMPL_VAR NAME="type" --></td>
        <td><a href="opac-clubsAndServices-enroll.pl?casId=<!-- TMPL_VAR NAME="casId" -->&casaId=<!-- TMPL_VAR NAME="casaId" -->">Enroll</a></td>
      </tr>
    <!-- /TMPL_LOOP -->

<!-- TMPL_ELSE -->
  <tr><td colspan="10">There Are No New Clubs Or Services To Enroll In</td></tr>
<!-- /TMPL_IF -->
</table>

</div>
</div>
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
<!-- TMPL_INCLUDE name="usermenu.inc" -->
</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
