<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Patrons &rsaquo; Account for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Account for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->
<form action="/cgi-bin/koha/members/boraccount.pl" method="get"><input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" /></form>

<!-- The manual invoice and credit buttons -->
<div class="toptabs">
<ul class="ui-tabs-nav">
	<li class="ui-tabs-selected"><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Account</a></li>
    <!-- TMPL_IF NAME="CAN_user_updatecharges_accept_payment" -->
	<li><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Pay Fines</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="refundtab" -->
	<li><a href="/cgi-bin/koha/members/refund.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Refund Charges</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_updatecharges_add_charges" -->
	<li><a href="/cgi-bin/koha/members/maninvoice.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Invoice</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_updatecharges_accept_payment" -->
	<li><a href="/cgi-bin/koha/members/mancredit.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Credit</a></li>
    <!-- /TMPL_IF -->
</ul>
<div class="tabs-container">
<!-- The table with the account items -->
<table><thead>
  <tr>
    <th>No.</th>
    <th>Date</th>
    <th>Description of charges</th>
    <th>Title</th>
    <th>Amount</th>
    <th>Outstanding</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <!-- TMPL_LOOP NAME="accounts" -->

   <!-- TMPL_IF NAME="toggle" --> <tr><!-- TMPL_ELSE --><tr class="highlight"><!-- /TMPL_IF -->
      <td><TMPL_VAR NAME="accountno"></td>
      <td><!-- TMPL_VAR NAME="date" --></td>
      <td><TMPL_VAR NAME="description"></td>
      <td><TMPL_IF NAME="itemnumber">
          <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="title"></a><br>
          <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcode"></a>
          <TMPL_ELSE>&nbsp;
          </TMPL_IF></td>

      <!-- TMPL_IF NAME="amountcredit" --><td class="credit" align=right><!-- TMPL_ELSE --><td class="debit" align=right><!-- /TMPL_IF --><!-- TMPL_VAR NAME="amount" --></td>
      <!-- TMPL_IF NAME="amountoutstandingcredit" --><td class="credit" align=right><!-- TMPL_ELSE --><td class="debit" align=right><!-- /TMPL_IF --><!-- TMPL_VAR NAME="amountoutstanding" --></td>
      <td>
	<!-- TMPL_IF NAME="payment" -->
            <!-- TMPL_IF NAME="CAN_user_updatecharges_edit_charges" -->
		<a href="boraccount.pl?action=reverse&borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&accountno=<!-- TMPL_VAR NAME="accountno" -->">Reverse</a>
            <!-- /TMPL_IF -->
	<!-- TMPL_ELSE -->
		&nbsp;
	<!-- /TMPL_IF -->
      </td>
    </tr>

  <!-- /TMPL_LOOP -->
  <tfoot>
  <tr>
    <td colspan="4"><b>Total Due</b></td>
    <!-- TMPL_IF EXPR="total <= 0" --><td colspan="2" class="credit" align=right style="color:green">(credit) <!-- TMPL_ELSE --><td colspan="2" class="debit" align=right style="color:red"><!-- /TMPL_IF --><b><TMPL_VAR NAME="total"></b></td>
    <td>&nbsp;</td>
  </tr>
  </tfoot>
</table>
</div></div>

</div>
</div>
<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/jquery/plugins/jquery.tablesorter.min.js"></script> 
<script type="application/javascript"> 
$(document).ready(function() { 
   $("table").tablesorter(); 
}); 
</script> 
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
