<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Patrons &rsaquo; Batch Edit</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/members.js"></script>
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
    $(document).ready(function() {
		$("fieldset.rows input").keydown(function(e){ return checkEnter(e); });
        $("#guarantordelete").click(function() {
            $("#contact-details").hide().find('a').remove();
            $("#guarantorid, #contactname, #contactfirstname").each(function () { this.value = "" });
            $("#contactname, #contactfirstname")
                .each(function () { this.type = 'text' })
                .parent().find('span').remove();
            $("#guarantorsearch").val("Set to Patron");
        });
        $("#select_city").change(function(){
            var myRegEx=new RegExp(/(.*)\|(.*)/);
            document.form.select_city.value.match(myRegEx);
            document.form.zipcode.value=RegExp.$1;
            document.form.city.value=RegExp.$2;
        });
    });

    function clear_entry(node) {
        var original = node.parentNode.parentNode;
        $("input", original).attr('value', '');
        $("select", original).attr('value', '');
    }

    function clone_entry(node) {
        var original = node.parentNode.parentNode;
        var clone = original.cloneNode(true);
        var newId = 50 + parseInt(Math.random() * 100000);
        $("input", clone).attr('id', function() {
            return this.id.replace(/patron_attr_\d+/, 'patron_attr_' + newId);
        });
        $("input", clone).attr('name', function() {
            return this.name.replace(/patron_attr_\d+/, 'patron_attr_' + newId);
        });
        $("select", clone).attr('id', function() {
            return this.id.replace(/patron_attr_\d+/, 'patron_attr_' + newId);
        });
        $("select", clone).attr('name', function() {
            return this.name.replace(/patron_attr_\d+/, 'patron_attr_' + newId);
        });
        original.parentNode.insertBefore(clone, original.nextSibling);
    }

//]]>
</script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/js/borrower-basket.js"></script>

</head>
<body <!-- TMPL_IF NAME="delete_complete" -->onLoad="delCookie('borrower_list');"<!-- /TMPL_IF --> >
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; 
 
<a href="/cgi-bin/koha/members/moremember.pl?borrowernumber="> </a> &rsaquo; <strong>Batch Edit
</strong></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">

	<div class="yui-b">


	
	<h1>
		Batch Edit Patrons
  
	</h1>
	
  
	

<!-- TMPL_IF NAME="delete_complete" -->
  <!-- TMPL_LOOP NAME="membersloop" -->
    <p>
      <!-- TMPL_IF NAME="DELETE_FAILED" -->
	Delete Failed: 
		<!-- TMPL_IF NAME="OPEN_ISSUES" -->
			Borrower currently has item issued to his or her account.
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="OPEN_FINES" -->
			Borrower currently has fines due on his or her account.
		<!-- /TMPL_IF -->
      <!-- TMPL_ELSE -->
        Successfully Deleted
      <!-- /TMPL_IF --> 
    <!-- TMPL_VAR NAME="surname" -->, <!--TMPL_VAR NAME="firstname" --> ( <!-- TMPL_VAR NAME="cardnumber" --> )
    </p>
  <!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->  
	
<!-- TMPL_IF NAME="edit_complete" -->
  <!-- TMPL_LOOP NAME="membersloop" -->
    <p>
    <!-- TMPL_IF NAME="updated" -->
      Successfully Updated 
    <!-- TMPL_ELSE -->
      Failed to Update
    <!-- /TMPL_IF -->
	
    <!-- TMPL_VAR NAME="surname" -->, <!--TMPL_VAR NAME="firstname" --> ( <!-- TMPL_VAR NAME="cardnumber" --> )
    </p>
  <!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->  
<form name="form" id="entryform"  action="/cgi-bin/koha/members/bulkedit.pl" method="post"> 

<!--
<fieldset class="rows" id="memberentry_identity">
<legend>Patron identity</legend>
	<ol>
		<li>
			<label for="btitle">Salutation: </label>
			<select name="title"  id="btitle">
				<option value=""></option>
				<option value="Mr">Mr</option>
				<option value="Mrs">Mrs</option>
				<option value="Miss">Miss</option>
				<option value="Ms">Ms</option>
			</select>
		</li>
        
		<li>
			<label for="surname">Surname: </label>
			<input type="text" id="surname" name="surname" size="20"  value="" />
		</li>
		
		<li>
                	<label for="firstname">First name: </label>
			<input type="text" id="firstname" name="firstname" size="20"  value="" />
		</li>

		<li>
                	<label for="dateofbirth">Date of birth: </label>
			<input type="text" id="dateofbirth" name="dateofbirth" size="20" value="" />

			<img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateofbirth_button" alt="Show Calendar" />
        		<script language="JavaScript" type="text/javascript">
            			Calendar.setup(
            				{
				                inputField : "dateofbirth",
				                ifFormat : "%m/%d/%Y",
				                button : "dateofbirth_button"
				            }
				);
			</script>
		</li>

		<li>
                	<label for="initials">Initials: </label>
			<input type="text" id="initials" name="initials" size="20"  value="" />	
		</li>
        
		<li>
			<label for="othernames">Other name: </label>
			<input type="text" id="othernames" name="othernames" size="20"  value="" />
		</li>
    
		<li class="radio">
				<label for="sex-female">Female </label><input type="radio" name="sex" id="sex-female" value="F" />
				<label for="sex-male">Male </label><input type="radio" name="sex" id="sex-male" value="M" />
				<label for="sex-none">N/A </label><input type="radio" name="sex" id="sex-none" value="" />
		</li>

    
	</ol>
</fieldset>
-->	

<fieldset class="rows">
    <legend>Main address</legend><ol>
    <li>
      
      <label for="streetnumber">
      
      Street number: </label>
      <input type="text" id="streetnumber" name="streetnumber" size="5" value="" />

    </li>
     
    <li>
      
      <label for="address">
      
      Address: </label>
      <input type="text" id="address" name="address" size="35" value="" />
	  
    </li>
    <li>
      
      <label for="address2">

      
      Address 2: </label>
      <input type="text" id="address2" name="address2" size="35" value="" />
	  
    </li>  
    <li>
      
        <label for="city">
      
      City, State: </label>
        
        <input type="text" id="city" name="city" size="20" value="" />
        
	  
    </li>

    <li> 
        <label for="zipcode">
      Zipcode: </label>
      <input type="text" name="zipcode" id="zipcode" size="10" value="" />
    </li>
  
	</ol>
    </fieldset>
  <fieldset class="rows" id="memberentry_contact">
    <legend>Contact</legend><ol>       

      <li>

      
      <label for="phone">
      
      Phone (home): </label>
      <input type="text" id="phone" name="phone" value="" />
	  
    </li>
    <li>
      
      <label for="phonepro">
      
      Phone (work): </label>
      <input type="text" id="phonepro" name="phonepro" value="" />

	  
    </li>
    <li>
      
      <label for="mobile">
      
      Phone (cell): </label>
      <input type="text" id="mobile" name="mobile" value="" />
	  
    </li>
    <li>
      
      <label for="email">

      
      Email (home): </label>
      <input type="text" id="email" name="email" size="45" value="" />  
	  
    </li>
    <li>
      
      <label for="emailpro">
      
      Email (work): </label>
      <input type="text" id="emailpro" name="emailpro" size="45" value="" />
	  
    </li>

    <li>
      
      <label for="fax">
      
      Fax: </label>
      <input type="text" id="fax" name="fax" value="" />
	  
    </li>
	</ol>
  </fieldset>


<!-- ************************ STEP_1 *********************** -->



		<fieldset class="rows" id="memberentry_address">
		<legend>Alternate address</legend><ol>
			<li>
				
					<label for="B_address">
				
				Address: </label>
				<input type="text" id="B_address" name="B_address" size="40" value="" />

	  
			</li>
			<li>
				
					<label for="B_city">
				
				City: </label>
				<input type="text" id="B_city" name="B_city" size="20" value="" />
	  
			</li>
			<li>
				
					<label for="B_zipcode">

				
				Zipcode: </label>
				<input type="text" id="B_zipcode" name="B_zipcode" maxlength="5" size="5" value="" />
	  
			</li>
            <li>
                
                <label for="B_phone">
                
                Phone: </label>  
                <input type="text" id="B_phone" name="B_phone" value="" />
                
            </li>

			<li> 
        
          <label for="B_email">
        
        Email: </label>
        <input type="text" id="B_email" name="B_email" size="45" value="" />
		 </li>
            <li>
                
                <label for="contactnote">
                
                Contact note: </label>

                <textarea id="contactnote" name="contactnote" cols="40" rows="2"></textarea>
        
            </li>
			</ol>
		</fieldset>
		<fieldset class="rows" id="memberentry_altaddress">       
		    <legend>Alternate Contact</legend><ol>
			<li>
			    
				<label for="altcontactfirstname">

				
				First name:</label>
				<input type="text" name="altcontactfirstname" id="altcontactfirstname" value="" />
				
			</li>
			<li>
			    
				<label for="altcontactsurname">
				
				Surname:</label>
				<input type="text" name="altcontactsurname" id="altcontactsurname" value="" />
				
			</li>

			<li>
			    
				<label for="altcontactaddress1">
				
				Address line 1:</label>
				<input type="text" name="altcontactaddress1" id="altcontactaddress1" value="" size="40" />
				
			</li>
			<li>
			    
				<label for="altcontactaddress2">
				
				Address line 2:</label>

				<input type="text" name="altcontactaddress2" id="altcontactaddress2" value="" size="40" />
				
			</li>
			<li>
			    
				<label for="altcontactaddress3">
				
				City, State:</label>
				<input type="text" name="altcontactaddress3" id="altcontactaddress3" value="" size="40" />
				
			</li>
			<li>

			    
				<label for="altcontactzipcode">
				
				ZIP/Post code:</label>
				<input type="text" name="altcontactzipcode" id="altcontactzipcode" value="" size="5" />
				
			</li>
			<li>
			    
				<label for="altcontactphone">
				
				Phone:</label>
				<input type="text" name="altcontactphone" id="altcontactphone" value="" />

				
			</li>
            </ol>
        </fieldset>


  
              



  <fieldset class="rows" id="memberentry_library_management">
    <li>
	    <legend>Library Management</legend><ol>      
	        <label for="branchcode">Library: </label>
	    <!-- TMPL_VAR NAME="CGIbranch" -->
    </li>
    <li>
    <!-- TMPL_IF NAME="typeloop" -->
        <label for="categorycode">Category: </label>
        <select id="categorycode" name="categorycode">
        <!-- TMPL_LOOP NAME="typeloop" -->
		<option value="" selected="selected"></option>

                <!-- TMPL_IF EXPR="typename eq 'C'" --><optgroup label="Child"><!-- /TMPL_IF -->
                <!-- TMPL_IF EXPR="typename eq 'A'" --><optgroup label="Adult"><!-- /TMPL_IF -->
                <!-- TMPL_IF EXPR="typename eq 'S'" --><optgroup label="Staff"><!-- /TMPL_IF -->
                <!-- TMPL_IF EXPR="typename eq 'I'" --><optgroup label="Organization"><!-- /TMPL_IF -->
                <!-- TMPL_IF EXPR="typename eq 'P'" --><optgroup label="Professional"><!-- /TMPL_IF -->
                <!-- TMPL_IF EXPR="typename eq 'X'" --><optgroup label="Statistical"><!-- /TMPL_IF --> 
                <!-- TMPL_LOOP NAME="categoryloop" -->
			<option value="<!-- TMPL_VAR NAME="categorycode" -->"><!-- TMPL_VAR NAME="categoryname" --></option>
                <!-- /TMPL_LOOP -->
        </optgroup>
        <!-- /TMPL_LOOP -->
                </select>  
    <!-- TMPL_ELSE -->     
        <span class="problem">There is no category type to add <!--TMPL_IF Name="A"-->an Adult<!--/TMPL_IF--><!--TMPL_IF Name="C"-->a Child<!--/TMPL_IF--><!
              <a href="/cgi-bin/koha/admin/categorie.pl">Please create one</a>
    <!-- /TMPL_IF -->

    </li>
    <li>
      
        <label for="sort1">
      
      Sort 1: </label>

      
        <input  type="text" id="sort1" name="sort1" size="20"  value="" />
	  
         
    </li>
    <li>
    
    <label for="sort2">
    
    Sort 2: </label>
    
      <input  type="text" id="sort2" name="sort2" size="20"  value="" />
	  
     
    </li>
	</ol>

  </fieldset>
	<fieldset class="rows" id="memberentry_subscription">
	<legend>Library set-up</legend><ol>
		<li>
			
			<label for="dateenrolled">
			
			Registration date: </label>
			<input type="text" id="dateenrolled" name="dateenrolled"  maxlength="10" size="10"  />
            <img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateenrolled_button" alt="Show Calendar" />

      <script language="JavaScript" type="text/javascript">
        Calendar.setup(
          {
            inputField : "dateenrolled",
            ifFormat : "%m/%d/%Y",
            button : "dateenrolled_button"
          }
        );
      </script>
		
		
		</li>
		<li>
			
			<label for="dateexpiry">
			
			Expiry date (leave blank for auto calc) </label>
			<input type="text" id="dateexpiry" name="dateexpiry" maxlength="10"  size="10"  value="" />
            <img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateexpiry_button" alt="Show Calendar" />
      <script language="JavaScript" type="text/javascript">
        Calendar.setup(
          {
            inputField : "dateexpiry",
            ifFormat : "%m/%d/%Y",
            button : "dateexpiry_button"
          }
        );
      </script>

		
		
		</li>
		<li>
			
				<label for="opacnote">
				
			OPAC note: </label>
			<textarea id="opacnote" name="opacnote" cols="55" rows="5"></textarea>
			<div class="hint">This message appears on this patron's user page in the OPAC</div>
	  
		</li>

		<li>
			
				<label for="borrowernotes">
			
			Circulation note: </label>
			<textarea id="borrowernotes" name="borrowernotes" cols="55" rows="5"></textarea>
			<div class="hint">This message displays when checking out to this patron</div>
	  
		</li>
		</ol>

	</fieldset>
		
		<fieldset class="rows">
			<legend>Patron Account Flags</legend>
			<ol class="radio">
			
				<li><label class="radio" for="yesgonenoaddress">
				Gone no Address:
				
				
                </label>
				
				<label for="yesgonenoaddress">Yes </label>

				
				<input type="radio" id="yesgonenoaddress" name="gonenoaddress" value="1" />
				
				
				<label for="nogonenoaddress">No </label>
				
				<input type="radio" id="nogonenoaddress" name="gonenoaddress" value="0" />
				
				<label for="nogonenoaddress">Don't Update </label>
				
				<input type="radio" id="noupdategonenoaddress" name="gonenoaddress" value="-1" checked="checked"/>

</li>
			
				<li><label class="radio" for="yesdebarred">
				
				Debarred:
				
                </label>
				
				<label for="yesdebarred">Yes </label>

				
				<input type="radio" id="yesdebarred" name="debarred" value="1" />
				
				
				<label for="nodebarred">No </label>
				
				<input type="radio" id="nodebarred" name="debarred" value="0" />
				
				<label for="nodebarred">Don't Update </label>
				
				<input type="radio" id="noupdatedebarred" name="debarred" value="-1" checked="checked"/>

</li>
			
				<li><label class="radio" for="yeslost">
				
				
				Lost Card:
                </label>
				
				<label for="yeslost">Yes </label>

				
				<input type="radio" id="yeslost" name="lost" value="1" />
				
				
				<label for="nolost">No </label>
				
				<input type="radio" id="nolost" name="lost" value="0" />
				
				<label for="nolost">Don't Update </label>
				
				<input type="radio" id="noupdatelost" name="lost" value="-1" checked="checked"/>

</li>
			
			</ol>
			</fieldset>
			





    <fieldset class="action">
        <input type="submit" name="save" onclick="return check_form_borrowers();" value="Save" />

      
	  <a class="cancel" href="/cgi-bin/koha/members/moremember.pl?borrowernumber=">Cancel</a>
	   
    </fieldset>

    <input type="hidden" name="update" id="update" value="1" />
</form>

<!-- /TMPL_IF -->  
</div>
</div>

<div class="yui-b">

</div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
