<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Patrons &rsaquo; Account for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a> &rsaquo; Clubs &amp; Services for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></div>

<div id="doc3" class="yui-t2">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b">

<!-- TMPL_IF NAME="previousActionEnroll" -->
  <!-- TMPL_IF NAME="enrollSuccess" -->
    <div>Enrolled Succesfully!</div>
    <div><a href="/cgi-bin/koha/members/clubs_services.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Back To Clubs & Services</a></div>
  <!-- TMPL_ELSE -->
    <div>Failed to Enroll!</div>
    <div>Reason: <strong><!-- TMPL_VAR NAME="failureMessage" --></strong></div>
    <div><a href="/cgi-bin/koha/members/clubs_services.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Back To Clubs & Services</a></div>
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="caseData1Title" -->
  <div>
    <h4>Please Enter The Following Information</h4>
    <form action="clubs_services_enroll.pl" method="post">
    <table>
      <!-- TMPL_IF NAME="caseData1Title" -->
        <tr>
          <td><label for="data1"><!-- TMPL_VAR NAME="caseData1Title" -->: </label></td>
          <td><input type="text" id="data1" name="data1" /></td>
          <td><i><!-- TMPL_VAR NAME="caseData1Desc" --></i></td>
        </tr>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME="caseData2Title" -->
        <tr>
          <td><label for="data2"><!-- TMPL_VAR NAME="caseData2Title" -->: </label></td>
          <td><input type="text" id="data2" name="data2" /></td>
          <td><i><!-- TMPL_VAR NAME="caseData2Desc" --></i></td>
        </tr>
      <!-- /TMPL_IF -->

      <!-- TMPL_IF NAME="caseData3Title" -->
        <tr>
          <td><label for="data3"><!-- TMPL_VAR NAME="caseData3Title" -->: </label></td>
          <td><input type="text" id="data3" name="data3" /></td>
          <td><i><!-- TMPL_VAR NAME="caseData3Desc" --></i></td>
        </tr>
      <!-- /TMPL_IF -->

      <input type="hidden" id="casId" name="casId" value="<!-- TMPL_VAR NAME="casId" -->" />
      <input type="hidden" id="casaId" name="casaId" value="<!-- TMPL_VAR NAME="casaId" -->" />
      <input type="hidden" id="borrowernumber" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
      <input type="hidden" name="action" value="enroll" />
      <tr><td colspan="3"><input type="submit" value="Enroll" /></td></tr>
    </table>
    </form>
  </div>
<!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div> 
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
