<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Patrons &rsaquo; Lost Items</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/members.js"></script>
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<TMPL_INCLUDE NAME="patron-search.inc">
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a> &rsaquo; Lost Items</div>

<div id="doc3" class="yui-t2">

   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
    <!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->
<div id="lost_items">
        <!--TMPL_IF NAME="LOST_ITEMS" -->
    <h3><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --> has the following lost items</h3>
    <table>
    <thead><tr>
        <th>Title</th>
        <th>Callnumber</th>
        <th>Home Library</th>
        <th>Item Type</th>
        <th>Barcode</th>
        <th>Date Lost</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
            <!-- TMPL_LOOP NAME="LOST_ITEMS" -->
                <tr>
                <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME=biblionumber -->"><!-- TMPL_VAR NAME="title" --></a></td>
                <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
                <td><!-- TMPL_VAR NAME="homebranch" --></td>
                <td><!-- TMPL_VAR NAME="itemtype" --></td>
                <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME=biblionumber -->&itemnumber=<!-- TMPL_VAR NAME=itemnumber -->#item<!-- TMPL_VAR NAME=itemnumber -->"><!-- TMPL_VAR NAME="barcode" --></a></td>
                <td><TMPL_VAR NAME="date_lost"></td>
                <td><p><!-- TMPL_IF itemlost --><!-- TMPL_VAR EXPR="ucfirst(itemlost)" -->
                        <!-- TMPL_ELSE -->NOT LOST
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF charged -->
                            , <span class="debit">Charged <!-- TMPL_VAR EXPR="date(charged)" --></span>
                        <!-- /TMPL_IF -->
                    </p>
                    <!-- TMPL_IF paid --><p class="credit">Paid <!-- TMPL_VAR EXPR="date(paid)" --></p>
                        <!-- TMPL_ELSIF waived --><p class="credit">Waived</p>
                    <!-- /TMPL_IF -->
                    <!-- TMPL_IF deleted --><p class="deleted">Item deleted</p><!-- /TMPL_IF -->
                    <!-- TMPL_IF NAME="claims_returned" --><i>Claims Returned</i>
                        (<a href="lost_items.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&op=undo_claims_returned&lost_item_id=<!-- TMPL_VAR NAME="id" -->">Undo</a>)
                    <!-- TMPL_ELSE -->
                        <form method=post action="lost_items.pl">
                        <input type=hidden name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->">
                        <input type=hidden name="op" value="claims_returned">
                        <input type=hidden name="lost_item_id" value="<!-- TMPL_VAR NAME="id" -->">
                        <input type=submit value="Make Claims Returned" style="font-size:80%">
                        </form>
                    <!-- /TMPL_IF -->

                </td>
                <td><a href="lost_items.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&op=delete&lost_item_id=<!-- TMPL_VAR NAME="id" -->">Delete</a></td>
                </tr>
            <!-- /TMPL_LOOP -->
    </tr>
    </tbody>
    </table>
        <!-- TMPL_ELSE -->
    <h3><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --> does not have lost items</h3>
    <!-- /TMPL_IF -->
</div>
    </div>
    </div>

    <div class="yui-b">

    <!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
    </div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
