<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Patrons <!-- TMPL_IF NAME="searching" -->&rsaquo; Search Results<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/js/borrower-basket.js"></script>

<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/calendar/calendar.js"></script>
<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/calendar/calendar-en.js"></script>
<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/calendar/calendar-setup.js"></script>

<script type="text/javascript" language="javascript">
    var MSG_BASKET_EMPTY = _("Your cart is currently empty");                                   
    var MSG_RECORD_IN_BASKET = _("This item is already in your cart");
    var MSG_RECORD_ADDED = _("This item has been added to your cart");
    var MSG_NRECORDS_ADDED = _(" item(s) added to your cart");
    var MSG_NRECORDS_IN_BASKET = _("already in your cart");   
    var MSG_NO_RECORD_SELECTED = _("No item was selected");   
    var MSG_NO_RECORD_ADDED = _("No item was added to your cart");
    var MSG_CONFIRM_DEL_BASKET = _("Are you sure you want to empty your cart?");
    var MSG_CONFIRM_DEL_RECORDS = _("Are you sure you want to remove the selected items?");                 
</script>

<script language="JavaScript" type="text/javascript">
//==========================================
// Check All boxes
//==========================================
function CheckAll(fmobj) {
  for (var i=0;i<fmobj.elements.length;i++) {
    var e = fmobj.elements[i];
    if ( (e.name != 'allbox') && (e.type=='checkbox') && (!e.disabled) ) {
      e.checked = fmobj.allbox.checked;
    }
  }
}

//==========================================
// Check all or uncheck all?
//==========================================
function CheckCheckAll(fmobj) {
  var TotalBoxes = 0;
  var TotalOn = 0;
  for (var i=0;i<fmobj.elements.length;i++) {
    var e = fmobj.elements[i];
    if ((e.name != 'allbox') && (e.type=='checkbox')) {
      TotalBoxes++;
      if (e.checked) {
       TotalOn++;
      }
    }
  }
  if (TotalBoxes==TotalOn) {
    fmobj.allbox.checked=true;
  }
  else {
   fmobj.allbox.checked=false;
  }
}
</script>

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <!-- TMPL_IF NAME="searching" --><a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Search Results<!-- TMPL_ELSE -->Patrons<!-- /TMPL_IF -->
</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">
	
<span id="cmspan">
    <a href="#" id="cartmenulink" class="">
    <i></i>
    <span>
      <i></i><span></span>
<!--      <img src="/opac-tmpl/prog/images/cart.gif" width="14" height="14" alt="" border="0" />
-->
      Borrower Cart
    <span id="basketcount"></span>
    </span>
  </a>
</span>

<!-- TMPL_INCLUDE NAME="patron-toolbar.inc" -->

<div class="browse">
    Browse by last name:
    <a href="/cgi-bin/koha/members/member.pl?member=a">A</a>
    <a href="/cgi-bin/koha/members/member.pl?member=b">B</a>
    <a href="/cgi-bin/koha/members/member.pl?member=c">C</a>
    <a href="/cgi-bin/koha/members/member.pl?member=d">D</a>
    <a href="/cgi-bin/koha/members/member.pl?member=e">E</a>
    <a href="/cgi-bin/koha/members/member.pl?member=f">F</a>
    <a href="/cgi-bin/koha/members/member.pl?member=g">G</a>
    <a href="/cgi-bin/koha/members/member.pl?member=h">H</a>
    <a href="/cgi-bin/koha/members/member.pl?member=i">I</a>
    <a href="/cgi-bin/koha/members/member.pl?member=j">J</a>
    <a href="/cgi-bin/koha/members/member.pl?member=k">K</a>
    <a href="/cgi-bin/koha/members/member.pl?member=l">L</a>
    <a href="/cgi-bin/koha/members/member.pl?member=m">M</a>
    <a href="/cgi-bin/koha/members/member.pl?member=n">N</a>
    <a href="/cgi-bin/koha/members/member.pl?member=o">O</a>
    <a href="/cgi-bin/koha/members/member.pl?member=p">P</a>
    <a href="/cgi-bin/koha/members/member.pl?member=q">Q</a>
    <a href="/cgi-bin/koha/members/member.pl?member=r">R</a>
    <a href="/cgi-bin/koha/members/member.pl?member=s">S</a>
    <a href="/cgi-bin/koha/members/member.pl?member=t">T</a>
    <a href="/cgi-bin/koha/members/member.pl?member=u">U</a>
    <a href="/cgi-bin/koha/members/member.pl?member=v">V</a>
    <a href="/cgi-bin/koha/members/member.pl?member=w">W</a>
    <a href="/cgi-bin/koha/members/member.pl?member=x">X</a>
    <a href="/cgi-bin/koha/members/member.pl?member=y">Y</a>
    <a href="/cgi-bin/koha/members/member.pl?member=z">Z</a>
</div>

<div id="advanced_search" name="advanced_search">
   <script>
   function goAdv(v) {
      document.advanced_search_form.currPage.value=v;
      document.advanced_search_form.submit();
      return;
   }
   </script>
	<form action="member.pl" id="advanced_search_form" name="advanced_search_form" method="post">
   <input type=hidden name="currPage" value="<!-- TMPL_VAR NAME="currPage" -->">
   <input type=hidden name="orderby"  value="">
   <input type=hidden name="offset"   value="<!-- TMPL_VAR NAME="offset" -->">
		<fieldset>
			<legend id="advanced_search_legend">Advanced Patron Search</legend>

			<a href="#" id="show_advanced_search_link" onclick="$('#advanced_search_elements').show('slow'); $('#show_advanced_search_link').hide();">
				Show Advanced Search Options
			</a>

		    <div id="advanced_search_elements" style="display:none;">
			<a href="#" onclick="$('#advanced_search_elements').hide(); $('#show_advanced_search_link').show();" >Hide Advanced Search Options</a>

			<fieldset>
				<legend>Patron Identity</legend>

				<label for="borrowernumber">Borrower number:</label>
				<input name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
				<p>
				<label for="cardnumber">Borrower Cardnumber:</label>
				<input name="cardnumber" id="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" />
				<p>				
				<label for="surname">Surname:</label>
				<input name="surname" id="surname" value="<!-- TMPL_VAR NAME="surname" -->"/>
				<p>
				<label for="firstname">Firstname:</label>
				<input name="firstname" id="firstname" value="<!-- TMPL_VAR NAME="firstname" -->" />
				<p>
				<label for="branchcode">Patron Branch:</label>
				<select name="branchcode" id="branchcode">
					<option value="">All Branches</option>
					<!-- TMPL_LOOP NAME="BranchesLoop" -->
						<option value="<!-- TMPL_VAR NAME="value" -->" 
                  <!-- TMPL_IF NAME="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR NAME="branchname" --></option>
					<!-- /TMPL_LOOP -->
				</select>
				<p>
				<label for="categorycode">Category:</label>
				<select name="categorycode" id="categorycode">
					<option value="">All Categories</option>
					<!-- TMPL_LOOP NAME="CategoriesLoop" -->
						<option value="<!-- TMPL_VAR NAME="categorycode" -->" <!-- TMPL_IF NAME="selected" -->selected<!-- /TMPL_IF --> >
							<!-- TMPL_VAR NAME="description" -->
						</option>
					<!-- /TMPL_LOOP -->
				</select>
				<p>				
				<label for="userid">OPAC Login:</label>
				<input name="userid" id="userid" value="<!-- TMPL_VAR NAME="userid" -->" />
				<input type="checkbox" name="userid_empty" <!-- TMPL_IF NAME="userid_empty" -->checked<!-- /TMPL_IF --> /><i>No Value</i>
				<p>			
				<label for="sort1">Sort Field 1:</label>
				<input name="sort1" id="sort1" value="<!-- TMPL_VAR NAME="sort1" -->" />
				<input type="checkbox" name="sort1_empty" <!-- TMPL_IF NAME="sort1_empty" -->checked<!-- /TMPL_IF --> /><i>No Value</i>
				<p>				
				<label for="sort2">Sort Field 2:</label>
				<input name="sort2" id="sort2" value="<!-- TMPL_VAR NAME="sort2" -->" />
				<input type="checkbox" name="sort2_empty" <!-- TMPL_IF NAME="sort2_empty" -->checked<!-- /TMPL_IF --> /><i>No Value</i>
			</fieldset>

			<fieldset>
				<legend>Registration</legend>

				<label for="dateenrolled_after">After Date:<label>
				<input name="dateenrolled_after" id="dateenrolled_after" size="10" value="<!-- TMPL_VAR NAME="dateenrolled_after" -->" />
		
				<img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateenrolled_after_button" alt="Show Calendar" />
				<script language="JavaScript" type="text/javascript">
					Calendar.setup({inputField:"dateenrolled_after",ifFormat:"%m/%d/%Y",button:"dateenrolled_after_button"});
				</script>
				<p>				
				<label for="dateenrolled_before">Before Date:<label>
				<input name="dateenrolled_before" id="dateenrolled_before" size="10" value="<!-- TMPL_VAR NAME="dateenrolled_before" -->" />

				<img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateenrolled_before_button" alt="Show Calendar" />
				<script language="JavaScript" type="text/javascript">
					Calendar.setup({inputField:"dateenrolled_before",ifFormat:"%m/%d/%Y",button:"dateenrolled_before_button"});
				</script>
				<p>
			</fieldset>

			<fieldset>
				<legend>Expiry</legend>

				<label for="dateexpiry_after">After Date:<label>
				<input name="dateexpiry_after" id="dateexpiry_after" size="10" value="<!-- TMPL_VAR NAME="dateexpiry_after" -->" />

				<img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateexpiry_after_button" alt="Show Calendar" />
				<script language="JavaScript" type="text/javascript">
					Calendar.setup({inputField:"dateexpiry_after",ifFormat:"%m/%d/%Y",button:"dateexpiry_after_button"});
				</script>
				<p>				
				<label for="dateexpiry_before">Before Date:<label>
				<input name="dateexpiry_before" id="dateexpiry_before" size="10" value="<!-- TMPL_VAR NAME="dateexpiry_before" -->" />

				<img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateexpiry_before_button" alt="Show Calendar" />
				<script language="JavaScript" type="text/javascript">
					Calendar.setup({inputField:"dateexpiry_before",ifFormat:"%m/%d/%Y",button:"dateexpiry_before_button"});
				</script>
				<p>				
			</fieldset>

			<fieldset>
				<legend>Date of Birth</legend>

				<label for="dateofbirth_after">After Date:<label>
				<input name="dateofbirth_after" id="dateofbirth_after" size="10" value="<!-- TMPL_VAR NAME="dateofbirth_after" -->" />

				<img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateofbirth_after_button" alt="Show Calendar" />
				<script language="JavaScript" type="text/javascript">
					Calendar.setup({inputField:"dateofbirth_after",ifFormat:"%m/%d/%Y",button:"dateofbirth_after_button"});
				</script>

				<p>							

				<label for="dateofbirth_before">Before Date:<label>
				<input name="dateofbirth_before" id="dateofbirth_before" size="10" value="<!-- TMPL_VAR NAME="dateofbirth_before" -->" />

				<img src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" id="dateofbirth_before_button" alt="Show Calendar" />
				<script language="JavaScript" type="text/javascript">
					Calendar.setup({inputField:"dateofbirth_before",ifFormat:"%m/%d/%Y",button:"dateofbirth_before_button"});
				</script>
			</fieldset>
	
			<fieldset>
				<legend>Main Address</legend>

				<label for="address">Address:</label>
				<input name="address" id="address" value="<!-- TMPL_VAR NAME="address" -->" />
			<p>
				<label for="city">City, State:</label>
				<input name="city" id="city" value="<!-- TMPL_VAR NAME="city" -->" />
			<p>
				<label for="zipcode">Zip Code:</label>
				<input name="zipcode" id="zipcode" value="<!-- TMPL_VAR NAME="zipcode" -->" />
			</fieldset>

			<fieldset>
				<legend>Alternate Address</legend>

				<label for="address">Address:</label>
				<input name="B_address" id="B_address" value="<!-- TMPL_VAR NAME="B_address" -->" />
			<p>
				<label for="B_city">City, State:</label>
				<input name="B_city" id="B_city" value="<!-- TMPL_VAR NAME="B_city" -->" />
			<p>
				<label for="B_zipcode">Zip Code:</label>
				<input name="B_zipcode" id="B_zipcode" value="<!-- TMPL_VAR NAME="B_zipcode" -->" />
			</fieldset>

			<fieldset>
				<legend>Contact</legend>
			
				<label for="email">Email (primary):</label>
				<input name="email" id="email" value="<!-- TMPL_VAR NAME="email" -->" />
				<input type="checkbox" name="email_empty" <!-- TMPL_IF NAME="email_empty" -->checked<!-- /TMPL_IF --> /><i>No Value</i>
				<p>
				<label for="email">Email (secondary):</label>
				<input name="emailpro" id="emailpro" value="<!-- TMPL_VAR NAME="emailpro" -->" />
				<input type="checkbox" name="emailpro_empty" <!-- TMPL_IF NAME="emailpro_empty" -->checked<!-- /TMPL_IF --> /><i>No Value</i>
				<p>
				<label for="phone">Phone:</label>
				<input name="phone" id="phone" value="<!-- TMPL_VAR NAME="phone" -->" />
				<input type="checkbox" name="phone_empty" <!-- TMPL_IF NAME="phone_empty" -->checked<!-- /TMPL_IF --> /><i>No Value</i>
			</fieldset>

			<fieldset>
				<legend>Notes</legend>

				<label for="opacnotes">OPAC Note:</label>
				<input name="opacnotes" id="opacnotes" value="<!-- TMPL_VAR NAME="opacnotes" -->" />
				<p>
				<label for="borrowernotes">Circulation Note:</label>
				<input name="borrowernotes" id="borrowernotes" value="<!-- TMPL_VAR NAME="borrowernotes" -->" />
			</fieldset>

			<fieldset>
				<legend>Flags</legend>

				<input type="checkbox" name="debarred" id="debarred" <!-- TMPL_IF NAME="debarred" -->checked<!-- /TMPL_IF --> />
				<label for="debarred">Debarred:</label>
				<p>
				<input type="checkbox" name="gonenoaddress" id="gonenoaddress" <!-- TMPL_IF NAME="gonenoaddress" -->checked<!-- /TMPL_IF --> />
				<label for="gonenoaddress">Gone, No Address:</label>
				<p>
				<input type="checkbox" name="lost" id="lost" <!-- TMPL_IF NAME="lost" -->checked<!-- /TMPL_IF --> />
				<label for="lost">Lost Card:</label>
			</fieldset>

			<!-- TMPL_IF NAME="AttributesLoop" -->
				<fieldset>
					<legend>Extended Attributes</legend>
	
					<!-- TMPL_LOOP NAME="AttributesLoop" -->
						<p>
							<label for="<!-- TMPL_VAR NAME="code" -->" ><!--TMPL_VAR NAME="description" --></label>
							<input name="<!-- TMPL_VAR NAME="code" -->" value="<!-- TMPL_VAR NAME="value" -->" />
					<!-- /TMPL_LOOP -->
				</fieldset>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF NAME="SearchBorrowerListsLoop" -->
				<fieldset>
					<legend>Patron Lists</legend>
	
					<label for="from_list_id">Patrons in list: </label>
				        <select name="from_list_id" id="from_list_id">
				                <option value=""></option>
				                <!-- TMPL_LOOP NAME="SearchBorrowerListsLoop" -->
				                        <option value="<!-- TMPL_VAR NAME="list_id" -->" <!-- TMPL_IF NAME="selected" -->selected<!-- /TMPL_IF --> ><!-- TMPL_VAR NAME="list_name" --></option>
				                <!-- /TMPL_LOOP -->
				        </select>
				</fieldset>
			<!-- /TMPL_IF -->

			<input type="hidden" name="advanced_patron_search" value="1" />
			<input type="submit" value="Search Patrons" />
			&nbsp; &nbsp;
			<!-- TMPL_IF NAME="CAN_user_borrowers_lists" -->
			        <input type="checkbox" name="add_to_list" id="add_to_list" value="1" />
				<label for="add_to_list">Add Results to a List</label>
			        <select name="list_id" id="list_id">
			                <option value="">A New List Named</option>
			                <!-- TMPL_LOOP NAME="BorrowerListsLoop" -->
			                        <option value="<!-- TMPL_VAR NAME="list_id" -->"><!-- TMPL_VAR NAME="list_name" --></option>
			                <!-- /TMPL_LOOP -->
			        </select>
			        <input type="text" name="list_name" id="list_name" />
			<!-- /TMPL_IF -->
		    </div>
		</fieldset>
	</form>
</div><!-- end advanced search -->

<!-- TMPL_IF NAME="resultsloop" -->
   <div id="searchheader"> <h3>Results <!-- TMPL_VAR Name ="from" --> to <!-- TMPL_VAR Name ="to" --> of <!-- TMPL_VAR Name ="numresults" --> found for '<span class="ex"><!-- TMPL_VAR NAME="member" --></span>'</h3></div>

   <p><button type="submit" class="submit" onClick="addMultiple();" >Add Selected Borrowers To Cart</button></p>

<div class="searchresults">
<form name="bookbag_form" id="bookbag_form" >
    <table style="width:100%">
    <tr>
    <th><input style="border:inset 1px;" name="allbox" type="checkbox" value="Check All" onclick="CheckAll(document.bookbag_form);" /></th>
    <th><!-- TMPL_IF NAME="advanced_patron_search" -->
        <a href="javascript:;" onclick="document.advanced_search_form.orderby.value='borrowers.cardnumber';document.advanced_search_form.submit();"><!-- TMPL_ELSE --><a href="member.pl?member=<!--TMPL_VAR Name="member" -->&amp;orderby=cardnumber<!-- TMPL_LOOP NAME="AdvancedSearchParametersLoop" -->&amp;<!-- TMPL_VAR NAME="name" -->=<!-- TMPL_VAR NAME="value" --><!-- /TMPL_LOOP -->"><!-- /TMPL_IF -->Card</a></th>
    <th><!-- TMPL_IF NAME="advanced_patron_search" --><a href="javascript:;" onclick="document.advanced_search_form.orderby.value='borrowers.surname,borrowers.firstname';document.advanced_search_form.submit();"><!-- TMPL_ELSE --><a href="member.pl?member=<!--TMPL_VAR Name="member" -->&amp;orderby=surname<!-- TMPL_LOOP NAME="AdvancedSearchParametersLoop" -->&amp;<!-- TMPL_VAR NAME="name" -->=<!-- TMPL_VAR NAME="value" --><!-- /TMPL_LOOP -->"><!-- /TMPL_IF -->Name</a></th>
    <th><!-- TMPL_IF NAME="advanced_patron_search" --><a href="javascript:;" onclick="document.advanced_search_form.orderby.value='categories.description,borrowers.surname';document.advanced_search_form.submit();"><!-- TMPL_ELSE --><a href="member.pl?member=<!--TMPL_VAR Name="member" -->&amp;orderby=borrowers.categorycode<!-- TMPL_LOOP NAME="AdvancedSearchParametersLoop" -->&amp;<!-- TMPL_VAR NAME="name" -->=<!-- TMPL_VAR NAME="value" --><!-- /TMPL_LOOP -->"><!-- /TMPL_IF -->Cat</a></th>
    <th><!-- TMPL_IF NAME="advanced_patron_search" --><a href="javascript:;" onclick="document.advanced_search_form.orderby.value='borrowers.branchcode,borrowers.surname';document.advanced_search_form.submit();"><!-- TMPL_ELSE --><a href="member.pl?member=<!--TMPL_VAR Name="member" -->&amp;orderby=branchcode<!-- TMPL_LOOP NAME="AdvancedSearchParametersLoop" -->&amp;<!-- TMPL_VAR NAME="name" -->=<!-- TMPL_VAR NAME="value" --><!-- /TMPL_LOOP -->"><!-- /TMPL_IF -->Library</a></th>
    <th>Expires on</th>
    <th>OD/Issues</th>
    <th>Fines</th>
    <th>Circ note</th>
    <!-- TMPL_IF NAME="CAN_user_borrowers_edit_borrowers" -->
	<th>&nbsp;</th>
    <!-- /TMPL_IF -->
    <th>&nbsp;</th>
    </tr>

    <!-- TMPL_LOOP NAME="resultsloop" -->
    <!-- TMPL_IF name="overdue" -->
    <tr class="problem">
    <!-- TMPL_ELSE -->
    <!-- TMPL_UNLESS name="__odd__" -->
    <tr class="highlight">
    <!-- TMPL_ELSE -->
    <tr>
    <!-- /TMPL_UNLESS -->
    <!-- /TMPL_IF -->
    <td><input type="checkbox" id="bor<!-- TMPL_VAR NAME="borrowernumber" -->" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" title="Click to add to Borrower Cart" /></td>
    <td><!-- TMPL_VAR NAME="cardnumber" -->
        <!-- TMPL_IF NAME="PreviousCardnumber" --><p class="overdue">Warning: Found With Previous Cardnumber</p><!-- /TMPL_IF --></td>
    <td style="white-space: nowrap;"><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_IF NAME="showinitials" --> <!-- TMPL_VAR NAME="initials" --> <!-- /TMPL_IF --> </a> <br /> <!-- TMPL_VAR NAME="address" --><!-- TMPL_IF NAME="address2" --><br /><!-- TMPL_VAR NAME="address2" --><!-- /TMPL_IF --><!-- TMPL_IF NAME="city" --><br /><!-- TMPL_VAR NAME=city --><!-- /TMPL_IF --><!-- TMPL_IF NAME="zipcode" -->  <!-- TMPL_VAR NAME="zipcode" --><!-- /TMPL_IF --><!-- TMPL_IF NAME="country" -->, <!-- TMPL_VAR NAME="country" --><!-- /TMPL_IF --></td>
    <td><!-- TMPL_VAR NAME="category_description" --> (<!-- TMPL_VAR name="category_type" -->)</td>
    <td><!-- TMPL_VAR NAME="branchcode" --></td>
    <td><!-- TMPL_VAR NAME="dateexpiry" --></td>
    <td><!-- TMPL_IF NAME="overdues" --><span class="overdue"><strong><!-- TMPL_VAR NAME="overdues" --></strong></span><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="overdues" --><!-- /TMPL_IF -->/<!-- TMPL_VAR NAME="issues" --></td>
    <td><!-- TMPL_VAR NAME="fines" --></td>
    <td><!-- TMPL_VAR NAME="borrowernotes" --></td>
    <td><a class="addtocart" href="#" onclick="addRecord('<!-- TMPL_VAR NAME="borrowernumber" -->'); return false;">Add&nbsp;to&nbsp;Cart</a></td>
    <!-- TMPL_IF NAME="CAN_user_borrowers_edit_borrowers" -->
	<td><!-- TMPL_IF NAME="category_type" -->
            <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;category_type=<!-- TMPL_VAR NAME="category_type"-->">Edit</a>
<!-- TMPL_ELSE --> <!-- try with categorycode if no category_type -->
 	<!-- TMPL_IF NAME="categorycode" -->
            <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode"-->">Edit</a>
    <!-- TMPL_ELSE --> <!-- if no categorycode, set category_type to A by default -->
            <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;category_type=A">Edit</a>
    <!-- /TMPL_IF -->
    <!-- /TMPL_IF --></td>
    <!-- /TMPL_IF -->
    </tr>
    <!-- /TMPL_LOOP -->
</form>
    </table>
	<div class="pages"><!--TMPL_IF Name="multipage"--><!--TMPL_VAR Name="paginationbar" --><!--/TMPL_IF--></div>
</div><!-- end resultsloop -->
<!-- TMPL_ELSE -->
   <!-- TMPL_IF NAME="searching" -->
No results found
   <!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="ShowPatronSearchBySQL" -->
	<br/>
	<h3>Search borrowers by SQL</h3>
	<form action="/cgi-bin/koha/members/member.pl" method="post" name="borrower-sql-search">
		<label for="sqlsearch">SELECT * FROM borrowers LEFT JOIN categories ON borrowers.categorycode = categories.categorycode WHERE</label>
		<textarea name="sqlsearch" rows='5' cols='100'></textarea>
		<input name="sqlsearch" type="submit" value="Search" />
	</form>
<!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_IF NAME="resultsloop" -->
<!-- TMPL_ELSE -->
   <!-- TMPL_IF NAME="searching" -->
   <!-- TMPL_ELSE -->
      <!-- TMPL_IF NAME="borrowernumber" -->
      <!-- TMPL_INCLUDE NAME="members-menu.inc" -->
      <!-- /TMPL_IF -->
   <!-- /TMPL_IF -->
<!-- /TMPL_IF -->

</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
