<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Patrons &rsaquo; Pay Fines for  <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Pay Fines for <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --></div>

<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->

<!-- The manual invoice and credit buttons -->
<div class="toptabs">
<ul class="ui-tabs-nav">
	<li><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Account</a></li>
	<li class="ui-tabs-selected"><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Pay Fines</a></li>
      <TMPL_IF NAME="refundtab">
   <li><a href="/cgi-bin/koha/members/refund.pl?borrowernumber=<TMPL_VAR NAME="borrowernumber">">Refund Charges</a></li>
      </TMPL_IF>
    <!-- TMPL_IF NAME="CAN_user_updatecharges_add_charges" -->
	<li><a href="/cgi-bin/koha/members/maninvoice.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Invoice</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_updatecharges_accept_payment" -->
	<li><a href="/cgi-bin/koha/members/mancredit.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Credit</a></li>
    <!-- /TMPL_IF -->
</ul>
<div class="tabs-container">

<!-- TMPL_IF NAME="allfile" --><form action="/cgi-bin/koha/members/pay.pl" method="post">
	<input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />

<table>
<thead>
<tr>
	<th>Fines &amp; Charges</th>
   <th>No.</th>
   <th>Date</th>
	<th>Description</th>
   <th>Title</th>
	<th>Account<br>Type</th>
	<th>Notify id</th>
	<th>Level</th>
	<th>Amount</th>
	<th>Amount<br>Outstanding</th>
</tr>
</thead>
	
<!-- TMPL_LOOP name="allfile" -->
	<!-- TMPL_LOOP name="loop_pay" -->
<tr>
	<td>
	<!-- TMPL_IF NAME="net_balance" -->
	<!--<select name="payfine<!-- TMPL_VAR name="i" -->">
	<option value="no">Unpaid</option>
	<option value="yes">Paid</option> -->
    <input type="submit" name="pay_indiv<!-- TMPL_VAR name="i" -->"i value="Pay" />
    <!-- TMPL_IF NAME="CAN_user_updatecharges_writeoff_charges" -->
    <input type="submit" name="wo_indiv<!-- TMPL_VAR name="i" -->"i value="Writeoff" />
	<!--<option value="wo">Writeoff</option> -->
    <!--  /TMPL_IF -->
	<!--</select> -->
	<!-- /TMPL_IF -->
	<input type="hidden" name="line_id<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="i" -->" />
	<input type="hidden" name="itemnumber<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="itemnumber" -->" />
   <input type=hidden name="biblionumber<TMPL_VAR NAME="i">" value="<TMPL_VAR NAME="biblionumber">">
	<input type="hidden" name="description<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="description" -->" />
	<input type="hidden" name="title<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="title" -->" />
   <input type=hidden name="barcode<TMPL_VAR NAME="i">" value="<TMPL_VAR NAME="barcode">">
	<input type="hidden" name="accounttype<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="accounttype" -->" />
	<input type="hidden" name="amount<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="amount" -->" />
	<input type="hidden" name="out<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="amountoutstanding" -->" />
	<input type="hidden" name="borrowernumber<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="borrowernumber" -->" />
	<input type="hidden" name="accountno<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="accountno" -->" />
   <input type=hidden name="date<TMPL_VAR NAME="i">" value="<TMPL_VAR NAME="date">">
	<input type="hidden" name="notify_id<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="notify_id" -->" />
	<input type="hidden" name="notify_level<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="notify_level" -->" />
	<input type="hidden" name="totals<!-- TMPL_VAR name="i" -->" value="<!-- TMPL_VAR name="totals" -->" />
	</td>
   <td><TMPL_VAR NAME="accountno"></td>
   <td><TMPL_VAR NAME="date"></td>
	<td><!-- TMPL_VAR name="description" --></td>
   <td><TMPL_IF NAME="itemnumber"><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="title"></a><br>
      <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcode"></a></TMPL_IF></td>
	<td><!-- TMPL_VAR name="accounttype" --></td>
	<td><!-- TMPL_VAR name="notify_id" --></td>
	<td><!-- TMPL_VAR name="notify_level" --></td>
	<td class="debit"><!-- TMPL_VAR name="amount" --></td>
	<td class="debit" align=right><!-- TMPL_VAR name="amountoutstanding" --></td>
</tr>
<!-- /TMPL_LOOP  -->
<!-- /TMPL_LOOP  -->
<tfoot>
<tr>
	<td colspan="8">Total Due</td>
	<td colspan=2 align=right><!-- TMPL_VAR name="total" --></td>
</tr>
</tfoot>
</table>
<!-- <p>On All Or Part Of The Total Sum Due:</p> -->
<fieldset class="action">
 <input type="submit" name="paycollect"  value="Pay Amount" class="submit" />
<!-- TMPL_IF NAME="CAN_user_updatecharges_writeoff_charges" -->
 <input type="submit" name="woall"  value="Writeoff All" class="submit" />
<!-- /TMPL_IF -->
 <a class="cancel" href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">
  Cancel</a>
</fieldset>
</form><!-- TMPL_ELSE --><p><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --> has no outstanding fines.</p><!-- /TMPL_IF -->
</div></div>

</div>
</div>
<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/jquery/plugins/jquery.tablesorter.min.js"></script> 
<script type="application/javascript"> 
$(document).ready(function() { 
   $("table").tablesorter(); 
}); 
</script> 
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
