<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Patrons &rsaquo; Collect Fine Payment for  <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type= "text/javascript">
function validatePayment(f) {
   var amo = 0;
   if (f.total) {
      amo = f.total.value;
   }
   else if (f.amountoutstanding) {
      amo = f.amountoutstanding.value;
   }
   if (f.paid) {
      var pd = Number(f.paid.value);
      amo    = Number(amo);
      if (pd > amo) {
         alert('Amount paid cannot be greater than total amount');
         return false;
      }
   }
   return true;
}

function moneyFormat(textObj) {
    var newValue = textObj.value;
    var decAmount = "";
    var dolAmount = "";
    var decFlag   = false;
    var aChar     = "";

    for(i=0; i < newValue.length; i++) {
        aChar = newValue.substring(i, i+1);
        if (aChar >= "0" && aChar <= "9") {
            if(decFlag) {
                decAmount = "" + decAmount + aChar;
            }
            else {
                dolAmount = "" + dolAmount + aChar;
            }
        }
        if (aChar == ".") {
            if (decFlag) {
                dolAmount = "";
                break;
            }
            decFlag = true;
        }
    }

    if (dolAmount == "") {
        dolAmount = "0";
    }
// Strip leading 0s
    if (dolAmount.length > 1) {
        while(dolAmount.length > 1 && dolAmount.substring(0,1) == "0") {
            dolAmount = dolAmount.substring(1,dolAmount.length);
        }
    }
    if (decAmount.length > 2) {
        decAmount = decAmount.substring(0,2);
    }
// Pad right side
    if (decAmount.length == 1) {
       decAmount = decAmount + "0";
    }
    if (decAmount.length == 0) {
       decAmount = decAmount + "00";
    }

    textObj.value = dolAmount + "." + decAmount;
}
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Pay Fines for <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --></div>

<div id="doc3" class="yui-t2">

<div id="bd">
<div id="yui-main">
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->


<!-- The manual invoice and credit buttons -->
<div class="toptabs">
<ul class="ui-tabs-nav">
<li><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Account</a></li>
<li class="ui-tabs-selected"><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Pay Fines</a></li>
<TMPL_IF NAME="refundtab">
<li><a href="/cgi-bin/koha/members/refund.pl?borrowernumber=<TMPL_VAR NAME="borrowernumber">">Refund Charges</a></li>
</TMPL_IF>
<li><a href="/cgi-bin/koha/members/maninvoice.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Invoice</a></li>
<li><a href="/cgi-bin/koha/members/mancredit.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Credit</a></li>
</ul>
<div class="tabs-container">

<!--<form action="/cgi-bin/koha/members/paycollect.pl" method="post"> -->
<!-- TMPL_IF NAME="pay_individual" -->
<form name="payindivfine" onsubmit="return validatePayment(this);" method="post" action="/cgi-bin/koha/members/paycollect.pl">
<input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />
<input type="hidden" name="pay_individual" id="pay_individual" value="<!-- TMPL_VAR name="pay_individual" -->" />
<input type="hidden" name="description" id="description" value="<!-- TMPL_VAR name="description" -->" />
<input type="hidden" name="accounttype" id="accounttype" value="<!-- TMPL_VAR name="accounttype" -->" />
<input type="hidden" name="notify_id" id="notify_id" value="<!-- TMPL_VAR name="notify_id" -->" />
<input type="hidden" name="notify_level" id="notify_level" value="<!-- TMPL_VAR name="notify_level" -->" />
<input type="hidden" name="amount" id="amount" value="<!-- TMPL_VAR name="amount" -->" />
<input type="hidden" name="amountoutstanding" id="amountoutstanding" value="<!-- TMPL_VAR name="amountoutstanding" -->" />
<input type="hidden" name="accountno" id="accountno" value="<!-- TMPL_VAR name="accountno" -->" />
<input type="hidden" name="title" id="title" value="<!-- TMPL_VAR name="title" -->" />
<input type=hidden name="itemnumber" value="<TMPL_VAR NAME="itemnumber">">
<input type=hidden name="biblionumber" value="<TMPL_VAR NAME="biblionumber">">
<input type=hidden name="barcode" value="<TMPL_VAR NAME="barcode">">
<table>
<tr>
<th>No.</th>
<th>Date</th>
<th>Description</th>
<th>Title</th>
<th>Account Type</th>
<th>Notify id</th>
<th>Level</th>
<th>Amount</th>
<th>Amount Outstanding</th>
</tr>
<tr>
<td><TMPL_VAR NAME="accountno"></td>
<td><TMPL_VAR NAME="date"></td>
<td><!-- TMPL_VAR NAME="description" --></td>
<td><TMPL_IF NAME="itemnumber"><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="title"></a><br><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcode"></a><TMPL_ELSE>&nbsp;</TMPL_IF></td>
<td><!-- TMPL_VAR name="accounttype" --></td>
<td><!-- TMPL_VAR name="notify_id" --></td>
<td><!-- TMPL_VAR name="notify_level" --></td>
<td class="debit"><!-- TMPL_VAR name="amount" --></td>
<td class="debit" align=right><!-- TMPL_VAR name="amountoutstanding" --></td>
</tr>
<tr>
<td colspan=3>Total Amount Payable: </td>
<td colspan=6 align=right><!-- TMPL_VAR NAME="amountoutstanding" --></td>
</tr>
<tr>
<td colspan=3>Collect From Patron: </td>
<td colspan=6 align=right>
<!-- default to paying all -->
<input name="paid" id="paid" value="<!-- TMPL_VAR NAME="amountoutstanding" -->" onchange="moneyFormat(document.payindivfine.paid)" size="5" />
</td>
</tr>
<tr>
</td>
</tr>
</table><br>
<input type="submit" name="submitbutton" value="Confirm" />
<a class="cancel" href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Cancel</a>

<!-- TMPL_ELSIF NAME="writeoff_individual"-->
<form name="woindivfine" action="/cgi-bin/koha/members/pay.pl" method="post" >
<input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />
<input type="hidden" name="pay_individual" id="pay_individual" value="<!-- TMPL_VAR name="pay_individual" -->" />
<input type="hidden" name="description" id="description" value="<!-- TMPL_VAR name="description" -->" />
<input type="hidden" name="accounttype" id="accounttype" value="<!-- TMPL_VAR name="accounttype" -->" />
<input type="hidden" name="notify_id" id="notify_id" value="<!-- TMPL_VAR name="notify_id" -->" />
<input type="hidden" name="notify_level" id="notify_level" value="<!-- TMPL_VAR name="notify_level" -->" />
<input type="hidden" name="amount" id="amount" value="<!-- TMPL_VAR name="amount" -->" />
<input type="hidden" name="amountoutstanding" id="amountoutstanding" value="<!-- TMPL_VAR name="amountoutstanding" -->" />
<input type="hidden" name="accountno" id="accountno" value="<!-- TMPL_VAR name="accountno" -->" />
<input type="hidden" name="title" id="title" value="<!-- TMPL_VAR name="title" -->" />
<input type=hidden name="itemnumber" value="<TMPL_VAR NAME="itemnumber">">
<input type=hidden name="biblionumber" value="<TMPL_VAR NAME="biblionumber">">
<input type=hidden name="barcode" value="<TMPL_VAR NAME="barcode">">
<table>
<tr>
<th>Date</th>
<th>Description</th>
<th>Title</th>
<th>Account Type</th>
<th>Notify id</th>
<th>Level</th>
<th>Amount</th>
<th>Amount Outstanding</th>
</tr>
<tr>
<td><TMPL_VAR NAME="date"></td>
<td><!-- TMPL_VAR NAME="description" --></td>
<td><TMPL_IF NAME="itemnumber"><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="title"></a><br><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcode"></a><TMPL_ELSE>&nbsp;</TMPL_IF></td>
<td><!-- TMPL_VAR name="accounttype" --></td>
<td><!-- TMPL_VAR name="notify_id" --></td>
<td><!-- TMPL_VAR name="notify_level" --></td>
<td class="debit"><!-- TMPL_VAR name="amount" --></td>
<td class="debit" align=right><!-- TMPL_VAR name="amountoutstanding" --></td>
</tr>
</table><br>
<strong>Writeoff This Charge?</strong><br>
<input type="submit" name="confirm_writeoff" id="confirm_writeoff" value="Confirm" />
<a class="cancel" href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Cancel</a>
<!-- TMPL_ELSE -->

<form name="payfine" onsubmit="return validatePayment(this);" method="post" action="/cgi-bin/koha/members/paycollect.pl">
<input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />
<input type="hidden" name="total" id="total" value="<!-- TMPL_VAR name="total" -->" />

<table>
<!-- TMPL_IF NAME="error" -->
<tr><td><!-- TMPL_VAR NAME="error" --></td></tr>
<!-- /TMPL_IF -->
<tr>
<td>Total Amount Outstanding : </td>
<td>
<!-- TMPL_VAR NAME="total" -->
</td>
</tr>
<tr><td> </td></tr>
<tr>
<td>Collect From Patron: </td>
<td>
<!-- default to paying all -->
<input name="paid" id="paid" value="<!-- TMPL_VAR NAME="total" -->" onchange="moneyFormat(document.payfine.paid)"/>
</td>
</tr>
<tr>
<td colspan="2">
<input type="submit" name="submitbutton" value="Confirm" />
<a class="cancel" href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Cancel</a>
</td>
</tr>
</table>
</form>
<!-- /TMPL_IF -->
</div></div>
</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
