<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Reading Record for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
$.tablesorter.addParser({
    id: 'articles',
    is: function(s) {return false;  },
    format: function(s) { return s.toLowerCase().replace(/^(the|an|a) /,''); },
    type: 'text'
});
  $(document).ready(function() {
    $("#user-circ-reports").tabs();
    $.tablesorter.defaults.widgets = ['zebra'];
    $("#readingrecordt").tablesorter();
    $("#reservest").tablesorter();
    $("#sentnoticet").tablesorter();
    $("#patroneditt").tablesorter();
    $("#patronblockt").tablesorter();
  });
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Reading Record for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-toolbar.inc" -->
<div id="user-circ-reports" class="toptabs">
  <ul class="ui-tabs-nav">
     <li><a href="#reading-record">Reading Record</a></li>
     <li><a href="#reserves-history">Reserves History</a></li>
     <li><a href="#sent-notices">Sent Notices History</a></li>
     <li><a href="#patron-edits">Patron Edit History</a></li>
     <li><a href="#patron-block">Patron Block History</a></li>
  </ul>

<div id="reading-record">
<h1>Reading Record</h1>
<form action="/cgi-bin/koha/members/readingrec.pl" method="get"><input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" /></form>
<p><!-- TMPL_IF NAME="showfulllink" -->Showing All Items |
	<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=50">Show Last 50 Items Only</a> <!-- TMPL_ELSE -->	Showing Last 50 Items | 
	<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=full">Show All Items</a><!-- /TMPL_IF --></p>
<table id="readingrecordt">
<thead>
<tr>
	<th>Date Due</th>
	<th>Title</th>
	<th>Item Type</th>
	<th>Checkout Library</th>
	<th>Checked Out On</th>
	<!-- <th>Author</th> -->
	<th>Call No.</th>
	<th>Charge</th>
	<th>Price</th>
	<!-- <th>Barcode</th> -->
	<!-- <th>Number of Renewals</th> -->
	<th>Return Date</th>
</tr>
</thead>
<tbody>
<!-- TMPL_LOOP name="loop_reading" -->
<!-- TMPL_UNLESS NAME="__odd__" -->
    <!-- TMPL_IF NAME="returndate" --><tr class="highlight"><!-- TMPL_ELSE --><tr class="highlight onissue"><!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
    <!-- TMPL_IF NAME="returndate" --><tr><!-- TMPL_ELSE --><tr class="onissue"><!-- /TMPL_IF -->
<!-- /TMPL_UNLESS -->
	<td><!-- TMPL_IF NAME="date_due" --><!-- TMPL_VAR NAME="date_due" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>

            <td>
            <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">
                <!-- TMPL_VAR name="title" escape="html" -->
            </a>
        </td>

	<td><!-- TMPL_VAR name="itemtype" --></td>
	<td><!-- TMPL_VAR name="branchcode" --></td>
	<td><!-- TMPL_VAR name="issuedate" --></td>

        <!-- <td><!-- TMPL_VAR name="author" --></td> -->

        <td><!-- TMPL_VAR NAME="classification" --></td>

	<td><!-- TMPL_VAR NAME="charge" --></td>
	<td><!-- TMPL_VAR NAME="replacementprice" --></td>

        <!-- <td><!-- TMPL_VAR NAME="barcode" --></td> -->

        <!-- <td><!-- TMPL_VAR NAME="renewals" --></td> -->

            <td>
        <!-- TMPL_IF NAME="returndate" -->
            <!-- TMPL_VAR name="returndate" -->
        <!-- TMPL_ELSE -->
            Checked Out
        <!-- /TMPL_IF -->
	</td>
</tr>
<!-- /TMPL_LOOP -->
</tbody>
</table></div>

<div id="reserves-history">
<h2>Reserves History</h2>
<!-- TMPL_IF NAME="reserves_stats_loop" -->
	<table id="reservest">
		<thead>
		<tr>
			<th>Action</th>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
		</tr>
		</thead>

		<tbody>
		<!-- TMPL_LOOP NAME="reserves_stats_loop" -->
			<tr>
				<td><!-- TMPL_VAR NAME="type" --></td>
				<td><!-- TMPL_VAR NAME="title" --></td>
				<td><!-- TMPL_VAR NAME="author" --></td>
				<td><!-- TMPL_VAR NAME="date_formatted" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
		</tbody>
	</table>
<!-- /TMPL_IF -->
</div>

<div id="sent-notices">
<h2>Sent Notices History</h2>
<!-- TMPL_IF NAME="notices_sent_stats_loop" -->
	<table id="sentnoticet">
		<thead>
		<tr>
			<th>Notices</th>
			<th>Date</th>
		</tr>
		</thead>

		<tbody>
		<!-- TMPL_LOOP NAME="notices_sent_stats_loop" -->
			<tr>
				<td><!-- TMPL_VAR NAME="title" --></td>
				<td><!-- TMPL_VAR NAME="date_formatted" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
		</tbody>
	</table>
<!-- /TMPL_IF -->
</div>

<div id="patron-edits">
<p>
<h2>Patron Edit History</h2>
<!-- TMPL_IF NAME="patron_edit_stats_loop" -->
	<table id="patroneditt">
		<thead>
		<tr>
			<th>Edit Date</th>
			<th>Staff</th>
			<th>Field</th>
			<th>Before</th>
			<th>After</th>
		</tr>
		</thead>

		<tbody>
		<!-- TMPL_LOOP NAME="patron_edit_stats_loop" -->
			<tr>
				<td><!-- TMPL_VAR NAME="timestamp" --></td>
				<td><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="staffnumber" -->"><!-- TMPL_VAR NAME="staffnumber" --></a></td>
				<td><!-- TMPL_VAR NAME="field" --></td>
				<td><!-- TMPL_VAR NAME="before_value" --></td>
				<td><!-- TMPL_VAR NAME="after_value" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
		</tbody>
	</table>
<!-- /TMPL_IF -->
</div>

<div id="patron-block">
<p>
<h2>Patron Block History</h2>
<!-- TMPL_IF NAME="patron_block_stats_loop" -->
	<table id="patronblockt">
		<thead>
		<tr>
			<th>Timestamp</th>
                        <th>Staff</th>
			<th>Block Reason</th>
		</tr>
		</thead>

		<tbody>
		<!-- TMPL_LOOP NAME="patron_block_stats_loop" -->
			<tr>
				<td><!-- TMPL_VAR NAME="message_date" --></td>
				<td><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="staffnumber" -->"><!-- TMPL_VAR NAME="staffnumber" --></a></td>
				<td><!-- TMPL_VAR NAME="message" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
		</tbody>
	</table>
<!-- /TMPL_IF -->
</div>

</div>
</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
