<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Borrowers &rsaquo; Create Manual Credit</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	$("fieldset.rows input").keydown(function(e){ return checkEnter(e); });
});
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Manual Credit</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->

<!-- The refund page -->
<div class="toptabs">
<ul class="ui-tabs-nav">
	<li><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Account</a></li>
    <!-- TMPL_IF NAME="CAN_user_updatecharges_accept_payment" -->
	<li><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Pay Fines</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="refundtab" -->
	<li class="ui-tabs-selected"><a href="/cgi-bin/koha/members/refund.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Refund Charges</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_updatecharges_add_charges" -->
	<li><a href="/cgi-bin/koha/members/maninvoice.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Invoice</a></li>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="CAN_user_updatecharges_accept_payment" -->
	<li><a href="/cgi-bin/koha/members/mancredit.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Create Manual Credit</a></li>
    <!-- /TMPL_IF -->
</ul>
<div class="tabs-container">

<TMPL_IF NAME="showForm">
  <form action="/cgi-bin/koha/members/refund.pl" method="post" name="myf" id="myf">
  <input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
  <input type=hidden name="accountno" value="">
  <TMPL_IF NAME="authorized"><input type=hidden name="authorized" value="1"></TMPL_IF>

  <table>
    <tr>
      <th>Charge &amp; Refund</th>
      <th>Description</th>
      <th>Title</th>
      <th>Amount</th>
    </tr>

    <!-- TMPL_LOOP NAME="accounts" -->
       <tr>
       <td><TMPL_IF NAME="refundBtn">
           <input type=button name="refund" value="Refund" onclick="
            document.myf.accountno.value='<TMPL_VAR NAME="accountno">';
            document.myf.submit(); return">
           <TMPL_ELSE>
           Refund
           </TMPL_IF></td>
       <td><TMPL_VAR NAME="description"></td>
       <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">"><TMPL_VAR NAME="title"></a><br>
           <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<TMPL_VAR NAME="biblionumber">&itemnumber=<TMPL_VAR NAME="itemnumber">#item<TMPL_VAR NAME="itemnumber">"><TMPL_VAR NAME="barcode"></a></td>
       <td align=right><!-- TMPL_VAR NAME="amount" --></td>
       <input type="hidden" name="itemnumber" id="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
       </tr>
    <!-- /TMPL_LOOP -->
      <tr>
         <td colspan=3>Subtotal</td>
         <td align=right><TMPL_VAR NAME="refundSubtotal"></td>
      </tr>
      <tr>
         <td colspan=3>Other Charges</td>
         <td align=right><TMPL_VAR NAME="otherCharges"></td>
      </tr>
      <tr>
         <td colspan=3>Account Balance</td>
         <td align=right>(credit) <TMPL_VAR NAME="accountBalance"></td>
      </tr>
  </table>
  <fieldset class="action">
      <TMPL_IF NAME="refundAmount">
      <input type="submit" name="refundBalance" value="Refund Balance (<TMPL_VAR NAME="refundAmount">)" />
      </TMPL_IF>
      <a class="cancel" href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Cancel</a></fieldset>
  </form>
<!-- TMPL_ELSE -->
  <form action="/cgi-bin/koha/members/refund.pl" method="post">
  <input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
  <h5>You do not have permission to refund a charge</h5>
  <p>
  <label><strong>Superlibrarian Authorization Required</strong></label>
  </p><p>
  <label for="auth_username">Username:</label>
  <input type="text" id="auth_username" name="auth_username" />
  <label for="auth_password">Password:</label>
  <input type="password" id="auth_password" name="auth_password" />
  <input type="hidden" name="superlibrarian" id="superlibrarian" value="1" />
  <input type="submit" value="Authorize" />
  </p>
  </form>
<!-- /TMPL_IF -->

</div></div>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
