<!-- TMPL_LOOP NAME="items" -->
<ol id="item-<!-- TMPL_VAR NAME="item_index" -->" class="item">
    <!-- TMPL_INCLUDE NAME="item-fields.inc" -->
</ol>
<input type="hidden" name="items" value="<!-- TMPL_VAR NAME="item_index" -->" />
<!-- /TMPL_LOOP -->
