<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 
    <!-- TMPL_IF NAME="nopermission" -->Acceso denegado<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="timed_out" -->La sesión ha expirado<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="different_ip" -->cambiar dirección IP<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="invalid_username_or_password" -->Nombre de socio o contraseña inválido<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="loginprompt" -->Entrar a Koha<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body class="login">

<div id="doc" class="yui-t7">
   <div id="bd">

<div id="login-area">
<h1><a href="http://koha.org">Koha</a></h1>
<!-- TMPL_IF NAME="nopermission" -->
<div id="login_error"><strong>Error: </strong>Usuario no autorizado <a href="/cgi-bin/koha/mainpage.pl?logout.x=1">haga clic para salir</a></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="timed_out" -->
<div id="login_error"><strong>Error: </strong>La sesión ha expirado, por favor ingrese nuevamente</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="different_ip" -->
<div id="login_error"><strong>Error: </strong>La dirección IP ha cambiado, por favor ingrese nuevamente </div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="wrongip" -->
<div id="login_error"><strong>Error: </strong>Sedes independientes y Autolocation están habilitadas y usted está entrando con una dirección IP que no coincide con su sede. </div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="invalid_username_or_password" -->
<div id="login_error"><strong>Error: </strong>Nombre de socio o contraseña inválido</div>
<!-- /TMPL_IF -->

<!-- login prompt time-->
<form action="<!-- TMPL_VAR NAME="url" -->" method="post" name="loginform" id="loginform">
    <input type="hidden" name="koha_login_context" value="intranet" />
<!-- TMPL_LOOP NAME="INPUTS" -->
    <input type="hidden" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" ESCAPE="html" -->" />
<!-- /TMPL_LOOP -->
<p><label for="userid">Nombre de usuario:</label>
<input type="text" name="userid" id="userid" class="input focus" value="<!-- TMPL_VAR NAME="userid" -->" size="20" tabindex="1" />
</p>
<p><label for="password">Contraseña:</label>
<input type="password" name="password" id="password" class="input" value="" size="20" tabindex="2" />
</p>

<!-- TMPL_IF NAME="AutoLocation" --><!-- TMPL_ELSE -->
<!-- TMPL_IF NAME="IndependantBranches" --><!-- TMPL_ELSE -->
<p><label for="branch">Biblioteca:</label>
    <select name="branch" id="branch" class="input" tabindex="3">
    <option value="">Mi biblioteca</option>
    <!-- TMPL_LOOP NAME="branchloop" -->
    <option value="<!-- TMPL_VAR NAME='branchcode' -->"><!-- TMPL_VAR NAME='branchname' --></option>
    <!-- /TMPL_LOOP -->
    </select>
    </p><!-- /TMPL_IF -->
	<!-- /TMPL_IF -->

<!-- <p><label><input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="3" />Remember me</label></p> -->

<p class="submit"><input id="login-submit" class="submit" type="submit" value="Ingresar a la cuenta  &raquo;" tabindex="4"></p>
</form>
<!--<ul> -->
<!--	<li><a href="/cgi-bin/koha/lostpassword.pl" title="Password Lost and Found">Lost your password?</a></li> -->
<!-- </ul> -->

</div>
</div>

<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
