<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; Item Status<!-- TMPL_IF name="add_form" -->&rsaquo; 
  <!-- TMPL_IF name="statuscode" -->
Modify Item Status '<!-- TMPL_VAR name="statuscode" -->'
  <!-- TMPL_ELSE -->
Add Item Status
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" -->&rsaquo;
Delete Item Status '<!-- TMPL_VAR name="statuscode" -->'?
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirmed" -->&rsaquo;
Data Deleted
<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" --><script type="text/javascript">
//<![CDATA[

function isNotNull(f,noalert) {
	if (f.value.length ==0) {
		return false;
	}
	return true;
}

function toUC(f) {
	var x=f.value.toUpperCase();
	f.value=x;
	return true;
}

function isNum(v,maybenull) {
var n = new Number(v.value);
if (isNaN(n)) {
	return false;
	}
if (maybenull==0 && v.value=='') {
	return false;
}
return true;
}

function isDate(f) {
	var t = Date.parse(f.value);
	if (isNaN(t)) {
		return false;
	}
}

function Check(f) {
	var ok=1;
	var _alertString="";
	var alertString2;
	if (f.statuscode.value.length==0) {
		_alertString += "\n- " + _("Item status missing");
	}
	if (!(isNotNull(window.document.Aform.description,1))) {
		_alertString += "\n- " + _("Description missing");
	}
	if (_alertString.length==0) {
		document.Aform.submit();
	} else {
		alertString2  = _("Form not submitted because of the following problem(s)");
		alertString2 += "\n------------------------------------------------------------------------------------\n";
		alertString2 += _alertString;
		alert(alertString2);
	}
}
     $(document).ready(function() {
        $('#icons > ul').tabs();
     });
//]]>
</script>
<style type="text/css">
	fieldset.rows div.toptabs li { clear:none;margin-right:.5em;padding-bottom:0;width:auto; }
	fieldset.rows div.toptabs .ui-tabs-nav li.ui-tabs-selected {background-color : transparent; }
	fieldset.rows .ui-tabs-panel { margin-right : 10px; margin-left : 10px;margin-bottom:10px;}
</style>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <!-- TMPL_IF name="add_form" -->
  <!-- TMPL_IF name="statuscode" -->
<a href="/cgi-bin/koha/admin/itemstatus.pl">Item Status</a> &rsaquo; Modify Item Status '<!-- TMPL_VAR name="statuscode" -->'
  <!-- TMPL_ELSE -->
<a href="/cgi-bin/koha/admin/itemstatus.pl">Item Status</a> &rsaquo; Add Item Status 
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" -->
<a href="/cgi-bin/koha/admin/itemstatus.pl">Item Status</a> &rsaquo; Delete Item Status '<!-- TMPL_VAR name="statuscode" -->'?
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirmed" -->
<a href="/cgi-bin/koha/admin/itemstatus.pl">Item Status</a> &rsaquo;Data Deleted
<!-- /TMPL_IF -->
<!-- TMPL_IF name="else" -->
Item Status Administration
<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="else" --><div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[

	// prepare DOM for YUI Toolbar

	 $(document).ready(function() {
	    yuiToolbar();
	 });

	// YUI Toolbar Functions

	function yuiToolbar() {
	    new YAHOO.widget.Button("newitemstatus");
	}

	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newitemstatus" href="/cgi-bin/koha/admin/itemstatus.pl?op=add_form">New Item Status</a></li>
</ul></div><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->

<!-- TMPL_IF name="add_form" -->
  <!-- TMPL_IF name="statuscode" -->
      <h3>Modify Item Status</h3>
  <!-- TMPL_ELSE -->
      <h3>Add Item Status</h3>
  <!-- /TMPL_IF -->
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="add_validate" />
    <input type="hidden" name="checked" value="0" />

    <fieldset class="rows">
	<ol>
  <!-- TMPL_IF name="statuscode" -->
      <li>
          <span class="label">Item status</span> <input type="hidden" name="statuscode" value="<!-- TMPL_VAR name="statuscode" -->" />
          <!-- TMPL_VAR name="statuscode" -->
     </li>
  <!-- TMPL_ELSE -->
      <li>
          <label for="itemtype">Item status</label> <input type="text" id="statuscode" name="statuscode" size="10" maxlength="10" />
      </li>
  <!-- /TMPL_IF -->
      <li>
          <label for="description">Description</label><input type="text" id="description" name="description" size="48" maxlength="80" value="<!-- TMPL_VAR name="description" escape="HTML" -->" />      
      </li>
      <li>
          <label for="holdsallowed">Holds allowed</label>
            <!-- TMPL_IF name="holdsallowed" -->
                <input type="checkbox" id="holdsallowed" name="holdsallowed" checked="checked" value="1" />
            <!-- TMPL_ELSE -->
                <input type="checkbox" id="holdsallowed" name="holdsallowed" value="1" />
            <!-- /TMPL_IF -->
          (if checked, item of this current status can have a hold placed on it)
      </li>
      <li>
          <label for="holdfilled">Holds filled</label>
          <input type="checkbox" id="holdsfilled" name="holdsfilled" <TMPL_IF NAME="holdsfilled">checked="checked"</TMPL_IF> value="1" />
          (if checked, item of this current status can be picked to fill a hold, viz. for the cronjob)
      </li>
	  </ol>
    </fieldset>

    <fieldset class="action">
      <input type="button" value="Save Changes" onclick="Check(this.form)" />
	  <a href="/cgi-bin/koha/admin/itemstatus.pl" class="cancel">Cancel</a>
    </fieldset>
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_confirm" -->
<div class="dialog alert">
<h3>Delete Item Status '<!-- TMPL_VAR name="statuscode" -->'?</h3>
<table>
		<tr>
			<th scope="row">Item status</th>
			<td><!-- TMPL_VAR name="statuscode" --></td>
		</tr>

	<tr><th scope="row">Description</th><td><!-- TMPL_VAR name="description" --></td></tr>
	<tr><th scope="row">Holds allowed</th><td><!-- TMPL_IF NAME="holdsallowed" -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td></tr>
	<tr><th scope="row">Holds filled</th><td><!-- TMPL_IF NAME="holdsfilled" -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td></tr>
</table>
		<form action="<!-- TMPL_VAR name="script_name" -->" method="post">
		<input type="hidden" name="op" value="delete_confirmed" /><input type="hidden" name="statuscode" value="<!-- TMPL_VAR name="statuscode" -->" />

		<input type="submit" class="approve" value="Delete this Item Type" /></form> <form action="<!-- TMPL_VAR name="script_name" -->" method="post"><input type="submit" class="deny" value="Do Not Delete" /></form>
</div>

<!-- /TMPL_IF -->

<!-- TMPL_IF name="else" -->
<h2>Item Status Administration</h2>
<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Holds allowed</th>
    <th>Holds filled</th>
    <th>Action</th>
  </tr>
  <!-- TMPL_LOOP name="loop" -->
    <!-- TMPL_UNLESS name="__odd__" -->
  <tr class="highlight">
    <!-- TMPL_ELSE -->
  <tr>
    <!-- /TMPL_IF -->
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=add_form&amp;statuscode=<!-- TMPL_VAR name="statuscode" escape="HTML" -->">
        <!-- TMPL_VAR name="statuscode" -->
      </a>
    </td>
    <td><!-- TMPL_VAR name="description" --></td>
    <td><!-- TMPL_IF NAME="holdsallowed" -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td>
    <td><!-- TMPL_IF NAME="holdsfilled" -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td>
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=add_form&amp;statuscode=<!-- TMPL_VAR name="statuscode" escape="HTML" -->">Edit</a>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=delete_confirm&amp;statuscode=<!-- TMPL_VAR name="statuscode" escape="HTML" -->">Delete</a>
    </td>
  </tr>
  <!-- /TMPL_LOOP -->
</table>

<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>

<!-- /TMPL_IF -->



</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
