<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; System Preferences</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
        $( function() {
            $( '#sysprefst .expand-textarea' ).show().click( function () {
                $( this ).hide().nextAll( 'textarea, input[type=submit]' ).show( 'slow' );

                return false;
            } ).nextAll( 'textarea, input[type=submit]' ).hide();
        } );
        //]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="sysprefs-admin-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; System Preferences</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">

    <!-- TMPL_IF NAME="add_validate" -->
        <h3>Data recorded</h3>
        
        <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="submit" value="OK" />
        </form>

    <!-- TMPL_ELSE -->
    
    <h1>System preferences admin</h1>
    <TMPL_IF loop>
      <h2><!-- TMPL_VAR name="tab" --> preferences</h2>
    <table width="80%" id="sysprefst">
    <thead><tr>
        <th>Preference</th>
        <th>Explanation</th>
        <th>Value</th>
    </tr></thead>
    <tbody><!-- TMPL_LOOP NAME="loop" -->
    <!-- TMPL_UNLESS NAME="__odd__" --><tr class="highlight"><!-- TMPL_ELSE --><tr><!-- /TMPL_UNLESS -->

        <td><strong><!-- TMPL_VAR NAME="variable" --></strong></td><td> <!-- TMPL_VAR NAME="explanation" ESCAPE="HTML" --></td>
        <!-- TMPL_IF NAME="oneline" -->
        <td class="single-line">
        <!-- TMPL_ELSE -->
        <td>
        <!-- /TMPL_IF -->
            <form action="/cgi-bin/koha/admin/systempreferences.pl" method="post">

                <!-- TMPL_IF NAME="type-free" -->
                <input type="text" name="value" size="<!-- TMPL_VAR NAME="fieldlength" -->" value="<!-- TMPL_VAR NAME="value" escape="HTML" -->" />
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="type-textarea" -->
                <a class="expand-textarea" style="display: none" href="#">Click to Edit</a>
                <textarea name="value" rows="<!--TMPL_VAR NAME="rows" -->" cols="<!-- TMPL_VAR NAME="cols" -->"><!-- TMPL_VAR NAME="value" escape="HTML" --></textarea>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="type-choice" -->
                <select name="value">
                    <!-- TMPL_LOOP NAME="options" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <option value="<!-- TMPL_VAR NAME="option" -->" selected="selected">
                        <!-- TMPL_ELSE -->
                            <option value="<!-- TMPL_VAR NAME="option" -->">
                        <!-- /TMPL_IF --><!-- TMPL_VAR NAME="option" --></option>
                    <!-- /TMPL_LOOP -->
                </select>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="type-langselector" -->
                <!-- TMPL_IF NAME="languages_loop" -->
                <table>
                <!-- TMPL_LOOP NAME="languages_loop" -->
                <tr><td>
                    <!-- TMPL_IF NAME="plural" -->
                    <!-- TMPL_IF NAME="native_description" --><!-- TMPL_VAR NAME="native_description" --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="rfc4646_subtag" --><!-- /TMPL_IF -->
                    <!-- TMPL_LOOP NAME="sublanguages_loop" --><table><tr><td>
                        <!-- TMPL_IF NAME="sublanguage_current" -->
                            <label for="<!-- TMPL_VAR NAME="rfc4646_subtag" -->"><!-- TMPL_VAR NAME="native_description" --> <!-- TMPL_VAR NAME="script_description" --> <!-- TMPL_VAR NAME="region_description" --> <!-- TMPL_VAR NAME="variant_description" -->(<!-- TMPL_VAR NAME="rfc4646_subtag" -->)
                            <input value="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" name="value" id="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" type="checkbox" <!-- TMPL_IF NAME="enabled" -->checked="checked"<!-- /TMPL_IF --> /> </label>

                        <!-- TMPL_ELSE -->
                            <label for="<!-- TMPL_VAR NAME="rfc4646_subtag" -->"><!-- TMPL_VAR NAME="native_description" --> <!-- TMPL_VAR NAME="script_description" --> <!-- TMPL_VAR NAME="region_description" --> <!-- TMPL_VAR NAME="variant_description" -->(<!-- TMPL_VAR NAME="rfc4646_subtag" -->)
                            <input value="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" name="value" id="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" type="checkbox" <!-- TMPL_IF NAME="enabled" -->checked="checked"<!-- /TMPL_IF --> /> </label>
                        <!-- /TMPL_IF --></td></tr></table>
                    <!-- /TMPL_LOOP -->

                    <!-- TMPL_ELSE -->
                        <!-- TMPL_IF NAME="current" -->
                    <label for="<!-- TMPL_VAR NAME="rfc4646_subtag" -->"><!-- TMPL_VAR NAME="native_description" -->(<!-- TMPL_VAR NAME="rfc4646_subtag" -->)
                            <input value="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" name="value" id="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" type="checkbox" <!-- TMPL_IF NAME="group_enabled" -->checked="checked"<!-- /TMPL_IF --> /> </label>
                        <!-- TMPL_ELSE -->
                    <label for="<!-- TMPL_VAR NAME="rfc4646_subtag" -->"><!-- TMPL_VAR NAME="native_description" -->(<!-- TMPL_VAR NAME="rfc4646_subtag" -->)
                            <input value="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" name="value" id="<!-- TMPL_VAR NAME="rfc4646_subtag" -->" type="checkbox" <!-- TMPL_IF NAME="group_enabled" -->checked="checked"<!-- /TMPL_IF --> /> </label>
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_IF -->
                </td></tr>
                <!-- /TMPL_LOOP -->
                </table>
                <!-- /TMPL_IF -->

                <!-- /TMPL_IF -->

                <!-- TMPL_IF NAME="type-yesno" -->
                    <!-- TMPL_IF NAME="value-yes" -->
                        <input type="radio" name="value" value="1" checked="checked" /><!-- TMPL_ELSE --><input type="radio" name="value" value="1" />
                    <!-- /TMPL_IF -->
                    <label for="value" class="yesno">ON</label>
                    <!-- TMPL_IF NAME="value-no" -->    
                        <input type="radio" name="value" value="0" checked="checked" /><!-- TMPL_ELSE --><input type="radio" name="value" value="0" />
                    <!-- /TMPL_IF -->
                    <label for="value-no" class="yesno">OFF</label>
                <!-- /TMPL_IF -->
                <input type="hidden" name="op" value="add_validate" />
                <input type="hidden" name="variable" value="<!-- TMPL_VAR NAME="variable" -->" />
                <input type="hidden" name="prefoptions" value="<!-- TMPL_VAR NAME="prefoptions" escape="HTML" -->" />
                <input type="hidden" name="preftype" value="<!-- TMPL_VAR NAME="type" -->" />
                <input type="hidden" name="explanation" value="<!-- TMPL_VAR NAME="explanation" escape="HTML" -->" />
                <input type="submit" value="Save" />
            </form>
        </td>
    </tr>
    <!-- /TMPL_LOOP --></tbody>
    </table>
    </TMPL_IF>
    
    <!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="sysprefs-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
