<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Socio, detalles</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<div id="doc" class="yui-t7">
   <div id="bd">

	<h1>Socio, detalles</h1>
	
	<form name="form" method="post" action="/cgi-bin/members/borrowers_details.pl">
	<!-- TMPL_IF NAME="Institution"-->	
		
		<p>
		
			<label for="description">Categría de socio</label>		
			<input  type="text" id="description" name="description" size="20" value="<!-- TMPL_VAR NAME="description" -->" />
		</p>
		<p>
			
			<label for="surname">Organization name</label>
			<input style="text-transform:uppercase;" type="text" id="surname" name="surname" size="20" value="<!-- TMPL_VAR NAME="surname" -->" />
		</p>
		
	<!-- TMPL_ELSE -->	

		<p>
			<label for="description">Categría de socio</label>
			<input  type="text" name="description" id="description" size="20" value="<!-- TMPL_VAR NAME="description" -->" />
			</p>
		<p>
			<label for="title">T&iacute;tulo</label>
			<input  type="text" name="title" id="title" size="20" value="<!-- TMPL_VAR NAME="title" -->" />
			
		</p>
		<p>
			<label for="surname">Apellidos</label>
			<input  style="text-transform:uppercase;" type="text" id="surname" name="surname" size="20" value="<!-- TMPL_VAR NAME="surname" -->" />
		</p>
			
		<p>	
			
			<label for="firstname">Nombre</label>
			<input  style="text-transform:capitalize;" type="text" id="firstname" name="firstname" size="20" value="<!-- TMPL_VAR NAME="firstname" -->" />
		</p>
		<p>
			<label for="dateofbirth">Fecha de nacimiento </label>
			<input  type="text" name="dateofbirth" id="dateofbirth" size="20" value="<!-- TMPL_VAR NAME="dateofbirth" -->" />
		</p>		
		
		
			
		
	<!-- /TMPL_IF -->
	<p>
		<a href="#" onclick="window.close()">Cerrar ventana</a>
	</p>
	
	</form>

</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
