<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Socios &rsaquo; Cuenta de <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a> &rsaquo; Clubs &amp; Services for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></div>

<div id="doc3" class="yui-t2">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b">

  <table>
  <thead>
  <tr><th colspan="5">Currently Enrolled Clubs & Services</th></tr>
  <tr>
    <th>T&iacute;tulo</th>
    <th>Descripci&oacute;n</th>
    <th>Biblioteca</th>
    <th>Tipo</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<!-- TMPL_IF NAME="enrolledClubsAndServicesLoop" -->

    <!-- TMPL_LOOP NAME="enrolledClubsAndServicesLoop" -->
      <!-- TMPL_IF NAME="odd" --><tr class="highlight"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
        <td><!-- TMPL_VAR NAME="title" --></td>
        <td><!-- TMPL_VAR NAME="description" --></td>
        <td><!-- TMPL_VAR NAME="branchcode" --></td>
        <td><!-- TMPL_VAR NAME="type" --></td>
        <td><a href="clubs_services.pl?action=cancel&caseId=<!-- TMPL_VAR NAME="caseId" -->&borrowernumber=<!-- TMPL_VAR NAME="borrowernumber"-->">Cancelar</a></td>
      </tr>
    <!-- /TMPL_LOOP -->

<!-- TMPL_ELSE -->
  <tr><td colspan="5"><Patron Is Not Enrolled In Any Clubs Or Services></tr></td>
<!-- /TMPL_IF -->
  </tbody>

  <tr><td colspan="5">&nbsp;</td></tr>

  <thead>
  <tr><th colspan="5">Enroll In Clubs & Services</th></tr>
  <tr>
    <th>T&iacute;tulo</th>
    <th>Descripci&oacute;n</th>
    <th>Biblioteca</th>
    <th>Tipo</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<!-- TMPL_IF NAME="enrollableClubsAndServicesLoop" -->

    <!-- TMPL_LOOP NAME="enrollableClubsAndServicesLoop" -->
      <!-- TMPL_IF NAME="odd" --><tr class="highlight"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
        <td><!-- TMPL_VAR NAME="title" --></td>
        <td><!-- TMPL_VAR NAME="description" --></td>
        <td><!-- TMPL_VAR NAME="branchcode" --></td>
        <td><!-- TMPL_VAR NAME="type" --></td>
        <td><a href="clubs_services_enroll.pl?casId=<!-- TMPL_VAR NAME="casId" -->&casaId=<!-- TMPL_VAR NAME="casaId" -->&borrowernumber=<!-- TMPL_VAR NAME="borrowernumber"-->">Enroll</a></td>
      </tr>
    <!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->
  <tr><td colspan="5">There Are No New Clubs Or Services To Enroll In</td></tr>
<!-- /TMPL_IF -->
  </tbody>

  </table>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div> 
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
