<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; No puede eliminar el socio</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Socios</a> &rsaquo; No puede eliminarse el patron</div>
<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" --><h3>No se puede borrar socio</h3>
		<ul><!-- TMPL_IF name="ItemsOnIssues" -->
			<li>El socio tiene <!-- TMPL_VAR name="ItemsOnIssues" --> item(s) prestados.</li>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="charges" -->
			<li>El socio tiene <!-- TMPL_VAR name="charges" --> en multas.</li>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="guarantees" -->
			<li>La cuenta del socio tiene cuentas garantes asociadas.</li>
		<!-- /TMPL_IF --></ul>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
