<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Buscar Garantes</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
    <style type="text/css">
    #custom-doc { width:44.46em;*width:43.39em;min-width:578px; margin:auto; text-align:left; }
    </style>
    <script type="text/javascript">
        <!--
        function fillguarantor(id, surname, firstname, streetnumber, address, city, zipcode) {
            var $ = window.opener.$;
            var form = $('#entryform').get(0);

            if (form.guarantorid.value) {
                $("#contact-details").find('a').remove();
                $("#contactname, #contactfirstname").parent().find('span').remove();
            }

            form.guarantorid.value = id;
            $('#contact-details')
                .show()
                .find('span')
                .after('<a target="blank" href="/cgi-bin/koha/members/moremember.pl?borrowernumber=' + id + '">' + id + '</a>');

            $(form.contactname)
                .val(surname)
                .before('<span>' + surname + '</span>').get(0).type = 'hidden';
            $(form.contactfirstname)
                .val(firstname)
                .before('<span>' + firstname + '</span>').get(0).type = 'hidden';

            form.streetnumber.value = streetnumber;
            form.address.value = address;
            form.city.value = city;
            form.zipcode.value = zipcode;

            form.guarantorsearch.value = 'Change';
            self.close();
        }
        // -->
    </script>
</head>

<div id="custom-doc" class="yui-t7">
   <div id="bd">
	<div class="yui-g">
	

<h3>Buscar por garante</h3>
	<form action="/cgi-bin/koha/members/guarantor_search.pl" method="post">
		<fieldset>
		<input type="text" name="member" id="member" value="<!-- TMPL_VAR NAME="member" -->" class="focus" /> Ordenado por
		<select name="orderby">
			<option value="surname,firstname">Apellidos</option>
			<option value="cardnumber">N&uacute;mero de Carnet</option>
		</select> <input type="submit" class="button" value="Buscar"></fieldset>
	</form>

<!--TMPL_IF NAME="results" -->
	<p>Buscar <span class="ex"><!-- TMPL_VAR NAME="member" --></span>, <!-- TMPL_VAR Name ="numresults" --> usuario(s) encontrados:</p>
	<table>
		<tr>
			<th>N&uacute;mero de Carnet</th>
			<th>Nombre</th>
			<th>Fecha de nacimiento</th>
			<th>Direcci&oacute;n</th>
            <th>¿Seleccionar?</th>
		</tr>
		<!-- TMPL_LOOP NAME="resultsloop" -->
			<tr>
				<td><!-- TMPL_VAR NAME="cardnumber" --></td>
                <td>
                    <!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" -->
                </td> 
				<td><!-- TMPL_VAR NAME="dateofbirth" --></td>
				<td><p><!-- TMPL_VAR NAME="address" --> <!-- TMPL_VAR NAME="city" --></p></td>
                <td>
                    <form action="">
                        <input type="button" onclick="fillguarantor('<!-- TMPL_VAR NAME="borrowernumber" -->', '<!-- TMPL_VAR NAME="surname" ESCAPE=JS -->', '<!-- TMPL_VAR NAME="firstname" ESCAPE=JS -->', '<!-- TMPL_VAR NAME="streetnumber" ESCAPE=JS -->', '<!-- TMPL_VAR NAME="address" ESCAPE=JS -->', '<!-- TMPL_VAR NAME="city" ESCAPE=JS -->', '<!-- TMPL_VAR NAME="zipcode" ESCAPE=JS -->'); return false;" value="Seleccionar">
                    </form>
                </td>
			</tr>
		<!-- /TMPL_LOOP -->
	</table>
<!--/TMPL_IF-->

<div id="closewindow"><a href="#" class="close">Cancelar</a></div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
