<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Registro de lectura para <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Socios</a> &rsaquo; Historial de circulación para <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-toolbar.inc" -->
<h1>Registro de Lectura</h1>
<form action="/cgi-bin/koha/members/readingrec.pl" method="get"><input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" /></form>
<p><!-- TMPL_IF NAME="showfulllink" -->Mostrando todos los ítems | <a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=50">Mostrar los últimos 50 items</a> <!-- TMPL_ELSE -->	Mostrando los últimos 50 items |<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=full">Mostrar todos los ítems</a><!-- /TMPL_IF --></p>
<table>
<tr>
	<th>
		<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;order=title&amp;limit=<!-- TMPL_VAR name="limit" -->">T&iacute;tulo</a>
	</th>
	<th>
		<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;order=author&amp;limit=<!-- TMPL_VAR name="limit" -->">Autor</a>
	</th>
	<th>Signatura</th>
	<th>C&oacute;digo de barras</th>
	<th>Number of Renewals</th>
	<th>Fecha de devoluci&oacute;n</th>
	<th>
		<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;order=returndate%20DESC&amp;limit=<!-- TMPL_VAR name="limit" -->">Fechas de devolución</a>
	</th>
</tr>
<!-- TMPL_LOOP name="loop_reading" -->
<!-- TMPL_UNLESS NAME="__odd__" -->
    <!-- TMPL_IF NAME="returndate" --><tr class="highlight"><!-- TMPL_ELSE --><tr class="highlight onissue"><!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
    <!-- TMPL_IF NAME="returndate" --><tr><!-- TMPL_ELSE --><tr class="onissue"><!-- /TMPL_IF -->
<!-- /TMPL_UNLESS -->

            <td>
            <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">
                <!-- TMPL_VAR name="title" escape="html" -->
            </a>
        </td>

            <td>
        <!-- TMPL_VAR name="author" --></td>

            <td>
        <!-- TMPL_VAR NAME="classification" --></td>

            <td>
        <!-- TMPL_VAR NAME="barcode" --></td>

            <td>
        <!-- TMPL_VAR NAME="renewals" --></td>
			<td><!-- TMPL_IF NAME="date_due" --><!-- TMPL_VAR NAME="date_due" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
            <td>
        <!-- TMPL_IF NAME="returndate" -->
            <!-- TMPL_VAR name="returndate" -->
        <!-- TMPL_ELSE -->
            Prestado
        <!-- /TMPL_IF -->
	</td>
</tr>
<!-- /TMPL_LOOP -->
</table>

<h2>Reserves History</h2>
<!-- TMPL_IF NAME="reserves_stats_loop" -->
	<table>
		<thead>
		<tr>
			<th>Acción</th>
			<th>T&iacute;tulo</th>
			<th>Autor</th>
			<th>Fecha</th>
		</tr>
		</thead>

		<tbody>
		<!-- TMPL_LOOP NAME="reserves_stats_loop" -->
			<tr>
				<td><!-- TMPL_VAR NAME="type" --></td>
				<td><!-- TMPL_VAR NAME="title" --></td>
				<td><!-- TMPL_VAR NAME="author" --></td>
				<td><!-- TMPL_VAR NAME="date_formatted" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
		</tbody>
	</table>
<!-- /TMPL_IF -->

<h2>Sent Notices History</h2>
<!-- TMPL_IF NAME="notices_sent_stats_loop" -->
	<table>
		<thead>
		<tr>
			<th>Avisos</th>
			<th>Fecha</th>
		</tr>
		</thead>

		<tbody>
		<!-- TMPL_LOOP NAME="notices_sent_stats_loop" -->
			<tr>
				<td><!-- TMPL_VAR NAME="title" --></td>
				<td><!-- TMPL_VAR NAME="date_formatted" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
		</tbody>
	</table>
<!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
