<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Exportar MARC</h1>

<p>Esta es una herramienta que se utiliza para exportar registros bibliogr&aacute;ficos en el formato est&aacute;ndar MARC (ISO2709). Exporta solamente la informaci&oacute;n bibliogr&aacute;fica b&aacute;sica sin ninguna otra informaci&oacute;n que no sea la originalmente cargada en Koha usando la herramienta de importaci&oacute;n a granel.</p>

<p>Se le pide que proporcione un número de registro de libro de inicio y un número final para la exportación. Si quiere exportar todos sus registros, deje el número de inicio y final en blanco.</p>

<p>Los registros son descargados a la estación de trabajo que solicita la exportación y es guardado en un archivo llamado "marc.pl."</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->