<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socios (anonimizar, borrar en bloque)</h1>

<p>Esta herramienta permite a anonimizar a granel los historiales de circulación o borrar a granel los registros de socios. Esto significa que el sistema mantiene un vínculo entre los antiguos préstamos y sus items, pero rompe el vínculo con el prestatario.</p>

		<ul>
			<li>Una vez en la herramienta, usted tiene dos opciones </li>
			<li>Marque la casilla al lado dela acción que desea realizar
			<ul>
				<li>Para eliminar socios, introduzca la fecha desde la última vez que tomó algo en préstamo</li>
				<li>Para anonimizar el historial de circulación ingrese la fecha desde que los datos serán borrados</li>
			</ul></li>
		</ul>
		
<h2>¿Hay alguna forma de ejecutar esta herramienta automáticamente?</h2>
<p>No ahora</p>
<h2>Puede la generación de este informe romper la conexión entre los usuarios y los items que tienen prestados?</h2>
<p>No, este informe sólo eliminará las conexiones entre los socios y los items que se habían prestado pero que ya se han devuelto.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->