<!-- TMPL_INCLUDE NAME="help-top.inc" -->   

   <h1>Exportar MARC</h1>
   <p>Esta herramienta permite la exportación tanto de los registros bibliográficos y como de las existencias, ya sea en formato MARC o MARCXML.</p>
   
	<p>
	    <span style="background-color: #ffe599">
CONSEJO: los únicos campos de los de arriba que son obligatorios son los dos que hay en 'Formato de salida'.</span></p>
		<ul>
			<li>Si desea un número limitado de registros, ingrese un filtro para números bibliográficos o topográficos.</li>
			<li>Si solo desea importar itmes de un tipo o de una biblioteca, seleccionelos del menú deplegable.</li>
			<li>Por defecto  se exportan todos los items salvo que está marcado 'No exportar items'</li>
			<li>También puede optar por no exportar campos específicos MARC
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: separar estos campos por un espacio.</span></li>
			</ul></li>
			<li>Haga clic en 'Exportar' y siga las instrucciones del navegador para guardar el archivo</li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->