<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Holidays Calendar</h1>

The calendar is used to define days when the library is closed for circulation rules.

<ul>
<li>Desde el menú puede elegir a que sede se la aplicarán los feriados.</li>
         <ul><li style="background-color: #ffe599">TIP: If you're entering universal holidays (that apply to all branches) you will be presented with an option to add to all when adding a new holiday.</li></ul>
<li>Para agregar un nuevo feriado, haga clic en la fecha en la que le gustaría añadir un feriado</li>
         <ul><li style="background-color: #ffe599">TIP: Click the plus sign (+) to the right of the holiday options for a helpful tip.</li></ul>
<li>Click on the date and fill in the necessary fields for your library.</li>
<li>Elija si este feriado se repite todos los días de la semana o una vez al año.</li>
         <ul><li style="background-color: #ffe599">CONSEJO: ejemplos de feriados repetibles serían Navidad, Año Nuevo, etc.</li></ul>
<li>Cuando haya introducido los datos necesarios haga clic en 'Guardar'</li>
<li>Once saved your holiday will be color-coded on the calendar and listed below the calendar</li>
</ul>

 
<h2>Questions</h2>

<p><strong>Why do I want to add holidays for my branch?</strong></p>

Después de haber ingresado las vacaciones en el calendario, se recalculan las reglas de circulación para tomar en cuenta que la biblioteca está cerrada y no habrá personal para receptar las devoluciones.

 
<p><strong>¿Cómo habilito el calendario de feriados?</strong></p>

Puede hacer uso del Calendario de Feriados habilitando la preferencia del sistema correspondiente
<ul>
<li><em>Get there:</em> More > Administration > Global System Preferences > Circulation > useDaysMode</li>
        <ul> <li>Seleccione el método de cálculo de fecha de vencimiento: seleccione 'Calendario' para que usar el módulo de feriados, y 'Días' para ignorar el módulo de feriados</li></ul>
<li><em>Get there:</em> More > Administration > Global System Preferences > Circulation > finescalendar</li>
        <ul> <li>Esto comprobará el calendario de feriados antes del cobro de multas</li></ul>
</ul>
 
<p><strong>How is the dropbox date is determined?</strong></p>

<p>Is it the last open date for the checkout branch? Is it today's date minus one? Can the dropbox checkin date be set? If the library is closed for four days for repairs, for example, there would be more than one day needed for the dropbox date.</p>

<p>You will only have one dropbox date and that will be the last day that the library open (determined by the holiday calendar) because there is no real way to know what day the books were dropped into the box during the 4 closed days. The only way to change the effective checkin date in dropbox mode is to modify the calendar.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->