<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socio, importar</h1>

		<ul>
			<li>Crear un archivo CSV para los datos de socios<br/>
			<ul>
				<li>Dele formato a su archivo con los siguientes campos
				<ul>
					<li>'surname', 'firstname', 'title', 'othernames', 'initials', 'streetnumber', 'streettype', 'address', 'address2', 'city', 'zipcode', 'country', 'email', 'phone', 'mobile', 'fax', 'emailpro', 'phonepro', 'B_streetnumber', 'B_streettype', 'B_address', 'B_address2', 'B_city', 'B_zipcode', 'B_country', 'B_email', 'B_phone', 'dateofbirth', 'branchcode', 'categorycode', 'dateenrolled', 'dateexpiry', 'gonenoaddress', 'lost', 'debarred', 'contactname', 'contactfirstname', 'contacttitle', 'guarantorid', 'borrowernotes', 'relationship', 'ethnicity', 'ethnotes', 'sex', 'password', 'flags', 'userid', 'opacnote', 'contactnote', 'sort1', 'sort2', 'altcontactfirstname', 'altcontactsurname', 'altcontactaddress1', 'altcontactaddress2', 'altcontactaddress3', 'altcontactzipcode', 'altcontactcountry', 'altcontactphone', 'smsalertnumber', 'patron_attributes'
					<ul>
						<li>
					    <span style="background-color: #ffe599">
CONSEJO: consulte a su administrador del sistema si no está seguro de cómo llenar los campos anteriores.</span></li>
						<li>					   
					   IMPORTANTE: Asegúrese de que 'branchcode' y 'categorycode' sean entradas válidas en su base de datos.</li>
						<li>Las contraseñas se almacenaran como texto claro, y serán cifradas cuando sean importadas.
						<ul>
							<li>
						    <span style="background-color: #ffe599">
CONSEJO: si sus contraseñas ya están cifradas, hable con su administrador de sistemas acerca de las opciones.</span></li>
						</ul></li>
					</ul></li>
				</ul></li>
			</ul></li>
			<li>Seleccione un archivo para importar en la tabla de socios</li>
			<li>Si existe en la tabla el número de carnet, puede elegir ignorar el nuevo o sobreescribir el viejo.</li>
			<li>Haga clic en 'Importar'</li>
			<li>Usted será llevado a una pantalla de confirmación.</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->