<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Inventario/existencias</h1><h2>¿Cómo uso esta función?</h2>

<p>Este carcaterística del inventario funciona usando &quot;Última vez visto&quot; como criterio para la creación de informes. A partir de estos informes la biblioteca puede identificar los items que faltan.</p>

<h2>¿Cómo obtengo un archivo de codigos de barra para subir?</h2>

<p>El modo más fácil de generar el archivo de código de barras es escaner los códigos de barras de todos los artículos en el estante in situ a un archivo de texto. Esto puede ser hecho usando un lector de código de barras manual y una PC portátil, o usando un ordenador personal portátil con un escaner integrado (ej. Palm o iPaq).</p><p>Guarde el archivo localmente en su máquina y luego cuando esté conectado a la red, abra la página Iinventario/balance de nuevo y utilice &quot;Examinar&quot; para encontrar el archivo en su disco. Ahora coloque 'última vez visto' en la fecha que desee (normalmente la fecha de hoy).  </p>

<h2>¿Cómo encuentro qué items estan perdidos?</h2>

<p>Ahora que ha configurado la fecha de visto por última vez de los items, puede utilizarla como criterio para generar un informe. Utilice 'Seleccione los items a prestar' para generar este informe. </p><p>NOTA: si ha escaneado todos los items de la biblioteca, usted no tendrá que cambiar ninguno de los criterios por defecto.</p><p>Establezca la fecha de "No visto desde" a el día <strong>antes </strong>la fecha que utilizó cuando estableció &quot; Visto por última vez&quot; al cargar el archivo de código de barras.</p><p>Pulse el botón 'Enviar' para generar la lista de items que Koha no ha visto. </p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->