<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de noticias</h1>

<h2>¿Qué es Novedades?</h2>

<p>Las noticias son redacciones breves que se pueden mostrar tanto en el OPAC y como en la interfaz del personal. Las noticias pueden ser formateadas usando código HTML.</p>

<h2>¿Cómo publico una noticia?</h2>
<p>Para agregar una nueva noticia los siguientes campos deben ser completados:</p>

<h3>Mostrar ubicaci&oacute;n</h3>
<p>Parra configurar un solo idioma, habrá 2 opciones. Una para el OPAC y otra para la interfaz del bibliotecario. Para configuraciones multilingües, se mostrarán múltiples idiomes para el OPAC. </p>
<p>Las noticias deberán ser ingresados en todos los idiomas para ser presentados en cada idioma en configuraciones multi lingues.</p><h3>T&iacute;tulo </h3>
<p>El título de la novedad. Intente que sea corto y descriptivo. Evite oraciones largas.</p><h3>Fecha de vencimiento</h3>
<p>Esta es la fecha en que la noticia debe ser retirada de la listas de noticias. Tenga en cuenta que el  la fecha de publicación de una noticia se pondrá por defecto en la fecha de hoy. </p>
<p>No introduzca una fecha de caducidad si desea que una noticia permanezca en la página </p><h3>Aparece en la posici&oacute;n</h3>
<p>Un valor entero (ej: 1,2,3). Los ítems en la posición 1 figuran al comienzo del listado. Si dos ejemplares tienen la misma posición, el orden se fijará por fecha de publicación, de tal manera que el más antiguo figure en primer lugar.</p><h3>Noticias</h3>
<p>Este es el contenido de la noticia. Tenga en cuenta que todas las noticias aparecen en la misma página. Trate de que las noticias no vayan más allá de un par de breves párrafos. Si desea agregar imágenes y que se integren a sus envíos , entonces deberá cargarlas a un servidor web y hacer un enlace desde la noticia a la imagen.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->