<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Avisos</h1>

<p>Los avisos son mensajes enviados a los socios, proveedores y personal para notificarlos de hechos de cierta importancia.</p>
<h2>Agregar una nueva notificación</h2>
		<ul>
			<li>Haga clic en 'Nuevo aviso'</li>
			<li>Seleccione un 'Módulo Koha' para asociarse con su anuncio del menú desplegable</li>
			<li>Ingrese un 'Código' que sea una abreviatura de su nuevo aviso (por ejemplo: 'ATR'  para un aviso de atraso) </li>
			<li>Ingrese un 'Nombre' para su nuevo aviso (por ejemplo 'Aviso por atraso')</li>
			<li>Ingrese un 'Asunto del mensaje' (por ejemplo 'Item atrasado')</li>
			<li>Elaborar el cuerpo del mensaje</li>
		</ul>
		<ul>
			<li> 
			<ul>
				<li>Seleccione un campo del menú desplegable de la izquierda
				<ul>
					<li>
				    <span style="background-color: #ffe599">
CONSEJO: para obtener ayuda sobre lo que es es el campo, ver la sección Avisos: campos de la  base de datos de este manual</span></li>
				</ul></li>
				<li>Para insertar el mensaje el campo que quiere que aparezca en  el aviso, haga clic en el  botón '&gt;&gt;'.</li>
				<li>Continúe agregando 'campos' y haga clic en &quot;&gt;&gt;&quot; para insertarlos en el aviso hasta que su mensaje se haya completado. </li>
				<li>A continuación, cliquee 'Enviar'</li>
			</ul></li>
			<li>
		    <span style="color: #ff0000">
IMPORTANTE: En la actualidad, Koha no puede referenciar multiples items en un solo aviso (en otras palabras --en el ejemplo de abajo-- hay UN email enviadoque describe TODOS los items retrasadosm pero un email enviado or CADA retraso)  </span></li>
		</ul><h3>	   
	   ¿Cómo planifico avisos de retrasos?</h3>Para programar avisos de retraso, debe utilizar la herramienta 'Aviso/Disparador de situación'.<br/>
		<ul>
			<li><em>Llegar:</em> Más&gt; Herramientas&gt; Aviso de atraso </li>
		</ul>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->