<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Administrar registros MARC preparados</h1>

<p>Después de importar los registros, puede revisarlos antes de finalizar la operación.</p>
	<ul>
		<li>Por defecto, los registros se emparejan utilizando el campo que especificó cuando importó los datos
		<ul>
			<li>Puede cambiar esto antes de completar la importación eligiendo una nueva opción del menú desplegable.</li>
		</ul></li>
		<li>Después de revisar los registros, haga clic en &quot;Completar importación&quot;</li>
		<li>Después de que su importación se haya completado, podrá ver un resumen de la importación y deshacer acciones</li>
	</ul>
	
	<h2>Cleaning Staged Records</h2>
<ul>
	<li>Next to each entry on the list of imported files to import is a clean button.&nbsp; </li>
	<li>Clicking 'clean' will clear those records from the database</li>
	<li style="color: #ff0000">IMPORTANT: This cannot be undone.</li>
</ul>

	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->