<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>'Disparadores de estatus/aviso' de retrasos</h1>

<p>Esta herramienta permite definir disparadores para avisos de retraso. Puede enviar a un socio hasta tres avisos y también decirle a Koha cuantos días deben pasar entre el día entre la fecha de vencimiento y el envío de los avisos. Koha permite programar los avisos según la sede y tipo de socio de cada sede. Por último puede configurar un aviso para activar congelar  la cuenta del socio durante cualquiera de los tres avisos.</p>

		<ul>
			<li>Ir al módulo de  'Herramientas'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Disparadores de avisos/estado'</li>
			<li>'Seleccione una biblioteca' para definir un esquema de retrasos para</li>
			<li>
		    <span style="background-color: #ffe599">
TIP: If you would like to define one overdue schedule for ALL libraries at once, select 'Default'. This will apply the schedule you define to all the libraries in your system</span></li>
		</ul>
		<ul>
			<li>Por cada tipo de usuario (en la columna de la izquierda), introducir un número en las columna 'Retraso'. El número que introduzca representa DÍAS.<br/>
			<ul>
				<li>El número que entre es la cantidad de d&iacute;as que transcurren entre el vencimiento de un &iacute;tem no devuelto antes que se produzca una acción.</li>
			</ul></li>
			<li>Paracada 'Retraso'  usted deberá elegir un aviso (o 'carta') que será enviada al socio.<br/>
			<ul>
				<li>
			    <span style="background-color: #ffe599">
CONSEJO: Ud. tendrá que configurar los avisos de biblioteca para poblar este desplegable.</span><br/>
				<ul>
					<li><em>Llegar:</em> Más&gt; Herramientas&gt; Avisos</li>
				</ul></li>
			</ul></li>
		</ul>
		<ul>
			<li>Cuando haya terminado, haga clic en  'Guardar cambios'</li>
		</ul>	   
	   <h3>Ayuda! he recibido un mensaje de error!</h3>
	   
	   <p>Si los números que ingresó en la fila bajo la columna 'retardo' son lógicamente inconsistentes, Koha le dará una alerta, y le explicará la inconsistencia.</p>
<h3>¿Qué sucede si dejo el valor de tipo de socio en blanco? (es decir, no se han definido 'retrasos')</h3>

<p>Si desea que Koha desencadene una acción (enviar una carta o deshabilitar un socio), se requiere un valor de retardo. Que no haya retardo significa que no se tomará una acción</p>
<h3>¿Dónde puedo definir calendarios de retrasos? (es decir, cuántos días pasan antes de un ítem se considere 'retrasado')</h3>

<p>La duración del préstamo se define en el módulo de 'Administración' del Koha:</p>
			<ul>
				<li><em>Llegar::</em> Más&gt; Administración&gt; Reglas de circulación (en 'Socios y Circulación ') </li>
			</ul>
<h3>¿Dónde defino multas?</h3>
			<ul>
				<li><em>Llegar::</em> Más&gt; Administración&gt; Reglamento de multas en 'Socios y Circulación ') </li>
			</ul>
<h3>¿Qué tipo de aviso es enviado cuando se activa un 'disparador' en el módulo 'Disparadores de Avisos/Estado'? ¿Correo electrónico? ¿Aviso impreso?</h3>
<p>Koha maneja los avisos de retraso en una de dos maneras automaticas: por e-mail o por etiquetas impresas. Si un socio tiene una derección de email definida en cuenta, los avisos de retrasos le serán enviados al email del socio de acuerdo a una planificación definida en la herramienta  'Notificaciones/Disparadores de estado'.</p>

		    <p style="background-color: #ffe599">
CONSEJO: los socios pueden modificar sus parámetros de  notificación mediante la herramienta de mensajería en su cuenta.</p>
<p>Avisos a socios sin email definido serán enviados a la biblioteca. El email es enviado a la dirección del administrador de la sede, o en caso de fallos a la dirección configurada en la preferencia del sistema 'KohaAdminEmailAddress'. Este email es generado por al tera programada 'misc/cronjobs/overdue_notices.pl. Contacte al administrador del sistema por ayuda en la implementación de este servicio.</p>
		   
		   <p><strong>IMPORTANTE:</strong> El reporte de avisos por email que se compila y envía al administrador (para socios sin email en Koha) depende del campo 'delays' para determinar cuando y que tan amenudo se envía el email.</p>

<h3>¿Dónde se definen los avisos? (es decir, qué información aparecerá en el aviso)</h3>
		<ul>
			<li><em>Llegar:</em> Más&gt; Herramientas &gt; Notificaciones o avisos</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->