<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>	   
	   Subir imágenes de socios</h1><p>Esta herramienta te permite cargar en lote varias imágenes.</p>
	   
	   <p><strong>IMPORTANTE:</strong> Se requiere que la preferencia del sistema 'patronimages' esté en 'ON ' para poder utilizar esta función.</p>
		<ul>
			<li><em>Llegar:</em> Más&gt; Administración &gt; Preferencias globales &gt; Socios &gt;  patronimages</li>
		</ul><h2>Subir imágenes a granel </h2>
		<ul>
			<li>Ir al módulo de  'Herramientas'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Subir imágenes de socios'</li>
			<li>Puede optar por subir imágenes a granel haciendo un archivo ZIP con las imágenes y un archivo de texto titulado 'DATALINK.TXT' o 'IDLINK.TXT'</li>
			<li>Por cada grupo de imágenes que tiene el númerode carnet del socio y el archivo que contiene las imágenes del socio. Un socio por linea con cada dato separado por comas o tabulaciones.<br/>
			<ul>
				<li>			   
			   IMPORTANTE: Asegúrese de que su archivo TXT es un documento de texto simple, no RTF.</li>
				<li>			   
			   
			    <span>
IMPORTANTE: Asegúrese de que utiliza una coma o una tabulación para separar los identificaciones de los nombres de imagen</span></li>
			</ul></li>
			<li>Añadir las imágenes y el archivo TXT a un archivo. ZIP</li>
			<li>Busque el archivo desde la interfaz Koha</li>
			<li>Haga clic en 'Desempaquetar' y usted recibirá una pantalla de confirmación</li>
			<li>Para ver la(s) imagen(es) que haya importado busque el(los) usuario(s) y vea su(s) perfil(es)</li>
			<li>Si desea cambiar la imagen, basta con cargar una nueva imagen</li>
			<li>Si desea borrar la imagen de un socio, cliquee el botón 'Eliminar' bajo 'Administrar imagenes de socios'</li>
		</ul>	   
	   <p><strong>Subiendo imágen</strong>
Si sólo tiene una imagen de socio para subir, subala usando la página de información del socio en vez del esta herramienta.</p>

		<ul>
			<li>Ir al menú de socios en la parte superior de la inrterfaz</li>
			<li>Buscar por el socio que tiene para la imagen</li>
			<li>Si hay más de un resultado, cliquee en el nombre del socio al que le gustaría añadir una imagen</li>
			<li>Desplácese hacia abajo hasta el formulario de cargar imágenes</li>
			<li>Busque la imagen en su computadora y haga cliquee 'Subir'</li>
			<li>Si desea cambiar la imagen, basta con cargar una nueva imagen</li>
			<li>Si desea borrar la imagen de un socio, cliquee el botón 'Eliminar' bajo 'Administrar imagenes de socios'</li>
		</ul><h3>¿Por qué no puedo subir imágenes de usuarios?</h3>
<p>Primero usted necesitará
	    <span class="ex">
una imagen de usuario/</span>directorio. Si no posee este directorio verá un error.</p>
			<ul>
				<li>Póngase en contacto con el administrador del sistema para crear este directorio y se le van a establecer.</li>
			</ul>
<h3>¿De qué tamaño pueden ser mis imágenes?</h3>
<p>Existe un límite de 100K en el tamaño de la imagen y se recomienda que la imagen sea de 120x200 píxeles. También funciona con imágenes más pequeñas.</p>
<h3>¿Qué formatos de imagen son aceptados?</h3>
<p>Sólo son soportados los formatos PNG, GIF, JPEG, XPM.</p>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->