<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Importación MARC</h1>

<p>Esta es una de las pantallas que ver&aacute; con frecuencia si comienza desde el principio.</p>

<p> Es &uacute;til importar unos cuantos libros iso2709 que pueden ser usados m&aacute;s tarde para una catalogaci&oacute;n r&aacute;pida</p>

<p>Primero, necesita ver en su computadora el registro MARC que ha elegido para su ítem. Haga clic en</p>

<p>Seleccione el archivo para explorar </p>

<p>Si no está seguro que efectívamente importó un registro, mantenga el botón de selección en</p>

<p>Ignorar este, mantener el existente.</p>

<p>Puede dar "nombre" a la importación: Esto puede servir  cuando necesite elegir entre más de 1 registro (o si desea saber de donde vienen los registros)</p>

<p> Tambi&eacute;n puede cambiar la codificaci&oacute;n de caracteres entre MARC21 y UNIMARC</p>

<p> En realidad no necesita nombrar a cada importaci&oacute;n, por lo que no tiene que llenar este campo si no quiere. Esto es &uacute;til para decir importaciones aparte si tiene m&aacute;s de una del mismo registro.</p>

<p><b>IMPORTANTE: Esta herramiento NO DEBE usarse para importar un archivo ISO2709 a su base de datos ACTIVA. Si necesita migrar datos, considere usar $kohaInstall/scripts/misc/bulkmarcimport.pl</b></p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->