<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ver log</h1>
		<ul>
			<li>El visor de registros le mostrará acciones realizadas en su SIB durante un período de tiempo.</li>
			<li>Seleccione la fecha de inicio y finalización que desea ver y haga clic en 'Ir' para ver los resultados en su pantalla</li>
			<li>Usted también tiene la opción de exportar estos datos para su utilización en un formato diferente sólo eligiendo exportar a una aplicación.
			<ul>
				<li>Esto tendrá como resultado un archivo con valores separados por comas (CSV).</li>
			</ul></li>
			<li>También puede optar por filtrar lo que se ve por cualquiera de los campos visibles.</li>
		</ul>
<p><strong>¿Por qué no se registran mis acciones de catalogación?</strong>
Usted puede no tener la preferencia del sistema 'Registros' habilitada</p>
		<ul>
			<li><em>Llegar:</em> Más&gt; Administración&gt; Preferencias del sistema globales&gt; Registros</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->