<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda para suscripciones a series</h1>

<p> Busque una suscripc&oacute;n usando el bot&oacute;n de filtro (con un ISSN o un t&iacute;tulo). Si ingresa un t&iacute;tulo, puede utilizar un comod&iacute;n: el t&eacute;rmino <b>%Times%</b> devuelve todas las suscripciones que tienen Times en cualquier parte del t&iacute;tulo. El t&eacute;rmino <b>New York%</b> devuelve las suscripciones cuyo t&iacute; tulo comienza con New York</p>
	<p>Si quiere crear una nueva suscripción, cliquee en 'Agregar Suscripción'.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
