<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ejemplares serieados y res&uacute;menes</h1>

<p>Esta pantalla est&aacute; dividida en dos partes</p>
	<h2>La parte derecha</h2>
	<p>La parte derecha trata con ejemplares. Cuando Ud. crea una nueva suscripción, el 1er ejemplar es calculado automáticamente. Cuando usted quiera o necesite, puede definir ejemplares que tengan un nuevo estado:</p>
	<ul>
		<li> Disponible : cuando un libro est&aacute; disponible, se puede establecer su estado como "disponible". Entonces, el ejemplar desaparece de esta lista, y el n&uacute;mero del ejemplar es agregado a la "lista de disponibles " (en el cuadro de la izquierda)</li>
		<li> Atrasado: significa que el libro se ha atrasado y que ya deber&iacute;a haber llegado. Un libro en la condición de  "Atrasado" permanece en la lista de ejemplares, al tiempo que se genera el pr&oacute;ximo n&uacute;mero esperado</li>
		<li>Faltante: significa que el ejemplar nunca llegará. El ejemplar desaparece de la lista, y el número de ejemplar se agrega a la 'lista de faltantes' (en el campo de la izquierda)</li>
	</ul>
	<h2>La parte izquierda</h2>
	<p>la parte izquierda contiene 6 elementos, algunos se calculan automáticamente pero pueden ser alterados</p>
	<ul>
		<li> Fecha de inicio de suscripci&oacute;n: la fecha de inicio de la primera suscripci&oacute;n. No deber&iacute;a ser modificada y no es modificada autom&aacute;ticamente por las renovaciones de suscripci&oacute;n</li>
		<li> Fecha de fin de suscripci&oacute;n: debe ser ingresada manualmente cuando se cierra la suscripci&oacute;n en forma definitiva</li>
		<li> N&uacute;meros disponibles : la lista de ejemplares que usted tiene en su biblioteca. Se llena autom&aacute;ticamente cuando un n&uacute;mero es marcado como "disponible". Se puede cambiar este campo manualmente si quiere, por ejemplo, cambiar una lista larga de n&uacute;meros (1,2,3,4,...,51) por una m&aacute;s corta (1-51)</li>
		<li>Números faltantes: es la lista de ejemplares que no se encuentran en la biblioteca y que nunca llegarán (o han sido perdidos). Se llena automáticamente cuando un número es marcado como 'faltante'. Puede cambiar manualmente este campo si quiere, por ejemplo, cambiar una lista larga (1,2,3,4,....,51) por una más corta (1-51)</li>
		<li>nota opac : el campo que aparece en el OPAC (con alguna otra informaci&oacute;n de la suscripci&oacute;n como ser fecha de comienzo y finalización). Este campo debe ser llenado a mano. Aqu&iacute; nada se coloca autom&aacute;ticamente</li>
		<li>nota opac : el campo que aparece en el interfaz de bibliotecario  (con alguna otra informaci&oacute;n de la suscripci&oacute;n como ser fecha de comienzo y finalización). Este campo debe ser llenado a mano. Aqu&iacute; nada se inserta autom&aacute;ticamente</li>
	</ul>
	<h2>Renovaciones de suscripci&oacute;n</h2>
	<p>Koha calcula automaticamente el final de una suscripción (basado en la fecha inicial y el número de artículos recibidos). Cuando una suscripción ha terminado, no se podrá cambiar el estado del último "número esperado" (ya que no es esperado en realidad). Para poder "recibir" este número, debe renovar su suscripción.</p>
	<p>Renovar una suscripción implica definir algunos datos sobre la renovación. Cuando esos datos hayan sido provistos, se creará automáticamente una sugerencia en Koha. Esta sugerencia puede ser administrada por el bibliotecario que hace los pedidos de libros, de la manera usual (presupuesto y proveedor son definidos aqui).</p>
	<p><i>Notar que la renovaci&oacute;n de la suscripci&oacute;n hecha por el "bibliotecario de publicaciones periódicas" se supone que es inmediata.  De hecho, la renovaci&oacute;n de la suscripci&oacute;n no ser&aacute; inmediata, pero no hemos querido a&nacute;adir demasiada complejidad al sistema.</i></p>
	</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
