<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda para detalles de suscripciones a series</h1>
	 En esta pantalla, puede ver el detalle de la suscripci&oacute;n, y modificarlo si es necesario.
	<ul>
		<h2>Bloque de informaci&oacute;n de la suscripci&oacute;n</h2>
		<p>contiene el nombre del bibliotecario que creó la suscripción, el nombre del proveedor de la suscripción, su costo y el presupuesto afectado. También contiene el tíulo de la publicación afectada por la suscripción.</p>
		<h2>Bloque de información de planificación</h2>
		<p>contiene información para calcular fechas de arribo.</p>
		<h2>Duraci&oacute;n de la suscripci&oacute;n</h2>
		<p>un campo en este bloque deber&iacute;a estar lleno: la longitud de la suscripci&oacute;n puede ser calculada en semanas, meses o n&uacute;mero de ejemplares a recibir</p>
		<h2>C&aacute;lculo de numeraci&oacute;n</h2>
		<p>La numeración de artículos recibidos puede contener fórmulas complejas. La "Formula de numeración" puede estar llena de cualquier texto y/o números. El usuario tiene 3 símbolos especiales <b>{X}</b>, <b>{Y}</b> y <b>{Z}</b> para definir la fórmula de cálculo. Los valores XYZ son calculados con el método siguiente:</p>
			<ul>
				<li>Agregar: este nú;mero es agregado a XYZ</li>
				<li>una vez cada: el número anterior se pueden añadir en cada ejemplar o con menos frecuencia</li>
				<li>Cuando es más que: si el n&uacute;mero calculado es mayor que el valor de aqu&iacute;</li>
				<li> Volver a : si la condici&oacute;n previa es v&aacute;lida, el n&uacute;mero calculado es establecido como &eacute;ste en su lugar.</li>
				<li>Último valor/comienza con : el &uacute;ltimo valor calculado o el primer valor (cuando se agrega una suscripci&oacute;n</li>
			</ul>
		<h2>Muestra</h2>
			 Considerando la formula <b>#{X}/{Y}</b>. La siguiente configuraci&oacute;n XYZ:
			<ul><li> <b>X</b> agregar <b>1</b> una vez cada <b>4</b> veces. Cuando resulte más que <b>9999999</b> volver a <b>vacío</b>. Comienza con <b>2004</b></li>
			<li> <b>Y</b> agregar <b>1</b> una vez cada <b>1</b> veces. Cuando resulte más que <b>4</b> volver a <b>4</b>. Comienza con <b>1</b></li></ul>
			resultará en los siguientes números de préstamos :
			<b> #2004/1,#2004/2,#2004/3,#2004/4,#2005/1,#2005/2,#2005/3,#2005/4,#2006/1
		<p>
		</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
