<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 
    <!-- TMPL_IF NAME="nopermission" -->Acceso denegado<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="timed_out" -->La sesión ha expirado<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="different_ip" -->cambiar dirección IP<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="invalid_username_or_password" -->Nombre de socio o contraseña inválido<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="loginprompt" -->Entrar a Koha<!-- /TMPL_IF -->
</title>

<!-- TMPL_INCLUDE NAME="installer-doc-head-close.inc" -->
<div id="login">
<h1><a>Instalador Koha 3.0</a></h1>
<!-- TMPL_IF NAME="nopermission" -->
<div id="login_error"><strong>Error: </strong>Usuario no autorizado <a href="/cgi-bin/koha/mainpage.pl?logout.x=1">haga clic para salir</a></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="timed_out" -->
<div id="login_error"><strong>Error: </strong>La sesión ha expirado, por favor ingrese nuevamente</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="different_ip" -->
<div id="login_error"><strong>Error: </strong>La dirección IP ha cambiado, por favor ingrese nuevamente </div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="invalid_username_or_password" -->
<div id="login_error"><strong>Error: </strong>Nombre de socio o contraseña inválido</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="loginprompt" -->
<!-- login prompt time-->
<form action="<!-- TMPL_VAR NAME="url" -->" method="post" name="mainform" id="mainform">
<!-- TMPL_LOOP NAME="INPUTS" -->
    <input type="hidden" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->" />
<!-- /TMPL_LOOP -->
<h3>Bienvenido al Instalador Web de Koha</h3>
<p>Antes de comenzar, verifique si posse la autorización necesaria para poder continuar. Por favor ingrese con el nombre de usuario y la contraseña otorgada por su administrador del sistema y localizada en su
<code>koha-conf.xml</code> archivo de configuración</p>
<p>Por favor, introduzca su ID de usuario y contraseña:</p>
<p><label>Nombre de usuario:<br />
<input type="text" name="userid" id="userid" class="input" value="<!-- TMPL_VAR NAME="userid" -->" size="20" tabindex="1" /></label>
</p>
<p><label>Contraseña:<br />
<input type="password" name="password" id="password" class="input" value="" size="20" tabindex="2" /></label>
</p>
<p class="submit"><input id="submit" type="submit" value="Ingresar a la cuenta  &raquo;" tabindex="4"></p>
</form>

<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
