<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><title>Inicio &rsaquo; Instalador Web &rsaquo; Paso 3</title>
<!--TMPL_IF Name="finish"--><meta http-equiv="refresh" content="10; url=/cgi-bin/koha/mainpage.pl"><!--/TMPL_IF-->
<!-- TMPL_INCLUDE NAME="installer-doc-head-close.inc" -->
<div>
<h1 id="logo"><img alt="Koha" src="/intranet-tmpl/prog/img/koha.org-logo.gif" /> Instalador Web &rsaquo; Paso 3</h1>

<!--TMPL_IF NAME="selectframeworks"-->
    <script language="JavaScript">
    <!--
    
    var sURL = unescape(window.location.pathname);
    
    function doLoad()
    {
        // the timeout value should be the same as in the "refresh" meta-tag
        setTimeout( "refresh()", 2*1000 );
    }
    
    function refresh(value)
    {
        //  This version of the refresh function will cause a new
        //  entry in the visitor's history.  It is provided for
        //  those browsers that only support JavaScript 1.0.
        //
        sURL=sURL+'?step=3&op=selectframeworks&fwklanguage='+value;
        window.location.href = sURL;
    }
    
    //-->
    </script>
    
    <script language="JavaScript1.1">
    <!--
    function refresh(value)
    {
        //  This version does NOT cause an entry in the browser's
        //  page view history.  Most browsers will always retrieve
        //  the document from the web-server whether it is already
        //  in the browsers page-cache or not.
        //  
        sURL=sURL+'?step=3&op=selectframeworks&fwklanguage='+value;
        window.location.replace( sURL );
    }
    //-->
    </script>
    
    <script language="JavaScript1.2">
    <!--
    function refresh(value)
    {
        //  This version of the refresh function will be invoked
        //  for browsers that support JavaScript version 1.2
        //
        
        //  The argument to the location.reload function determines
        //  if the browser should retrieve the document from the
        //  web-server.  In our example all we need to do is cause
        //  the JavaScript block in the document body to be
        //  re-evaluated.  If we needed to pull the document from
        //  the web-server again (such as where the document contents
        //  change dynamically) we would pass the argument as 'true'.
        //  
        sURL=sURL+'?step=3&op=selectframeworks&fwklanguage='+value;
        window.location.replace( sURL );
    }
    //-->
    </script>
    </head>
    <body>
    <script language="JavaScript">
    function Hide(link) {
            subfield = document.getElementById('bloc'+link);
        var initstyle=subfield.style.display;
            if (initstyle == 'block') subfield.style.display = 'none' ;
            if (initstyle == 'none') subfield.style.display = 'block' ;
    }
    </script>
<!--/TMPL_IF-->
<!--TMPL_IF Name="finish"-->
    <h1>Feliciaciones, la instalaqci&oacute;n esta completa</h1>
    <p>Si esta página no lo redirige en 5 segundos, cliquee <a href="/">aquí</a>.</p> 
<!--/TMPL_IF-->
<!--TMPL_IF Name="choosemarc"-->
    <h2 align="center">Seleccionar el tipo de MARC</h2>
    <form name="frameworkselection" method="post" action="install.pl">   
    <input type="hidden" name="step" value="3" />
    <input type="hidden" name="op" value="selectframeworks" />
    <p>  
    <!--TMPL_LOOP Name="flavourloop"-->
    <div>
            <!--TMPL_IF Name="checked"-->
                <input type="radio" name="marcflavour" value="<!--TMPL_VAR Name="code"-->" checked /> <!--TMPL_VAR Name="label"--> <br/>
            <!--TMPl_ELSE-->
                <input type="radio" name="marcflavour" value="<!--TMPL_VAR Name="code"-->" /> <!--TMPL_VAR Name="label"--> <br/>
            <!--/TMPL_IF-->
    </div>
    <!--/TMPL_LOOP-->
    </p>
    <p> Haga clic en &quot;Pr&oacute;ximo&quot; para continuar <input value="Siguiente &gt;&gt;" type="submit"></p>
    </form>
<!--/TMPL_IF-->

<!--TMPL_IF Name="selectframeworks"-->
    <h2 align="center">Selección de configuración por defecto </h2>
    <form name="frameworkselection" method="post" action="install.pl">
    <input type="hidden" name="step" value="3" />
    <input type="hidden" name="op" value="addframeworks" />
    
    <!--TMPL_IF Name="frameworksloop"-->
    <h2>Hojas de trabajo MARC: <!--TMPL_VAR Name="marcflavour"--></h2>
    <!-- TMPL_IF Name="en_marc_frameworks" -->
        <h4><span class="error">No hay hojas de trabajo MARC disponibles para su idioma. Vuelva a las hojas de trabajo en inglés (en)<span></h4>
    <!-- /TMPL_IF -->
    <!--TMPL_LOOP Name="frameworksloop"-->
    <div>
    <h3><!--TMPL_VAR Name="label"--></h3>
    <!--TMPL_LOOP Name="frameworks"-->
        <table style="border:1px;vertical-align:top;">
        <tr>
        <td style="vertical-align:top;">
            <!--TMPL_IF Name="checked"-->
                <input type="checkbox" name="framework" value="<!--TMPL_VAR Name="fwkfile"-->" checked="checked" />
            <!--TMPl_ELSE-->
                <input type="checkbox" name="framework" value="<!--TMPL_VAR Name="fwkfile"-->" />
            <!--/TMPL_IF-->
        </td>
        <td>
            <!--TMPL_VAR Name="fwkdescription"--> <em>(<!--TMPL_VAR Name="fwkname"-->)</em>
        </td>
        </table>
    <!--/TMPL_LOOP-->
    </div>
    </p>
    <!--/TMPL_LOOP-->
    <h2>Otros datos</h2>
    <!--/TMPL_IF -->
    <!-- TMPL_IF Name="en_sample_data" -->
        <h4><span class="error">No hay datos de muestra y configuraciones disponibles para su idioma. Las muestras están disponibles en inglés (en)<span></h4>
    <!-- /TMPL_IF -->
    <!--TMPL_LOOP Name="levelloop"-->
    <div>
    <h3><!--TMPL_VAR Name="label"--></h3>
    <!--TMPL_LOOP Name="frameworks"-->
        <table style="border:1px;vertical-align:top;">
        <tr>
        <td style="vertical-align:top;">
            <!--TMPL_IF Name="checked"-->
                <input type="checkbox" name="framework" value="<!--TMPL_VAR Name="fwkfile"-->" checked="checked" />
            <!--TMPl_ELSE-->
                <input type="checkbox" name="framework" value="<!--TMPL_VAR Name="fwkfile"-->" />
            <!--/TMPL_IF-->
        </td>
        <td>
            <!--TMPL_VAR Name="fwkdescription"--> <em>(<!--TMPL_VAR Name="fwkname"-->)</em>
        </td>
        </table>
    <!--/TMPL_LOOP-->
    </div>
    </p>
    <!--/TMPL_LOOP-->
    <p>Cuando usted haya realizado su selección, por favor haga clic en 'Importar'  para iniciar el proceso. La importación puede tomar un tiempo, por favor sea paciente.</p>
    <p><input type="submit" value="importar">
    </p>
    </form>
    </p>
<!--/TMPL_IF-->


<!--TMPL_IF Name="addframeworks"-->
    <!--TMPL_LOOP Name="list"-->
    <h3><!--TMPL_VAR Name="level"--> datos agregados</h3>
    <ul>
    <!--TMPL_LOOP Name="fwklist"-->
        <li><!--TMPL_VAR Name="fwkname"--><!--TMPL_IF Name="error"--><br /><span class="error"><!--TMPL_VAR Name="error"--></span><!--/TMPL_IF--> </li>
    <!--/TMPL_LOOP-->
    </ul>
    <!--/TMPL_LOOP-->
    <h2>Seleccione un motor de indizaci&oaucte;n</h2>
    <p>La búsqueda de Koha en las bases de datos bibliográficas y de autoridades puede hacerse de dos maneras: Koha puede utilizar un motro de  índices de texto (Zebra) o utilizar su propio sistema interno de indexación (NoZebra).
	</p>
    <p>Puede cambiar su selección después de la instalación y volver a indexar en consecuencia.</p>
    <h3>Zebra</h3>
      <ul>
        <li>Es altamente escalable (puede crecer a decenas de millones de registros bibliográficos. Ejemplos de instalaciones Zebra Koha: http://catalog.ccfls.org/cgi-bin/koha/opac-main.pl o http://www . mediathequeouestprovence.fr/) 
		</li>
        <li>Soporte nativo para servidores Z39.50 y SRU para datos  bibliográficos y de autoridad.</li>
		<li>Soporte para peso de los campos, clasificación por relevancia, truncamiento, derivadas</li>
		<li>Consultsa arbitrariamente complejas</li>
        <li>Puede ser complejo de configurar y mantener</li>
    </ul>
    <h3>NoZebra (índice interno Koha)</h3>
        <ul>
			<li>Sencillo de configurar y mantener.</li>
            <li>No ha sido probado con conjuntos de datos de más de 100000 registros</li>
            <li>No usar un servidor z39.50 p&uacute;blico (externo)</li>
        </ul>
    <p>Note that, if you choose "Zebra", you must configure Zebra before your catalog searching will work)</p>
    <h3>Por favor seleccione:</h3>
        <form action="install.pl">
            <input type="hidden" name="step" value="3" />
            <input type="hidden" name="op" value="SetIndexingEngine" />
            <p><input type="radio" name="NoZebra" value="1" />Nozebra: my catalog is not that large and I want something simple to setup/maintain</p>
            <p><input type="radio" name="NoZebra" value="0" />Zebra: I have a large catalog, I understand I must configure Zebra after the installation has completed</p>
            <input type="submit" value="Elegir"></form>
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="SetIndexingEngine" -->
    <p>Instalación completa.<br />
        <p>Haga clic en 'Terminar' para finalizar y cargar la interfaz para bibliotecarios
        <form name="finish">
        <input type="hidden" name="step" value="3" />
        <input type="hidden" name="op" value="finish" />
        <input type="submit" value="Finalizar"></form>
        </p>
    </p>
<!--/TMPL_IF-->


<!--TMPL_IF Name="importdatastructure"-->
    <!--TMPL_IF Name="error"-->
        <p>El siguiente se ha producido un error al importar la estructura de base de datos:</p>
        <p class="error"><!-- TMPL_VAR NAME="error" --> </p>
        <p>Por favor, contacte al adminsitrador del sistema</p>
    <!-- TMPL_ELSE -->
        <h2 align="center">Éxito</h2>
        <ul>
        <li>Tablas de la base de datos creadas</li>
        </ul>
        <form action="install.pl">
        <input type="hidden" name="step" value="3" />
            <p> Haga clic en &quot;Pr&oacute;ximo&quot; para continuar <input value="Siguiente &gt;&gt;" type="submit"></p>
        </form>
    <!-- /TMPL_IF -->
<!--/TMPL_IF-->


<!--TMPL_IF Name="proposeimport"-->
    <p>Ahora estamos preparados para crear las tablas de la base de datos y de  llenarlas con algunos datos por defecto.</p>
    <form action="install.pl">
    <input type="hidden" name="step" value="3" />
    <input type="hidden" name="op" value="importdatastructure" />
    <p> Haga clic en &quot;Pr&oacute;ximo&quot; para continuar <input value="Siguiente &gt;&gt;" type="submit"></p>
    </form>
<!--/TMPL_IF-->


<!--TMPL_IF Name="default"-->
    <!-- TMPL_IF name="upgrading" -->
        <p>
            Estamos actualizando desde Koha <!-- TMPL_VAR name="dbversion" -->  a <!-- TMPL_VAR name="kohaversion" -->, usted debe <a href="install.pl?step=3&amp;op=updatestructure" class="button">actualizar su base de datos</a>
        </p>
    <!-- TMPL_ELSE -->
        <p>Estamos preparados a hacer algunas configuraciones básicas. Por favor, <a href="install.pl?step=3&amp;op=choosemarc" class="button">instalar configuración básica</a> para continuar la instalación. 
        </p>
    <!-- /TMPL_IF -->
<!--/TMPL_IF-->



<!--TMPL_IF Name="updatestructure"-->
  <div><h2 align="center">Actualizando la estructura de la base de datos</h2>
  <!-- TMPL_IF NAME="has_update_succeeds" -->
  <p>Actualizar informe:</p>
    <ul>
      <!-- TMPL_LOOP NAME="update_report" -->
          <li><!-- TMPL_VAR NAME="line" ESCAPE="html" --></li>
      <!-- /TMPL_LOOP --> 
    </ul>
  <!-- /TMPL_IF -->
  <!-- TMPL_IF NAME="has_update_errors" -->
  <p>Update errors :</p>
    <ul>
      <!-- TMPL_LOOP NAME="update_errors" -->
          <li class="update_error"><!-- TMPL_VAR NAME="line" ESCAPE="html" --></li>
      <!-- /TMPL_LOOP --> 
    </ul>
  <!-- /TMPL_IF -->
 <!-- TMPL_UNLESS NAME="has_update_errors" -->
    <p>Todo esta bien, actualizaci&oacute;n terminada</p>
  <!-- /TMPL_UNLESS -->
<a href="install.pl?step=3&amp;op=finished" class="button">Continue ingresando a Koha</a>
  </div>
<!--/TMPL_IF-->

</body>
</html>
