


<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><title>Inicio &rsaquo; Instalador Web &rsaquo; Paso 2</title>
<!-- TMPL_INCLUDE NAME="installer-doc-head-close.inc" -->
<div>
<h1 id="logo"><img alt="Koha" src="/intranet-tmpl/prog/img/koha.org-logo.gif" /> Instalador Web &rsaquo; Paso 2</h1>
<h2 align="center">Configuraci&oacute;n de la base de datos:</h2>
<ul>
<li><em>tipo de base de datos : </em><!--TMPL_VAR NAME="dbms"--></li>
<li><em>nombre de la base de datos : </em><!--TMPL_VAR NAME="dbname"--></li>
<li><em>host de la base de datos: </em><!--TMPL_VAR NAME="hostname"--></li>
<li><empuerto de la base de datos : </em><!--TMPL_VAR NAME="port"--> (probablemente OK if se deja sin llenar)</li>
<li><em>usuario de la base de datos : </em><!--TMPL_VAR NAME="user"--></li>
</ul>
<div>
<!--TMPL_IF NAME="dbconnection"-->
<form name="checkdbparameters" type="post" action="install.pl">
  <!--TMPL_IF NAME="checkdatabaseaccess"-->
  <p>Conección establecida.</p>
     <!--TMPL_IF NAME="checkdatabasecreated"-->
  <p>Base de Datos <code><!--TMPL_VAR NAME="dbname"--></code> existe.</p>
        <!--TMPL_IF NAME="checkgrantaccess"-->
  <p>Usuario <code><!--TMPL_VAR NAME="user"--></code> tiene todos los privilegios en la base de datos <code><!--TMPL_VAR Name="dbname"--></code>.</p>
        <!--TMPL_ELSE-->
  <p class="error">usuario <code><!--TMPL_VAR NAME="user"--></code> no tiene suficientes privilegios sobre la base de datos <code><!--TMPL_VAR Name="dbname"--></code> </p>
  <p class="tip"> Solicitar o realizar una modificación en los privilegios del usuario.¿Necesita ayuda? Vea <!--TMPL_IF NAME="mysql"--><a href=http://dev.mysql.com/doc/refman/4.1/en/grant.html><!--TMPL_ELSE-->http://www.postgresql.org/docs/8.2/interactive/sql-createrole.html <!--/TMPL_IF-->esta página</a>. Usuario <code><!--TMPL_VAR NAME="user"--></code> debe tener USAGE, INSERT, UPDATE, DELETE, DRO y privilegios de CREATE en on <code><!--TMPL_VAR Name="dbname"--></code></p>
        <!--/TMPL_IF-->
      <!--TMPL_ELSE-->
  <p class="error">No se ha dado nombre a ninguna base de datos <code><!--TMPL_VAR NAME="dbname"--></code> detectado.</p>
  <p class="tip">Por favor, cree la base de datos antes de continuar.</p>
      <!--/TMPL_IF-->
   <!--TMPL_ELSE-->
    <div class="error"><!--TMPL_VAR name="error"--> - <!--TMPL_VAR NAME="message"-->
    </div>
    <div class="tip">
      <ul>
      <li>Verificar que la base de datos este funcionando</li>
      <li>Verificar la configuraci&oacute;n de la base de datos <code>koha-conf.xml</code>. </li>
      <li>Verificar la configuraci&oacute;n del nombre del servidor (hostname) <code>koha-conf.xml</code>. Se requieren algunos servidores de base de datos <code>127.0.0.1</code> en vez de <code>localhost</code>.</li>
    </div>
    <p>Por favor, corrija los errores e <a href="/cgi-bin/koha/installer/install.pl">inicie el instalador</a> de nuevo. 
  <!--/TMPL_IF-->
  <!-- TMPL_IF NAME="error" --><!-- TMPL_ELSE -->
<input type="hidden" name="step" value="3" />
<p> Haga clic en &quot;Pr&oacute;ximo&quot; para continuar <input value="Siguiente &gt;&gt;" type="submit"></p>
<!-- /TMPL_IF -->
</form>
<!--TMPL_ELSE-->
<form name="checkinformation" type="post" action="install.pl">
<input type="hidden" name="step" value="2" />
<input type="hidden" name="checkdb" value="1" />
<p> Por favor, cliquee en Siguiente para continuar si esta información es correcta <input value="Siguiente &gt;&gt;" type="submit"></p>
</form>
<!--/TMPL_IF-->
</div>
</body>
</html>
