<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Instalador Web &rsaquo; Paso 1</title>
<!-- TMPL_INCLUDE NAME="installer-doc-head-close.inc" -->
<div>
<h1 id="logo"><img alt="Koha" src="/intranet-tmpl/prog/img/koha.org-logo.gif" /> Instalador Web &rsaquo; Paso 1</h1>
<!--TMPL_UNLESS Name="language"-->
<p>Usted está a punto de instalar Koha.</p>

<p>Por favor, escoja su idioma de la siguiente lista. Si su idioma no aparece en la lista, por favor, informe a su administrador de sistemas. </p>
<form name="language" method="post">
<select name="language">
<!-- TMPL_IF NAME="installer_languages_loop" -->
        <!-- TMPL_LOOP NAME="installer_languages_loop" -->
            <!-- TMPL_IF NAME="plural" -->
            <optgroup label="<!-- TMPL_VAR NAME="language" -->">
            <!-- TMPL_LOOP NAME="sublanguages_loop" -->
                <option value="<!-- TMPL_VAR NAME="rfc4646_subtag" -->"><!-- TMPL_IF NAME="native_description" --><!-- TMPL_VAR NAME="native_description" --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="rfc4646_subtag" --><!-- /TMPL_IF --></option>
            <!-- /TMPL_LOOP -->
            </optgroup>
            <!-- TMPL_ELSE -->
		<option value="<!-- TMPL_VAR NAME="rfc4646_subtag" -->"><!-- TMPL_IF NAME="native_description" --><!-- TMPL_VAR NAME="native_description" --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="rfc4646_subtag" --><!-- /TMPL_IF --></option>
            <!-- /TMPL_IF -->
        <!-- /TMPL_LOOP -->
<!-- /TMPL_IF -->
</select>
</p>

<p> Haga clic en &quot;Pr&oacute;ximo&quot; para continuar <input value="Siguiente &gt;&gt;" type="submit"></p>
</form>
<!--/TMPL_UNLESS-->
<!--TMPL_IF Name="language"-->
  <!--TMPL_UNLESS Name="checkmodule"-->
  <!--TMPL_IF Name="missing"-->
  <p>Faltan algunos módulos de Perl.<br />
  <ul>
  <!--TMPL_LOOP Name="missing"-->
    <li><!--TMPL_VAR Name="name"-->
    <!--TMPL_IF Name="usagemail"-->
      <br /> Este módulo se utiliza cuando Koha tiene que enviar mensajes de correo electrónico.
    <!--/TMPL_IF-->
    <!--TMPL_IF Name="usagebarcode"-->
      <br /> Este módulo es necesario si usted tiene la intención de imprimir códigos de barras.
    <!--/TMPL_IF-->
    <!--TMPL_IF Name="usagespine"-->
      <br /> Este módulo es necesario si usted tiene la intención de imprimir etiquetasl.
    <!--/TMPL_IF-->
    <!--TMPL_IF Name="usageLDAP"-->
      <br /> Este módulo es necesario si usted tiene la intención de usar LDAP para autentificación.
    <!--/TMPL_IF-->
    </li>
  <!--/TMPL_LOOP-->
  Por favor, considere instalar estos módulos antes de continuar.
  <pre>
  <!--TMPL_LOOP Name="missing"-->
    perl -MCPAN -e "install <!--TMPL_VAR Name="name"-->";
  <!--/TMPL_LOOP-->
  </pre>
  <!--/TMPL_IF-->
  <!--TMPL_IF Name="problems"-->
  <p>He tropezado con algunos problemas.</p>
   <ul>
    <!--TMPL_IF Name="perlversion"-->
    <li>Su versión de Perl parece ser obsoleta. Por favor, actualice a una versión más reciente de Perl (por lo menos la versión 5.006001).</li>
    <!--/TMPL_IF-->
   </ul>
  <!--/TMPL_IF-->
  <!--/TMPL_UNLESS-->
  <!--TMPL_IF Name="checkmodule"-->
<form name="checkmodules" action="install.pl">
<p> Instaladas todas las dependencias
</p>
<input type="hidden" name="step" value="2" />
<p>Clique en Siguiente para continuar <input value="Siguiente &gt;&gt;" type="submit"></p>
</form>
  <!--/TMPL_IF-->
<!--/TMPL_IF-->
<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
