<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Estad&iacute;stica de adquisiciones</h1>

<p style="color: #990000">IMPORTANTE: El 'Asistente' de adquisiciones se ha diseñado para mostrar una estadística simple. Para cada asistente, deberá elegir una sola categoría como 'fila' y otra como 'columna'.</p>
		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Adquisiciones'  en 'Asistente de estadìsticas'</li>
			<li>Ingrese en la información que te gustaría ver en su informe</li>
			<li>Haga clic en 'Enviar'' </li>
			<li>Al cambiar el informe de 'Contar items' a 'Monto', verá el total gastado</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->