<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socios con más préstamos</h1>

<p>Este informe guiado le mostrará cuales socios han tomado prestado la mayor cantidad de items.</p>
		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Socios con m&acute;s prestamos' en 'Listas top'</li>
			<li>Seleccione cualquier filtro de la sección superior
			<ul>
				<li>			   
			   IMPORTANTE: Elija algo diferente a 'Ninguno' en el campo 'Por' para obtener resultados</li>
			</ul></li>
			<li>Una vez que complete los campos, haga clic en 'Enviar'</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->