<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socios que no han pedido prestado</h1>

<p>Este informe guiado le dará una instantánea de cuales (o cuántos?) items nunca han sido prestados. Puede limitar estos items por sede</p>
		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione  'Socios que no tiene préstamos' en 'Inactivos' </li>
			<li>Si no elige ningún filtro o límites, verá todos los socios que no han pidieron prestado nada de su biblioteca</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->