<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Socios, estadística</h1>

<p style="color: #990000">IMPORTANTE: El 'Asistente' de socios se ha diseñado para mostrar una estadística simple. Para cada asistente, deberá elegir una sola categoría como 'fila' y otra como 'columna'.</p>
		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Socios' en el  'Asistente de estadísticas'</li>
			<li>Utilice el botón de opción para elegir una categoría de 'fila'  (en el caso anterior, hemos seleccionado 'categoría de usuario' en la fila) 
			<ul>
				<li>Use menús desplegables para aplicar filtros a esta categoría</li>
			</ul></li>
			<li>Utilice el botón de opción para elegir una categoría de 'columna' (en el caso anterior, hemos seleccionado 'sede' en la columna)
			<ul>
				<li> 
				<ul>
					<li>Use menús desplegables para aplicar filtros a esta categoría</li>
				</ul></li>
			</ul></li>
			<li>Opciones sin botones de radio, como 'Estado del socio', 'Actividad del socio' 'y 'Fecha de Nacimiento' tienen límites que colocar en el informe. </li>
			<li style="background-color: #ffe599">
CONSEJO: Para no colocar límites a una categoría, deje el campo en blanco. De esta menera todas las categorías se incluirán en el conteo estadístico.</li>
			<li>Seleccione un método para 'outputing' (ver) el informe: las opciones son  el navegador o guardar el informe como un archivo Excel u otro tipo.</li>
			<li>Haga clic en 'Enviar'' </li>
			<li>Por cada categoría de socio (filas), hay un número por cada sede. Cada una de las filas y columnas también se suman</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->