<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Items no prestados</h1>

<p>Este informe guiado le dará una visión general de los items que nunca han sido prestados. Puede limitar estos items por sede</p>

		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Items no prestados' en 'Inactivo'</li>
			<li>Si no elige ningún filtro o límites, verá todos los artículos que no han sido prestados de su biblioteca</li>
			<li>Al elegir un límite cambiará la salida</li>
			<li>Seleccione un límirte de 'Biblioteca'</li>
			<li>, y sus resultados se ordenarán por el código de la biblioteca</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->