<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>   Estad&iacute;sticas del catálogo</h1>

<p style="color: #990000">IMPORTANTE: El 'Asistente' de catalogación se ha diseñado para mostrar una estadística simple. Para cada asistente, deberá elegir una sola categoría como 'fila' y otra como 'columna'.</p>

	<ul>
		<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
		<li>Choose 'Catalog' under 'Statistics Wizards'</li>
		<li>Utilice el botón de opción para elegir una categoría de 'fila'  (en el caso anterior, hemos seleccionado 'categoría de usuario' en la fila) 
		<ul>
			<li>Use menús desplegables para aplicar filtros a esta categoría</li>
		</ul></li>
	</ul>
	<ul>
		<li>Utilice el botón de opción para elegir una categoría de 'columna' (en el caso anterior, hemos seleccionado 'sede' en la columna)
		<ul>
			<li>Use menús desplegables para aplicar filtros a esta categoría</li>
		</ul></li>
	</ul>
	<ul>
		<li>Seleccione un método para 'outputing' (ver) el informe: las opciones son  el navegador o guardar el informe como un archivo Excel u otro tipo.</li>
		<li>Haga clic en 'Enviar'' </li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->