<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ayuda de diccionario de informes</h1>

El diccionario provee una forma en la que pudeda definir criterios variables para reportes, combinando criterios existentes.

<h2>Agregar una nueva Definición</h2>

<p><strong>Paso 1: Nombre</strong></p>

<p>En esta etapa ustedd necesitará cargar los siguientes detalles:</p>

<ul>
<li>Denominaci&oacute;n de la definici&oacute;n: t&eacute;rmino breve que se utiliza para visualizaci&oacute;n y seleci&oacute;n.</li>
<li>Descripci&oacute;n de la definici&oacute;n: usado dentro del diccionario para ofrecer detalles m&aacute;s espec&iacute;ficos de la definici&oacute;n.</li>
</ul>

<p><strong>Paso 2: &Aacute;rea</strong></p>

<p>Now you will need to select the area that you are binding the definition to. </p>

<p style="color: #990000">IMPORTANT: Definitions can only be bound to one area.</p>

<p style="background-color: #ffe599">TIP: If you wish to use a similar definition in say, Circulation and Patrons, you will need to create two definitions - one for each area</p>

<p><strong>Paso 3: columnas</strong></p>

<p>Now select the criteria that you wish to use to build your definition. </p>

<ul>
<li>Click on the database column name and then press the 'add' button.</li>
<li>Once you have selected all your desired columns, press Next.</li>
</ul>

<p style="background-color: #ffe599">TIP: Definitions can be deleted easily, and if you are still learning the structure of the Koha data, it may take a little while to sort out which fields you require. Some trial and error may be required</p>

<p><strong>Paso 4: Valores</strong></p>

<p>Ahora  es necesario seleccionar los valores para cada una de las columnas que componen su nuevo criterio. Hay diferentes maneras de definir los valores, basados en el tipo de datos en la columna que ha seleccionado</p>

<ul>
<li>Search String Matches For free text fields in that database, enter a string/phrase for the criteria to match on</li>
<li>Date For date fields you can either select:</li>
<ol><li>Rango de fechas: ingrese valores en ambos campos de datos</li>
     <li>All Data Before A Given Date: enter a value in the XXX field only</li>
     <li>All Data After A Given Date: enter a value in the XXX field only</li>
</ol>
<li>Select From Database Value For data that is given an authorized value in the Koha database, you the drop down list to select one value</li>
</ul>

<p><strong>Step 5: Confirmation</strong></p>

<p>You will be presented with a confirmation once you have finished step 4</p>

<p>Haga clic en 'Guardar' </p>

<h2>Usando una definición </h2>

<p>Once you have created your new definition and it shows on in the Dictionary, you can use the definition for reporting.</p>

<ul>
<li>When you go to create a new report, the criteria for the area you are reporting on will automatically show as limits in the Guided Reports wizard</li>
</ul>
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->