<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>   Estadísticas de circulación</h1>

<p style="color: #990000">IMPORTANT:  The Circulation 'Wizard' is designed to be a simple statistical snapshot. You will choose a single category to represent 'row' and another to represent 'column'.</p>
		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Circulaciòn' en 'Asistente de Estadísticas' </li>
			<li>Utilice los botones de opción en 'fila' y 'columna' para elegir qué conjunto de datos </li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->