<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Tiempo de pr&eacute;stamo promedio</h1>

<p>Este informe le mostrará cuántos fueron prestados, por categoría de socio</p>

		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Tiempo promedio de préstamo' en 'Otros'</li>
			<li>Seleccione un campo para  que aparezca en las filas y otro para que aparezca en la columna. Si elige cualquiera de los campos de fecha recordar que hay que elegir mostrar los datos por  'Día', 'Mes', o' Año '</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->