<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Items perdido</h1>

<p> Este informe de un sólo paso le mostrará cuántos items de cada tipo de ítem se encuentra en su sede o sedes.</p>

		<ul>
			<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
			<li>Seleccione 'Items perdidos' en' Otros'</li>
			<li>Seleccione  la categoría  para 'Ordenar por' (el campo 'Ordenar por'  influye en el método de ordenación que se usa para mostrar los items perdidos)</li>
			<li>si busca un único ítem, ingrese un 'Código de barras', si no deje este campo en blanco</li>
			<li>Seleccione una 'Sede' para hacer el informe (o para elegir todas las sedes seleccione 'Todas' en la parte superior del menú desplegable)</li>
			<li>Selecciones  un 'Tipo de ítem' para hacer el informe sobre él  (o, al dejar por defecto 'Todos' para realizar el informe sobre todos los tipos de items)</li>
			<li>Seleccione  'Perdidos'  para buscar sólo los items que se suponen perdidos desde hace mucho tiempo, desaparecidos o perdidos (o, dejar  Todos' para ver todos los items  perdidos) </li>
			<li>Haga clic en 'Enviar'' </li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->