<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Pr&eacute;stamos por categor&iacute;a de socio</h1>

<p>Este informe le mostrará cuántos fueron prestados, por categoría de socio</p>

	<ul>
		<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
		<li>Seleccione 'Pr&eacute;stamos por categor&iacute;a de socio' en 'Otros'</li>
		<li>'Seleccionar una categoría de usuario' utilizando el menú desplegable provisto (o seleccione el valor por defecto 'Cualquier categoría' al tope del menú desplegable para seleccionar todas las categorías de usuario)</li>
		<li>'Seleccione una sucursal' para reportar (o, deje el valor 'todos' para hacer el reporte en todas las sucursales)</li>
		<li>Haga clic en 'Enviar'' </li>
	</ul>
	
	<h1>Cat&aacute;logo por tipo de ítem</h1>

<p>Este informe de un sólo paso le mostrará cuántos items de cada tipo de ítem se encuentra en su sede o sedes.</p>

	<ul>
		<li>Ir al módulo de  'Informes'  (por lo general en 'Más' en su navegación global)</li>
		<li>Seleccione 'Cat&aacute;logo por tipo de &iacute;tem' en 'Otros'</li>
		<li>Seleccione una sede (o seleccione el campo en blanco en la parte superior del menú desplegable para elegir todas las sedes)</li>
		<li>Haga clic en 'Enviar'' </li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->