<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Informes</h1>

<h2>¿Qué reportes hay disponibles en Koha?</h2>
 
<p>Koha viene con una serie de reportes predefinidos (o 'enlatados'), junto con dos motores de generación de informes.</p>
<p><strong>Informes predefinidos </strong></p>
<p>Hay varios informes predefinidos en Koha. Compruebe el módulo de circulación para obtener informes adicionales de circulación.</p>
<p><strong>Asistentes de estadísticas</strong></p>
<p>El asistente de estadísticas provee una manera de construir reportes simples para cada módulo. Los reportes producidos pueden ser visializados en pantalla tanto como descargados para ser abiertos en una planilla de cálculo o con un editor de texto.</p>
<p><strong>Asistente de informes guiados</strong></p>
<p>El sistente de reportes guiados le ayuda a construir reportes utilizando todos los campos de la base de datos para cada modulo. Los reportes pueden ser guardados y procesados utilizando el planifcador. </p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->