<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Herramientas &rsaquo; Avisos<!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF name="modify" --> &rsaquo; Modificar aviso<!-- TMPL_ELSE --> &rsaquo; Añadir aviso<!-- /TMPL_IF --><!-- /TMPL_IF --><!-- TMPL_IF NAME="add_validate" --> &rsaquo; Aviso agregado<!-- /TMPL_IF --><!-- TMPL_IF NAME="delete_confirm" --> &rsaquo; Confirmar borrado<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
	<script type="text/javascript">
	//<![CDATA[
$(document).ready(function() {
	$("#lettert").tablesorter({
		widgets : ['zebra'],
		sortList: [[0,0]],
		headers: { 3: {sorter:false},4: { sorter: false }}
	}); 
}); 
<!-- TMPL_IF NAME="add_form" -->
	
		function isNotNull(f,noalert) {
			if (f.value.length ==0) {
	return false;
			}
			return true;
		}
	
		function toUC(f) {
			var x=f.value.toUpperCase();
			f.value=x;
			return true;
		}
	
		function isNum(v,maybenull) {
		var n = new Number(v.value);
		if (isNaN(n)) {
			return false;
			}
		if (maybenull==0 && v.value=='') {
			return false;
		}
		return true;
		}
	
		function isDate(f) {
			var t = Date.parse(f.value);
			if (isNaN(t)) {
				return false;
			}
		}
	
		function Check(f) {
			var ok=1;
			var _alertString="";
			var alertString2;
/*			if (!(isNotNull(window.document.Aform.code))) {
				_alertString += "\n- " + _("Code missing");
			}*/
/*			if (!(isNotNull(window.document.Aform.name))) {
				_alertString += "\n- " + _("Name missing");
			}*/
			if (_alertString.length==0) {
				document.Aform.submit();
			} else {
				alertString2  = _("El formulario no fue procesado debido a los siguientes problemas");
				alertString2 += "\n------------------------------------------------------------------------------------\n";
				alertString2 += _alertString;
				alert(alertString2);
			}
		}
		// GPL code coming from PhpMyAdmin
		function insertValueQuery() {
			var myQuery = document.Aform.content;
			var myListBox = document.Aform.SQLfieldname;
		
			if(myListBox.options.length > 0) {
				var chaineAj = "";
				var NbSelect = 0;
				for(var i=0; i<myListBox.options.length; i++) {
					if (myListBox.options[i].selected){
						NbSelect++;
						if (NbSelect > 1)
							chaineAj += ", ";
						chaineAj += myListBox.options[i].value;
					}
				}
		
				//IE support
				if (document.selection) {
					myQuery.focus();
					sel = document.selection.createRange();
					sel.text = chaineAj;
					document.Aform.insert.focus();
				}
				//MOZILLA/NETSCAPE support
				else if (document.Aform.content.selectionStart || document.Aform.content.selectionStart == "0") {
					var startPos = document.Aform.content.selectionStart;
					var endPos = document.Aform.content.selectionEnd;
					var chaineSql = document.Aform.content.value;
					myQuery.value = chaineSql.substring(0, startPos) +'<<'+ chaineAj+'>>' + chaineSql.substring(endPos, chaineSql.length);
				} else {
					myQuery.value += chaineAj;
				}
			}
		}
	<!-- /TMPL_IF -->
		//]]>
		</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="letters-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Herramientas</a> &rsaquo; <!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF name="modify" --><a href="/cgi-bin/koha/tools/letter.pl">Avisos</a> &rsaquo;Modificar aviso<!-- TMPL_ELSE --> <a href="/cgi-bin/koha/tools/letter.pl">Avisos</a> &rsaquo; Agregar aviso<!-- /TMPL_IF --><!-- TMPL_ELSE --><!-- TMPL_IF NAME="add_validate" --> <a href="/cgi-bin/koha/tools/letter.pl">Aviso</a> &rsaquo; Aviso agregado<!-- TMPL_ELSE --><!-- TMPL_IF NAME="delete_confirm" --> <a href="/cgi-bin/koha/tools/letter.pl">Avisos</a> &rsaquo;Confirmar Borrado<!-- TMPL_ELSE -->Avisos<!-- /TMPL_IF --><!-- /TMPL_IF --><!-- /TMPL_IF --></div>

<!-- TMPL_IF NAME="add_form" --><div id="doc" class="yui-t7"><!-- TMPL_ELSE --><div id="doc3" class="yui-t2"><!-- /TMPL_IF -->
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

	<!-- TMPL_IF NAME="no_op_set" -->
<div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[
	// prepare DOM for YUI Toolbar
	 $(document).ready(function() {
	    yuiToolbar();
	 });
	// YUI Toolbar Functions
	function yuiToolbar() {
	    new YAHOO.widget.Button("newnotice");
	}
	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newnotice" href="/cgi-bin/koha/tools/letter.pl?op=add_form">Nuevo aviso</a></li>
</ul></div>
		
		<!-- TMPL_IF NAME="search" -->
		<p>Usted busc&oacute; <b><!-- TMPL_VAR NAME="searchfield" --></b></p>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="letter" --><table id="lettert">
		<thead><tr>
			<th>Módulo</th>
			<th>C&oacute;digo</th>
			<th>Nombre</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr></thead>
		<tbody><!-- TMPL_LOOP NAME="letter" -->
		<!-- TMPL_UNLESS NAME="__odd__" -->
			<tr class="highlight">
		<!-- TMPL_ELSE -->
			<tr>
		<!-- /TMPL_UNLESS -->
				<td><!-- TMPL_VAR NAME="module" --></td>
				<td><!-- TMPL_VAR NAME="code" --></td>
				<td><!-- TMPL_VAR NAME="name" --></td>
				<td>
					<a href="/cgi-bin/koha/tools/letter.pl?op=add_form&amp;module=<!-- TMPL_VAR name="module" -->&amp;code=<!-- TMPL_VAR NAME="code" -->">Editar</a>
				</td>
				<td>
					<!-- TMPL_IF NAME="protected" -->
					-
					<!-- TMPL_ELSE -->
					<a href="/cgi-bin/koha/tools/letter.pl?op=delete_confirm&amp;module=<!-- TMPL_VAR name="module"-->&amp;code=<!-- TMPL_VAR NAME="code" -->">Borrar</a>
					<!-- /TMPL_IF -->
				</td>
			</tr>
		<!-- /TMPL_LOOP --></tbody>
		</table>
		<!-- /TMPL_IF -->

	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF NAME="add_form" -->
	
	
		<form action="/cgi-bin/koha/tools/letter.pl" name="Aform" method="post">
		<input type="hidden" name="op" value="add_validate" />
		<input type="hidden" name="checked" value="0" />
		<!-- TMPL_IF name="modify" -->
		<input type="hidden" name="add" value="0" />
		<!-- TMPL_ELSE -->
		<input type="hidden" name="add" value="1" />
		<!-- /TMPL_IF -->
		<fieldset class="rows">
		<legend><!-- TMPL_IF name="modify" -->Modificar aviso<!-- TMPL_ELSE -->Agregar aviso<!-- /TMPL_IF --></legend>
		<ol>
		<!-- TMPL_IF NAME="modify" -->
			<li>
				<label for="module">Módulo de Koha:</label>
				<select name="module" id="module">
                                    <!--TMPL_IF Name="catalogue"-->
                                    <option value="catalogue" selected="selected">Cat&aacute;logo</option>
                                    <!--TMPL_ELSE-->
                                    <option value="catalogue" >Cat&aacute;logo</option>
                                    <!--/TMPL_IF-->
                                    <!--TMPL_IF Name="Serial"-->
                                    <option value="serial" selected="selected">Publicaciones periódicas (lista de ruteo)</option>
                                    <!--TMPL_ELSE-->
                                    <option value="serial">Publicaciones periódicas (lista de ruteo)</option>
                                    <!--/TMPL_IF-->
                                    <!--TMPL_IF Name="claimacquisition"-->
                                    <option value="claimacquisition" selected="selected">Reclamar adquisici&oacute;n</option>
                                    <!--TMPL_ELSE-->
                                    <option value="claimacquisition">Reclamar adquisici&oacute;n</option>
                                    <!--/TMPL_IF -->
                                    <!--TMPL_IF Name="claimissues"-->
                                    <option value="claimissues" selected="selected">Reclamar fasc&iacute;culo de revista</option>
                                    <!--TMPL_ELSE-->
                                    <option value="claimissues">Reclamar fasc&iacute;culo de revista</option>
                                    <!--/TMPL_IF-->
                                    <!--TMPL_IF Name="circulation"-->
                                    <option value="circulation" selected="selected">Circulaci&oacute;n</option>
                                    <!--TMPL_ELSE-->
                                    <option value="circulation">Circulaci&oacute;n</option>
                                    <!--/TMPL_IF-->
                                    <!--TMPL_IF Name="members"-->
                                    <option value="members" selected="selected">Miembros</option>
                                    <!--TMPL_ELSE-->
                                    <option value="members">Miembros</option>
                                    <!--/TMPL_IF-->
                                    <!--TMPL_IF Name="reserves"-->
                                    <option value="reserves" selected="selected">Reservas</option>
                                    <!--TMPL_ELSE-->
                                    <option value="reserves">Reservas</option>
                                    <!--/TMPL_IF-->
				</select>
			</li>
			<li>
				<span class="label">C&oacute;digo:</span><input type="hidden" id="code" name="code" value="<!-- TMPL_VAR NAME="code" -->" /><!-- TMPL_VAR NAME="code" -->
			</li>
		<!-- /TMPL_IF -->
		
		<!-- TMPL_IF NAME="adding" -->
			<li>
				<label for="module">Módulo de Koha:</label>
				<select name="module" id="module" onchange="javascript:window.location.href = unescape(window.location.pathname)+'?op=add_form&amp;module='+this.value+'&amp;content='+window.document.forms['Aform'].elements['content'].value;">
						<!--TMPL_IF Name="catalogue"-->
                        <option value="catalogue" selected="selected">Cat&aacute;logo</option>
						<!--TMPL_ELSE-->
                        <option value="catalogue" >Cat&aacute;logo</option>
                        <!--/TMPL_IF-->
						<!--TMPL_IF Name="serial"-->
						<option value="serial" selected="selected">Publicaciones periódicas (lista de ruteo)</option>
						<!--TMPL_ELSE-->
						<option value="serial">Publicaciones periódicas (lista de ruteo)</option>
						<!--/TMPL_IF-->
						<!--TMPL_IF Name="claimacquisition"-->
						<option value="claimacquisition" selected="selected">Reclamar adquisici&oacute;n</option>
						<!--TMPL_ELSE-->
						<option value="claimacquisition">Reclamar adquisici&oacute;n</option>
						<!--/TMPL_IF -->
						<!--TMPL_IF Name="claimissues"-->
						<option value="claimissues" selected="selected">Reclamar fasc&iacute;culos de revista</option>
						<!--TMPL_ELSE-->
						<option value="claimissues">Reclamar fasc&iacute;culos de revista</option>
						<!--/TMPL_IF-->
						<!--TMPL_IF Name="circulation"-->
						<option value="circulation" selected="selected">Circulaci&oacute;n</option>
						<!--TMPL_ELSE-->
						<option value="circulation">Circulaci&oacute;n</option>
						<!--/TMPL_IF-->
						<!--TMPL_IF Name="members"-->
						<option value="members" selected="selected">Miembros</option>
						<!--TMPL_ELSE-->
						<option value="members">Miembros</option>
						<!--/TMPL_IF-->
						<!--TMPL_IF Name="reserves"-->
						<option value="reserves" selected="selected">Reservas</option>
						<!--TMPL_ELSE-->
						<option value="reserves">Reservas</option>
						<!--/TMPL_IF-->
				</select>
			</li>
			<li>
				<label for="code">C&oacute;digo:</label><input type="text" id="code" name="code" size="20" maxlength="20" />
			</li>
		<!-- /TMPL_IF -->
		
		<li>
			<label for="name">Nombre:</label><input type="text" id="name" name="name" size="60" value="<!-- TMPL_VAR NAME="name" -->" />
		</li>
		<li>
			<label for="title">Asunto del mensaje:</label><input type="text" id="title" name="title" size="60" value="<!-- TMPL_VAR NAME="title" -->" />
		</li>
		<li>
			<label for="SQLfieldname">Cuerpo del mensaje:</label>
		</li>
		<li>
		<table>
		<tr><td><select name="SQLfieldname" id="SQLfieldname" size="9">
			<!-- TMPL_LOOP name="SQLfieldname" -->
				<option value="<!-- TMPL_VAR name="value"-->"><!-- TMPL_VAR name="text"--></option>
			<!-- /TMPL_LOOP -->
		</select></td><td><input type="button" name="insert" value="&gt;&gt;" onclick="insertValueQuery()" title="Insertar"></td><td><textarea name="content" cols="80" rows="15"><!-- TMPL_VAR NAME="content" --></textarea></td></tr></table>

		</li>
		</ol>
		</fieldset>
		<fieldset class="action"><input type="button" value="Enviar" onclick="Check(this.form)" class="button"></fieldset>
		</form>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF NAME="add_validate" -->
	Datos guardados
	<form action="<!-- TMPL_VAR NAME="action" -->" method="post">
	<input type="submit" value="OK" />
	</form>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF NAME="delete_confirm" -->
	<div class="dialog alert"><h3>Eliminar Aviso?</h3>
	<table>
        <thead>
		<tr>
			<th>Módulo</th>
			<th>C&oacute;digo</th>
			<th>Nombre</th>
		</tr>
        </thead>
		<tr>
			<td><!-- TMPL_VAR NAME="module"--></td>
            <td><!-- TMPL_VAR NAME="code" --></td>
			<td><!-- TMPL_VAR NAME="name" --></td>
		</tr>
	</table>
		<form action="<!-- TMPL_VAR NAME="action" -->" method="post">
		<input type="hidden" name="op" value="delete_confirmed">
		<input type="hidden" name="code" value="<!-- TMPL_VAR NAME="code" -->" />
		<input type="hidden" name="module" value="<!-- TMPL_VAR NAME="module" -->" />
				<input type="submit" value="Si, Eliminar" class="approve">
				</form>

				<form action="<!-- TMPL_VAR NAME="action" -->" method="get">
					<input type="submit" value="No, no borre" class="deny">
				</form>
		</div>

	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF NAME="delete_confirmed" -->
	Datos borrados
	<form action="<!-- TMPL_VAR NAME="action" -->" method="post">
	<input type="submit" value="OK" />
	</form>
	<!-- /TMPL_IF -->

</div>
</div>
<!-- TMPL_UNLESS NAME="add_form" -->
    <div class="yui-b noprint">
        <!-- TMPL_INCLUDE NAME="tools-menu.inc" -->
    </div>
<!-- /TMPL_UNLESS -->
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
