<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Herramientas &rsaquo; Subir imágenes de socios</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
 $(document).ready(function() {
	$("#zipfile").click(function(){
		$("#cardnum").hide();
	});
	$("#image").click(function(){
		$("#cardnum").show();
	});
});
</script>
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc"-->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Herramientas</a> &rsaquo; Subir im&aacute;genes patr&oacute;n </div>

<div id="doc3" class="yui-t2">
    <div id="bd">
        <div id="yui-main">
<!-- TMPL_IF name="TOTAL" -->
    <div class="yui-b">
        <div class="yui-g">
            <div class="yui-u first">
            <!-- TMPL_IF name="ERRORS" -->
				<!-- TMPL_IF name = "TCOUNTS" -->
					<div class="dialog alert">
					<h3>Imágen(es) de socio(s) cargadas con algunos errores</h3>
				<!-- TMPL_ELSE -->
					<div class="dialog alert">
					<h3>La carga de imagen de socio ha fallado</h3>
				<!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->
                <div class="dialog message">
                <h3>Imágen de socio cargada con exito.</h3>
            <!-- /TMPL_IF -->
	        <ul class="data">
	            <li>Desenpaquetado completado</li>
                  <li><!-- TMPL_VAR NAME ="TOTAL" --> directorio(s) analizados.</li>
                    <li><!-- TMPL_VAR NAME="HANDLED" --> directorio(s) procesado(s).</li>
                </ul>
                <!-- TMPL_LOOP name="COUNTS" -->
	            <ul class="data">
                        <!-- TMPL_IF name = "TCOUNTS" --><li><!-- TMPL_VAR name="TCOUNTS" --> imágen(es) movida(s) a la base de datos:</li><!-- /TMPL_IF -->
                        <!-- TMPL_LOOP name="filenames" -->
                            <li><!-- TMPL_VAR name="source" --> - Número de socio: <!-- TMPL_VAR name="cardnumber" -->
                                    <!-- TMPL_IF NAME="filerrors" --><br /> <bADVERTENCIA:</b> esta imagen<i>no</i> fue importada debido a 
                                    <!-- TMPL_LOOP NAME="filerrors" -->
                                        <!-- TMPL_IF NAME="DBERR" -->la base de datos ha devuelto un error. Por favor, consulte el registro de errores para obtener más detalles. </li>
                                        <!-- TMPL_ELSIF NAME="IMGEXISTS" -->este usuario no existe en la base se datos.</li>
                                        <!-- TMPL_ELSIF NAME="MIMERR" -->el formato de la imagen no se reconoce.</li>
                                        <!-- TMPL_ELSIF NAME="CORERR" -->el archivo imagen está corrupto.</li>
                                        <!-- TMPL_ELSIF NAME="OPNERR" -->Koha no ha podido abrir la imagen para lectura.</li>
                                        <!-- TMPL_ELSIF NAME="OVRSIZ" -->el archivo imagen es demasiado grande.</li>
                                        <!-- TMPL_ELSIF NAME="CRDFIL" -->falta el <!-- TMPL_VAR NAME="CRDFIL" -->.</li>
                                        <!-- TMPL_ELSE -->de un error desconocido. Por favor, consulte el registro de errores para obtener más detalles. </li><!-- /TMPL_IF -->
                                    <!-- /TMPL_LOOP -->
                                        <!--TMPL_ELSE --> importado exitósamente.</li>
                                    <!-- /TMPL_IF -->
                        <!-- /TMPL_LOOP -->
                        </ul>
                <!-- /TMPL_LOOP -->

				</div>
				<!-- TMPL_IF name = "borrowernumber" -->
					<a id="member" href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR name = "borrowernumber" -->">Devolver a detalles de socio</a>
				<!-- TMPL_ELSE -->
					<a id="uploadmore" href="/cgi-bin/koha/tools/picture-upload.pl">Subir mas im&aacute;genes</a> <a id="doneupload" href="/cgi-bin/koha/tools/tools-home.pl">Volver a Herramientas</a>
            	<!-- /TMPL_IF -->
            </div>
<!-- TMPL_ELSE -->
    <div class="yui-b">
        <div class="yui-g">
            <div class="yui-u first">
                <h1>Subir imágenes de socios</h1>
                <!-- TMPL_IF name="ERRORS" -->
                <div class="dialog alert">
                    <!-- TMPL_LOOP name="ERRORS" -->
                        <!-- TMPL_IF name="NOTZIP" --><li><b>El archivo subido no parece ser un archivo zip. La extensión no es '. zip'.</b></li>
                        <!-- TMPL_ELSIF name="NOWRITETEMP" --><li><b> Este comando no puede crear/escribir en el directorio temporal.</b></li>
                        <!-- TMPL_ELSIF name="EMPTYUPLOAD" --><li><b>El archivo subido parece estar vacío.</b></li>
                        <!-- TMPL_ELSIF name="OPNLINK" --><li><b>No se puede abrir <!-- TMPL_VAR NAME="OPNLINK" --> para lectura.<br />Por favor, verifique que existe</b></li>
                        <!-- TMPL_ELSIF name="OPNIMG" --><li><b>No se puede abrir <!-- TMPL_VAR NAME="OPNIMG" --> para lectura.<br />Por favor, verifique que existe</b></li>
                        <!-- TMPL_ELSIF name="DELERR" --><li><b>Delimitador de campo no reconocido o ausente.<br />Por favor, verifique que está usando ya sea una única oferta o etiqueta.</b></li>
                        <!-- TMPL_ELSIF name="UZIPFAIL" --><li><b><!-- TMPL_VAR name="UZIPFAIL" --> fall&oacute; <br />Por favor, verifique la integridad del archivo zip y vuelva a intentarlo. </b></li>
                        <!-- TMPL_ELSE --><li><b><!-- TMPL_VAR name ="CORERR" --> Ha ocurrido un error desconocido.<br />Por favor, revise el registro de errores para obtener más detalles. </b></li><!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                </div>
                <!-- /TMPL_IF -->
	        <form method="post" action="/cgi-bin/koha/tools/picture-upload.pl" enctype="multipart/form-data">
	            <fieldset class="brief">
			 <div class="hint"><b>NOTA:</b> Sólo formatos PNG, GIF, JPEG, XPM son permitidos.</div>
                        <ol class="radio">
                            <li class="radio">
                                <label for="zipfile"><input type="radio" id="zipfile" name="filetype" value="zip" checked="checked" /> archivo zip</label></li>
                                <li>
                                <label for="image">
								<!-- TMPL_IF EXPR="filetype eq 'image'" --><input type="radio" id="image" name="filetype" value="image" checked="checked" /><!-- TMPL_ELSE --><input type="radio" id="image" name="filetype" value="image" /><!-- /TMPL_IF -->
								 archivo imagen</label>
	                <ol>
                            <li>
                                <label for="uploadfile">Seleccione el archivo a subir: </label><input type="file" id="uploadfile" name="uploadfile" />
                                <!-- TMPL_IF EXPR="filetype eq 'image'" --><span id="cardnum"><!-- TMPL_ELSE --><span id="cardnum" style="display: none"><!-- /TMPL_IF --><label for="cardnumber">Ingrese el n&uacute;mero de carnet del socio: </label><input type="text" id="cardnumber" name="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" size="15" /></span>
                            </li>
    	                </ol>
					</li></ol>
	            </fieldset>
                    <fieldset class="action">
                        <input type="hidden" name="op" value="Upload" />
                        <input type="submit" value="Subir" class="submit">
						<a href="/cgi-bin/koha/tools/tools-home.pl" class="cancel">Cancelar</a>
                    </fieldset>
                </form>
	
            </div>	
<!-- /TMPL_IF -->
        </div>
    </div>
</div>
<div class="yui-b noprint">
    <!-- TMPL_INCLUDE NAME="tools-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
