<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Inicio &rsaquo; Herramientas</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo;Herramientas</div>

<div id="doc3">
<div id="bd">
	<div class="yui-gb">

<div class="yui-u first">
<dl>
    <!-- TMPL_IF NAME="CAN_user_tools_edit_news" -->
    <dt><a href="/cgi-bin/koha/tools/koha-news.pl">Noticias</a></dt>
    <dd>Escriba novedades para el OPAC y la interfaz administrativa</dd>
    <!-- /TMPL_IF -->
	
    <!-- TMPL_IF NAME="CAN_user_tools_label_creator" -->
    <dt><a href="/cgi-bin/koha/labels/label-home.pl">Label Creator</a></dt>
    <dd>Create printable labels and barcodes from catalog data</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_label_creator" -->
    <dt><a href="/cgi-bin/koha/labels/spinelabel-home.pl">Quick Spine Label Creator</a></dt>
    <dd>Enter a barcode to generate a printable spine label</dd>
    <div class="hint"><dd>For use with dedicated label printers</dd></div>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_edit_calendar" -->
    <dt><a href="/cgi-bin/koha/tools/holidays.pl">Calendario</a></dt>
    <dd>Defina los d&iacute;as en los que la biblioteca permanece cerrada.</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_moderate_comments" -->
    <dt><a href="/cgi-bin/koha/reviews/reviewswaiting.pl">Comentarios</a></dt>
	<dd>Moderar comentarios de socio</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_moderate_comments" --><!-- FIXME: Update here when Tag specific permission is created. -->
    <dt><a href="/cgi-bin/koha/tags/review.pl">Etiquetas</a></dt>
	<dd>Moderar pestañas de socio</dd>
    <!-- /TMPL_IF -->
	</dl>
</div>
<div class="yui-u">
	<dl>
    <!-- TMPL_IF NAME="CAN_user_tools_edit_notices" -->
    <dt><a href="/cgi-bin/koha/tools/letter.pl">Avisos</a></dt>
    <dd>Defina avisos (notificaciones impresas y por e-mail para reclamos, etc.)</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_edit_notice_status_triggers" -->
    <dt><a href="/cgi-bin/koha/tools/overduerules.pl">Disparadores de avisos de retraso/estado</a></dt>
    <dd>Establecer aviso o disparadores para items atrasados</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_view_system_logs" -->
	<dt><a href="/cgi-bin/koha/tools/viewlog.pl">Visor del log</a></dt>
    <dd>Revisar registros del sistema</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_inventory" -->
    <dt><a href="/cgi-bin/koha/tools/inventory.pl">Inventario/existencias</a></dt>
    <dd>Perform inventory (stocktaking) of your catalog</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_batch_edit_items" -->
    <dt><a href="/cgi-bin/koha/tools/batchitemedit.pl">Batch Edit Items</a></dt>
    <dd>Batch edit item records</dd>
    <dt><a href="/cgi-bin/koha/tools/viewitemdeletelist.pl">View Item Delete List</a></dt>
    <dd>View lists of items selected for batch delete</dd>
    <!-- /TMPL_IF -->

	</dl>
</div>
<div class="yui-u">
<dl>
    <!-- TMPL_IF NAME="CAN_user_tools_stage_marc_import" -->
    <dt><a href="/cgi-bin/koha/tools/stage-marc-import.pl">Registros preparados MARC para importar</a></dt>
    <dd>Subir registros MARC al dep&oacute;sito</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_manage_staged_marc" -->
    <dt><a href="/cgi-bin/koha/tools/manage-marc-import.pl">Administrar registros MARC preparados</a></dt>
    <dd>Administrar registros MARC preparados, incluyendo completar y revertir importaciones</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_export_catalog" -->
    <dt><a href="/cgi-bin/koha/tools/export.pl">Exportar un registro bibliogr&aacute;fico y de existencias</a></dt>
    <dd>Exportar datos bibliogr&aacute;fico y de existencias</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_import_patrons" -->
    <dt><a href="/cgi-bin/koha/tools/import_borrowers.pl">Importar socios</a></dt>
    <dd>Importar datos de socio</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_delete_anonymize_patrons" -->
    <dt><a href="/cgi-bin/koha/tools/cleanborrowers.pl">Socios (anonimizar, borrar en bloque)</a></dt>
    <dd>Eliminar usuarios antiguos y anonimizar historial de pr&eacute;stamos (borra historial de lectura del usuario)</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_batch_upload_patron_images" -->
    <dt><a href="/cgi-bin/koha/tools/picture-upload.pl">Subir imágenes de socios</a></dt>
	<dd>Subir imágenes de socios en lote o una a la vez</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_schedule_tasks" -->
    <dt><a href="/cgi-bin/koha/tools/scheduler.pl">Planificador de Tareas</a></dt>
    <dd>Tareas programadas para ser ejecutadas</dd>
    <!-- /TMPL_IF -->

    <dt><a href="/cgi-bin/koha/clubs_services/clubs_services.pl">Clubs & Services</a></dt>
    <dd>Create and Edit Clubs & Services</dd>

</dl>
</div>

</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
