<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Tools &rsaquo; View Item Delete List</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
<link type="text/css" rel="stylesheet" href="<!-- TMPL_VAR NAME="themelang" -->/css/addbiblio.css" />
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc"-->
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; View Item delete List</div>


<div id="doc3" class="yui-t2">

   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
    <h1>
        View Item Delete List
    </h1>
<!-- TMPL_IF NAME="list_id" -->
<form name="list_form" id="list_form" action="/cgi-bin/koha/tools/viewitemdeletelist.pl" method="post" enctype="multipart/form-data">
<input type="hidden" name="list_id" value="<!-- TMPL_VAR NAME="list_id" -->" />
<table>
<tr>
<th colspan=3 > Items in Delete List <!--TMPL_VAR NAME="list_id" --></th>
</tr>
<tr><th>C&oacute;digo de barras</th><th>Autor</th><th>T&iacute;tulo</th></tr>
<!--TMPL_LOOP NAME="items" -->
<tr>
<td><!-- TMPL_VAR NAME="barcode"--></td>
<td><!-- TMPL_VAR NAME="author"--></td>
<td><!-- TMPL_VAR NAME="title"--></td>
</tr>
<!-- /TMPL_LOOP -->
</table>


<fieldset class="action"
><input type=submit name="command" value="Confirm Delete Items">
<input type=submit name="command" value="Remove List">
<a class="refresh" href="/cgi-bin/koha/tools/viewitemdeletelist.pl">Select New List</a> <a class="cancel" href="/cgi-bin/koha/tools/tools-home.pl">Cancel</a>
</fieldset>
</form>


<!-- TMPL_ELSE -->
<!-- TMPL_IF NAME="action" -->
<h2><!-- TMPL_VAR NAME="action" --></h2>
<form name="select_form" id="select_form" action="/cgi-bin/koha/tools/viewitemdeletelist.pl" method="post" enctype="multipart/form-data">
<fieldset class="action">
<input type="submit" name="confirm"  value="Choose Another List" />
<a class="cancel" href="/cgi-bin/koha/tools/tools-home.pl">Return to Tools Menu</a>
</fieldset>
</form>
<!-- TMPL_ELSE -->
<h2>Select the List you want to view</h2>
<form name="select_form" id="select_form" action="/cgi-bin/koha/tools/viewitemdeletelist.pl" method="post" enctype="multipart/form-data">

<select name="list_id">
   <!-- TMPL_LOOP NAME="id_list"-->
   <option value="<!-- TMPL_VAR NAME="list_id" -->"><!-- TMPL_VAR NAME="list_id" --></option>
   <!-- /TMPL_LOOP -->
</select>
<fieldset class="action">
<input type="submit" name="confirm"  value="Proceed" />
<a class="cancel" href="/cgi-bin/koha/tools/tools-home.pl">Cancelar</a>
</fieldset>
</form>
<!-- /TMPL_IF -->

<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="tools-menu.inc" -->

</div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
