<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; About Koha</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

     $(document).ready(function() {
        $('#abouttabs > ul').tabs();
     });
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; About Koha</div>

<div id="doc3" class="yui-t7">
   
   <div id="bd">
    <div id="yui-main">
    <div class="yui-g">
            <h1>About Koha</h1>
    
    <div id="abouttabs" class="toptabs numbered">
        <ul>
        <li><a href="about.pl#about">Server Information</a></li>
        <li><a href="about.pl#perl">Perl modules</a></li>
        <li><a href="about.pl#licenses">Licenses</a></li>
        </ul>
        
        <div id="about">
            
        <table>
            <caption>Server information</caption>
            <tr><th scope="row">Koha version: </th><td><!-- TMPL_VAR ESCAPE="HTML" name="kohaVersion" --></td></tr>
            <tr><th scope="row">OS version ('uname -a'): </th><td><!-- TMPL_VAR ESCAPE="HTML" name="osVersion" --></td></tr>
            <tr><th scope="row">Perl interpreter: </th><td><!-- TMPL_VAR ESCAPE="HTML" name="perlPath" --></td></tr>
            <tr><th scope="row">Perl version: </th><td><!-- TMPL_VAR ESCAPE="HTML" name="perlVersion" --></td></tr>
            <tr><th scope="row">Perl @INC: </th><td>
                <!-- TMPL_LOOP name="perlIncPath" -->
                    <!-- TMPL_VAR ESCAPE="HTML" name="perlinc" --> <br />
                <!-- /TMPL_LOOP -->
            </td></tr>
            <tr><th scope="row">MySQL version: </th><td><!-- TMPL_VAR ESCAPE="HTML" name="mysqlVersion" --></td></tr>
            <tr><th scope="row">Apache version: </th><td><!-- TMPL_VAR ESCAPE="HTML" name="apacheVersion" --></td></tr>
            <tr><th scope="row">Zebra version: </th><td><!-- TMPL_VAR ESCAPE="HTML" name="zebraVersion" --></td></tr>
        </table>
        </div>
        <div id="perl">
            <table>
                <caption>Perl modules</caption>
                <tr>
                <!-- TMPL_LOOP name="components" -->
                    <th scope="row"><!-- TMPL_VAR NAME="name" --></th>
                    <td><!-- TMPL_VAR NAME="version" --></td>
                    <!-- TMPL_IF name="newrow" --></tr><!-- TMPL_UNLESS NAME="__last__" --><tr><!-- /TMPL_UNLESS --><!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </table>
        </div>
        <div id="environment">
          <dl>
            <TMPL_LOOP NAME="environment">
              <dt><TMPL_VAR NAME="variable"></dt>
              <dd><TMPL_VAR NAME="value"></dd>
            </TMPL_LOOP>
          </dl>
        </div>
        <div id="licenses">
            <h2>Koha</h2>
            <p>
            <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">Koha is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.</a>
            </p>
            <h2>YUI</h2>
            <p>
            <a href="http://developer.yahoo.com/auth/license.txt">BSD License</a>
            </p> 
            <h2>Famfamfam iconset</h2>
              <ul>
                <li><a href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam Site</a></li>
                <li><a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a></li>
              </ul>
            <h2>The Bridge Material Type Icon Set</h2>
              <ul>
                <li><a href="http://apps.carleton.edu/campus/library/bridge_icons/">Bridge Material Type Icons Project</a></li>
                <li>The Bridge Material Type Icon Set is licensed under a
                  <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License</a>
                  by the Bridge Consortium of Carleton College and St. Olaf College.</li>
              </ul>
        </div>
    </div>
</div></div></div>
<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
